Repository aws/eks-anywhere, pull requests merged in 2021-10, with the labels that each got.

#334 add process for generating log text analyzers based on collectors present
  Makefile
  pkg/constants/constants.go
  pkg/diagnostics/analyzer_types.go
  pkg/diagnostics/analyzers.go
  pkg/diagnostics/collectors.go
  pkg/diagnostics/interfaces.go
  pkg/diagnostics/interfaces/mocks/diagnostics.go
  pkg/diagnostics/runsupportbundle.go
  pkg/diagnostics/runsupportbundle_test.go
Labels: approved, lgtm, size/L

#364 Make docs links relative
  docs/content/en/_index.html
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/getting-started/production-environment/_index.md
  docs/content/en/docs/overview/_index.md
  docs/content/en/docs/reference/vsphere/customize-ovas.md
  docs/content/en/docs/reference/vsphere/vsphere-ovas.md
  docs/content/en/docs/reference/vsphere/vsphere-prereq.md
  docs/content/en/docs/tasks/cluster/cluster-flux.md
  docs/content/en/docs/tasks/troubleshoot/_troubleshooting.md
  docs/content/en/docs/tasks/workload/ingress.md
  docs/content/en/docs/tasks/workload/loadbalance/kubevip/arp.md
  docs/content/en/docs/tasks/workload/loadbalance/kubevip/bgp.md
  docs/content/en/docs/tasks/workload/loadbalance/metallb.md
  docs/content/en/docs/tasks/workload/test-app.md
  docs/layouts/shortcodes/content.html
Labels: documentation, approved, lgtm, size/M

#363 Add centralized method to fetch Bundles for a particular Cluster
  controllers/controllers/resource/fetcher.go
  internal/test/cluster.go
  pkg/cluster/fetch.go
  pkg/cluster/fetch_test.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/L

#366 Use control plane and etcd machine configs when building template in controller
  controllers/controllers/resource/fetcher.go
  controllers/controllers/resource/mocks/resource.go
  controllers/controllers/resource/reconciler.go
  controllers/controllers/resource/reconciler_test.go
  controllers/controllers/resource/template.go
  controllers/controllers/resource/testdata/etcdadmcluster.yaml
  controllers/main.go
  go.sum
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  test/framework/flux.go
Labels: approved, lgtm, size/L

#370 Add ".svc" to noProxy list
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/S

#368 Improve error message when parsing invalid spec
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/testdata/cluster_definition_at_the_end.yaml
  pkg/api/v1alpha1/testdata/incorrect_indentation.yaml
  pkg/api/v1alpha1/testdata/invalid_format.yaml
  pkg/api/v1alpha1/testdata/invalid_key.yaml
  pkg/api/v1alpha1/testdata/invalid_spec_field.yaml
Labels: approved, lgtm, size/L

#371 Add CIS benchmark scan info to docs
  docs/content/en/docs/reference/security/_index.md
  docs/content/en/docs/reference/security/kube-bench.md
Labels: documentation, approved, lgtm, size/M

#374 Bump up trigger file for staging bundle release
  release/triggers/bundle-release/development/BUNDLE_NUMBER
Labels: approved, lgtm, size/XS

#346 Add registry mirror and proxy support for etcd
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
Labels: approved, lgtm, size/M

#377 Bump up containerd mod to secure version
  go.sum
  release/go.mod
  release/go.sum
Labels: approved, lgtm, size/M

#375 Bump up trigger file for prod bundle release
  release/triggers/bundle-release/production/BUNDLE_NUMBER
Labels: approved, lgtm, size/XS

#380 Add kubedistro images
  cmd/eksctl-anywhere/cmd/importimages.go
  pkg/cluster/spec.go
Labels: approved, lgtm, size/S

#381 add log messages when collecting support bundle
  pkg/diagnostics/runsupportbundle.go
Labels: approved, lgtm, size/XS

#382 Remove aws provider
  Makefile
  pkg/dependencies/factory.go
  pkg/providers/aws/aws.go
  pkg/providers/aws/aws_test.go
  pkg/providers/aws/config/aws_user_config.yaml
  pkg/providers/aws/config/template-cp.yaml
  pkg/providers/aws/config/template-md.yaml
  pkg/providers/aws/creds.go
  pkg/providers/aws/mocks/client.go
  pkg/providers/aws/testdata/deployment_default_aws_cp_expected.yaml
  pkg/providers/aws/testdata/deployment_default_aws_md_expected.yaml
  pkg/providers/aws/testdata/deployment_full_oidc_aws_cp_expected.yaml
  pkg/providers/aws/testdata/deployment_full_oidc_aws_md_expected.yaml
  pkg/providers/aws/testdata/deployment_with_ami_aws_cp_expected.yaml
  pkg/providers/aws/testdata/deployment_with_ami_aws_md_expected.yaml
  pkg/providers/aws/testdata/deployment_with_ami_region_aws_cp_expected.yaml
  pkg/providers/aws/testdata/deployment_with_ami_region_aws_md_expected.yaml
  pkg/providers/factory/providerfactory.go
  pkg/providers/factory/providerfactory_test.go
Labels: approved, lgtm, size/XXL

#376 Add upgrade wrapper for `clusterctl` and skeleton for `clusterapi` upgrader
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
  pkg/clusterapi/upgrader.go
  pkg/constants/constants.go
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/providers/docker/docker.go
  pkg/providers/factory/providerfactory.go
  pkg/providers/factory/providerfactory_test.go
  pkg/providers/vsphere/vsphere.go
  pkg/types/upgrades.go
Labels: approved, lgtm, size/L

#378 Version with metadata for all component bundles
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/cmd/release.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_capa.go
  release/pkg/assets_capd.go
  release/pkg/assets_capi.go
  release/pkg/assets_cilium.go
  release/pkg/assets_eksa_tools.go
  release/pkg/assets_etcdadm_bootstrap.go
  release/pkg/assets_etcdadm_controller.go
  release/pkg/assets_flux.go
  release/pkg/assets_vsphere.go
  release/pkg/generate_spec.go
  release/pkg/versions.go
Labels: approved, lgtm, size/L

#394 Change path to build-tooling repo before running git log
  release/pkg/prepare_release.go
  release/pkg/versions.go
Labels: approved, lgtm, size/XS

#379 Update docs to point to latest OVAs
  docs/content/en/docs/reference/artifacts.md
Labels: documentation, approved, lgtm, size/S

#395 Fix VsphereMachineConfig Webhook validation on worker nodes
  docs/content/en/docs/tasks/cluster/cluster-flux.md
  pkg/api/v1alpha1/vspheremachineconfig_webhook.go
  pkg/api/v1alpha1/vspheremachineconfig_webhook_test.go
Labels: documentation, approved, lgtm, size/L

#397 Generate version field for certmanager bundle
  release/pkg/assets_capa.go
  release/pkg/assets_capd.go
  release/pkg/assets_capi.go
  release/pkg/assets_certmanager.go
  release/pkg/assets_etcdadm_bootstrap.go
  release/pkg/assets_etcdadm_controller.go
  release/pkg/assets_vsphere.go
Labels: approved, lgtm, size/S

#398 Add CAPI Upgrader to dependency factory
  pkg/clusterapi/mocks/capiclient.go
  pkg/clusterapi/upgrader.go
  pkg/clusterapi/upgrader_test.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
Labels: approved, lgtm, size/M

#365 Collect CRD descriptions from cluster
  cmd/eksctl-anywhere/cmd/supportbundle.go
  pkg/constants/constants.go
  pkg/diagnostics/collector_types.go
  pkg/diagnostics/collectors.go
  pkg/diagnostics/config/diagnostic-collector-rbac.yaml
  pkg/diagnostics/runsupportbundle.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/L

#523 output logs to cw for e2e tests
  internal/pkg/ssm/command.go
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
Labels: approved, lgtm, size/M

#528 Add clusterSpec.Equal method that replaces DeepEqual to compare spec
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/clustermanager/cluster_manager.go
Labels: approved, lgtm, size/XXL

#529 quick fix for integ test job name not matching cw log group
  internal/test/e2e/run.go
Labels: approved, lgtm, size/XS

#530 set default analyzer and collector factories for default support bund…
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
Labels: approved, lgtm, size/XS

#510 Add target for cross platform binaries embedding bundles manifest
  Makefile
  pkg/cluster/config/releases.yaml
Labels: approved, lgtm, size/S
