Repository aws/eks-anywhere, pull requests merged in 2021-11, with the labels that each got.

#492 Update core components upgrade documentation
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
Labels: documentation, approved, lgtm, size/XS

#537 Validate crs
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/cluster/spec.go
  pkg/cluster/testdata/cluster_1_19.yaml
  pkg/executables/kubectl.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/validations/createvalidations/cluster.go
  pkg/validations/createvalidations/cluster_test.go
  pkg/validations/createvalidations/gitops.go
  pkg/validations/createvalidations/gitops_test.go
  pkg/validations/createvalidations/identityproviders.go
  pkg/validations/createvalidations/identityproviders_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/createvalidations/testdata/empty_get_gitops_response.json
  pkg/validations/createvalidations/testdata/empty_get_identity_provider_response.json
  pkg/validations/createvalidations/testdata/empty_get_vspheredatacenter_response.json
  pkg/validations/createvalidations/testdata/gitops_name_exists.json
  pkg/validations/createvalidations/testdata/identity_provider_name_exists.json
  pkg/validations/createvalidations/testdata/vspheredatacenter_name_exists.json
  pkg/validations/kubectl.go
  pkg/validations/mocks/kubectl.go
Labels: approved, lgtm, size/XL

#541 increase s3 object retention to one week
  internal/test/e2e/cleanup.go
Labels: approved, lgtm, size/XS

#519 Put management cluster name in cluster crd
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path-management.yaml
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path-workload.yaml
  pkg/addonmanager/addonclients/testdata/cluster-config-user-provided-path.yaml
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermarshaller/clustermarshaller_test.go
  pkg/clustermarshaller/testdata/expected_marshalled_cluster.yaml
  pkg/providers/vsphere/vsphere_test.go
  pkg/validations/createvalidations/gitops_test.go
  pkg/validations/createvalidations/identityproviders_test.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#538 specify only base log group for SSM cw output
  internal/pkg/ssm/command.go
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
Labels: approved, lgtm, size/S

#527 Update machine template if bundle changes
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/task/task.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#543 Add gitops validation for workload cluster
  pkg/addonmanager/addonclients/fluxaddonclient.go
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path.yaml
  pkg/api/v1alpha1/gitopsconfig_types.go
  pkg/executables/flux.go
  pkg/validations/createvalidations/gitops.go
  pkg/validations/createvalidations/gitops_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/createvalidations/testdata/eksa_cluster_exists.json
  pkg/validations/createvalidations/testdata/management_gitops_config.json
Labels: approved, lgtm, size/L

#545 Fix cluster name used during upgrade for CAPI objects
  pkg/clustermanager/cluster_manager.go
  pkg/executables/kubectl.go
  pkg/providers/docker/docker.go
  pkg/providers/docker/mocks/client.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/M

#532 Force update resource sets
  Makefile
  pkg/clusterapi/mocks/client.go
  pkg/clusterapi/resourceset_manager.go
  pkg/clusterapi/resourceset_manager_test.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/dependencies/factory.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/executables/testdata/kubectl_clusterresourceset.json
  pkg/executables/testdata/kubectl_configmap.json
  pkg/executables/testdata/kubectl_secret.json
  pkg/providers/docker/docker.go
  pkg/providers/factory/providerfactory.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XL

#549 Rename clusterChanged method in unit tests
  pkg/clustermanager/cluster_manager_test.go
Labels: approved, lgtm, size/S

#546 Patch `vsphere-cloud-controller-manager` daemonset image
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#547 Add the ability for providers to trigger upgrades based on spec changes
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/task/task.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#548 Support bundle for mgmt cluster
  pkg/diagnostics/analyzers.go
  pkg/diagnostics/collectors.go
  pkg/diagnostics/diagnostic_bundle.go
  pkg/diagnostics/diagnostic_bundle_test.go
  pkg/diagnostics/interfaces.go
  pkg/diagnostics/interfaces/mocks/diagnostics.go
Labels: approved, lgtm, size/L

#553 Pass cert-manager version to clusterctl
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/executables/config/clusterctl.yaml
  pkg/executables/testdata/clusterctl_expected.yaml
Labels: approved, lgtm, size/XS

#544 Add commands to list OVAs and download artifacts used by EKS Anywhere
  .gitignore
  cmd/eksctl-anywhere/cmd/download.go
  cmd/eksctl-anywhere/cmd/downloadartifacts.go
  cmd/eksctl-anywhere/cmd/list.go
  cmd/eksctl-anywhere/cmd/listovas.go
  pkg/cluster/spec.go
Labels: approved, lgtm, size/L

#555 Remove feature toggle for core component upgrades
  pkg/features/features.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/S

#557 Update flux bootstrap cmd ssh key algorithm to use "ecdsa"
  pkg/executables/flux.go
  pkg/executables/flux_test.go
Labels: approved, lgtm, size/S

#558 Refactor git tag assignment for EKS-A cluster controller project
  release/pkg/assets_cluster_controller.go
Labels: approved, lgtm, size/S

#468 Add command to generate a list of images used by eks-anywhere
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/importimages.go
  cmd/eksctl-anywhere/cmd/listimages.go
Labels: approved, lgtm, size/M

#560 Update EKS-D module version to consume API updates
  go.mod
  go.sum
  release/go.mod
  release/go.sum
Labels: approved, lgtm, size/S

#540 Clean up registry mirror docs
  docs/content/en/docs/reference/clusterspec/privateregistry.md
  docs/content/en/docs/reference/clusterspec/registrymirror.md
Labels: documentation, approved, lgtm, size/L

#554 Generate cert-manager changediff from capi upgrader
  pkg/clusterapi/upgrader.go
  pkg/clusterapi/upgrader_test.go
Labels: approved, lgtm, size/M

#562 log SSM command ID in e2e test run outcome
  internal/pkg/ssm/command.go
  internal/test/e2e/oidc.go
  internal/test/e2e/registryMirror.go
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
Labels: approved, lgtm, size/M

#564 Add bundles version check for etcd and workload template update
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/M

#535 Update the change log for v0.6.0
  docs/content/en/docs/reference/changelog.md
Labels: documentation, approved, lgtm, size/M

#567 Validate machineconfig uniqueness when ref name changes during upgrade
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#559 Clean up EKSA resources
  cmd/eksctl-anywhere/cmd/deletecluster.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/kubectl.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/vsphere.go
  pkg/workflows/delete.go
  pkg/workflows/delete_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
Labels: approved, lgtm, size/L

#536 Added list of firewall ports for EKS-A
  docs/content/en/docs/reference/ports.md
Labels: documentation, approved, lgtm, size/M

#533 Install external etcd providers on management cluster
  Makefile
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/clusterapi/installer.go
  pkg/clusterapi/manager.go
  pkg/clusterapi/mocks/capiclient.go
  pkg/clusterapi/upgrader.go
  pkg/clusterapi/upgrader_test.go
  pkg/constants/constants.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/diagnostics/analyzers.go
  pkg/diagnostics/collectors.go
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/executables/kubectl.go
  pkg/task/task.go
  pkg/workflows/create.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/XL

#568 Bump up files for staging bundle release
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#574 Add build metadata to component versions in prod bundle releases
  release/pkg/versions.go
Labels: approved, lgtm, size/XS

#575 Make Flux clusterConfigPath mutable during upgrade through controller
  pkg/api/v1alpha1/gitopsconfig_webhook.go
  pkg/api/v1alpha1/gitopsconfig_webhook_test.go
Labels: approved, lgtm, size/M

#578 Update doc in GitOps related sections for 0.6.0 release
  docs/content/en/docs/reference/clusterspec/gitops.md
  docs/content/en/docs/tasks/cluster/cluster-flux.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
Labels: documentation, approved, lgtm, size/M

#572 Add unit tests for capi installer and kubectl get provider
  pkg/clusterapi/installer_test.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/M

#580 Removed extra heading from Whats New page
  docs/content/en/docs/reference/changelog.md
Labels: documentation, approved, lgtm, size/XS

#583 Bump up versions for staging eks-a release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, size/XS

#571 Bump up files for prod bundle release
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#586 Bump up versions for prod eks-a release
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#587 Update config.toml
  docs/config.toml
Labels: documentation, approved, lgtm, size/XS

#588 Update config.toml (#587)
  docs/config.toml
Labels: documentation, approved, lgtm, size/XS

#589 Update OVA links in docs
  docs/content/en/docs/reference/artifacts.md
Labels: documentation, approved, lgtm, size/S

#591 Add note in changelog about upgrades for flux managed clsuters
  docs/content/en/docs/reference/changelog.md
Labels: documentation, approved, lgtm, size/XS

#592 Add more manual steps in doc to support flux upgrade
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
Labels: documentation, approved, lgtm, size/M

#582 Mount extra volume when necessary
  pkg/executables/executables.go
Labels: approved, lgtm, size/S, do-not-merge/invalid-commit-message

#584 Add steps for backing up and restoring etcd
  docs/content/en/docs/tasks/cluster/etcd-backup-restore.md
Labels: documentation, approved, lgtm, size/L

#595 Revert "Make Flux clusterConfigPath mutable during upgrade through controller"
  pkg/api/v1alpha1/gitopsconfig_webhook.go
  pkg/api/v1alpha1/gitopsconfig_webhook_test.go
Labels: approved, lgtm, size/M

#596 Set AWS_REGION only when there is no env var set
  release/Makefile
Labels: approved, lgtm, size/XS

#599 Doc change : Add correct url for LICENCE
  docs/content/en/docs/community/contributing.md
Labels: documentation, approved, lgtm, ok-to-test, size/XS

#579 Multiclusters E2E test framework
  internal/pkg/api/cluster.go
  test/e2e/flux_test.go
  test/e2e/oidc_test.go
  test/e2e/proxy_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/simpleflow_test.go
  test/e2e/stackedetcd_test.go
  test/e2e/upgrade_test.go
  test/e2e/vsphere_autoimport_test.go
  test/e2e/workload_clusters_test.go
  test/framework/cluster.go
  test/framework/commands.go
  test/framework/conformance.go
  test/framework/flux.go
  test/framework/git.go
  test/framework/multicluster.go
  test/framework/oidc.go
  test/framework/proxy.go
  test/framework/registryMirror.go
  test/framework/vsphere.go
  test/framework/workload.go
Labels: approved, lgtm, size/L

#604 Update eks-a tag in install guide to 0.6.0
  docs/content/en/docs/getting-started/install/_index.md
Labels: documentation, approved, lgtm, size/XS

#607 Remove unreleased section for v0.6.0 branch
  docs/content/en/docs/reference/changelog.md
Labels: documentation, approved, lgtm, size/XS

#610 Remove/refactor Docker script invocation in buildspecs
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  release/buildspecs/bundle-release.yml
  release/buildspecs/dev-release.yml
  release/buildspecs/eks-a-release.yml
Labels: approved, lgtm, size/S

#612 Start Docker daemon inside setup script
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  cmd/integration_test/build/script/setup.sh
Labels: approved, lgtm, size/S

#590 Update OVA links in docs
  docs/content/en/docs/reference/artifacts.md
Labels: documentation, approved, lgtm, size/S

#614 Source AWS profile setup script in buildspec
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  cmd/integration_test/build/script/setup_profile.sh
  cmd/integration_test/build/script/start_docker.sh
Labels: approved, lgtm, size/M

#616 Workload cluster tls cert fix for iam-auth kubeconfig
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/kubectl.go
Labels: approved, lgtm, size/S

#603 Update eks-a tag in install guide to 0.6.0
  docs/content/en/docs/getting-started/install/_index.md
Labels: documentation, approved, lgtm, size/XS

#611 Fix broken troubleshooting links
  docs/content/en/docs/tasks/troubleshoot/_troubleshooting.md
Labels: documentation, approved, lgtm, size/S

#573 First draft of management cluster getting started guide
  docs/content/en/docs/getting-started/production-environment/_index.md
Labels: documentation, approved, lgtm, size/L

#606 Add diagnostic collection workflow task
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/task/task.go
  pkg/task/task_test.go
  pkg/workflows/create.go
  pkg/workflows/delete.go
  pkg/workflows/delete_test.go
  pkg/workflows/diagnostics.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#615 Small refactor to make cluster.Spec smaller and more reusable
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/downloadartifacts.go
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  cmd/eksctl-anywhere/cmd/importimages.go
  cmd/eksctl-anywhere/cmd/listovas.go
  cmd/eksctl-anywhere/cmd/options.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  internal/test/cluster.go
  pkg/cluster/manifest_reader.go
  pkg/cluster/spec.go
  pkg/cluster/spec_test.go
  pkg/files/reader.go
  pkg/files/reader_test.go
  pkg/files/testdata/file.yaml
Labels: approved, lgtm, size/L

#619 Update gitops clusterConfigPath definition
  docs/content/en/docs/reference/clusterspec/gitops.md
  pkg/addonmanager/addonclients/fluxaddonclient.go
  pkg/addonmanager/addonclients/fluxaddonclient_test.go
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path-management.yaml
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path-workload.yaml
  pkg/api/v1alpha1/gitopsconfig_types.go
  pkg/cluster/spec.go
  pkg/clustermarshaller/testdata/expected_marshalled_cluster.yaml
  pkg/executables/flux.go
  pkg/executables/flux_test.go
  pkg/validations/createvalidations/gitops.go
  pkg/validations/createvalidations/gitops_test.go
Labels: documentation, approved, lgtm, size/L

#620 Only check flux clusterConfigPath exists when bootstrapping management cluster
  pkg/addonmanager/addonclients/fluxaddonclient.go
Labels: approved, lgtm, size/S

#622 Fix flux e2e tests
  test/framework/flux.go
Labels: approved, lgtm, size/XS

#624 Print object key before attempting to download
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/pkg/prepare_release.go
Labels: approved, lgtm, size/S

#556 Identity provider aws iam auth e2e tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  internal/pkg/api/awsiam.go
  internal/pkg/api/cluster.go
  internal/pkg/awsiam/download.go
  internal/pkg/conformance/download.go
  internal/pkg/files/files.go
  internal/test/e2e/awsiam.go
  internal/test/e2e/setup.go
  pkg/cluster/spec.go
  test/e2e/awsiam_test.go
  test/framework/awsiam.go
  test/framework/cluster.go
  test/framework/conformance.go
  test/framework/executables.go
Labels: approved, lgtm, size/XL

#623 Automate Git repo file structure changes during upgrade
  controllers/controllers/resource/fetcher.go
  pkg/addonmanager/addonclients/files.go
  pkg/addonmanager/addonclients/files_test.go
  pkg/addonmanager/addonclients/fluxaddonclient.go
  pkg/addonmanager/addonclients/fluxaddonclient_test.go
  pkg/cluster/fetch.go
  pkg/cluster/spec.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/validations/upgradevalidations/immutableFields.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#628 Use controlplane endpoint IPs outside DHCP ranges for e2e
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#627 Error handling for govc retries
  pkg/executables/govc.go
Labels: approved, lgtm, size/M

#633 Refactor varname re-use in Sprintf call
  cmd/eksctl-anywhere/cmd/deletecluster.go
  internal/test/e2e/setup.go
  pkg/crypto/keygen.go
  pkg/executables/executables.go
  release/pkg/file_reader.go
Labels: approved, lgtm, size/S

#638 Upgrade to Flux version v0.23
  pkg/addonmanager/addonclients/fluxaddonclient.go
  pkg/addonmanager/addonclients/mocks/fluxaddonclient.go
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path-management.yaml
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path-workload.yaml
  pkg/addonmanager/addonclients/testdata/cluster-config-user-provided-path.yaml
  pkg/addonmanager/addonclients/upgrader.go
  pkg/addonmanager/addonclients/upgrader_test.go
  pkg/api/v1alpha1/awsdatacenterconfig_types.go
  pkg/api/v1alpha1/awsiamconfig_types.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/dockerdatacenterconfig_types.go
  pkg/api/v1alpha1/gitopsconfig_types.go
  pkg/api/v1alpha1/oidcconfig_types.go
  pkg/api/v1alpha1/vspheredatacenterconfig_types.go
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/clients/flux/client.go
  pkg/clustermarshaller/testdata/expected_marshalled_cluster.yaml
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/L

#642 Remove log file create for api-server audit logs
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/testdata/capd_valid_full_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/no_machinetemplate_update_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_cp_expected.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/original_077.yaml
Labels: approved, lgtm, size/M

#641 Add bottlerocket-admin image in import-images
  pkg/cluster/spec.go
Labels: approved, lgtm, size/XS

#621 First draft of management cluster getting started guide (#573)
  docs/content/en/docs/getting-started/production-environment/_index.md
Labels: documentation, approved, lgtm, size/L

#644 Error handling for govc retries (#627)
  pkg/executables/govc.go
Labels: approved, lgtm, size/M

#630 Add diagnostic collection workflow task (#606)
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/task/task.go
  pkg/task/task_test.go
  pkg/workflows/create.go
  pkg/workflows/delete.go
  pkg/workflows/delete_test.go
  pkg/workflows/diagnostics.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#645 Update NewClusterGenerate not use ConvertConfigToConfigGenerateStruct
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_types.go
Labels: approved, lgtm, size/S

#618 Get previous minor release for core components e2e tests
  pkg/semver/semver.go
  pkg/semver/semver_test.go
  test/framework/releaseVersions.go
Labels: approved, lgtm, size/L

#639 fix issue with using EKSA_REGISTRY_MIRROR_CA env var
  pkg/api/v1alpha1/cluster.go
  pkg/crypto/tls.go
  pkg/crypto/tls_test.go
Labels: approved, lgtm, size/M

#649 Add registry mirror env var and import-images bug to 0.6 patch release
  pkg/api/v1alpha1/cluster.go
  pkg/cluster/spec.go
  pkg/crypto/tls.go
  pkg/crypto/tls_test.go
Labels: approved, lgtm, size/M

#650 Get binary for specific version of EKS-A release in E2E tests
  internal/pkg/files/files.go
  pkg/semver/semver.go
  test/framework/releaseVersions.go
Labels: approved, lgtm, size/M

#658 Move footer to note on integrations page
  docs/content/en/docs/tasks/cluster/cluster-integrations.md
Labels: documentation, approved, lgtm, size/XS

#659 Use ExtraArg functions to add service-account-issuer for api-server
  pkg/clusterapi/extraargs.go
  pkg/clusterapi/extraargs_test.go
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/docker.go
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/M

#664 Bump up tag file for cluster controller base image
  controllers/EKS_DISTRO_MINIMAL_BASE_TAG_FILE
Labels: approved, lgtm, size/XS

#643 add cherry-pick-pull from upstream along with docs for backporting
  README.md
  docs/developer/cherry-picks.md
  hack/cherry_pick_pull.sh
Labels: documentation, approved, lgtm, size/L

#656 Pass datacenter to govc calls for importing templates
  pkg/executables/govc.go
  pkg/executables/govc_test.go
Labels: approved, lgtm, size/S

#646 Automate Git repo file structure changes during upgrade (#623)
  controllers/controllers/resource/fetcher.go
  docs/content/en/docs/reference/clusterspec/gitops.md
  pkg/addonmanager/addonclients/files.go
  pkg/addonmanager/addonclients/files_test.go
  pkg/addonmanager/addonclients/fluxaddonclient.go
  pkg/addonmanager/addonclients/fluxaddonclient_test.go
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path-management.yaml
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path-workload.yaml
  pkg/api/v1alpha1/gitopsconfig_types.go
  pkg/cluster/fetch.go
  pkg/cluster/spec.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/clustermarshaller/testdata/expected_marshalled_cluster.yaml
  pkg/executables/flux.go
  pkg/executables/flux_test.go
  pkg/validations/createvalidations/gitops.go
  pkg/validations/createvalidations/gitops_test.go
  pkg/validations/upgradevalidations/immutableFields.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: documentation, approved, lgtm, size/XL

#665 Bump up tag file for cluster controller base image
  controllers/EKS_DISTRO_MINIMAL_BASE_TAG_FILE
Labels: approved, lgtm, size/XS

#666 Bump up Go mods to keep Dependabot happy
  release/go.mod
  release/go.sum
Labels: approved, lgtm, size/L

#667 Bump up Go mods to keep Dependabot happy
  release/go.mod
  release/go.sum
Labels: approved, lgtm, size/L

#661 Pass in source branch information to release process
  release/Makefile
  release/cmd/release.go
  release/pkg/file_reader.go
  release/pkg/generate_spec.go
  release/pkg/prepare_release.go
  release/scripts/bundle-release.sh
  release/scripts/eks-a-release.sh
  release/scripts/release.sh
Labels: approved, lgtm, size/L

#668 Backport release changes to release-0.6 branch
  release/Makefile
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/cmd/release.go
  release/pkg/assets_capa.go
  release/pkg/assets_capd.go
  release/pkg/assets_capi.go
  release/pkg/assets_certmanager.go
  release/pkg/assets_eksa_tools.go
  release/pkg/assets_etcdadm_bootstrap.go
  release/pkg/assets_etcdadm_controller.go
  release/pkg/assets_flux.go
  release/pkg/assets_vsphere.go
  release/pkg/file_reader.go
  release/pkg/generate_spec.go
  release/pkg/prepare_release.go
  release/pkg/versions.go
  release/scripts/bundle-release.sh
  release/scripts/eks-a-release.sh
  release/scripts/release.sh
Labels: approved, lgtm, size/L

#654 Avoid generating the same ips for e2e
  internal/test/e2e/ipmanager.go
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
  internal/test/e2e/vsphere.go
Labels: approved, lgtm, size/M

#669 Bump up trigger files for staging EKS-A release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#671 Bump up trigger files for staging EKS-A release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#653 add diagnostic collectors based on datacenter type
  pkg/diagnostics/collectors.go
  pkg/diagnostics/diagnostic_bundle.go
  pkg/diagnostics/diagnostic_bundle_test.go
  pkg/diagnostics/interfaces.go
  pkg/diagnostics/interfaces/mocks/diagnostics.go
Labels: approved, lgtm, size/M

#672 Remove newline from release triggers
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#670 Enabling GOVC_PERSIST_SESSION for all govc commands
  pkg/executables/govc.go
  pkg/executables/govc_test.go
Labels: approved, lgtm, size/M

#675 fix flux e2e tests (#622)
  test/framework/flux.go
Labels: approved, lgtm, size/XS

#652 Eksa cli version option
  pkg/semver/semver.go
  test/e2e/flux_test.go
  test/e2e/simpleflow_test.go
  test/e2e/upgrade_test.go
  test/framework/cluster.go
  test/framework/commands.go
  test/framework/eksaVersions.go
  test/framework/releaseVersions.go
  test/framework/workload.go
Labels: approved, lgtm, ok-to-test, size/L

#677 add vsphere crd collectors to diagnostic bundle collection
  pkg/diagnostics/collectors.go
Labels: approved, lgtm, ok-to-test, size/S

#632 When auto-importing the template, if the default 'Templates' folder d…
  pkg/executables/govc.go
  pkg/executables/govc_test.go
Labels: approved, lgtm, size/M

#678 always use the bundle associated with the built branch for integratio…
  Makefile
  scripts/get_bundle.sh
Labels: approved, lgtm, size/S

#679 always use the bundle associated with the built branch for integratio…
  Makefile
  scripts/get_bundle.sh
Labels: approved, lgtm, size/S

#681 add bundle fetch to codebuild spec for release branch
  cmd/integration_test/build/buildspecs/build-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#651 Pass datacenter to govc calls for importing templates
  pkg/executables/govc.go
  pkg/executables/govc_test.go
Labels: approved, lgtm, size/S

#683 Patches
  pkg/executables/govc.go
  pkg/executables/govc_test.go
Labels: approved, lgtm, size/M

#685 Change the private network cidr
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#688 Fix conformance tests
  test/e2e/conformance_test.go
Labels: approved, lgtm, size/S

#689 Fix typo in build spec
  cmd/integration_test/build/buildspecs/build-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#691 Required test upload mods release060
  internal/test/e2e/setup.go
Labels: approved, lgtm, size/S

#673 Bump up trigger files for prod EKS-A release
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#692 Update Flux e2e cofig default setting
  test/framework/flux.go
Labels: approved, lgtm, size/XS

#690 Required test upload mods
  internal/test/e2e/setup.go
Labels: approved, lgtm, size/S

#682 Add dry-run mode for local bundle manifest generation
  release/Makefile
  release/README.md
  release/cmd/release.go
  release/pkg/clients.go
  release/pkg/file_reader.go
  release/pkg/generate_spec.go
  release/pkg/prepare_release.go
  release/runbook.md
  release/scripts/release.sh
  release/scripts/setup.sh
Labels: approved, lgtm, size/L

#687 enable arm builds of controller and cli
  Makefile
  controllers/build/create_binaries.sh
  controllers/docker/linux/eks-anywhere-cluster-controller/Dockerfile
Labels: approved, lgtm, size/S

#697 Revert "Required test upload mods"
  internal/test/e2e/setup.go
Labels: approved, lgtm, size/S

#699 Fix filepath for checking presence of local EKS-A components
  config/manifest/eksa-components.yaml
  internal/test/e2e/setup.go
Labels: approved, lgtm, size/S

#703 Remove flux manual steps in upgrade doc
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
Labels: documentation, approved, lgtm, size/S

#701 Remove flux manual steps in upgrade doc
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
Labels: documentation, approved, lgtm, size/M

#708 Fix typos in docs
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/content/en/docs/reference/clusterspec/gitops.md
  docs/content/en/docs/reference/clusterspec/proxy.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
  docs/content/en/docs/reference/security/_index.md
  docs/content/en/docs/reference/vsphere/vsphere-prereq.md
  docs/content/en/docs/tasks/cluster/cluster-flux.md
  docs/content/en/docs/tasks/troubleshoot/_troubleshooting.md
  docs/content/en/docs/tasks/workload/loadbalance/kubevip/arp.md
  docs/content/en/docs/tasks/workload/loadbalance/kubevip/bgp.md
Labels: documentation, approved, lgtm, size/M

#709 Fix docs typos
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/content/en/docs/reference/clusterspec/gitops.md
  docs/content/en/docs/reference/clusterspec/proxy.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
  docs/content/en/docs/reference/security/_index.md
  docs/content/en/docs/reference/vsphere/vsphere-prereq.md
  docs/content/en/docs/tasks/cluster/cluster-flux.md
  docs/content/en/docs/tasks/troubleshoot/_troubleshooting.md
  docs/content/en/docs/tasks/workload/loadbalance/kubevip/arp.md
  docs/content/en/docs/tasks/workload/loadbalance/kubevip/bgp.md
Labels: documentation, approved, lgtm, size/M

#705 Reuse executable container
  cmd/eks-a-tool/cmd/validatecluster.go
  cmd/eks-a-tool/cmd/versions.go
  cmd/eks-a-tool/cmd/vspherermvms.go
  cmd/eksctl-anywhere/cmd/cleanup.go
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  cmd/eksctl-anywhere/cmd/options.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  internal/test/e2e/vsphere.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/executables/awscli.go
  pkg/executables/builder.go
  pkg/executables/clusterawsadm.go
  pkg/executables/clusterctl.go
  pkg/executables/docker.go
  pkg/executables/dockercontainer.go
  pkg/executables/dockerlinux.go
  pkg/executables/executables.go
  pkg/executables/flux.go
  pkg/executables/govc.go
  pkg/executables/kind.go
  pkg/executables/kubectl.go
  pkg/executables/mocks/executables.go
  pkg/executables/sonobuoy.go
  pkg/executables/troubleshoot.go
  pkg/types/closer.go
  test/framework/executables.go
Labels: approved, lgtm, size/XL

#712 Cleanup govc session
  cmd/eksctl-anywhere/cmd/cleanup.go
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/dependencies/factory.go
  pkg/executables/govc.go
  pkg/executables/govc_test.go
Labels: approved, lgtm, size/M

#704 Add changelog for #657
  docs/content/en/docs/reference/changelog.md
Labels: documentation, approved, lgtm, size/XS

#695 use bundle override for delete cluster calls
  cmd/eksctl-anywhere/cmd/deletecluster.go
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#702 add kindnetd as a networking option for capd
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/cluster_types.go
  pkg/cluster/spec.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/networking/kindnetd.go
  pkg/networking/kindnetd_test.go
  pkg/networking/testdata/expected_kindnetd_manifest.yaml
  pkg/networking/testdata/kindnetd_manifest.yaml
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_kindnetd.go
  release/pkg/generate_spec.go
Labels: approved, lgtm, size/XL

#715 use bundle override for delete cluster calls (#695)
  cmd/eksctl-anywhere/cmd/deletecluster.go
  test/framework/e2e.go
Labels: approved, lgtm, size/XS

#717 Add arch folders for building cross platform binary
  Makefile
  cmd/integration_test/build/script/upload_artifacts.sh
  release/pkg/assets_cli.go
Labels: approved, lgtm, size/M

#719 ensure e2e delete commands on 06 are using the correct invocation of …
  test/framework/e2e.go
Labels: approved, lgtm, size/XS

#716 Make capi import aliases generic across versions
  controllers/controllers/resource/fetcher.go
  controllers/controllers/resource/fetcher_test.go
  controllers/controllers/resource/reconciler_test.go
  controllers/controllers/resource/template.go
  controllers/main.go
  go.sum
  pkg/clusterapi/resourceset.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/validations/createvalidations/cluster_test.go
  pkg/validations/upgradevalidations/cluster_test.go
  pkg/validations/upgradevalidations/preflightvalidations.go
Labels: approved, lgtm, size/L

#718 Fix shasum generation in artifacts upload script
  Makefile
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  cmd/integration_test/build/script/upload_artifacts.sh
  scripts/e2e_test_docker.sh
Labels: approved, lgtm, size/M

#722 Add checks for KCP and MD replicas to ensure cluster creation is complete
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/delete.go
  pkg/workflows/delete_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/M

#724 Add checks for KCP and MD replicas to ensure cluster creation is complete (#722)
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/delete.go
  pkg/workflows/delete_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/M

#723 Adding Feature gate for Bare metal provider
  pkg/features/features.go
Labels: approved, lgtm, size/XS

#698 Use previous release semver as tag if image digests have not changed
  go.mod
  go.sum
  release/.gitignore
  release/Makefile
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/release_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/cmd/release.go
  release/go.mod
  release/go.sum
  release/pkg/assets_bottlerocket_bootstrap.go
  release/pkg/assets_capa.go
  release/pkg/assets_capd.go
  release/pkg/assets_capi.go
  release/pkg/assets_capv.go
  release/pkg/assets_certmanager.go
  release/pkg/assets_cilium.go
  release/pkg/assets_cluster_controller.go
  release/pkg/assets_cri_tools.go
  release/pkg/assets_diagnostic_collector.go
  release/pkg/assets_eksa_tools.go
  release/pkg/assets_eksd.go
  release/pkg/assets_etcdadm.go
  release/pkg/assets_etcdadm_bootstrap.go
  release/pkg/assets_etcdadm_controller.go
  release/pkg/assets_flux.go
  release/pkg/assets_kindnetd.go
  release/pkg/assets_kube_rbac_proxy.go
  release/pkg/assets_kube_vip.go
  release/pkg/assets_local_path_provisioner.go
  release/pkg/assets_vsphere_cloud_provider.go
  release/pkg/assets_vsphere_csi.go
  release/pkg/clients.go
  release/pkg/file_reader.go
  release/pkg/generate_spec.go
  release/pkg/prepare_release.go
  scripts/eksa_components_override.sh
Labels: approved, lgtm, size/XXL

#725 Fix go mod pseudoversions and remove cyclic dependency
  go.sum
  release/go.mod
  release/go.sum
Labels: approved, lgtm, size/S
