Repository aws/eks-anywhere, pull requests merged in 2021-09, with the labels that each got.

#115 Added an intro to install doc
  docs/content/en/docs/getting-started/install/_index.md
Labels: approved, lgtm

#117 Clarify proxy server network access and fix broken link
  docs/content/en/docs/concepts/clusterworkflow.md
Labels: approved, lgtm

#120 fix upgrade command in docs
  docs/content/en/docs/getting-started/install/_index.md
Labels: approved, lgtm

#121 Fix typo in doc
  docs/content/en/docs/tasks/cluster/cluster-overview.md
Labels: approved, lgtm

#122 Install page clarify where eks-a runs
  docs/content/en/docs/getting-started/install/_index.md
Labels: approved, lgtm

#119 Use markdown lists
  docs/content/en/docs/tasks/workload/loadbalance/kubevip/arp.md
  docs/content/en/docs/tasks/workload/loadbalance/kubevip/bgp.md
  docs/content/en/docs/tasks/workload/loadbalance/metallb.md
Labels: approved, lgtm

#125 Make social preview cards work for all pages.
  docs/config.toml
  docs/content/en/background.png
  docs/static/images/social-feature.png
Labels: approved, lgtm

#124 upgrade troulbeshoot.sh to latest version
  go.mod
  go.sum
  pkg/support/collectors.go
Labels: approved, lgtm

#126 Change connector wording per docs team
  docs/content/en/docs/tasks/cluster/cluster-connect.md
Labels: approved, lgtm

#130 Revert troubleshoot
  go.mod
  go.sum
  pkg/support/collectors.go
Labels: approved, lgtm

#134 Update brew link
  docs/content/en/docs/getting-started/install/_index.md
Labels: approved, lgtm, docs

#137 Add Github issue and PR templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, lgtm

#139 Remove year from license verbiage
  OWNERS
  cmd/integration_test/build/script/set_profile.sh
  release/scripts/bundle-release.sh
  release/scripts/eks-a-release.sh
  release/scripts/release.sh
  release/scripts/setup-aws-config.sh
  scripts/attribution_helpers.sh
  scripts/make_attribution.sh
Labels: approved, lgtm, kind/cleanup

#140 Dropping the CLA line
  docs/content/en/docs/community/contributing.md
Labels: approved, lgtm

#135 Rename eks-a folder to eksctl-anywhere
  Makefile
  cmd/eksctl-anywhere/cmd/constants.go
  cmd/eksctl-anywhere/cmd/create.go
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/delete.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/generate.go
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
  cmd/eksctl-anywhere/cmd/root.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  cmd/eksctl-anywhere/cmd/upgrade.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  cmd/eksctl-anywhere/cmd/validations.go
  cmd/eksctl-anywhere/cmd/version.go
  cmd/eksctl-anywhere/main.go
  scripts/make_attribution.sh
Labels: approved, lgtm

#142 Add Go report card to README
  README.md
  controllers/controllers/cluster_controller.go
  pkg/addonmanager/addonclients/fluxaddonclient.go
  pkg/executables/govc.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  release/pkg/file_reader.go
Labels: approved, lgtm

#148 fix typo in docs
  docs/content/en/docs/concepts/eksafeatures.md
Labels: approved, lgtm, ok-to-test

#151 Use default config in docs
  docs/content/en/docs/getting-started/production-environment/_index.md
Labels: approved, lgtm

#145 Add description for eksctl CLI
  docs/content/en/docs/reference/eksctl/_index.md
Labels: approved, lgtm

#152 Minor doc fixes
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
Labels: approved, lgtm

#155 Use source ECR registry name for regex
  release/pkg/prepare_release.go
Labels: approved, lgtm

#156 add build tooling repo link to the readme
  README.md
Labels: approved, lgtm

#138 Flux e2e delete repo
  internal/test/e2e/setup.go
  pkg/executables/kubectl.go
  pkg/git/git.go
  pkg/git/gogithub/gogithub.go
  pkg/git/gogithub/gogithub_test.go
  pkg/git/gogithub/mocks/client.go
  pkg/git/mocks/git.go
  pkg/git/providers/github/github.go
  pkg/git/providers/github/mocks/github.go
  test/framework/e2e.go
  test/framework/flux.go
Labels: approved, lgtm, e2e

#161 Enabling Flux e2e test
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/flux_test.go
Labels: approved, lgtm, e2e

#162 Add org name to kube-rbac-proxy override
  release/pkg/assets_kube_rbac_proxy.go
Labels: approved, lgtm

#168 Updated cluster integrations table.
  docs/content/en/docs/tasks/cluster/cluster-integrations.md
Labels: approved, lgtm

#172 Decrease log verbosity and increase retry wait during e2e tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  internal/pkg/ssm/command.go
Labels: approved, lgtm

#173 Small fix to cluster integrations table.
  docs/content/en/docs/tasks/cluster/cluster-integrations.md
Labels: approved, lgtm

#174 Add eksa namespace when getting vspheremachinetemplate
  pkg/executables/kubectl.go
  test/framework/flux.go
Labels: approved, lgtm

#179 Mark cidrBlocks as required
  docs/content/en/docs/reference/clusterspec/vsphere.md
Labels: approved, lgtm

#181 Fix Flux e2e tests
  test/framework/flux.go
Labels: approved, lgtm

#185 Add provider options to help output
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
Labels: approved, lgtm

#186 Added CloudFormation, deleted Cloudwatch from table
  docs/content/en/docs/concepts/eksafeatures.md
Labels: approved, lgtm

#184 Update wording on integrations page
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/content/en/docs/tasks/cluster/cluster-integrations.md
Labels: approved, lgtm

#193 removing unused make targets and legacy code
  Makefile
  cmd/integration_test/cmd/dockertest.go
  cmd/integration_test/cmd/run.go
  cmd/integration_test/cmd/utils.go
  cmd/integration_test/cmd/vspheretest.go
Labels: approved, lgtm

#194 Check for failed conformance tests
  test/framework/conformance.go
Labels: approved, lgtm

#178 Try out github action labeler
  .github/labeler.yml
  .github/workflows/label.yml
Labels: approved, lgtm

#159 Shuffle around doc content
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/ovas.md
Labels: approved, lgtm, docs

#197 initial setup of troubleshoot executable
  pkg/executables/builder.go
  pkg/executables/troubleshoot.go
Labels: approved, lgtm

#136 Add github action to run linter
  .github/workflows/golangci-lint.yml
Labels: approved, lgtm

#200 Fix labeler regex
  .github/labeler.yml
Labels: approved, lgtm

#201 Bump golanci-lint version to v1.42.1
  .github/workflows/golangci-lint.yml
  pkg/cluster/default_config.go
  pkg/executables/govc.go
Labels: approved, lgtm

#203 fix typo in troubleshoot executable
  pkg/executables/builder.go
  pkg/executables/troubleshoot.go
Labels: approved, lgtm

#202 Use linter version from action manifest
  Makefile
Labels: approved, lgtm

#177 Make namespace configurable for anywhere resources
  controllers/controllers/resource/fetcher.go
  internal/pkg/api/cluster.go
  internal/pkg/api/gitops.go
  internal/pkg/api/vsphere.go
  pkg/api/v1alpha1/gitopsconfig.go
  pkg/api/v1alpha1/gitopsconfig_test.go
  pkg/api/v1alpha1/oidcconfig.go
  pkg/api/v1alpha1/oidcconfig_test.go
  pkg/bootstrapper/bootstrapper.go
  pkg/bootstrapper/bootstrapper_test.go
  pkg/bootstrapper/mocks/client.go
  pkg/cluster/spec.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/providers/aws/aws.go
  pkg/providers/aws/aws_test.go
  pkg/providers/aws/mocks/client.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/testdata/cluster_bottlerocket_external_etcd.yaml
  pkg/providers/vsphere/testdata/cluster_full_oidc.yaml
  pkg/providers/vsphere/testdata/cluster_main.yaml
  pkg/providers/vsphere/testdata/cluster_main_121.yaml
  pkg/providers/vsphere/testdata/cluster_minimal.yaml
  pkg/providers/vsphere/testdata/cluster_minimal_oidc.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/validations/upgradevalidations/immutableFields.go
  pkg/validations/upgradevalidations/mocks/upgradevalidations.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  pkg/validations/upgradevalidations/upgradevalidations.go
  test/e2e/simpleflow_test.go
  test/e2e/upgrade_test.go
  test/framework/e2e.go
Labels: approved, lgtm

#206 Fix VSphere e2e test
  test/e2e/simpleflow_test.go
Labels: approved, lgtm

#208 Point docs to proper artifacts links
  docs/content/en/docs/reference/ovas.md
Labels: approved, lgtm

#210 Bumping max EC2 count for e2e tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/README.md
Labels: approved, lgtm, e2e

#192 Add extra args to improve CIS Benchmark results
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/cluster/embed_config.go
  pkg/providers/common/common.go
  pkg/providers/common/config/audit-policy.yaml
  pkg/providers/docker/config/template.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/testdata/capd_valid_full_oidc_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_expected.yaml
  pkg/providers/docker/testdata/no_machinetemplate_update_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_expected.yaml
  pkg/providers/vsphere/config/template.yaml
  pkg/providers/vsphere/testdata/expected_results_121.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc.yaml
  pkg/providers/vsphere/testdata/expected_results_main.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc.yaml
  pkg/providers/vsphere/testdata/original_077.yaml
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm

#216 added PII avoidance statement to support bundle docs
  docs/content/en/docs/tasks/troubleshoot/_supportbundle.md
Labels: approved, lgtm

#217 Fix ova docs
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/ovas.md
Labels: approved, lgtm

#199 Updated images and added svg copies
  docs/content/en/docs/overview/_index.md
  docs/static/images/eks-a_create_cluster.png
  docs/static/images/eks-a_create_cluster.svg
  docs/static/images/eks-a_delete_cluster.png
  docs/static/images/eks-a_delete_cluster.svg
  docs/static/images/eksa-continue.png
  docs/static/images/eksa-continue.svg
  docs/static/images/eksa-delete.png
  docs/static/images/eksa-delete.svg
  docs/static/images/eksa-start.png
  docs/static/images/eksa-start.svg
Labels: approved, lgtm, docs

#222 Fix tests with example.com
  pkg/executables/govc_test.go
Labels: approved, lgtm

#211 Deprecate overrideClusterSpecFile option from cluster config
  CHANGELOG.md
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/testdata/testClusterSpec.yaml
Labels: approved, lgtm

#220 Fix issue with labeling workflow
  .github/workflows/label.yml
  cmd/integration_test/build/script/upload_artifacts.sh
  docs/content/en/docs/concepts/clusterworkflow.md
  release/scripts/release.sh
Labels: approved, lgtm

#213 Set log-level debug for docker and direct logs to journald
  internal/pkg/ec2/create.go
Labels: approved, lgtm

#230 Fix vSphere requirements
  docs/content/en/docs/reference/vsphere/vsphere-prereq.md
Labels: documentation, approved, lgtm

#231 Print sonobuoy data
  internal/pkg/conformance/runtests.go
  pkg/executables/sonobuoy.go
  test/framework/conformance.go
Labels: approved, lgtm

#218 Fix Bottlerocket filepaths in template
  pkg/providers/vsphere/config/template.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd.yaml
Labels: approved, lgtm

#190 Add command that imports images to a private registry
  cmd/eksctl-anywhere/cmd/importimages.go
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  pkg/cluster/spec.go
  pkg/executables/docker.go
  pkg/executables/docker_test.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_eksa_tools.go
Labels: approved, lgtm

#236 Moved controlplane count and externaletcd count logs to cluster spec file
  pkg/api/v1alpha1/cluster.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm

#245 include ListRemotes call in retry logic
  pkg/git/gogit/gogit.go
Labels: approved, lgtm

#247 Add flag to override bundles manifest on create and upgrade commands
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/options.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/cluster/spec.go
  pkg/cluster/spec_test.go
Labels: approved, lgtm

#248 Update create cluster command usage with -f flag
  cmd/eksctl-anywhere/cmd/createcluster.go
Labels: approved, lgtm

#235 Clarify controlPlaneConfiguration.endpoint.host requirements
  docs/content/en/docs/reference/clusterspec/vsphere.md
Labels: documentation, approved, lgtm

#234 Add instructions on how to customize imported ubuntu ova
  docs/content/en/docs/reference/vsphere/customize-ovas.md
Labels: documentation, approved, lgtm

#250 Add README and jobs for kube-bench
  test/kube-bench/README.md
  test/kube-bench/jobs/controlplane/kube-bench-default.yaml
  test/kube-bench/jobs/controlplane/kube-bench-stacked-etcd.yaml
  test/kube-bench/jobs/worker/kube-bench-node.yaml
Labels: approved, lgtm, size/L

#251 Add more badges to README
  README.md
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/pkg/assets_eksa_tools.go
Labels: approved, lgtm, size/S

#237 Support bundle refactor
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  go.mod
  go.sum
  pkg/executables/troubleshoot.go
  pkg/executables/troubleshoot_test.go
  pkg/support/analyzer_types.go
  pkg/support/analyzers.go
  pkg/support/collector_types.go
  pkg/support/collectors.go
  pkg/support/interfaces.go
  pkg/support/interfaces/mocks/support.go
  pkg/support/runsupportbundle.go
  pkg/support/runsupportbundle_test.go
  pkg/support/types.go
Labels: approved, lgtm, size/XXL

#259 Update packages
  docs/package-lock.json
  docs/package.json
Labels: documentation, approved, lgtm, size/L

#253 Add vSphere 6.7U3 to troubleshooting
  docs/content/en/docs/tasks/troubleshoot/_troubleshooting.md
Labels: documentation, approved, lgtm, size/XS

#262 address comments on support bundle refactor
  pkg/support/runsupportbundle.go
Labels: approved, lgtm, size/S

#260 Allow existing EKS-A releases to be updated
  release/cmd/release.go
  release/pkg/prepare_release.go
Labels: approved, lgtm, size/S

#278 Update bottlerocket shasum
  docs/content/en/docs/reference/artifacts.md
Labels: documentation, approved, lgtm, size/XS

#252 Exclude fields like `Status` and `creationTimestamp`
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path.yaml
  pkg/addonmanager/addonclients/testdata/cluster-config-user-provided-path.yaml
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/gitopsconfig_types.go
  pkg/api/v1alpha1/object_meta.go
  pkg/api/v1alpha1/oidcconfig_types.go
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/clustermarshaller/clustermarshaller.go
  release/pkg/prepare_release.go
Labels: approved, lgtm, size/M

#270 add diagnostic collector to eks-a bundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_diagnostic_collector.go
  release/pkg/assets_eksa_tools.go
Labels: approved, lgtm, ok-to-test, size/L

#280 Fix collector release
  release/pkg/assets_eksa_tools.go
  release/pkg/generate_spec.go
Labels: approved, lgtm, ok-to-test, size/S

#284 Add back vsphere vm cleanup for failed tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, ok-to-test, size/XS

#277 Update contributing guidelines
  CONTRIBUTING.md
Labels: approved, lgtm, ok-to-test, size/M

#288 Fix wording for contributing guide
  CONTRIBUTING.md
Labels: approved, lgtm, needs-ok-to-test, size/S

#289 Fix postbuild command
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, ok-to-test, size/XS

#281 Add troubleshooting information for conflicting ips
  docs/content/en/docs/tasks/troubleshoot/_troubleshooting.md
Labels: documentation, approved, lgtm, ok-to-test, size/S

#286 Ubuntu Copy-From-Host collectors
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/support/collector_types.go
  pkg/support/collectors.go
  pkg/support/interfaces.go
  pkg/support/interfaces/mocks/support.go
  pkg/support/runsupportbundle.go
  pkg/support/runsupportbundle_test.go
  test/framework/flux.go
Labels: approved, lgtm, ok-to-test, size/L

#298 add writer to diag bundle
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
Labels: approved, lgtm, size/XS

#255 Move eks-a controller build
  Makefile
  build/lib/buildkit.sh
  build/lib/buildkit_check.sh
  controllers/EKS_DISTRO_MINIMAL_BASE_TAG_FILE
  controllers/build/create_binaries.sh
  controllers/build/create_tarballs.sh
  controllers/build/upload_artifacts.sh
  controllers/buildspec.yml
  controllers/config/docker-ecr-config.json
  controllers/docker/linux/eks-anywhere-cluster-controller/Dockerfile
  release/pkg/assets_cluster_controller.go
  scripts/common.sh
  scripts/setup.sh
Labels: approved, lgtm, ok-to-test, size/L

#292 OWNERS file clean up
  OWNERS
Labels: approved, size/XS

#293 Remove reviewers that are approvers
  OWNERS
Labels: approved, size/S

#215 Fix kubebuilder download
  Makefile
Labels: approved

#273 Add CNCF certification badge
  README.md
  docs/static/certified-kubernetes-1.20-color.svg
  docs/static/certified-kubernetes-1.21-color.svg
Labels: documentation, approved, size/XS

#302 Fix upgrade doc: upgrade control plane before workers
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
Labels: documentation, approved, lgtm, size/XS

#294 Update Sonobuoy release
  internal/pkg/conformance/download.go
Labels: approved, lgtm, size/XS

#272 Add link to troubleshooting guide
  docs/content/en/docs/reference/troubleshoot.md
Labels: documentation, approved, size/XS

#228 Change directory used by ssm commands
  internal/pkg/ssm/command.go
Labels: approved, lgtm, size/XS

#283 Exclude fields `status` and `creationTimestamp` from data center and machine configs
  pkg/addonmanager/addonclients/fluxaddonclient_test.go
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path.yaml
  pkg/addonmanager/addonclients/testdata/cluster-config-user-provided-path.yaml
  pkg/api/v1alpha1/awsdatacenterconfig_types.go
  pkg/api/v1alpha1/dockerdatacenterconfig_types.go
  pkg/api/v1alpha1/vspheredatacenterconfig_types.go
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, ok-to-test, size/M

#160 Fixed typos and grammar issues
  CONTRIBUTING.md
  README.md
  controllers/README.md
  docs/README.md
  docs/content/en/docs/_index.md
  docs/content/en/docs/community/_index.md
  docs/content/en/docs/community/code_of_conduct.md
  docs/content/en/docs/community/contributing.md
  docs/content/en/docs/community/governance.md
  docs/content/en/docs/concepts/_index.md
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/content/en/docs/concepts/eksafeatures.md
  docs/content/en/docs/getting-started/_index.md
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/_index.md
  docs/content/en/docs/overview/_index.md
  docs/content/en/docs/reference/clusterspec/etcd.md
  docs/content/en/docs/reference/clusterspec/gitops.md
  docs/content/en/docs/reference/clusterspec/oidc.md
  docs/content/en/docs/reference/clusterspec/proxy.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
  docs/content/en/docs/reference/eksctl/_index.md
  docs/content/en/docs/reference/faq/_index.md
  docs/content/en/docs/reference/ovas.md
  docs/content/en/docs/reference/security/_index.md
  docs/content/en/docs/reference/support/_index.md
  docs/content/en/docs/reference/vsphere/user-permissions.md
  docs/content/en/docs/reference/vsphere/vsphere-ovas.md
  docs/content/en/docs/reference/vsphere/vsphere-prereq.md
  docs/content/en/docs/tasks/cluster/cluster-connect.md
  docs/content/en/docs/tasks/cluster/cluster-delete.md
  docs/content/en/docs/tasks/cluster/cluster-flux.md
  docs/content/en/docs/tasks/cluster/cluster-overview.md
  docs/content/en/docs/tasks/cluster/cluster-scale.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
  docs/content/en/docs/tasks/cluster/cluster-verify.md
  docs/content/en/docs/tasks/troubleshoot/_supportbundle.md
  docs/content/en/docs/tasks/troubleshoot/_troubleshooting.md
  docs/content/en/docs/tasks/workload/ingress.md
  docs/content/en/docs/tasks/workload/loadbalance/kubevip/arp.md
  docs/content/en/docs/tasks/workload/test-app.md
  docs/developer/runbook.md
  release/runbook.md
Labels: documentation, approved, docs, size/XL

#307 Revert "Fixed typos and grammar issues"
  CONTRIBUTING.md
  README.md
  controllers/README.md
  docs/README.md
  docs/content/en/docs/_index.md
  docs/content/en/docs/community/_index.md
  docs/content/en/docs/community/code_of_conduct.md
  docs/content/en/docs/community/contributing.md
  docs/content/en/docs/community/governance.md
  docs/content/en/docs/concepts/_index.md
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/content/en/docs/concepts/eksafeatures.md
  docs/content/en/docs/getting-started/_index.md
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/_index.md
  docs/content/en/docs/overview/_index.md
  docs/content/en/docs/reference/clusterspec/etcd.md
  docs/content/en/docs/reference/clusterspec/gitops.md
  docs/content/en/docs/reference/clusterspec/oidc.md
  docs/content/en/docs/reference/clusterspec/proxy.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
  docs/content/en/docs/reference/eksctl/_index.md
  docs/content/en/docs/reference/faq/_index.md
  docs/content/en/docs/reference/ovas.md
  docs/content/en/docs/reference/security/_index.md
  docs/content/en/docs/reference/support/_index.md
  docs/content/en/docs/reference/vsphere/user-permissions.md
  docs/content/en/docs/reference/vsphere/vsphere-ovas.md
  docs/content/en/docs/reference/vsphere/vsphere-prereq.md
  docs/content/en/docs/tasks/cluster/cluster-connect.md
  docs/content/en/docs/tasks/cluster/cluster-delete.md
  docs/content/en/docs/tasks/cluster/cluster-flux.md
  docs/content/en/docs/tasks/cluster/cluster-overview.md
  docs/content/en/docs/tasks/cluster/cluster-scale.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
  docs/content/en/docs/tasks/cluster/cluster-verify.md
  docs/content/en/docs/tasks/troubleshoot/_supportbundle.md
  docs/content/en/docs/tasks/troubleshoot/_troubleshooting.md
  docs/content/en/docs/tasks/workload/ingress.md
  docs/content/en/docs/tasks/workload/loadbalance/kubevip/arp.md
  docs/content/en/docs/tasks/workload/test-app.md
  docs/developer/runbook.md
  release/runbook.md
Labels: documentation, approved, lgtm, size/XL

#290 Add links to docs in markdowns under root of repo
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  docs/Makefile
  docs/content/en/docs/community/contributing.md
Labels: documentation, approved, lgtm, size/L

#212 Conformance tests for regular users
  Makefile
  test/framework/e2e.go
  test/framework/vsphere.go
Labels: approved, lgtm

#309 Add badge for 1.20 conformance
  README.md
Labels: approved, lgtm, size/XS

#303 Fix Namespace for MachineHealthCheck Objects
  pkg/providers/vsphere/config/machine-health-check-template.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/M

#296 Add core component upgrade design doc
  designs/component-upgrades.md
Labels: approved, lgtm, size/L

#335 Add eric to owners
  OWNERS
Labels: approved, lgtm, size/XS

#336 Fix controller nil pointer error when cluster externalEtcdConfiguration not specified
  controllers/controllers/resource/fetcher.go
  controllers/controllers/resource/fetcher_test.go
Labels: approved, lgtm, size/S

#333 Add retries for govc preflight validations
  pkg/executables/govc.go
  pkg/executables/govc_test.go
Labels: approved, lgtm, size/L

#339 Remove project path from cluster-controller buildspec
  controllers/buildspec.yml
Labels: approved, lgtm, size/XS

#297 Add e2e test for proxy config
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  internal/pkg/api/cluster.go
  test/e2e/README.md
  test/e2e/proxy_test.go
  test/framework/e2e.go
  test/framework/proxy.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#332 Clean up docker containers/volumes after command execution
  pkg/executables/executables.go
Labels: approved, lgtm, size/M

#343 Exclude Control Plane Endpoint IP from DHCP
  docs/content/en/docs/reference/clusterspec/vsphere.md
  docs/content/en/docs/reference/vsphere/vsphere-prereq.md
Labels: documentation, approved, lgtm, size/S

#308 Use local bundle release override when changing spec
  Makefile
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  cmd/integration_test/cmd/run.go
  config/manifest/eksa-components.yaml
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
  scripts/e2e_test_docker.sh
  scripts/eksa_components_override.sh
  test/framework/e2e.go
Labels: approved, lgtm, area/e2e, size/L

#337 Dependency factory
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/clients/flux/client.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/dependencies/testdata/cluster_vsphere.yaml
  pkg/executables/builder.go
  pkg/providers/factory/providerfactory.go
  pkg/providers/factory/providerfactory_test.go
Labels: approved, lgtm, size/XL

#356 Fix controller fetch cluster log
  controllers/controllers/resource/fetcher.go
Labels: approved, lgtm, size/XS

#354 Rename supportbundle package as diagnostics and fix path
  Makefile
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  pkg/dependencies/factory.go
  pkg/diagnostics/analyzer_types.go
  pkg/diagnostics/analyzers.go
  pkg/diagnostics/collector_types.go
  pkg/diagnostics/collectors.go
  pkg/diagnostics/interfaces.go
  pkg/diagnostics/interfaces/mocks/support.go
  pkg/diagnostics/runsupportbundle.go
  pkg/diagnostics/runsupportbundle_test.go
  pkg/diagnostics/testdata/support-bundle-test1.yaml
  pkg/diagnostics/testdata/support-bundle-test2.yaml
  pkg/diagnostics/types.go
Labels: approved, lgtm, size/L

#358 Remove call to export GOPROXY in Makefile
  Makefile
Labels: approved, lgtm, size/XS

#342 Package for feature toggles
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/features/mutexmap.go
  pkg/features/mutexmap_test.go
Labels: approved, lgtm, size/L

#360 Bump up go mods to mitigate vulnerability
  go.mod
  go.sum
Labels: approved, lgtm, size/S

#304 Stackedetcd e2e
  test/e2e/externaletcd_test.go
  test/e2e/stackedetcd_test.go
  test/e2e/upgrade_test.go
Labels: approved, lgtm, size/L

#338 Assigned instanceID as the test name for e2e jobs
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  internal/test/e2e/setup.go
  test/framework/e2e.go
Labels: approved, lgtm, size/XS
