Repository aws/eks-anywhere, pull requests merged in 2021-12, with the labels that each got.

#728 Fix dev release bundle manifest url generation
  release/pkg/generate_spec.go
Labels: approved, lgtm, size/XS

#729 Backport v sphere collectors to06 release branch
  pkg/diagnostics/collectors.go
  pkg/diagnostics/diagnostic_bundle.go
  pkg/diagnostics/diagnostic_bundle_test.go
  pkg/diagnostics/interfaces.go
  pkg/diagnostics/interfaces/mocks/diagnostics.go
Labels: approved, lgtm, size/M

#731 Add more logging to dev release process
  pkg/cluster/spec.go
  release/go.mod
  release/go.sum
  release/pkg/clients.go
  release/pkg/generate_spec.go
Labels: approved, lgtm, size/M

#732 Handle images not present in bundle manifest
  release/pkg/generate_spec.go
Labels: approved, lgtm, size/M

#734 Use longer wait time when waiting for control plane to be ready after move
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
Labels: approved, lgtm, size/XS

#710 #696 Refactor cluster controller builds
  Makefile
  controllers/build/create_binaries.sh
Labels: approved, lgtm, ok-to-test, size/L

#733 Avoid redundant method invocations during release
  release/cmd/release.go
  release/pkg/assets_bottlerocket_bootstrap.go
  release/pkg/assets_capa.go
  release/pkg/assets_capd.go
  release/pkg/assets_capi.go
  release/pkg/assets_certmanager.go
  release/pkg/assets_cilium.go
  release/pkg/assets_cli.go
  release/pkg/assets_eksa_tools.go
  release/pkg/assets_eksd.go
  release/pkg/assets_etcdadm_bootstrap.go
  release/pkg/assets_etcdadm_controller.go
  release/pkg/assets_flux.go
  release/pkg/assets_kindnetd.go
  release/pkg/assets_vsphere.go
  release/pkg/clients.go
  release/pkg/file_reader.go
  release/pkg/generate_spec.go
  release/pkg/prepare_release.go
Labels: approved, lgtm, size/L

#721 Initial tinkerbell provider skeleton
  pkg/api/v1alpha1/tinkerbelldatacenterconfig.go
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_types.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/constants/constants.go
  pkg/providers/tinkerbell/config/machine-health-check-template.yaml
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/config/template-md.yaml
  pkg/providers/tinkerbell/tinkerbell.go
Labels: approved, lgtm, size/XL, provider/tinkerbell

#738 Make sure taints feature gate works for management clusters
  pkg/validations/createvalidations/preflightvalidations.go
Labels: approved, lgtm, size/S

#741 Make sure IP is unique in e2e tests
  test/framework/vsphere.go
Labels: approved, lgtm, size/XS

#748 Add git tags to EKS-A cluster controller and kind image options
  release/pkg/assets_bottlerocket_bootstrap.go
  release/pkg/assets_cluster_controller.go
  release/pkg/assets_eksd.go
  release/pkg/file_reader.go
  release/pkg/generate_spec.go
Labels: approved, lgtm, size/M

#749 Make sure directory exists before creating file
  release/pkg/file_reader.go
  release/pkg/generate_spec.go
  release/pkg/prepare_release.go
Labels: approved, lgtm, size/S

#755 Use longer wait time when waiting for control plane to be ready (#734)
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
Labels: approved, lgtm, size/XS

#752 Use correct repository path when deleting workload cluster
  pkg/addonmanager/addonclients/fluxaddonclient.go
  pkg/addonmanager/addonclients/fluxaddonclient_test.go
Labels: approved, lgtm, size/M

#753 Assign bundle version based on branch artifact was built from
  release/pkg/artifacts_types.go
  release/pkg/assets_bottlerocket_bootstrap.go
  release/pkg/assets_capa.go
  release/pkg/assets_capd.go
  release/pkg/assets_capi.go
  release/pkg/assets_capv.go
  release/pkg/assets_certmanager.go
  release/pkg/assets_cilium.go
  release/pkg/assets_cluster_controller.go
  release/pkg/assets_cri_tools.go
  release/pkg/assets_diagnostic_collector.go
  release/pkg/assets_eksa_tools.go
  release/pkg/assets_eksd.go
  release/pkg/assets_etcdadm.go
  release/pkg/assets_etcdadm_bootstrap.go
  release/pkg/assets_etcdadm_controller.go
  release/pkg/assets_flux.go
  release/pkg/assets_kindnetd.go
  release/pkg/assets_kube_rbac_proxy.go
  release/pkg/assets_kube_vip.go
  release/pkg/assets_local_path_provisioner.go
  release/pkg/assets_vsphere.go
  release/pkg/assets_vsphere_cloud_provider.go
  release/pkg/assets_vsphere_csi.go
  release/pkg/file_reader.go
  release/pkg/file_reader_test.go
  release/pkg/generate_spec.go
  release/pkg/prepare_release.go
  release/pkg/versions.go
Labels: approved, lgtm, size/XL

#759 Add support for secure cipher suites with external etcd
  docs/content/en/docs/reference/changelog.md
  pkg/clusterapi/extraargs.go
  pkg/clusterapi/extraargs_test.go
  pkg/crypto/tls.go
  pkg/crypto/tls_test.go
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/testdata/capd_valid_full_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_pod_iam_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_taints_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_cp_expected.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/vsphere.go
Labels: documentation, approved, lgtm, size/M

#758 add `eks-a-test-tool` for debugging integ tests 🐛
  test/e2e/tools/eks-anywhere-test-tool/Makefile
  test/e2e/tools/eks-anywhere-test-tool/README.md
  test/e2e/tools/eks-anywhere-test-tool/cmd/e2e.go
  test/e2e/tools/eks-anywhere-test-tool/cmd/fetch.go
  test/e2e/tools/eks-anywhere-test-tool/cmd/fetchartifacts.go
  test/e2e/tools/eks-anywhere-test-tool/cmd/fetchlogs.go
  test/e2e/tools/eks-anywhere-test-tool/cmd/root.go
  test/e2e/tools/eks-anywhere-test-tool/go.mod
  test/e2e/tools/eks-anywhere-test-tool/go.sum
  test/e2e/tools/eks-anywhere-test-tool/main.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/artifacts/artifactFetcher.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/awsprofiles/awsprofiles.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/cloudwatch/cloudwatch.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/codebuild/codebuild.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/constants/constants.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/filewriter/filewriter.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/filewriter/filewriter_defaults.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/filewriter/writer.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/logfetcher/logfetcher.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/s3/s3.go
Labels: approved, lgtm, size/XXL

#739 Design doc for full cluster lifecycle API
  designs/full-cluster-lifecycle-api.md
  designs/images/cluster-lifecycle.png
  designs/images/cluster_reconcile.plantuml
  designs/images/cluster_reconcile.png
Labels: approved, lgtm, size/L

#756 vSphere validations refactor phase 1
  internal/test/files.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/executables/govc.go
  pkg/providers/vsphere/defaults.go
  pkg/providers/vsphere/envars.go
  pkg/providers/vsphere/internal/templates/factory.go
  pkg/providers/vsphere/spec.go
  pkg/providers/vsphere/tags.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XXL

#747 Plumbing for clusterctl init infrastructure tinkerbell
  pkg/executables/clusterctl.go
  pkg/executables/config/clusterctl.yaml
  pkg/providers/tinkerbell/tinkerbell.go
Labels: approved, lgtm, ok-to-test, size/M, provider/tinkerbell

#763 New controller skeleton
  controllers/controllers/cluster_controller.go
  controllers/controllers/cluster_controller_legacy.go
  controllers/controllers/vsphere_datacenter_controller.go
  controllers/controllers/vsphere_machineconfig_controller.go
  controllers/main.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/features/internal.go
Labels: approved, lgtm, size/XL

#742 Add necessary elements to generate the deployment yaml
  controllers/controllers/resource/template.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types.go
  pkg/api/v1alpha1/tinkermachineconfig.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/config/template-md.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md.yaml
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/XL, provider/tinkerbell

#766 For tinkerbell baremetal provider, add command line flag to specify
  cmd/eksctl-anywhere/cmd/createcluster.go
Labels: approved, lgtm, size/S, provider/tinkerbell

#769 Fixed copy-paste typos
  controllers/controllers/resource/template.go
  pkg/providers/tinkerbell/tinkerbell.go
Labels: approved, lgtm, size/S

#765 Remove log file create for api-server audit logs - Porting to main
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/testdata/capd_valid_full_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/no_machinetemplate_update_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_pod_iam_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_stacked_etcd_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_taints_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_cp_expected.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/testdata/original_077.yaml
Labels: approved, lgtm, size/L

#772 Bump up go mods to get security fixes
  release/go.mod
  release/go.sum
Labels: approved, lgtm, size/XS

#767 Skeleton for cluster provider reconcilers
  controllers/controllers/cluster_controller.go
  controllers/controllers/clusters/docker.go
  controllers/controllers/clusters/provider.go
  controllers/controllers/clusters/vsphere.go
  controllers/controllers/reconciler/result.go
Labels: approved, lgtm, size/M

#777 Add reconciler constructors to avoid linting errors
  controllers/controllers/clusters/docker.go
  controllers/controllers/clusters/vsphere.go
Labels: approved, lgtm, size/XS

#770 For tinkerbell provider, 1) pass hardware yaml file to provider factory 2) plumb tinkerbell provider creation into factory and provider factory
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/providers/factory/providerfactory.go
  pkg/providers/factory/providerfactory_test.go
Labels: approved, lgtm, size/M

#779 Only check available space if etcd machine is not nil
  pkg/providers/vsphere/validator.go
Labels: approved, lgtm, size/XS

#776 Revert "Add support for secure cipher suites with external etcd (#759)"
  docs/content/en/docs/reference/changelog.md
  pkg/clusterapi/extraargs.go
  pkg/clusterapi/extraargs_test.go
  pkg/crypto/tls.go
  pkg/crypto/tls_test.go
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/testdata/capd_valid_full_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_pod_iam_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_taints_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_cp_expected.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/vsphere.go
Labels: documentation, approved, lgtm, size/M

#780 add CAPV infrastructure API group permissions to diagnostic collector…
  pkg/diagnostics/collectors.go
  pkg/diagnostics/config/diagnostic-collector-rbac.yaml
Labels: approved, lgtm, size/XS

#774 Implement generate clusterconfig for provider tinkerbell
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_types.go
Labels: approved, lgtm, size/M

#783 Redo "Add support for secure cipher suites with external etcd (#759)"
  docs/content/en/docs/reference/changelog.md
  pkg/clusterapi/extraargs.go
  pkg/clusterapi/extraargs_test.go
  pkg/crypto/tls.go
  pkg/crypto/tls_test.go
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/testdata/capd_valid_full_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_pod_iam_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_taints_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_cp_expected.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/vsphere.go
Labels: documentation, approved, lgtm, size/M

#775 Govc validate vcenter no side effects
  pkg/executables/govc.go
  pkg/executables/govc_test.go
  pkg/executables/sync_slice.go
  pkg/providers/vsphere/defaults.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/paths.go
  pkg/providers/vsphere/setup.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XL

#787 Backport select bundle based on branch
  Makefile
Labels: approved, lgtm, size/S

#782 Update etcdadm-controller tag for ciphersuites changes
  go.mod
  go.sum
Labels: approved, lgtm, size/XS

#788 remove bundle override from integ test build process; rely on Make ad…
  cmd/integration_test/build/buildspecs/build-eks-a-cli.yml
  scripts/get_bundle.sh
Labels: approved, lgtm, size/S

#791 Revert "Backport select bundle based on branch"
  Makefile
Labels: approved, lgtm, size/S

#784 Upgrade plan sub command
  cmd/eksctl-anywhere/cmd/upgradeplan.go
  pkg/addonmanager/addonclients/upgrader.go
  pkg/clustermanager/upgrader.go
Labels: approved, lgtm, size/L

#785 Section about vsphere credentials in cluster lifecycle design doc
  designs/full-cluster-lifecycle-api.md
Labels: approved, lgtm, size/S

#793 Update release pkg go sum for etcdadm-controller
  release/go.sum
Labels: approved, lgtm, size/XS

#773 Add ability to skip slow vsphere tests
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/S

#795 add cleanup vms flag to e2e command; clean up individual clusters as …
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  cmd/integration_test/cmd/run.go
  internal/test/e2e/run.go
Labels: approved, lgtm, size/S

#799 Flux check for upgrade plan command
  cmd/eksctl-anywhere/cmd/upgradeplan.go
Labels: approved, lgtm, size/XS

#778 Avoid building all deps for all providers
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/executables/govc.go
Labels: approved, lgtm, size/S

#801 backport Source AWS profile setup script in buildspec
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  cmd/integration_test/build/script/setup_profile.sh
  cmd/integration_test/build/script/start_docker.sh
Labels: approved, lgtm, size/M

#797 Validate Docker desktop version on Mac
  cmd/eksctl-anywhere/cmd/validations.go
  pkg/validations/docker.go
Labels: approved, lgtm, size/M

#802 add nil check to dependency closer to avoid segfault
  pkg/dependencies/factory.go
Labels: approved, lgtm, size/XS

#764 Add jonahjon to OWNERS file
  OWNERS
Labels: approved, lgtm, size/XS

#762 Fix cleanup function
  cmd/eksctl-anywhere/cmd/cleanup.go
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
Labels: approved, lgtm, size/S

#804 Parametrize os and arch list to upload script
  Makefile
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  cmd/integration_test/build/script/upload_artifacts.sh
  scripts/e2e_test_docker.sh
Labels: approved, lgtm, size/M

#806 Prevent nil pointer by checking for nil in interface value
  pkg/dependencies/factory.go
Labels: approved, lgtm, size/XS

#807 add exponential backoff and jitter to ec2 create calls in end-to-end …
  internal/pkg/ec2/create.go
  pkg/retrier/retrier.go
Labels: approved, lgtm, size/S

#808 Revert "Redo "Add support for secure cipher suites with external etcd (#759)""
  docs/content/en/docs/reference/changelog.md
  pkg/clusterapi/extraargs.go
  pkg/clusterapi/extraargs_test.go
  pkg/crypto/tls.go
  pkg/crypto/tls_test.go
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/testdata/capd_valid_full_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_pod_iam_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_taints_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_cp_expected.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/vsphere.go
Labels: documentation, approved, lgtm, size/M

#812 Tinkerbell capt bundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  pkg/providers/tinkerbell/tinkerbell.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_capt.go
  release/pkg/assets_tinkerbell.go
  release/pkg/generate_spec.go
Labels: approved, lgtm, size/L

#816 Adding object key to logger info
  internal/test/e2e/ipmanager.go
Labels: approved, lgtm, size/XS

#818 Move flux check to avoid repetitive checks
  cmd/eksctl-anywhere/cmd/upgradeplan.go
  pkg/addonmanager/addonclients/upgrader.go
Labels: approved, lgtm, size/S

#817 Bump controller-runtime version to v0.10.3
  go.mod
  go.sum
  release/go.mod
  release/go.sum
Labels: approved, lgtm, size/L

#819 Cherry-pick: Add steps for backing up and restoring etcd (#584)
  docs/content/en/docs/tasks/cluster/etcd-backup-restore.md
Labels: documentation, approved, lgtm, size/L

#825 Adding condition to only run on main branch
  release/pkg/assets_tinkerbell.go
  release/pkg/generate_spec.go
Labels: approved, lgtm, size/M

#826 Remove cyclic dependency between main module and release module
  go.sum
  pkg/cluster/spec.go
  release/api/v1alpha1/artifacts.go
  release/go.mod
  release/go.sum
  release/pkg/generate_spec.go
  release/pkg/prepare_release.go
Labels: approved, lgtm, size/XL

#694 Add instructions to set up dhcp server
  docs/content/en/docs/reference/vsphere/vsphere-dhcp.md
  docs/content/en/docs/tasks/troubleshoot/_troubleshooting.md
Labels: documentation, approved, lgtm, size/M

#823 Upgrade plan for CAPI components
  cmd/eksctl-anywhere/cmd/upgradeplan.go
  pkg/clusterapi/upgrader.go
Labels: approved, lgtm, size/S

#820 `envtest` utils for controller integration tests
  Makefile
  go.mod
  hack/tools/go.mod
  hack/tools/go.sum
  internal/test/envtest/crd.go
  internal/test/envtest/environment.go
Labels: approved, lgtm, size/L

#828 support user-provided build ID in log fetcher
  test/e2e/tools/eks-anywhere-test-tool/pkg/logfetcher/logfetcher.go
Labels: approved, lgtm, size/S

#827 Cleanup versions bundle artifacts methods
  release/api/v1alpha1/artifacts.go
Labels: approved, lgtm, size/L

#706 Update bundle versions based on the bundle's artifacts
  release/pkg/assets_capa.go
  release/pkg/assets_capd.go
  release/pkg/assets_capi.go
  release/pkg/assets_certmanager.go
  release/pkg/assets_eksa_tools.go
  release/pkg/assets_etcdadm_bootstrap.go
  release/pkg/assets_etcdadm_controller.go
  release/pkg/assets_flux.go
  release/pkg/assets_kindnetd.go
  release/pkg/assets_tinkerbell.go
  release/pkg/assets_vsphere.go
  release/pkg/clients.go
  release/pkg/generate_spec.go
  release/pkg/versions.go
Labels: approved, lgtm, size/XL

#831 Install controller-gen without relying on a module
  Makefile
  hack/tools/go.mod
  hack/tools/go.sum
Labels: approved, lgtm, size/XL

#814 Add license docs
  docs/content/en/docs/getting-started/production-environment/_index.md
  docs/content/en/docs/tasks/cluster/cluster-license.md
Labels: documentation, approved, lgtm, size/M

#832 Change generated cluster name order for tests
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#786 override bundle release manifest URL for non-main branch sources when…
  Makefile
Labels: approved, lgtm, size/S

#829 Controller reconcile utils
  controllers/controllers/reconciler/main_test.go
  controllers/controllers/reconciler/reconcile.go
  controllers/controllers/reconciler/reconcile_test.go
  controllers/controllers/reconciler/yaml.go
  controllers/controllers/reconciler/yaml_test.go
  internal/test/envtest/environment.go
Labels: approved, lgtm, size/L

#834 Reduce dependency of govc in vsphere machine config
  pkg/executables/govc.go
  pkg/executables/govc_test.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/S

#373 Add Gloo Edge, and Gloo Mesh.
  docs/content/en/docs/tasks/cluster/cluster-integrations.md
Labels: documentation, approved, lgtm, ok-to-test, size/XS

#771 Refactor release tooling code into subfolders
  release/cmd/release.go
  release/go.mod
  release/go.sum
  release/pkg/assets_certmanager.go
  release/pkg/assets_cluster_controller.go
  release/pkg/assets_flux.go
  release/pkg/assets_vsphere.go
  release/pkg/aws/ecr/ecr.go
  release/pkg/aws/ecrpublic/ecrpublic.go
  release/pkg/aws/s3/s3.go
  release/pkg/clients/clients.go
  release/pkg/file_reader.go
  release/pkg/generate_spec.go
  release/pkg/git/git.go
  release/pkg/images/images.go
  release/pkg/prepare_release.go
  release/pkg/retrier/retrier.go
  release/pkg/utils/utils.go
  release/pkg/versions.go
Labels: approved, lgtm, size/XXL

#837 Backport makefile branch selector
  Makefile
Labels: approved, lgtm, size/S

#833 Refactor Vsphere validations
  pkg/providers/vsphere/defaults.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/M

#836 Add Tinkerbell CRDs and update EKS-A components manifest
  Makefile
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbelldatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbellmachineconfigs.yaml
  config/manifest/eksa-components.yaml
Labels: approved, lgtm, size/L

#839 Adding image override for CAPT image uri
  release/pkg/assets_capt.go
Labels: approved, lgtm, size/XS

#841 Backport: Parametrize os and arch list to upload script
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  cmd/integration_test/build/script/upload_artifacts.sh
  release/.gitignore
  release/pkg/assets_cli.go
  scripts/e2e_test_docker.sh
Labels: approved, lgtm, size/L

#844 Build cross-platform CLI binaries to architecture-based folders
  Makefile
Labels: approved, lgtm, size/S

#843 For baremetal, apply hardware crds before applying deployment yaml to create clusters
  Makefile
  pkg/dependencies/factory.go
  pkg/executables/kubectl.go
  pkg/providers/tinkerbell/mocks/client.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/M

#846 Corrected VMware spelling
  docs/content/en/docs/reference/vsphere/vsphere-ovas.md
Labels: documentation, approved, lgtm, ok-to-test, size/XS

#849 Remove Get Bundle script invocation from 0.6 e2e tests
  cmd/integration_test/build/buildspecs/build-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#850 Redo "Add support for secure cipher suites with external etcd (#759)" without BR and add controller log message
  controllers/controllers/resource/reconciler.go
  docs/content/en/docs/reference/changelog.md
  pkg/clusterapi/extraargs.go
  pkg/clusterapi/extraargs_test.go
  pkg/crypto/tls.go
  pkg/crypto/tls_test.go
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/testdata/capd_valid_full_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_pod_iam_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_taints_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_cp_expected.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/vsphere.go
Labels: documentation, approved, lgtm, size/M

#851 Avoid panic from logger with incorrect number of params
  pkg/validations/docker.go
Labels: approved, lgtm, size/XS

#848 Update vSphere user permissions document with specific granular permi…
  docs/content/en/docs/reference/vsphere/user-permissions.md
Labels: documentation, approved, lgtm, size/L

#854 Override with dev release bundle
  Makefile
  cmd/integration_test/build/buildspecs/build-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#855 Add Tinkerbell CRDs to EKS-A components yaml
  Makefile
  config/crd/kustomization.yaml
  config/manifest/eksa-components.yaml
Labels: approved, lgtm, size/L

#857 Helm executable
  pkg/executables/helm.go
  pkg/executables/helm_test.go
Labels: approved, lgtm, size/L

#858 Create subpackages for networking implementations
  pkg/dependencies/factory.go
  pkg/networking/cilium.go
  pkg/networking/cilium/cilium.go
  pkg/networking/cilium/cilium_test.go
  pkg/networking/cilium/testdata/cilium_manifest.yaml
  pkg/networking/internal/manifests.go
  pkg/networking/kindnetd/kindnetd.go
  pkg/networking/kindnetd/kindnetd_test.go
  pkg/networking/kindnetd/testdata/expected_kindnetd_manifest.yaml
  pkg/networking/kindnetd/testdata/kindnetd_manifest.yaml
Labels: approved, lgtm, size/M

#811 Allow users to configure port for registry mirror
  cmd/eksctl-anywhere/cmd/importimages.go
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/constants/constants.go
  pkg/crypto/validator.go
  pkg/crypto/validator_test.go
  pkg/executables/config/kind.yaml
  pkg/executables/kind.go
  pkg/executables/kind_test.go
  pkg/executables/testdata/kind_config_registry_mirror_insecure.yaml
  pkg/executables/testdata/kind_config_registry_mirror_with_ca.yaml
  pkg/networkutils/networkutils.go
  pkg/networkutils/networkutils_test.go
  pkg/providers/vsphere/testdata/cluster_bottlerocket_mirror_config.yaml
  pkg/providers/vsphere/testdata/cluster_bottlerocket_mirror_with_cert_config.yaml
  pkg/providers/vsphere/testdata/cluster_mirror_config.yaml
  pkg/providers/vsphere/testdata/cluster_mirror_with_cert_config.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/L

#830 Close container independently from executables
  cmd/eks-a-tool/cmd/validatecluster.go
  cmd/eks-a-tool/cmd/versions.go
  cmd/eks-a-tool/cmd/vspherermvms.go
  internal/test/e2e/vsphere.go
  pkg/dependencies/factory.go
  pkg/executables/builder.go
  pkg/executables/dockercontainer.go
  pkg/executables/executables.go
  pkg/executables/govc.go
  pkg/executables/mocks/executables.go
  test/framework/executables.go
Labels: approved, lgtm, size/M

#860 backport adjustment to e2e test network setttings
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#862 Add resolv-conf to kubelet extra args
  pkg/clusterapi/extraargs.go
  pkg/providers/docker/docker.go
  pkg/providers/docker/testdata/capd_valid_full_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_full_oidc_md_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_md_expected.yaml
  pkg/providers/docker/testdata/no_machinetemplate_update_cp_expected.yaml
  pkg/providers/docker/testdata/no_machinetemplate_update_md_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_pod_iam_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_stacked_etcd_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_taints_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_md_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_md_expected.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_md.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/M

#859 Composable command for executables
  pkg/executables/command.go
  pkg/executables/dockerlinux.go
  pkg/executables/executables.go
  pkg/executables/mocks/executables.go
Labels: approved, lgtm, size/L

#866 Override for import and list images
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/importimages.go
  cmd/eksctl-anywhere/cmd/listimages.go
  test/framework/e2e.go
Labels: approved, lgtm, size/M

#868 Fix error in e2e
  test/framework/e2e.go
Labels: approved, lgtm, size/XS

#867 Run helm template with OCI support env var
  pkg/executables/helm.go
  pkg/executables/helm_test.go
  pkg/executables/helpers_test.go
Labels: approved, lgtm, size/M

#864 Update registry-mirror e2e tests with ports
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  internal/test/e2e/registryMirror.go
  test/e2e/README.md
  test/framework/registryMirror.go
Labels: approved, lgtm, size/S

#871 Add image name to error log
  release/pkg/images/images.go
Labels: approved, lgtm, size/XS

#861 plumbing clusterconfig file values with create cluster command and ch…
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/envars.go
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp.yaml
  pkg/providers/tinkerbell/tinkerbell.go
Labels: approved, lgtm, size/L

#873 Update eksa components yaml with registry mirror port
  config/manifest/eksa-components.yaml
Labels: approved, lgtm, size/XS

#874 controller: add govc binary
  Makefile
  build/lib/common.sh
  build/lib/fetch_binaries.sh
  build/lib/organize_binaries.sh
  controllers/docker/linux/eks-anywhere-cluster-controller/Dockerfile
Labels: approved, lgtm, size/L

#869 Retrier client for cilium upgrades
  Makefile
  pkg/networking/cilium/client.go
  pkg/networking/cilium/client_test.go
  pkg/networking/cilium/mocks/clients.go
  pkg/networking/cilium/ready.go
  pkg/networking/cilium/ready_test.go
Labels: approved, lgtm, size/XL

#876 Get Kube version from EKS-D release manifest instead of file
  Makefile
  controllers/build/upload_artifacts.sh
  release/pkg/file_reader.go
  release/pkg/file_reader_test.go
  release/pkg/generate_spec.go
  scripts/common.sh
Labels: approved, lgtm, size/L

#877 Get Kube version from EKS-D release manifest
  Makefile
  controllers/build/upload_artifacts.sh
  release/pkg/file_reader.go
  release/pkg/file_reader_test.go
  release/pkg/generate_spec.go
  scripts/common.sh
Labels: approved, lgtm, size/L

#865 Cilium templater
  Makefile
  pkg/networking/cilium/mocks/clients.go
  pkg/networking/cilium/mocks/helm.go
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
Labels: approved, lgtm, size/L

#879 Revert "Add resolv-conf to kubelet extra args"
  pkg/clusterapi/extraargs.go
  pkg/providers/docker/docker.go
  pkg/providers/docker/testdata/capd_valid_full_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_full_oidc_md_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_md_expected.yaml
  pkg/providers/docker/testdata/no_machinetemplate_update_cp_expected.yaml
  pkg/providers/docker/testdata/no_machinetemplate_update_md_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_pod_iam_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_stacked_etcd_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_taints_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_md_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_md_expected.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_md.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/M

#881 Validate osFamily before import
  pkg/providers/vsphere/defaults.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/M

#757 Design doc for multiple worker node groups support
  designs/multiple-worker-node-groups.md
Labels: approved, lgtm, size/L

#884 [Doc Change]export GOPATH if not available.
  DEVELOPMENT.md
Labels: approved, lgtm, ok-to-test, size/XS

#887 Add docs for registry mirror port
  docs/content/en/docs/reference/clusterspec/registrymirror.md
Labels: documentation, approved, lgtm, size/XS

#888 Remove debug message
  controllers/controllers/resource/reconciler.go
Labels: approved, lgtm, size/XS

#872 Kubectl methods to get deployment and daemonset
  pkg/executables/kubectl.go
  pkg/executables/kubectl_getter_helper_test.go
  pkg/executables/kubectl_test.go
  pkg/executables/testdata/kubectl_daemonset.json
  pkg/executables/testdata/kubectl_deployment.json
Labels: approved, lgtm, size/L

#882 Separate vsphere datacenterconfig validation from rest of the cluster validation
  pkg/providers/vsphere/defaults.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#892 Fix controller images kustomization for manifest in controller build
  Makefile
Labels: approved, lgtm, size/XS

#886 Mini design doc for custom DNS resolver configuration
  designs/dns-resolver.md
Labels: documentation, approved, lgtm, docs, size/M

#894 Improve e2e logs coming from ssm in instance
  internal/pkg/ssm/command.go
  internal/pkg/ssm/run_output.go
  internal/test/e2e/oidc.go
  internal/test/e2e/registryMirror.go
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
Labels: approved, lgtm, size/L

#893 Mini design doc for node labels
  designs/node-labels.md
Labels: approved, lgtm, size/M
