Repository aws/eks-anywhere, pull requests merged in 2022-03, with the labels that each got.

#1334 Bump prod CLI release for 0.7.2
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#1328 release 0.7.1 changelog entry
  docs/content/en/docs/reference/changelog.md
Labels: documentation, approved, lgtm, size/XS

#1256 Adding cloudstack validator with unit tests
  Makefile
  pkg/providers/cloudstack/mocks/client.go
  pkg/providers/cloudstack/spec.go
  pkg/providers/cloudstack/testdata/cluster_main.yaml
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, size/XL

#1314 Adding CAPC templates
  pkg/providers/cloudstack/config/machine-health-check-template.yaml
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/config/template-md.yaml
Labels: approved, lgtm, size/L

#1351 Temporarily embed CAPAS API to snow provider
  pkg/providers/snow/api/v1beta1/awssnowcluster_types.go
  pkg/providers/snow/api/v1beta1/awssnowmachine_types.go
  pkg/providers/snow/api/v1beta1/awssnowmachinetemplate_types.go
  pkg/providers/snow/api/v1beta1/conditions_consts.go
  pkg/providers/snow/api/v1beta1/groupversion_info.go
  pkg/providers/snow/api/v1beta1/tags.go
  pkg/providers/snow/api/v1beta1/types.go
  pkg/providers/snow/api/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, size/XXL

#1321 Validate grpc and pbnj authority strings for tinkerbell
  Makefile
  pkg/networkutils/mocks/client.go
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_multiple_node_groups.yaml
  pkg/providers/tinkerbell/validator.go
  pkg/providers/tinkerbell/validator_test.go
Labels: approved, lgtm, size/L

#1322 Validate given hardware uuid exists on the tinkerbell stack
  pkg/providers/tinkerbell/hardware/config.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/validator.go
  pkg/providers/tinkerbell/validator_test.go
Labels: approved, lgtm, size/M

#1320 Generic git provider design doc
  designs/generic-git-provider-gitops.md
  designs/images/gitops-flow.png
Labels: approved, lgtm, size/L

#1343 Cluster config parsing
  pkg/cluster/config.go
  pkg/cluster/parse.go
  pkg/cluster/parse_test.go
  pkg/cluster/testdata/docker_cluster_oidc_awsiam_flux.yaml
Labels: approved, lgtm, size/XL

#1361 Use containerd version1.5.10
  go.mod
  go.sum
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/go.mod
  release/go.sum
Labels: approved, lgtm, size/XS

#1362 Handle replace directives for modules with CRDs
  internal/test/envtest/crd.go
  internal/test/envtest/crd_test.go
  internal/test/envtest/environment.go
Labels: approved, lgtm, size/L

#1349 TinkerbellTemplateConfig type for defining Tinkerbell workflow
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbellmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbelltemplateconfigs.yaml
  config/crd/kustomization.yaml
  config/manifest/eksa-components.yaml
  controllers/controllers/resource/template.go
  go.mod
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/testdata/cluster_1_21_valid_multiple_tinkerbell_templates.yaml
  pkg/api/v1alpha1/testdata/cluster_1_21_valid_tinkerbell.yaml
  pkg/api/v1alpha1/testdata/cluster_invalid_kinds_tinkerbell.yaml
  pkg/api/v1alpha1/testdata/not_parseable_cluster_tinkerbell.yaml
  pkg/api/v1alpha1/thirdparty/tinkerbell/workflow_types.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/zz_generated.deepcopy.go
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults_test.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_test.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/cluster/spec.go
  pkg/clustermarshaller/clustermarshaller.go
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_multiple_node_groups.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_tinkerbell_md_multiple_node_groups.yaml
  pkg/providers/tinkerbell/tinkerbell.go
Labels: approved, lgtm, size/XXL

#1357 Implement create command for snow provider using Go struct
  go.mod
  go.sum
  pkg/clusterapi/apibuilder.go
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/snow.go
  pkg/templater/yaml.go
Labels: approved, lgtm, size/L

#1364 Cluster Config validation
  pkg/api/v1alpha1/awsiamconfig.go
  pkg/api/v1alpha1/awsiamconfig_types.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/dockerdatacenterconfig_types.go
  pkg/api/v1alpha1/gitopsconfig.go
  pkg/api/v1alpha1/gitopsconfig_types.go
  pkg/api/v1alpha1/oidcconfig.go
  pkg/api/v1alpha1/oidcconfig_types.go
  pkg/api/v1alpha1/vspheredatacenterconfig_types.go
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/cluster/parse_test.go
  pkg/cluster/testdata/cluster_1_19.yaml
  pkg/cluster/testdata/docker_cluster_oidc_awsiam_flux.yaml
  pkg/cluster/validate.go
  pkg/cluster/validate_test.go
Labels: approved, lgtm, size/L

#1360 Feature get package bundle
  cmd/eksctl-anywhere/cmd/get.go
  cmd/eksctl-anywhere/cmd/getpackage.go
  cmd/eksctl-anywhere/cmd/getpackagebundle.go
  pkg/executables/kubectl.go
  pkg/kubeconfig/kubeconfig.go
Labels: approved, lgtm, size/L

#1274 create tinkerbell e2e test provider and test cases
  .gitignore
  cmd/eksctl-anywhere/cmd/generatehardware.go
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  internal/pkg/api/tinkerbell.go
  internal/test/e2e/vsphere.go
  pkg/providers/tinkerbell/hardware/csvparser.go
  pkg/providers/tinkerbell/hardware/csvparser_test.go
  pkg/providers/tinkerbell/hardware/jsonparser.go
  pkg/providers/tinkerbell/hardware/testdata/valid_hardware_guid.csv
  test/e2e/README.md
  test/e2e/simpleflow_test.go
  test/framework/cluster.go
  test/framework/network.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#1355 Simplify and generalize ssh key generation
  pkg/crypto/keygen.go
  pkg/crypto/keygen_test.go
  pkg/crypto/keygenerator.go
  pkg/crypto/ssh.go
  pkg/crypto/ssh_test.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/L

#1375 Unset cloud-provider for snow
  pkg/providers/snow/apibuilder.go
Labels: approved, lgtm, size/XS

#1239 Add multiple-zone support in cloudstack - part 1 (pre-flight checking)
  pkg/api/v1alpha1/cloudstackdatacenterconfig.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_test.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_types.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_webhook.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_webhook_test.go
  pkg/api/v1alpha1/testdata/cluster_1_19_cloudstack.yaml
  pkg/api/v1alpha1/testdata/cluster_1_20_cloudstack.yaml
  pkg/api/v1alpha1/testdata/cluster_different_machine_configs_cloudstack.yaml
  pkg/api/v1alpha1/testdata/cluster_extra_delimiters_cloudstack.yaml
  pkg/api/v1alpha1/testdata/not_parseable_cluster_cloudstack.yaml
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/executables/cmk.go
  pkg/executables/cmk_cmd_builder.go
  pkg/executables/cmk_test.go
  pkg/executables/kubectl_test.go
  pkg/executables/testdata/cmk_list_domain_singular.json
  pkg/executables/testdata/cmk_list_network_singular.json
  pkg/executables/testdata/kubectl_eksa_cs_datacenterconfig.json
  pkg/providers/cloudstack/mocks/client.go
  pkg/providers/cloudstack/testdata/cluster_main.yaml
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, size/XXL

#1356 Move context aware validation out of api package
  Makefile
  pkg/api/v1alpha1/cluster.go
  pkg/crypto/validator.go
  pkg/crypto/validator_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/createvalidations.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/mocks/tls.go
  pkg/validations/tls.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  pkg/validations/upgradevalidations/upgradevalidations.go
  pkg/validations/validation_options.go
Labels: approved, lgtm, size/L

#1367 Add Hook components release tooling
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_hook.go
  release/pkg/assets_tinkerbell.go
  release/pkg/generate_spec.go
  release/pkg/prepare_release.go
Labels: approved, lgtm, size/XL

#1369 Add/modify e2e tests to use 1.22
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/flux_test.go
  test/e2e/labels_test.go
  test/e2e/oidc_test.go
  test/e2e/proxy_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/simpleflow_test.go
  test/e2e/stackedetcd_test.go
  test/e2e/taints_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/upgrade_test.go
  test/e2e/vsphere_autoimport_test.go
Labels: approved, lgtm, size/L

#1376 Remove support of pulling CAPAS image from private ecr regi
  pkg/clients/aws/client.go
  pkg/clients/aws/ecr.go
  pkg/constants/constants.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/vsphere/vsphere.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
Labels: approved, lgtm, size/L

#1300 Update OIDC settings after cluster creation
  controllers/controllers/cluster_controller_legacy.go
  controllers/controllers/clusters/vsphere.go
  controllers/controllers/resource/fetcher.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/api/v1alpha1/oidcconfig_types.go
  pkg/api/v1alpha1/oidcconfig_webhook.go
  pkg/api/v1alpha1/oidcconfig_webhook_test.go
  pkg/cluster/fetch.go
  pkg/cluster/spec.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/providers/vsphere/vsphere.go
  pkg/validations/upgradevalidations/immutableFields.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  test/e2e/constants.go
Labels: approved, lgtm, size/XL

#1366 Tinkerbell hardware workflow mapping - pre flight validation
  pkg/executables/tink.go
  pkg/executables/tink_test.go
  pkg/providers/tinkerbell/hardware/config.go
  pkg/providers/tinkerbell/mocks/client.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/validator.go
Labels: approved, lgtm, size/L

#1380 Fix bundle manifest URL assignment
  release/pkg/assets_cli.go
Labels: approved, lgtm, size/S

#1382 Skip checksum upload for hook artifacts
  release/pkg/prepare_release.go
Labels: approved, lgtm, size/XS

#1385 Fix 1-22 tests
  test/e2e/taints_test.go
  test/e2e/upgrade_test.go
Labels: approved, lgtm, size/XS

#1389 Define kubeconfig env var in kubeconfig package
  cmd/eksctl-anywhere/cmd/constants.go
  cmd/eksctl-anywhere/cmd/get.go
  pkg/kubeconfig/kubeconfig.go
Labels: approved, lgtm, size/S

#1395 Declare ssh keys persistent
  pkg/crypto/ssh.go
Labels: approved, lgtm, size/XS

#1398 Decrease max ec2 instances to 40
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#1399 Add snow post cluster creation steps
  pkg/api/v1alpha1/snowdatacenterconfig_types.go
  pkg/api/v1alpha1/snowmachineconfig_types.go
  pkg/providers/snow/snow.go
Labels: approved, lgtm, size/L

#1392 Cluster Config defaults
  pkg/api/v1alpha1/awsiamconfig.go
  pkg/api/v1alpha1/awsiamconfig_types.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/gitopsconfig.go
  pkg/api/v1alpha1/gitopsconfig_types.go
  pkg/cluster/defaults.go
  pkg/cluster/defaults_test.go
Labels: approved, lgtm, size/L

#1400 Fix ability to run multiple tests in one instance
  internal/test/e2e/run.go
Labels: approved, lgtm, size/XS

#1378 Adding docs contributors guide
  docs/content/en/docs/community/docs_contributing.md
Labels: documentation, approved, lgtm, size/M

#1183 Add design doc for configuring cilium
  designs/cilium-configuration-policy.md
Labels: approved, lgtm, size/L

#1405 Increase e2e instance count to 85
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#1406 Print command execution errors to stdout
  release/pkg/utils/utils.go
  test/kube-bench/jobs/controlplane/kube-bench-default.yaml
Labels: approved, lgtm, size/XS

#1412 Fix junit file upload/download
  internal/test/e2e/run.go
Labels: approved, lgtm, size/XS

#1414 Add ability to limit number of concurrent e2e test executions
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  cmd/integration_test/cmd/run.go
  internal/test/e2e/run.go
Labels: approved, lgtm, size/M

#1413 Compare only semver and prerelease information when overwriting releases
  release/pkg/prepare_release.go
Labels: approved, lgtm, size/XS

#1411 Adding CloudStack custom details for users to specify
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/controllers/cluster_controller_legacy.go
  pkg/api/v1alpha1/cloudstackmachineconfig_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/config/template-md.yaml
  pkg/providers/cloudstack/testdata/cluster_main.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_md.yaml
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, size/L

#1409 Update test to make use of cluster Spec tooling
  pkg/cluster/spec.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/diagnostics/diagnostic_bundle_test.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
Labels: approved, lgtm, size/L

#1410 Better cluster.Config parsing
  pkg/cluster/parse.go
Labels: approved, lgtm, size/S

#1418 Fix deadlock in e2e tests
  internal/test/e2e/run.go
Labels: approved, lgtm, size/XS

#1420 Adding account/domain to the capc template
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_cp.yaml
Labels: approved, lgtm, size/XS

#1423 Update CNI design doc to include kindnetd config for CAPD
  designs/cilium-configuration-policy.md
Labels: approved, lgtm, size/XS

#1407 fix bundle usage in release branches
  Makefile
Labels: approved, lgtm, size/S

#1421 Add unit tests for snow provider and apiBuilder
  internal/test/testdata/bundles.yaml
  pkg/api/v1alpha1/snowdatacenterconfig_test.go
  pkg/api/v1alpha1/snowmachineconfig_test.go
  pkg/api/v1alpha1/testdata/cluster_1_21_snow.yaml
  pkg/api/v1alpha1/testdata/cluster_1_21_snow_multiple_machineconfigs.yaml
  pkg/api/v1alpha1/testdata/not_parseable_cluster_snow.yaml
  pkg/clusterapi/apibuilder_test.go
  pkg/executables/kubectl.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
  pkg/providers/snow/testdata/certificates
  pkg/providers/snow/testdata/credentials
  pkg/providers/snow/testdata/expected_results_main_cp.yaml
  pkg/providers/snow/testdata/expected_results_main_md.yaml
Labels: approved, lgtm, size/XXL

#1424 Update parallel test execution to a max of 30
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#1425 Implement delete workflow for snow
  pkg/providers/snow/mocks/client.go
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
Labels: approved, lgtm, size/L

#1429 Move wait for queue outside of go routine
  internal/test/e2e/run.go
Labels: approved, lgtm, size/XS

#1433 Assert flux config value in cluster Config parse test
  pkg/cluster/parse_test.go
Labels: approved, lgtm, size/XS

#1391 Embed eksd manifest to cluster
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/controllers/cluster_controller.go
  controllers/controllers/cluster_controller_legacy.go
  controllers/controllers/cluster_controller_test.go
  controllers/controllers/clusters/provider.go
  controllers/controllers/clusters/vsphere.go
  controllers/controllers/resource/fetcher.go
  controllers/main.go
  internal/test/cluster.go
  internal/test/envtest/environment.go
  pkg/cluster/fetch.go
  pkg/cluster/spec.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/clustermanager/retrier_client.go
  pkg/executables/kubectl.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
Labels: approved, lgtm, size/L

#1437 Put create snow cluster under feature gate
  cmd/eksctl-anywhere/cmd/createcluster.go
Labels: approved, lgtm, size/S

#1427 Update ssh keys and user name using CLI
  controllers/controllers/resource/reconciler_test.go
  controllers/controllers/resource/template.go
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#1441 Revert "Embed eksd manifest to cluster (#1391)"
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/controllers/cluster_controller.go
  controllers/controllers/cluster_controller_legacy.go
  controllers/controllers/cluster_controller_test.go
  controllers/controllers/clusters/provider.go
  controllers/controllers/clusters/vsphere.go
  controllers/controllers/resource/fetcher.go
  controllers/main.go
  internal/test/cluster.go
  internal/test/envtest/environment.go
  pkg/cluster/fetch.go
  pkg/cluster/spec.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/clustermanager/retrier_client.go
  pkg/executables/kubectl.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
Labels: approved, lgtm, size/L

#1415 Improve missing hardwarefile flag error speed
  cmd/eksctl-anywhere/cmd/createcluster.go
Labels: approved, lgtm, size/M

#1444 Add CAPAS manager image to bundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_fluxconfigs.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_capas.go
Labels: approved, lgtm, size/L

#1445 Minor change to docs contrib guide
  docs/content/en/docs/community/docs_contributing.md
Labels: documentation, approved, lgtm, size/XS

#1403 Add tinkerbell test cases for supported hardware vendors, cp replicas…
  .gitignore
  cmd/eksctl-anywhere/cmd/generatehardware.go
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  go.mod
  go.sum
  internal/pkg/api/cluster.go
  internal/pkg/api/hardware.go
  internal/pkg/api/tinkerbell.go
  pkg/providers/tinkerbell/hardware/jsonparser.go
  pkg/providers/tinkerbell/hardware/jsonparser_test.go
  pkg/providers/tinkerbell/hardware/yamlparser.go
  pkg/providers/tinkerbell/hardware/yamlparser_test.go
  pkg/providers/tinkerbell/tinkerbell.go
  test/e2e/simpleflow_test.go
  test/e2e/stackedetcd_test.go
  test/framework/cluster.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/L

#1446 Ensure Tinkerbell Hardware objects have unique IDs
  pkg/providers/tinkerbell/hardware/config.go
Labels: approved, lgtm, size/XS

#1447 Added validation for metadata_url of the template config field
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/validator.go
Labels: approved, lgtm, size/S

#1448 Pull CAPAS image from release bundle
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/M

#1449 Re-add VM cleanup command in postbuild stage
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#1336 Rework tinkerbell hardware generation to lay ground work for extensible validation
  Makefile
  pkg/providers/tinkerbell/hardware/machine.go
  pkg/providers/tinkerbell/hardware/machine_test.go
  pkg/providers/tinkerbell/hardware/mocks/translate.go
  pkg/providers/tinkerbell/hardware/translate.go
  pkg/providers/tinkerbell/hardware/translate_test.go
Labels: approved, lgtm, size/XL

#1450 Add Tinkerbell hardware generation validation
  pkg/providers/tinkerbell/hardware/validator.go
  pkg/providers/tinkerbell/hardware/validator_test.go
Labels: approved, lgtm, size/L

#1453 Embed eks-d manifest in eks-a cluster
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/controllers/cluster_controller.go
  controllers/controllers/cluster_controller_legacy.go
  controllers/controllers/cluster_controller_test.go
  controllers/controllers/clusters/provider.go
  controllers/controllers/clusters/vsphere.go
  controllers/controllers/resource/fetcher.go
  controllers/main.go
  internal/test/cluster.go
  internal/test/envtest/environment.go
  pkg/cluster/fetch.go
  pkg/cluster/spec.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/clustermanager/retrier_client.go
  pkg/executables/kubectl.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
Labels: approved, lgtm, size/L

#1456 Revert "Update ssh keys and user name using CLI"
  controllers/controllers/resource/reconciler_test.go
  controllers/controllers/resource/template.go
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#1458 use proper cluster ID for uploading test logs
  internal/test/e2e/artifacts.go
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
Labels: approved, lgtm, size/S

#1462 Use cluster marshaller for writing cluster spec for flux e2e tests
  test/framework/flux.go
Labels: approved, lgtm, size/M

#1339 Implement delete cluster
  config/manifest/eksa-components.yaml
  config/rbac/manager_extraroles_patch.yaml
  controllers/controllers/cluster_controller.go
  controllers/controllers/cluster_controller_test.go
  controllers/controllers/clusters/vsphere.go
Labels: approved, lgtm, size/L

#1476 Update eksdReleaseFetcher to support previous versions
  pkg/cluster/fetch.go
Labels: approved, lgtm, size/S

#1483 only validate flux after upgrade of cluster
  test/e2e/flux_test.go
Labels: approved, lgtm, size/XS

#1354 Preparing vSphere for EKS-A
  docs/content/en/docs/reference/vsphere/user-permissions.md
  docs/content/en/docs/reference/vsphere/vsphere-preparation.md
  docs/content/en/docs/reference/vsphere/vsphere-prereq.md
  docs/static/images/datacenter.png
  docs/static/images/domainname.png
  docs/static/images/folder.png
  docs/static/images/ip.png
  docs/static/images/networkname.png
  docs/static/images/ovatemplate.png
  docs/static/images/resourcepool.png
  docs/static/images/storage.png
Labels: documentation, approved, lgtm, needs-ok-to-test, size/L

#1461 Make User names and SSH keys mutable
  controllers/controllers/resource/fetcher.go
  controllers/controllers/resource/fetcher_test.go
  controllers/controllers/resource/reconciler_test.go
  controllers/controllers/resource/template.go
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/api/v1alpha1/vspheremachineconfig_webhook.go
  pkg/api/v1alpha1/vspheremachineconfig_webhook_test.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#1481 Update `cluster.Config` defaults to config manager
  pkg/cluster/awsiam.go
  pkg/cluster/cluster.go
  pkg/cluster/default_manager.go
  pkg/cluster/defaults.go
  pkg/cluster/gitops.go
  pkg/cluster/vsphere.go
Labels: approved, lgtm, size/L

#1485 Fix upgrade tests to use WithClusterUpgrade
  test/e2e/upgrade_from_latest_test.go
Labels: approved, lgtm, size/XS

#1492 Update `cluster.Config` validation to config manager
  pkg/cluster/awsiam.go
  pkg/cluster/cluster.go
  pkg/cluster/docker.go
  pkg/cluster/gitops.go
  pkg/cluster/oidc.go
  pkg/cluster/validate.go
  pkg/cluster/vsphere.go
Labels: approved, lgtm, size/L

#1482 Implement tinkerbell manifest writer for hardware generation
  pkg/providers/tinkerbell/hardware/yaml.go
  pkg/providers/tinkerbell/hardware/yaml_test.go
  pkg/providers/tinkerbell/hardware/yamlparser.go
Labels: approved, lgtm, size/L

#1318 Fix nil pointer issue in upgrade plan with cilium
  pkg/networking/cilium/upgrader.go
Labels: approved, lgtm, size/S

#1501 Pass the required info to tink as flags instead of env
  pkg/executables/tink.go
  pkg/executables/tink_test.go
Labels: approved, lgtm, size/S

#1500 Implement json MachineWriter for the tinkerbell hardware generation
  Makefile
  pkg/providers/tinkerbell/hardware/json.go
  pkg/providers/tinkerbell/hardware/json_test.go
  pkg/providers/tinkerbell/hardware/mocks/json.go
Labels: approved, lgtm, size/L

#1510 Syncing from main -> cloudstack
  ATTRIBUTION.txt
  Makefile
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  pkg/executables/tink.go
  pkg/executables/tink_test.go
  pkg/networking/cilium/upgrader.go
  pkg/providers/tinkerbell/hardware/json.go
  pkg/providers/tinkerbell/hardware/json_test.go
  pkg/providers/tinkerbell/hardware/mocks/json.go
  pkg/providers/tinkerbell/hardware/yaml.go
  pkg/providers/tinkerbell/hardware/yaml_test.go
  pkg/providers/tinkerbell/hardware/yamlparser.go
Labels: approved, lgtm, size/XL

#1512 renable test suite
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#1514 Load and save methods for docker executable
  pkg/executables/docker.go
  pkg/executables/docker_test.go
Labels: approved, lgtm, size/M

#1507 Instrument tinkerbell hardware generation
  Makefile
  cmd/eksctl-anywhere/cmd/generatehardware.go
  internal/pkg/api/hardware.go
  pkg/providers/tinkerbell/hardware/csv.go
  pkg/providers/tinkerbell/hardware/csv_test.go
  pkg/providers/tinkerbell/hardware/csvparser.go
  pkg/providers/tinkerbell/hardware/csvparser_test.go
  pkg/providers/tinkerbell/hardware/dir.go
  pkg/providers/tinkerbell/hardware/json.go
  pkg/providers/tinkerbell/hardware/json_test.go
  pkg/providers/tinkerbell/hardware/jsonparser.go
  pkg/providers/tinkerbell/hardware/jsonparser_test.go
  pkg/providers/tinkerbell/hardware/machine.go
  pkg/providers/tinkerbell/hardware/machine_test.go
  pkg/providers/tinkerbell/hardware/mocks/json.go
  pkg/providers/tinkerbell/hardware/tee.go
  pkg/providers/tinkerbell/hardware/tee_test.go
  pkg/providers/tinkerbell/hardware/testdata/expected_hardware_json.json
  pkg/providers/tinkerbell/hardware/testdata/expected_hardware_yaml.yaml
  pkg/providers/tinkerbell/hardware/testdata/invalid_hardware_empty_file.csv
  pkg/providers/tinkerbell/hardware/testdata/invalid_hardware_missing_header.csv
  pkg/providers/tinkerbell/hardware/testdata/valid_hardware.csv
  pkg/providers/tinkerbell/hardware/testdata/valid_hardware_guid.csv
  pkg/providers/tinkerbell/hardware/yaml.go
  pkg/providers/tinkerbell/hardware/yamlparser.go
  pkg/providers/tinkerbell/hardware/yamlparser_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/XXL

#1426 Update client.authorization to v1beta1
  pkg/awsiamauth/config/aws-iam-authenticator-kubeconfig.yaml
  pkg/awsiamauth/testdata/want-aws-iam-authenticator-kubeconfig.yaml
Labels: approved, lgtm, size/XS

#1517 Fix delete test folders in clean target
  Makefile
Labels: approved, lgtm, size/XS

#1519 Specify namespace when describing deployments
  test/framework/flux.go
Labels: approved, lgtm, size/XS

#1434 Add CNIConfig type
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_defaults.go
  pkg/api/v1alpha1/cluster_defaults_test.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/dependencies/factory.go
  pkg/validations/upgradevalidations/immutableFields.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
Labels: approved, lgtm, size/XL

#1490 Ensure e2e test hardware is powered off before tinkerbell tests
  cmd/eksctl-anywhere/cmd/generatehardware.go
  go.mod
  pkg/providers/tinkerbell/hardware/machine.go
  pkg/providers/tinkerbell/mocks/client.go
  pkg/providers/tinkerbell/pbnj/client.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/validator.go
  test/e2e/simpleflow_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/L

#1522 Simplify machine tee writer
  cmd/eksctl-anywhere/cmd/generatehardware.go
  pkg/providers/tinkerbell/hardware/multi.go
  pkg/providers/tinkerbell/hardware/multi_test.go
  pkg/providers/tinkerbell/hardware/tee.go
Labels: approved, lgtm, size/M

#1523 include GOVC_INSECURE env var in test environment
  test/framework/vsphere.go
Labels: approved, lgtm, size/XS

#1525 Revert "Specify namespace when describing deployments"
  test/framework/flux.go
Labels: approved, lgtm, size/XS

#1513 Snow context unware defaults and validations
  config/crd/bases/anywhere.eks.amazonaws.com_snowdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_snowmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  designs/snow-integration.md
  pkg/api/v1alpha1/snowdatacenterconfig_types.go
  pkg/api/v1alpha1/snowmachineconfig.go
  pkg/api/v1alpha1/snowmachineconfig_test.go
  pkg/api/v1alpha1/snowmachineconfig_types.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/zz_generated.deepcopy.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/cluster/config.go
  pkg/cluster/config_manager.go
  pkg/cluster/default_manager.go
  pkg/cluster/parse_test.go
  pkg/cluster/snow.go
  pkg/cluster/testdata/cluster_snow_1_21.yaml
  pkg/providers/snow/api/v1beta1/zz_generated.deepcopy.go
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/snow_test.go
  pkg/providers/snow/testdata/expected_results_main_cp.yaml
  pkg/providers/snow/testdata/expected_results_main_md.yaml
Labels: approved, lgtm, size/XL

#1516 Mutable fields doc change for oidc and users
  docs/content/en/docs/tasks/cluster/cluster-flux.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
Labels: documentation, approved, lgtm, size/M

#1529 CloudStack branch support for release
  release/pkg/generate_spec.go
Labels: approved, lgtm, size/XS

#1527 Update cluster Defaulter to return error
  pkg/cluster/awsiam.go
  pkg/cluster/cluster.go
  pkg/cluster/config_manager.go
  pkg/cluster/config_manager_test.go
  pkg/cluster/defaults.go
  pkg/cluster/defaults_test.go
  pkg/cluster/gitops.go
  pkg/cluster/manager_entry.go
  pkg/cluster/manager_entry_test.go
  pkg/cluster/snow.go
  pkg/cluster/vsphere.go
Labels: approved, lgtm, size/M

#1515 Embed `cluster.Config` in `cluster.Spec`
  internal/test/cluster.go
  pkg/addonmanager/addonclients/fluxaddonclient.go
  pkg/addonmanager/addonclients/fluxaddonclient_test.go
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path-management.yaml
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path-workload.yaml
  pkg/addonmanager/addonclients/testdata/cluster-config-user-provided-path.yaml
  pkg/cluster/config.go
  pkg/cluster/spec.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermarshaller/clustermarshaller_test.go
  pkg/validations/upgradevalidations/immutableFields.go
Labels: approved, lgtm, size/L

#1531 Don't set defaults when generating clusterconfig
  pkg/api/v1alpha1/cluster.go
Labels: approved, lgtm, size/XS

#1419 Modify resizing disk for Bottlerocket templates based on Kube version
  pkg/executables/govc.go
  pkg/providers/vsphere/internal/templates/factory.go
  pkg/providers/vsphere/internal/templates/mocks/govc.go
Labels: approved, lgtm, size/M

#1530 Pull eks-d manifest in the controller for workload clusters
  pkg/cluster/fetch.go
Labels: approved, lgtm, size/XS

#1533 Specify namespace when describing deployments (#1519)
  test/framework/flux.go
Labels: approved, lgtm, size/XS

#1535 Modify worker node checks for e2e
  test/framework/flux.go
Labels: approved, lgtm, size/S

#1537 flux test, increase timeout when waiting for scaling
  test/framework/flux.go
Labels: approved, size/XS

#1532 Add tests for 1.22 Bottlerocket
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/labels_test.go
  test/e2e/multiple_worker_node_groups_test.go
  test/e2e/proxy_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/simpleflow_test.go
  test/e2e/taints_test.go
  test/e2e/upgrade_test.go
  test/e2e/vsphere_autoimport_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#1540 add br 1-22 template to buildspec
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#1536 Utilize clusterSpec.config to dynamically fetch snow objects
  pkg/api/v1alpha1/snowmachineconfig.go
  pkg/api/v1alpha1/snowmachineconfig_test.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/diagnostics/diagnostic_bundle.go
  pkg/diagnostics/diagnostic_bundle_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/docker/docker.go
  pkg/providers/factory/providerfactory.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#1538 Validate input for cilium policy enforcement mode
  go.mod
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/cluster_types.go
Labels: approved, lgtm, size/L

#1539 Generate network policy based on cluster spec and provider
  pkg/networking/cilium/network_policy.yaml
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
  pkg/networking/cilium/testdata/network_policy_mgmt_capt_flux.yaml
  pkg/networking/cilium/testdata/network_policy_mgmt_capv.yaml
  pkg/networking/cilium/testdata/network_policy_workload_120.yaml
  pkg/networking/cilium/testdata/network_policy_workload_121.yaml
Labels: approved, lgtm, size/XL

#1541 Always validate on tinkerbell hardware generate
  cmd/eksctl-anywhere/cmd/generatehardware.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#1547 Remove string until we fix running multiple e2e tests on one ec2 inst…
  internal/test/e2e/run.go
Labels: approved, lgtm, size/XS

#1550 Fix Audit log constant error on api-server
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_proxy_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_cp.yaml
Labels: approved, lgtm, size/M

#1549 Remove 1-22 feature flag
  docs/content/en/docs/reference/changelog.md
  pkg/features/features.go
  pkg/validations/cluster.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/flux_test.go
  test/e2e/labels_test.go
  test/e2e/multiple_worker_node_groups_test.go
  test/e2e/oidc_test.go
  test/e2e/proxy_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/simpleflow_test.go
  test/e2e/stackedetcd_test.go
  test/e2e/taints_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/upgrade_test.go
  test/e2e/vsphere_autoimport_test.go
Labels: documentation, approved, lgtm, size/L

#1534 Ensure hardware is properly decommissioned post cluster deletion
  internal/pkg/api/hardware.go
  test/e2e/simpleflow_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#1554 Make verify-ssl optional and Add unit tests for decoder.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/decoder/decoder.go
  pkg/providers/cloudstack/decoder/decoder_test.go
Labels: approved, lgtm, size/L

#1555 Update CAPAS API to reflect latest updates
  pkg/api/v1alpha1/thirdparty/tinkerbell/zz_generated.deepcopy.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/providers/snow/api/v1beta1/awssnowcluster_types.go
  pkg/providers/snow/api/v1beta1/awssnowmachine_types.go
  pkg/providers/snow/api/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, size/M

#1557 e2e test: increase concurrency
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#1559 Create NetworkPolicy if required during cilium upgrade
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/networking/cilium/upgrader.go
  pkg/networking/cilium/upgrader_test.go
  pkg/networking/kindnetd/upgrader.go
  pkg/networking/kindnetd/upgrader_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/upgrade_test.go
Labels: approved, lgtm, size/L

#1561 Change default to 1.22
  pkg/api/v1alpha1/cluster.go
Labels: approved, lgtm, size/XS

#1564 Modify policy enforcement changed check to include clusters created from 0.7
  pkg/networking/cilium/upgrader.go
Labels: approved, lgtm, size/S

#1565 Check if ciliumConfig on older cluster spec is nil before upgrade
  pkg/networking/cilium/upgrader.go
  pkg/networking/cilium/upgrader_test.go
Labels: approved, lgtm, size/M

#1455 Added Kubernetes validation for Tinkerbell hardware name field
  pkg/providers/tinkerbell/hardware/config.go
  pkg/providers/tinkerbell/hardware/validator.go
Labels: approved, lgtm, size/XS

#1551 Vsphere rm session cmd
  cmd/eks-a-tool/cmd/vspherelogoutsessions.go
Labels: approved, lgtm, size/L

#1576 command to fetch logs from the provider proxy
  test/e2e/tools/eks-anywhere-test-tool/cmd/fetchProviderProxyLogs.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/cloudwatch/cloudwatch.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/constants/constants.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/providerProxy/logFetcher.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/providerProxy/requestWriter.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/providerProxy/vsphereSessions.go
Labels: approved, lgtm, size/L

#1575 Fix docker e2e gitops test by reading datacenter config from repo
  test/e2e/workload_clusters_test.go
  test/framework/docker.go
Labels: approved, lgtm, size/XS

#1543 Rework ip uniqueness checks
  pkg/networkutils/ipgenerator.go
  pkg/networkutils/ipgenerator_test.go
  pkg/networkutils/networkutils.go
  pkg/networkutils/networkutils_test.go
  pkg/networkutils/uniqueip.go
  pkg/providers/tinkerbell/validator.go
  pkg/providers/vsphere/validator.go
Labels: approved, lgtm, size/L

#1582 update release branch makefile to target correct branch bundle
  Makefile
Labels: approved, lgtm, size/XS

#1570 Update provider setup error message
  pkg/providers/factory/providerfactory.go
  pkg/providers/factory/providerfactory_test.go
Labels: approved, lgtm, size/XS

#1581 Print command output before returning error
  release/pkg/images/images.go
  release/pkg/prepare_release.go
Labels: approved, lgtm, size/S

#1568 Import cilium chart as part of import-images
  cmd/eksctl-anywhere/cmd/downloadartifacts.go
  cmd/eksctl-anywhere/cmd/importimages.go
  pkg/executables/helm.go
  pkg/executables/helm_test.go
  release/api/v1alpha1/artifact_types.go
  release/api/v1alpha1/artifacts.go
Labels: approved, lgtm, size/L

#1588 Add support to upgrade Kubernetes version through GitOps for Docker
  controllers/controllers/resource/fetcher.go
  controllers/controllers/resource/mocks/resource.go
  controllers/controllers/resource/template.go
  controllers/main.go
  go.mod
  go.sum
Labels: approved, lgtm, size/L

#1567 Fix ip generator rand source
  pkg/networkutils/ipgenerator.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/artifacts/artifactFetcher.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/s3/s3.go
Labels: approved, lgtm, size/S

#1590 use injected git dev version for tests
  test/framework/flux.go
Labels: approved, lgtm, size/XS

#1566 Adding necessary cloudstack functionality into kubectl
  go.mod
  go.sum
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/L

#1596 bump staging bundle build release trigger for release v0.8.0
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#1597 Fix Audit log constant error on api-server
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_proxy_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_cp.yaml
Labels: approved, lgtm, size/M

#1606 Remove CAPC asset packaging in prod releases
  release/pkg/generate_spec.go
Labels: approved, size/XS

#1598 Adding validation on managementApiEndpoints to be consistent
  pkg/providers/cloudstack/testdata/cluster_main.yaml
  pkg/providers/cloudstack/testdata/cluster_mirror_config.yaml
  pkg/providers/cloudstack/testdata/cluster_mirror_with_cert_config.yaml
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, size/M

#1504 Adding Packages to Release bundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_package_controller.go
  release/pkg/generate_spec.go
Labels: approved, lgtm, size/L

#1608 Add registry mirror feature to snow
  pkg/clusterapi/apibuilder.go
  pkg/clusterapi/apibuilder_test.go
  pkg/clusterapi/config/containerd_config_append.toml
  pkg/clusterapi/registryMirror.go
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/snow.go
Labels: approved, lgtm, size/L

#1474 Add AWS logo for conformance
  docs/static/AWS_logo_RGB.svg
Labels: documentation, approved, lgtm, size/M

#1464 Remove expired 1.20 conformance
  docs/static/certified-kubernetes-1.20-color.svg
Labels: documentation, approved, lgtm, size/XS

#1609 Remove need for auth with helm
  cmd/eksctl-anywhere/cmd/importimages.go
  pkg/executables/helm.go
Labels: approved, lgtm, size/S

#1615 Add timeout between performing upgrade on workload cluster, and delet…
  test/e2e/workload_clusters_test.go
Labels: approved, lgtm, size/XS

#1617 Add changelog for v0.7.2
  docs/content/en/docs/reference/changelog.md
Labels: documentation, approved, lgtm, size/XS

#1611 bump staging CLI release triggers for release v0.8.0
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#1621 Add changelog for v0.7.2 (#1617)
  docs/content/en/docs/reference/changelog.md
Labels: documentation, approved, lgtm, size/XS

#1394 Use bundlesRef instead of eksdReleaseRef to get eksd bundle
  designs/embed_eksd_manifest.md
Labels: approved, lgtm, size/S
