Repository aws/eks-anywhere, pull requests merged in 2022-07, with the labels that each got.

#2640 Adds wait for not ready for external etcd before upgrade
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/L

#2641 proper handling of dotted notations so helm can recognize and overrid…
  pkg/curatedpackages/configurationclient.go
  pkg/curatedpackages/configurationclient_test.go
  pkg/curatedpackages/packageclient.go
Labels: approved, lgtm, size/M

#2644 Remove kube-vip docs, point to metallb package docs
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/content/en/docs/reference/baremetal/bare-prereq.md
  docs/content/en/docs/reference/vsphere/vsphere-prereq.md
  docs/content/en/docs/tasks/cluster/cluster-integrations.md
  docs/content/en/docs/tasks/workload/ingress.md
  docs/content/en/docs/tasks/workload/loadbalance/_index.md
  docs/content/en/docs/tasks/workload/loadbalance/kubevip/_index.md
  docs/content/en/docs/tasks/workload/loadbalance/kubevip/arp.md
  docs/content/en/docs/tasks/workload/loadbalance/kubevip/bgp.md
  docs/content/en/docs/tasks/workload/loadbalance/metallb.md
Labels: approved, lgtm, size/XL, area/docs, documentation

#2650 Fix local environment doc links
  docs/content/en/docs/getting-started/local-environment/_index.md
Labels: approved, lgtm, size/XS, documentation

#2652 Fixed loadbalancer info in comparison table
  docs/content/en/docs/concepts/eksafeatures.md
Labels: approved, lgtm, size/XS, documentation

#2645 Update Makefile for M1 mac user
  Makefile
Labels: approved, lgtm, needs-ok-to-test, size/XS

#2655 Enabling Tinkerbell e2e tests on main branch
  internal/test/e2e/run.go
Labels: approved, lgtm, size/XS

#2658 Remove unused variable in Tiltfile
  controllers/Tiltfile
Labels: approved, lgtm, size/XS

#2642 Fix tuftool command docs
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/XS, documentation

#2643 Cleaning up docs after Bare Metal GA
  docs/content/en/docs/community/docs_contributing.md
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/overview/_index.md
  docs/content/en/docs/reference/faq/_index.md
  docs/content/en/docs/tasks/_index.md
  docs/content/en/docs/workshops/_index.md
  docs/content/en/docs/workshops/introduction/overview.md
  docs/content/en/docs/workshops/provision/vsphere.md
Labels: approved, lgtm, size/M, area/docs, documentation

#2559 Support Cloudstack multiple endpoint for preflight checks
  internal/test/cleanup/cleanup.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/dependencies/testdata/cloudstack_config_multiple_profiles.ini
  pkg/executables/builder.go
  pkg/executables/cmk.go
  pkg/executables/cmk_cmd_builder.go
  pkg/executables/cmk_test.go
  pkg/executables/config/cmk.ini
  pkg/executables/testdata/cmk_list_network_multiple.json
  pkg/executables/testdata/cmk_list_network_none.json
  pkg/executables/testdata/cmk_list_template_multiple.json
  pkg/executables/testdata/cmk_list_template_none.json
  pkg/executables/testdata/cmk_list_zone_multiple.json
  pkg/executables/testdata/cmk_list_zone_none.json
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/decoder/decoder.go
  pkg/providers/cloudstack/decoder/decoder_test.go
  pkg/providers/cloudstack/mocks/client.go
  pkg/providers/cloudstack/testdata/cloudstack_config_invalid_format.ini
  pkg/providers/cloudstack/testdata/cloudstack_config_invalid_verifyssl.ini
  pkg/providers/cloudstack/testdata/cloudstack_config_missing_apikey.ini
  pkg/providers/cloudstack/testdata/cloudstack_config_missing_apiurl.ini
  pkg/providers/cloudstack/testdata/cloudstack_config_missing_secretkey.ini
  pkg/providers/cloudstack/testdata/cloudstack_config_missing_verifyssl.ini
  pkg/providers/cloudstack/testdata/cloudstack_config_multiple_profiles.ini
  pkg/providers/cloudstack/testdata/cloudstack_config_no_sections.ini
  pkg/providers/cloudstack/testdata/cloudstack_config_valid.ini
  pkg/providers/cloudstack/testdata/cluster_invalid.yaml
  pkg/providers/cloudstack/testdata/cluster_main_with_availability_zones.yaml
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_test.go
  release/go.sum
  release/pkg/generate_spec.go
  release/pkg/test/testdata/main-bundle-release.yaml
  test/e2e/tools/eks-anywhere-test-tool/go.sum
Labels: approved, lgtm, size/XXL

#2664 Update proxy config secret keys
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#2667 basic harbor e2e test
  test/e2e/harbor_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#2673 Adding check before move to make sure workload clusters are ready using kubectl wait
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/types/resources.go
Labels: approved, lgtm, size/L

#2679 Bumping bundle staging for release v0.10.1
  release/pkg/test/testdata/release-0.10-bundle-release.yaml
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/L

#2670 Snow machine config validation webhook for static validations
  config/manifest/eksa-components.yaml
  config/webhook/manifests.yaml
  pkg/api/v1alpha1/snowmachineconfig_webhook.go
  pkg/api/v1alpha1/snowmachineconfig_webhook_test.go
Labels: approved, lgtm, size/L

#2684 Bumping up eks-a release version
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#1983 Troubleshooting documentation for DHCP problems
  docs/content/en/docs/tasks/troubleshoot/troubleshooting.md
Labels: approved, lgtm, size/S, documentation

#2691 Updating prod eks-a cli release versions
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#2690 Adding changelog for v0.10.1
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#2693 Updating artifacts for release v0.10.1
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/M, documentation

#2698 Updating brew for EKS-A v0.10.1
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.10-bundle-release.yaml
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/L

#2705 Update the default ubuntu tinkerbell template in docs
  docs/content/en/docs/reference/clusterspec/baremetal.md
Labels: approved, lgtm, size/M, documentation

#2713 Add sow machine config immutable field validation
  pkg/providers/snow/mocks/client.go
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
Labels: approved, lgtm, size/L

#2686 Create cluster mutation webhook
  PROJECT
  config/manifest/eksa-components.yaml
  config/webhook/manifests.yaml
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
Labels: approved, lgtm, size/M

#2711 Add controllers Factory
  Makefile
  controllers/factory.go
  controllers/factory_test.go
  controllers/mocks/factory.go
  controllers/vsphere_datacenter_controller.go
  manager/main.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
Labels: approved, lgtm, size/XL

#2716 Move machineDeploymentsToDelete out of provider code
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/L

#2721 Add machine health check for snow
  pkg/clusterapi/machine_health_check.go
  pkg/clusterapi/machine_health_check_test.go
  pkg/clusterapi/name.go
  pkg/clusterapi/name_test.go
  pkg/clustermanager/cluster_manager.go
  pkg/executables/builder.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/objects.go
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
  pkg/providers/snow/testdata/expected_results_machine_health_check.yaml
  pkg/providers/tinkerbell/template.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
Labels: approved, lgtm, size/L

#2720 Add time buffer for the package to get installed
  test/e2e/curated_packages_test.go
  test/e2e/harbor_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/S

#2692 Fix bug of textAnalyzer
  pkg/diagnostics/analyzers.go
  pkg/diagnostics/analyzers_test.go
Labels: approved, lgtm, ok-to-test, size/S

#2731 Fix snow upgrade
  pkg/clients/kubernetes/scheme.go
  pkg/providers/snow/objects_test.go
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
Labels: approved, lgtm, size/M

#2733 Redact GITHUB_TOKEN env var in logs
  pkg/api/v1alpha1/thirdparty/tinkerbell/zz_generated.deepcopy.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/executables/executables.go
  pkg/executables/flux.go
  pkg/providers/snow/api/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, size/XS

#2735 Update bundle release unit test file
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#2728 Validate worker node group count
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/api/v1alpha1/testdata/cluster_invalid_worker_node_count.yaml
Labels: approved, lgtm, size/L

#2738 Add e2e tests for snow
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  internal/pkg/api/snow.go
  internal/pkg/api/snowmachines.go
  test/e2e/labels_test.go
  test/e2e/multiple_worker_node_groups_test.go
  test/e2e/simpleflow_test.go
  test/e2e/taints_test.go
  test/e2e/upgrade_test.go
  test/framework/snow.go
Labels: approved, lgtm, size/L

#2725 Build provider cluster reconcilers at program init
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
  controllers/cluster_controller_legacy.go
  controllers/cluster_controller_test.go
  controllers/cluster_controller_test_test.go
  controllers/factory.go
  controllers/factory_test.go
  internal/test/envtest/environment.go
  manager/main.go
  pkg/clusterapi/providers.go
  pkg/clusterapi/providers_test.go
  pkg/controller/clusters/provider.go
  pkg/controller/clusters/registry.go
  pkg/controller/clusters/registry_test.go
  pkg/providers/docker/reconciler/reconciler.go
  pkg/providers/vsphere/reconciler/reconciler.go
Labels: approved, lgtm, size/XL

#2740 Remove snowmachine devices non empty validation
  pkg/api/v1alpha1/snowmachineconfig.go
  pkg/api/v1alpha1/snowmachineconfig_test.go
  pkg/api/v1alpha1/snowmachineconfig_webhook_test.go
Labels: approved, lgtm, size/M

#2741 Initialize pointer variable before assigning struct fields
  release/pkg/aws/ecr/ecr.go
Labels: approved, lgtm, size/XS

#2742 Get latest ECR tag for Tinkerbell charts
  release/pkg/assets/config/bundle_release.go
Labels: approved, lgtm, size/XS

#2743 Remove kube-rbac-proxy from EKS-A controller deployment
  Makefile
  config/default/kustomization.yaml
  config/default/manager_auth_proxy_patch.yaml
  config/manifest/eksa-components.yaml
  config/prod/kustomization.yaml
  config/rbac/auth_proxy_role.yaml
  config/rbac/auth_proxy_role_binding.yaml
  config/rbac/auth_proxy_service.yaml
  config/rbac/kustomization.yaml
  manager/main.go
  scripts/eksa_components_override.sh
Labels: size/L

#2746 Adding error message to error log to facilitate proxy debugging
  pkg/api/v1alpha1/cluster.go
Labels: approved, lgtm, size/XS

#2750 Add missing 'anywhere'
  docs/content/en/docs/tasks/cluster/cluster-scale/baremetal-scale.md
Labels: approved, lgtm, needs-ok-to-test, size/XS, documentation

#2377 Implement feature to rerun upgrade command
  pkg/features/features.go
  pkg/filewriter/filewriter.go
  pkg/filewriter/mocks/filewriter.go
  pkg/filewriter/writer.go
  pkg/filewriter/writer_test.go
  pkg/task/task.go
  pkg/task/task_test.go
  pkg/task/testdata/invalid-checkpoint.yaml
  pkg/task/testdata/test-cluster-checkpoint.yaml
  pkg/workflows/create_test.go
  pkg/workflows/testdata/cluster-name-checkpoint.yaml
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/XL

#2751 Generate MHC for all worker node groups on all providers
  pkg/clusterapi/machine_health_check.go
  pkg/clusterapi/machine_health_check_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/config/machine-health-check-template.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/snow/objects.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/config/machine-health-check-template.yaml
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/vsphere/config/machine-health-check-template.yaml
  pkg/providers/vsphere/testdata/expected_results_machine_health_check.yaml
  pkg/providers/vsphere/testdata/expected_results_machine_health_check_multi_node_groups.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XL

#2729 Increase support bundle pod logs collection 'since' time to 3 hours.
  pkg/clustermanager/cluster_manager.go
  pkg/diagnostics/diagnostic_bundle.go
Labels: approved, lgtm, size/XS

#2756 Add jonathanmeier5 to OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#2758 add ahreehong to OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#2405 Add instructions for running packages on workload clusters
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/tasks/packages/_index.md
Labels: approved, lgtm, size/XS, documentation

#2759 Install flux controllers during components upgrade if not exist before
  pkg/addonmanager/addonclients/fluxaddonclient.go
  pkg/addonmanager/addonclients/fluxaddonclient_test.go
  pkg/addonmanager/addonclients/upgrader.go
  pkg/addonmanager/addonclients/upgrader_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#2764 Bump snow version to v0.1.6
  pkg/providers/snow/api/v1beta1/awssnowcluster_types.go
  pkg/providers/snow/api/v1beta1/awssnowmachine_types.go
  pkg/providers/snow/api/v1beta1/types.go
  pkg/providers/snow/api/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, size/L

#2765 Don't create eksa ns using tinkerbell helm chart
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/XS

#2761 Add get packagebundlecontroller command
  cmd/eksctl-anywhere/cmd/getpackagebundlecontroller.go
Labels: approved, lgtm, size/S

#2700 Docker desktop not supported for bare metal
  docs/content/en/docs/getting-started/install/_index.md
Labels: approved, lgtm, size/XS, documentation

#2780 Replace dev release S3 bucket references with Cloudfront domain
  Makefile
  internal/test/testdata/bundles.yaml
  internal/test/testdata/bundles_template.yaml
  pkg/manifests/releases/read.go
Labels: approved, lgtm, size/L

#2330 Rerun CLI commands design doc
  designs/rerun-cli-commands.md
Labels: approved, lgtm, size/L

#2773 Fix snow upgrade bugs encountered during upgrade from beta
  pkg/clusterapi/name.go
  pkg/clusterapi/name_test.go
  pkg/constants/constants.go
  pkg/executables/clusterctl.go
  pkg/providers/snow/objects.go
  pkg/providers/snow/objects_test.go
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
Labels: approved, lgtm, size/L

#2752 Add CertManagerExits logic for PackageController Installation
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
  pkg/curatedpackages/curatedpackages.go
  pkg/curatedpackages/packageinstaller.go
  pkg/curatedpackages/packageinstaller_test.go
Labels: approved, lgtm, size/M

#2785 Implement cloudstack datacenter config validator
  pkg/api/v1alpha1/cloudstackdatacenterconfig_test.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_types.go
Labels: approved, lgtm, size/M

#2790 Add feature gate env to packages docs
  docs/content/en/docs/tasks/packages/_index.md
Labels: approved, lgtm, size/XS, documentation

#2788 Support backward compatibility cloudstack datacenter config
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/common/common.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/delete.go
  pkg/workflows/delete_test.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#2795 Rename flux package and methods
  Makefile
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
  pkg/clients/fluxclient/client.go
  pkg/dependencies/factory.go
  pkg/executables/flux.go
  pkg/executables/flux_test.go
  pkg/gitops/flux/flux.go
  pkg/gitops/flux/flux_test.go
  pkg/gitops/flux/manifests/eksa-system/kustomization.yaml
  pkg/gitops/flux/manifests/flux-system/gotk-patches.yaml
  pkg/gitops/flux/manifests/flux-system/gotk-sync.yaml
  pkg/gitops/flux/manifests/flux-system/kustomization.yaml
  pkg/gitops/flux/mocks/fluxaddonclient.go
  pkg/gitops/flux/testdata/cluster-config-default-path-management.yaml
  pkg/gitops/flux/testdata/cluster-config-default-path-workload.yaml
  pkg/gitops/flux/testdata/cluster-config-user-provided-path.yaml
  pkg/gitops/flux/testdata/gotk-patches.yaml
  pkg/gitops/flux/testdata/gotk-sync.yaml
  pkg/gitops/flux/testdata/kustomization.yaml
  pkg/gitops/flux/testdata/mock_github_token_valid.txt
  pkg/gitops/flux/upgrader.go
  pkg/gitops/flux/upgrader_test.go
Labels: approved, lgtm, size/L

#2767 Pause reconcile before upgrading core components
  controllers/resource/reconciler.go
  controllers/resource/reconciler_test.go
  controllers/resource/testdata/cloudstackCPMachineTemplate.yaml
  controllers/resource/testdata/cloudstackEtcdMachineTemplate.yaml
  controllers/resource/testdata/eksa-cluster-cloudstack-etcd.yaml
  pkg/providers/common/common.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#2799 Add Xu to OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#2800 Add AWSIamConfig resource to PROJECT file
  PROJECT
  manager/README.md
Labels: approved, lgtm, size/S

#2796 Add datacenter to govc env vars
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  internal/test/e2e/testRunner.go
  pkg/executables/govc.go
  pkg/executables/govc_test.go
  pkg/providers/vsphere/envars.go
  pkg/providers/vsphere/envars_test.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/M

#2724 Add snowmachineconfig controller
  Makefile
  controllers/factory.go
  controllers/factory_test.go
  controllers/mocks/snow_machineconfig_controller.go
  controllers/snow_machineconfig_controller.go
  controllers/snow_machineconfig_controller_test.go
  manager/main.go
  pkg/api/v1alpha1/snowmachineconfig_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/aws/creds_test.go
  pkg/aws/snow.go
  pkg/aws/snow_test.go
  pkg/aws/testdata/invalid_credentials_no_access_key
  pkg/aws/testdata/invalid_credentials_no_ips
  pkg/dependencies/factory.go
Labels: approved, lgtm, size/XL

#2807 Set govc datacenter variable for e2e tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/framework/vsphere.go
Labels: approved, lgtm, size/XS

#2793 Fix ip conflict issues during tinkerbell e2e tests
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  internal/test/e2e/ipmanager.go
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
  internal/test/e2e/tinkerbell.go
  internal/test/e2e/vsphere.go
  test/e2e/README.md
  test/framework/cluster.go
  test/framework/network.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#2787 Cluster webhook validation for create
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
Labels: approved, lgtm, size/XXL

#2801 Packages: Expanded e2e test coverage
  Makefile
  test/e2e/curated_packages_test.go
  test/e2e/harbor_test.go
Labels: approved, lgtm, size/L

#2811 Add more validation in awsiamconfig create/update webhook
  pkg/api/v1alpha1/awsiamconfig_webhook.go
  pkg/api/v1alpha1/awsiamconfig_webhook_test.go
Labels: approved, lgtm, size/M

#2815 Remove generate machine health check from provider code
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
  pkg/providers/snow/testdata/expected_results_machine_health_check.yaml
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/vsphere/testdata/expected_results_machine_health_check.yaml
  pkg/providers/vsphere/testdata/expected_results_machine_health_check_multi_node_groups.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
Labels: approved, lgtm, size/XL

#2816 Newer Ubuntu versions not supported
  docs/content/en/docs/getting-started/install/_index.md
Labels: approved, lgtm, size/XS, documentation

#2820 use envMap if set rather than setting and loading env vars
  internal/test/e2e/testRunner.go
  pkg/executables/govc.go
  pkg/executables/govc_test.go
Labels: approved, lgtm, size/M

#2821 Remove kubeVersion argument to bundle reader
  cmd/eksctl-anywhere/cmd/generatepackage.go
  cmd/eksctl-anywhere/cmd/installpackages.go
  cmd/eksctl-anywhere/cmd/listpackages.go
  cmd/eksctl-anywhere/cmd/upgradepackages.go
  pkg/curatedpackages/bundle.go
  pkg/curatedpackages/bundle_test.go
Labels: approved, lgtm, size/M

#2818 Reverting changes associated with CAPC v1beta2
  controllers/resource/fetcher.go
  controllers/resource/fetcher_test.go
  controllers/resource/testdata/cloudstackMachineDeployment.yaml
  controllers/resource/testdata/expectedCloudStackMachineDeployment.yaml
  controllers/resource/testdata/expectedCloudStackMachineDeploymentOnlyReplica.yaml
  controllers/resource/testdata/expectedCloudStackMachineDeploymentTemplateChanged.yaml
  go.mod
  go.sum
  pkg/api/v1alpha1/cloudstackdatacenterconfig_test.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_types.go
  pkg/cluster/cloudstack.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/config/template-md.yaml
  pkg/providers/cloudstack/testdata/cluster_availability_zones.yaml
  pkg/providers/cloudstack/testdata/cluster_invalid.yaml
  pkg/providers/cloudstack/testdata/expected_results_affinity_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_affinity_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_availability_zones_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_availability_zones_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_multiple_worker_node_groups.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_with_taints_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_add_worker_node_group.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_proxy_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_proxy_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_md.yaml
  pkg/providers/cloudstack/testdata/expected_secrets_multiple.yaml
  pkg/providers/cloudstack/testdata/expected_secrets_single.yaml
Labels: approved, lgtm, size/XXL

#2819 Cluster webhook validation for update
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
Labels: approved, lgtm, size/L

#2826 remove datacenter var as vm.power does not work with relative vm path…
  pkg/executables/govc.go
  pkg/executables/govc_test.go
Labels: approved, lgtm, size/S

#2829 Include documentation on Ubuntu cgroups v2
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/tasks/troubleshoot/troubleshooting.md
Labels: approved, lgtm, ok-to-test, size/S, documentation
