Repository aws/eks-anywhere, pull requests merged in 2022-09, with the labels that each got.

#3232 add runAsNonRoot flag and set to false for manager
  config/manager/manager.yaml
  config/manifest/eksa-components.yaml
Labels: approved, lgtm, size/S

#3227 group clusterOptions flags
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/flags.go
  cmd/eksctl-anywhere/cmd/options.go
  cmd/eksctl-anywhere/cmd/tinkerbell.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
Labels: approved, lgtm, size/L

#3240 bumping prod bundle release 0.11.2
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#3219 Replace deprecated run collector to run pod and Set timeout for collectors
  pkg/diagnostics/collector_types.go
  pkg/diagnostics/collectors.go
  pkg/diagnostics/collectors_test.go
Labels: approved, lgtm, needs-ok-to-test, size/S

#3242 bumping prod cli for 0.11.2
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#3189 Improved validation of kubeconfig files
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/kubeconfig/kubeconfig.go
  pkg/kubeconfig/kubeconfig_test.go
Labels: approved, lgtm, size/L

#3231 Enable CloudStack E2E tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#2730 Preflight Checks doc
  designs/images/preflight-checks-sequence.png
  designs/preflight-checks.md
Labels: approved, lgtm, size/L

#3235 Adding true multi-endpoint support for e2e tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  internal/pkg/api/cloudstack.go
  internal/pkg/api/cloudstack_test.go
  test/e2e/README.md
  test/e2e/simpleflow_test.go
  test/framework/cloudstack.go
Labels: approved, lgtm, size/M

#3251 Fix package doc typo
  docs/content/en/docs/tasks/packages/_index.md
Labels: approved, lgtm, size/XS, documentation

#3249 bumping docs for v0.11.2
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/XS, documentation

#3254 bump brew v0.11.2
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#3255 Fixes for emissary and ingress docs
  docs/content/en/docs/tasks/packages/emissary/_index.md
  docs/content/en/docs/tasks/workload/ingress.md
Labels: approved, lgtm, size/M, documentation

#3260 Add endpoints to allow list for packages
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/vsphere/domains.md
Labels: approved, lgtm, size/XS, documentation

#2824 Remove expired 1.22 certification
  README.md
Labels: approved, lgtm, size/XS

#3216 GOVC Business Logic for vSphere Setup User Command
  pkg/executables/govc.go
  pkg/executables/govc_test.go
Labels: approved, lgtm, size/L

#3164 Remove region references from docs
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/tasks/packages/_index.md
  docs/content/en/docs/tasks/troubleshoot/packages.md
Labels: approved, lgtm, size/XS, documentation

#3243 Add analyer to analyze if vms have access to api server
  pkg/diagnostics/analyzers.go
  pkg/diagnostics/collectors.go
  pkg/diagnostics/collectors_test.go
  pkg/diagnostics/config/diagnostic-collector-rbac.yaml
Labels: approved, lgtm, ok-to-test, size/L

#3262 Skip cert validator unit test for darwin
  pkg/crypto/validator_test.go
Labels: approved, lgtm, size/S

#3276 [release-0.11] Upgrading CloudStack e2e tests to use AvailabilityZones (#3133)
  internal/pkg/api/cloudstack.go
  test/e2e/upgrade_test.go
  test/framework/cloudstack.go
Labels: approved, lgtm, ok-to-test, size/M

#3281 kubeconfig: Modify FromEnvironment to handle lists
  pkg/kubeconfig/kubeconfig.go
  pkg/kubeconfig/kubeconfig_test.go
Labels: approved, lgtm, size/M

#2783 Added local registry support for baremetal
  pkg/dependencies/factory.go
  pkg/executables/config/kind.yaml
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/config/template-md.yaml
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_bottlerocket_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_bottlerocket_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_cp_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_cp_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_md_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_md_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  release/api/v1alpha1/artifacts.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.11-bundle-release.yaml
  test/e2e/proxy_test.go
Labels: approved, lgtm, size/XXL

#3257 Add Contact us link to all docs pages
  docs/config.toml
Labels: approved, lgtm, size/XS, documentation

#3241 Setup vSphere User Config Read & Validation
  pkg/providers/vsphere/setupuser/testdata/configs/empty.yaml
  pkg/providers/vsphere/setupuser/testdata/configs/missing_objects.yaml
  pkg/providers/vsphere/setupuser/testdata/configs/not_yaml.yaml
  pkg/providers/vsphere/setupuser/testdata/configs/valid.yaml
  pkg/providers/vsphere/setupuser/testdata/configs/valid_minimal.yaml
  pkg/providers/vsphere/setupuser/validator.go
  pkg/providers/vsphere/setupuser/validator_test.go
  pkg/validations/errors.go
Labels: approved, lgtm, size/L

#3287 Clean up unused tinkerbell tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/oidc_test.go
  test/e2e/simpleflow_test.go
  test/e2e/tinkerbell_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/M

#3278 Update BundlesRef when building a Spec from file
  pkg/cluster/spec.go
  pkg/cluster/spec_test.go
Labels: approved, lgtm, size/S

#3285 hardware-csv is an optional flag for bare metal upgrade command
  cmd/eksctl-anywhere/cmd/constants.go
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/flags.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
Labels: approved, lgtm, size/S

#3279 Update docs with curated packages installation during cluster creation
  docs/content/en/docs/getting-started/local-environment/_index.md
Labels: approved, lgtm, size/M, documentation

#3299 style(CLI): reorganize "list packages" command's flags
  cmd/eksctl-anywhere/cmd/listpackages.go
Labels: approved, lgtm, size/S

#3246 Add new workflow definition framework
  Makefile
  pkg/workflow/context.go
  pkg/workflow/error.go
  pkg/workflow/hook.go
  pkg/workflow/management/create.go
  pkg/workflow/management/delete.go
  pkg/workflow/management/task.go
  pkg/workflow/management/upgrade.go
  pkg/workflow/task.go
  pkg/workflow/task_mock_test.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
  pkg/workflow/workload/create.go
  pkg/workflow/workload/delete.go
  pkg/workflow/workload/task.go
  pkg/workflow/workload/upgrade.go
Labels: approved, lgtm, size/XL

#3301 add govulncheck make target
  Makefile
Labels: approved, lgtm, size/S

#3304 feat(CLI): Add --kubeconfig flag to curated packages commands
  cmd/eksctl-anywhere/cmd/applypackages.go
  cmd/eksctl-anywhere/cmd/createpackages.go
  cmd/eksctl-anywhere/cmd/deletepackages.go
  cmd/eksctl-anywhere/cmd/describepackages.go
  cmd/eksctl-anywhere/cmd/get.go
  cmd/eksctl-anywhere/cmd/getpackage.go
  cmd/eksctl-anywhere/cmd/getpackagebundle.go
  cmd/eksctl-anywhere/cmd/getpackagebundlecontroller.go
  cmd/eksctl-anywhere/cmd/installpackages.go
  cmd/eksctl-anywhere/cmd/listpackages.go
  cmd/eksctl-anywhere/cmd/upgradepackages.go
Labels: approved, lgtm, size/L

#3308 Run snow machine validation and defaulters for the specific devices
  pkg/providers/snow/defaults.go
  pkg/providers/snow/defaults_test.go
  pkg/providers/snow/validator.go
  pkg/providers/snow/validator_test.go
Labels: approved, lgtm, size/M

#3310 artifacts.md: update checksum for Bottlerocket's new root.json
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, ok-to-test, size/XS, documentation

#3245 Add support for weekly bundle creation and Github release
  release/Makefile
  release/api/v1alpha1/artifacts.go
  release/buildspecs/github-bundle-release.yml
  release/cmd/release.go
  release/pkg/assets/archives/archives_test.go
  release/pkg/assets/images/images_test.go
  release/pkg/assets/manifests/manifests_test.go
  release/pkg/bundles/bundles.go
  release/pkg/bundles/eksctl-anywhere.go
  release/pkg/constants/constants.go
  release/pkg/filereader/file_reader.go
  release/pkg/images/images.go
  release/pkg/operations/bundle_release_test.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.11-bundle-release.yaml
  release/pkg/types/types.go
  release/pkg/util/artifacts/artifacts.go
  release/pkg/util/release/release.go
  release/scripts/github-bundle-release-notes.tmpl
  release/scripts/github-bundle-release.sh
  release/scripts/release.sh
Labels: approved, lgtm, size/L

#3288 Handle Nutanix Provider in create cluster and generate clusterconifg commands
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
  pkg/constants/constants.go
  pkg/features/features.go
  pkg/features/features_test.go
Labels: approved, lgtm, ok-to-test, size/M

#3312 Fix workernode inconsistency upgrade
  controllers/resource/fetcher.go
  controllers/resource/fetcher_test.go
Labels: approved, lgtm, size/M

#3306 Preflights for Tinkerbell IP
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/cluster.go
  pkg/providers/tinkerbell/cluster_spec_builder_test.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_awsiam.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_bottlerocket_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_bottlerocket_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_external_etcd.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_full_oidc.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_minimal_oidc.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_missing_ssh_keys.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_multiple_node_groups.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_node_labels.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_node_taints.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_stacked_etcd.yaml
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/L

#2625 Updating cluster workflow docs to add bare metal
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/static/images/eksa-baremetal-continue.png
  docs/static/images/eksa-baremetal-continue.svg
  docs/static/images/eksa-baremetal-delete.png
  docs/static/images/eksa-baremetal-delete.svg
  docs/static/images/eksa-baremetal-start.png
  docs/static/images/eksa-baremetal-start.svg
  docs/static/images/eksa-continue.png
  docs/static/images/eksa-continue.svg
  docs/static/images/eksa-delete.png
  docs/static/images/eksa-delete.svg
  docs/static/images/eksa-start.png
  docs/static/images/eksa-start.svg
Labels: approved, lgtm, size/XXL, area/docs, documentation

#3303 Added NTP out of sync issue warning
  docs/content/en/docs/tasks/troubleshoot/troubleshooting.md
Labels: approved, lgtm, needs-ok-to-test, ok-to-test, size/XS, documentation

#3321 Allow workerNodeGroupConfigs to be empty
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/testdata/cluster_without_worker_nodes.yaml
  pkg/api/v1alpha1/testdata/cluster_without_worker_nodes_has_cp_taints.yaml
Labels: approved, lgtm, size/L

#3314 Add validations with snowballdevice sdk
  Makefile
  controllers/mocks/snow_machineconfig_controller.go
  controllers/snow_machineconfig_controller.go
  controllers/snow_machineconfig_controller_test.go
  pkg/aws/client.go
  pkg/aws/mocks/snowballdevice.go
  pkg/aws/snowballdevice.go
  pkg/aws/snowballdevice_test.go
  pkg/providers/snow/aws.go
  pkg/providers/snow/entry.go
  pkg/providers/snow/mocks/aws.go
  pkg/providers/snow/snow_test.go
  pkg/providers/snow/validator.go
  pkg/providers/snow/validator_test.go
Labels: approved, lgtm, size/L

#3317 Upload EKS-A release manifest as part of weekly release
  release/Makefile
  release/cmd/release.go
  release/pkg/filereader/file_reader.go
  release/pkg/git/git.go
  release/pkg/images/images.go
  release/pkg/operations/upload.go
  release/pkg/util/artifacts/artifacts.go
  release/scripts/github-bundle-release-notes.tmpl
  release/scripts/github-bundle-release.sh
Labels: approved, lgtm, size/M

#3244 Package proxy fix
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
  pkg/curatedpackages/mocks/packageinstaller.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/packageinstaller.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
Labels: approved, lgtm, size/L

#3326 Enable node autoscaling option with Cluster Autoscaler
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/clusterapi/apibuilder.go
  pkg/clusterapi/apibuilder_test.go
  pkg/clusterapi/autoscaler.go
  pkg/clusterapi/autoscaler_test.go
  pkg/providers/snow/apibuilder_test.go
Labels: approved, lgtm, size/L

#3329 Add snowmachineconfig device non empty validation
  pkg/api/v1alpha1/snowmachineconfig.go
  pkg/api/v1alpha1/snowmachineconfig_test.go
  pkg/api/v1alpha1/snowmachineconfig_webhook_test.go
Labels: approved, lgtm, size/M

#3330 Add comment for ignoring error
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
Labels: approved, lgtm, size/S

#3331 Fixing release bundles
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/M

#3247 Adding validation to bundleRef
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/providers/snow/reconciler/reconciler_test.go
  release/pkg/bundles/bundles.go
Labels: approved, lgtm, size/M

#3333 [release-0.11] Adding validation to bundleRef (#3247)
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  release/pkg/bundles/bundles.go
Labels: approved, lgtm, size/M

#3327 [release-0.11] Changes to enable kube-rbac-proxy on CloudStack cluster controller's metrics port
  internal/test/testdata/bundles.yaml
  internal/test/testdata/bundles_template.yaml
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/executables/config/clusterctl.yaml
  pkg/executables/testdata/clusterctl_expected.yaml
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
Labels: approved, lgtm, size/M

#3340 Disabing Cloudstack UpgradeFromLatestMinor test
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#3323 Upgrade bmc wait check after CAPI move
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/vsphere/vsphere.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/M

#3342 Fetch only repo tags that match semver
  release/pkg/git/git.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.11-bundle-release.yaml
Labels: approved, lgtm, size/XXL

#3346 Remove bundlesRef downgrade validation temporarily
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
Labels: approved, lgtm, size/M

#3339 Mention namespace creation in metallb docs
  docs/content/en/docs/tasks/packages/metallb/_index.md
Labels: approved, lgtm, size/XS, documentation

#3250 Add cluster lifecycle providers integration guide
  docs/developer/cluster-lifecycle-api-provider-integration.md
Labels: approved, lgtm, size/M, documentation

#3289 Handle the nutanix provider case in cluster reconciler
  controllers/resource/reconciler.go
  controllers/resource/reconciler_test.go
  controllers/resource/template.go
  controllers/resource/testdata/nutanix/cpMachineConfig.yaml
  controllers/resource/testdata/nutanix/datacenterConfig.yaml
  controllers/resource/testdata/nutanix/eksa-cluster.yaml
  controllers/resource/testdata/nutanix/etcdMachineConfig.yaml
  controllers/resource/testdata/nutanix/workerMachineConfig.yaml
Labels: approved, lgtm, ok-to-test, size/XL

#3334 Redact snow creds in verbose logs
  pkg/config/config.go
  pkg/constants/constants.go
  pkg/dependencies/factory.go
  pkg/executables/dockerlinux.go
  pkg/executables/executables.go
  pkg/executables/executables_test.go
Labels: approved, lgtm, size/M

#3217 Improve local builds of controller manager image
  Makefile
  build/Dockerfile
  config/tilt/kustomization.yaml
  manager/.gitignore
  manager/Tiltfile
  manager/docker/linux/eks-anywhere-cluster-controller/Dockerfile
Labels: approved, lgtm, size/L

#3350 trigger staging 11.3
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#3352 Add Cavaughn to OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#3353 Update OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#3354 Trigger staging v0.11.3 CLI release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#3356 Fixing dockerfile path for eks a tools
  manager/docker/linux/eks-anywhere-cluster-controller/Dockerfile
Labels: approved, lgtm, size/XS

#3359 take bundle override into account when generating cluster spec during…
  test/framework/flux.go
Labels: approved, lgtm, size/XS

#3363 trigger 11.3 prod bundle release
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#3337 Add snow identityRef support
  config/crd/bases/anywhere.eks.amazonaws.com_snowdatacenterconfigs.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/snowdatacenterconfig_test.go
  pkg/api/v1alpha1/snowdatacenterconfig_types.go
  pkg/api/v1alpha1/snowmachineconfig_test.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/clients/kubernetes/mocks/kubectl.go
  pkg/clients/kubernetes/unauth.go
  pkg/clients/kubernetes/unauth_test.go
  pkg/cluster/build.go
  pkg/cluster/config.go
  pkg/cluster/snow.go
  pkg/cluster/snow_test.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/snow/api/v1beta1/zz_generated.deepcopy.go
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/creds.go
  pkg/providers/snow/defaults.go
  pkg/providers/snow/entry.go
  pkg/providers/snow/fetch.go
  pkg/providers/snow/mocks/client.go
  pkg/providers/snow/name.go
  pkg/providers/snow/objects.go
  pkg/providers/snow/objects_test.go
  pkg/providers/snow/reconciler/reconciler_test.go
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
  pkg/providers/snow/testdata/expected_results_main_cp.yaml
  pkg/providers/tinkerbell/delete.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/delete.go
  pkg/workflows/delete_test.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/XL

#3366 Trigger staging CLI release to test #3364
  release/triggers/eks-a-release/development/RELEASE_NUMBER
Labels: approved, lgtm, size/XS

#3365 Trigger prod v0.11.3 CLI release
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#3362 Remove CoreDNS role patch
  Makefile
  pkg/bootstrapper/bootstrapper.go
  pkg/bootstrapper/bootstrapper_test.go
  pkg/cluster/apply.go
  pkg/cluster/apply_test.go
  pkg/cluster/extraobjects.go
  pkg/cluster/extraobjects_test.go
  pkg/cluster/mocks/client.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/providers/vsphere/reconciler/reconciler.go
Labels: approved, lgtm, size/L

#3371 ECR repo name change for Tilt
  manager/README.md
Labels: approved, lgtm, size/XS

#3351 Improve logging in eks-a e2e test runner
  cmd/integration_test/cmd/run.go
  internal/pkg/ssm/command.go
  internal/test/e2e/artifacts.go
  internal/test/e2e/awsiam.go
  internal/test/e2e/cloudstack.go
  internal/test/e2e/flux.go
  internal/test/e2e/fluxGit.go
  internal/test/e2e/ipmanager.go
  internal/test/e2e/oidc.go
  internal/test/e2e/proxy.go
  internal/test/e2e/registryMirror.go
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
  internal/test/e2e/testRunner.go
  internal/test/e2e/tinkerbell.go
  internal/test/e2e/vsphere.go
Labels: approved, lgtm, size/L

#3367 Add snowballdevice endpoint
  pkg/aws/client_test.go
  pkg/aws/snow.go
Labels: approved, lgtm, size/M

#3373 Allow no-change updates for management clusters
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
Labels: approved, lgtm, size/M

#3374 Bumping release number to release v0.11.3
  release/triggers/eks-a-release/production/RELEASE_NUMBER
Labels: approved, lgtm, size/XS

#3375 bump brew 0.11.3
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#3376 Set logger in ip manager
  internal/test/e2e/ipmanager.go
Labels: approved, lgtm, size/XS

#3377 Update v0.11.3 in docs
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/M, documentation

#3378 Update v0.11.3 in docs
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/M, documentation

#3369 Apply eksd manifest for each kubernetes version to cluster
  pkg/eksd/installer.go
  pkg/eksd/installer_test.go
  pkg/eksd/upgrader_test.go
Labels: approved, lgtm, size/L

#3384 Prerequisite changes for CloudStack Lifecycle API Controller
  Makefile
  build/lib/organize_binaries.sh
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackmachineconfigs.yaml
  pkg/api/v1alpha1/cloudstackdatacenterconfig_types.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_webhook.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_webhook_test.go
  pkg/api/v1alpha1/cloudstackmachineconfig_types.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook_test.go
Labels: approved, lgtm, size/L

#3389 Refactor validation language
  designs/autoscaler.md
Labels: approved, lgtm, size/XS

#3357 Add preflight to check port availability on the host for baremetal
  pkg/networkutils/networkutils.go
  pkg/networkutils/networkutils_test.go
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/validate.go
Labels: approved, lgtm, size/L

#3358 Pass empty taints to cluster-api when there is no worker node
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_single_node.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node.yaml
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/L

#3395 Update eksd release
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#3388 Add docker provider autoscaling config
  pkg/providers/docker/config/template-md.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/docker/testdata/valid_autoscaler_deployment_md_expected.yaml
Labels: approved, lgtm, size/M

#3398 Fix E2E tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#3396 vSphere Autoscaling Annotations
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/testdata/cluster_minimal_autoscaling.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_autoscaling_md.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#3399 Fix iam auth role upgrades
  controllers/resource/fetcher.go
  pkg/cluster/fetch.go
  pkg/cluster/fetch_test.go
  pkg/cluster/spec.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
Labels: approved, lgtm, size/L

#3401 Fix bottlerocket tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#3382 Adding quotes for datacenter field
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_controller_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provder_and_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provider_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_multiple_worker_node_groups.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_md.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_add_worker_node_group.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_autoscaling_md.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_md.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/testdata/original_077.yaml
Labels: approved, lgtm, ok-to-test, size/L

#3300 Add design doc for single-node cluster
  designs/images/cluster-without-worker-node.png
  designs/images/multi-node-cluster.png
  designs/images/single-node-creation.png
  designs/single-node-cluster.md
Labels: approved, lgtm, size/L

#3402 Update the version for audit policy
  pkg/providers/cloudstack/testdata/expected_results_affinity_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_availability_zones_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_proxy_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/common/config/audit-policy.yaml
  pkg/providers/docker/testdata/capd_valid_full_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/no_machinetemplate_update_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_pod_iam_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_stacked_etcd_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_taints_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_node_labels_cp_expected.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provder_and_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provider_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/testdata/original_077.yaml
Labels: approved, lgtm, size/M

#3413 Pause cluster and datacenter webhook validation during upgrade
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/workflows/create.go
Labels: approved, lgtm, size/S

#3416 Add validate session permission for vcenter global role
  docs/content/en/docs/reference/vsphere/vsphere-preparation.md
  pkg/config/static/globalPrivs.json
Labels: approved, lgtm, size/XS, documentation

#3421 Add package spec best practice doc
  docs/content/en/docs/reference/packagespec/best_practice.md
  docs/content/en/docs/reference/packagespec/emissary/_index.md
  docs/content/en/docs/reference/packagespec/harbor/_index.md
  docs/content/en/docs/reference/packagespec/metallb/_index.md
Labels: approved, lgtm, size/S, documentation

#3419 Add vcenter session validate permission analyzer
  pkg/diagnostics/analyzers.go
  pkg/diagnostics/analyzers_test.go
Labels: approved, lgtm, size/M

#3425 Add vcenter session validate permission analyzer (#3419)
  pkg/diagnostics/analyzers.go
  pkg/diagnostics/analyzers_test.go
Labels: approved, lgtm, size/M

#3428 Remove Tink CLI image from assets list
  release/pkg/assets/config/bundle_release.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.11-bundle-release.yaml
Labels: approved, lgtm, size/L

#3360 Add bootstrap cluster tasks
  pkg/workflow/context.go
  pkg/workflow/contextutil/bootstrap.go
  pkg/workflow/contextutil/contextutil.go
  pkg/workflow/contextutil/key.go
  pkg/workflow/management/create.go
  pkg/workflow/management/task.go
  pkg/workflow/management/task/bootstrap.go
Labels: approved, lgtm, size/L

#3430 Add custom logic when comparing snow machine template equality
  pkg/providers/snow/objects.go
  pkg/providers/snow/objects_test.go
Labels: approved, lgtm, size/L

#3294 Have --force-cleanup delete the kind cluster...
  pkg/bootstrapper/bootstrapper.go
  pkg/bootstrapper/bootstrapper_test.go
  pkg/constants/constants.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/delete.go
  pkg/workflows/delete_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/M

#3433 Add snow conformance test in e2e
  test/e2e/conformance_test.go
  test/e2e/labels_test.go
  test/e2e/multiple_worker_node_groups_test.go
  test/e2e/oidc_test.go
  test/e2e/proxy_test.go
  test/e2e/simpleflow_test.go
  test/e2e/taints_test.go
  test/e2e/upgrade_test.go
Labels: approved, lgtm, size/M

#3409 Move docker validation to api level
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/testdata/cluster_invalid_docker_with_endpoint.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
Labels: approved, lgtm, size/M

#3437 (docs)Makefile: update the default CP E2E test name
  Makefile
Labels: approved, lgtm, size/XS

#3436 Remove redundant copyright notices
  cmd/eksctl-anywhere/cmd/downloadimages.go
  cmd/eksctl-anywhere/cmd/import.go
  cmd/eksctl-anywhere/cmd/import_images.go
Labels: approved, lgtm, size/S

#3438 Fix path in controller manager image for Tilt
  manager/docker/linux/eks-anywhere-cluster-controller/Dockerfile
Labels: approved, lgtm, size/XS

#3422 Fix empty taints override issue
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_affinity_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_availability_zones_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_proxy_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/testdata/capd_valid_full_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/no_machinetemplate_update_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_pod_iam_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_stacked_etcd_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_node_labels_cp_expected.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provder_and_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provider_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
Labels: approved, lgtm, size/M

#3439 Add snow analyzers and collectors in support bundle
  pkg/diagnostics/analyzers.go
  pkg/diagnostics/analyzers_test.go
  pkg/diagnostics/collectors.go
  pkg/diagnostics/collectors_test.go
Labels: approved, lgtm, size/M

#3442 Add snow aws iam e2e
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/awsiam_test.go
Labels: approved, lgtm, size/M

#3443 Fix developer pr request guide typo
  docs/developer/pull-requests.md
Labels: approved, lgtm, size/XS, documentation

#3440 Disassociate workflow task names from individual tasks
  pkg/workflow/error.go
  pkg/workflow/management/create.go
  pkg/workflow/task.go
  pkg/workflow/task_mock_test.go
  pkg/workflow/workflow.go
  pkg/workflow/workflow_test.go
Labels: approved, lgtm, size/L

#3441 Relocate tasks under /pkg/workflow/task with distinct packages
  pkg/workflow/management/create.go
  pkg/workflow/task/bootstrap/bootstrap.go
Labels: approved, lgtm, size/M

#3450 e2e tools for packages
  cmd/eksctl-anywhere/cmd/upgradepackages.go
  pkg/curatedpackages/bundle.go
  pkg/executables/helm.go
  pkg/executables/helm_test.go
  test/e2e/curated_packages_test.go
  test/e2e/harbor_test.go
  test/framework/cluster.go
  test/framework/curatedpackages.go
Labels: approved, lgtm, size/L

#3324 clusterctl move retry
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/executables/export_test.go
  pkg/executables/kubectl.go
Labels: approved, lgtm, size/L

#3309 feat(CLI): Add ValidateFileOrEnv function in kubeconfig package
  pkg/kubeconfig/kubeconfig.go
  pkg/kubeconfig/kubeconfig_test.go
Labels: approved, lgtm, size/L

#3456 Remove TestSnowKubernetes121UbuntuAWSIamAuth from CI e2e
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#3458 Remove test re-added due to rebase
  test/e2e/curated_packages_test.go
Labels: approved, lgtm, size/XS

#3457 Rephrase doc for generating workload cluster config
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/workshops/provision/vsphere.md
Labels: approved, lgtm, size/XS, documentation

#3311 Cp cli dry kubeconfig checking
  cmd/eksctl-anywhere/cmd/applypackages.go
  cmd/eksctl-anywhere/cmd/createpackages.go
  cmd/eksctl-anywhere/cmd/deletepackages.go
  cmd/eksctl-anywhere/cmd/describepackages.go
  cmd/eksctl-anywhere/cmd/getpackage.go
  cmd/eksctl-anywhere/cmd/getpackagebundle.go
  cmd/eksctl-anywhere/cmd/getpackagebundlecontroller.go
  cmd/eksctl-anywhere/cmd/installpackages.go
  cmd/eksctl-anywhere/cmd/listpackages.go
  cmd/eksctl-anywhere/cmd/upgradepackages.go
Labels: approved, lgtm, size/M

#3424 Inject vSphere Creds in Controller
  controllers/resource/internal/vsphere.go
  controllers/resource/internal/vsphere_test.go
  controllers/resource/reconciler_test.go
  controllers/resource/template.go
  pkg/providers/vsphere/config/secret.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#3463 refactor(CLI): Use the new kubeconfig functions in CP CLI commands
  cmd/eksctl-anywhere/cmd/applypackages.go
  cmd/eksctl-anywhere/cmd/createpackages.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/deletepackages.go
  cmd/eksctl-anywhere/cmd/describepackages.go
  cmd/eksctl-anywhere/cmd/getpackage.go
  cmd/eksctl-anywhere/cmd/getpackagebundle.go
  cmd/eksctl-anywhere/cmd/getpackagebundlecontroller.go
  cmd/eksctl-anywhere/cmd/installpackages.go
  cmd/eksctl-anywhere/cmd/listpackages.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  cmd/eksctl-anywhere/cmd/upgradepackages.go
  pkg/kubeconfig/kubeconfig.go
  pkg/kubeconfig/kubeconfig_test.go
Labels: approved, lgtm, size/L

#3469 Fix Go tests
  pkg/curatedpackages/packageclient_test.go
Labels: approved, lgtm, size/XS

#3435 Validation webhook for Snow Datacenter Config
  PROJECT
  config/manifest/eksa-components.yaml
  config/webhook/manifests.yaml
  manager/main.go
  pkg/api/v1alpha1/snowdatacenterconfig_test.go
  pkg/api/v1alpha1/snowdatacenterconfig_types.go
  pkg/api/v1alpha1/snowdatacenterconfig_webhook.go
  pkg/api/v1alpha1/snowdatacenterconfig_webhook_test.go
Labels: lgtm, size/L

#3474 Fixing unintended rollingupgrade from older clusters related to diskoffering
  pkg/api/v1alpha1/cloudstackmachineconfig_types.go
  pkg/api/v1alpha1/cloudstackmachineconfig_types_test.go
Labels: approved, lgtm, size/M

#3477 Inject CSI and CP vSphere Creds (#3424)
  controllers/resource/internal/vsphere.go
  controllers/resource/internal/vsphere_test.go
  controllers/resource/reconciler_test.go
  controllers/resource/template.go
  pkg/providers/vsphere/config/secret.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#3480 Fix linter in clusterctlNetworkErrorRegex
  pkg/executables/clusterctl.go
Labels: approved, lgtm, size/XS

#3415 Helm chart.yaml fix PR
  release/go.mod
  release/go.sum
  release/pkg/bundles/package-controller.go
  release/pkg/helm/helm.go
  release/pkg/helm/helm_types.go
  release/pkg/operations/upload.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/XXL

#3483 Use raw string in clusterctlNetworkErrorRegex
  pkg/executables/clusterctl.go
Labels: approved, lgtm, size/XS

#3470 Add feature flag for new workflows
  cmd/eksctl-anywhere/cmd/createcluster.go
  pkg/features/features.go
  pkg/workflow/task/bootstrap/bootstrap.go
Labels: approved, lgtm, size/S

#3487 Fixing nil pointer error
  release/pkg/operations/upload.go
Labels: approved, lgtm, size/XS

#3119 Preflight validate
  Makefile
  cmd/eksctl-anywhere/cmd/cleanup.go
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/experiment.go
  cmd/eksctl-anywhere/cmd/options.go
  cmd/eksctl-anywhere/cmd/validate.go
  cmd/eksctl-anywhere/cmd/validatecreate.go
  cmd/eksctl-anywhere/cmd/validatecreatecluster.go
  pkg/kubeconfig/kubeconfig.go
  pkg/kubeconfig/kubeconfig_test.go
  pkg/providers/validator/validate.go
  pkg/providers/validator/validate_test.go
  pkg/validations/createcluster/createcluster.go
  pkg/validations/createcluster/createcluster_test.go
  pkg/validations/createcluster/mocks/createcluster.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/docker.go
  pkg/validations/docker_test.go
  pkg/validations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/utils.go
Labels: approved, lgtm, size/XL

#3486 Trigger staging bundle patch release for 0.11.4
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#3493 Remove Tink CLI image from assets list
  release/pkg/assets/config/bundle_release.go
Labels: approved, lgtm, size/XS

#3495 Fix get pbc alias
  cmd/eksctl-anywhere/cmd/getpackagebundlecontroller.go
Labels: approved, lgtm, size/XS

#3461 Update sonobuoy for conformance
  conformance/Makefile
Labels: approved, lgtm, size/XS

#3473 refactor: Replace errors.As with errors.Is
  pkg/git/gitclient/gitclient.go
Labels: approved, lgtm, size/XS

#3501 Add cert-manager-ctl image to artifacts list
  release/api/v1alpha1/artifacts.go
Labels: approved, lgtm, size/XS

#3505 Added tinkerbell artifacts to release directory
  release/api/v1alpha1/artifacts.go
Labels: approved, lgtm, size/S

#3482 Remove repeated hardware during cluster upgrade
  pkg/providers/tinkerbell/hardware/catalogue.go
  pkg/providers/tinkerbell/hardware/catalogue_hardware.go
  pkg/providers/tinkerbell/hardware/catalogue_hardware_test.go
  pkg/providers/tinkerbell/upgrade.go
Labels: approved, lgtm, size/L

#3503 Revert "[release-0.11] Helm chart.yaml fix PR"
  release/go.mod
  release/go.sum
  release/pkg/bundles/package-controller.go
  release/pkg/helm/helm.go
  release/pkg/helm/helm_types.go
  release/pkg/operations/upload.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.11-bundle-release.yaml
Labels: approved, size/XXL

#3507 Fix release upload.go
  release/pkg/operations/upload.go
Labels: approved, lgtm, size/XS

#3510 feat(CLI): error getting a bundle without providing a name
  pkg/curatedpackages/bundle.go
  pkg/curatedpackages/bundle_test.go
Labels: approved, lgtm, size/S

#3490 Trigger staging v0.11.4 CLI release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#3516 Clarify unstacked etcd immutability validation error message
  pkg/validations/upgradevalidations/immutableFields.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
Labels: approved, lgtm, size/S

#3492 Add support for 1-24 with feature flag
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  pkg/api/v1alpha1/cluster_types.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/e2e/README.md
  test/e2e/curated_packages_test.go
  test/e2e/simpleflow_test.go
  test/e2e/upgrade_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#3511 refactor(CLI): IsInstalled returns a single boolean.
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
  pkg/curatedpackages/mocks/packageinstaller.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/packageinstaller.go
Labels: approved, lgtm, size/M

#3500 Adding IP check for cloudstack cluster creation
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, size/L

#3445 Add ADOT docs
  docs/content/en/docs/reference/packagespec/_index.md
  docs/content/en/docs/reference/packagespec/adot/_index.md
  docs/content/en/docs/reference/packagespec/adot/v0.21.1.md
  docs/content/en/docs/tasks/packages/adot/_index.md
Labels: approved, lgtm, size/L, documentation
