Repository aws/eks-anywhere, pull requests merged in 2022-04, with the labels that each got.

#1742 Add preflight validations and force-cleanup for tink hardware status
  pkg/executables/tink.go
  pkg/providers/tinkerbell/hardware/config.go
  pkg/providers/tinkerbell/mocks/client.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/L

#1560 Update docs to support 1.22
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
  docs/content/en/docs/reference/vsphere/vsphere-ovas.md
Labels: documentation, approved, lgtm, do-not-merge/hold, size/M

#1744 Fix/add listall list domains
  pkg/executables/cmk.go
  pkg/executables/cmk_test.go
Labels: approved, lgtm, size/XS

#1745 Update pbnj pkg dependency
  go.mod
  go.sum
  pkg/providers/tinkerbell/validator.go
Labels: approved, lgtm, size/M

#1749 Update docs to support 1.22
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
  docs/content/en/docs/reference/vsphere/vsphere-ovas.md
Labels: documentation, approved, lgtm, size/M

#1751 Download helm charts when saving images to disk
  Makefile
  cmd/eksctl-anywhere/cmd/downloadimages.go
  cmd/eksctl-anywhere/cmd/get.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/download.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/download_test.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/mocks/download_artifacts.go
  cmd/eksctl-anywhere/cmd/internal/commands/mocks/move_images.go
  cmd/eksctl-anywhere/cmd/internal/commands/move_images.go
  cmd/eksctl-anywhere/cmd/internal/commands/move_images_test.go
  pkg/bundles/charts.go
  pkg/bundles/charts_test.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/executables/helm.go
  pkg/executables/helm_test.go
  pkg/helm/download.go
  pkg/helm/download_test.go
  pkg/helm/mocks/download.go
  pkg/manifests/reader.go
  pkg/manifests/reader_test.go
  pkg/tar/tar.go
  pkg/tar/tar_test.go
  pkg/tar/testdata/dummy1
  pkg/tar/testdata/dummy2
  pkg/tar/walker.go
  pkg/utils/oci/split.go
  pkg/utils/oci/split_test.go
Labels: approved, lgtm, size/XXL

#1736 Adding Helm Tag Lookup for release tool Packages
  go.sum
  release/go.mod
  release/go.sum
  release/pkg/assets_package_controller.go
  release/pkg/generate_spec.go
  release/pkg/prepare_release.go
Labels: approved, lgtm, size/L

#1762 Add snowmachineconfig context unaware defaulters
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/snowmachineconfig.go
  pkg/api/v1alpha1/snowmachineconfig_test.go
  pkg/api/v1alpha1/snowmachineconfig_types.go
  pkg/cluster/snow.go
  pkg/cluster/snow_test.go
Labels: approved, lgtm, size/L

#1763 Check if manifest exists before downloading
  cmd/eksctl-anywhere/cmd/downloadartifacts.go
Labels: approved, lgtm, size/XS

#1754 Gracefully handle non-existent CW log streams
  test/e2e/tools/eks-anywhere-test-tool/pkg/cloudwatch/cloudwatch.go
Labels: approved, lgtm, size/S

#1770 go mod tidy
  go.sum
Labels: approved, lgtm, size/M

#1764 Download eksa tool image separately
  cmd/eksctl-anywhere/cmd/constants.go
  cmd/eksctl-anywhere/cmd/downloadimages.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/download.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/download_test.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/mocks/download.go
  pkg/manifests/reader.go
Labels: approved, lgtm, size/L

#1767 Add aws client
  Makefile
  designs/snow-integration.md
  go.mod
  go.sum
  pkg/aws/client.go
  pkg/aws/client_test.go
  pkg/aws/creds.go
  pkg/aws/creds_test.go
  pkg/aws/ec2.go
  pkg/aws/ec2_test.go
  pkg/aws/mocks/ec2.go
  pkg/aws/snow.go
  pkg/aws/snow_test.go
  pkg/aws/testdata/invalid_certificates
  pkg/aws/testdata/valid_certificates
  pkg/aws/testdata/valid_credentials
  pkg/dependencies/factory.go
  pkg/providers/snow/testdata/credentials
Labels: approved, lgtm, size/XL

#1765 [release-0.8] Check if manifest exists before downloading
  cmd/eksctl-anywhere/cmd/downloadartifacts.go
Labels: approved, lgtm, size/XS

#1774 Make artifacts download tests more robust
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/download.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/download_test.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/mocks/download.go
  pkg/manifests/reader.go
Labels: approved, lgtm, size/M

#1766 Untar tools
  internal/pkg/files/files.go
  pkg/tar/packager.go
  pkg/tar/router.go
  pkg/tar/tar.go
  pkg/tar/testdata/dummy3/dummy4
  pkg/tar/untar.go
  pkg/tar/untar_test.go
  pkg/tar/walker.go
Labels: approved, lgtm, size/L

#1773 Skip eks-a packages helm chart
  release/api/v1alpha1/artifacts.go
Labels: approved, lgtm, size/XS

#1743 Add unit test to verify generated bundle against golden file
  release/Makefile
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/cmd/release.go
  release/pkg/assets_capa.go
  release/pkg/assets_capas.go
  release/pkg/assets_capc.go
  release/pkg/assets_capd.go
  release/pkg/assets_capi.go
  release/pkg/assets_certmanager.go
  release/pkg/assets_eksa_tools.go
  release/pkg/assets_etcdadm_bootstrap.go
  release/pkg/assets_etcdadm_controller.go
  release/pkg/assets_flux.go
  release/pkg/assets_kindnetd.go
  release/pkg/assets_package_controller.go
  release/pkg/assets_tinkerbell.go
  release/pkg/assets_vsphere.go
  release/pkg/file_reader.go
  release/pkg/file_reader_test.go
  release/pkg/generate_spec_test.go
  release/pkg/git/git.go
  release/pkg/prepare_release.go
  release/pkg/test/files.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.8-bundle-release.yaml
  release/pkg/utils/utils.go
  release/pkg/versions.go
Labels: approved, lgtm, size/XXL

#1775 skip machine power validation when skipping power actions
  pkg/providers/tinkerbell/tinkerbell.go
Labels: approved, lgtm, size/XS

#1780 Remove unnecessary code in tar package
  pkg/tar/untar.go
Labels: approved, lgtm, size/XS

#1777 Get first eks-a tools image from bundles
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/download.go
  pkg/dependencies/factory.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/bundle_types_test.go
  release/go.mod
Labels: approved, lgtm, size/M

#1779 Util for helm chart push URL
  pkg/utils/oci/split.go
  pkg/utils/oci/split_test.go
Labels: approved, lgtm, size/S

#1478 Import images command
  Makefile
  cmd/eksctl-anywhere/cmd/import.go
  cmd/eksctl-anywhere/cmd/import_images.go
  cmd/eksctl-anywhere/cmd/importimages.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/import.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/import_test.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/import_tools_image.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/import_tools_image_test.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/mocks/import.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/mocks/import_tools_image.go
Labels: approved, lgtm, size/XL

#1782 Avoid race concition in docker concurrent tests
  pkg/docker/registry_test.go
Labels: approved, lgtm, size/XS

#1787 Trigger staging cli release for 0.8.1
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#1769 Automate generating checksum files for release
  scripts/generate_checksum.sh
Labels: approved, lgtm, size/M

#1788 Add Tinkerbell stack setup flag and feature gate
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/features/features.go
  pkg/providers/factory/providerfactory.go
  pkg/providers/factory/providerfactory_test.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/M

#1791 Deprecate cluster config in download artifacts
  cmd/eksctl-anywhere/cmd/downloadartifacts.go
Labels: approved, lgtm, size/M

#1792 Bump prod CLI release for 0.8.1
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#1793 Add support for extraPortMappings in Kind
  pkg/executables/config/kind.yaml
  pkg/executables/kind.go
  pkg/executables/kind_test.go
  pkg/executables/testdata/kind_config_extra_port_mappings.yaml
Labels: approved, lgtm, size/M

#1632 Add Tinkerbell to new cluster parsing code
  pkg/cluster/default_manager.go
  pkg/cluster/tinkerbell.go
Labels: approved, lgtm, size/S

#1790 Update conformance tests for 1.22
  conformance/Makefile
  conformance/template/PRODUCT.yaml
Labels: approved, lgtm, size/XS

#1794 Don't use '+' in release tarball CDN URL
  release/pkg/assets_cli.go
Labels: approved, lgtm, size/XS

#1796 Add changelog for v0.8.1
  docs/content/en/docs/reference/changelog.md
Labels: documentation, approved, lgtm, size/XS

#1799 Use default ssh key if already exists in snow devices
  pkg/providers/snow/aws.go
  pkg/providers/snow/defaults.go
  pkg/providers/snow/defaults_test.go
  pkg/providers/snow/mocks/aws.go
Labels: approved, lgtm, size/M

#1798 Update install doc for release v0.8.1
  docs/content/en/docs/getting-started/install/_index.md
Labels: documentation, approved, lgtm, size/XS

#1747 Print a better cluster not found error
  pkg/executables/kubectl.go
Labels: approved, lgtm, size/XS

#1807 Add 1.22 Kubernetes certification
  README.md
  docs/static/images/certified-kubernetes-1.22-color.svg
Labels: documentation, approved, lgtm, size/XS

#1809 Add conformance README
  conformance/README.md
Labels: approved, lgtm, size/S

#1810 Fix bug in GzipFileDownloadExtract
  internal/pkg/files/files.go
  internal/pkg/files/files_test.go
  internal/pkg/files/testdata/dummy1
  internal/pkg/files/testdata/dummy1.tar.gz
  internal/test/http.go
Labels: approved, lgtm, size/M

#1771 Update IRSA doc to point to the working commit and image tag
  docs/content/en/docs/reference/clusterspec/irsa.md
Labels: documentation, approved, lgtm, size/XS

#1812 Fix bug skip ca cert validation for snow
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
Labels: approved, lgtm, size/XS

#1815 Return snow images/manifests from VersionsBundle
  pkg/cluster/spec.go
  release/api/v1alpha1/artifacts.go
Labels: approved, lgtm, size/M

#1817 Upgrading eks-a to use capc v0.4.2
  go.mod
  go.sum
Labels: approved, lgtm, size/XS

#1828 Default to fetching eks-d release from url if it can't be fetched from the cluster
  pkg/cluster/fetch.go
Labels: approved, lgtm, size/S

#1830 Trigger staging cli release for 0.8.2
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#1808 Refactoring cluster manager to invoke provider's SpecChanged method
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/XL

#1820 Add ivyostosh to owners
  OWNERS
Labels: approved, lgtm, size/XS

#1821 Fixing cloudstack upgrade test
  test/e2e/upgrade_test.go
Labels: size/XS

#1786 initial commit of EKS A Release Process Improvement Design
  designs/images/eks-a-release-process.svg
  designs/push-button-release.md
  designs/uml/eks-anywhere-release-process.uml
Labels: documentation, approved, lgtm, size/L, status/design, area/release

#1837 make sure FluxConfig is included in cluster deepcopy
  pkg/cluster/config.go
Labels: approved, lgtm, size/XS

#1839 add defaulters to FluxConfig processor
  pkg/cluster/flux.go
Labels: approved, lgtm, size/M

#1840 Adding remaining cloudstack tests to skip test list
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#1842 Enable acs tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/S

#1836 Marshal FluxConfig if present
  pkg/api/v1alpha1/fluxconfig_types.go
  pkg/clustermarshaller/clustermarshaller.go
  pkg/clustermarshaller/clustermarshaller_test.go
  pkg/clustermarshaller/testdata/expected_marshalled_cluster_flux_and_gitops.yaml
  pkg/clustermarshaller/testdata/expected_marshalled_cluster_flux_config.yaml
Labels: approved, lgtm, size/L

#1844 Update changelog for v0.8.2
  docs/content/en/docs/reference/changelog.md
Labels: documentation, approved, lgtm, size/XS

#1845 Update install doc for v0.8.2
  docs/content/en/docs/getting-started/install/_index.md
Labels: documentation, approved, lgtm, size/XS

#1848 Remove wait for kubeconfig and RunPostControlPlaneCreation
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/M

#1849 Fix cloudstack e2e tests
  test/framework/cloudstack.go
Labels: approved, lgtm, size/XS

#1843 Corrected formatting issues on Docs contrib guide
  docs/content/en/docs/community/docs_contributing.md
Labels: documentation, approved, lgtm

#1822 Parse kind without unmarshalling a spec
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/testdata/cluster_1_20_namespace_mismatch_between_cluster_and_datacenter.yaml
  pkg/api/v1alpha1/testdata/cluster_1_20_namespace_mismatch_between_cluster_and_machineconfigs.yaml
  pkg/api/v1alpha1/testdata/cluster_1_20_with_non_eksa_resources.yaml
  pkg/providers/cloudstack/validator_test.go
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_external_etcd.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_missing_ssh_keys.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_multiple_node_groups.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_stacked_etcd.yaml
Labels: approved, lgtm, size/L

#1841 Upgrade go version
  .github/workflows/golangci-lint.yml
  Makefile
  build/Dockerfile
  controllers/controllers/resource/fetcher_test.go
  controllers/controllers/resource/reconciler_test.go
  controllers/main.go
  go.mod
  go.sum
  release/Makefile
  release/go.mod
  release/go.sum
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.8-bundle-release.yaml
  scripts/common.sh
  scripts/make_attribution.sh
  test/e2e/tools/eks-anywhere-test-tool/go.mod
Labels: approved, lgtm, size/XL

#1851 Add upgrade support of labels/taints for Docker
  controllers/controllers/resource/template.go
  pkg/providers/docker/config/template-md.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/docker/testdata/capd_valid_full_oidc_md_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_md_expected.yaml
  pkg/providers/docker/testdata/no_machinetemplate_update_md_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_md_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_md_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_md_taints_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_multiple_md_taints_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_node_labels_md_expected.yaml
  pkg/providers/vsphere/vsphere.go
  test/e2e/labels_test.go
  test/e2e/taints_test.go
  test/framework/vsphere.go
  test/framework/workergroups.go
Labels: approved, lgtm, size/L

#1853 Adding feature gate to e2e for CloudStack
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/framework/cloudstack.go
Labels: approved, lgtm, size/XS

#1856 Add e2e test for download artifacts command
  test/e2e/download_artifacts_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#1860 Fix e2e taint test for docker
  test/e2e/taints_test.go
Labels: approved, lgtm, size/XS

#1861 CloudStack e2e test fix
  test/framework/cloudstack.go
Labels: approved, lgtm, size/XS

#1863 Add clarification on approve label for approvers
  docs/developer/pull-requests.md
Labels: documentation, approved, lgtm, size/XS

#1864 Adding environment variable setting on the eksa controller for kube-vip
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
Labels: approved, lgtm, size/M

#1838 Adding support for multiple worker node groups
  controllers/controllers/resource/reconciler.go
  controllers/controllers/resource/template.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/testdata/cluster_main_multiple_worker_node_groups.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_multiple_worker_node_groups.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_add_worker_node_group.yaml
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_test.go
  pkg/providers/machineconfigs.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/XL

#1869 Log storage class install only for supported providers
  pkg/clustermanager/cluster_manager.go
  pkg/workflows/create.go
Labels: approved, lgtm, size/XS

#1867 Add definitions for approve labels and clarify PRs by an approver
  docs/developer/pull-requests.md
Labels: documentation, approved, lgtm, size/S

#1872 Adding cloudstackEntry to enable marshalling cloudstack yamls
  controllers/controllers/resource/testdata/eksa-cluster-cloudstack_no_changes.yaml
  pkg/api/v1alpha1/cloudstackdatacenterconfig_types.go
  pkg/api/v1alpha1/cloudstackmachineconfig_types.go
  pkg/cluster/cloudstack.go
  pkg/cluster/config.go
  pkg/cluster/default_manager.go
  pkg/cluster/parse_test.go
  pkg/cluster/testdata/cluster_1_20_cloudstack.yaml
Labels: approved, lgtm, size/L

#1868 Remove unused RequiredTinkerbellEnvVars method
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/XS

#1814 Fix upgrade workflow
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/task/task.go
  pkg/workflows/create.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#1827 Use `FluxConfig` internally instead of `GitOpsConfig`
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
  pkg/addonmanager/addonclients/files.go
  pkg/addonmanager/addonclients/files_test.go
  pkg/addonmanager/addonclients/fluxaddonclient.go
  pkg/addonmanager/addonclients/fluxaddonclient_test.go
  pkg/addonmanager/addonclients/mocks/fluxaddonclient.go
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path-management.yaml
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path-workload.yaml
  pkg/addonmanager/addonclients/testdata/cluster-config-user-provided-path.yaml
  pkg/addonmanager/addonclients/upgrader.go
  pkg/addonmanager/addonclients/upgrader_test.go
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/gitopsconfig_test.go
  pkg/api/v1alpha1/gitopsconfig_types.go
  pkg/cluster/defaults_test.go
  pkg/cluster/flux.go
  pkg/cluster/gitops.go
  pkg/cluster/gitops_test.go
  pkg/cluster/parse_test.go
  pkg/cluster/spec.go
  pkg/cluster/testdata/cluster_gitops_1_21.yaml
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/executables/flux.go
  pkg/executables/flux_test.go
  pkg/features/features.go
  pkg/git/factory/gitfactory.go
  pkg/git/factory/gitfactory_test.go
  test/framework/flux.go
  test/framework/git.go
Labels: approved, lgtm, size/XXL

#1874 Adding base64 encoded secret as required env var for cloudstack e2e tests
  test/framework/cloudstack.go
Labels: approved, lgtm, size/XS

#1870 Create a make target and clean up for generating checksums
  Makefile
  scripts/generate_checksum.sh
Labels: approved, lgtm, size/XS

#1884 Reuse getUniqueIP for CloudStack E2E
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/framework/cloudstack.go
Labels: approved, lgtm, size/M

#1693 Readding the Provision section to the workshop
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/workshops/_index.md
  docs/content/en/docs/workshops/introduction/_index.md
  docs/content/en/docs/workshops/introduction/benefits-and-usecases.md
  docs/content/en/docs/workshops/provision/_index.en.md
  docs/content/en/docs/workshops/provision/images/eks-a_vsphere_cluster.png
  docs/content/en/docs/workshops/provision/local_cluster.md
  docs/content/en/docs/workshops/provision/overview.md
  docs/content/en/docs/workshops/provision/prerequistes.md
  docs/content/en/docs/workshops/provision/vSphere-prepeartion.md
  docs/content/en/docs/workshops/provision/vsphere.md
  docs/static/images/vms.png
  docs/static/images/workload-vms.png
Labels: documentation, approved, lgtm, needs-ok-to-test, size/L

#1885 Move pkgs to avoid cyclic dependencies
  cmd/eksctl-anywhere/cmd/downloadartifacts.go
  cmd/eksctl-anywhere/cmd/import_images.go
  pkg/cluster/spec.go
  pkg/manifests/bundles/charts.go
  pkg/manifests/bundles/charts_test.go
  pkg/manifests/bundles/images.go
  pkg/manifests/bundles/images_test.go
  pkg/manifests/bundles/read.go
  pkg/manifests/bundles/read_test.go
  pkg/manifests/bundles/versions_bundle.go
  pkg/manifests/bundles/versions_bundle_test.go
  pkg/manifests/eksd/images.go
  pkg/manifests/eksd/images_test.go
  pkg/manifests/eksd/read.go
  pkg/manifests/eksd/read_test.go
  pkg/manifests/reader.go
  pkg/manifests/reader_test.go
  pkg/manifests/releases/read.go
  pkg/manifests/releases/read_test.go
  test/framework/conformance.go
  test/framework/releaseVersions.go
Labels: approved, lgtm, size/M

#1887 Fix/1886 print error for bad kubeconfig
  pkg/cluster/load.go
Labels: approved, lgtm, size/XS

#1881 Add snow simple flow e2e test
  internal/pkg/api/snow.go
  test/e2e/README.md
  test/e2e/simpleflow_test.go
  test/framework/snow.go
Labels: approved, lgtm, size/L

#1890 Move CloudStack CIDR to exposed env vars
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#1873 Add tinkerbell add user example
  examples/tinkerbell/adding-a-user-to-tinkerbelltemplateconfiguration.md
  examples/tinkerbell/patch-capt-manager-oom.md
Labels: approved, lgtm, size/M

#1899 Pipe proper CIDR to E2E test
  test/framework/cloudstack.go
Labels: approved, lgtm, size/XS

#1901 Add .ignore directory to .gitignore
  .gitignore
Labels: approved, lgtm, size/XS

#1906 Bump number of workers for docker image processing
  pkg/docker/registry.go
Labels: approved, lgtm, size/XS

#1903 Gzip artifacts tarball
  cmd/eksctl-anywhere/cmd/downloadimages.go
  cmd/eksctl-anywhere/cmd/import_images.go
  pkg/tar/gzip.go
  pkg/tar/gzip_packager.go
  pkg/tar/gzip_test.go
  pkg/tar/tar.go
Labels: approved, lgtm, size/L

#1905 Avoid packaging tools image twice in tarball
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/download.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/download_test.go
Labels: approved, lgtm, size/S

#1909 Update OWNERS
  OWNERS
Labels: approved, lgtm, ok-to-test, size/XS

#1891 Add PreCapiInstallOnBootstrap
  go.sum
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/vsphere/vsphere.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
Labels: approved, lgtm, size/M

#1910 Rename Bootstrap Toolkit components method
  pkg/addonmanager/addonclients/fluxaddonclient.go
  pkg/addonmanager/addonclients/fluxaddonclient_test.go
  pkg/addonmanager/addonclients/mocks/fluxaddonclient.go
  pkg/addonmanager/addonclients/upgrader.go
  pkg/addonmanager/addonclients/upgrader_test.go
  pkg/executables/flux.go
  pkg/executables/flux_test.go
Labels: approved, lgtm, size/M

#1911 Enable batch of CloudStack E2E tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#1913 Skip snow e2e in CI
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#1912 Rename TestVSphereDownloadArtifacts E2E test
  test/e2e/download_artifacts_test.go
Labels: approved, lgtm, size/XS

#1880 Make insecure flag and thumbprint in datacenter config mutable
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/M

#1918 Enabling batch 2 of CloudStack E2E tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#1916 Add OIDC, pod IAM and AWS IAM support for snow
  pkg/aws/creds_test.go
  pkg/clusterapi/apibuilder.go
  pkg/clusterapi/apibuilder_test.go
  pkg/clusterapi/identity.go
  pkg/clusterapi/identity_test.go
  pkg/clusterapi/registryMirror.go
  pkg/clusterapi/registryMirror_test.go
  pkg/providers/snow/apibuilder_test.go
Labels: approved, lgtm, size/XL

#1921 Download OS images from OS name based subfolder
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/pkg/assets_eksd.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/M

#1923 Remove internal use of `gitOpts` struct from FluxAddonClient
  pkg/addonmanager/addonclients/files.go
  pkg/addonmanager/addonclients/fluxaddonclient.go
  pkg/addonmanager/addonclients/upgrader.go
  pkg/dependencies/factory_test.go
Labels: approved, lgtm, size/M, area/gitops

#1927 Remove registry mirror from download artifacts e2e
  test/e2e/download_artifacts_test.go
Labels: approved, lgtm, size/XS

#1928 move interfaces to consumer site; split GitProvider and GitClient int…
  pkg/addonmanager/addonclients/files.go
  pkg/addonmanager/addonclients/fluxaddonclient.go
  pkg/addonmanager/addonclients/upgrader.go
Labels: approved, lgtm, size/M

#1914 Add codecov integration for go unit tests
  .github/workflows/go-coverage.yml
  Makefile
Labels: approved, lgtm, size/S

#1866 CloudStack multiple worker node groups e2e test and e2e refacatoring
  internal/pkg/api/cloudstack.go
  internal/pkg/api/cloudstackmachines.go
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/constants.go
  test/e2e/flux_test.go
  test/e2e/labels_test.go
  test/e2e/multiple_worker_node_groups_test.go
  test/e2e/oidc_test.go
  test/e2e/proxy_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/simpleflow_test.go
  test/e2e/stackedetcd_test.go
  test/e2e/taints_test.go
  test/e2e/upgrade_dev_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/vsphere_autoimport_test.go
  test/e2e/workload_clusters_test.go
  test/framework/cloudstack.go
Labels: lgtm, size/L

#1935 Remove provider factory
  pkg/dependencies/factory.go
  pkg/providers/factory/providerfactory.go
  pkg/providers/factory/providerfactory_test.go
  pkg/providers/factory/testdata/cluster_aws.yaml
  pkg/providers/factory/testdata/cluster_cloudstack.yaml
  pkg/providers/factory/testdata/cluster_docker.yaml
  pkg/providers/factory/testdata/cluster_vsphere.yaml
Labels: approved, lgtm, size/XL

#1855 Feature list packages (#1622)
  Makefile
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/get.go
  cmd/eksctl-anywhere/cmd/listpackages.go
  go.mod
  go.sum
  pkg/curatedpackages/bundle.go
  pkg/curatedpackages/bundle_test.go
  pkg/curatedpackages/bundlemanager.go
  pkg/curatedpackages/bundlesource.go
  pkg/curatedpackages/customregistry.go
  pkg/curatedpackages/defaultregistry.go
  pkg/curatedpackages/defaultregistry_test.go
  pkg/curatedpackages/discovery.go
  pkg/curatedpackages/kubectlrunner.go
  pkg/curatedpackages/mocks/bundlemanager.go
  pkg/curatedpackages/mocks/kubectlrunner.go
  pkg/curatedpackages/mocks/reader.go
  pkg/curatedpackages/packageclient.go
  pkg/curatedpackages/validations.go
  pkg/curatedpackages/validations_test.go
  pkg/executables/kubectl.go
Labels: approved, lgtm, size/XXL

#1865 Add EKS-D to core components upgrades
  Makefile
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/cluster/spec.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/retrier_client.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/eksd/installer.go
  pkg/eksd/installer_test.go
  pkg/eksd/mocks/client.go
  pkg/eksd/testdata/testdata.yaml
  pkg/eksd/upgrader.go
  pkg/eksd/upgrader_test.go
  pkg/task/task.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/XL

#1933 Adding e2e test for cloudstack upgrade with unstacked etcd
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/upgrade_test.go
Labels: approved, lgtm, size/S

#1942 For bare metal, increase node startup timeout in MachineHealthCheck...
  pkg/providers/tinkerbell/config/machine-health-check-template.yaml
Labels: approved, lgtm, size/XS

#1930 Add env var support for lifecycle api work with tilt
  controllers/Tiltfile
  controllers/main.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/features/features.go
  pkg/features/internal.go
  pkg/features/mutexmap.go
  pkg/features/mutexmap_test.go
Labels: approved, lgtm, size/M

#1945 Add Git SSH key env variable for e2e tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#1962 Rename existing WithFlux spec opt to WithFluxLegacy
  test/e2e/flux_test.go
  test/e2e/upgrade_test.go
  test/e2e/workload_clusters_test.go
  test/framework/flux.go
Labels: approved, lgtm, size/M

#1940 Fetch eksd manifest from management cluster for additional workload clusters
  Makefile
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/cluster/fetch.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/eksd/installer_test.go
  pkg/eksd/upgrader.go
  pkg/eksd/upgrader_test.go
  pkg/task/task.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#1936 Preserve tmp generated files after command error
  cmd/eksctl-anywhere/cmd/cleanup.go
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
Labels: approved, lgtm, size/S

#1900 Flux executable support for generic git provider
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
  pkg/api/v1alpha1/fluxconfig.go
  pkg/config/config.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/executables/flux.go
  pkg/executables/flux_test.go
  pkg/executables/testdata/emptyprivatekey
  pkg/executables/testdata/nonemptyprivatekey
  pkg/validations/createvalidations/gitops.go
  pkg/validations/createvalidations/gitops_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/createvalidations/testdata/emptyprivatekey
  pkg/validations/createvalidations/testdata/nonemptyprivatekey
  pkg/validations/validation_options.go
Labels: approved, lgtm, size/L

#1965 Add method to generate FluxConfig in e2e tests
  internal/pkg/api/cluster.go
  test/framework/cluster.go
  test/framework/flux.go
Labels: approved, lgtm, size/M

#1871 Update brew formula and create a pr
  Makefile
  scripts/brew_formula_pr.sh
  scripts/brew_formula_update.sh
  scripts/eks-anywhere.rb.tmpl
Labels: approved, lgtm, size/L

#1934 Decouple `GitClient` and `GitProviderClient`; update GitFactory to support this
  Makefile
  pkg/addonmanager/addonclients/files.go
  pkg/addonmanager/addonclients/files_test.go
  pkg/addonmanager/addonclients/fluxaddonclient.go
  pkg/addonmanager/addonclients/fluxaddonclient_test.go
  pkg/addonmanager/addonclients/upgrader.go
  pkg/addonmanager/addonclients/upgrader_test.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/git/factory/gitfactory.go
  pkg/git/factory/gitfactory_test.go
  pkg/git/git.go
  pkg/git/gitclient/gitclient.go
  pkg/git/gitclient/gitclient_test.go
  pkg/git/mocks/git.go
  pkg/git/providers/github/github.go
  pkg/git/providers/github/github_test.go
  pkg/git/providers/github/mocks/github.go
  test/framework/cluster.go
  test/framework/flux.go
  test/framework/git.go
Labels: approved, lgtm, size/XXL

#1969 Disable all cloudstack tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#1882 Add e2e test for curated packages
  pkg/executables/helm.go
  pkg/executables/helm_test.go
  pkg/executables/helpers_test.go
  test/e2e/curated_packages_test.go
  test/e2e/simpleflow_test.go
  test/framework/cluster.go
  test/framework/executables.go
  test/framework/helm.go
Labels: approved, lgtm, size/L

#1972 make sure to assign a git client for the tests, DAN
  test/framework/flux.go
Labels: approved, lgtm, size/XS

#1941 Auth agnostic kube client
  Makefile
  pkg/clients/kubernetes/kubeconfig.go
  pkg/clients/kubernetes/kubeconfig_test.go
  pkg/clients/kubernetes/mocks/kubectl.go
  pkg/clients/kubernetes/scheme.go
  pkg/clients/kubernetes/unauth.go
  pkg/clients/kubernetes/unauth_test.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_getter_helper_test.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/L

#1973 set git client in Flux Validation flow
  test/framework/flux.go
Labels: approved, lgtm, size/XS

#1947 Feature Generate packages (#1622)
  cmd/eksctl-anywhere/cmd/generatepackage.go
  cmd/eksctl-anywhere/cmd/import_images.go
  cmd/eksctl-anywhere/cmd/listpackages.go
  pkg/config/registry.go
  pkg/curatedpackages/bundle.go
  pkg/curatedpackages/bundlesource.go
  pkg/curatedpackages/bundlesource_test.go
  pkg/curatedpackages/curatedpackages.go
  pkg/curatedpackages/curatedpackages_test.go
  pkg/curatedpackages/customregistry.go
  pkg/curatedpackages/defaultregistry.go
  pkg/curatedpackages/defaultregistry_test.go
  pkg/curatedpackages/packageclient.go
  pkg/curatedpackages/packageclient_test.go
  pkg/curatedpackages/packagetypes.go
Labels: approved, lgtm, size/L

#1974 Fix packages install test name
  test/e2e/curated_packages_test.go
Labels: approved, size/XS

#1978 Fix concurrent image push race condition
  pkg/docker/concurrent.go
Labels: approved, lgtm, size/XS

#1967 Add validation for byo git
  pkg/dependencies/factory.go
  pkg/git/git.go
  pkg/git/gitclient/gitclient.go
  pkg/git/gitclient/gitclient_test.go
  pkg/git/gitclient/mocks/client.go
  pkg/git/mocks/git.go
Labels: approved, lgtm, size/L
