Repository aws/eks-anywhere, pull requests merged in 2022-11, with the labels that each got.

#3743 Bottlerocket 1.24 e2e tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/labels_test.go
  test/e2e/multiple_worker_node_groups_test.go
  test/e2e/oidc_test.go
  test/e2e/proxy_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/simpleflow_test.go
  test/e2e/taints_test.go
  test/e2e/upgrade_test.go
  test/e2e/vsphere_autoimport_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#3880 Document how to invoke linting tools
  docs/developer/local-quickstart.md
Labels: approved, lgtm, size/XS, documentation

#3882 Skip failing curated packages test.
  pkg/curatedpackages/packagereader_test.go
  pkg/curatedpackages/reader.go
Labels: approved, lgtm, size/XS

#3879 Fail VSphereMachineConfig Create Webhook on Missing Template
  pkg/api/v1alpha1/vspheremachineconfig.go
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/api/v1alpha1/vspheremachineconfig_webhook.go
  pkg/api/v1alpha1/vspheremachineconfig_webhook_test.go
Labels: approved, lgtm, size/M

#3619 Implement storage class installation hook
  cmd/eksctl-anywhere/cmd/createcluster.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/vsphere/hook.go
  pkg/providers/vsphere/testdata/TestProviderInstallStorageClass_expect.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L, team/providers, area/providers, area/workflows

#3884 Upload EKS-A tarballs before running tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/S

#3839 Doc for bare metal scale up/down using 'eksctl anywhere upgrade clust…
  docs/content/en/docs/tasks/cluster/cluster-scale/baremetal-scale.md
Labels: approved, lgtm, size/M, documentation

#3844 Remove repetitive vsphere reconciler tests
  controllers/cluster_controller_test.go
Labels: approved, lgtm, size/L

#3888 Rely on setup-go action for caching
  .github/workflows/golangci-lint.yml
Labels: approved, lgtm, size/XS

#3899 Upgrade curated packages version
  go.mod
  go.sum
Labels: approved, lgtm, size/S

#3901 Bump up trigger files for staging bundle release
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#3903 Update taints e2e test to add control plane taint for 1.24
  test/framework/taints.go
Labels: approved, lgtm, size/S

#3894 Doc for bare metal rolling upgrades
  docs/content/en/docs/tasks/cluster/cluster-upgrades/_index.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades/baremetal-upgrades.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
Labels: approved, lgtm, size/L, documentation

#3896 Bare metal scale up/down doc cleanup
  docs/content/en/docs/tasks/cluster/cluster-scale/baremetal-scale.md
Labels: approved, lgtm, size/S, documentation

#3911 Fix registry mirror tests for tinkerbell
  internal/test/e2e/registryMirror.go
Labels: approved, lgtm, size/S

#3818 added upgradeclusterplan support for nutanix provider capx
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
Labels: approved, lgtm, ok-to-test, size/S

#3849 now collecting capx logs in support-bundle
  pkg/diagnostics/collectors.go
  pkg/diagnostics/collectors_test.go
Labels: approved, lgtm, ok-to-test, size/M

#3900 Update CP infra machine template names if changes
  pkg/clusterapi/controlplane.go
  pkg/clusterapi/controlplane_test.go
Labels: approved, lgtm, size/M

#3898 Add vSphere workers CAPI spec generator
  pkg/clusterapi/controlplane.go
  pkg/clusterapi/controlplane_test.go
  pkg/clusterapi/name.go
  pkg/clusterapi/workers.go
  pkg/clusterapi/workers_test.go
  pkg/clusterapi/yaml/controlplane.go
  pkg/clusterapi/yaml/workers.go
  pkg/providers/vsphere/controlplane_test.go
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/workers.go
  pkg/providers/vsphere/workers_test.go
Labels: approved, lgtm, size/XL

#3905 Bump up trigger files for staging CLI release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#3824 Build Vsphere CP spec to directly access CP objects
  pkg/clusterapi/name.go
  pkg/clusterapi/name_test.go
  pkg/constants/constants.go
  pkg/providers/snow/objects.go
  pkg/providers/vsphere/controlplane.go
  pkg/providers/vsphere/controlplane_test.go
Labels: approved, lgtm, size/XL

#3923 Update actions to checkout@v3
  .github/workflows/go-coverage.yml
  .github/workflows/golangci-lint.yml
Labels: approved, lgtm, size/XS

#3919 docs: add us-west-2 region to the "aws ecr get-login-password" command in curated packages docs
  docs/content/en/docs/tasks/packages/_index.md
Labels: approved, lgtm, ok-to-test, size/XS, documentation

#3925 Document CLI vSphere Permission Configuration Invocation
  docs/content/en/docs/reference/vsphere/vsphere-preparation.md
Labels: approved, lgtm, size/L, documentation

#3819 use latest nutanix capx release version
  pkg/executables/clusterctl_test.go
  pkg/executables/testdata/clusterctl_expected.yaml
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, ok-to-test, size/M

#3631 Create workload cluster from management cluster for baremetal
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/mocks/client.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/L

#3859 PR fixing and adding Packages tests to e2e
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  test/e2e/README.md
  test/e2e/curated_packages_test.go
  test/framework/cluster.go
  test/framework/curatedpackages.go
Labels: approved, lgtm, size/XL

#3928 Reenabling packages e2e test
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#3922 Add worker reconciliation call and test
  pkg/clusterapi/workers.go
  pkg/clusterapi/workers_test.go
  pkg/providers/vsphere/reconciler/reconciler.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
Labels: approved, lgtm, size/M

#3929 Bump up trigger files for prod bundle release
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#3386 Adding api builder for cloudstack machine templates and machine deployments
  go.mod
  go.sum
  pkg/providers/cloudstack/apibuilder.go
  pkg/providers/cloudstack/apibuilder_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/config/template-md.yaml
  pkg/providers/cloudstack/testdata/expected_results_affinity_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_affinity_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_autoscaling_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_multiple_worker_node_groups.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_with_taints_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_add_worker_node_group.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_proxy_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_proxy_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_resourceids_cp.yaml
Labels: approved, lgtm, size/XXL

#3932 Bump up trigger files for prod CLI release
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#3935 Add changelog for v0.12.1 release
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/changelog.md
  docs/content/en/docs/reference/support/support-scope.md
Labels: approved, lgtm, size/S, documentation

#3939 Bump brew trigger for v0.12.1
  release/pkg/test/testdata/main-bundle-release.yaml
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/L

#3941 docs: update command examples in curated packages docs to work with v0.12
  docs/content/en/docs/tasks/packages/_index.md
Labels: approved, lgtm, ok-to-test, size/S, documentation

#3930 Fix curated packages messaging
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packageinstaller.go
  pkg/curatedpackages/packageinstaller_test.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
Labels: approved, lgtm, size/M

#3946 Disable capital letter for first word linting rule
  .golangci.yml
Labels: approved, lgtm, size/S

#3947 Adding packages env vars to the ec2 setup step
  internal/test/e2e/packages.go
  internal/test/e2e/setup.go
  test/framework/curatedpackages.go
Labels: approved, lgtm, size/M

#3820 Added Tinkerbell e2e tests for curated packages
  test/e2e/curated_packages_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M, documentation

#3920 Update CP/etcd template names if there are changes
  pkg/providers/vsphere/controlplane.go
  pkg/providers/vsphere/controlplane_test.go
  pkg/providers/vsphere/machinetemplate.go
  pkg/providers/vsphere/workers.go
Labels: approved, lgtm, size/L

#3870 Refactoring cloudmonkey executable & validator to support running from EKS-A controller
  Makefile
  internal/test/cleanup/cleanup.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/executables/builder.go
  pkg/executables/builder_test.go
  pkg/executables/cmk.go
  pkg/executables/cmk/builder.go
  pkg/executables/cmk_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/decoder/decoder.go
  pkg/providers/cloudstack/decoder/decoder_test.go
  pkg/providers/cloudstack/testdata/cluster_invalid.yaml
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_mocks.go
  pkg/providers/cloudstack/validator_registry.go
  pkg/providers/cloudstack/validator_registry_test.go
  pkg/providers/cloudstack/validator_test.go
  scripts/common.sh
Labels: approved, lgtm, size/XXL

#3940 Remove controller check for vsphere template md setting cgroup driver
  controllers/resource/template.go
  pkg/providers/vsphere/controlplane.go
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/template_test.go
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_controller_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_md.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_with_auth_config_md.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/providers/vsphere/workers.go
Labels: approved, lgtm, size/L

#3952 Increasing packages e2e test timeouts
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#3934 Fix registry-auth validation
  cmd/eksctl-anywhere/cmd/createcluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/dependencies/factory.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
Labels: approved, lgtm, size/L

#3955 Add control-plane toleration for aws iam auth for 1.24
  pkg/awsiamauth/config/aws-iam-authenticator.yaml
  pkg/awsiamauth/template.go
Labels: approved, lgtm, size/XS

#3956 Adding go:embed for oidc roles back
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#3953 Add cert-manager to packages table
  docs/content/en/docs/reference/packagespec/_index.md
Labels: approved, lgtm, size/XS, documentation

#3961 Add control-plane toleration for aws iam auth for 1.24
  pkg/awsiamauth/awsiamauth.go
  pkg/awsiamauth/config/aws-iam-authenticator.yaml
Labels: approved, lgtm, size/XS

#3948 Update reference/config/baremetal.md
  docs/content/en/docs/reference/clusterspec/baremetal.md
Labels: approved, lgtm, size/XS, documentation

#3966 Honor maxSurge value for control plane and worker node group configur…
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/upgrade.go
Labels: approved, lgtm, size/S

#3949 Refactor credential creation
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
Labels: approved, lgtm, size/M

#3962 Add client processor for docker datacenter config
  pkg/cluster/build.go
  pkg/cluster/docker.go
  pkg/cluster/docker_test.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
Labels: approved, lgtm, size/M

#3648 Add CNI install to create workload task
  Makefile
  cmd/eksctl-anywhere/cmd/createcluster.go
  go.mod
  go.sum
  internal/test/files.go
  internal/test/matchers.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/networking/cilium/cilium.go
  pkg/networking/cilium/cilium_test.go
  pkg/networking/cilium/client.go
  pkg/networking/cilium/client_test.go
  pkg/networking/cilium/config.go
  pkg/networking/cilium/installer.go
  pkg/networking/cilium/installer_test.go
  pkg/networking/cilium/mocks/cilium.go
  pkg/networking/cilium/mocks/installer.go
  pkg/networking/cilium/mocks/upgrader.go
  pkg/networking/cilium/upgrader.go
  pkg/networking/cilium/upgrader_test.go
  pkg/networking/kindnetd/installer.go
  pkg/networking/kindnetd/installer_test.go
  pkg/networking/kindnetd/kindnetd.go
  pkg/networking/kindnetd/kindnetd_test.go
  pkg/networking/kindnetd/manifest.go
  pkg/networking/kindnetd/mocks/client.go
  pkg/networking/kindnetd/upgrader.go
  pkg/networking/kindnetd/upgrader_test.go
  pkg/workflow/management/create.go
  pkg/workflow/task/workload/create.go
Labels: approved, lgtm, size/XXL, area/workflows

#3965 Adding Packages E2E test to cover remote cluster package installation
  test/e2e/curated_packages_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/L

#3973 Sundry improvements to permissions docs
  docs/content/en/docs/reference/vsphere/vsphere-preparation.md
Labels: approved, lgtm, size/S, documentation

#3945 Remove dead code
  pkg/aws/creds_test.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XS

#3967 Remove registry-auth validation from api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster.go
Labels: approved, lgtm, size/S

#3968 Do not recommend manual feed of additional hardware prior to upgrades
  docs/content/en/docs/tasks/cluster/cluster-upgrades/baremetal-upgrades.md
Labels: approved, lgtm, size/XS, documentation

#3969 Do not recommend manual feed of additional hardware prior to scale up
  docs/content/en/docs/tasks/cluster/cluster-scale/baremetal-scale.md
Labels: approved, lgtm, size/XS, documentation

#3977 Fix Permissions Doc Typo
  docs/content/en/docs/reference/vsphere/vsphere-preparation.md
Labels: approved, lgtm, size/XS, documentation

#3981 Fix registry-auth validation
  cmd/eksctl-anywhere/cmd/createcluster.go
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/dependencies/factory.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
Labels: approved, lgtm, size/L

#3988 Enable cron job if credentials
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/testdata/awssecret_test_empty.yaml
Labels: approved, lgtm, size/M

#3983 Add Jia toh Owners
  OWNERS
Labels: approved, lgtm, size/XS

#3957 Add tinkerbell 1.24 and 1.23 tests
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/oidc_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/simpleflow_test.go
  test/e2e/single_node_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/upgrade_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/L

#3989 Add registry auth validation to upgrade and delete
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
Labels: approved, lgtm, size/XS

#3964 Add workers reconcile for self managed clusters
  Makefile
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  controllers/cluster_controller_test_test.go
  controllers/mocks/provider.go
  internal/test/envtest/client.go
  pkg/controller/clientutil/object_test.go
  pkg/controller/clusters/registry.go
  pkg/controller/clusters/registry_test.go
  pkg/networking/cilium/reconciler/reconciler_test.go
  pkg/providers/snow/reconciler/reconciler.go
  pkg/providers/snow/reconciler/reconciler_test.go
  pkg/providers/vsphere/reconciler/reconciler.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
Labels: approved, lgtm, size/XL

#3991 Tinkerbell 1.24 BR tests
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/simpleflow_test.go
  test/e2e/single_node_test.go
Labels: approved, lgtm, size/L

#3990 Remove gwesterfield from OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#3950 Reconcile control plane in vsphere
  internal/test/envtest/environment.go
  manager/main.go
  pkg/providers/vsphere/reconciler/reconciler.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
Labels: approved, lgtm, ok-to-test, size/M, documentation

#3993 Add custom logic to reconcile a CAPI control plane
  internal/test/envtest/client.go
  internal/test/envtest/crd.go
  internal/test/envtest/environment.go
  pkg/controller/clientutil/annotations.go
  pkg/controller/clientutil/annotations_test.go
  pkg/controller/clusters/controlplane.go
  pkg/controller/clusters/controlplane_test.go
  pkg/controller/clusters/main_test.go
  pkg/providers/vsphere/reconciler/reconciler.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
Labels: approved, lgtm, size/XL

#3933 Update support information for v0.12
  docs/content/en/docs/reference/support/support-versions.md
Labels: approved, lgtm, size/S, area/docs, documentation

#3978 Add support statement for curated packages
  docs/content/en/docs/reference/support/support-scope.md
Labels: approved, lgtm, size/XS, documentation

#3963 Validate kube version when creating cluster without worker nodes
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/testdata/tinkerbell_121cluster_without_worker_nodes.yaml
Labels: approved, lgtm, size/M, documentation

#3799 Add E2E test case for CloudStack node failuredomain label and node name matche
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
  pkg/constants/constants.go
  test/e2e/cloudstack_labels_test.go
  test/framework/labels.go
  test/framework/nodename.go
Labels: approved, lgtm, size/L

#3998 Update package docs
  docs/content/en/docs/tasks/packages/adot/_index.md
  docs/content/en/docs/tasks/packages/cluster-autoscaler/_index.md
  docs/content/en/docs/tasks/packages/emissary/_index.md
  docs/content/en/docs/tasks/packages/harbor/_index.md
  docs/content/en/docs/tasks/packages/metallb/_index.md
  docs/content/en/docs/tasks/packages/metrics-server/_index.md
Labels: approved, lgtm, size/S, documentation

#4002 Bare metal troubleshooting in wrong place
  docs/content/en/docs/tasks/troubleshoot/troubleshooting.md
Labels: approved, lgtm, size/XS, documentation

#4003 Add VSphere specific objects to RBAC role
  config/crd/bases/anywhere.eks.amazonaws.com_awsdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_awsiamconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_dockerdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_fluxconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_gitopsconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_nutanixdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_nutanixmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_oidcconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_snowdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_snowmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbelldatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbellmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbelltemplateconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_vspheredatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_vspheremachineconfigs.yaml
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
  controllers/cluster_controller_legacy.go
Labels: approved, lgtm, size/L

#4005 GitOps trouble shoot is too deep
  docs/content/en/docs/tasks/troubleshoot/troubleshooting.md
Labels: approved, lgtm, size/S, documentation

#4007 Increase lint timeout from 5m to 10m
  .github/workflows/golangci-lint.yml
Labels: approved, lgtm, size/XS

#3984 Build docker reconciler
  controllers/docker_datacenter_controller.go
  controllers/factory.go
  controllers/factory_test.go
  pkg/providers/docker/reconciler/reconciler.go
Labels: approved, lgtm, size/L

#4015 Fix yq command in Github release script
  release/scripts/github-bundle-release.sh
Labels: size/XS

#3866 Docker single node
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/docker/testdata/expected_results_cluster_docker_cp_single_node.yaml
Labels: approved, lgtm, size/L

#3999 Restricting CloudStack provider to K8s versions < 1.24
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
Labels: approved, lgtm, size/M

#4018 Split instances in chunks for termination
  internal/pkg/ec2/terminate.go
  internal/pkg/ec2/terminate_test.go
Labels: size/L

#4017 Add vSphere tags for e2e tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#4016 Removing initial slow cloudmonkey call to verify connection to cloudstack
  pkg/executables/cmk.go
  pkg/executables/cmk_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/mocks/client.go
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_mocks.go
  pkg/providers/cloudstack/validator_registry.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, size/L

#4024 Build CNIReconciler with vSphere reconciler
  controllers/factory.go
Labels: approved, lgtm, size/XS

#4023 Add RBAC permissions for manager role
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
  controllers/cluster_controller_legacy.go
Labels: approved, lgtm, size/M

#4025 Set eksa-system namespace in etcd cluster object ref
  pkg/clusterapi/apibuilder.go
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/controlplane_test.go
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provder_and_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provider_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_with_auth_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
Labels: approved, lgtm, size/S

#4022 Fix fetch logs for Tinkerbell failed tests
  test/e2e/tools/eks-anywhere-test-tool/pkg/filewriter/writer.go
Labels: approved, lgtm, size/XS

#4011 Adding support for dynamic rollout strategy in CloudStack provider
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/config/template-md.yaml
  pkg/providers/cloudstack/testdata/cluster_main_with_rollout_strategy.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_rollout_strategy_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_rollout_strategy_md.yaml
Labels: approved, lgtm, size/XL

#4028 fix user.yaml example comments
  docs/content/en/docs/reference/vsphere/vsphere-preparation.md
Labels: approved, lgtm, size/S, documentation

#4026 Remove unused maxSurge const
  pkg/providers/tinkerbell/tinkerbell.go
Labels: approved, lgtm, size/XS

#4027 Fix vsphere machine template equal compare
  pkg/providers/vsphere/controlplane_test.go
  pkg/providers/vsphere/machinetemplate.go
  pkg/providers/vsphere/workers_test.go
Labels: approved, lgtm, size/L

#4030 Allow overriding date in Github bundle release
  release/scripts/github-bundle-release.sh
Labels: approved, lgtm, size/XS

#4031 Fixing e2e tests artifacts download
  test/e2e/tools/eks-anywhere-test-tool/pkg/artifacts/artifactFetcher.go
Labels: approved, lgtm, size/XS

#4021 [release-0.12] Removing initial slow cloudmonkey call to verify connection to cloudstack
  pkg/executables/cmk_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/mocks/client.go
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, ok-to-test, size/L

#4037 Document configuring global permissions
  docs/content/en/docs/reference/vsphere/vsphere-preparation.md
Labels: approved, lgtm, size/S, documentation

#4033 Add docs for build-your-own node AMI
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/L, documentation

#4020 minor rework for eks-a-test-tool
  test/e2e/tools/eks-anywhere-test-tool/cmd/fetchartifacts.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/fileutils/fileutils.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/filewriter/writer.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/logfetcher/logfetcher.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/logfetcher/testswriter.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/providerProxy/logFetcher.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/providerProxy/requestWriter.go
Labels: approved, lgtm, size/M, documentation

#4008 Ensure CAPI objects are created during tests
  pkg/providers/vsphere/reconciler/reconciler_test.go
Labels: approved, lgtm, size/M

#4040 Clarify ResourcePool Documentation
  docs/content/en/docs/reference/vsphere/vsphere-preparation.md
Labels: approved, lgtm, size/XS, documentation

#4042 Modifying instance tagging and upload artifacts
  internal/test/e2e/run.go
Labels: approved, lgtm, size/S

#4043 Skip tinkerbell tests to avoid timeout
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/upgrade_test.go
  test/framework/labels.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/S

#4041 Improve E2E vSphere template selection logic
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  pkg/executables/govc.go
  pkg/executables/govc_test.go
  pkg/providers/vsphere/defaults.go
  pkg/providers/vsphere/internal/templates/factory.go
  pkg/providers/vsphere/internal/templates/factory_test.go
  pkg/providers/vsphere/internal/templates/mocks/govc.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  test/e2e/awsiam_test.go
  test/e2e/flux_test.go
  test/e2e/oidc_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/upgrade_test.go
  test/e2e/workload_clusters_test.go
  test/framework/releaseVersions.go
  test/framework/vsphere.go
Labels: size/XL

#4014 Add Docker ControlPlaneSpec to generate capi objects
  pkg/clients/kubernetes/scheme.go
  pkg/providers/docker/controlplane.go
  pkg/providers/docker/controlplane_test.go
  pkg/providers/docker/machinetemplate.go
  pkg/providers/docker/machinetemplate_test.go
Labels: approved, lgtm, size/XL

#4044 Provide extra helpful messaging for curated packages
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/packageinstaller.go
Labels: approved, lgtm, size/M

#4046 Download and import curated packages package bundle by default
  cmd/eksctl-anywhere/cmd/downloadimages.go
  cmd/eksctl-anywhere/cmd/import_images.go
Labels: approved, lgtm, size/S

#4056 Cleanup e2e test CI buildspec
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/M

#4010 Add create worklow task
  pkg/filewriter/filewriter.go
  pkg/filewriter/mocks/filewriter.go
  pkg/filewriter/tmp_writer_test.go
  pkg/filewriter/writer.go
  pkg/kubeconfig/fmt.go
  pkg/workflow/management/create.go
  pkg/workflow/task/bootstrap/bootstrap.go
  pkg/workflow/task/workload/create.go
  pkg/workflow/workflowcontext/cluster.go
Labels: approved, lgtm, size/L

#4060 Removing --kubeconfig reference from upgrade docs for tinkerbell
  docs/content/en/docs/tasks/cluster/cluster-upgrades/baremetal-upgrades.md
Labels: approved, lgtm, size/XS, documentation

#3627 added e2e tests for nutanix provider
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/README.md
  test/e2e/conformance_test.go
  test/e2e/curated_packages_test.go
  test/e2e/simpleflow_test.go
  test/e2e/upgrade_test.go
  test/framework/nutanix.go
Labels: approved, lgtm, ok-to-test, size/XL

#4063 Pass Nutanix env var to test runners
  internal/test/e2e/nutanix.go
  internal/test/e2e/setup.go
  test/framework/nutanix.go
Labels: approved, lgtm, size/M

#4066 Rename e2e env var to pass it to test instances
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/framework/vsphere.go
Labels: approved, lgtm, size/XS

#4067 [release-0.12] Cleanup e2e test CI buildspec
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/M

#4069 Update vsphere template envvar in conformance test
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
Labels: approved, lgtm, size/S

#4072 Skip Nutanix packages tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#4064 Publish SNS message for EKS-A releases
  release/Makefile
  release/buildspecs/release-announce.yml
  release/pkg/test/testdata/main-bundle-release.yaml
  release/scripts/announce_eksa_release.sh
Labels: approved, lgtm, size/L

#4065 Remove feature flag for 1.24
  docs/content/en/docs/reference/changelog.md
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/curated_packages_test.go
  test/e2e/flux_test.go
  test/e2e/labels_test.go
  test/e2e/multiple_worker_node_groups_test.go
  test/e2e/oidc_test.go
  test/e2e/proxy_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/simpleflow_test.go
  test/e2e/single_node_test.go
  test/e2e/stackedetcd_test.go
  test/e2e/taints_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/upgrade_test.go
  test/e2e/vsphere_autoimport_test.go
  test/e2e/vsphere_disable_csi_test.go
Labels: approved, lgtm, size/L, documentation

#4074 Skipping all Redhat tinkerbell tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#4076 Tinkerbell 1.24 tests
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/oidc_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/simpleflow_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/upgrade_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/L

#4075 Update default kube version to 1.24
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
Labels: approved, lgtm, size/XS

#4079 Tinkerbell 1.24 BR tests
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/simpleflow_test.go
Labels: approved, lgtm, size/L

#4080 Improve Cilium reconciler logs
  pkg/networking/cilium/reconciler/reconciler.go
  pkg/networking/cilium/upgrade_plan.go
  pkg/networking/cilium/upgrade_plan_test.go
Labels: approved, lgtm, size/S

#4083 Skip tinkerbell tests to avoid timeout
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/upgrade_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/S

#4062 Add CNI reconciler for docker
  Makefile
  controllers/cluster_controller_test_test.go
  controllers/factory.go
  controllers/mocks/provider.go
  internal/test/cluster.go
  internal/test/testdata.go
  pkg/controller/clusters/registry.go
  pkg/controller/clusters/registry_test.go
  pkg/providers/docker/reconciler/main_test.go
  pkg/providers/docker/reconciler/mocks/reconciler.go
  pkg/providers/docker/reconciler/reconciler.go
  pkg/providers/docker/reconciler/reconciler_test.go
  pkg/providers/snow/reconciler/reconciler_test.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
Labels: approved, lgtm, size/XL

#4071 Update rbac for docker objects
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
  controllers/cluster_controller_legacy.go
Labels: approved, lgtm, size/XS

#4084 Remove feature flag for 1.24
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/flux_test.go
  test/e2e/labels_test.go
  test/e2e/multiple_worker_node_groups_test.go
  test/e2e/oidc_test.go
  test/e2e/proxy_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/simpleflow_test.go
  test/e2e/stackedetcd_test.go
  test/e2e/taints_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/upgrade_test.go
  test/e2e/vsphere_autoimport_test.go
  test/e2e/vsphere_disable_csi_test.go
Labels: approved, lgtm, size/L, documentation

#4087 Add note for specifying username
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
Labels: approved, lgtm, size/XS, documentation

#4078 Publish SNS message for EKS-A releases
  release/Makefile
  release/buildspecs/release-announce.yml
  release/pkg/test/testdata/main-bundle-release.yaml
  release/scripts/announce_eksa_release.sh
Labels: approved, lgtm, size/L

#4088 fixed the test build failure
  test/e2e/conformance_test.go
Labels: approved, lgtm, needs-ok-to-test, size/XS

#4086 Staging bundle release for 0.12.2
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#4092 Nutanix vcpu values in e2e spec
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#4094 Reserve IP pool for Nutanix tests
  internal/test/e2e/nutanix.go
  internal/test/e2e/run.go
  internal/test/e2e/vsphere.go
  test/framework/network.go
Labels: approved, lgtm, size/M

#4095 Read Nutanix AdditionalTrustBundle as a base64 encoded string
  internal/pkg/api/nutanix.go
  internal/pkg/api/nutanix_test.go
  test/e2e/README.md
Labels: approved, lgtm, size/S

#4097 Add Nutanix username and password to required env list
  test/framework/nutanix.go
Labels: approved, lgtm, size/XS

#4098 Re-enable Nutanix 1.23 tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#4096 Clarify AWS auth permissions and AMI configuration details
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/S, documentation

#4099 Remove unnecessary logging in e2e tests
  internal/test/e2e/awsiam.go
  internal/test/e2e/cloudstack.go
  internal/test/e2e/flux.go
  internal/test/e2e/fluxGit.go
  internal/test/e2e/nutanix.go
  internal/test/e2e/oidc.go
  internal/test/e2e/packages.go
  internal/test/e2e/proxy.go
  internal/test/e2e/registryMirror.go
  internal/test/e2e/tinkerbell.go
  internal/test/e2e/vsphere.go
Labels: approved, lgtm, size/S

#4091 Add install-package at cluster creation instructions
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
  docs/content/en/docs/getting-started/production-environment/cloudstack-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
Labels: approved, lgtm, size/S, documentation

#4082 Stop reconciliation if child objects are invalid
  pkg/providers/snow/reconciler/reconciler.go
  pkg/providers/snow/reconciler/reconciler_test.go
  pkg/providers/vsphere/reconciler/reconciler.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
Labels: approved, lgtm, size/M

#4009 Add cluster upgrade failure revert docs
  docs/content/en/docs/tasks/troubleshoot/troubleshooting.md
Labels: approved, lgtm, size/M, documentation

#4104 Update install-package at cluster creation instructions
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
  docs/content/en/docs/getting-started/production-environment/cloudstack-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
Labels: approved, lgtm, size/S, documentation

#4108 Adding helm fix to always make image tags match on values.yaml for Packages Helm
  release/pkg/helm/helm.go
  release/pkg/operations/upload.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#4110 Set Nutanix memory and disk size as vars
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#4070 Document cluster topologies
  docs/content/en/docs/concepts/cluster-topologies.md
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
  docs/content/en/docs/getting-started/production-environment/cloudstack-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/static/images/eks-a_cluster_management.png
  docs/static/images/eks-a_cluster_management.svg
  docs/static/images/eks-a_cluster_standalone.png
  docs/static/images/eks-a_cluster_standalone.svg
Labels: approved, lgtm, size/XXL, documentation

#4112 Fix doc blank line
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
Labels: approved, lgtm, size/XS, documentation

#4117 Trigger staging cli for v0.12.2
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#4121 Updating packages version for e2e
  test/e2e/curated_packages_test.go
Labels: approved, lgtm, size/XS

#3936 Add authenticated registry mirror support for tinkerbell
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/config/template-md.yaml
  pkg/providers/tinkerbell/stack/mocks/stack.go
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/stack/testdata/expected_with_registry_mirror.yaml
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_registry_mirror_with_auth.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_registry_mirror_with_auth.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md_registry_mirror_with_auth.yaml
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/XL
