Repository aws/eks-anywhere, pull requests merged in 2022-08, with the labels that each got.

#2806 Add create validations to OIDC webhook
  pkg/api/v1alpha1/oidcconfig.go
  pkg/api/v1alpha1/oidcconfig_types.go
  pkg/api/v1alpha1/oidcconfig_webhook.go
  pkg/api/v1alpha1/oidcconfig_webhook_test.go
  pkg/api/v1alpha1/testdata/cluster_invalid_oidc_bad_issuer_url.yaml
  pkg/api/v1alpha1/testdata/cluster_invalid_oidc_issuer_url_non_https.yaml
  pkg/api/v1alpha1/testdata/cluster_invalid_oidc_null_clientid.yaml
  pkg/api/v1alpha1/testdata/cluster_invalid_oidc_null_issuer_url.yaml
  pkg/api/v1alpha1/testdata/cluster_oidc_extra_required_claims.yaml
  pkg/cluster/oidc.go
  pkg/cluster/oidc_test.go
Labels: approved, lgtm, size/L

#2792 E2E test for re-running upgrade command
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/vsphere.go
  test/e2e/upgrade_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/L

#2827 Fix ValidateCreate order of errors for cluster webhook
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
Labels: approved, lgtm, size/M

#2836 Update Invalid to Forbidden for immutable fields in cluster webhook
  pkg/api/v1alpha1/cluster_webhook.go
Labels: approved, lgtm, size/S

#2835 Fix the text log analyzer
  pkg/diagnostics/analyzers.go
  pkg/diagnostics/analyzers_test.go
  test/e2e/upgrade_test.go
Labels: approved, lgtm, size/S

#2841 Update gci linter config to new format
  .golangci.yml
Labels: approved, lgtm, size/XS

#2817 Improve error handling for snowmachineconfig controller
  controllers/snow_machineconfig_controller.go
  controllers/snow_machineconfig_controller_test.go
Labels: approved, lgtm, size/L

#2847 Add mutating webhook for awsiamconfig
  config/crd/bases/anywhere.eks.amazonaws.com_snowmachineconfigs.yaml
  config/webhook/manifests.yaml
  pkg/api/v1alpha1/awsiamconfig.go
  pkg/api/v1alpha1/awsiamconfig_webhook.go
  pkg/api/v1alpha1/awsiamconfig_webhook_test.go
Labels: approved, lgtm, size/M

#2844 Enable kubernetes 1.23 e2e test
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#2850 fixup! Add mutating webhook for awsiamconfig
  config/manifest/eksa-components.yaml
Labels: approved, lgtm, size/M

#2848 Fix upgrade with checkpoint e2e test
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  pkg/config/config.go
  test/e2e/upgrade_test.go
Labels: approved, lgtm, size/S

#2838 Replace kube-rbac-proxy in CAPI provider components manifest
  release/pkg/assets/assets.go
  release/pkg/assets/config/bundle_release.go
  release/pkg/assets/types/types.go
  release/pkg/bundles/certmanager.go
  release/pkg/bundles/cilium.go
  release/pkg/bundles/cloudstack.go
  release/pkg/bundles/cluster-api-provider-aws.go
  release/pkg/bundles/cluster-api-provider-docker.go
  release/pkg/bundles/cluster-api.go
  release/pkg/bundles/eksd.go
  release/pkg/bundles/etcdadm-bootstrap.go
  release/pkg/bundles/etcdadm-controller.go
  release/pkg/bundles/flux.go
  release/pkg/bundles/kindnetd.go
  release/pkg/bundles/package-controller.go
  release/pkg/bundles/snow.go
  release/pkg/bundles/tinkerbell.go
  release/pkg/bundles/vsphere.go
  release/pkg/constants/constants.go
  release/pkg/filereader/file_reader.go
  release/pkg/operations/download.go
  release/pkg/operations/rename.go
  release/pkg/operations/upload.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/util/bundles/bundles.go
Labels: approved, lgtm, size/XL

#2843 Refactor Flux code
  Makefile
  pkg/clients/fluxclient/client.go
  pkg/dependencies/factory.go
  pkg/gitops/flux/client.go
  pkg/gitops/flux/client_test.go
  pkg/gitops/flux/cluster.go
  pkg/gitops/flux/files.go
  pkg/gitops/flux/files_test.go
  pkg/gitops/flux/flux.go
  pkg/gitops/flux/flux_test.go
  pkg/gitops/flux/git.go
  pkg/gitops/flux/git_test.go
  pkg/gitops/flux/mocks/client.go
  pkg/gitops/flux/mocks/flux.go
  pkg/gitops/flux/upgrader.go
  pkg/gitops/flux/upgrader_test.go
Labels: approved, lgtm, size/XXL

#2852 Fix bug that uses reference in identity provider validation
  pkg/validations/upgradevalidations/immutableFields.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
Labels: approved, lgtm, size/S

#2839 Simplify cilium templater code
  pkg/networking/cilium/cilium.go
  pkg/networking/cilium/cilium_test.go
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
  pkg/networking/cilium/testdata/manifest_network_policy.yaml
  pkg/networking/cilium/upgrader.go
Labels: approved, lgtm, size/L

#2831 Set bundlesRef for new workload clusters if not set
  controllers/cluster_controller.go
  controllers/cluster_controller_test_test.go
Labels: approved, lgtm, size/M

#2860 Always clone repo for git provider
  pkg/gitops/flux/cluster.go
  pkg/gitops/flux/flux_test.go
Labels: approved, lgtm, size/M

#2857 Bugfix remove configurations
  cmd/eksctl-anywhere/cmd/installpackages.go
  pkg/curatedpackages/configurationclient.go
  pkg/curatedpackages/configurationclient_test.go
  pkg/curatedpackages/packageclient.go
  pkg/curatedpackages/packageclient_test.go
Labels: approved, lgtm, size/L

#2867 Update vSphere prereq docs to highlight network access
  docs/content/en/docs/reference/vsphere/domains.md
  docs/content/en/docs/reference/vsphere/vsphere-prereq.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#2845 Feature gated packages
  Makefile
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
  pkg/config/config.go
  pkg/curatedpackages/config/awssecret.yaml
  pkg/curatedpackages/mocks/packageinstaller.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/packageinstaller.go
  pkg/curatedpackages/packageinstaller_test.go
  pkg/curatedpackages/testdata/awssecret_defaultregion.yaml
  pkg/curatedpackages/testdata/awssecret_test.yaml
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
Labels: approved, lgtm, size/XL

#2842 Take logger as input in cluster provider reconcile method
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  controllers/cluster_controller_test_test.go
  controllers/factory.go
  controllers/vsphere_datacenter_controller.go
  pkg/controller/clusters/registry.go
  pkg/controller/clusters/registry_test.go
  pkg/providers/docker/reconciler/reconciler.go
  pkg/providers/vsphere/reconciler/reconciler.go
Labels: lgtm, size/L

#2873 Use force ownership in controller serverside apply
  pkg/controller/serverside/reconcile.go
Labels: approved, lgtm, size/XS

#2872 Make gitOpsRef mutable in upgrade preflight check
  pkg/validations/upgradevalidations/immutableFields.go
  pkg/validations/upgradevalidations/immutableFields_test.go
Labels: approved, lgtm, size/L

#2874 Make some cilium constants and methods public
  pkg/networking/cilium/client.go
  pkg/networking/cilium/ready.go
  pkg/networking/cilium/ready_test.go
Labels: lgtm, size/M

#2856 Add fluxconfig.Validate() func call in validate/update webhook
  pkg/api/v1alpha1/fluxconfig_webhook.go
  pkg/api/v1alpha1/fluxconfig_webhook_test.go
Labels: approved, lgtm, size/M

#2865 Cluster webhook immutable fields validation fix
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
Labels: approved, lgtm, size/M

#2871 Add envoy to the bundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets/config/bundle_release.go
  release/pkg/bundles/tinkerbell.go
  release/pkg/operations/bundle_release_test.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#2881 Add Helm to controller image
  Makefile
  build/lib/organize_binaries.sh
Labels: approved, lgtm, size/XS

#2854 Added kube-rbac-proxy to CloudStack bundles.
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/artifacts.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/bundles/cloudstack.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.10-bundle-release.yaml
Labels: approved, lgtm, size/L

#2884 Fix flux suspend failed during cluster upgrade
  pkg/gitops/flux/client.go
  pkg/gitops/flux/client_test.go
  pkg/gitops/flux/flux.go
  pkg/gitops/flux/flux_test.go
  pkg/gitops/flux/mocks/client.go
Labels: approved, lgtm, size/L

#2886 Bumping bundle for release 0.10.2
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#2875 Add cilium upgrade planner
  pkg/networking/cilium/installation.go
  pkg/networking/cilium/installation_test.go
  pkg/networking/cilium/upgrade_plan.go
  pkg/networking/cilium/upgrade_plan_test.go
Labels: approved, lgtm, size/XL

#2877 Add tooling to delete kube objects defined in yaml
  pkg/controller/clientutil/delete.go
  pkg/controller/clientutil/delete_test.go
Labels: approved, lgtm, size/L

#2849 Derive Proxy Config From Env Vars
  pkg/config/proxy.go
  pkg/config/proxy_test.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
Labels: approved, lgtm, size/L

#2892 Disable CloudStack tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#2891 Remove feature flag for kubernetes version 1.23
  docs/content/en/docs/reference/changelog.md
  pkg/features/features.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/flux_test.go
  test/e2e/labels_test.go
  test/e2e/multiple_worker_node_groups_test.go
  test/e2e/oidc_test.go
  test/e2e/proxy_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/simpleflow_test.go
  test/e2e/stackedetcd_test.go
  test/e2e/taints_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/upgrade_test.go
  test/e2e/vsphere_autoimport_test.go
Labels: approved, lgtm, size/L, documentation

#2895 Change default kubernetes version to 1.23
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
Labels: approved, lgtm, size/XS

#2898 Add Packages reference doc
  docs/content/en/docs/reference/clusterspec/packages.md
  docs/content/en/docs/tasks/packages/_index.md
Labels: approved, lgtm, size/XL, documentation

#2896 Remove Bottlerocket default console settings and update documentation
  docs/content/en/docs/reference/clusterspec/baremetal.md
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
Labels: approved, lgtm, ok-to-test, size/M, documentation

#2903 Add hardware ingest tooling with netbox:
  .github/workflows/hardware-ingest.yml
  .gitignore
  hardware-ingest/.golangci.yml
  hardware-ingest/Makefile
  hardware-ingest/README.md
  hardware-ingest/docs/hardware-ingest-description.png
  hardware-ingest/go.mod
  hardware-ingest/go.sum
  hardware-ingest/netbox/client.go
  hardware-ingest/netbox/csv.go
  hardware-ingest/netbox/csv_test.go
  hardware-ingest/netbox/hardware.csv
  hardware-ingest/netbox/machine.go
  hardware-ingest/netbox/main.go
  hardware-ingest/netbox/netbox.go
  hardware-ingest/netbox/netbox_test.go
  hardware-ingest/netbox/testdata/results.csv
Labels: approved, lgtm, ok-to-test, size/XXL

#2902 IAM Authenticator for provider Tinkerbell
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_awsiam.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_awsiam.yaml
  pkg/providers/tinkerbell/tinkerbell_test.go
  test/e2e/awsiam_test.go
Labels: approved, lgtm, size/XL

#2882 Changes needed for bare metal upgrade flow
  pkg/executables/kubectl.go
  pkg/providers/tinkerbell/hardware/catalogue_hardware.go
  pkg/providers/tinkerbell/mocks/client.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/upgrade.go
Labels: approved, lgtm, size/L

#2910 Add clusterName to package controller install
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/dependencies/factory.go
Labels: approved, lgtm, size/M

#2913 Updating prod bundle version
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#2914 Removing pbnj from dev-release flow
  release/pkg/assets/config/bundle_release.go
  release/pkg/bundles/tinkerbell.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#2916 [Bundles] Move etcdadm and crictl to be os family independent
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults_test.go
  pkg/providers/vsphere/defaults.go
  release/api/v1alpha1/artifacts.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/go.sum
  release/pkg/bundles/eksd.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/XXL

#2911 Feature remove feature flag
  cmd/eksctl-anywhere/cmd/downloadimages.go
  cmd/eksctl-anywhere/cmd/generatepackage.go
  cmd/eksctl-anywhere/cmd/get.go
  cmd/eksctl-anywhere/cmd/import_images.go
  cmd/eksctl-anywhere/cmd/installpackages.go
  cmd/eksctl-anywhere/cmd/listpackages.go
  go.mod
  go.sum
  pkg/curatedpackages/bundle.go
  pkg/curatedpackages/bundle_test.go
  pkg/curatedpackages/bundlemanager.go
  pkg/curatedpackages/curatedpackages.go
  pkg/curatedpackages/curatedpackages_test.go
  pkg/curatedpackages/kubectlrunner.go
  pkg/curatedpackages/mocks/bundlemanager.go
  pkg/curatedpackages/mocks/kubectlrunner.go
  pkg/curatedpackages/packageclient.go
  pkg/curatedpackages/packageclient_test.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/reader.go
  pkg/executables/kubectl.go
  pkg/features/features.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  test/e2e/curated_packages_test.go
Labels: approved, lgtm, size/L, needed-next-release

#2919 Redact aws environment variable secrets
  pkg/executables/executables.go
Labels: approved, lgtm, size/S

#2879 Add --insecure flag to download images command
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/downloadimages.go
  cmd/eksctl-anywhere/cmd/import_images.go
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
Labels: approved, lgtm, size/M

#2880 Update tinkerbell stack to use the latest tinkerbell helm chart
  pkg/executables/helm.go
  pkg/executables/helm_test.go
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/tinkerbell.go
Labels: approved, lgtm, size/M, needed-next-release

#2923 Revert changes on where to pull harbor helm chart
  test/e2e/harbor_test.go
Labels: approved, lgtm, size/XS

#2925 Skip bare-metal k8s v1.20 tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#2926 Delete local boots container after a successful bare metal upgrade
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/vsphere/vsphere.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/M

#2927 Fix log message for rolling upgrade input validations
  pkg/providers/tinkerbell/assert.go
Labels: approved, lgtm, size/XS

#2921 Update package doc
  docs/content/en/docs/concepts/packages/artifacts.md
Labels: approved, lgtm, size/XS, documentation

#2931 Fix cliConfig nil pointer
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/validations/gitops.go
  pkg/validations/gitops_test.go
Labels: approved, lgtm, size/S

#2930 Feature licensing change
  pkg/curatedpackages/curatedpackages.go
Labels: approved, lgtm, size/S

#2935 Adding unit tests for nil CloudStackDatacenter possibility
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
Labels: approved, lgtm, size/S

#2888 Changes to enable kube-rbac-proxy on CloudStack cluster controller's metrics port.
  internal/test/testdata/bundles.yaml
  internal/test/testdata/bundles_template.yaml
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/executables/config/clusterctl.yaml
  pkg/executables/testdata/clusterctl_expected.yaml
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
Labels: approved, lgtm, size/M

#2920 adding nil check to cluster config datacenter
  pkg/cluster/cloudstack.go
  pkg/cluster/cloudstack_test.go
  pkg/cluster/docker.go
  pkg/cluster/docker_test.go
  pkg/cluster/snow.go
  pkg/cluster/snow_test.go
  pkg/cluster/testdata/cluster_cloudstack_missing_datacenter.yaml
  pkg/cluster/testdata/cluster_docker_missing_datacenter.yaml
  pkg/cluster/testdata/cluster_snow_missing_datacenter.yaml
  pkg/cluster/testdata/cluster_vsphere_missing_datacenter.yaml
  pkg/cluster/vsphere.go
  pkg/cluster/vsphere_test.go
Labels: approved, lgtm, size/L

#2894 Add Cilium reconciler
  Makefile
  pkg/networking/cilium/reconciler/fetch.go
  pkg/networking/cilium/reconciler/main_test.go
  pkg/networking/cilium/reconciler/mocks/templater.go
  pkg/networking/cilium/reconciler/reconciler.go
  pkg/networking/cilium/reconciler/reconciler_test.go
Labels: approved, lgtm, size/XL

#2940 Fix dev-release S3 URI for tarball archives
  release/pkg/assets/archives/archives.go
  release/pkg/assets/archives/archives_test.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#2883 Isolated the api server collector and analyzer to vsphere cluster only
  pkg/diagnostics/analyzers.go
  pkg/diagnostics/analyzers_test.go
  pkg/diagnostics/collector_types.go
  pkg/diagnostics/collectors.go
  pkg/diagnostics/collectors_test.go
  pkg/diagnostics/diagnostic_bundle.go
  pkg/diagnostics/diagnostic_bundle_test.go
  pkg/diagnostics/interfaces.go
  pkg/diagnostics/interfaces/mocks/diagnostics.go
Labels: approved, lgtm, needs-ok-to-test, size/L, needed-next-release

#2866 Update e2e tests to use new ubuntu images
  test/e2e/simpleflow_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/S

#2859 Load snow env vars from secret for controller
  controllers/factory.go
  controllers/mocks/snow_machineconfig_controller.go
  controllers/snow_machineconfig_controller.go
  controllers/snow_machineconfig_controller_test.go
  pkg/aws/snow.go
  pkg/aws/snow_test.go
  pkg/dependencies/factory.go
  pkg/providers/snow/reconciler/clientbuilder.go
  pkg/providers/snow/reconciler/clientbuilder_test.go
  pkg/providers/snow/reconciler/credentials.go
Labels: approved, lgtm, size/L

#2948 Update packages gating message
  docs/content/en/docs/concepts/packages/_index.md
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/tasks/troubleshoot/packages.md
Labels: approved, lgtm, size/S, documentation

#2949 Update changelog.md
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, needs-ok-to-test, size/XS, documentation

#2953 Enable CloudStack tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#2958 Fix e2e tests
  test/e2e/harbor_test.go
Labels: approved, lgtm, size/XS

#2955 Enable LBClass feature gate for baremetal v1.21 cluster
  pkg/clusterapi/extraargs.go
  pkg/clusterapi/extraargs_test.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_awsiam.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_external_etcd.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_full_oidc.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_minimal_oidc.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_node_labels.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_node_taints.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_stacked_etcd.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_missing_ssh_keys.yaml
Labels: approved, lgtm, size/M

#2922 Separating clusterConfig validation from creation
  cmd/eksctl-anywhere/cmd/checkimages.go
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  cmd/eksctl-anywhere/cmd/importimages.go
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
  cmd/eksctl-anywhere/cmd/listovas.go
  cmd/eksctl-anywhere/cmd/options.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  pkg/cluster/spec.go
Labels: approved, lgtm, size/M

#2939 Adding token refresher to EKS-A release bundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackdatacenterconfigs.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets/config/bundle_release.go
  release/pkg/bundles/package-controller.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L, needed-next-release

#2966 Add preflight for k8s v1.20 on baremetal
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/cluster.go
Labels: approved, lgtm, size/S

#2963 Fixing panic on ImmutableFieldChanges comparison
  pkg/api/v1alpha1/cloudstackdatacenterconfig_webhook.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
Labels: approved, lgtm, size/M, needed-next-release

#2971 Add image-builder to release
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets/config/bundle_release.go
  release/pkg/bundles/eksd.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L, needed-next-release

#2945 Trigger staging release
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#2973 Remove vpshere ubuntu auto-import e2e tests
  test/e2e/vsphere_autoimport_test.go
Labels: approved, lgtm, size/M

#2978 bumping cli version in makefile
  Makefile
Labels: approved, lgtm, size/XS

#2947 Added prereqs to docs for each curated package
  docs/content/en/docs/tasks/packages/_index.md
  docs/content/en/docs/tasks/packages/harbor/_index.md
  docs/content/en/docs/tasks/packages/metallb/_index.md
  docs/content/en/docs/tasks/packages/prereq.md
Labels: approved, lgtm, size/M, documentation

#2951 Change secret creation failure messaging
  pkg/curatedpackages/packagecontrollerclient.go
Labels: approved, lgtm, size/XS

#2979 Fix validation on osFamily for Tinkerbell
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/cluster.go
  pkg/providers/tinkerbell/cluster_spec_builder_test.go
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_awsiam.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_external_etcd.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_full_oidc.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_minimal_oidc.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_missing_ssh_keys.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_multiple_node_groups.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_node_labels.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_node_taints.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_stacked_etcd.yaml
  pkg/providers/tinkerbell/validate.go
Labels: approved, lgtm, size/M, needed-next-release

#2984 Avoid reading git tag for Bottlerocket-bootstrap and EKS-A CLI
  release/pkg/assets/assets.go
  release/pkg/assets/images/images.go
  release/pkg/assets/images/images_test.go
  release/pkg/assets/tagger/tagger.go
  release/pkg/assets/types/types.go
  release/pkg/images/images.go
  release/pkg/operations/download.go
  release/pkg/operations/upload.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#2987 Skip Cilium reconciler flaky tests
  pkg/networking/cilium/reconciler/reconciler_test.go
Labels: approved, lgtm, size/XS

#2982 Resolving eks-a controller spec discrepancy
  controllers/resource/fetcher.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
Labels: approved, lgtm, size/M, needed-next-release

#2989 Update the cron job name
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
Labels: approved, lgtm, size/XS

#2991 Fix printing issues
  pkg/curatedpackages/packagecontrollerclient.go
Labels: approved, lgtm, size/XS

#2988 Document Proxy Env Vars
  docs/content/en/docs/reference/clusterspec/optional/proxy.md
Labels: approved, lgtm, size/S, documentation

#2994 Update pkg cert-manager error msg
  pkg/curatedpackages/curatedpackages.go
Labels: approved, lgtm, size/S

#2996 Update k8s conformance to 1.23
  conformance/Makefile
Labels: approved, lgtm, size/XS

#3003 Fix list from cluster
  go.mod
  go.sum
  pkg/curatedpackages/bundle.go
  pkg/curatedpackages/bundle_test.go
Labels: approved, lgtm, size/S

#2887 Use client registry for snow validator
  Makefile
  controllers/factory.go
  controllers/mocks/snow_machineconfig_controller.go
  controllers/snow_machineconfig_controller.go
  controllers/snow_machineconfig_controller_test.go
  pkg/aws/snow.go
  pkg/aws/snow_test.go
  pkg/dependencies/factory.go
  pkg/providers/snow/clientregistry.go
  pkg/providers/snow/clientregistry_test.go
  pkg/providers/snow/defaults.go
  pkg/providers/snow/defaults_test.go
  pkg/providers/snow/entry.go
  pkg/providers/snow/mocks/clientregistry.go
  pkg/providers/snow/reconciler/clientbuilder.go
  pkg/providers/snow/reconciler/clientbuilder_test.go
  pkg/providers/snow/snow_test.go
  pkg/providers/snow/testdata/certificates
  pkg/providers/snow/validator.go
  pkg/providers/snow/validator_test.go
Labels: approved, lgtm, size/XL

#3005 Trim leading dash in repo name
  release/pkg/assets/images/images.go
Labels: lgtm, size/XS

#3011 Triggers staging cli release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, size/XS

#3014 Remove kubeadm apiVersion from kind config
  pkg/executables/config/kind.yaml
  pkg/executables/testdata/kind_config.yaml
  pkg/executables/testdata/kind_config_docker_mount.yaml
  pkg/executables/testdata/kind_config_docker_mount_networking.yaml
  pkg/executables/testdata/kind_config_extra_port_mappings.yaml
  pkg/executables/testdata/kind_config_registry_mirror_insecure.yaml
  pkg/executables/testdata/kind_config_registry_mirror_with_ca.yaml
Labels: approved, lgtm, size/XS

#3008 Remove Ubuntu artifacts from release process
  release/pkg/assets/config/bundle_release.go
  release/pkg/operations/bundle_release_test.go
  release/pkg/test/testdata/release-0.11-bundle-release.yaml
Labels: approved, lgtm, size/XXL

#3013 Setting filewriter so it's non-nil to avoid panic
  cmd/eksctl-anywhere/cmd/deletecluster.go
  pkg/workflows/delete.go
  pkg/workflows/delete_test.go
Labels: approved, lgtm, size/XS, needed-next-release

#2901 Add snowmachineconfig check in snow reconcilier
  controllers/factory.go
  pkg/providers/snow/reconciler/main_test.go
  pkg/providers/snow/reconciler/reconciler.go
  pkg/providers/snow/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#3019 Skip more Cilium reconciler flaky tests
  pkg/networking/cilium/reconciler/reconciler_test.go
Labels: approved, lgtm, size/XS

#3020 Checkpoint feature documentation
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
Labels: approved, lgtm, size/XS, documentation

#3018 Docs update for 1.23 update
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/clusterspec/baremetal.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
  docs/content/en/docs/reference/vsphere/vsphere-ovas.md
Labels: approved, lgtm, size/M, documentation

#3024 Minor changes to packages docs wording
  docs/content/en/docs/concepts/packages/_index.md
Labels: approved, lgtm, size/XS, documentation

#3026 Add k8s 1.23 certification
  README.md
  docs/static/images/certified-kubernetes-1.23-color.svg
Labels: approved, lgtm, size/XS, documentation

#3025 Source latest tag for EKS-A packages Helm chart
  release/pkg/assets/config/bundle_release.go
  release/pkg/images/images.go
Labels: approved, do-not-merge/hold, size/XS

#3030 Add e2e for enabling flux through upgrade
  test/e2e/flux_test.go
  test/framework/flux.go
Labels: approved, lgtm, size/M

#3007 Updated artifacts page for image-builder
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/L, documentation

#3031 Construct full URI before checking existence
  release/pkg/assets/images/images.go
  release/pkg/images/images.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.11-bundle-release.yaml
  release/pkg/util/bundles/bundles.go
Labels: approved, size/M

#3032 Add gitops upgrade doc
  docs/content/en/docs/reference/clusterspec/optional/gitops.md
  docs/content/en/docs/tasks/cluster/cluster-flux.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
Labels: approved, lgtm, size/S, documentation

#3027 Feature package ga docs
  docs/Makefile
  docs/content/en/docs/concepts/packages/_index.md
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/tasks/packages/prereq.md
Labels: approved, lgtm, size/M, documentation

#3040 Upload EKS-A tarballs before running tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/S

#3036 pushing release number bump
  release/triggers/eks-a-release/development/RELEASE_NUMBER
Labels: approved, lgtm, size/XS

#3038 Clean up unnecessary test configuration
  pkg/providers/snow/reconciler/main_test.go
  pkg/providers/snow/reconciler/reconciler_test.go
Labels: size/S

#3037 [Docs] Fix typos and cluster spec descriptions
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/baremetal/netbooting-and-tinkerbell.md
  docs/content/en/docs/reference/clusterspec/baremetal.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
Labels: approved, lgtm, size/M, documentation

#3041 Trigger prod bundle release
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#3045 Fix source S3 path for imagebuilder assets
  release/pkg/assets/archives/archives.go
Labels: lgtm, size/XS

#3042 Trigger prod cli release
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#3050 Update pkg troubleshoot page
  docs/content/en/docs/tasks/troubleshoot/packages.md
Labels: approved, lgtm, size/S, documentation

#3048 Add pkg prerequisites to sidebar
  docs/content/en/docs/tasks/packages/prereq.md
Labels: approved, lgtm, size/XS, documentation

#3056 update config.toml to new version
  docs/config.toml
Labels: lgtm, size/XS, documentation

#3060 Add description for etcd backup and restore
  docs/content/en/docs/tasks/cluster/etcd-backup-restore.md
Labels: approved, lgtm, size/XS, documentation

#3062 Upload tarballs to different folder for staging EKS-A release
  cmd/integration_test/build/script/upload_artifacts.sh
  release/pkg/bundles/eksctl-anywhere.go
Labels: approved, lgtm, size/S

#3063 bumping versions for release-0.11
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/changelog.md
  docs/content/en/docs/tasks/packages/prereq.md
  docs/content/en/docs/tasks/troubleshoot/packages.md
Labels: approved, lgtm, size/S, documentation

#3066 Minor docs cleanup
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
  docs/content/en/docs/reference/clusterspec/baremetal.md
Labels: approved, lgtm, size/S, documentation

#3069 Add instruction for manually pausing cluster reconcile
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
Labels: approved, lgtm, size/S, documentation

#3055 Update validator test to use modern sign algorithm
  pkg/crypto/validator_test.go
Labels: approved, lgtm, size/L

#3058 bump CLI brew trigger version
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.11-bundle-release.yaml
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/L

#3073 Add envoy to prod release
  release/pkg/assets/config/bundle_release.go
Labels: approved, lgtm, size/XS

#3077 Fix flux git e2e
  test/e2e/flux_test.go
Labels: approved, lgtm, size/XS

#3074 Calls out breaking changes and updates image-builder link
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#2893 Continue e2e test after failure when checkpoint is enabled
  test/e2e/upgrade_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/S

#3081 Enable tinkerbell tests on release branch
  internal/test/e2e/run.go
Labels: approved, lgtm, size/XS

#3082 Bumping up version for patch release bundle
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#3012 Update conformance tests
  conformance/Makefile
  conformance/README.md
  conformance/build/lib/generate_readme.sh
  conformance/sample_cluster.yaml
Labels: approved, lgtm, size/L

#3084 Add mounts and insecure to import images
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/import_images.go
Labels: approved, lgtm, size/M, documentation

#3083 Bumping CLI staging versions
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#3086 Fix upload artifacts script
  cmd/integration_test/build/script/upload_artifacts.sh
  release/pkg/bundles/eksctl-anywhere.go
Labels: size/XS

#3088 Use modified paths for actual upload
  cmd/integration_test/build/script/upload_artifacts.sh
Labels: size/S

#2981 Update metallb docs to reflect GA config
  docs/content/en/docs/reference/packagespec/metallb/v0.12.1.md
  docs/content/en/docs/tasks/packages/metallb/_index.md
Labels: approved, lgtm, size/L, documentation

#3096 Fix broken link on changelog
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#3101 Disable tinkerbell e2e on main
  internal/test/e2e/run.go
Labels: approved, lgtm, size/XS

#3099 Curated packages docs
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/tasks/packages/prereq.md
  docs/content/en/docs/tasks/troubleshoot/packages.md
  docs/content/en/docs/workshops/packages/_index.md
Labels: approved, lgtm, size/L, documentation

#3049 Adding CloudStack e2e test for clusters spanning multiple Cloudstack zones
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  internal/pkg/api/cloudstack.go
  internal/pkg/api/cloudstack_test.go
  internal/pkg/api/testdata/cloudstack-config.yaml
  test/e2e/README.md
  test/e2e/upgrade_test.go
  test/framework/cloudstack.go
Labels: approved, lgtm, size/L

#2959 add options to override machine wait timeouts
  cmd/eksctl-anywhere/cmd/constants.go
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/options.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/dependencies/factory.go
  test/e2e/oidc_test.go
  test/e2e/simpleflow_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/upgrade_test.go
  test/framework/commands.go
Labels: approved, lgtm, size/XL

#3105 Generalize the package installation
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/tasks/packages/_index.md
  docs/content/en/docs/tasks/troubleshoot/packages.md
Labels: approved, lgtm, size/L, documentation

#2409 Remove unnecessary fetchs from tinkerbell template
  pkg/cluster/spec.go
  pkg/providers/tinkerbell/template.go
Labels: approved, lgtm, size/M

#3109 Add description of best practices
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/tasks/packages/_index.md
  docs/content/en/docs/tasks/troubleshoot/packages.md
Labels: approved, lgtm, size/M, documentation

#3111 bumping prod bundle trigger
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#3113 bumping cli prod version
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#2869 Proposal: Workflow refactor
  designs/workflow-refactor.md
Labels: approved, lgtm, size/L

#3104 Adding retries for reading remote EKS-D CRD's/manifests
  pkg/eksd/installer.go
  pkg/eksd/installer_test.go
  pkg/eksd/upgrader_test.go
Labels: approved, lgtm, size/M

#3098 Emissary doc changes
  docs/content/en/docs/reference/packagespec/_index.md
  docs/content/en/docs/reference/packagespec/emissary/_index.md
  docs/content/en/docs/reference/packagespec/emissary/v0.3.0.md
  docs/content/en/docs/tasks/packages/emissary/_index.md
  docs/content/en/docs/tasks/workload/ingress.md
Labels: approved, lgtm, size/L, documentation
