Repository aws/eks-anywhere, pull requests merged in 2022-05, with the labels that each got.

#1989 Fix flux tests to clone repository in the right path
  pkg/git/factory/gitfactory.go
  pkg/git/factory/gitfactory_test.go
  test/framework/flux.go
  test/framework/git.go
Labels: approved, lgtm, size/M

#1963 Update tinkerbell md and kubeadmconfig template names
  pkg/providers/tinkerbell/config/template-md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_tinkerbell_md_multiple_node_groups.yaml
  pkg/providers/tinkerbell/tinkerbell.go
Labels: approved, lgtm, size/M

#1988 support `upgrade cluster` with `FluxConfig` present
  config/crd/kustomization.yaml
  controllers/controllers/clusters/vsphere.go
  controllers/controllers/resource/fetcher.go
  pkg/addonmanager/addonclients/fluxaddonclient.go
  pkg/cluster/fetch.go
  pkg/cluster/fetch_test.go
  pkg/cluster/spec.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/validations/kubectl.go
  pkg/validations/mocks/kubectl.go
  pkg/validations/upgradevalidations/immutableFields.go
Labels: approved, lgtm, size/L, team/cli, area/gitops

#1975 Add tink-controller to the bundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/thirdparty/tinkerbell/zz_generated.deepcopy.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults_test.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_tink.go
  release/pkg/assets_tinkerbell.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.8-bundle-release.yaml
Labels: approved, lgtm, size/XXL

#1994 convert GitOpsConfig to flux config when reading spec from cluster
  pkg/cluster/fetch.go
  pkg/cluster/spec.go
Labels: approved, lgtm, size/XS

#1970 Remove lazy loading of hardware in tinkerbell validation
  pkg/providers/tinkerbell/hardware/catalogue.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/validator.go
  pkg/providers/tinkerbell/validator_helper_test.go
  pkg/providers/tinkerbell/validator_test.go
Labels: approved, lgtm, size/L

#1907 Developer doc for github issues
  docs/developer/issues.md
Labels: documentation, approved, lgtm, size/S

#1990 Add `Delete` method to kube client
  pkg/clients/kubernetes/mocks/kubectl.go
  pkg/clients/kubernetes/unauth.go
  pkg/clients/kubernetes/unauth_test.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/L

#1995 Implement retry logic for Skopeo copy
  release/pkg/images/images.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/utils/utils.go
Labels: approved, lgtm, size/M

#1997 Inject kubeclient to snow provider
  Makefile
  pkg/clients/kubernetes/kubeconfig.go
  pkg/clients/kubernetes/mocks/kubeconfig.go
  pkg/clients/kubernetes/scheme.go
  pkg/clients/kubernetes/unauth.go
  pkg/clients/kubernetes/unauth_test.go
  pkg/dependencies/factory.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/creds.go
  pkg/providers/snow/mocks/client.go
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
Labels: approved, lgtm

#1996 Add name util functions for capi apibuilder
  pkg/clusterapi/apibuilder.go
  pkg/clusterapi/name.go
  pkg/clusterapi/name_test.go
Labels: approved, lgtm, size/L

#1999 Generate CAPI objects for snow upgrade and create
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/fetch.go
  pkg/providers/snow/objects.go
  pkg/providers/snow/objects_test.go
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
  pkg/providers/snow/testdata/expected_results_main_cp.yaml
  pkg/providers/snow/testdata/expected_results_main_md.yaml
Labels: approved, lgtm, size/XL

#2001 Disable 1.22 autoimport test
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#1966 Cluster upgrade feature for bare metal
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/executables/testdata/kubectl_tinkerbelldatacenter.json
  pkg/executables/testdata/kubectl_tinkerbelldatacenter_invalid.json
  pkg/executables/testdata/kubectl_tinkerbellmachineconfig.json
  pkg/executables/testdata/kubectl_tinkerbellmachineconfig_invalid.json
  pkg/providers/tinkerbell/mocks/client.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/validator.go
  pkg/providers/tinkerbell/validator_test.go
Labels: lgtm, size/XL

#1976 Feature install packages
  cmd/eksctl-anywhere/cmd/generatepackage.go
  cmd/eksctl-anywhere/cmd/install.go
  cmd/eksctl-anywhere/cmd/installpackages.go
  cmd/eksctl-anywhere/cmd/listpackages.go
  pkg/curatedpackages/curatedpackages.go
  pkg/curatedpackages/discovery.go
  pkg/curatedpackages/discovery_test.go
  pkg/curatedpackages/kubectlrunner.go
  pkg/curatedpackages/mocks/kubectlrunner.go
  pkg/curatedpackages/packageclient.go
  pkg/curatedpackages/packageclient_test.go
  pkg/curatedpackages/validations.go
  pkg/executables/kubectl.go
Labels: approved, lgtm, size/L

#1991 k8s 21 certification expires 5/4
  README.md
Labels: approved, lgtm, size/XS

#1955 Troubleshooting note about eks vs eks anywhere
  docs/content/en/docs/tasks/troubleshoot/_troubleshooting.md
Labels: documentation, approved, lgtm, size/XS

#2005 Set up E2E tests for `FluxConfig` testing
  internal/pkg/api/flux.go
  test/e2e/flux_test.go
  test/framework/cluster.go
  test/framework/flux.go
Labels: approved, lgtm, area/e2e, size/L, team/cli, area/gitops

#2006 Add SetupAndValidateUpgradeCluster, UpgradeNeeded for snow
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
Labels: approved, lgtm, size/L

#2003 Set SSH_KNOWN_HOSTS to same value as EKSA_GIT_KNOWN_HOSTS
  pkg/config/config.go
  pkg/git/factory/gitfactory.go
Labels: approved, lgtm, size/XS

#2002 Add Kubectl Wrappers for Curated Packages
  cmd/eksctl-anywhere/cmd/apply.go
  cmd/eksctl-anywhere/cmd/applypackages.go
  cmd/eksctl-anywhere/cmd/createpackages.go
  cmd/eksctl-anywhere/cmd/deletepackages.go
  cmd/eksctl-anywhere/cmd/describe.go
  cmd/eksctl-anywhere/cmd/describepackages.go
  cmd/eksctl-anywhere/cmd/upgradepackages.go
  go.mod
  go.sum
  pkg/curatedpackages/bundle.go
  pkg/curatedpackages/packageclient.go
  pkg/curatedpackages/packageclient_test.go
Labels: approved, lgtm, size/XL

#2008 Generic git env var validations and repository
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  pkg/api/v1alpha1/cluster.go
  pkg/config/config.go
  pkg/executables/flux.go
  pkg/executables/flux_test.go
  pkg/git/factory/gitfactory.go
  pkg/validations/createvalidations/gitops_test.go
Labels: approved, lgtm, size/L

#2012 make sure that classic gitops tests have the namespace set correctly …
  test/framework/flux.go
Labels: approved, lgtm, size/S

#2007 Add documentation about new environment variables
  docs/content/en/docs/reference/clusterspec/vsphere.md
Labels: documentation, approved, lgtm, size/S

#2015 Re-enabling eks-anywhere-packages controller
  release/api/v1alpha1/artifacts.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/M

#1919 Add best practice guide
  CONTRIBUTING.md
  docs/developer/README.md
  docs/developer/best-practice.md
Labels: documentation, approved, lgtm, size/L

#2017 Add make target to update bundle generation golden files
  release/Makefile
  release/pkg/generate_spec_test.go
  release/pkg/test/files.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.8-bundle-release.yaml
Labels: approved, lgtm, size/M

#2024 Temporarily remove git env var validations
  pkg/api/v1alpha1/cluster.go
Labels: approved, lgtm, size/S

#2025 Fixes for speling errors.
  docs/developer/best-practice.md
Labels: documentation, approved, lgtm, size/M

#2023 Add the packages controller to the build artifacts.
  release/api/v1alpha1/artifacts.go
Labels: approved, lgtm, size/XS

#2020 Cleanup providers for generate CAPI spec on create
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/docker/docker.go
  pkg/providers/provider.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/S

#2029 Run `make release-manifest` to generate fluxconfig CRD
  config/manifest/eksa-components.yaml
Labels: approved, lgtm, size/M

#2010 Rename tinkerbellProvider to Provider
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/delete.go
  pkg/providers/tinkerbell/ssh.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/upgrade.go
Labels: approved, lgtm, size/M

#2032 Fix bug in specifying proxy configuration for helm template
  docs/content/en/docs/reference/changelog.md
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/clustermanager/retrier_client.go
  pkg/dependencies/factory.go
  pkg/executables/helm.go
  pkg/executables/helm_test.go
Labels: documentation, approved, lgtm, size/L

#2034 Call ValidateConfig for new cluster specs
  controllers/controllers/resource/reconciler_test.go
  controllers/controllers/resource/testdata/cloudstackDatacenterConfigSpec.yaml
  controllers/controllers/resource/testdata/cloudstackEtcdadmcluster.yaml
  controllers/controllers/resource/testdata/cloudstackKubeadmconfigTemplateSpec.yaml
  controllers/controllers/resource/testdata/cloudstackKubeadmcontrolplane.yaml
  controllers/controllers/resource/testdata/cloudstackMachineConfigSpec.yaml
  controllers/controllers/resource/testdata/cloudstackMachineDeployment.yaml
  controllers/controllers/resource/testdata/cloudstackMachineTemplate.yaml
  controllers/controllers/resource/testdata/eksa-cluster-cloudstack.yaml
  controllers/controllers/resource/testdata/eksa-cluster-cloudstack_no_changes.yaml
  controllers/controllers/resource/testdata/eksa-cluster.yaml
  controllers/controllers/resource/testdata/eksa-cluster_no_changes.yaml
  controllers/controllers/resource/testdata/expectedCloudStackMachineDeployment.yaml
  controllers/controllers/resource/testdata/expectedCloudStackMachineDeploymentOnlyReplica.yaml
  controllers/controllers/resource/testdata/expectedCloudStackMachineDeploymentTemplateChanged.yaml
  controllers/controllers/resource/testdata/expectedVSphereMachineDeployment.yaml
  controllers/controllers/resource/testdata/expectedVSphereMachineDeploymentOnlyReplica.yaml
  controllers/controllers/resource/testdata/expectedVSphereMachineDeploymentTemplateChanged.yaml
  controllers/controllers/resource/testdata/vsphereDatacenterConfigSpec.yaml
  controllers/controllers/resource/testdata/vsphereEtcdadmcluster.yaml
  controllers/controllers/resource/testdata/vsphereKubeadmconfigTemplateSpec.yaml
  controllers/controllers/resource/testdata/vsphereKubeadmcontrolplane.yaml
  controllers/controllers/resource/testdata/vsphereMachineConfigSpec.yaml
  controllers/controllers/resource/testdata/vsphereMachineDeployment.yaml
  controllers/controllers/resource/testdata/vsphereMachineTemplate.yaml
  pkg/cluster/spec.go
Labels: approved, lgtm, size/L

#2033 Add indexing capability for Tinkerbell hardware.
  pkg/providers/tinkerbell/hardware/index.go
  pkg/providers/tinkerbell/hardware/index_test.go
Labels: approved, lgtm, size/L

#2028 Add more validations for FluxConfig
  pkg/api/v1alpha1/fluxconfig.go
  pkg/api/v1alpha1/fluxconfig_test.go
Labels: approved, lgtm, size/M

#2018 Feature controller installation
  Makefile
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
  pkg/curatedpackages/curatedpackages.go
  pkg/curatedpackages/curatedpackages_test.go
  pkg/curatedpackages/kubectlrunner.go
  pkg/curatedpackages/mocks/installer.go
  pkg/curatedpackages/mocks/kubectlrunner.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/executables/builder.go
  pkg/executables/helm.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
Labels: lgtm, size/L

#2019 Include Support Bundle
  pkg/diagnostics/analyzers.go
  pkg/diagnostics/collectors.go
  pkg/diagnostics/config/diagnostic-collector-rbac.yaml
  pkg/diagnostics/diagnostic_bundle.go
  pkg/diagnostics/diagnostic_bundle_test.go
  pkg/diagnostics/interfaces.go
  pkg/diagnostics/interfaces/mocks/diagnostics.go
Labels: size/L

#2026 BYO Git test setup, initial tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  internal/test/e2e/flux.go
  internal/test/e2e/fluxGit.go
  internal/test/e2e/setup.go
  test/e2e/flux_test.go
  test/e2e/workload_clusters_test.go
  test/framework/flux.go
  test/framework/git.go
Labels: approved, lgtm, area/e2e, size/L, team/cli, area/gitops

#2042 check that full cluster path exists in git validations
  pkg/addonmanager/addonclients/fluxaddonclient.go
Labels: approved, lgtm, size/XS

#2043 Git tests fix
  test/framework/flux.go
Labels: approved, lgtm, size/XS

#2047 only clean up git tests if file is left behind
  test/framework/flux.go
Labels: approved, lgtm, size/S

#2048 Git tests fix
  test/e2e/workload_clusters_test.go
Labels: approved, lgtm, size/XS

#2045 Curated packages bugfixes
  cmd/eksctl-anywhere/cmd/applypackages.go
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/createpackages.go
  cmd/eksctl-anywhere/cmd/deletepackages.go
  cmd/eksctl-anywhere/cmd/describepackages.go
  cmd/eksctl-anywhere/cmd/generatepackage.go
  cmd/eksctl-anywhere/cmd/get.go
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
  cmd/eksctl-anywhere/cmd/installpackages.go
  cmd/eksctl-anywhere/cmd/listpackages.go
  cmd/eksctl-anywhere/cmd/upgradepackages.go
  pkg/curatedpackages/bundle.go
  pkg/curatedpackages/curatedpackages.go
  pkg/curatedpackages/packageclient.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/workflows/create.go
Labels: lgtm, size/M

#2049 Git tests fix
  test/e2e/flux_test.go
Labels: approved, lgtm, size/M

#2046 Remove packages image and chart from manifest list
  release/api/v1alpha1/artifacts.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/M

#2051 Make git commit field static for dry run
  release/Makefile
  release/pkg/assets_eksd.go
  release/pkg/test/files.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.8-bundle-release.yaml
Labels: approved, lgtm, size/S

#2021 Feature download images
  cmd/eksctl-anywhere/cmd/downloadimages.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/download.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/download_test.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/import.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/import_test.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/mocks/download.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/noop.go
  pkg/curatedpackages/bundle.go
  pkg/curatedpackages/curatedpackages.go
  pkg/curatedpackages/oras/download.go
  pkg/curatedpackages/reader.go
  pkg/manifests/reader.go
  release/api/v1alpha1/artifacts.go
Labels: lgtm, size/L

#2053 make test git path unique depending on test
  pkg/addonmanager/addonclients/fluxaddonclient.go
  test/framework/flux.go
Labels: lgtm, size/XS

#2055 Feature import packages images
  cmd/eksctl-anywhere/cmd/import_images.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/import.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/import_test.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/mocks/import.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/noop.go
  pkg/curatedpackages/curatedpackages.go
  pkg/curatedpackages/oras/download.go
  pkg/curatedpackages/oras/import.go
  pkg/curatedpackages/reader.go
Labels: lgtm, size/L

#2060 Remove feature flag for BYO git
  pkg/api/v1alpha1/cluster.go
  pkg/dependencies/factory.go
  pkg/features/features.go
  test/e2e/flux_test.go
  test/e2e/workload_clusters_test.go
Labels: lgtm, size/M

#2062 Prevent duplicate license printout
  cmd/eksctl-anywhere/cmd/applypackages.go
  cmd/eksctl-anywhere/cmd/createpackages.go
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
  cmd/eksctl-anywhere/cmd/installpackages.go
  pkg/curatedpackages/packageclient.go
  pkg/curatedpackages/packagecontrollerclient.go
Labels: lgtm, size/XS

#2063 Minor fixes
  cmd/eksctl-anywhere/cmd/generatepackage.go
  cmd/eksctl-anywhere/cmd/listpackages.go
  pkg/curatedpackages/curatedpackages.go
  pkg/curatedpackages/oras/import.go
Labels: lgtm, size/S

#2058 Add junshun and kevensalerno to owners
  OWNERS
Labels: approved, lgtm, size/XS

#2052 Build eks-anywhere-packages during release.
  release/pkg/generate_spec.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.8-bundle-release.yaml
Labels: approved, lgtm, size/M

#2065 Update branch name in Makefile
  Makefile
Labels: approved, lgtm, size/XS

#2057 Restarting cilium daemonset on upgrade workflow to address upgrade issue
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/L

#2067 bump CLI bundle release trigger for release 0.9
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#1931 Initial Implementation of Tinkerbell stack installation
  pkg/bootstrapper/bootstrapper.go
  pkg/bootstrapper/mocks/client.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/mocks/client.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/L

#2004 PR process and commit message guidelines
  docs/developer/pull-requests.md
Labels: documentation, lgtm, size/L

#2074 Remove git tag from cluster-controller manifest path
  Makefile
  release/pkg/assets_cluster_controller.go
Labels: approved, lgtm, size/XS

#2079 pull before push to avoid non-fast-forward updates in gitops validations
  test/framework/flux.go
Labels: approved, lgtm, size/XS

#2081 use jobId not cluster name as config path in gitops tests
  test/framework/flux.go
Labels: approved, lgtm, size/XS

#2041 Changelog update for v0.9.0
  docs/content/en/docs/reference/changelog.md
Labels: documentation, approved, lgtm, size/S

#2070 Adding documentation for generic git provider
  docs/content/en/docs/reference/clusterspec/gitops.md
Labels: documentation, approved, lgtm, size/L

#2016 Implement Tinkerbell hardware catalogue indexes
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/hardware/catalogue.go
  pkg/providers/tinkerbell/hardware/catalogue_bmc.go
  pkg/providers/tinkerbell/hardware/catalogue_bmc_test.go
  pkg/providers/tinkerbell/hardware/catalogue_hardware.go
  pkg/providers/tinkerbell/hardware/catalogue_hardware_test.go
  pkg/providers/tinkerbell/hardware/catalogue_secret.go
  pkg/providers/tinkerbell/hardware/catalogue_secret_test.go
  pkg/providers/tinkerbell/hardware/catalogue_test.go
  pkg/providers/tinkerbell/hardware/catalogue_validations.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/validator.go
  pkg/providers/tinkerbell/validator_test.go
Labels: approved, lgtm, size/XXL

#2059 Wire hardware catalogue with Tinkerbell provider
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/hardware/catalogue.go
  pkg/providers/tinkerbell/hardware/catalogue_bmc.go
  pkg/providers/tinkerbell/hardware/catalogue_hardware.go
  pkg/providers/tinkerbell/hardware/catalogue_secret.go
  pkg/providers/tinkerbell/hardware/catalogue_test.go
  pkg/providers/tinkerbell/hardware/catalogue_validations.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/validator.go
  pkg/providers/tinkerbell/validator_test.go
Labels: approved, lgtm, size/L

#2087 Adding CAPC artifacts into prod bundle
  release/pkg/assets_eksd.go
  release/pkg/generate_spec.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.8-bundle-release.yaml
Labels: approved, lgtm, size/L

#2093 Catch up to date pull err
  pkg/git/git.go
  pkg/git/gitclient/gitclient.go
  test/framework/flux.go
Labels: approved, lgtm, size/M

#1920 CloudStack - add diskOffering to machine template
  Makefile
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  controllers/controllers/resource/fetcher.go
  controllers/controllers/resource/fetcher_test.go
  controllers/controllers/resource/testdata/cloudstackEtcdadmcluster.yaml
  controllers/controllers/resource/testdata/cloudstackKubeadmconfigTemplateSpec.yaml
  controllers/controllers/resource/testdata/cloudstackMachineConfigSpec.yaml
  controllers/controllers/resource/testdata/cloudstackMachineTemplate.yaml
  controllers/controllers/resource/testdata/eksa-cluster-cloudstack.yaml
  controllers/controllers/resource/testdata/eksa-cluster-cloudstack_no_changes.yaml
  go.mod
  go.sum
  pkg/api/v1alpha1/cloudstackmachineconfig_test.go
  pkg/api/v1alpha1/cloudstackmachineconfig_types.go
  pkg/api/v1alpha1/cloudstackmachineconfig_types_test.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook_test.go
  pkg/api/v1alpha1/testdata/cluster_1_21_cloudstack.yaml
  pkg/api/v1alpha1/testdata/cluster_different_machine_configs_cloudstack.yaml
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/executables/cmk.go
  pkg/executables/cmk_test.go
  pkg/executables/kubectl_test.go
  pkg/executables/testdata/cmk_list_diskoffering_empty.json
  pkg/executables/testdata/cmk_list_diskoffering_multiple.json
  pkg/executables/testdata/kubectl_eksa_cs_machineconfig.json
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/config/template-md.yaml
  pkg/providers/cloudstack/mocks/client.go
  pkg/providers/cloudstack/testdata/cluster_main.yaml
  pkg/providers/cloudstack/testdata/cluster_main_with_cp_node_labels.yaml
  pkg/providers/cloudstack/testdata/cluster_main_with_node_labels.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, size/XXL

#2094 CloudStack - add diskOffering to machine template (#1920)
  Makefile
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  controllers/controllers/resource/fetcher.go
  controllers/controllers/resource/fetcher_test.go
  controllers/controllers/resource/testdata/cloudstackEtcdadmcluster.yaml
  controllers/controllers/resource/testdata/cloudstackKubeadmconfigTemplateSpec.yaml
  controllers/controllers/resource/testdata/cloudstackMachineConfigSpec.yaml
  controllers/controllers/resource/testdata/cloudstackMachineTemplate.yaml
  controllers/controllers/resource/testdata/eksa-cluster-cloudstack.yaml
  controllers/controllers/resource/testdata/eksa-cluster-cloudstack_no_changes.yaml
  go.mod
  go.sum
  pkg/api/v1alpha1/cloudstackmachineconfig_test.go
  pkg/api/v1alpha1/cloudstackmachineconfig_types.go
  pkg/api/v1alpha1/cloudstackmachineconfig_types_test.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook_test.go
  pkg/api/v1alpha1/testdata/cluster_1_21_cloudstack.yaml
  pkg/api/v1alpha1/testdata/cluster_different_machine_configs_cloudstack.yaml
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/executables/cmk.go
  pkg/executables/cmk_test.go
  pkg/executables/kubectl_test.go
  pkg/executables/testdata/cmk_list_diskoffering_empty.json
  pkg/executables/testdata/cmk_list_diskoffering_multiple.json
  pkg/executables/testdata/kubectl_eksa_cs_machineconfig.json
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/config/template-md.yaml
  pkg/providers/cloudstack/mocks/client.go
  pkg/providers/cloudstack/testdata/cluster_main.yaml
  pkg/providers/cloudstack/testdata/cluster_main_with_cp_node_labels.yaml
  pkg/providers/cloudstack/testdata/cluster_main_with_node_labels.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, size/XXL

#1902 Feature/add check images command
  cmd/eksctl-anywhere/cmd/checkimages.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/check_image_existence.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/check_image_existence_test.go
  go.mod
  go.sum
  pkg/constants/constants.go
  release/pkg/utils/utils.go
Labels: approved, lgtm, size/L

#2096 Add validations for curated packages
  cmd/eksctl-anywhere/cmd/deletepackages.go
  cmd/eksctl-anywhere/cmd/generatepackage.go
  cmd/eksctl-anywhere/cmd/installpackages.go
  pkg/curatedpackages/oras/download.go
Labels: approved, lgtm, size/XS

#1893 Curated Package Documentation
  docs/content/en/docs/concepts/packages/_index.md
  docs/content/en/docs/concepts/packages/artifacts.md
  docs/content/en/docs/concepts/packages/cli.md
  docs/content/en/docs/concepts/packages/package-controller.md
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/_index.md
  docs/content/en/docs/reference/packagespec/_index.md
  docs/content/en/docs/reference/packagespec/harbor/_index.md
  docs/content/en/docs/reference/packagespec/harbor/v2.5.0.md
  docs/content/en/docs/tasks/cluster/cluster-integrations.md
  docs/content/en/docs/tasks/packages/_index.md
  docs/content/en/docs/tasks/packages/harbor/_index.md
  docs/content/en/docs/workshops/packages/_index.md
  docs/content/en/docs/workshops/packages/harbor.md
  docs/static/images/harbor-nonproxy_project.png
  docs/static/images/harbor-portal.png
  docs/static/images/harbor-private_ecr_policy.png
  docs/static/images/harbor-private_ecr_proxy.png
  docs/static/images/harbor-private_ecr_repository.png
  docs/static/images/harbor-private_ecr_user.png
  docs/static/images/harbor-private_ecr_user_group.png
  docs/static/images/harbor-private_proxy_project.png
  docs/static/images/harbor-public_ecr_proxy.png
  docs/static/images/harbor-public_proxy_project.png
  docs/static/images/harbor-replication_result.png
  docs/static/images/harbor-replication_rule.png
Labels: documentation, approved, lgtm, size/XL

#2099 Bump up cli version to trigger staging cli release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#2102 Curated Package Documentation (#1893)
  docs/content/en/docs/concepts/packages/_index.md
  docs/content/en/docs/concepts/packages/artifacts.md
  docs/content/en/docs/concepts/packages/cli.md
  docs/content/en/docs/concepts/packages/package-controller.md
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/_index.md
  docs/content/en/docs/reference/packagespec/_index.md
  docs/content/en/docs/reference/packagespec/harbor/_index.md
  docs/content/en/docs/reference/packagespec/harbor/v2.5.0.md
  docs/content/en/docs/tasks/cluster/cluster-integrations.md
  docs/content/en/docs/tasks/packages/_index.md
  docs/content/en/docs/tasks/packages/harbor/_index.md
  docs/content/en/docs/workshops/packages/_index.md
  docs/content/en/docs/workshops/packages/harbor.md
  docs/static/images/harbor-nonproxy_project.png
  docs/static/images/harbor-portal.png
  docs/static/images/harbor-private_ecr_policy.png
  docs/static/images/harbor-private_ecr_proxy.png
  docs/static/images/harbor-private_ecr_repository.png
  docs/static/images/harbor-private_ecr_user.png
  docs/static/images/harbor-private_ecr_user_group.png
  docs/static/images/harbor-private_proxy_project.png
  docs/static/images/harbor-public_ecr_proxy.png
  docs/static/images/harbor-public_proxy_project.png
  docs/static/images/harbor-replication_result.png
  docs/static/images/harbor-replication_rule.png
Labels: documentation, approved, lgtm, size/XL

#2103 update curated packages FAQ
  docs/content/en/docs/concepts/packages/_index.md
Labels: documentation, approved, lgtm, size/XS

#2097 Support host paths to mount for cloudstack
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/providers/cloudstack/decoder/decoder.go
Labels: approved, lgtm, size/M

#2100 use branch-per-test in order to avoid concurent changes causing issue…
  test/framework/flux.go
Labels: approved, lgtm, size/XS

#2108 Fix formatting
  docs/content/en/docs/getting-started/local-environment/_index.md
Labels: documentation, approved, lgtm, size/S

#2111 Bump up versions to trigger prod bundle release
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#2116 Adding production if/else check to use ECR public from staging for packages helm chart.
  go.mod
  go.sum
  release/go.mod
  release/go.sum
  release/pkg/assets_package_controller.go
  release/pkg/generate_spec.go
Labels: approved, lgtm, size/M

#2119 Update CNI config in doc
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/reference/clusterspec/etcd.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
Labels: documentation, approved, lgtm, size/XS

#2123 Add upgrade instruction for workload cluster
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
Labels: documentation, approved, lgtm, size/XS

#2125 Fix ova artifact link structure
  release/pkg/assets_eksd.go
Labels: approved, lgtm, size/XS

#2118 Add at least some troubleshooting
  docs/content/en/docs/tasks/troubleshoot/_packages.md
Labels: documentation, approved, lgtm, size/M

#1980 Remove additional CloudStack Multiple WorkerNodeGroup checks
  controllers/controllers/resource/template.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
Labels: approved, lgtm, size/S

#2130 pushing release fix
  release/pkg/generate_spec.go
Labels: lgtm, size/XS

#2112 Bump up cli version to trigger prod cli release
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#2132 Formatting and wording corrections to curated packages docs
  docs/content/en/docs/concepts/packages/cli.md
  docs/content/en/docs/getting-started/local-environment/_index.md
Labels: documentation, approved, lgtm, size/M

#2133 Add upgrade plan support for workload cluster
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
Labels: approved, lgtm, size/XS

#2136 Update doc to support workload cluster upgrade plan
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
Labels: documentation, approved, lgtm, size/S

#2135 Update docs for release 0.9
  docs/config.toml
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/reference/artifacts.md
Labels: documentation, approved, lgtm, size/S

#2138 Fix manifestURL injection in Makefile
  Makefile
Labels: approved, lgtm, size/XS

#2143 Fix e2e binary build
  Makefile
Labels: approved, lgtm, size/XS

#2150 make sure to replace . with - in cluster names
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#2149 [Harbor] add storageClass config options for PVCs
  docs/content/en/docs/reference/packagespec/harbor/v2.5.0.md
Labels: documentation, approved, lgtm, size/XS

#2145 Fix typo
  docs/content/en/docs/tasks/cluster/cluster-delete.md
Labels: documentation, approved, lgtm, size/XS

#2148 Fixed a few docs formatting issues
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/_index.md
Labels: documentation, approved, lgtm, size/M

#2162 Fix doc typo
  docs/content/en/docs/tasks/packages/_index.md
Labels: approved, lgtm, size/XS, documentation

#2163 Add extra steps in unstacked etcd backup and restore doc
  docs/content/en/docs/tasks/cluster/etcd-backup-restore.md
Labels: approved, lgtm, size/S, documentation

#2160 Add clustermesh.enabled false to cilium template override
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
Labels: approved, lgtm, size/S

#2170 Changed broken numbered list to bullets
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/_index.md
Labels: approved, lgtm, size/S, documentation

#2142 Adding cloudstack support bundle components for debugging
  pkg/diagnostics/analyzers.go
  pkg/diagnostics/collectors.go
  pkg/diagnostics/collectors_test.go
Labels: approved, lgtm, size/M

#2178 Add the preview and pricing disclaimer for curated packages
  docs/content/en/docs/concepts/packages/_index.md
Labels: approved, lgtm, size/XS, documentation

#2169 Enable most CloudStack tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#2186 Update modules with vulnerabilities
  go.mod
  go.sum
Labels: approved, lgtm, size/S

#2187 Handle large repo clones in release process
  release/pkg/git/git.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.8-bundle-release.yaml
Labels: approved, lgtm, size/XL

#2171 Align tinkerbell hardware pkg with coding guidelines
  cmd/eksctl-anywhere/cmd/generatehardware.go
  internal/pkg/api/hardware.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/hardware/csv.go
  pkg/providers/tinkerbell/hardware/csv_test.go
  pkg/providers/tinkerbell/hardware/dir.go
  pkg/providers/tinkerbell/hardware/json.go
  pkg/providers/tinkerbell/hardware/json_test.go
  pkg/providers/tinkerbell/hardware/machine.go
  pkg/providers/tinkerbell/hardware/machine_test.go
  pkg/providers/tinkerbell/hardware/mocks/json.go
  pkg/providers/tinkerbell/hardware/multi_test.go
  pkg/providers/tinkerbell/hardware/translate_test.go
  pkg/providers/tinkerbell/hardware/validator.go
  pkg/providers/tinkerbell/hardware/validator_test.go
  pkg/providers/tinkerbell/hardware/yaml.go
  pkg/providers/tinkerbell/hardware/yaml_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/XL

#2182 Rollout restart cilium during upgrade
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/networking/cilium/client.go
  pkg/networking/cilium/client_test.go
  pkg/networking/cilium/mocks/clients.go
  pkg/networking/cilium/mocks/upgrader.go
  pkg/networking/cilium/upgrader.go
  pkg/networking/cilium/upgrader_test.go
  pkg/networking/kindnetd/kindnetd.go
  pkg/networking/kindnetd/kindnetd_test.go
Labels: approved, lgtm, size/L

#2190 Temporarily hardcode version for CAPT
  release/pkg/assets_tinkerbell.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/M

#2192 Revert "Add clustermesh.enabled false to cilium template override"
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
Labels: lgtm, size/S

#2173 Add labels to Tinkerbell CSV parsing
  pkg/providers/tinkerbell/hardware/machine.go
  pkg/providers/tinkerbell/hardware/machine_test.go
  pkg/providers/tinkerbell/hardware/validator.go
  pkg/providers/tinkerbell/hardware/validator_test.go
Labels: approved, lgtm, size/XL

#2157 Change doc urls to remove underescore
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/content/en/docs/tasks/troubleshoot/packages.md
  docs/content/en/docs/tasks/troubleshoot/supportbundle.md
  docs/content/en/docs/tasks/troubleshoot/troubleshooting.md
Labels: kind/enhancement, approved, lgtm, size/S, team/cli, area/docs, documentation

#2184 Add support for 1-23 with feature flag
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  pkg/api/v1alpha1/cluster_types.go
  pkg/features/features.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/e2e/README.md
  test/e2e/simpleflow_test.go
  test/e2e/tools/eks-anywhere-test-tool/test.log
  test/e2e/upgrade_test.go
  test/framework/vsphere.go
Labels: lgtm, size/L

#2198 Add retry for govc search template and get tag
  pkg/executables/govc.go
  pkg/executables/govc_test.go
Labels: approved, lgtm, size/M

#2202 Update eksdRelease
  docs/content/en/docs/reference/vsphere/vsphere-ovas.md
Labels: approved, lgtm, size/XS, documentation

#2199 Add retry when pulling cli tool image
  Makefile
  pkg/executables/builder.go
  pkg/executables/dockercontainer.go
  pkg/executables/dockercontainer_test.go
  pkg/executables/mocks/executables.go
Labels: approved, lgtm, size/L

#2204 Kick off staging bundle release for patch 0.9.1
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#2177 Custom diskoffering
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  controllers/controllers/resource/fetcher.go
  go.mod
  go.sum
  pkg/api/v1alpha1/cloudstackmachineconfig_types.go
  pkg/executables/cmk.go
  pkg/executables/cmk_test.go
  pkg/executables/testdata/cmk_list_diskoffering_singular_customized.json
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/config/template-md.yaml
Labels: approved, lgtm, size/L

#2205 Kick off staging cli release for patch 0.9.1
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#2206 Remove diskSetup and mount for etcdadmcluster in cloudstack
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_cp.yaml
Labels: approved, lgtm, size/M

#2147 Rework Tinkerbell validation logic
  Makefile
  internal/pkg/api/hardware.go
  pkg/api/v1alpha1/cluster.go
  pkg/dependencies/factory.go
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/cluster.go
  pkg/providers/tinkerbell/cluster_spec_builder_test.go
  pkg/providers/tinkerbell/cluster_test.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/delete.go
  pkg/providers/tinkerbell/envars.go
  pkg/providers/tinkerbell/mocks/client.go
  pkg/providers/tinkerbell/pbnj/client.go
  pkg/providers/tinkerbell/spec.go
  pkg/providers/tinkerbell/ssh.go
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_external_etcd.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_stacked_etcd.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_missing_ssh_keys.yaml
  pkg/providers/tinkerbell/testdata/expected_results_tinkerbell_md_multiple_node_groups.yaml
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/tinkerbell/validate.go
  pkg/providers/tinkerbell/validator.go
  pkg/providers/tinkerbell/validator_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/XXL

#2208 Remove unused envs from required env for tinkerbell
  pkg/providers/tinkerbell/tinkerbell.go
Labels: approved, lgtm, size/S

#2207 Adding tool to cleanup VMs in cloudstack
  cmd/eks-a-tool/cmd/cloudstack.go
  cmd/eks-a-tool/cmd/cloudstackrm.go
  cmd/eks-a-tool/cmd/cloudstackrmvms.go
  cmd/eks-a-tool/cmd/root.go
  cmd/eks-a-tool/cmd/vspherelogoutsessions.go
  pkg/executables/cmk.go
  pkg/executables/cmk_cmd_builder.go
  pkg/executables/cmk_test.go
  pkg/executables/testdata/cmk_list_virtualmachine_singular.json
Labels: approved, lgtm, size/L

#2209 Remove control plane ip uniqueness check for snow upgrade
  pkg/dependencies/factory.go
  pkg/providers/snow/entry.go
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
Labels: approved, lgtm, size/S

#2216 Trigger prod bundle release pipeline for v0.9.1
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#2215 Fix snow upgrade flow
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
Labels: approved, lgtm, size/XS

#2217 Trigger prod CLI release pipeline for v0.9.1
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#2201 Adding provider specific collectors/analyzers to management cluster support bundle
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/diagnostics/analyzers.go
  pkg/diagnostics/analyzers_test.go
  pkg/diagnostics/diagnostic_bundle.go
  pkg/diagnostics/diagnostic_bundle_test.go
  pkg/diagnostics/factory.go
  pkg/diagnostics/interfaces.go
  pkg/diagnostics/interfaces/mocks/diagnostics.go
  pkg/workflows/diagnostics.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#2221 Modifying IAMConfig field names to lower case for yaml marshall
  go.mod
  go.sum
  pkg/api/v1alpha1/awsiamconfig_types.go
  pkg/awsiamauth/awsiamauth.go
  pkg/awsiamauth/testdata/want-aws-iam-authenticator.yaml
Labels: approved, lgtm, size/M

#2224 Fix AWS IAM auth format
  pkg/clusterapi/identity.go
  pkg/clusterapi/identity_test.go
Labels: approved, lgtm, size/M

#2226 update harbor package name
  docs/content/en/docs/tasks/packages/harbor/_index.md
Labels: approved, lgtm, size/XS, documentation

#2233 Remove TINKERBELL_IP requirement from Tinkerbell provider
  pkg/providers/tinkerbell/tinkerbell.go
Labels: lgtm, size/S

#2225 Add support for snow workload cluster creation
  pkg/clients/kubernetes/scheme.go
  pkg/clusterapi/apibuilder.go
  pkg/clusterapi/apibuilder_test.go
  pkg/clusterapi/name.go
  pkg/clusterapi/name_test.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/fetch.go
  pkg/providers/snow/objects.go
  pkg/providers/snow/objects_test.go
  pkg/providers/snow/snow_test.go
  pkg/providers/snow/testdata/expected_results_main_md.yaml
Labels: approved, lgtm, size/M

#2237 Add curated packages to 0.9.0 change log
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#2234 Remove unused flux validations
  pkg/api/v1alpha1/fluxconfig.go
  pkg/api/v1alpha1/fluxconfig_test.go
  pkg/api/v1alpha1/gitopsconfig.go
  pkg/api/v1alpha1/gitopsconfig_test.go
  pkg/api/v1alpha1/testdata/cluster_1_19_flux_git.yaml
  pkg/api/v1alpha1/testdata/cluster_1_19_flux_github.yaml
  pkg/api/v1alpha1/testdata/cluster_1_19_flux_validgit_sshkey.yaml
  pkg/api/v1alpha1/testdata/cluster_invalid_flux_gitrepourl.yaml
  pkg/api/v1alpha1/testdata/cluster_invalid_flux_unset_gitowner.yaml
  pkg/api/v1alpha1/testdata/cluster_invalid_flux_unset_gitrepo.yaml
  pkg/api/v1alpha1/testdata/cluster_invalid_flux_unset_gitrepourl.yaml
  pkg/api/v1alpha1/testdata/cluster_invalid_flux_wrong_gitsshkeyalgo.yaml
  pkg/api/v1alpha1/testdata/cluster_invalid_gitops_unset_gitowner.yaml
  pkg/api/v1alpha1/testdata/not_parseable_fluxconfig.yaml
Labels: approved, lgtm, size/XXL

#2241 Register snow objects in schema
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/snowdatacenterconfig_types.go
  pkg/api/v1alpha1/snowmachineconfig_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm, size/L

#2244 Fix go.mod and apply patch updates
  go.mod
  go.sum
Labels: approved, lgtm, size/M

#2247 Use new public and private vSphere networks in CI SDDC
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#2222 Adding cleanup script for cloudstack vms for e2e test
  cmd/eks-a-tool/cmd/cloudstackrmvms.go
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  cmd/integration_test/cmd/cleanupcloudstack.go
  internal/test/e2e/cleanup.go
Labels: approved, lgtm, size/L

#2248 Add OIDC e2e test for snow
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/oidc_test.go
Labels: approved, lgtm, size/S

#2251 Revert "Fix go.mod and apply patch updates (#2244)"
  go.mod
  go.sum
Labels: approved, lgtm, size/M

#2228 Remove old flag fields from Tinkerbell provider
  pkg/dependencies/factory.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/S

#2253 Fix var name for 1.23 e2e test
  test/framework/vsphere.go
Labels: approved, lgtm, size/XS

#2230 Rename TinkerbellTemplateBuilder to TemplateBuilder
  controllers/controllers/resource/template.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/tinkerbell.go
Labels: approved, lgtm, size/S

#2254 Validate Tinkerbell datacenter config on create
  pkg/providers/tinkerbell/cluster.go
Labels: approved, lgtm, size/XS

#2223 Remove obsolete flags from generatehardware cmd
  cmd/eksctl-anywhere/cmd/generatehardware.go
  pkg/providers/tinkerbell/create.go
Labels: approved, lgtm, size/L

#2250 Make codecov patch check optional
  codecov.yml
Labels: approved, lgtm, size/XS
