Repository aws/eks-anywhere, pull requests merged in 2022-01, with the labels that each got.

#895 Create vspheredatacenterconfig reconciler
  config/crd/bases/anywhere.eks.amazonaws.com_vspheredatacenterconfigs.yaml
  config/manifest/eksa-components.yaml
  controllers/controllers/vsphere_datacenter_controller.go
  controllers/main.go
  designs/full-cluster-lifecycle-api.md
  pkg/api/v1alpha1/vspheredatacenterconfig_types.go
  pkg/providers/vsphere/defaults.go
  pkg/providers/vsphere/envars.go
  pkg/providers/vsphere/setup.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#813 Use v1beta1 bundle-release.yaml with v1.0.1 provider tags and clusterctl to create v1alpha3 clusters
  Makefile
  go.mod
  go.sum
  internal/test/files.go
  pkg/clustermanager/internal/deployments.go
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/executables/kubectl.go
  pkg/features/features.go
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#906 Report command error message in e2e tests
  test/framework/cluster.go
Labels: approved, lgtm, size/S

#903 Move validator and defaulter logic from vsphere to API and webhook
  pkg/api/v1alpha1/vspheredatacenterconfig.go
  pkg/api/v1alpha1/vspheredatacenterconfig_types.go
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook.go
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook_test.go
  pkg/providers/vsphere/defaults.go
  pkg/providers/vsphere/paths.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/L

#909 Remove v1beta1 feature flag
  Makefile
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/features/features.go
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XXL

#898 Add docs for using Pod IAM with EKS Anywhere
  docs/content/en/docs/reference/clusterspec/irsa.md
  docs/content/en/docs/reference/faq/_index.md
Labels: documentation, approved, lgtm, size/L

#912 Bump containerd go mod to mitigate vulnerabilities
  release/go.mod
  release/go.sum
Labels: approved, lgtm, size/XS

#913 Update containerd to v1.5.9
  go.mod
  go.sum
Labels: approved, lgtm, size/L

#885 Generate cilium upgrade manifest with compatibility version value
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
Labels: approved, lgtm, size/M

#915 Do not push tag to ECR public if it already exists
  release/pkg/aws/ecrpublic/ecrpublic.go
  release/pkg/prepare_release.go
Labels: approved, lgtm, size/M

#919 Add cert-manager manifest to bundle
  release/api/v1alpha1/bundle_types.go
  release/pkg/assets_certmanager.go
Labels: approved, lgtm, size/L

#880 Cilium upgrader
  Makefile
  pkg/networking/cilium/cilium.go
  pkg/networking/cilium/client.go
  pkg/networking/cilium/mocks/clients.go
  pkg/networking/cilium/mocks/upgrader.go
  pkg/networking/cilium/upgrader.go
  pkg/networking/cilium/upgrader_test.go
Labels: approved, lgtm, size/L

#902 Add option for node labels on worker nodes
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/clusterapi/extraargs.go
  pkg/clusterapi/extraargs_test.go
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/docker/testdata/valid_deployment_node_labels_md_expected.yaml
  pkg/providers/vsphere/testdata/cluster_main_with_node_labels.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#920 Add manifest crd changes
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
Labels: approved, lgtm, size/S

#922 Add cert-manager manifest from bundle
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/executables/config/clusterctl.yaml
  pkg/executables/testdata/clusterctl_expected.yaml
Labels: approved, lgtm, size/S

#924 Specify version for cert-manager overrides
  pkg/executables/config/clusterctl.yaml
  pkg/executables/testdata/clusterctl_expected.yaml
Labels: approved, lgtm, size/XS

#918 Tinkerbell Template substitution
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbellmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/tinkerbellmachineconfig_types.go
  pkg/api/v1alpha1/tinkermachineconfig.go
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/config/template-md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp.yaml
  pkg/providers/tinkerbell/tinkerbell.go
Labels: approved, lgtm, size/L, provider/tinkerbell

#927 Add junit test reports to e2e tests codebuild
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#928 Use upgrade manifest in cilium upgrader
  pkg/networking/cilium/upgrader.go
Labels: approved, lgtm, size/XS

#926 Remove usage of deprecated clusterctl flag management-group
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
Labels: approved, lgtm, size/XS

#925 Cleanup s3 copy commands in e2e setup code
  internal/test/e2e/artifacts.go
  internal/test/e2e/commands.go
  internal/test/e2e/commands_test.go
  internal/test/e2e/run.go
Labels: approved, lgtm, size/L

#878 `kindnetd` upgrades
  Makefile
  pkg/dependencies/factory.go
  pkg/networking/kindnetd/kindnetd.go
  pkg/networking/kindnetd/kindnetd_test.go
  pkg/networking/kindnetd/mocks/client.go
  pkg/networking/kindnetd/upgrader.go
  pkg/networking/kindnetd/upgrader_test.go
Labels: approved, lgtm, size/L

#923 Docs for AWS IAM Authenticator integration
  docs/content/en/docs/reference/clusterspec/iamauth.md
  docs/content/en/docs/reference/clusterspec/oidc.md
  docs/content/en/docs/tasks/cluster/cluster-iam-auth.md
Labels: documentation, approved, lgtm, size/L

#934 Check if GitOpsRef is nil before attempting flux upgrade
  pkg/addonmanager/addonclients/upgrader.go
  pkg/addonmanager/addonclients/upgrader_test.go
Labels: approved, lgtm, size/XS

#933 Add junit test report to docker e2e test script
  scripts/e2e_test_docker.sh
Labels: approved, lgtm, size/XS

#936 Adding KubeVip to Tinkerbell bundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp.yaml
  pkg/providers/tinkerbell/tinkerbell.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_tinkerbell.go
Labels: approved, lgtm, size/L

#900 Remove expired CNCF cert
  README.md
Labels: approved, lgtm, size/XS

#899 K8s conformance
  conformance/.gitignore
  conformance/Makefile
  conformance/build/lib/generate_readme.sh
  conformance/build/lib/get_results.sh
  conformance/template/PRODUCT.yaml
  conformance/template/README.md.begin
  conformance/template/README.md.end
  conformance/template/example.yaml
Labels: approved, lgtm, size/L

#939 Adding Tinkerbell to local testing bundle
  internal/test/testdata/bundles.yaml
  internal/test/testdata/bundles_template.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp.yaml
Labels: approved, lgtm, size/M

#935 Add new make targets to build custom release binaries
  Makefile
  pkg/cluster/config/releases.yaml
Labels: approved, lgtm, size/M

#943 Update cilium operator deployment name
  pkg/networking/cilium/client.go
  pkg/networking/cilium/client_test.go
Labels: approved, lgtm, size/S

#942 Logging to Cilium upgrader
  pkg/networking/cilium/upgrader.go
Labels: approved, lgtm, size/S

#932 CNI upgrade from upgrade flow
  Makefile
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/dependencies/factory.go
  pkg/executables/builder.go
  pkg/executables/helm.go
  pkg/features/features.go
  pkg/networking/cilium/cilium.go
  pkg/networking/cilium/cilium_test.go
  pkg/networking/cilium/mocks/cilium.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#863 Add cilium helm registry to bundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_cilium.go
Labels: approved, lgtm, size/L

#944 Multiple fixes to Cilium templater
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
Labels: approved, lgtm, size/M

#946 Don't add cilium helm chart to the bundle for now
  release/pkg/assets_cilium.go
Labels: approved, lgtm, size/S

#947 Adding Tink, Hegel, Cfssl to Tinkerbell bundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_cfssl.go
  release/pkg/assets_hegel.go
  release/pkg/assets_tink.go
  release/pkg/assets_tinkerbell.go
  release/pkg/generate_spec.go
Labels: approved, lgtm, size/XL

#890 Add option to provide custom resolvConf file
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path-management.yaml
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path-workload.yaml
  pkg/addonmanager/addonclients/testdata/cluster-config-user-provided-path.yaml
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/clusterapi/extraargs.go
  pkg/clusterapi/extraargs_test.go
  pkg/clustermarshaller/testdata/expected_marshalled_cluster.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_md_expected.yaml
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XXL

#948 Readd cilium helm chart to bundle
  release/pkg/assets_cilium.go
Labels: approved, lgtm, size/M

#951 Enable Cilium upgrades
  pkg/features/features.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/S

#954 remove kubelet extraargs from shared extraargs to prevent accidental …
  pkg/providers/docker/docker.go
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_cp_expected.yaml
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/S

#929 Cp node labels
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/cluster_types.go
  pkg/clusterapi/extraargs.go
  pkg/clusterapi/extraargs_test.go
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/docker/testdata/valid_deployment_node_labels_cp_expected.yaml
  pkg/providers/vsphere/testdata/cluster_main_with_cp_node_labels.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XXL

#952 Remove unnecessary build tags
  .golangci.yml
  Makefile
Labels: approved, lgtm, size/XS

#955 Fix envtest setup for random test packages
  internal/test/envtest/environment.go
Labels: approved, lgtm, size/XS

#956 Add FailureMessage to vspheredatacenterconfig status
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_vspheredatacenterconfigs.yaml
  config/manifest/eksa-components.yaml
  controllers/controllers/vsphere_datacenter_controller.go
  pkg/api/v1alpha1/vspheredatacenterconfig_types.go
Labels: approved, lgtm, size/M

#957 Delete TestEksa060LatestPatchDockerKubernetes121SimpleFlow test
  test/e2e/simpleflow_test.go
Labels: approved, lgtm, size/S

#847 E2E tests creating cluster with latest release & upgrading with main
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/upgrade_from_latest_test.go
  test/framework/api.go
  test/framework/cluster.go
  test/framework/commands.go
  test/framework/envars.go
  test/framework/releaseVersions.go
  test/framework/wait.go
Labels: approved, lgtm, size/L

#958 Backporting changes in vSphere user permissions doc for cluster creation
  docs/content/en/docs/reference/vsphere/user-permissions.md
Labels: documentation, approved, lgtm, size/L

#962 Remove analyzers for `capi-webhook-system` namespace, as it's been re…
  pkg/diagnostics/analyzers.go
Labels: approved, lgtm, size/S

#953 Remove logic for patching cloud-controller-manager with tolerations
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/M

#963 Output format flag in upgrade command to serialize to json
  cmd/eksctl-anywhere/cmd/upgradeplan.go
  pkg/types/upgrades.go
Labels: approved, lgtm, size/M

#964 Add necessary controller permissions for v1beta1 capi manifests
  config/rbac/manager_extraroles_patch.yaml
Labels: approved, lgtm, size/L

#965 Add warning in docs to warn users to not power on the OVA directly
  docs/content/en/docs/reference/vsphere/customize-ovas.md
  docs/content/en/docs/reference/vsphere/vsphere-ovas.md
Labels: documentation, approved, lgtm, size/S

#969 Move `upgrade plan` functionality to `upgrade plan cluster`
  cmd/eksctl-anywhere/cmd/upgradeplan.go
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
Labels: approved, lgtm, size/L

#966 Improvements for 'upgrades from latest release' e2e tests
  pkg/networking/cilium/client.go
  test/e2e/upgrade_from_latest_test.go
  test/framework/vsphere.go
  test/framework/wait.go
Labels: approved, lgtm, size/M

#971 Provide datastore for deploying the os template
  pkg/executables/govc.go
  pkg/executables/govc_test.go
  pkg/providers/vsphere/internal/templates/factory.go
  pkg/providers/vsphere/internal/templates/factory_test.go
  pkg/providers/vsphere/internal/templates/mocks/govc.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/M

#930 Create v1beta1 manifests for vsphere provider
  controllers/controllers/resource/testdata/etcdadmcluster.yaml
  controllers/controllers/resource/testdata/expectedMachineDeployment.yaml
  controllers/controllers/resource/testdata/expectedMachineDeploymentOnlyReplica.yaml
  controllers/controllers/resource/testdata/kubeadmcontrolplane.yaml
  controllers/controllers/resource/testdata/machineDeployment.yaml
  controllers/controllers/resource/testdata/vsphereMachineTemplate.yaml
  pkg/providers/vsphere/config/machine-health-check-template.yaml
  pkg/providers/vsphere/config/secret.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_md.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
Labels: approved, lgtm, size/XXL

#972 Removing AWS_IAM_AUTHENTICATOR feature flag
  internal/test/e2e/awsiam.go
  pkg/cluster/spec.go
  pkg/features/features.go
Labels: approved, lgtm, size/M

#974 Avoid duplicated logs in failed e2e tests
  internal/test/e2e/run.go
Labels: approved, lgtm, size/XS

#975 Revert "Create v1beta1 manifests for vsphere provider (#930)"
  controllers/controllers/resource/testdata/etcdadmcluster.yaml
  controllers/controllers/resource/testdata/expectedMachineDeployment.yaml
  controllers/controllers/resource/testdata/expectedMachineDeploymentOnlyReplica.yaml
  controllers/controllers/resource/testdata/kubeadmcontrolplane.yaml
  controllers/controllers/resource/testdata/machineDeployment.yaml
  controllers/controllers/resource/testdata/vsphereMachineTemplate.yaml
  pkg/providers/vsphere/config/machine-health-check-template.yaml
  pkg/providers/vsphere/config/secret.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_md.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
Labels: approved, lgtm, size/XXL

#976 Create v1beta1 manifests for vsphere provider #930
  controllers/controllers/resource/fetcher.go
  controllers/controllers/resource/mocks/resource.go
  controllers/controllers/resource/reconciler_test.go
  controllers/controllers/resource/template.go
  controllers/controllers/resource/testdata/etcdadmcluster.yaml
  controllers/controllers/resource/testdata/expectedMachineDeployment.yaml
  controllers/controllers/resource/testdata/expectedMachineDeploymentOnlyReplica.yaml
  controllers/controllers/resource/testdata/kubeadmcontrolplane.yaml
  controllers/controllers/resource/testdata/machineDeployment.yaml
  controllers/controllers/resource/testdata/vsphereMachineTemplate.yaml
  pkg/constants/constants.go
  pkg/providers/vsphere/config/machine-health-check-template.yaml
  pkg/providers/vsphere/config/secret.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_md.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
Labels: approved, lgtm, size/XXL

#967 Make cilium checks more reliable
  pkg/networking/cilium/ready.go
  pkg/networking/cilium/ready_test.go
Labels: approved, lgtm, size/L

#980 Update url to latest release
  docs/content/en/docs/getting-started/install/_index.md
Labels: documentation, approved, lgtm, size/XS

#961 Add cilium to upgrade plan command output
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
  pkg/networking/cilium/upgrader.go
Labels: approved, lgtm, size/XS

#981 Update url to latest release
  docs/content/en/docs/getting-started/install/_index.md
Labels: documentation, approved, lgtm, size/XS

#983 Kubectl executable improvements
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/validations/createvalidations/gitops_test.go
Labels: approved, lgtm, size/S

#984 Update controller unit tests
  controllers/controllers/resource/reconciler_test.go
  controllers/controllers/resource/testdata/eksa-cluster.yaml
  controllers/controllers/resource/testdata/eksa-cluster_no_changes.yaml
Labels: approved, lgtm, size/M

#921 Reconciler vsphere cluster and machineconfig
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  controllers/controllers/cluster_controller.go
  controllers/controllers/cluster_controller_test.go
  controllers/controllers/clusters/provider.go
  controllers/controllers/clusters/vsphere.go
  controllers/controllers/resource/fetcher.go
  controllers/controllers/testdata/release.yaml
  controllers/controllers/vsphere_datacenter_controller.go
  controllers/main.go
  internal/test/envtest/environment.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/providers/vsphere/defaults.go
  pkg/providers/vsphere/spec.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/XL

#985 Bump postcss version for security fixes
  docs/package-lock.json
  docs/package.json
Labels: documentation, approved, lgtm, size/M

#979 Update CAPD manifests to use v1beta1
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/config/template-md.yaml
  pkg/providers/docker/testdata/capd_valid_full_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_full_oidc_md_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_md_expected.yaml
  pkg/providers/docker/testdata/no_machinetemplate_update_cp_expected.yaml
  pkg/providers/docker/testdata/no_machinetemplate_update_md_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_pod_iam_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_stacked_etcd_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_taints_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_md_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_md_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_node_labels_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_node_labels_md_expected.yaml
Labels: approved, lgtm, size/L

#988 Avoid eksctl download on e2e test instances
  internal/test/e2e/setup.go
Labels: approved, lgtm, size/S

#991 Fix e2e test docker script: move comment out of multiline command
  scripts/e2e_test_docker.sh
Labels: approved, lgtm, size/S

#992 Modify webhook to support creation of workload clusters
  controllers/controllers/clusters/vsphere.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
Labels: approved, lgtm, size/M

#993 Add Tinkerbell provider feature gate checks for create/delete and unsupported …
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
Labels: approved, lgtm, size/S

#994 Modify the behavior of VSphereDatacenterConfig Webhook
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook.go
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook_test.go
Labels: approved, lgtm, size/S

#996 add default cluster name for cases where no cluster spec is provided
  pkg/diagnostics/diagnostic_bundle.go
  pkg/diagnostics/factory.go
Labels: approved, lgtm, size/S

#995 Add worker node group name check to docker provider
  pkg/providers/docker/docker.go
Labels: approved, lgtm, size/S

#990 Import v1beta1 apiversion for capi, capv and external etcd
  controllers/controllers/reconciler/reconcile_test.go
  controllers/controllers/reconciler/yaml_test.go
  controllers/controllers/resource/fetcher.go
  controllers/controllers/resource/fetcher_test.go
  controllers/controllers/resource/mocks/resource.go
  controllers/controllers/resource/reconciler_test.go
  controllers/controllers/resource/template.go
  controllers/main.go
  go.mod
  go.sum
  internal/test/envtest/environment.go
  pkg/clusterapi/mocks/client.go
  pkg/clusterapi/resourceset.go
  pkg/clusterapi/resourceset_manager.go
  pkg/clusterapi/resourceset_manager_test.go
  pkg/clusterapi/testdata/expected_crs_clusterrole.yaml
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/executables/testdata/kubectl_clusterresourceset.json
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/docker/mocks/client.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/validations/createvalidations/cluster_test.go
  pkg/validations/upgradevalidations/cluster_test.go
  pkg/validations/upgradevalidations/preflightvalidations.go
Labels: approved, lgtm, size/XL

#999 Remove micahhausler from owners
  OWNERS
Labels: approved, lgtm, size/XS

#1003 Remove bnrjee from OWNERS file
  OWNERS
Labels: approved, lgtm, size/XS

#1000 Revert "Support multiple worker node groups during vSphere cluster cr…
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  controllers/controllers/resource/fetcher.go
  controllers/controllers/resource/mocks/resource.go
  controllers/controllers/resource/reconciler.go
  controllers/controllers/resource/reconciler_test.go
  controllers/controllers/resource/template.go
  controllers/controllers/resource/testdata/eksa-cluster.yaml
  controllers/controllers/resource/testdata/eksa-cluster_no_changes.yaml
  controllers/controllers/resource/testdata/expectedMachineDeployment.yaml
  controllers/controllers/resource/testdata/expectedMachineDeploymentOnlyReplica.yaml
  controllers/controllers/resource/testdata/machineDeployment.yaml
  controllers/controllers/resource/testdata/vsphereMachineTemplate.yaml
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/executables/kubectl.go
  pkg/providers/docker/config/template-md.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/docker/testdata/capd_valid_full_oidc_md_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_md_expected.yaml
  pkg/providers/docker/testdata/no_machinetemplate_update_md_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_md_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_md_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_node_labels_md_expected.yaml
  pkg/providers/provider.go
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md.yaml
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/testdata/cluster_bottlerocket_external_etcd.yaml
  pkg/providers/vsphere/testdata/cluster_bottlerocket_mirror_config.yaml
  pkg/providers/vsphere/testdata/cluster_bottlerocket_mirror_with_cert_config.yaml
  pkg/providers/vsphere/testdata/cluster_full_oidc.yaml
  pkg/providers/vsphere/testdata/cluster_main.yaml
  pkg/providers/vsphere/testdata/cluster_main_multiple_worker_node_groups.yaml
  pkg/providers/vsphere/testdata/cluster_main_with_cp_node_labels.yaml
  pkg/providers/vsphere/testdata/cluster_main_with_node_labels.yaml
  pkg/providers/vsphere/testdata/cluster_main_with_taints.yaml
  pkg/providers/vsphere/testdata/cluster_minimal.yaml
  pkg/providers/vsphere/testdata/cluster_minimal_oidc.yaml
  pkg/providers/vsphere/testdata/cluster_mirror_config.yaml
  pkg/providers/vsphere/testdata/cluster_mirror_with_cert_config.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_multiple_worker_node_groups.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_md.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XXL

#1004 Fix multipage s3 list objects in eksa test tool
  test/e2e/tools/eks-anywhere-test-tool/pkg/s3/s3.go
Labels: approved, lgtm, size/XS

#998 Add clusterctl move label to creds secret
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
Labels: approved, lgtm, size/XS

#1006 Remove unused vsphere template value cgroupDriverSystemd
  pkg/providers/vsphere/config/template-md.yaml
Labels: approved, lgtm, size/XS

#1005 Fail e2e test docker script on command failure
  scripts/e2e_test_docker.sh
Labels: approved, lgtm, size/XS

#1002 Improve and fix API Cluster validations/defaults
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  cmd/eksctl-anywhere/cmd/validations.go
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_defaults.go
  pkg/api/v1alpha1/cluster_defaults_test.go
Labels: approved, lgtm, size/L

#1013 Use management clusters bundle
  controllers/controllers/cluster_controller_test.go
  controllers/controllers/clusters/vsphere.go
Labels: approved, lgtm, size/S

#1009 Removing clusterID from AWSIamConfig spec and generating uuid
  Makefile
  config/crd/bases/anywhere.eks.amazonaws.com_awsiamconfigs.yaml
  config/manifest/eksa-components.yaml
  controllers/controllers/resource/template.go
  go.mod
  internal/pkg/api/awsiam.go
  pkg/api/v1alpha1/awsiamconfig.go
  pkg/api/v1alpha1/awsiamconfig_test.go
  pkg/api/v1alpha1/awsiamconfig_types.go
  pkg/api/v1alpha1/awsiamconfig_types_test.go
  pkg/api/v1alpha1/testdata/cluster_1_21_awsiam.yaml
  pkg/api/v1alpha1/testdata/cluster_1_21_awsiam_invalid_namespace.yaml
  pkg/api/v1alpha1/testdata/cluster_1_21_awsiam_invalid_refname.yaml
  pkg/api/v1alpha1/testdata/cluster_1_21_awsiam_no_arn.yaml
  pkg/api/v1alpha1/testdata/cluster_1_21_awsiam_no_awsregion.yaml
  pkg/api/v1alpha1/testdata/cluster_1_21_awsiam_no_backendmode.yaml
  pkg/api/v1alpha1/testdata/cluster_1_21_awsiam_no_clusterid.yaml
  pkg/api/v1alpha1/testdata/cluster_1_21_awsiam_no_mapping_eksconfigmap.yaml
  pkg/api/v1alpha1/testdata/cluster_1_21_awsiam_unsupported_mountedfile.yaml
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/awsiamauth/awsiamauth.go
  pkg/awsiamauth/awsiamauth_test.go
  pkg/awsiamauth/testdata/want-aws-iam-authenticator-kubeconfig.yaml
  pkg/awsiamauth/testdata/want-aws-iam-authenticator.yaml
  pkg/dependencies/factory.go
  test/framework/awsiam.go
Labels: approved, lgtm, size/L

#1019 Add cipherSuites arg to bottlerocket etcdadm
  docs/content/en/docs/reference/changelog.md
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
Labels: documentation, approved, lgtm, size/XS

#1014 Removing IAM Auth ClusterID references in docs
  docs/content/en/docs/reference/clusterspec/iamauth.md
  docs/content/en/docs/tasks/cluster/cluster-iam-auth.md
Labels: documentation, approved, lgtm, size/S

#1025 Delete worker node group name in old CLI E2E tests
  internal/pkg/api/yaml.go
  internal/pkg/api/yaml_test.go
  test/framework/api.go
Labels: approved, lgtm, size/L

#938 Update validations to support multiple worker node groups
  pkg/api/v1alpha1/cluster.go
  pkg/providers/vsphere/spec.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/L

#1010 Add additional worker node groups during upgrade
  pkg/clustermanager/cluster_manager.go
  pkg/providers/docker/docker.go
  pkg/providers/vsphere/testdata/cluster_main_multiple_worker_node_groups.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_add_worker_node_group.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#1007 Enable workload cluster etcd upgrade through controller/gitops
  controllers/controllers/resource/template.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types.go
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/api/v1alpha1/vspheremachineconfig_webhook.go
  pkg/api/v1alpha1/vspheremachineconfig_webhook_test.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/testdata/cluster_main_121.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_controller_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_md.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XXL

#1027 Fix URLs for CAPI manifests
  release/pkg/artifacts_types.go
  release/pkg/assets_capi.go
  release/pkg/assets_cluster_controller.go
  release/pkg/git/git.go
Labels: approved, lgtm, size/S

#1021 Specify worker node group name in default cluster config
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
  controllers/controllers/cluster_controller_test.go
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/testdata/cluster_1_18.yaml
  pkg/api/v1alpha1/testdata/cluster_1_19.yaml
  pkg/api/v1alpha1/testdata/cluster_1_19_gitops.yaml
  pkg/api/v1alpha1/testdata/cluster_1_19_gitops_branch.yaml
  pkg/api/v1alpha1/testdata/cluster_1_20.yaml
  pkg/api/v1alpha1/testdata/cluster_different_machine_configs.yaml
  pkg/api/v1alpha1/testdata/cluster_extra_delimiters.yaml
  pkg/api/v1alpha1/testdata/cluster_valid_proxy.yaml
  pkg/constants/constants.go
  pkg/providers/vsphere/validator.go
Labels: approved, lgtm, size/S

#1026 Wrap kubectl delete call in a retrier for Cilium
  pkg/networking/cilium/client.go
  pkg/networking/cilium/client_test.go
  pkg/networking/cilium/mocks/upgrader.go
  pkg/networking/cilium/upgrader.go
  pkg/networking/cilium/upgrader_test.go
Labels: approved, lgtm, size/M

#1008 Update doc for GitOps upgradeable attributes
  docs/content/en/docs/tasks/cluster/cluster-flux.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
Labels: documentation, approved, lgtm, size/M

#1028 Fix linting errors
  controllers/controllers/cluster_controller_test.go
  pkg/addonmanager/addonclients/fluxaddonclient_test.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/cluster/spec.go
  pkg/executables/flux_test.go
  pkg/validations/createvalidations/preflightvalidations.go
Labels: approved, lgtm, size/S

#1029 bump development release triggers for bundle
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#1034 pass repo URLs to prod release process
  release/Makefile
  release/scripts/bundle-release.sh
  release/scripts/eks-a-release.sh
  release/scripts/release.sh
Labels: approved, lgtm, size/S

#1035 Add Tinkerbell assets only to dev release manifest
  release/pkg/generate_spec.go
Labels: approved, lgtm, size/XS

#1022 Remove DNS config from default cluster config
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path-management.yaml
  pkg/addonmanager/addonclients/testdata/cluster-config-default-path-workload.yaml
  pkg/addonmanager/addonclients/testdata/cluster-config-user-provided-path.yaml
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/clusterapi/extraargs.go
  pkg/clusterapi/extraargs_test.go
  pkg/clustermarshaller/clustermarshaller.go
  pkg/clustermarshaller/testdata/expected_marshalled_cluster.yaml
  pkg/providers/docker/docker_test.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#1036 Add feature gate to node labels
  pkg/api/v1alpha1/cluster_defaults.go
  pkg/features/features.go
  pkg/validations/createvalidations/cluster.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/cluster.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/utils.go
Labels: approved, lgtm, size/M

#1037 bump development release triggers for cli
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#1039 bump bundle number to trigger bundle release in order to include new …
  release/triggers/bundle-release/development/BUNDLE_NUMBER
Labels: approved, lgtm, size/XS

#1050 Update RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_NUMBER
Labels: approved, lgtm, size/XS

#1051 bump prod release triggers for 0.7.0
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm

#1056 bump triggers for prod CLI release
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#1032 Modifying eks-a controller error message
  controllers/controllers/resource/fetcher.go
Labels: approved, lgtm, size/XS

#1038 Refactor preflight validations and change bool name for bypassing LogPass call
  pkg/validations/cluster.go
  pkg/validations/createvalidations/cluster.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/preflightvalidations.go
  pkg/validations/upgradevalidations/cluster.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/utils.go
Labels: approved, lgtm, size/L

#1040 Update docs for multiple worker node groups & resolvConf
  docs/content/en/docs/reference/clusterspec/etcd.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
  docs/content/en/docs/tasks/cluster/cluster-flux.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
  docs/content/en/docs/tasks/cluster/cluster-verify.md
  docs/content/en/docs/tasks/troubleshoot/_troubleshooting.md
Labels: documentation, approved, lgtm, size/M

#1061 Add documentation for multiple worker node groups (#1040)
  docs/content/en/docs/reference/clusterspec/etcd.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
  docs/content/en/docs/tasks/cluster/cluster-flux.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
  docs/content/en/docs/tasks/cluster/cluster-verify.md
  docs/content/en/docs/tasks/troubleshoot/_troubleshooting.md
Labels: documentation, approved, lgtm, size/M

#1058 Add docs to delpoy to a personal amplify app
  docs/README.md
Labels: documentation, approved, lgtm, size/S

#1059 Add upgrade plan options to cluster upgrade docs
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
Labels: documentation, approved, lgtm, size/S

#1063 Do not set annotation on machineconfig that belongs to a management cluster
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/M

#1064 Automated cherry pick of #1059: Add upgrade plan options to cluster upgrade docs
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
Labels: documentation, approved, lgtm, size/S

#989 Changelog documentation
  docs/content/en/docs/reference/changelog.md
Labels: documentation, approved, lgtm, size/S

#1066 Pass branch name from codebuild to e2e tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  cmd/integration_test/cmd/run.go
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
  test/framework/releaseVersions.go
Labels: approved, lgtm, size/M

#1023 tweak docker desktop validation check for newer versions
  cmd/eksctl-anywhere/cmd/validations.go
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/tasks/troubleshoot/_troubleshooting.md
  pkg/executables/docker.go
  pkg/executables/docker_test.go
  pkg/validations/docker.go
  pkg/validations/docker_test.go
  pkg/validations/mocks/docker.go
Labels: documentation, approved, lgtm, size/L

#1070 update docs site
  docs/config.toml
Labels: documentation, approved, lgtm, size/XS

#1079 update getting started docs to relfect new release
  docs/content/en/docs/getting-started/install/_index.md
Labels: documentation, approved, lgtm, size/XS

#1082 Update build-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/build-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#1083 Add raw images to bundle manifest
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/providers/vsphere/defaults.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/artifacts_types.go
  release/pkg/assets_eksd.go
  release/pkg/prepare_release.go
  test/e2e/tools/eks-anywhere-test-tool/.gitignore
Labels: approved, lgtm, size/XL

#1102 Update npm for docs build
  docs/package-lock.json
  docs/package.json
Labels: documentation, approved, lgtm, size/XXL

#1067 Add tink cli to executables
  pkg/executables/builder.go
  pkg/executables/tink.go
  pkg/executables/tink_test.go
Labels: approved, lgtm, size/M

#1104 Update GitOps doc for v0.7 release
  docs/content/en/docs/tasks/cluster/cluster-flux.md
Labels: documentation, approved, lgtm, size/S

#1112 Add watch permission for OIDCConfig to controller
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/controllers/cluster_controller_legacy.go
Labels: approved, lgtm, size/XS
