Repository aws/eks-anywhere, pull requests merged in 2022-06, with the labels that each got.

#2304 Adds vm cleanup to pre-build step for e2e tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#2307 Make all e2e tests default to 1:1:1 topology
  internal/pkg/api/cluster.go
  test/framework/cluster.go
Labels: approved, lgtm, size/S

#2306 Patch generate hardware cmd
  cmd/eksctl-anywhere/cmd/generatehardware.go
  pkg/providers/tinkerbell/hardware/dir.go
  pkg/providers/tinkerbell/hardware/yaml.go
Labels: approved, lgtm, size/L

#2312 Git Flux tests create their own repository for use during test
  internal/test/e2e/crypto.go
  internal/test/e2e/fluxGit.go
  internal/test/e2e/github.go
  pkg/git/git.go
  pkg/git/gitclient/gitclient.go
  pkg/git/gitclient/gitclient_test.go
  pkg/git/gogithub/gogithub.go
  pkg/git/gogithub/gogithub_test.go
  pkg/git/gogithub/mocks/client.go
  pkg/git/mocks/git.go
  pkg/git/providers/github/github.go
  pkg/git/providers/github/mocks/github.go
  test/framework/flux.go
Labels: approved, lgtm, area/e2e, size/L, team/cli, area/gitops

#2214 cloudstack - Add symbolic links feature to machine config
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  controllers/controllers/resource/fetcher.go
  controllers/controllers/resource/fetcher_test.go
  go.mod
  go.sum
  internal/pkg/api/cloudstack.go
  pkg/api/v1alpha1/cloudstackmachineconfig_test.go
  pkg/api/v1alpha1/cloudstackmachineconfig_types.go
  pkg/api/v1alpha1/cloudstackmachineconfig_types_test.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook_test.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/cluster/parse_test.go
  pkg/constants/constants.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/config/template-md.yaml
  pkg/providers/cloudstack/testdata/cluster_main.yaml
  pkg/providers/cloudstack/testdata/cluster_main_with_cp_node_labels.yaml
  pkg/providers/cloudstack/testdata/cluster_main_with_node_labels.yaml
  pkg/providers/cloudstack/testdata/expected_results_affinity_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_cp.yaml
  test/framework/flux.go
Labels: approved, lgtm, size/XL

#2316 Make repo Autoinit optional
  internal/test/e2e/fluxGit.go
  pkg/git/git.go
  pkg/git/gogithub/gogithub.go
Labels: approved, lgtm, size/XS

#2309 Update etcdadm controller references to use AWS org
  release/pkg/assets_etcdadm_bootstrap.go
  release/pkg/assets_etcdadm_controller.go
  release/pkg/generate_spec_test.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.9-bundle-release.yaml
Labels: approved, lgtm, size/XL

#2314 Add/modify e2e tests to use 1.23 (#2281)
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/flux_test.go
  test/e2e/labels_test.go
  test/e2e/oidc_test.go
  test/e2e/proxy_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/simpleflow_test.go
  test/e2e/stackedetcd_test.go
  test/e2e/taints_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/upgrade_test.go
  test/e2e/vsphere_autoimport_test.go
Labels: approved, lgtm, size/L

#2319 Update etcdadm controller references to use AWS org
  release/pkg/assets_etcdadm_bootstrap.go
  release/pkg/assets_etcdadm_controller.go
  release/pkg/generate_spec_test.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.9-bundle-release.yaml
Labels: approved, lgtm, size/XL

#2303 Remove mrajashree from OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#2323 Remove --setup-tinkerbell and --skip-power-actions
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/M

#2321 Strip superfluous Tinkerbell configuration from DatacenterConfig
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbelldatacenterconfigs.yaml
  config/manifest/eksa-components.yaml
  internal/pkg/api/tinkerbell.go
  pkg/api/v1alpha1/testdata/cluster_1_21_valid_multiple_tinkerbell_templates.yaml
  pkg/api/v1alpha1/testdata/cluster_1_21_valid_tinkerbell.yaml
  pkg/api/v1alpha1/testdata/cluster_invalid_kinds_tinkerbell.yaml
  pkg/api/v1alpha1/testdata/not_parseable_cluster_tinkerbell.yaml
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/executables/kubectl_test.go
  pkg/executables/testdata/kubectl_tinkerbelldatacenter.json
  pkg/executables/testdata/kubectl_tinkerbelldatacenter_invalid.json
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_external_etcd.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_missing_ssh_keys.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_multiple_node_groups.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_stacked_etcd.yaml
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/XL

#2280 Configurable replica ready timeout per machine
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
Labels: approved, lgtm, size/L

#2286 Extend testing section in best practice doc
  docs/developer/best-practice.md
Labels: approved, lgtm, size/XS, documentation

#2329 Pull hook from the bundle
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
Labels: approved, lgtm, size/M

#2322 Add Hardware flag to upgrade cmd
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/generatehardware.go
  cmd/eksctl-anywhere/cmd/tinkerbell.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
Labels: approved, lgtm, size/M

#2295 Migrate capc to kubernetes-sigs
  ATTRIBUTION.txt
  controllers/controllers/resource/fetcher.go
  controllers/controllers/resource/fetcher_test.go
  controllers/main.go
  go.mod
  go.sum
  pkg/api/v1alpha1/thirdparty/tinkerbell/zz_generated.deepcopy.go
  pkg/executables/kubectl.go
  release/pkg/assets_capc.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.9-bundle-release.yaml
Labels: approved, lgtm, size/L

#2334 Additional ubuntu 1.23 tests
  test/e2e/simpleflow_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/S

#2313 Fix up cluster upgrade for kubefied tinkerbell stack changes
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/vsphere/vsphere.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#2335 Increase SSM execution timeout for e2e tests
  internal/pkg/ssm/command.go
Labels: approved, lgtm, size/XS

#2336 Removing old tinkerbell delete workflow code
  go.mod
  go.sum
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/providers/tinkerbell/delete.go
  pkg/providers/tinkerbell/mocks/client.go
  pkg/providers/tinkerbell/tinkerbell.go
Labels: approved, lgtm, size/L

#2337 Add tinkerbell-chart to the bundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbelldatacenterconfigs.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_tinkerbell.go
  release/pkg/assets_tinkerbell_chart.go
  release/pkg/generate_spec.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.9-bundle-release.yaml
Labels: approved, lgtm, size/L

#2338 Fix hardware-csv flag duplication for upgrade
  cmd/eksctl-anywhere/cmd/upgradecluster.go
Labels: approved, lgtm, size/S

#2339 Use helm chart from bundle in Tinkerbell
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
Labels: approved, lgtm, size/S

#2340 Set hardware lease time to 1 month
  pkg/providers/tinkerbell/hardware/catalogue_hardware.go
Labels: approved, lgtm, size/XS

#2342 Quick sleep in git setup
  internal/test/e2e/fluxGit.go
Labels: approved, lgtm, size/XS

#2341 Update runc version to make dependabot happy
  go.mod
  go.sum
  release/go.mod
  release/go.sum
Labels: approved, lgtm, size/M

#2343 Enabling additional CloudStack e2e tests since first two passed
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#2308 Software development lifecycle doc
  docs/developer/README.md
  docs/developer/development-lifecycle.md
Labels: approved, lgtm, size/M, documentation

#2328 Read Hardware CSV and existing cluster Hardware on Tinkerbell Enabled Management Cluster upgrade
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/executables/testdata/kubectl_tinkerbellhardware.json
  pkg/providers/tinkerbell/mocks/client.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/upgrade.go
Labels: approved, lgtm, size/L

#2348 Disable TestSnowKubernetes121UbuntuProxyConfig from test suites
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#2347 Rufio version update
  go.mod
  go.sum
  pkg/providers/tinkerbell/hardware/catalogue_bmc.go
  pkg/providers/tinkerbell/hardware/catalogue_secret.go
Labels: approved, lgtm, size/S

#2352 Add validation to check if boots is already running on docker
  pkg/executables/docker.go
  pkg/executables/docker_test.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/stack/mocks/stack.go
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/L

#2355 Update containerd version to resolve dependabot alerts
  go.mod
  go.sum
  release/go.mod
  release/go.sum
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/M

#2331 Reorganized docs to add Bare Metal
  docs/content/en/_index.html
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/content/en/docs/getting-started/production-environment/_index.md
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/baremetal/_index.md
  docs/content/en/docs/reference/baremetal/bare-custom-hookos.md
  docs/content/en/docs/reference/baremetal/bare-custom-ova.md
  docs/content/en/docs/reference/baremetal/bare-preparation.md
  docs/content/en/docs/reference/baremetal/bare-prereq.md
  docs/content/en/docs/reference/baremetal/ipxe-and-tinkerbell.md
  docs/content/en/docs/reference/changelog.md
  docs/content/en/docs/reference/clusterspec/baremetal.md
  docs/content/en/docs/reference/clusterspec/optional/_index.md
  docs/content/en/docs/reference/clusterspec/optional/cni.md
  docs/content/en/docs/reference/clusterspec/optional/etcd.md
  docs/content/en/docs/reference/clusterspec/optional/gitops.md
  docs/content/en/docs/reference/clusterspec/optional/iamauth.md
  docs/content/en/docs/reference/clusterspec/optional/irsa.md
  docs/content/en/docs/reference/clusterspec/optional/multus.md
  docs/content/en/docs/reference/clusterspec/optional/oidc.md
  docs/content/en/docs/reference/clusterspec/optional/proxy.md
  docs/content/en/docs/reference/clusterspec/optional/registrymirror.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
  docs/content/en/docs/reference/eksctl/_index.md
  docs/content/en/docs/reference/faq/_index.md
  docs/content/en/docs/reference/packagespec/_index.md
  docs/content/en/docs/reference/ports.md
  docs/content/en/docs/reference/security/_index.md
  docs/content/en/docs/reference/troubleshoot.md
  docs/content/en/docs/reference/vsphere/_index.md
  docs/content/en/docs/tasks/cluster/cluster-flux.md
  docs/content/en/docs/tasks/cluster/cluster-iam-auth.md
  docs/content/en/docs/tasks/packages/_index.md
  docs/content/en/docs/tasks/troubleshoot/_index.md
  docs/content/en/docs/tasks/troubleshoot/troubleshooting.md
  docs/content/en/docs/workshops/provision/vsphere.md
Labels: approved, lgtm, size/L, area/docs, documentation

#2353 Add design doc for reference Cluster to Bundles
  designs/cluster-bundles-reference.md
Labels: approved, lgtm, size/M

#2356 Add diagnostic collector to private registry, remove busybox from AWS IAM DaemonSet
  config/manifest/eksa-components.yaml
  pkg/awsiamauth/awsiamauth.go
  pkg/awsiamauth/awsiamauth_test.go
  pkg/awsiamauth/config/aws-iam-authenticator.yaml
  pkg/awsiamauth/testdata/want-aws-iam-authenticator.yaml
  release/api/v1alpha1/artifacts.go
Labels: approved, lgtm, size/M

#2349 Skeleton for methods to rerun CLI commands
  pkg/task/mocks/task.go
  pkg/task/task.go
  pkg/task/task_test.go
  pkg/workflows/create.go
  pkg/workflows/delete.go
  pkg/workflows/diagnostics.go
  pkg/workflows/upgrade.go
Labels: approved, lgtm, size/L

#2358 Add CII Best Practices
  README.md
Labels: approved, lgtm, size/XS

#2300 Add Tinkerbell label selector and configure disk type in the template…
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbellmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  controllers/controllers/resource/template.go
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults_test.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/providers/tinkerbell/cluster_spec_builder_test.go
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/config/template-md.yaml
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/hardware/catalogue_hardware.go
  pkg/providers/tinkerbell/hardware/catalogue_hardware_test.go
  pkg/providers/tinkerbell/hardware/validator_test.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_external_etcd.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_missing_ssh_keys.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_multiple_node_groups.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_stacked_etcd.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_external_etcd.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_stacked_etcd.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_missing_ssh_keys.yaml
  pkg/providers/tinkerbell/testdata/expected_results_tinkerbell_md_multiple_node_groups.yaml
  pkg/providers/tinkerbell/testdata/hardware.csv
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/validate.go
Labels: approved, lgtm, size/L

#2360 ✨Remove tinkerbell feature flag
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/cluster/spec.go
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/executables/config/clusterctl.yaml
  pkg/executables/testdata/clusterctl_expected.yaml
  pkg/features/features.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/L

#2361 Remove deadcode from Tinkerbell provider
  pkg/providers/tinkerbell/hardware/catalogue_validations.go
Labels: approved, lgtm, size/L

#2362 Adding ignore section for PR codecov
  codecov.yml
Labels: approved, lgtm, size/XS

#2363 Fix link in index for dev docs
  docs/developer/README.md
Labels: approved, lgtm, size/XS, documentation

#2370 Set nodes IPs statically using tinkerbell action
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults_test.go
Labels: approved, lgtm, size/M

#2333 Migrate capc to kubernetes-sigs
  ATTRIBUTION.txt
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  controllers/controllers/resource/fetcher.go
  controllers/controllers/resource/fetcher_test.go
  controllers/main.go
  go.mod
  go.sum
  pkg/executables/kubectl.go
  release/pkg/assets_capc.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.9-bundle-release.yaml
Labels: approved, lgtm, size/L

#2359 Build `cluster.Config` from a kubernetes client
  Makefile
  pkg/cluster/awsiam.go
  pkg/cluster/awsiam_test.go
  pkg/cluster/build.go
  pkg/cluster/client_builder.go
  pkg/cluster/client_builder_test.go
  pkg/cluster/flux.go
  pkg/cluster/flux_test.go
  pkg/cluster/gitops.go
  pkg/cluster/gitops_test.go
  pkg/cluster/mocks/client_builder.go
  pkg/cluster/oidc.go
  pkg/cluster/oidc_test.go
  pkg/cluster/snow.go
  pkg/cluster/snow_test.go
Labels: approved, lgtm, size/XL

#2378 Add name to Bundles objects during release
  release/cmd/release.go
  release/pkg/generate_spec.go
  release/pkg/generate_spec_test.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.9-bundle-release.yaml
Labels: approved, lgtm, size/L

#2283 Support node CIDR mask config
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/clusterapi/extraargs.go
  pkg/clusterapi/extraargs_test.go
  pkg/constants/constants.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/docker/docker.go
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/cluster_main.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/validations/createvalidations/preflightvalidations.go
Labels: approved, lgtm, size/L

#2372 Set `KUBEADM_BOOTSTRAP_TOKEN_TTL` to 120m for Tinkerbell provider
  pkg/providers/tinkerbell/tinkerbell.go
Labels: approved, lgtm, size/XS

#2383 Ignore deepcopy autogenerated files in codecov
  codecov.yml
Labels: approved, lgtm, size/XS

#2351 Per-E2E test VM cleanup
  cmd/eks-a-tool/cmd/cloudstackrmvms.go
  cmd/integration_test/cmd/cleanupaws.go
  cmd/integration_test/cmd/cleanupcloudstack.go
  cmd/integration_test/cmd/cleanupvsphere.go
  internal/test/cleanup/cleanup.go
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
  internal/test/e2e/vsphere.go
  test/e2e/README.md
  test/e2e/awsiam_test.go
  test/e2e/flux_test.go
  test/e2e/oidc_test.go
  test/framework/cloudstack.go
  test/framework/cluster.go
  test/framework/docker.go
  test/framework/snow.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L, documentation

#2385 Fix codecov ignore section by adding quotes
  codecov.yml
Labels: approved, lgtm, size/XS

#2390 Set boots lease duration to max
  pkg/providers/tinkerbell/hardware/catalogue_hardware.go
Labels: approved, lgtm, size/XS

#2376 Add missing BMC headers test
  pkg/providers/tinkerbell/hardware/csv_test.go
  pkg/providers/tinkerbell/hardware/testdata/hardware_no_bmc_headers.csv
  pkg/providers/tinkerbell/hardware/yaml_test.go
Labels: approved, lgtm, size/S

#2382 Enhance package controller
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
  cmd/eksctl-anywhere/cmd/installpackages.go
  go.mod
  go.sum
  pkg/curatedpackages/bundle.go
  pkg/curatedpackages/curatedpackages.go
  pkg/curatedpackages/curatedpackages_test.go
  pkg/curatedpackages/mocks/installer.go
  pkg/curatedpackages/oras/import.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
Labels: approved, lgtm, size/L

#2375 add option to override the local tinkerbell IP in the bootstrap cluster
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/providers/tinkerbell/tinkerbell.go
Labels: approved, lgtm, size/M

#2368 Bottlerocket on metal
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  pkg/api/v1alpha1/tinkerbelltemplateconfig.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults_test.go
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/config/template-md.yaml
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/validate.go
  release/Makefile
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/config/crd/bases/anywhere.eks.amazonaws.com_releases.yaml
  release/pkg/assets_hub.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.9-bundle-release.yaml
Labels: approved, lgtm, size/XL

#2371 Implement Bundles referenced in Cluster
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/zz_generated.deepcopy.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/cluster/default_manager.go
  pkg/cluster/fetch.go
  pkg/cluster/fetch_test.go
  pkg/cluster/spec.go
  pkg/cluster/spec_test.go
  pkg/clustermanager/cluster_manager.go
Labels: approved, lgtm, size/L

#2389 Add normalizations and lower case MAC address
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/hardware/csv.go
  pkg/providers/tinkerbell/hardware/csv_test.go
  pkg/providers/tinkerbell/hardware/normalize.go
  pkg/providers/tinkerbell/hardware/normalize_test.go
  pkg/providers/tinkerbell/upgrade.go
Labels: approved, lgtm, size/L

#2395 Enable hostPort for tink services only on bootstrap
  go.mod
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/S

#2386 Add section about replace to best practice doc
  docs/developer/best-practice.md
Labels: approved, lgtm, size/S, documentation

#2381 Wait adaptive duration per unready replicas between retries
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/executables/testdata/kubectl_machine_deployments_provisioned.json
  pkg/executables/testdata/kubectl_machine_deployments_unavailable.json
  pkg/executables/testdata/kubectl_machine_deployments_unready.json
Labels: approved, lgtm, size/XXL

#2387 Controller manager args for clusterapi
  pkg/clusterapi/apibuilder.go
  pkg/clusterapi/apibuilder_test.go
  pkg/clusterapi/controllermanagerargs.go
  pkg/clusterapi/controllermanagerargs_test.go
  pkg/clusterapi/identity_test.go
  pkg/clusterapi/systemctl_test.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/testdata/expected_results_main_cp.yaml
Labels: approved, lgtm, size/L

#2396 Improve error when hardware CSV has missing required columns
  pkg/providers/tinkerbell/hardware/csv.go
  pkg/providers/tinkerbell/hardware/csv_test.go
  pkg/providers/tinkerbell/hardware/machine.go
Labels: approved, lgtm, size/M

#2379 Add e2e tests for 1.23 Bottlerocket
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/labels_test.go
  test/e2e/multiple_worker_node_groups_test.go
  test/e2e/proxy_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/simpleflow_test.go
  test/e2e/taints_test.go
  test/e2e/upgrade_test.go
  test/e2e/vsphere_autoimport_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#2327 Enable taints support in snow
  Makefile
  pkg/clusterapi/apibuilder.go
  pkg/clusterapi/apibuilder_test.go
  pkg/clusterapi/fetch.go
  pkg/clusterapi/fetch_test.go
  pkg/clusterapi/identity_test.go
  pkg/clusterapi/mocks/fetch.go
  pkg/clusterapi/name.go
  pkg/clusterapi/name_test.go
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/fetch.go
  pkg/providers/snow/objects.go
  pkg/providers/snow/objects_test.go
  pkg/providers/snow/snow_test.go
  pkg/providers/snow/testdata/expected_results_main_cp.yaml
  pkg/providers/snow/testdata/expected_results_main_md.yaml
Labels: approved, lgtm, size/XL

#2402 Add logic to build cluster.Spec from cluster
  pkg/cluster/fetch.go
  pkg/cluster/fetch_test.go
  pkg/cluster/spec.go
  pkg/cluster/spec_test.go
  pkg/cluster/testdata/cluster_tinkerbell_1_19.yaml
Labels: approved, lgtm, size/XL

#2408 Add labels support in apibuilder
  pkg/clusterapi/apibuilder.go
  pkg/clusterapi/apibuilder_test.go
  pkg/clusterapi/identity_test.go
Labels: approved, lgtm, size/M

#2407 Specify the network when deploying the VM from content library
  pkg/executables/config/deploy-opts.json
  pkg/executables/govc.go
  pkg/executables/govc_test.go
  pkg/providers/vsphere/defaults.go
  pkg/providers/vsphere/internal/templates/factory.go
  pkg/providers/vsphere/internal/templates/factory_test.go
  pkg/providers/vsphere/internal/templates/mocks/govc.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#2344 Return error details when checking if network exists
  pkg/executables/govc.go
Labels: approved, lgtm, size/XS

#2398 Don't include templateRef in TinkerbellMachineConfig on generate
  internal/pkg/api/tinkerbell.go
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/XS

#2393 Added nvme disk support for Tinkerbell template config
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults_test.go
Labels: approved, lgtm, size/M

#2417 Increase fs inotify resources for e2e tests
  internal/test/e2e/setup.go
Labels: approved, lgtm, size/S

#2419 Remove deprecated field `overrideClusterSpecFile` in clusterSpec
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbellmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm, size/L

#2403 Feature air gap fix
  Makefile
  cmd/eksctl-anywhere/cmd/applypackages.go
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/createpackages.go
  cmd/eksctl-anywhere/cmd/deletepackages.go
  cmd/eksctl-anywhere/cmd/describepackages.go
  cmd/eksctl-anywhere/cmd/generatepackage.go
  cmd/eksctl-anywhere/cmd/get.go
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
  cmd/eksctl-anywhere/cmd/installpackages.go
  cmd/eksctl-anywhere/cmd/listpackages.go
  cmd/eksctl-anywhere/cmd/upgradepackages.go
  pkg/curatedpackages/curatedpackages.go
  pkg/curatedpackages/customregistry.go
  pkg/curatedpackages/defaultregistry.go
  pkg/curatedpackages/packageinstaller.go
  pkg/curatedpackages/packageinstaller_test.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/task/task.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
Labels: lgtm, size/XL

#2423 Revert "Don't include templateRef in TinkerbellMachineConfig on gener…
  internal/pkg/api/tinkerbell.go
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/S

#2380 Avoid downloading artifacts when running release tooling unit tests
  release/.gitignore
  release/pkg/assets_capa.go
  release/pkg/assets_capas.go
  release/pkg/assets_capc.go
  release/pkg/assets_capd.go
  release/pkg/assets_capi.go
  release/pkg/assets_certmanager.go
  release/pkg/assets_eksa_tools.go
  release/pkg/assets_etcdadm_bootstrap.go
  release/pkg/assets_etcdadm_controller.go
  release/pkg/assets_kindnetd.go
  release/pkg/assets_package_controller.go
  release/pkg/assets_tinkerbell.go
  release/pkg/assets_vsphere.go
  release/pkg/generate_spec_test.go
  release/pkg/prepare_release.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/versions.go
Labels: approved, lgtm, size/L

#2235 Remove bogus entry from changelog
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#2425 Add flags to build static binary for EKS-A CLI
  Makefile
  release/pkg/file_reader.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, size/M

#2430 Add Bottlerocket Raw images to bundle
  release/Makefile
  release/pkg/assets_eksd.go
  release/pkg/file_reader.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.9-bundle-release.yaml
Labels: approved, lgtm, size/L

#2421 Expose osImageOverride and hookOverride in TinkerbellDatacenterConfig
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbelldatacenterconfigs.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_types.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults_test.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/stack/mocks/stack.go
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/L

#2397 Reject cluster operations with external etcd for bare metal
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_multiple_node_groups.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_external_etcd.yaml
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/upgrade.go
Labels: lgtm, size/L

#2427 Correct bare metal hardware validations on create
  pkg/api/v1alpha1/tinkerbellmachineconfig_types.go
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/validate.go
Labels: lgtm, size/L

#2031 add tinkerbell ci test harness to e2e test framework
  Makefile
  cmd/eksctl-anywhere/cmd/generatehardware.go
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  cmd/integration_test/build/script/create_infra_config.sh
  cmd/integration_test/cmd/run.go
  go.mod
  go.sum
  internal/pkg/api/hardware.go
  internal/pkg/api/tinkerbell.go
  internal/pkg/ssm/activation.go
  internal/pkg/ssm/instance.go
  internal/pkg/vsphere/deploy.go
  internal/test/cleanup/cleanup.go
  internal/test/e2e/artifacts.go
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
  internal/test/e2e/testRunner.go
  internal/test/e2e/tinkerbell.go
  pkg/executables/govc.go
  pkg/providers/tinkerbell/hardware/machine.go
  pkg/providers/tinkerbell/hardware/yaml.go
  scripts/e2e_test_docker.sh
  test/e2e/conformance_test.go
  test/e2e/forceflow_test.go
  test/e2e/simpleflow_test.go
  test/framework/cluster.go
  test/framework/tinkerbell.go
Labels: lgtm, size/XXL

#2420 Add kubernetes.Client controller implementation
  controllers/controllers/clients/kubernetes.go
  controllers/controllers/clients/kubernetes_test.go
  pkg/clients/kubernetes/kubeconfig.go
  pkg/clients/kubernetes/mocks/kubeconfig.go
  pkg/cluster/client_builder.go
  pkg/cluster/mocks/client_builder.go
  pkg/clusterapi/fetch.go
  pkg/clusterapi/mocks/fetch.go
Labels: approved, lgtm, size/L

#2437 add additional logging for debugging failing gitflux tests
  internal/test/e2e/fluxGit.go
  pkg/git/gogithub/gogithub.go
Labels: approved, lgtm, size/XS

#2438 fix code build key value
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/S

#2436 Add new cluster create image
  docs/content/en/docs/overview/_index.md
  docs/layouts/shortcodes/blocks/feature.html
  docs/layouts/shortcodes/blocks/section.html
  docs/static/images/line-create-cluster.svg
Labels: approved, lgtm, size/M, documentation

#2434 Feature package configurations
  cmd/eksctl-anywhere/cmd/applypackages.go
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/createpackages.go
  cmd/eksctl-anywhere/cmd/deletepackages.go
  cmd/eksctl-anywhere/cmd/describepackages.go
  cmd/eksctl-anywhere/cmd/generatepackage.go
  cmd/eksctl-anywhere/cmd/installpackages.go
  cmd/eksctl-anywhere/cmd/listpackages.go
  designs/curated-packages-configuration.md
  go.mod
  go.sum
  pkg/curatedpackages/configurationclient.go
  pkg/curatedpackages/configurationclient_test.go
  pkg/curatedpackages/curatedpackages.go
  pkg/curatedpackages/packageclient.go
  pkg/curatedpackages/packageclient_test.go
  pkg/curatedpackages/packageinstaller.go
Labels: lgtm, size/XL

#2440 Ignore E2E framework code in codecov
  codecov.yml
Labels: approved, lgtm, size/XS

#2399 Multi-endpoint design for cloudstack provider
  designs/cloudstack-multiple-endpoints.md
Labels: approved, lgtm, size/L

#2414 Validate server cert against ca cert for registry mirror
  docs/content/en/docs/reference/changelog.md
  pkg/crypto/validator.go
  pkg/crypto/validator_test.go
  pkg/validations/cluster.go
  pkg/validations/mocks/tls.go
  pkg/validations/tls.go
Labels: approved, lgtm, size/L, documentation

#2432 Packages: First end-to-end test
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  test/e2e/curated_packages_test.go
  test/framework/cluster.go
  test/framework/curatedpackages.go
Labels: approved, lgtm, size/L

#2442 fix vsphere env var race conditions during e2e tests
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/framework/vsphere.go
Labels: approved, lgtm, size/S

#2444 Fix multiple worker node group configuration for tinkerbell provider
  pkg/providers/tinkerbell/tinkerbell.go
Labels: approved, lgtm, size/S

#2445 enable option to override govc envmap that gets passed to container
  internal/pkg/vsphere/deploy.go
  internal/test/e2e/testRunner.go
  pkg/executables/builder.go
  pkg/executables/govc.go
Labels: lgtm, size/M

#2450 set env for vm tagging during e2e
  internal/pkg/vsphere/deploy.go
  internal/test/e2e/testRunner.go
Labels: approved, lgtm, size/S

#2439 Watch child objects with OwnerReferences
  controllers/controllers/cluster_controller.go
  controllers/controllers/cluster_controller_test.go
  controllers/controllers/cluster_controller_test_test.go
  controllers/controllers/main_test.go
  controllers/controllers/utils/handlerutil/childobjects.go
  controllers/controllers/utils/handlerutil/childobjects_test.go
  controllers/main.go
  internal/test/envtest/environment.go
  pkg/cluster/config.go
  pkg/cluster/config_test.go
Labels: approved, lgtm, size/L

#2446 Expose tinkerbell services on workload cluster using an lb
  pkg/api/v1alpha1/tinkerbelltemplateconfig.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults_test.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/stack/mocks/stack.go
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/L

#2451 Implement backreferences from CAPI to EKSA cluster
  controllers/controllers/utils/handlerutil/capiobjects.go
  controllers/controllers/utils/handlerutil/capiobjects_test.go
  pkg/clusterapi/apibuilder.go
  pkg/clusterapi/apibuilder_test.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/testdata/expected_results_main_cp.yaml
  pkg/providers/snow/testdata/expected_results_main_md.yaml
Labels: approved, lgtm, size/L

#2454 set env only once for vsphere test runner instance
  internal/test/cleanup/cleanup.go
  internal/test/e2e/run.go
  internal/test/e2e/testRunner.go
Labels: lgtm, size/M

#2448 Packages: First end-to-end test (#2432)
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  test/e2e/curated_packages_test.go
  test/framework/cluster.go
  test/framework/curatedpackages.go
Labels: approved, lgtm, size/L

#2455 enable br e2e test for tinkerbell
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#2457 Ensure reboot action gets assigned to corresponding field in bundle
  release/pkg/assets_tinkerbell.go
  release/pkg/generate_spec.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#2456 Pass multiple metadataUrls for bottlerocket
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults_test.go
Labels: approved, lgtm, size/M

#2462 Fix grammar
  controllers/controllers/utils/handlerutil/capiobjects.go
  designs/air-gapped.md
  designs/cluster-bundles-reference.md
  pkg/cluster/fetch.go
Labels: approved, lgtm, size/S

#2463 clean up vsphere test runner instances after every build
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  internal/test/e2e/run.go
Labels: approved, lgtm, size/S

#2465 Avoid ":" in github repository names for E2E tests
  internal/test/e2e/fluxGit.go
Labels: approved, lgtm, size/S

#2466 Packages: e2e test fixes for build pipelines
  test/framework/cluster.go
Labels: approved, lgtm, size/S

#2479 enable 3 worker baremetal e2e test
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#2481 Use proper artifact folder for tarball upload
  cmd/integration_test/build/script/upload_artifacts.sh
Labels: approved, lgtm, size/S

#2461 Fix tinkerbell disk extractor
  pkg/dependencies/factory.go
  pkg/providers/tinkerbell/hardware/catalogue_hardware.go
  pkg/providers/tinkerbell/hardware/catalogue_hardware_test.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: lgtm, size/L

#2492 Pass branch name variable to e2e test scripts
  Makefile
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  cmd/integration_test/build/script/upload_artifacts.sh
  scripts/e2e_test_docker.sh
Labels: approved, lgtm, size/S

#2486 Avoid processing Snow images if the URI is empty
  release/api/v1alpha1/artifacts.go
  release/api/v1alpha1/artifacts_test.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#2503 only run tink tests on release branch
  internal/test/e2e/run.go
Labels: approved, lgtm, size/XS

#2506 Bugfix for download images to use default registry
  .gitignore
  pkg/curatedpackages/reader.go
Labels: lgtm, size/XS

#2509 Update changelog for v0.9.2
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#2510 Referencing branch name release-0.10
  Makefile
Labels: approved, lgtm, size/XS

#2504 Cert manager org update
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  internal/test/testdata/bundles.yaml
  internal/test/testdata/bundles_template.yaml
  pkg/executables/clusterctl_test.go
  pkg/executables/testdata/clusterctl_expected.yaml
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_certmanager.go
  release/pkg/generate_spec.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.10-bundle-release.yaml
Labels: approved, lgtm, size/L

#2515 Typo in command
  docs/content/en/docs/reference/clusterspec/optional/gitops.md
Labels: approved, lgtm, needs-ok-to-test, size/XS, documentation

#2513 Trigger cli staging for v0.9.2
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#2519 Use branch name to construct S3 URI for CLI tarball
  release/pkg/assets_cli.go
Labels: approved, lgtm, size/XS

#2488 Bumping the eks-a release version and number
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#2530 add oidc test for tinkerbell provider
  test/e2e/oidc_test.go
Labels: approved, lgtm, size/S

#2524 Replace plunder-app org references with kube-vip
  controllers/controllers/resource/testdata/cloudstackKubeadmcontrolplane.yaml
  controllers/controllers/resource/testdata/vsphereKubeadmcontrolplane.yaml
  internal/test/testdata/bundles.yaml
  internal/test/testdata/bundles_template.yaml
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/testdata/expected_results_affinity_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_proxy_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/snow_test.go
  pkg/providers/snow/testdata/expected_results_main_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_external_etcd.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_full_oidc.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_minimal_oidc.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_node_labels.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_node_taints.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_stacked_etcd.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_missing_ssh_keys.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provder_and_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provider_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/vsphere_test.go
  release/pkg/assets_kube_vip.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.10-bundle-release.yaml
Labels: approved, lgtm, size/L

#2523 Tinkerbell - OSFamily defaulted to bottlerocket
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
Labels: approved, lgtm, size/XS

#2529 Fixing backwards compatibility bug and adding new e2e test
  pkg/api/v1alpha1/cloudstackmachineconfig_types.go
  test/e2e/upgrade_from_latest_test.go
Labels: approved, lgtm, size/S

#2478 SNS trigger file
  release/triggers/snsAnnounce.json
Labels: approved, lgtm, size/XS

#2521 Prod CLI trigger for v0.9.2
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#2537 Update docs for patch v0.9.2
  docs/content/en/docs/getting-started/install/_index.md
Labels: approved, lgtm, size/XS, documentation

#2535 Add CAPT logs and tinkerbell provider related CRDs to the diagnostic bundle
  pkg/constants/constants.go
  pkg/diagnostics/analyzers.go
  pkg/diagnostics/analyzers_test.go
  pkg/diagnostics/collectors.go
  pkg/diagnostics/collectors_test.go
  pkg/diagnostics/config/diagnostic-collector-rbac.yaml
Labels: approved, lgtm, size/M

#2540 Remove unused tinkerbell components from the bundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  pkg/providers/snow/api/v1beta1/zz_generated.deepcopy.go
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_boots.go
  release/pkg/assets_capd.go
  release/pkg/assets_capt.go
  release/pkg/assets_capv.go
  release/pkg/assets_cilium.go
  release/pkg/assets_cluster_controller.go
  release/pkg/assets_cri_tools.go
  release/pkg/assets_diagnostic_collector.go
  release/pkg/assets_eksa_tools.go
  release/pkg/assets_etcdadm.go
  release/pkg/assets_etcdadm_bootstrap.go
  release/pkg/assets_etcdadm_controller.go
  release/pkg/assets_haproxy.go
  release/pkg/assets_hegel.go
  release/pkg/assets_kindnetd.go
  release/pkg/assets_kube_rbac_proxy.go
  release/pkg/assets_kube_vip.go
  release/pkg/assets_local_path_provisioner.go
  release/pkg/assets_pbnj.go
  release/pkg/assets_rufio.go
  release/pkg/assets_tink.go
  release/pkg/assets_tinkerbell.go
  release/pkg/assets_vsphere_cloud_provider.go
  release/pkg/generate_spec.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.10-bundle-release.yaml
  release/pkg/versions.go
Labels: approved, lgtm, size/XXL

#2418 Updated install and production getting started docs for Bare Metal
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/getting-started/production-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/reference/ports.md
Labels: approved, lgtm, size/XL, documentation

#2410 Create Bare Metal preparation docs
  docs/content/en/docs/reference/baremetal/bare-preparation.md
Labels: approved, lgtm, size/M, area/docs, documentation

#2365 Configuration reference doc for Bare Metal
  docs/content/en/docs/reference/clusterspec/baremetal.md
Labels: approved, lgtm, size/XL, area/docs, documentation

#2493 Fix cilium cluster spec docs
  docs/content/en/docs/reference/clusterspec/vsphere.md
Labels: approved, lgtm, size/XS, documentation

#2543 add test for creating baremetal cluster with no power actions
  test/e2e/tinkerbell_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#2548 Enable 3 worker baremetal test in release-0.10
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#1677 Base64 encode VSphere secrets
  go.mod
  pkg/providers/vsphere/config/secret.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/S

#2551 Docs for setting up SNS
  docs/content/en/docs/reference/snsUpdates.md
Labels: approved, lgtm, size/S, area/docs, documentation

#2502 Brew post submit job trigger
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#2542 Add security best practices for baremetal and bottlerocket
  docs/content/en/docs/reference/security/_index.md
Labels: approved, lgtm, size/S, area/docs, documentation

#2555 cleanup tinkerbell test environment between test runs
  internal/test/e2e/tinkerbell.go
  test/framework/cluster.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/S

#2561 Release brew trigger for v0.9.2
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#2565 Fix branch name
  scripts/brew_formula_pr.sh
Labels: approved, lgtm, size/XS

#2566 Fix branch name
  scripts/brew_formula_pr.sh
Labels: approved, lgtm, size/XS

#2563 Update bundle golden files
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.10-bundle-release.yaml
Labels: approved, lgtm, size/M

#2571 Add Git origin and upstream remotes
  scripts/brew_formula_pr.sh
  scripts/brew_formula_update.sh
Labels: approved, lgtm, size/XS

#2467 Add option in helm to operate with TLS
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/downloadimages.go
  cmd/eksctl-anywhere/cmd/import_images.go
  cmd/eksctl-anywhere/cmd/importimages.go
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
  controllers/controllers/clusters/vsphere.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/dependencies/testdata/cluster_tinkerbell.yaml
  pkg/executables/helm.go
  pkg/executables/helm_test.go
  test/framework/executables.go
Labels: approved, lgtm, size/L
