Repository aws/eks-anywhere, pull requests merged in 2022-10, with the labels that each got.

#3532 Update doc for 0.11.4 patch release
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/S, documentation

#3535 Add ADOT workshop
  docs/content/en/docs/workshops/packages/adot/_index.md
  docs/content/en/docs/workshops/packages/adot/adot_amp_amg.md
  docs/static/images/adot_amg_1.png
  docs/static/images/adot_amg_2.png
  docs/static/images/adot_amg_3.png
  docs/static/images/adot_amg_4.png
  docs/static/images/adot_amg_5.png
  docs/static/images/adot_amg_6.png
  docs/static/images/adot_amg_7.png
  docs/static/images/adot_amg_8.png
  docs/static/images/adot_amp_1.png
  docs/static/images/adot_amp_2.png
Labels: approved, lgtm, size/XL, documentation

#3536 Revert "Add ADOT workshop"
  docs/content/en/docs/workshops/packages/adot/_index.md
  docs/content/en/docs/workshops/packages/adot/adot_amp_amg.md
  docs/static/images/adot_amg_1.png
  docs/static/images/adot_amg_2.png
  docs/static/images/adot_amg_3.png
  docs/static/images/adot_amg_4.png
  docs/static/images/adot_amg_5.png
  docs/static/images/adot_amg_6.png
  docs/static/images/adot_amg_7.png
  docs/static/images/adot_amg_8.png
  docs/static/images/adot_amp_1.png
  docs/static/images/adot_amp_2.png
Labels: approved, lgtm, size/XL, documentation

#3297 Added registry mirror e2e tests for tinkerbell local registry
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  internal/test/e2e/registryMirror.go
  test/e2e/registry_mirror_test.go
  test/framework/registryMirror.go
Labels: approved, lgtm, size/L

#3533 refactor(CLI): more idiomatic output writing for "list packages"
  cmd/eksctl-anywhere/cmd/listpackages.go
  pkg/curatedpackages/cptabwriter.go
  pkg/curatedpackages/cptabwriter_test.go
  pkg/curatedpackages/packageclient.go
  pkg/curatedpackages/packageclient_test.go
Labels: approved, lgtm, size/L

#3434 Bare metal upgrade: Add immutability checks...
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/upgrade.go
Labels: lgtm, size/L

#3539 Fix dependabot alerts and `go mod tidy`
  go.mod
  go.sum
  pkg/api/v1alpha1/awsiamconfig_test.go
  release/go.mod
  release/go.sum
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.11-bundle-release.yaml
Labels: approved, lgtm, size/XL

#3531 Fixing CloudStack IP Check to only run on cluster creation
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, size/M

#3546 Add Drew to OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#3547 Update changelog for 0.11.4
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#3548 Update changelog for 0.11.4
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/S, documentation

#3537 Add Adot workshop
  docs/content/en/docs/workshops/packages/adot/_index.md
  docs/content/en/docs/workshops/packages/adot/adot_amp_amg.md
  docs/static/images/adot_amg_add_data_source.png
  docs/static/images/adot_amg_config_data_source.png
  docs/static/images/adot_amg_create_ws_config_settings.png
  docs/static/images/adot_amg_create_ws_details.png
  docs/static/images/adot_amg_create_ws_permission_settings.png
  docs/static/images/adot_amg_create_ws_review_create.png
  docs/static/images/adot_amg_import_dashboard.png
  docs/static/images/adot_amg_view_dashboard.png
  docs/static/images/adot_amp_create_ws.png
  docs/static/images/adot_amp_identify_urls.png
Labels: approved, lgtm, size/XL, documentation

#3451 Add developer doc for releases
  docs/developer/README.md
  docs/developer/releases.md
Labels: approved, lgtm, size/S, documentation

#3540 feat(Makefile): adds a couple of small coverage based targets
  Makefile
Labels: approved, lgtm, size/S

#3479 Add cluster name to several package commands
  cmd/eksctl-anywhere/cmd/generatepackage.go
  cmd/eksctl-anywhere/cmd/installpackages.go
  cmd/eksctl-anywhere/cmd/listpackages.go
  cmd/eksctl-anywhere/cmd/upgradepackages.go
  pkg/curatedpackages/bundle.go
  pkg/curatedpackages/bundle_test.go
  pkg/curatedpackages/packageclient.go
  pkg/curatedpackages/packageclient_test.go
Labels: approved, lgtm, size/M

#3541 Bare metal upgrade: Unit tests for immutable field checks
  pkg/providers/tinkerbell/upgrade.go
  pkg/validations/kubectl.go
  pkg/validations/mocks/kubectl.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  pkg/validations/upgradevalidations/testdata/tinkerbell_clusterconfig.yaml
Labels: approved, lgtm, size/XL

#3556 Fix gitopsConfig validation for workload cluster
  pkg/validations/createvalidations/gitops.go
  pkg/validations/createvalidations/gitops_test.go
Labels: approved, lgtm, size/XS

#3558 Helm chart.yaml fixes on dev release
  release/pkg/bundles/package-controller.go
  release/pkg/operations/upload.go
Labels: approved, lgtm, size/XS

#3559 Tinkerbell helm chart yaml fixes
  release/pkg/bundles/tinkerbell.go
Labels: approved, lgtm, size/M

#3292 Add NutanixBundle type to VersionsBundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/artifacts.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/groupversion_info.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets/config/bundle_release.go
  release/pkg/bundles/bundles.go
  release/pkg/bundles/nutanix.go
  release/pkg/constants/constants.go
  release/pkg/operations/bundle_release_test.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.11-bundle-release.yaml
Labels: approved, lgtm, ok-to-test, size/L, area/providers/nutanix, area/providers/capx

#3562 Fix source image format for Tinkerbell chart
  release/pkg/assets/config/bundle_release.go
  release/pkg/bundles/package-controller.go
  release/pkg/constants/constants.go
  release/pkg/helm/helm.go
  release/pkg/images/images.go
Labels: approved, lgtm, size/M

#3563 Fix image repo name for CAPX
  release/pkg/assets/config/bundle_release.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/M

#3553 Feature remote management
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
Labels: approved, lgtm, size/M

#3555 Rename contextutil to workflowcontext
  pkg/workflow/task/bootstrap/bootstrap.go
  pkg/workflow/workflowcontext/bootstrap.go
  pkg/workflow/workflowcontext/contextutil.go
  pkg/workflow/workflowcontext/key.go
Labels: approved, lgtm, size/S

#3498 Add cluster autoscaling to cloudstack
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/config/template-md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_autoscaling_md.yaml
Labels: approved, lgtm, size/L

#3577 Push Helm charts along with other image uploads
  release/pkg/bundles/package-controller.go
  release/pkg/bundles/tinkerbell.go
  release/pkg/helm/helm.go
  release/pkg/operations/upload.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#3481 Skipping deploying machine deployment when there is none
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/S

#3578 Fix trimming of Helm chart asset name
  release/pkg/operations/upload.go
Labels: approved, lgtm, size/XS

#3580 Fix URI argument to helm push command
  release/pkg/helm/helm.go
Labels: approved, lgtm, size/XS

#3584 Fix typo
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbellmachineconfigs.yaml
Labels: approved, lgtm, size/XS

#3565 Add cluster option to delete, describe and get
  cmd/eksctl-anywhere/cmd/deletepackages.go
  cmd/eksctl-anywhere/cmd/describepackages.go
  cmd/eksctl-anywhere/cmd/get.go
  cmd/eksctl-anywhere/cmd/getpackage.go
  cmd/eksctl-anywhere/cmd/getpackagebundle.go
  cmd/eksctl-anywhere/cmd/getpackagebundlecontroller.go
  pkg/curatedpackages/packageclient.go
  pkg/curatedpackages/packageclient_test.go
Labels: approved, lgtm, size/M

#3554 Add namespace to controller install
  pkg/curatedpackages/mocks/installer.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/executables/helm.go
  pkg/executables/helm_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#3572 Changes to Hook building instructions...
  docs/content/en/docs/reference/baremetal/bare-custom-hookos.md
Labels: approved, lgtm, size/M, documentation

#3538 Add provider CAPI control plane
  internal/test/envtest/environment.go
  internal/test/kubernetes.go
  pkg/clusterapi/controlplane.go
  pkg/clusterapi/controlplane_test.go
Labels: approved, lgtm, size/XL

#3569 Add mutation webhook for vsphere machine configs
  PROJECT
  config/manifest/eksa-components.yaml
  config/webhook/manifests.yaml
  pkg/api/v1alpha1/vspheremachineconfig.go
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/api/v1alpha1/vspheremachineconfig_webhook.go
  pkg/api/v1alpha1/vspheremachineconfig_webhook_test.go
  pkg/cluster/vsphere.go
  pkg/providers/vsphere/defaults.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/L

#3592 Update project path for EKS-A cluster controller
  release/pkg/assets/config/bundle_release.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/XS

#3593 Update project path for EKS-A cluster controller
  release/pkg/assets/config/bundle_release.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.11-bundle-release.yaml
Labels: approved, lgtm, size/L

#3579 add Dell R7525 with nvidia gpu as validated hardware machine for ubun…
  docs/content/en/docs/reference/baremetal/bare-prereq.md
Labels: approved, lgtm, size/XS, documentation

#3459 update cli to support redhat as os family
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  pkg/api/v1alpha1/machine_types.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults_test.go
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node.yaml
  pkg/providers/tinkerbell/validate.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere_test.go
  test/e2e/simpleflow_test.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#3591 Add mutation webhook for vsphere datacenter configs
  PROJECT
  config/manifest/eksa-components.yaml
  config/webhook/manifests.yaml
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook.go
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook_test.go
Labels: approved, lgtm, size/M

#3601 go-native client preparations (1 of 6)
  cmd/eksctl-anywhere/cmd/applypackages.go
  cmd/eksctl-anywhere/cmd/createpackages.go
  cmd/eksctl-anywhere/cmd/deletepackages.go
  cmd/eksctl-anywhere/cmd/describepackages.go
  cmd/eksctl-anywhere/cmd/generatepackage.go
  cmd/eksctl-anywhere/cmd/getpackage.go
  cmd/eksctl-anywhere/cmd/getpackagebundle.go
  cmd/eksctl-anywhere/cmd/getpackagebundlecontroller.go
  cmd/eksctl-anywhere/cmd/installpackages.go
  cmd/eksctl-anywhere/cmd/listpackages.go
  cmd/eksctl-anywhere/cmd/upgradepackages.go
Labels: approved, lgtm, size/M

#3552 Move some cluster validations to api
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#3599 Removing unused cfssl from bundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/artifacts.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets/config/bundle_release.go
  release/pkg/bundles/tinkerbell.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#3595 Remove extra replica of cilium operator on single-node
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
Labels: approved, lgtm, size/S

#3612 Fix typo on vsphere datacenter config mutation webhook
  config/manifest/eksa-components.yaml
  config/webhook/manifests.yaml
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook.go
Labels: approved, lgtm, size/XS

#3597 Add support for VLAN ID in Tinkerbell provider:
  go.mod
  go.sum
  pkg/providers/tinkerbell/hardware/catalogue_hardware.go
  pkg/providers/tinkerbell/hardware/machine.go
  pkg/providers/tinkerbell/hardware/validator.go
  pkg/providers/tinkerbell/hardware/validator_test.go
Labels: kind/enhancement, approved, lgtm, size/L, area/providers/tinkerbell, team/providers, documentation, area/providers

#3529 Plumbing external loggers into cloudstack provider for improved debugging
  controllers/resource/reconciler.go
  controllers/resource/template.go
  manager/main.go
  pkg/dependencies/factory.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
Labels: approved, lgtm, size/L

#3608 Allow users to skip deploying `kube-vip` load balancer for tinkerbell stack
  Makefile
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbelldatacenterconfigs.yaml
  config/manifest/eksa-components.yaml
  go.mod
  internal/test/files.go
  pkg/api/v1alpha1/nutanixdatacenterconfig_types.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/workflow_types.go
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/kubeconfig/kubeconfig.go
  pkg/logger/doc.go
  pkg/providers/snow/api/v1beta1/groupversion_info.go
  pkg/providers/snow/api/v1beta1/zz_generated.deepcopy.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/stack/testdata/expected_tinkerbell_chart_overrides_with_all_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_docker.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_kubernetes.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_docker_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_envoy_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_envoy_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_hook_override.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_kubernetes_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_namespace_create_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_namespace_create_true.yaml
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/task/task.go
Labels: approved, lgtm, size/XXL

#3614 Better package argument error
  cmd/eksctl-anywhere/cmd/generatepackage.go
  cmd/eksctl-anywhere/cmd/installpackages.go
Labels: approved, lgtm, size/S

#3621 [release-0.11] Plumbing external loggers into cloudstack provider for improved debugging
  controllers/resource/reconciler.go
  controllers/resource/template.go
  manager/main.go
  pkg/dependencies/factory.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
Labels: approved, lgtm, size/L

#3607 feat(Makefile): run unit tests for only modified packages
  Makefile
  scripts/go-packages-in-patch.sh
Labels: approved, lgtm, size/M

#3626 typo(Makefile): fix a typo in coverage-view-patch target
  Makefile
Labels: approved, lgtm, size/XS

#3571 Autoscaling Annotations for Tinkerbell
  pkg/providers/tinkerbell/config/template-md.yaml
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_autoscaler_md.yaml
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/L

#3575 Adding new test for detecting workload cluster rollingupgrade
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/types/resources.go
  test/e2e/workload_clusters_test.go
  test/framework/cluster.go
  test/framework/multicluster.go
Labels: approved, lgtm, size/L

#3635 bugfix(Makefile): adds a missing '\'
  scripts/go-packages-in-patch.sh
Labels: approved, lgtm, size/XS

#3594 IAM authenticator only on workload support
  pkg/awsiamauth/awsiamauth.go
  pkg/awsiamauth/awsiamauth_test.go
  pkg/awsiamauth/config/aws-iam-authenticator-ca-secret.yaml
  pkg/awsiamauth/testdata/want-aws-iam-authenticator-ca-secret.yaml
  pkg/clusterapi/identity.go
  pkg/clusterapi/identity_test.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_awsiam.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
Labels: approved, lgtm, size/L

#3624 Make WorkerNodeConfiguration.Count A Pointer
  cmd/eks-a-tool/cmd/vsphereautofill.go
  controllers/cluster_controller_test.go
  controllers/resource/reconciler_test.go
  internal/pkg/api/cluster.go
  internal/pkg/api/cluster_test.go
  internal/pkg/api/nodegroups.go
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_defaults.go
  pkg/api/v1alpha1/cluster_defaults_test.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/cluster/config_manager_test.go
  pkg/cluster/parse_test.go
  pkg/clusterapi/apibuilder.go
  pkg/clusterapi/apibuilder_test.go
  pkg/clusterapi/extraargs_test.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/executables/kubectl_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/snow/reconciler/reconciler_test.go
  pkg/providers/snow/snow_test.go
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/cluster_spec_builder_test.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/utils/ptr/ptr.go
  pkg/validations/createcluster/createcluster_test.go
  test/framework/flux.go
Labels: approved, lgtm, size/XL

#3616 Add CAPI provider Workers
  pkg/clusterapi/controlplane.go
  pkg/clusterapi/controlplane_test.go
  pkg/clusterapi/name.go
  pkg/clusterapi/name_test.go
  pkg/clusterapi/workers.go
  pkg/clusterapi/workers_test.go
Labels: approved, lgtm, size/XL

#3602 feat(CLI): go-native client for CLI commands (2 of 6)
  internal/test/helpers.go
  pkg/curatedpackages/kubeclient.go
  pkg/curatedpackages/kubeclient_test.go
  pkg/kubeconfig/kubeconfig_test.go
Labels: lgtm, size/L

#3640 local registry e2e test change - added port to the cluster config
  internal/pkg/api/cluster.go
  test/framework/registryMirror.go
Labels: approved, lgtm, size/S

#3550 Move vsphere machine config validations to api
  pkg/api/v1alpha1/vspheremachineconfig.go
  pkg/api/v1alpha1/vspheremachineconfig_test.go
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/api/v1alpha1/vspheremachineconfig_webhook.go
  pkg/api/v1alpha1/vspheremachineconfig_webhook_test.go
  pkg/cluster/parse_test.go
  pkg/cluster/testdata/cluster_1_19.yaml
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XL

#3625 Add utils to parse a CAPI workers spec
  pkg/clusterapi/yaml/controlplane.go
  pkg/clusterapi/yaml/controlplane_test.go
  pkg/clusterapi/yaml/workers.go
  pkg/clusterapi/yaml/workers_test.go
Labels: approved, lgtm, size/L

#3646 changed BRANCH_NAME to the new release branch in release-0.12
  Makefile
Labels: approved, lgtm, size/XS

#3647 Fix metadata urls for bottlerocket
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults_test.go
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node.yaml
Labels: approved, lgtm, size/L

#3623 Remove special kube-system namespace cilium network policy for newer kube versions
  docs/content/en/docs/reference/clusterspec/optional/cni.md
  pkg/networking/cilium/network_policy.yaml
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
  pkg/networking/cilium/testdata/manifest_network_policy.yaml
  pkg/networking/cilium/testdata/network_policy_mgmt_capt_flux.yaml
  pkg/networking/cilium/testdata/network_policy_mgmt_capv.yaml
  pkg/networking/cilium/testdata/network_policy_workload_120.yaml
  pkg/networking/cilium/testdata/network_policy_workload_121.yaml
Labels: approved, lgtm, size/L, documentation

#3652 Update golangci-lint to 1.50.0
  .github/workflows/golangci-lint.yml
  controllers/resource/internal/vsphere_test.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_webhook_test.go
  pkg/diagnostics/analyzers.go
  pkg/providers/vsphere/validator.go
Labels: lgtm, size/S

#3639 bugfix: strip status information for proper package id
  scripts/go-packages-in-patch.sh
Labels: approved, lgtm, size/XS

#3583 Autoscaling Config Validations
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_defaults.go
  pkg/api/v1alpha1/cluster_defaults_test.go
  pkg/api/v1alpha1/cluster_test.go
Labels: approved, lgtm, size/L

#3657 now passing recently made mandatory parameter named cluster
  test/framework/cluster.go
Labels: approved, lgtm, needs-ok-to-test, size/XS

#3637 Adding check before bmc wait
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/testdata/hardware_nobmc.csv
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/upgrade.go
Labels: approved, lgtm, size/L

#3659 Add placeholder files for CloudStack docs
  docs/content/en/docs/getting-started/production-environment/cloudstack-getstarted.md
  docs/content/en/docs/reference/cloudstack/_index.md
  docs/content/en/docs/reference/cloudstack/cloudstack-preparation.md
  docs/content/en/docs/reference/cloudstack/cloudstack-prereq.md
  docs/content/en/docs/reference/clusterspec/cloudstack.md
Labels: approved, lgtm, size/M, documentation

#3655 Include golangci-lint version in make target
  Makefile
Labels: approved, lgtm, size/S

#3630 Validate vsphere datacenter config at api level
  pkg/api/v1alpha1/vspheredatacenterconfig_types.go
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook.go
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook_test.go
  pkg/cluster/parse_test.go
  pkg/cluster/testdata/cluster_1_19.yaml
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/M

#3661 Update PreCAPIInstallOnBootstrap for Nutanix Provider
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
Labels: approved, lgtm, needs-ok-to-test, size/S

#3644 Feature remote management
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
  pkg/curatedpackages/config/packagebundlecontroller.yaml
  pkg/curatedpackages/curatedpackages.go
  pkg/curatedpackages/mocks/packageinstaller.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/packageinstaller.go
  pkg/curatedpackages/packageinstaller_test.go
  pkg/curatedpackages/testdata/packagebundlectrl_test.yaml
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
Labels: approved, lgtm, size/L

#3660 Move vSphere CAPI yaml template to separate file
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/vsphere.go
Labels: lgtm, size/XL

#3656 Enable linters: cyclo comp, docs and naked returns
  .github/workflows/golangci-lint.yml
  .golangci.yml
  Makefile
Labels: approved, lgtm, size/S

#3617 Add AutoFillNutanixProvider and test framework for Nutanix provider
  internal/pkg/api/nutanix.go
  internal/pkg/api/nutanix_test.go
  internal/pkg/api/testdata/nutanix/cluster-config.yaml
  internal/pkg/api/testdata/nutanix/templated-resources.yaml
  test/e2e/registry_mirror_test.go
  test/framework/nutanix.go
Labels: approved, lgtm, needs-ok-to-test, size/XL

#3670 Construct git tag path properly when falling back to artifacts from main
  release/pkg/assets/images/images.go
  release/pkg/assets/images/images_test.go
  release/pkg/images/images.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/util/bundles/bundles.go
Labels: approved, lgtm, size/L

#3671 Remove clustername requirement from list and generate
  cmd/eksctl-anywhere/cmd/generatepackage.go
  cmd/eksctl-anywhere/cmd/listpackages.go
Labels: approved, lgtm, size/S

#3665 Remote package docs
  docs/content/en/docs/concepts/packages/cli.md
  docs/content/en/docs/concepts/packages/package-controller.md
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/reference/clusterspec/packages.md
  docs/content/en/docs/tasks/packages/_index.md
  docs/content/en/docs/tasks/packages/prereq.md
  docs/content/en/docs/tasks/troubleshoot/packages.md
Labels: approved, lgtm, size/L, documentation

#3645 Setup vsphere cluster reconciler for new api
  pkg/providers/vsphere/reconciler/reconciler.go
Labels: approved, lgtm, size/L

#3476 [1/2] Add AWS IAM Authenticator hooks
  .gitignore
  Makefile
  cmd/eksctl-anywhere/cmd/createcluster.go
  config/rbac/role.yaml
  pkg/awsiamauth/awsiamauth.go
  pkg/awsiamauth/awsiamauth_test.go
  pkg/awsiamauth/hook.go
  pkg/awsiamauth/mock_test.go
  pkg/awsiamauth/testdata/CreateAndInstallAWSIAMAuthCASecret-manifest.yaml
  pkg/awsiamauth/testdata/InstallAWSIAMAuth-kubeconfig.yaml
  pkg/awsiamauth/testdata/InstallAWSIAMAuth-manifest.yaml
  pkg/awsiamauth/testdata/UpgradeAWSIAMAuth-manifest.yaml
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/dependencies/factory.go
  pkg/workflow/management/create.go
  pkg/workflow/task.go
  pkg/workflow/task/bootstrap/bootstrap.go
  pkg/workflow/workflowcontext/bootstrap.go
  pkg/workflow/workflowcontext/cluster.go
Labels: approved, lgtm, size/XL, team/providers, area/workflows

#3681 Revert "Adding new test for detecting workload cluster rollingupgrade"
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/types/resources.go
  test/e2e/workload_clusters_test.go
  test/framework/cluster.go
  test/framework/multicluster.go
Labels: approved, lgtm, size/L

#3675 Enabling cloudstack provider by default for GA
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  controllers/resource/reconciler.go
  controllers/resource/reconciler_test.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_webhook.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_webhook_test.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook_test.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/eksd/installer_test.go
  pkg/features/features.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/validator/validate.go
  pkg/providers/validator/validate_test.go
  test/e2e/README.md
  test/framework/cloudstack.go
Labels: approved, lgtm, size/L

#3622 [2/2] Rename awsiamauth structs and reduce package API surface area
  Makefile
  controllers/resource/template.go
  pkg/awsiamauth/awsiamauth.go
  pkg/awsiamauth/hook.go
  pkg/awsiamauth/installer.go
  pkg/awsiamauth/installer_test.go
  pkg/awsiamauth/mock_test.go
  pkg/awsiamauth/template.go
  pkg/dependencies/factory.go
Labels: approved, lgtm, size/XL, team/providers, area/workflows

#3668 Invalid hardware.csv message
  pkg/providers/tinkerbell/hardware/translate.go
Labels: approved, lgtm, size/XS

#3632 Bump up files for staging bundle release
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#3682 Install packages on management cluster
  pkg/curatedpackages/packageinstaller.go
  pkg/curatedpackages/packageinstaller_test.go
  pkg/dependencies/factory.go
Labels: approved, lgtm, size/S

#3680 Added note on RHEL to bare metal docs
  docs/content/en/docs/reference/baremetal/bare-preparation.md
Labels: approved, lgtm, size/XS, documentation

#3688 Readd cloudstack provider flag
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#3690 enable rhel e2e tests for vsphere
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/simpleflow_test.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#3679 Generate package with kube-version and cluster name
  cmd/eksctl-anywhere/cmd/generatepackage.go
  pkg/curatedpackages/bundle.go
  pkg/curatedpackages/bundle_test.go
Labels: approved, lgtm, size/S

#3694 Retrieve Nutanix CAPX image only if it is in the bundle
  go.mod
  release/api/v1alpha1/artifacts.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#3698 Surface errors emitted by Helm push operation
  release/pkg/assets/images/images_test.go
  release/pkg/helm/helm.go
Labels: approved, lgtm, size/S

#3705 Perform Helm login before pulling and pushing
  release/pkg/helm/helm.go
  release/pkg/operations/upload.go
Labels: approved, lgtm, size/M

#3589 Setup vSphere User Business Logic
  Makefile
  cmd/eksctl-anywhere/cmd/vsphere.go
  cmd/eksctl-anywhere/cmd/vspheresetup.go
  cmd/eksctl-anywhere/cmd/vspheresetupuser.go
  pkg/executables/govc.go
  pkg/executables/govc_test.go
  pkg/providers/vsphere/internal/templates/factory.go
  pkg/providers/vsphere/internal/templates/mocks/govc.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/setupuser/mocks/client.go
  pkg/providers/vsphere/setupuser/setupuser.go
  pkg/providers/vsphere/setupuser/setupuser_test.go
  pkg/providers/vsphere/setupuser/validator.go
  pkg/providers/vsphere/setupuser/validator_test.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XXL

#3712 Fixing CloudStack e2e test issues
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/framework/cloudstack.go
Labels: approved, lgtm, size/XS

#3716 Fix install package controller for workload clusters
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
  pkg/cluster/spec.go
Labels: approved, lgtm, size/XS

#3664 Add option to disable vsphere csi
  config/crd/bases/anywhere.eks.amazonaws.com_vspheredatacenterconfigs.yaml
  config/manifest/eksa-components.yaml
  docs/content/en/docs/reference/clusterspec/vsphere.md
  internal/pkg/api/vsphere.go
  pkg/api/v1alpha1/vspheredatacenterconfig_types.go
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook.go
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook_test.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_getter_helper_test.go
  pkg/executables/kubectl_test.go
  pkg/executables/testdata/kubectl_storageclass.json
  pkg/providers/nutanix/provider_test.go
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/testdata/cluster_minimal_disable_csi.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_disable_csi_cp.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  test/e2e/vsphere_disable_csi_test.go
  test/framework/vspherecsi.go
Labels: approved, lgtm, size/XXL, documentation

#3723 Add option to disable vsphere csi (#3664)
  config/crd/bases/anywhere.eks.amazonaws.com_vspheredatacenterconfigs.yaml
  config/manifest/eksa-components.yaml
  docs/content/en/docs/reference/clusterspec/vsphere.md
  internal/pkg/api/vsphere.go
  pkg/api/v1alpha1/vspheredatacenterconfig_types.go
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook.go
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook_test.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_getter_helper_test.go
  pkg/executables/kubectl_test.go
  pkg/executables/testdata/kubectl_storageclass.json
  pkg/providers/nutanix/provider_test.go
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/testdata/cluster_minimal_disable_csi.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_disable_csi_cp.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  test/e2e/vsphere_disable_csi_test.go
  test/framework/vspherecsi.go
Labels: approved, lgtm, size/XXL, documentation

#3703 Adds specific vsphere templates for kube versions in ci
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/S

#3673 Add CNI reconciler for VSphere
  Makefile
  controllers/cluster_controller_test.go
  controllers/factory.go
  pkg/providers/vsphere/reconciler/main_test.go
  pkg/providers/vsphere/reconciler/mocks/reconciler.go
  pkg/providers/vsphere/reconciler/reconciler.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
Labels: approved, lgtm, size/XL

#3729 Update pkg doc for generate command
  docs/content/en/docs/tasks/packages/adot/_index.md
  docs/content/en/docs/tasks/packages/emissary/_index.md
  docs/content/en/docs/tasks/packages/harbor/_index.md
  docs/content/en/docs/tasks/packages/metallb/_index.md
Labels: approved, lgtm, size/XS, documentation

#3711 Stop creating namespace for now
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
Labels: approved, lgtm, size/S

#3672 Make audit policy apiVersion dynamic based on k8s version
  go.mod
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/testdata/expected_results_affinity_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_proxy_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_resourceids_cp.yaml
  pkg/providers/common/auditpolicy.go
  pkg/providers/common/common.go
  pkg/providers/common/config/audit-policy.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/docker/testdata/capd_valid_full_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/no_machinetemplate_update_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_pod_iam_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_stacked_etcd_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_taints_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_node_labels_cp_expected.yaml
  pkg/providers/validator/validate.go
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/template_test.go
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provder_and_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provider_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_disable_csi_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_with_auth_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
Labels: approved, lgtm, size/XL

#3566 Use CAPI machine name for node name and add validation on failuredomain name
  controllers/resource/testdata/cloudstackKubeadmconfigTemplateSpec.yaml
  controllers/resource/testdata/cloudstackKubeadmcontrolplane.yaml
  pkg/api/v1alpha1/cloudstackdatacenterconfig_test.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_types.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/config/template-md.yaml
  pkg/providers/cloudstack/testdata/expected_results_affinity_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_affinity_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_availability_zones_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_availability_zones_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_autoscaling_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_multiple_worker_node_groups.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_with_taints_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_add_worker_node_group.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_proxy_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_proxy_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_resourceids_cp.yaml
Labels: approved, lgtm, size/L

#3738 Use CAPI machine name for node name and add validation on failuredoma…
  controllers/resource/testdata/cloudstackKubeadmconfigTemplateSpec.yaml
  controllers/resource/testdata/cloudstackKubeadmcontrolplane.yaml
  pkg/api/v1alpha1/cloudstackdatacenterconfig_test.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_types.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/config/template-md.yaml
  pkg/providers/cloudstack/testdata/expected_results_affinity_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_affinity_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_availability_zones_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_availability_zones_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_autoscaling_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_multiple_worker_node_groups.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_with_taints_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_add_worker_node_group.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_proxy_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_proxy_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_resourceids_cp.yaml
Labels: approved, lgtm, size/L

#3739 E2e tests for 1.24 Ubuntu vsphere
  controllers/resource/reconciler_test.go
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/flux_test.go
  test/e2e/labels_test.go
  test/e2e/oidc_test.go
  test/e2e/proxy_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/stackedetcd_test.go
  test/e2e/taints_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/upgrade_test.go
  test/e2e/vsphere_disable_csi_test.go
Labels: approved, lgtm, size/L

#3742 Fix docs typos
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/baremetal/bare-custom-hookos.md
  docs/content/en/docs/reference/baremetal/netbooting-and-tinkerbell.md
  docs/content/en/docs/reference/changelog.md
  docs/content/en/docs/reference/clusterspec/optional/cni.md
  docs/content/en/docs/reference/security/_index.md
  docs/content/en/docs/reference/vsphere/vsphere-dhcp.md
  docs/content/en/docs/reference/vsphere/vsphere-preparation.md
  docs/content/en/docs/tasks/troubleshoot/packages.md
  docs/developer/pull-requests.md
Labels: approved, lgtm, size/M, documentation

#3731 Update pkg doc for update command
  docs/content/en/docs/reference/packagespec/best_practice.md
  docs/content/en/docs/tasks/packages/adot/_index.md
  docs/content/en/docs/tasks/packages/emissary/_index.md
  docs/content/en/docs/tasks/packages/harbor/_index.md
  docs/content/en/docs/tasks/packages/metallb/_index.md
Labels: approved, lgtm, size/S, documentation

#3745 test: use `T.Setenv` to set env vars in tests
  controllers/resource/reconciler_test.go
  pkg/api/v1alpha1/fluxconfig_test.go
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook_test.go
  pkg/aws/creds_test.go
  pkg/dependencies/factory_test.go
  pkg/eksctl/eksctl_test.go
  pkg/executables/cmk_test.go
  pkg/executables/flux_test.go
  pkg/executables/govc_test.go
  pkg/executables/kind_test.go
  pkg/features/features_test.go
  pkg/git/factory/gitfactory_test.go
  pkg/git/providers/github/github_test.go
  pkg/networking/cilium/templater_test.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/nutanix/provider_test.go
  pkg/providers/snow/snow_test.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/validations/cluster_test.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, ok-to-test, size/XL

#3669 Change Nutanix credentials format
  pkg/executables/clusterctl_test.go
  pkg/executables/testdata/clusterctl_expected.yaml
  pkg/providers/nutanix/config/secret-template.yaml
  pkg/providers/nutanix/env.go
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/template.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/templated_secret.yaml
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, ok-to-test, size/L

#3718 Add cluster-autoscaler docs
  docs/content/en/docs/reference/packagespec/_index.md
  docs/content/en/docs/reference/packagespec/cluster-autoscaler/_index.md
  docs/content/en/docs/reference/packagespec/cluster-autoscaler/v9.21.0.md
  docs/content/en/docs/tasks/packages/cluster-autoscaler/_index.md
Labels: approved, lgtm, size/L, documentation

#3741 Add docs for `skipLoadBalancerDeployment` for Tinkerbell
  .gitignore
  docs/content/en/docs/reference/clusterspec/baremetal.md
Labels: approved, lgtm, size/XS, documentation

#3662 fixed kube-vip yaml for nutanix provider
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/template.go
  release/api/v1alpha1/bundle_types.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/bundles/nutanix.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.11-bundle-release.yaml
Labels: approved, lgtm, ok-to-test, size/L

#3750 Add docs for `skipLoadBalancerDeployment` for Tinkerbell (#3741)
  .gitignore
  docs/content/en/docs/reference/clusterspec/baremetal.md
Labels: approved, lgtm, size/XS, documentation

#3706 Bump up files for staging CLI release for release-0.12
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#3753 Adding a note for awsiamconfig and upgrade
  docs/content/en/docs/tasks/cluster/cluster-iam-auth.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
Labels: approved, lgtm, size/XS, documentation

#3755 Update docs for registry mirror auth
  docs/content/en/docs/reference/clusterspec/optional/registrymirror.md
Labels: approved, lgtm, size/S, documentation

#3740 Add BR 1-24 template to buildspec
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#3749 Enable OIDC cloudstack E2E tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/conformance_test.go
  test/e2e/flux_test.go
  test/e2e/oidc_test.go
  test/e2e/simpleflow_test.go
  test/e2e/stackedetcd_test.go
  test/e2e/upgrade_dev_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/upgrade_test.go
  test/e2e/workload_clusters_test.go
  test/framework/cloudstack.go
Labels: approved, lgtm, size/M

#3686 Simplify vsphere templater and ssh key defaults
  controllers/resource/reconciler.go
  controllers/resource/reconciler_test.go
  controllers/resource/template.go
  controllers/resource/testdata/eksa-cluster.yaml
  controllers/resource/testdata/eksa-cluster_no_changes.yaml
  controllers/resource/testdata/vsphereKubeadmconfigTemplateSpec.yaml
  controllers/resource/testdata/vsphereKubeadmcontrolplane.yaml
  controllers/resource/testdata/vsphereMachineConfigSpec.yaml
  controllers/resource/vsphere.go
  controllers/resource/vsphere_wb_test.go
  pkg/providers/vsphere/defaults.go
  pkg/providers/vsphere/reconciler/reconciler.go
  pkg/providers/vsphere/spec.go
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/template_test.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XXL

#3759 redacting the nutanix user and password from log stmts
  pkg/constants/constants.go
  pkg/executables/executables.go
Labels: approved, lgtm, ok-to-test, size/XS

#3715 Adding requirements docs for CloudStack provider
  docs/content/en/docs/reference/cloudstack/cloudstack-prereq.md
Labels: approved, lgtm, size/M, documentation

#3728 Add CloudStack getting started docs
  docs/content/en/docs/getting-started/production-environment/cloudstack-getstarted.md
Labels: approved, lgtm, size/L, documentation

#3752 Patch cmd comments to satisfy godot requirements
  cmd/eksctl-anywhere/cmd/downloadimages.go
  cmd/eksctl-anywhere/cmd/import.go
  cmd/eksctl-anywhere/cmd/import_images.go
Labels: approved, lgtm, size/XS

#3764 Add feature flag for e2e test
  test/e2e/upgrade_test.go
Labels: approved, lgtm, size/XS

#3756 Trigger for prod bundle release of release-0.12
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#3732 Add packagebundlecontroller not found error to docs
  docs/content/en/docs/tasks/troubleshoot/packages.md
Labels: approved, lgtm, size/S, documentation

#3751 Reworked artifacts file to add RHEL image instructions
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/L, documentation

#3677 Cluster spec docs for EKS-A cluster on CloudStack
  docs/content/en/docs/reference/clusterspec/cloudstack.md
Labels: approved, lgtm, size/L, documentation

#3768 Updated docs to note CloudStack support
  docs/content/en/_index.html
  docs/content/en/docs/community/docs_contributing.md
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/content/en/docs/concepts/eksafeatures.md
  docs/content/en/docs/getting-started/_index.md
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/overview/_index.md
  docs/content/en/docs/reference/faq/_index.md
  docs/content/en/docs/tasks/cluster/cluster-delete.md
  docs/content/en/docs/tasks/cluster/cluster-multus.md
  docs/content/en/docs/tasks/cluster/cluster-terraform.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades.md
  docs/content/en/docs/tasks/cluster/etcd-backup-restore.md
  docs/content/en/docs/workshops/introduction/overview.md
Labels: approved, lgtm, ok-to-test, size/M, documentation

#3590 Adding more logging to helm functions
  release/pkg/helm/helm.go
  release/pkg/operations/upload.go
Labels: approved, lgtm, size/S

#3775 Add Cloudstack doc for building RHEL images
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/M, documentation

#3778 adding helm logging to release branch
  release/pkg/helm/helm.go
  release/pkg/operations/upload.go
Labels: approved, lgtm, size/S

#3781 add missing feature flag to e2e test
  test/e2e/awsiam_test.go
  test/e2e/flux_test.go
Labels: approved, lgtm, size/XS

#3783 changing helm log to fmt.Printf
  release/pkg/helm/helm.go
Labels: lgtm, size/S

#3784 fix orphaned machines left after timeout of a tinkerbell upgrade test
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/single_node_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/upgrade_test.go
Labels: approved, lgtm, size/S

#3757 Trigger for prod eks-a cli release of release-0.12
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#3793 Create CloudStack Preparation docs
  docs/content/en/docs/reference/cloudstack/cloudstack-preparation.md
  docs/static/images/csaddaccount.png
  docs/static/images/cscompute.png
  docs/static/images/csgenkeys.png
  docs/static/images/cstemplateRHEL.png
  docs/static/images/cszones.png
Labels: approved, lgtm, size/L, documentation

#3792 Doc updates for Redhat
  docs/content/en/docs/reference/clusterspec/baremetal.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
Labels: approved, lgtm, size/XS, documentation

#3795 Fix nil pointer when fetching snowmachineconfig that does not exist
  pkg/cluster/snow.go
  pkg/cluster/snow_test.go
  pkg/providers/snow/reconciler/reconciler.go
  pkg/providers/snow/reconciler/reconciler_test.go
Labels: approved, lgtm, size/M

#3796 Fix broken image links in docs
  docs/content/en/docs/reference/cloudstack/cloudstack-preparation.md
Labels: approved, lgtm, size/XS, documentation

#3790 Add Autoscaling Spec Reference
  docs/content/en/docs/reference/clusterspec/baremetal.md
  docs/content/en/docs/reference/clusterspec/cloudstack.md
  docs/content/en/docs/reference/clusterspec/optional/autoscaling.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
  docs/content/en/docs/tasks/cluster/cluster-scale/baremetal-scale.md
  docs/content/en/docs/tasks/cluster/cluster-scale/cloudstack-scale.md
  docs/content/en/docs/tasks/cluster/cluster-scale/vsphere-scale.md
  docs/content/en/docs/tasks/packages/cluster-autoscaler/_index.md
Labels: approved, lgtm, size/L, documentation

#3736 Adding changelog for release-0.12
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/S, documentation

#3802 Add cert-manager documentation
  docs/content/en/docs/reference/packagespec/cert-manager/_index.md
  docs/content/en/docs/reference/packagespec/cert-manager/v1.9.1.md
  docs/content/en/docs/tasks/packages/cert-manager/_index.md
Labels: approved, lgtm, size/L, documentation

#3801 Metallb v0.13.5 docs
  docs/content/en/docs/reference/packagespec/metallb/v0.13.5.md
Labels: approved, lgtm, size/L, documentation

#3808 Remove snow machine objects exist check in controller
  pkg/providers/snow/reconciler/reconciler.go
  pkg/providers/snow/reconciler/reconciler_test.go
Labels: approved, lgtm, size/S

#3809 Removing unreleased section from docs
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation
