Repository aws/eks-anywhere, pull requests merged in 2022-12, with the labels that each got.

#4240 allowing setting of insecure flag thru CI/e2e tests
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/README.md
  test/framework/nutanix.go
Labels: approved, lgtm, ok-to-test, size/XS, area/providers/nutanix

#4246 Build IPValidator for vSphere provider
  pkg/dependencies/factory.go
Labels: approved, lgtm, size/XS

#4225 Update CAPAS API to latest
  pkg/providers/snow/api/v1beta1/awssnowcluster_types.go
  pkg/providers/snow/api/v1beta1/awssnowippool_types.go
  pkg/providers/snow/api/v1beta1/awssnowmachine_types.go
  pkg/providers/snow/api/v1beta1/awssnowmachinetemplate_types.go
  pkg/providers/snow/api/v1beta1/conditions_consts.go
  pkg/providers/snow/api/v1beta1/groupversion_info.go
  pkg/providers/snow/api/v1beta1/tags.go
  pkg/providers/snow/api/v1beta1/types.go
  pkg/providers/snow/api/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, size/L

#4247 Remove 120 e2e tests
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/curated_packages_test.go
  test/e2e/flux_test.go
  test/e2e/oidc_test.go
  test/e2e/simpleflow_test.go
  test/e2e/stackedetcd_test.go
  test/e2e/upgrade_dev_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/upgrade_test.go
  test/e2e/vsphere_autoimport_test.go
  test/e2e/workload_clusters_test.go
Labels: approved, lgtm, size/XL

#4251 Add snow network DNI and static ip support
  config/crd/bases/anywhere.eks.amazonaws.com_snowmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/snowmachineconfig_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/providers/snow/api/v1beta1/zz_generated.deepcopy.go
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/apibuilder_test.go
Labels: approved, lgtm, size/L

#4252 Cleanup e2e tests for kubernetes 1.20
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/README.md
  test/e2e/awsiam_test.go
  test/e2e/upgrade_from_latest_test.go
  test/framework/cloudstack.go
  test/framework/nutanix.go
  test/framework/snow.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#4232 added k8s 1.24 version tests for nutanix provider
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/README.md
  test/e2e/conformance_test.go
  test/e2e/curated_packages_test.go
  test/e2e/simpleflow_test.go
  test/e2e/upgrade_test.go
  test/framework/nutanix.go
Labels: approved, lgtm, ok-to-test, size/L, area/providers/nutanix

#4257 Split CSI and CPI components into separate ClusterResourceSets
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/reconciler/reconciler_test.go
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provder_and_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provider_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_disable_csi_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_with_auth_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/L

#4260 add support for multiple CRS
  pkg/providers/vsphere/controlplane.go
  pkg/providers/vsphere/controlplane_test.go
  pkg/providers/vsphere/reconciler/reconciler.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
Labels: approved, lgtm, size/M

#4231 added emissary ingress tests for nutanix for all supported k8s versions
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/emissary_test.go
Labels: approved, lgtm, ok-to-test, size/M, area/providers/nutanix

#4249 Add cluster name to resources defined in clusterresourceset
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/reconciler/reconciler_test.go
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provder_and_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provider_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_disable_csi_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_with_auth_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
Labels: approved, lgtm, size/XL

#4263 Use go install instead of go get to install executables
  Makefile
Labels: approved, lgtm, size/S

#4266 Add systemd kubelet extra arg
  pkg/clusterapi/extraargs.go
  pkg/clusterapi/extraargs_test.go
  pkg/providers/docker/docker.go
  pkg/providers/docker/testdata/valid_deployment_cp_expected_124onwards.yaml
  pkg/providers/docker/testdata/valid_deployment_md_expected_124onwards.yaml
Labels: approved, lgtm, size/M

#4216 Fix management cluster from current context
  cmd/eksctl-anywhere/cmd/options.go
Labels: approved, lgtm, size/XS

#4267 Update CAPAS API validation
  config/crd/bases/anywhere.eks.amazonaws.com_snowmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  pkg/providers/snow/api/v1beta1/awssnowmachine_types.go
Labels: approved, lgtm, size/XS

#4269 now passing os
  test/e2e/curated_packages_test.go
  test/e2e/upgrade_test.go
Labels: approved, lgtm, needs-ok-to-test, size/S

#4272 Do not warn if upgrade strategy optional configuration is not specified
  pkg/api/v1alpha1/cluster.go
Labels: approved, lgtm, size/XS

#4253 Enable more Nutanix tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS, area/providers/nutanix

#4245 Add adot e2e test
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  test/e2e/adot_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/L

#4274 Add docker external etcd e2e test
  test/e2e/upgrade_test.go
Labels: approved, lgtm, size/S

#4276 Add Prometheus doc
  docs/content/en/docs/reference/packagespec/_index.md
  docs/content/en/docs/reference/packagespec/prometheus/_index.md
  docs/content/en/docs/reference/packagespec/prometheus/v2.39.1.md
  docs/content/en/docs/tasks/packages/prometheus/_index.md
Labels: approved, lgtm, size/XL, documentation

#4279 Fix package doc typo
  docs/content/en/docs/tasks/packages/adot/_index.md
  docs/content/en/docs/tasks/packages/cert-manager/_index.md
  docs/content/en/docs/tasks/packages/cluster-autoscaler/_index.md
  docs/content/en/docs/tasks/packages/emissary/_index.md
  docs/content/en/docs/tasks/packages/harbor/_index.md
  docs/content/en/docs/tasks/packages/metallb/_index.md
  docs/content/en/docs/tasks/packages/metrics-server/_index.md
Labels: approved, lgtm, size/S, documentation

#4259 Adding Nutanix E2E Test for Emissary and Harbor
  test/e2e/harbor_test.go
Labels: approved, lgtm, size/S

#4197 initializing the port number and fillable parameters in the generated cluster config
  pkg/api/v1alpha1/nutanixdatacenterconfig.go
  pkg/api/v1alpha1/nutanixmachineconfig.go
Labels: approved, lgtm, ok-to-test, size/S, area/providers/nutanix

#4265 Validate cp ip only cluster creation
  Makefile
  controllers/factory.go
  pkg/controller/clusters/mocks/validations.go
  pkg/controller/clusters/validations.go
  pkg/controller/clusters/validations_test.go
  pkg/providers/snow/reconciler/mocks/reconciler.go
  pkg/providers/snow/reconciler/reconciler.go
  pkg/providers/snow/reconciler/reconciler_test.go
  pkg/providers/vsphere/reconciler/mocks/reconciler.go
  pkg/providers/vsphere/reconciler/reconciler.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#4284 docs: Add T_SNOW_DEVICES doc to e2e README.md
  test/e2e/README.md
Labels: approved, lgtm, size/XS

#4186 removed feature is active checks for nutanix provider
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
  controllers/resource/reconciler.go
  controllers/resource/reconciler_test.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
  test/e2e/conformance_test.go
  test/e2e/curated_packages_test.go
  test/e2e/harbor_test.go
  test/e2e/simpleflow_test.go
  test/e2e/upgrade_test.go
Labels: approved, lgtm, ok-to-test, size/L, area/providers/nutanix

#4273 Block upgrade rollout strategy configuration for vsphere
  pkg/providers/vsphere/testdata/cluster_main_121_cp_upgrade_strategy.yaml
  pkg/providers/vsphere/testdata/cluster_main_121_md_upgrade_strategy.yaml
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#4278 Block upgrade strategy configuration for nutanix provider
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
  pkg/providers/nutanix/testdata/cluster_nutanix_with_upgrade_strategy_cp.yaml
  pkg/providers/nutanix/testdata/cluster_nutanix_with_upgrade_strategy_md.yaml
  pkg/providers/nutanix/validator.go
Labels: approved, lgtm, size/L

#4270 Apply doc change for bare metal single-node
  docs/content/en/docs/reference/baremetal/bare-preparation.md
  docs/content/en/docs/reference/baremetal/bare-prereq.md
  docs/content/en/docs/reference/clusterspec/baremetal.md
Labels: approved, lgtm, size/S, documentation

#4277 Fix the total node count logic when checking if nodes are ready
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/XL

#4215 Update preflight validations for Nutanix
  Makefile
  pkg/dependencies/factory.go
  pkg/providers/nutanix/client.go
  pkg/providers/nutanix/mock_validator_test.go
  pkg/providers/nutanix/mocks/client.go
  pkg/providers/nutanix/mocks/roundtripper.go
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/datacenterConfig_with_invalid_endpoint.yaml
  pkg/providers/nutanix/testdata/datacenterConfig_with_invalid_port.yaml
  pkg/providers/nutanix/testdata/machineConfigEmptyName.yaml
  pkg/providers/nutanix/validator.go
  pkg/providers/nutanix/validator_test.go
Labels: approved, lgtm, ok-to-test, size/XL, area/providers/nutanix

#4291 Update BRANCH_NAME to release-0.13
  Makefile
Labels: approved, lgtm, size/XS

#4293 Update package versions in doc
  docs/content/en/docs/reference/packagespec/_index.md
  docs/content/en/docs/tasks/packages/adot/_index.md
Labels: approved, lgtm, size/XS, documentation

#4261 TinkerbellIP of management cluster and workload cluster should be same
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/M

#4295 Update imports to use aws etcdadm provider repos
  controllers/resource/fetcher.go
  controllers/resource/fetcher_test.go
  controllers/resource/mocks/resource.go
  controllers/resource/reconciler_test.go
  controllers/resource/template.go
  go.mod
  go.sum
  internal/test/envtest/environment.go
  manager/main.go
  pkg/clusterapi/controlplane.go
  pkg/clusterapi/controlplane_test.go
  pkg/clusterapi/yaml/controlplane.go
  pkg/clusterapi/yaml/controlplane_test.go
  pkg/clustermanager/cluster_manager.go
  pkg/controller/clusters/controlplane.go
  pkg/controller/clusters/controlplane_test.go
  pkg/executables/kubectl.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/mocks/client.go
  pkg/providers/docker/controlplane_test.go
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/docker/mocks/client.go
  pkg/providers/docker/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/mocks/client.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/vsphere/controlplane_test.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/M

#4300 Update package doc
  docs/content/en/docs/tasks/packages/harbor/_index.md
Labels: approved, lgtm, size/XS, documentation

#4283 added template modifications for uuid in machineconfig
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  pkg/api/v1alpha1/nutanixmachineconfig.go
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/config/md-template.yaml
  pkg/providers/nutanix/template.go
  test/e2e/README.md
  test/e2e/simpleflow_test.go
  test/framework/nutanix.go
Labels: approved, lgtm, ok-to-test, size/L, area/providers/nutanix

#4287 docs: Clarify OIDC create/update documentation
  docs/content/en/docs/reference/clusterspec/optional/oidc.md
Labels: approved, lgtm, needs-ok-to-test, size/XS, documentation

#4306 Move skipped test listing to its own file
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/M

#4310 Fix Nutanix env for e2e
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#4311 Fix conformance tests for CloudStack, Tinkerbell and vSphere
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
Labels: approved, lgtm, size/S

#4313 Block upgrade rollout strategy configuration for snow provider
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
Labels: approved, lgtm, size/L

#4312 Add ADOT e2e for vSphere
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  test/e2e/adot_test.go
  test/framework/cluster.go
  test/framework/testdata/adot_package_daemonset.yaml
  test/framework/testdata/adot_package_deployment.yaml
Labels: approved, lgtm, size/L

#4314 Adding autoscaling annotations to nutanix
  pkg/providers/nutanix/config/md-template.yaml
  pkg/providers/nutanix/template.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/eksa-cluster-autoscaler.yaml
  pkg/providers/nutanix/testdata/expected_results_autoscaling_md.yaml
Labels: approved, lgtm, size/L

#4315 change registry.relativeurls default value to true
  docs/content/en/docs/reference/packagespec/harbor/v2.5.0.md
  docs/content/en/docs/reference/packagespec/harbor/v2.5.1.md
Labels: approved, lgtm, size/XS, documentation

#4320 Update registry.relativeurls default value
  docs/content/en/docs/reference/packagespec/harbor/v2.5.0.md
  docs/content/en/docs/reference/packagespec/harbor/v2.5.1.md
Labels: approved, lgtm, size/XS, documentation

#4324 Fix Nutanix UUID tests
  test/e2e/simpleflow_test.go
  test/framework/nutanix.go
Labels: approved, lgtm, size/S

#4328 Remove CAPX from OnlyForDevRelease
  release/pkg/assets/config/bundle_release.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#4321 now passing additionalTrustBundle to capx
  pkg/providers/nutanix/config/cp-template.yaml
Labels: approved, lgtm, ok-to-test, size/XS

#4303 now test has to define EKSA_NUTANIX_USERNAME and EKSA_NUTANIX_PASSWORD
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  internal/test/e2e/nutanix.go
  pkg/constants/constants.go
  pkg/dependencies/factory_test.go
  pkg/providers/nutanix/env.go
  pkg/providers/nutanix/env_test.go
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
  pkg/providers/nutanix/template_test.go
  test/e2e/README.md
  test/framework/nutanix.go
Labels: approved, lgtm, ok-to-test, size/L

#4333 Update ADOT e2e log comparison logic
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#4330 Fix cluster webhook tests
  pkg/api/v1alpha1/awsiamconfig_webhook_test.go
  pkg/api/v1alpha1/cluster_webhook_test.go
Labels: approved, lgtm, size/L

#4297 Generate ssh key for Nutanix if user has not provided
  internal/pkg/api/nutanix.go
  pkg/api/v1alpha1/nutanixmachineconfig.go
  pkg/api/v1alpha1/nutanixmachineconfig_test.go
  pkg/api/v1alpha1/nutanixmachineconfig_types.go
  pkg/api/v1alpha1/testdata/nutanix/machineconfig-with-no-osfamily.yaml
  pkg/api/v1alpha1/testdata/nutanix/machineconfig-with-no-ssh-key.yaml
  pkg/api/v1alpha1/testdata/nutanix/machineconfig-with-no-users.yaml
  pkg/dependencies/factory.go
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
  pkg/providers/nutanix/testdata/eksa-cluster-multiple-machineconfigs.yaml
Labels: approved, lgtm, ok-to-test, size/XL, area/providers/nutanix

#4334 Add / update ADOT e2e test cases
  test/e2e/adot_test.go
Labels: approved, lgtm, size/M

#4331 Skip checking hardware-csv flag for workload cluster tinkerbell
  cmd/eksctl-anywhere/cmd/flags.go
  pkg/providers/tinkerbell/create.go
Labels: approved, lgtm, size/S

#4228 Support vSphere VM tagging
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  codecov.yml
  config/crd/bases/anywhere.eks.amazonaws.com_vspheremachineconfigs.yaml
  internal/pkg/api/vsphere.go
  internal/pkg/api/vspheremachines.go
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/executables/govc.go
  pkg/executables/govc_test.go
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/internal/tags/factory.go
  pkg/providers/vsphere/internal/tags/factory_test.go
  pkg/providers/vsphere/internal/tags/mocks/govc.go
  pkg/providers/vsphere/internal/templates/factory.go
  pkg/providers/vsphere/internal/templates/mocks/govc.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/validator_test.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  test/e2e/simpleflow_test.go
  test/framework/cluster.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#4289 Save CLI log output to file included in support bundle
  cmd/eks-a-tool/cmd/root.go
  cmd/eksctl-anywhere/cmd/root.go
  cmd/integration_test/cmd/root.go
  pkg/diagnostics/collector_types.go
  pkg/diagnostics/collectors.go
  pkg/diagnostics/collectors_test.go
  pkg/diagnostics/diagnostic_bundle.go
  pkg/diagnostics/diagnostic_bundle_test.go
  pkg/diagnostics/interfaces.go
  pkg/diagnostics/interfaces/mocks/diagnostics.go
  pkg/logger/logger.go
  pkg/logger/logger_wb_test.go
  pkg/logger/zap.go
  pkg/logger/zap_test.go
  test/e2e/simpleflow_test.go
  test/e2e/tools/eks-anywhere-test-tool/cmd/root.go
Labels: approved, lgtm, size/L

#4271 Update Disable CSI e2e test
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  test/e2e/vsphere_disable_csi_test.go
  test/framework/vspherecsi.go
Labels: approved, lgtm, size/M

#4322 Updated changelog with v0.13 content
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/S, documentation

#4341 Update BRANCH_NAME to release-0.13
  Makefile
Labels: approved, lgtm, size/XS

#4342 Fix Flux webhook tests
  OWNERS
  pkg/api/v1alpha1/fluxconfig_webhook_test.go
Labels: approved, lgtm, size/S

#4346 Pass a right number params to logger.Info function
  pkg/workflows/delete.go
Labels: approved, lgtm, size/XS

#4340 Update Prometheus packagespec doc
  docs/content/en/docs/reference/packagespec/prometheus/v2.39.1.md
Labels: approved, lgtm, size/S, documentation

#4344 Update vsphere docs
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/tasks/troubleshoot/troubleshooting.md
Labels: approved, lgtm, size/XS, documentation

#4352 Fix ADOT e2e daemonset not found error
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#4351 Fix ADOT e2e Tinkerbell error and refactor helper functions
  test/e2e/adot_test.go
Labels: approved, lgtm, size/M

#4353 Include Nutanix bundle in all branches
  release/pkg/bundles/bundles.go
  release/pkg/operations/bundle_release_test.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.13-bundle-release.yaml
Labels: approved, lgtm, size/XXL

#4326 Bare Metal: Document maxSurge and maxUnvailable configuration parameter for rolling upgrade
  docs/content/en/docs/tasks/cluster/cluster-upgrades/baremetal-upgrades.md
Labels: approved, lgtm, size/M, documentation

#4357 Bump triggers for staging bundle release v0.13.0
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#4318 Readding CloudStack e2e tests with newer K8s versions
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/README.md
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/conformance_test.go
  test/e2e/flux_test.go
  test/e2e/simpleflow_test.go
  test/e2e/stackedetcd_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/upgrade_test.go
  test/e2e/workload_clusters_test.go
  test/framework/cloudstack.go
Labels: approved, lgtm, size/L

#4347 Update tag to consume bug fix for clusterresourceset
  go.mod
  go.sum
Labels: approved, lgtm, size/XS

#4358 Cluster Autoscaler with Metrics-server e2e
  internal/pkg/api/cluster.go
  internal/pkg/api/cluster_test.go
  test/e2e/autoscaler_test.go
  test/framework/cluster.go
  test/framework/testdata/autoscaler_package.yaml
  test/framework/testdata/hpa_busybox.yaml
  test/framework/testdata/metrics_server_package.yaml
Labels: approved, lgtm, size/L

#4316 Refactor e2e framework to unify eks-a API updates
  codecov.yml
  internal/pkg/api/cloudstack.go
  internal/pkg/api/cluster.go
  internal/pkg/api/config.go
  internal/pkg/api/nutanix.go
  internal/pkg/api/nutanix_test.go
  internal/pkg/api/snow.go
  internal/pkg/api/testdata/nutanix/cluster-config.yaml
  internal/pkg/api/testdata/nutanix/templated-resources.yaml
  internal/pkg/api/tinkerbell.go
  internal/pkg/api/vsphere.go
  internal/pkg/api/yaml.go
  pkg/cluster/config.go
  pkg/cluster/config_test.go
  pkg/cluster/tinkerbell.go
  pkg/cluster/tinkerbell_test.go
  test/framework/api.go
  test/framework/awsiam.go
  test/framework/cloudstack.go
  test/framework/cluster.go
  test/framework/controlplaneNodes.go
  test/framework/docker.go
  test/framework/flux.go
  test/framework/nutanix.go
  test/framework/oidc.go
  test/framework/snow.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
  test/framework/workerNodes.go
Labels: approved, lgtm, size/XXL

#4362 Update webhook test failure messages
  pkg/api/v1alpha1/snowmachineconfig_webhook_test.go
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook_test.go
Labels: approved, lgtm, size/M

#4363 Update webhook test failure messages vsphere machine config
  pkg/api/v1alpha1/vspheremachineconfig_webhook_test.go
Labels: approved, lgtm, size/M

#4365 Add manual activate bundle step for ADOT e2e
  test/e2e/adot_test.go
Labels: approved, lgtm, size/XS

#4367 Fix e2e framework config updates options copy
  test/framework/cloudstack.go
  test/framework/nutanix.go
  test/framework/snow.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/S

#4370 Revert "Point staging e2e test EKS-A CLI to staging manifest"
  Makefile
  pkg/cluster/config/releases.yaml
  scripts/get_bundle.sh
Labels: approved, lgtm, size/S

#4373 test: Allow override of Pod CIDR blocks w/ Docker provider
  internal/pkg/api/cluster.go
  internal/pkg/api/cluster_test.go
Labels: approved, lgtm, size/S

#4374 test: Allow setting Pod CIDR blocks w/ Docker provider (2 of 2)
  test/framework/docker.go
Labels: approved, lgtm, size/S

#4371 Allow disableCSI from vsphere datacenter config webhook
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook.go
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook_test.go
Labels: approved, lgtm, size/S

#4377 update defaultImageRegistry with the region specified through EKSA_AW…
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
Labels: approved, lgtm, size/M

#4332 Add docs for workload cluster support for tinkerbell
  docs/content/en/docs/concepts/cluster-topologies.md
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
Labels: approved, lgtm, size/M, documentation

#4379 Bump trigger for new Bundle staging release
  release/triggers/bundle-release/development/BUNDLE_NUMBER
Labels: approved, lgtm, size/XS

#4323 initial nutanix doc updates
  docs/content/en/docs/getting-started/production-environment/nutanix-getstarted.md
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/clusterspec/nutanix.md
  docs/content/en/docs/reference/nutanix/_index.md
  docs/content/en/docs/reference/nutanix/domains.md
  docs/content/en/docs/reference/nutanix/nutanix-preparation.md
  docs/content/en/docs/reference/nutanix/nutanix-prereq.md
  docs/content/en/docs/reference/ports.md
  docs/content/en/docs/tasks/cluster/cluster-delete.md
  docs/content/en/docs/tasks/cluster/cluster-scale/nutanix-scale.md
  docs/content/en/docs/tasks/cluster/cluster-terraform.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
  docs/content/en/docs/tasks/cluster/etcd-backup-restore.md
Labels: approved, lgtm, ok-to-test, size/XL, documentation

#4376 Update snow control plane reconciler
  pkg/providers/snow/reconciler/reconciler.go
  pkg/providers/snow/reconciler/reconciler_test.go
Labels: approved, lgtm, size/M

#4381 Fix workload cluster Flux tests
  test/framework/flux.go
Labels: approved, lgtm, size/S

#4389 Single node upgrade exception for no additional hardware case
  docs/content/en/docs/tasks/cluster/cluster-upgrades/baremetal-upgrades.md
Labels: approved, lgtm, size/XS, documentation

#4388 Update bare metal prerequisites doc for upgrade hardware requirements
  docs/content/en/docs/reference/baremetal/bare-prereq.md
Labels: approved, lgtm, size/XS, documentation

#4392 Add admin, control and snow bottlerocket bootstrap container image in etcd cluster
  designs/snow-integration.md
  go.mod
  go.sum
  pkg/clusterapi/bottlerocket.go
  pkg/clusterapi/bottlerocket_test.go
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/bottlerocket.go
  pkg/providers/snow/testdata/expected_results_main_cp.yaml
Labels: approved, lgtm, size/L

#4380 Add in missing docker login to long running container
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/executables/builder.go
  pkg/executables/builder_test.go
Labels: approved, lgtm, size/M

#4329 Add Prometheus e2e simple flow
  test/e2e/prometheus_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/L

#4385 Add Prometheus Workshop
  docs/content/en/docs/workshops/packages/prometheus/_index.md
  docs/content/en/docs/workshops/packages/prometheus/prometheus_grafana.md
  docs/static/images/prometheus_grafana_add_data_source.png
  docs/static/images/prometheus_grafana_config_data_source.png
  docs/static/images/prometheus_grafana_import_dashboard.png
  docs/static/images/prometheus_grafana_view_dashboard_k8.png
  docs/static/images/prometheus_grafana_view_dashboard_node_exporter.png
  docs/static/images/prometheus_query.png
Labels: approved, lgtm, size/L, documentation

#4399 Bump trigger for new Bundle staging release 24
  release/triggers/bundle-release/development/BUNDLE_NUMBER
Labels: approved, lgtm, size/XS

#4391 added nil checks to avoid crash during ssh gen key
  pkg/api/v1alpha1/nutanixmachineconfig.go
  pkg/api/v1alpha1/nutanixmachineconfig_test.go
  pkg/api/v1alpha1/testdata/nutanix/machineconfig-with-no-user-name.yaml
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
Labels: approved, lgtm, ok-to-test, size/L

#4402 Remove changelog reference to static IP setting in Bottlerocket:
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#4408 Remove registry auth from changelog for v0.13.0
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#4410 Add localStorageProvisioner to Prometheus e2e
  test/e2e/prometheus_test.go
Labels: approved, lgtm, size/XS

#4411 Trigger prod bundle for v0.13.0
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#4413 Trigger eks-a v0.13.0 prod release
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#4418 Add cleanup step for Nutanix E2E tests
  internal/test/cleanup/cleanup.go
  test/framework/nutanix.go
Labels: approved, lgtm, size/M

#4415 Revise vSphere Getting Started for full lifecycle changes
  docs/content/en/docs/concepts/cluster-topologies.md
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/reference/clusterspec/optional/gitops.md
  docs/content/en/docs/tasks/cluster/cluster-flux.md
Labels: approved, lgtm, size/L, documentation

#4419 added registry auth bug fix to the changelog
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#4412 [Docs] Adding region support, and emissary changes
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
  docs/content/en/docs/getting-started/production-environment/cloudstack-getstarted.md
  docs/content/en/docs/getting-started/production-environment/nutanix-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/reference/packagespec/_index.md
  docs/content/en/docs/reference/packagespec/emissary/v0.3.3.md
  docs/content/en/docs/tasks/packages/_index.md
  docs/content/en/docs/tasks/troubleshoot/packages.md
Labels: approved, lgtm, size/M, documentation

#4426 Add PR link for vm tagging
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#4424 Metallb 0.13.7 docs
  docs/content/en/docs/reference/packagespec/_index.md
  docs/content/en/docs/reference/packagespec/metallb/v0.13.7.md
Labels: approved, lgtm, size/M, documentation

#4433 Add vSphere tags docs
  docs/content/en/docs/reference/clusterspec/vsphere.md
Labels: approved, lgtm, size/S, documentation

#4437 Region doc typo fix
  docs/content/en/docs/tasks/troubleshoot/packages.md
Labels: approved, lgtm, size/XS, documentation

#4386 Update baremetal image build instructions.
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/M, documentation

#4432 [Docs] Move pkg specs and add createNamespace mentions
  docs/content/en/docs/reference/packagespec/best_practice.md
  docs/content/en/docs/reference/packagespec/packages.md
  docs/content/en/docs/tasks/packages/_index.md
Labels: approved, lgtm, size/L, documentation

#4258 Deprecate import-images command
  cmd/eksctl-anywhere/cmd/importimages.go
  docs/content/en/docs/reference/clusterspec/optional/registrymirror.md
Labels: approved, lgtm, size/S, documentation

#4435 Update docs to remove 1.20 references
  docs/content/en/docs/reference/clusterspec/cloudstack.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
  docs/content/en/docs/reference/vsphere/vsphere-ovas.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades/baremetal-upgrades.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
Labels: approved, lgtm, size/S, documentation

#4446 Publish docs for release 0.13
  docs/config.toml
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/S, documentation

#4448 Removed unused latest minor release e2e test helper methods
  test/framework/commands.go
  test/framework/eksaVersions.go
  test/framework/releaseVersions.go
Labels: approved, lgtm, size/M

#4449 Update CLI brew version to v0.13.0
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.13-bundle-release.yaml
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/L

#4445 Add Docker to provider list supporting workload clusters
  docs/content/en/docs/concepts/cluster-topologies.md
Labels: approved, lgtm, size/XS, documentation

#4366 Update vsphere docs (#4344)
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/tasks/troubleshoot/troubleshooting.md
Labels: approved, lgtm, size/M, documentation

#4387 Adjust ADOT e2e sleep time while waiting on daemonset
  test/framework/cluster.go
Labels: approved, lgtm, size/S

#4454 Add cleanup step for Nutanix E2E tests (#4418)
  internal/test/cleanup/cleanup.go
  test/framework/nutanix.go
Labels: approved, lgtm, size/M

#4285 Update the import images e2e command
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#4422 Updated IRSA documentation with working steps
  docs/content/en/docs/reference/clusterspec/optional/irsa.md
Labels: approved, lgtm, ok-to-test, size/L, documentation

#4457 Fix bare metal sentence about cluster support
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
Labels: approved, lgtm, size/XS, documentation

#4460 More docs on using Gitops to create new workload clusters
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
Labels: approved, lgtm, size/M, documentation

#4465 Revert packages region doc changes
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
  docs/content/en/docs/getting-started/production-environment/cloudstack-getstarted.md
  docs/content/en/docs/getting-started/production-environment/nutanix-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/tasks/packages/_index.md
  docs/content/en/docs/tasks/troubleshoot/packages.md
Labels: approved, lgtm, size/S, documentation

#4467 Update CAPAS API
  pkg/providers/snow/api/v1beta1/awssnowippool_types.go
  pkg/providers/snow/api/v1beta1/awssnowmachine_types.go
  pkg/providers/snow/api/v1beta1/zz_generated.deepcopy.go
  pkg/providers/snow/apibuilder_test.go
Labels: approved, lgtm, size/M

#4469 Updating changelog for packages
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#4471 Remove unreleased section from changelog
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#4359 Add static ip setup for Bottlerocket:
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults_test.go
Labels: kind/enhancement, approved, lgtm, size/M, area/providers/tinkerbell, team/providers

#4462 Add single-node bare metal support to FAQ
  docs/content/en/docs/reference/faq/_index.md
Labels: approved, lgtm, size/XS, documentation

#4472 Improve and fix docs for EKS-A artifacts and version support
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/support/support-versions.md
Labels: approved, lgtm, size/L, documentation

#4401 Add e2e test prototype for Cluster lifecycle API
  internal/pkg/api/cluster.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/providers/tinkerbell/mocks/client.go
  pkg/providers/tinkerbell/tinkerbell.go
  test/e2e/autoscaler_test.go
  test/e2e/curated_packages_test.go
  test/e2e/emissary_test.go
  test/e2e/vsphere_workload_api_test.go
  test/e2e/workload_clusters_test.go
  test/framework/cluster.go
  test/framework/multicluster.go
  test/framework/vsphere.go
  test/framework/workload.go
Labels: approved, lgtm, size/L

#4477 Fix e2e test names
  Makefile
  test/e2e/adot_test.go
  test/e2e/curated_packages_test.go
  test/e2e/emissary_test.go
  test/e2e/prometheus_test.go
Labels: approved, lgtm, size/S

#4480 Add wait awsiam e2e
  test/framework/awsiam.go
Labels: approved, lgtm, size/S

#4455 Add SnowIPPool CRD
  config/crd/bases/anywhere.eks.amazonaws.com_snowippools.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_snowmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  config/webhook/manifests.yaml
  pkg/api/v1alpha1/snowippool.go
  pkg/api/v1alpha1/snowippool_type.go
  pkg/api/v1alpha1/snowippool_webhook.go
  pkg/api/v1alpha1/snowippool_webhook_test.go
  pkg/api/v1alpha1/snowmachineconfig.go
  pkg/api/v1alpha1/snowmachineconfig_test.go
  pkg/api/v1alpha1/snowmachineconfig_types.go
  pkg/api/v1alpha1/snowmachineconfig_types_test.go
  pkg/api/v1alpha1/snowmachineconfig_webhook_test.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/cluster/build.go
  pkg/cluster/config.go
  pkg/cluster/config_test.go
  pkg/cluster/parse_test.go
  pkg/cluster/snow.go
  pkg/cluster/snow_test.go
  pkg/cluster/testdata/cluster_snow_with_ip_pool.yaml
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/controlplane.go
  pkg/providers/snow/objects.go
  pkg/providers/snow/objects_test.go
  pkg/providers/snow/snow_test.go
Labels: approved, lgtm, size/XXL

#4478 Revert e2e import images change
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#4254 Adding kubeconfig to packages cli command
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#4481 Support ip pools for snow worker groups
  internal/test/envtest/config/snow-crds.yaml
  pkg/controller/clusters/workers.go
  pkg/providers/snow/objects.go
  pkg/providers/snow/objects_test.go
  pkg/providers/snow/reconciler/reconciler.go
  pkg/providers/snow/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#4483 docs: Add kubectl to manual install instructions
  docs/content/en/docs/getting-started/install/_index.md
Labels: approved, lgtm, ok-to-test, size/S, documentation

#4427 Install Vsphere storage class
  pkg/providers/vsphere/reconciler/reconciler.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/M

#4486 Add 1.24 conformance certified image
  README.md
  docs/static/images/certified-kubernetes-1.24-pantone.svg
Labels: approved, lgtm, size/XS, documentation

#4476 Add infrastructure for Cluster Lifecycle API e2e tests
  .gitignore
  pkg/clients/kubernetes/runtimeclient.go
  pkg/clients/kubernetes/runtimeclient_test.go
  pkg/clients/kubernetes/runtimeclient_wb_test.go
  pkg/clients/kubernetes/scheme.go
  pkg/cluster/fetch.go
  test/e2e/vsphere_workload_api_test.go
  test/framework/cluster.go
  test/framework/clustervalidator.go
  test/framework/workload.go
Labels: approved, lgtm, size/XL

#4485 docs: Add additional details for VMware docs
  docs/content/en/docs/reference/clusterspec/vsphere.md
Labels: approved, lgtm, needs-ok-to-test, size/S, documentation

#4489 Refactor snow worker spec generation code
  pkg/clusterapi/apibuilder.go
  pkg/clusterapi/apibuilder_test.go
  pkg/clusterapi/autoscaler_test.go
  pkg/providers/cloudstack/apibuilder.go
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/controlplane.go
  pkg/providers/snow/objects.go
  pkg/providers/snow/objects_test.go
  pkg/providers/snow/workers.go
Labels: approved, lgtm, size/XL

#4490 Update CAPAS API
  internal/test/envtest/config/snow-crds.yaml
  pkg/providers/snow/api/v1beta1/awssnowcluster_types.go
  pkg/providers/snow/api/v1beta1/awssnowippool_types.go
  pkg/providers/snow/api/v1beta1/awssnowmachine_types.go
  pkg/providers/snow/api/v1beta1/zz_generated.deepcopy.go
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/objects_test.go
Labels: approved, lgtm, size/L

#4491 Build EKS-A IPPool
  config/crd/bases/anywhere.eks.amazonaws.com_snowippools.yaml
  pkg/api/v1alpha1/snowippool.go
  pkg/api/v1alpha1/snowippool_type.go
  pkg/api/v1alpha1/snowippool_webhook_test.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/cluster/parse_test.go
  pkg/cluster/snow_test.go
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/reconciler/reconciler_test.go
  pkg/providers/snow/snow_test.go
Labels: approved, lgtm, size/L

#4487 Fix release tests
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.13-bundle-release.yaml
Labels: approved, lgtm, size/L

#4492 Update snow CRD API comments, remove snow network.DNI, add RJ45 to ph…
  config/crd/bases/anywhere.eks.amazonaws.com_snowmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/snowmachineconfig.go
  pkg/api/v1alpha1/snowmachineconfig_test.go
  pkg/api/v1alpha1/snowmachineconfig_types.go
  pkg/api/v1alpha1/snowmachineconfig_webhook_test.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/providers/snow/api/v1beta1/zz_generated.deepcopy.go
Labels: approved, lgtm, size/L

#4494 Fix kubeadmcontrolplane with unstacked etcd template
  pkg/clusterapi/etcd.go
  pkg/clusterapi/etcd_test.go
Labels: approved, lgtm, size/S

#4496 Fix etcd cluster template for bottlerocket
  pkg/clusterapi/apibuilder.go
  pkg/clusterapi/apibuilder_test.go
  pkg/clusterapi/bottlerocket.go
  pkg/clusterapi/bottlerocket_test.go
  pkg/clusterapi/etcd.go
  pkg/clusterapi/etcd_test.go
  pkg/providers/snow/apibuilder_test.go
Labels: approved, lgtm, size/S
