Repository aws/eks-anywhere, pull requests merged in 2022-02, with the labels that each got.

#1016 Tinkerbell basic validation for datacenterconfig
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_types.go
  pkg/api/v1alpha1/tinkermachineconfig.go
  pkg/networkutils/networkutils.go
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/spec.go
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp.yaml
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/validator.go
Labels: approved, lgtm, size/L

#1128 Add validation for worker node group name uniqueness
  pkg/api/v1alpha1/cluster.go
Labels: approved, lgtm, size/XS

#982 More options to eks-a test tool fetch logs command
  test/e2e/tools/eks-anywhere-test-tool/.gitignore
  test/e2e/tools/eks-anywhere-test-tool/cmd/fetch.go
  test/e2e/tools/eks-anywhere-test-tool/cmd/fetchlogs.go
  test/e2e/tools/eks-anywhere-test-tool/go.mod
  test/e2e/tools/eks-anywhere-test-tool/go.sum
  test/e2e/tools/eks-anywhere-test-tool/pkg/constants/constants.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/logfetcher/logfetcher.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/logfetcher/testswriter.go
Labels: approved, lgtm, size/XL

#1118 Design for new vcenter template import command
  designs/vcenter-template-import.md
Labels: approved, lgtm, size/L

#1123 Nodes ready total count issue for the tinkerbell workernodes
  pkg/providers/tinkerbell/config/template-md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md.yaml
Labels: approved, lgtm, size/XS

#1133 Taints cleanup
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/providers/docker/docker_test.go
  pkg/validations/cluster.go
Labels: approved, lgtm, size/M

#1135 Update ubuntu ovas
  docs/content/en/docs/reference/artifacts.md
Labels: documentation, approved, lgtm, size/S

#1136 Accept insecure flag for vsphere cloud-controller-manager config
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
Labels: documentation, approved, lgtm, size/S

#1134 wngc comparison takes name, taints into proper account
  pkg/api/v1alpha1/cluster_types.go
Labels: approved, lgtm, size/S

#1140 Add PBNJ assets to bundle manifest
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_pbnj.go
  release/pkg/assets_tinkerbell.go
  release/pkg/generate_spec.go
Labels: approved, lgtm, size/L

#1088 Create CAPI objects from EKS-A spec
  config/manifest/eksa-components.yaml
  config/rbac/manager_extraroles_patch.yaml
  controllers/controllers/cluster_controller.go
  controllers/controllers/cluster_controller_test.go
  controllers/controllers/clusters/vsphere.go
  controllers/controllers/testdata/release.yaml
Labels: approved, lgtm, size/XL

#1145 Add referring github link to docker desktop version limit error message
  pkg/validations/docker.go
Labels: approved, size/XS

#1146 Fix unit test in docker version check
  pkg/validations/docker_test.go
Labels: approved, lgtm, size/XS

#1143 Fix docsy submodule-reset
  docs/Makefile
Labels: documentation, approved, lgtm, size/XS

#1141 Adding Boots and tinkerbell actions to bundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_boots.go
  release/pkg/assets_hub.go
  release/pkg/assets_tinkerbell.go
  release/pkg/generate_spec.go
Labels: approved, lgtm, size/XL

#1149 Update kubectl ValidateWorkerNodes arg to pass in kubeconfig
  cmd/eks-a-tool/cmd/validatecluster.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/kubectl.go
  pkg/validations/kubectl.go
  pkg/validations/mocks/kubectl.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  test/framework/flux.go
Labels: approved, lgtm, size/M

#1174 Corrected FAQ question in docs
  docs/content/en/docs/reference/faq/_index.md
Labels: documentation, approved, lgtm, size/XS

#1173 Add mini design doc for release artifacts generation
  release/designs/artifact-table-generation.md
Labels: approved, lgtm, size/M

#1119 Remove worker node groups during upgrade
  pkg/api/v1alpha1/cluster_defaults.go
  pkg/cluster/node_groups.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/kubectl.go
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/docker/mocks/client.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/tinkerbell/mocks/client.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#1177 Move eks-a components and kindnetd manifests to versioned folder
  Makefile
  controllers/build/upload_artifacts.sh
  release/pkg/assets_cluster_controller.go
  release/pkg/assets_kindnetd.go
Labels: approved, lgtm, size/S

#1103 Add subcommand to generate tinkerbell hardware json and yaml
  .gitignore
  cmd/eksctl-anywhere/cmd/generatehardware.go
  controllers/controllers/cluster_controller_test.go
  go.mod
  go.sum
  pkg/hardware/csvparser.go
  pkg/hardware/csvparser_test.go
  pkg/hardware/jsonparser.go
  pkg/hardware/jsonparser_test.go
  pkg/hardware/testdata/expected_hardware_json.json
  pkg/hardware/testdata/expected_hardware_yaml.yaml
  pkg/hardware/testdata/invalid_hardware_empty_file.csv
  pkg/hardware/testdata/invalid_hardware_missing_header.csv
  pkg/hardware/testdata/valid_hardware.csv
  pkg/hardware/yamlparser.go
  pkg/hardware/yamlparser_test.go
Labels: approved, lgtm, size/XXL, provider/tinkerbell

#987 Disable kubelet read-only port and anonymous auth
  controllers/controllers/resource/testdata/kubeadmcontrolplane.yaml
  designs/multiple-worker-node-groups.md
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/config/template-md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_controller_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_multiple_worker_node_groups.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_md.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_add_worker_node_group.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_md.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/testdata/original_077.yaml
Labels: approved, lgtm, size/L

#1175 Reconcile taints
  controllers/controllers/cluster_controller_test.go
  controllers/controllers/clusters/vsphere.go
  controllers/controllers/resource/fetcher.go
  controllers/controllers/resource/mocks/resource.go
  controllers/controllers/resource/reconciler_test.go
  controllers/controllers/resource/template.go
  controllers/controllers/resource/testdata/expectedMachineDeploymentTemplateChanged.yaml
  controllers/controllers/resource/testdata/kubeadmconfigTemplateSpec.yaml
  controllers/main.go
  pkg/providers/docker/docker.go
  pkg/providers/provider.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_controller_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_multiple_worker_node_groups.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_md.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_add_worker_node_group.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_md.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XL

#1176 Refactor GitOps e2e tests
  internal/test/random.go
  test/e2e/workload_clusters_test.go
  test/framework/cluster.go
  test/framework/flux.go
  test/framework/multicluster.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#1181 Update link to IRSA doc
  docs/content/en/docs/reference/faq/_index.md
Labels: documentation, approved, lgtm, size/XS

#1182 Support bundle builds without br support for an eksd release
  release/pkg/assets_eksd.go
  release/pkg/file_reader.go
  release/pkg/file_reader_test.go
  release/pkg/generate_spec.go
Labels: documentation, approved, lgtm, size/M

#1184 Add note for linux distros with cgroupsv2 not being supported
  docs/content/en/docs/getting-started/install/_index.md
Labels: documentation, approved, lgtm, size/XS

#1188 Fixes and missing code for eks-a test tool
  test/e2e/tools/eks-anywhere-test-tool/pkg/logfetcher/logfetcher.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/logfetcher/stdout.go
Labels: approved, lgtm, size/L

#1193 Update newly added GitOps e2e test name to include "Flux"
  test/e2e/workload_clusters_test.go
Labels: approved, lgtm, size/XS

#1076 Adding cloudstack cluster config and CRD's
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbellmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_vspheremachineconfigs.yaml
  config/webhook/manifests.yaml
  pkg/api/v1alpha1/cloudstackdatacenterconfig.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_test.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_types.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_webhook.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_webhook_test.go
  pkg/api/v1alpha1/cloudstackmachineconfig.go
  pkg/api/v1alpha1/cloudstackmachineconfig_test.go
  pkg/api/v1alpha1/cloudstackmachineconfig_types.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook_test.go
  pkg/api/v1alpha1/machine_types.go
  pkg/api/v1alpha1/testdata/cluster_1_19_cloudstack.yaml
  pkg/api/v1alpha1/testdata/cluster_1_20_cloudstack.yaml
  pkg/api/v1alpha1/testdata/cluster_different_machine_configs_cloudstack.yaml
  pkg/api/v1alpha1/testdata/cluster_extra_delimiters_cloudstack.yaml
  pkg/api/v1alpha1/testdata/cluster_invalid_kinds_cloudstack.yaml
  pkg/api/v1alpha1/testdata/not_parseable_cluster_cloudstack.yaml
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/constants/constants.go
  pkg/features/features.go
  pkg/providers/tinkerbell/tinkerbell.go
Labels: approved, lgtm, size/XXL

#1195 Build eks-a with path trimmed from stack traces for release builds
  Makefile
Labels: approved, lgtm, size/XS

#931 (#743) support passing multiple ips to cluster tests
  .gitignore
  Makefile
  internal/test/e2e/ipmanager.go
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
  internal/test/e2e/vsphere.go
  pkg/networkutils/ippool.go
  test/e2e/README.md
  test/e2e/upgrade_from_latest_test.go
  test/e2e/workload_clusters_test.go
  test/framework/cluster.go
  test/framework/ippool.go
  test/framework/vsphere.go
Labels: approved, lgtm, ok-to-test, size/L

#1185 Update pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, lgtm, size/XS

#1205 Replace EKS with EKS-A in docs
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/overview/_index.md
Labels: documentation, approved, lgtm, size/XS

#1194 E2E tests for multiple worker node groups
  internal/pkg/api/cluster.go
  internal/pkg/api/nodegroups.go
  internal/pkg/api/vsphere.go
  internal/pkg/api/vspheremachines.go
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/vspheremachineconfig.go
  test/e2e/multiple_worker_node_groups_test.go
  test/e2e/simpleflow_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/upgrade_test.go
  test/e2e/vsphere_autoimport_test.go
  test/framework/cluster.go
  test/framework/vsphere.go
  test/framework/workergroups.go
Labels: approved, lgtm, size/XL

#1084 Adding CloudMonkey wrapper
  pkg/executables/cmk.go
  pkg/executables/cmk_test.go
  pkg/executables/config/cmk.ini
  pkg/executables/testdata/cmk_list_account_singular.json
  pkg/executables/testdata/cmk_list_affinitygroup_singular.json
  pkg/executables/testdata/cmk_list_diskoffering_singular.json
  pkg/executables/testdata/cmk_list_empty_response.json
  pkg/executables/testdata/cmk_list_serviceoffering_singular.json
  pkg/executables/testdata/cmk_list_template_singular.json
  pkg/executables/testdata/cmk_list_zone_singular.json
  pkg/executables/testdata/cmk_non_json_response.txt
Labels: approved, lgtm, size/XL

#1214 Updating github.com/docker/distribution to v2.8.0-beta.1
  go.mod
  go.sum
  test/e2e/tools/eks-anywhere-test-tool/go.mod
  test/e2e/tools/eks-anywhere-test-tool/go.sum
Labels: approved, lgtm, size/M

#1204 Add some things to customize on VM
  docs/content/en/docs/reference/vsphere/customize-ovas.md
Labels: documentation, approved, lgtm, size/M

#1212 Backport: Remove worker node groups during upgrade (#1119)
  pkg/api/v1alpha1/cluster_defaults.go
  pkg/cluster/node_groups.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/kubectl.go
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/docker/mocks/client.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/tinkerbell/mocks/client.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#1202 Add support for 1-22 with feature flag
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  pkg/api/v1alpha1/cluster_types.go
  pkg/features/features.go
  pkg/validations/cluster.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/e2e/README.md
  test/e2e/simpleflow_test.go
  test/e2e/upgrade_test.go
  test/framework/cluster.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#1144 Fix kube-vip LB ARP
  docs/content/en/docs/tasks/workload/loadbalance/kubevip/arp.md
Labels: documentation, approved, lgtm, size/XS

#1203 Check uniqueness of control plane endpoint IP for provider tinkerbell
  pkg/providers/factory/providerfactory.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/validator.go
  pkg/providers/vsphere/vsphere.go
Labels: documentation, approved, lgtm, size/M

#1220 Fix bug in api package when modifying cluster worker node groups
  internal/pkg/api/cluster.go
Labels: approved, lgtm, size/XS

#1213 Update e2e test flow so cluster ip pool is not required
  internal/test/e2e/vsphere.go
  test/e2e/README.md
  test/framework/vsphere.go
Labels: approved, lgtm, ok-to-test, size/M

#1218 Use Kind Haproxy image for CAPD loadbalancing
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/docker/testdata/capd_valid_full_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/no_machinetemplate_update_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_pod_iam_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_stacked_etcd_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_taints_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_node_labels_cp_expected.yaml
  release/api/v1alpha1/artifacts.go
Labels: approved, lgtm, size/M

#1215 Hardware to bmcRef validation
  pkg/hardware/config.go
  pkg/providers/tinkerbell/testdata/hardware_config.yaml
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/validator.go
Labels: approved, lgtm, size/L

#1228 Using pseudo-version for go mod replace
  go.mod
  go.sum
  test/e2e/tools/eks-anywhere-test-tool/go.mod
  test/e2e/tools/eks-anywhere-test-tool/go.sum
Labels: approved, lgtm, size/S

#1198 Add `components` field to EKS-D bundle
  release/api/v1alpha1/bundle_types.go
  release/pkg/assets_eksd.go
Labels: approved, lgtm, size/S

#1229 Make release manifests for new field
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
Labels: approved, lgtm, size/S

#1217 Add EKS-D release ref to cluster status
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/cluster_types.go
Labels: approved, lgtm, size/M

#1230 Bmc Secret validations for hardware config
  pkg/hardware/config.go
  pkg/providers/tinkerbell/validator.go
Labels: approved, lgtm, size/L

#1234 Make eksdReleaseRef a pointer to support previous releases
  pkg/api/v1alpha1/cluster_types.go
Labels: approved, lgtm, size/XS

#1240 Add chrisdoherty4 to owners
  OWNERS
Labels: approved, lgtm, needs-ok-to-test, size/XS

#1224 End to end tests for taints
  internal/pkg/api/cluster.go
  internal/pkg/api/nodegroups.go
  pkg/executables/kubectl.go
  pkg/executables/testdata/kubectl_nodes.json
  test/e2e/taints_test.go
  test/framework/taints.go
Labels: approved, lgtm, size/L

#1238 Validate requested node provisioninging against available cr hardware
  pkg/hardware/config.go
  pkg/providers/tinkerbell/testdata/hardware_config.yaml
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/validator.go
  pkg/providers/tinkerbell/validator_helper_test.go
  pkg/providers/tinkerbell/validator_test.go
Labels: approved, lgtm, ok-to-test, size/L

#1246 Unmarshal EKS-D latest releases into typed struct instead of interface
  release/go.mod
  release/go.sum
  release/pkg/file_reader.go
  release/pkg/file_reader_test.go
  release/pkg/generate_spec.go
Labels: approved, lgtm, size/L

#1221 Make new bundle fields optional
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
Labels: approved, lgtm, size/S

#1243 Add gwesterfieldjr to OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#1250 Fix incorrect optional external etcd configuration behavior
  pkg/providers/tinkerbell/validator.go
  pkg/providers/tinkerbell/validator_test.go
Labels: approved, lgtm, size/S

#1244 create tinkerbell template override struct
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
  go.mod
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types.go
  pkg/api/v1alpha1/tinkermachineconfig.go
  pkg/providers/name.go
Labels: approved, lgtm, ok-to-test, size/L

#1248 Add API definition for Snow provider
  config/crd/bases/anywhere.eks.amazonaws.com_snowdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_snowmachineconfigs.yaml
  config/crd/kustomization.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/snowdatacenterconfig_types.go
  pkg/api/v1alpha1/snowmachineconfig_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/features/features.go
Labels: approved, lgtm, size/L

#1219 Adding kubectl for cloudstack
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/executables/testdata/kubectl_eksa_cs_datacenterconfig.json
  pkg/executables/testdata/kubectl_eksa_cs_machineconfig.json
  pkg/executables/testdata/kubectl_no_cs_datacenterconfigs.json
  pkg/executables/testdata/kubectl_no_cs_machineconfigs.json
Labels: approved, lgtm, size/L

#1241 Support node label reconciliation
  controllers/controllers/resource/fetcher.go
  controllers/controllers/resource/reconciler_test.go
  controllers/controllers/resource/testdata/kubeadmconfigTemplateSpec.yaml
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/L

#1263 Backport Controller Support for Reconciling Taints (#1175)
  controllers/controllers/clusters/vsphere.go
  controllers/controllers/resource/fetcher.go
  controllers/controllers/resource/mocks/resource.go
  controllers/controllers/resource/reconciler_test.go
  controllers/controllers/resource/template.go
  controllers/controllers/resource/testdata/expectedMachineDeploymentTemplateChanged.yaml
  controllers/controllers/resource/testdata/kubeadmconfigTemplateSpec.yaml
  controllers/main.go
  pkg/providers/docker/docker.go
  pkg/providers/provider.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_controller_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_multiple_worker_node_groups.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_md.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_add_worker_node_group.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_md.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_md.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XL

#1264 Backport taints support ancillary
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/api/v1alpha1/testdata/cluster_invalid_taints.yaml
  pkg/api/v1alpha1/testdata/cluster_valid_taints_multiple_worker_node_groups.yaml
  pkg/providers/docker/docker_test.go
  pkg/validations/cluster.go
Labels: approved, lgtm, size/L

#1254 Control Plane Taints: end-to-end tests; account for applied taints
  internal/pkg/api/cluster.go
  pkg/awsiamauth/awsiamauth.go
  pkg/awsiamauth/config/aws-iam-authenticator.yaml
  pkg/executables/kubectl.go
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  test/e2e/taints_test.go
  test/framework/controlplaneNodes.go
  test/framework/taints.go
  test/framework/workerNodes.go
Labels: approved, lgtm, size/L

#1199 Create cluster in the new controller
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  config/rbac/manager_extraroles_patch.yaml
  controllers/controllers/cluster_controller.go
  controllers/controllers/clusters/provider.go
  controllers/controllers/clusters/vsphere.go
  controllers/main.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/L

#1268 Remove feature flag for taints
  pkg/validations/cluster.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/e2e/taints_test.go
Labels: approved, lgtm, size/M

#1269 Backport: E2E test improvements
  .gitignore
  Makefile
  cmd/eks-a-tool/cmd/validatecluster.go
  internal/pkg/api/cluster.go
  internal/pkg/api/nodegroups.go
  internal/pkg/api/vsphere.go
  internal/pkg/api/vspheremachines.go
  internal/test/e2e/ipmanager.go
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
  internal/test/e2e/vsphere.go
  internal/test/random.go
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/vspheremachineconfig.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/kubectl.go
  pkg/networkutils/ippool.go
  pkg/validations/kubectl.go
  pkg/validations/mocks/kubectl.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  test/e2e/README.md
  test/e2e/multiple_worker_node_groups_test.go
  test/e2e/simpleflow_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/upgrade_test.go
  test/e2e/vsphere_autoimport_test.go
  test/e2e/workload_clusters_test.go
  test/framework/cluster.go
  test/framework/flux.go
  test/framework/ippool.go
  test/framework/multicluster.go
  test/framework/vsphere.go
  test/framework/workergroups.go
Labels: approved, lgtm, size/XXL

#1262 Add a-cool-train to owners
  OWNERS
Labels: approved, lgtm, size/XS

#1275 Backport taints tests
  internal/pkg/api/cluster.go
  internal/pkg/api/nodegroups.go
  pkg/awsiamauth/awsiamauth.go
  pkg/awsiamauth/config/aws-iam-authenticator.yaml
  pkg/executables/kubectl.go
  pkg/executables/testdata/kubectl_nodes.json
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  test/e2e/taints_test.go
  test/framework/controlplaneNodes.go
  test/framework/taints.go
  test/framework/workerNodes.go
Labels: approved, lgtm, size/L

#1276 Use test name for temporary test directories.
  internal/test/files.go
Labels: approved, lgtm, size/S

#1277 ensure release-0.7 e2e tests are using the correct bundle
  Makefile
Labels: approved, lgtm, size/XS

#1270 Add snow provider to generate clusterconfig command
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
  pkg/api/v1alpha1/snowdatacenterconfig.go
  pkg/api/v1alpha1/snowdatacenterconfig_types.go
  pkg/api/v1alpha1/snowmachineconfig.go
  pkg/api/v1alpha1/snowmachineconfig_types.go
  pkg/constants/constants.go
Labels: approved, lgtm, size/L

#1281 Manager rbac for taints
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  config/rbac/manager_extraroles_patch.yaml
Labels: approved, lgtm, size/S

#1237 Adding support for cloudstack bundles
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  release/api/v1alpha1/artifacts.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_capc.go
  release/pkg/generate_spec.go
Labels: approved, lgtm, size/L

#1284 remove feature gate from taints in create, upgrade
  pkg/validations/createvalidations/cluster.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/cluster.go
  pkg/validations/upgradevalidations/preflightvalidations.go
Labels: approved, lgtm, size/M

#1260 Add Snow integration design doc
  designs/images/snow-integration.png
  designs/snow-integration.md
Labels: approved, lgtm, size/L

#1271 Add e2e tests for labels upgrade
  internal/pkg/api/cluster.go
  internal/pkg/api/nodegroups.go
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  test/e2e/constants.go
  test/e2e/labels_test.go
  test/e2e/taints_test.go
  test/framework/labels.go
Labels: approved, lgtm, size/L

#1286 Update CRDs and manifests to include CloudStack changes
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
Labels: approved, lgtm, size/L

#1255 EKS Anywhere get packages command
  cmd/eksctl-anywhere/cmd/constants.go
  cmd/eksctl-anywhere/cmd/get.go
  cmd/eksctl-anywhere/cmd/getpackage.go
  pkg/constants/constants.go
  pkg/executables/kubectl.go
  pkg/features/features.go
Labels: approved, lgtm, ok-to-test, size/L

#1287 Remove node labels feature flag
  pkg/features/features.go
  pkg/providers/docker/docker_test.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/validations/cluster.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/e2e/labels_test.go
Labels: approved, lgtm, size/M

#1192 add basic "howto" for using Terraform with EKS-Anywhere
  examples/terraform/README.md
Labels: documentation, approved, lgtm, size/L

#1283 Add Snow infrastructure provider components to bundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_capas.go
  release/pkg/generate_spec.go
Labels: approved, lgtm, size/L

#1288 [release-0.7] Add node labels support
  controllers/controllers/resource/fetcher.go
  controllers/controllers/resource/reconciler_test.go
  controllers/controllers/resource/testdata/kubeadmconfigTemplateSpec.yaml
  internal/pkg/api/cluster.go
  internal/pkg/api/nodegroups.go
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/features/features.go
  pkg/providers/docker/docker_test.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/validations/cluster.go
  pkg/validations/createvalidations/cluster.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/cluster.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/e2e/constants.go
  test/e2e/labels_test.go
  test/e2e/taints_test.go
  test/framework/labels.go
Labels: approved, lgtm, size/XL

#1280 Modify bundle-release.yaml to use downloaded artifacts
  cmd/eksctl-anywhere/cmd/downloadartifacts.go
  pkg/cluster/spec.go
  release/api/v1alpha1/artifacts.go
Labels: approved, lgtm, size/L

#1249 Connectivity and auth credentials check for BMC IPMI
  Makefile
  go.mod
  go.sum
  pkg/dependencies/factory.go
  pkg/providers/factory/providerfactory.go
  pkg/providers/tinkerbell/mocks/client.go
  pkg/providers/tinkerbell/pbnj/client.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/validator.go
Labels: approved, lgtm, size/L

#1289 Update cluster spec reference doc to include taints fields
  docs/content/en/docs/reference/clusterspec/vsphere.md
Labels: documentation, approved, lgtm, size/S

#1297 Fix nodes to delete calculation for empty name
  pkg/cluster/node_groups.go
  pkg/cluster/node_groups_test.go
Labels: approved, lgtm, size/L

#1278 Exclude mock packages from unit test make recipe
  Makefile
Labels: approved, lgtm, size/XS

#1272 Move /pkg/hardware to /pkg/providers/tinkerbell/hardware
  Makefile
  cmd/eksctl-anywhere/cmd/generatehardware.go
  pkg/providers/tinkerbell/hardware/config.go
  pkg/providers/tinkerbell/hardware/csvparser.go
  pkg/providers/tinkerbell/hardware/csvparser_test.go
  pkg/providers/tinkerbell/hardware/jsonparser.go
  pkg/providers/tinkerbell/hardware/jsonparser_test.go
  pkg/providers/tinkerbell/hardware/testdata/expected_hardware_json.json
  pkg/providers/tinkerbell/hardware/testdata/expected_hardware_yaml.yaml
  pkg/providers/tinkerbell/hardware/testdata/invalid_hardware_empty_file.csv
  pkg/providers/tinkerbell/hardware/testdata/invalid_hardware_missing_header.csv
  pkg/providers/tinkerbell/hardware/testdata/valid_hardware.csv
  pkg/providers/tinkerbell/hardware/yamlparser.go
  pkg/providers/tinkerbell/hardware/yamlparser_test.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/validator.go
  pkg/providers/tinkerbell/validator_helper_test.go
  pkg/providers/tinkerbell/validator_test.go
Labels: approved, lgtm, size/S

#1273 Define assertion functioins as helpers.
  internal/test/files.go
Labels: approved, lgtm, size/XS

#1303 trigger staging bundle release for 0.7.1
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#1304 Add docs for node labels
  docs/content/en/docs/reference/clusterspec/vsphere.md
Labels: documentation, approved, lgtm, size/S

#1296 [release-0.7] Modify bundle-release.yaml to use downloaded artifacts
  cmd/eksctl-anywhere/cmd/downloadartifacts.go
  pkg/cluster/spec.go
  release/api/v1alpha1/artifacts.go
Labels: approved, lgtm, size/L

#1306 trigger staging cli release for 0.7.1
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#1312 Remove bundle override in build spec
  cmd/integration_test/build/buildspecs/build-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#1311 Get branchname from Prow env var instead of hardcoding to main
  release/Makefile
Labels: approved, lgtm, size/XS

#1313 Make some clarifications to Terraform doc
  examples/terraform/README.md
Labels: approved, lgtm, size/M

#1307 bump prod bundle release for 0.7.1
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#1310 Get branchname from Prow env var instead of hardcoding to main
  release/Makefile
  release/pkg/images/images.go
  release/pkg/prepare_release.go
  release/scripts/bundle-release.sh
Labels: approved, lgtm, size/S

#1308 bump prod cli release for 0.7.1
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#1252 add a section in troubleshotting docs to check vsphere cloud controll…
  docs/content/en/docs/tasks/troubleshoot/_troubleshooting.md
Labels: documentation, approved, lgtm, size/S

#1324 Fix git tag assignment to get absolute latest tag
  Makefile
  release/pkg/assets_cluster_controller.go
  release/pkg/git/git.go
Labels: approved, lgtm, size/S

#1327 Remove tinkerbell from list manifests to download for 0.7
  release/api/v1alpha1/artifacts.go
Labels: approved, lgtm, size/XS

#1330 Trigger staging bundle release for 0.7.2
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#1331 Revert "Trigger staging bundle release for 0.7.2"
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#1332 Trigger staging cli release for 0.7.2
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#1317 Bootstrap CAPAS Snow components with private ECR registry
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  designs/snow-integration.md
  pkg/api/v1alpha1/snowdatacenterconfig_types.go
  pkg/api/v1alpha1/snowmachineconfig.go
  pkg/clients/aws/client.go
  pkg/clients/aws/ecr.go
  pkg/constants/constants.go
  pkg/dependencies/factory.go
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/executables/config/clusterctl.yaml
  pkg/executables/kubectl.go
  pkg/executables/testdata/clusterctl_expected.yaml
  pkg/providers/docker/docker.go
  pkg/providers/factory/providerfactory.go
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/snow/creds.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/types/docker.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets_capas.go
Labels: approved, lgtm, size/XL
