Repository aws/eks-anywhere, pull requests merged in 2023-09, with the labels that each got.

#6618 fix typo in vsphere framework
  test/framework/vsphere.go
Labels: approved, lgtm, size/XS

#6569 Updated partners list in docs
  docs/content/en/docs/overview/partner/_index.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6616 Patch the inability to add worker node groups in bare metal clusters
  pkg/cluster/spec.go
  pkg/cluster/tinkerbell.go
  pkg/collection/convert.go
  pkg/collection/convert_test.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/tinkerbell/upgrade_test.go
  pkg/types/cluster.go
Labels: approved, lgtm, size/L

#6570 modifying the comparison document
  docs/content/en/docs/concepts/eksafeatures.md
Labels: approved, lgtm, ok-to-test, size/M, area/docs, documentation

#6625 Fix custom HookOS docs typing error
  docs/content/en/docs/getting-started/baremetal/customize/bare-custom-hookos.md
Labels: approved, lgtm, ok-to-test, area/docs, documentation

#6614 static pod kube-vip and externalTrafficPolicy: Local
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node.yaml
Labels: approved, lgtm, size/XS

#6619 Trigger prod bundle release for v0.17.1
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6620 Trigger prod cli release for v0.17.1
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6627 Update changelog for v0.17.1
  docs/content/en/docs/osmgmt/artifacts.md
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6573 CLI deprecate wl kubeconfig flag
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/flags.go
  cmd/eksctl-anywhere/cmd/options.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
Labels: approved, lgtm, size/M

#6632 Trigger update brew version to v0.17.1
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6208 docs: Add OS Management Overview page
  docs/content/en/docs/osmgmt/_index.md
  docs/content/en/docs/osmgmt/overview.md
Labels: approved, lgtm, size/M, area/docs, documentation, docathon

#6171 check existence of machine config before further operations
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_mismatched_external_etcd.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_mismatched_machine_config.yaml
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, ok-to-test, size/L

#6060 [Docs] Adding hyperlinks for Isovalent Enterprise Features
  docs/content/en/docs/clustermgmt/networking/networking-and-security.md
Labels: approved, lgtm, ok-to-test, size/XS, area/docs, documentation

#6648 Revert "CLI deprecate wl kubeconfig flag"
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/flags.go
  cmd/eksctl-anywhere/cmd/options.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
Labels: approved, lgtm, size/M

#6661 Add CAPI provider versions to logs
  pkg/cluster/builder.go
Labels: lgtm, size/M

#6656 Update API upgrade test to specify use appropriate templates
  test/e2e/cloudstack_test.go
  test/e2e/docker_test.go
  test/e2e/upgrade_from_latest.go
  test/e2e/vsphere_test.go
  test/framework/clustervalidator.go
Labels: approved, lgtm, size/M

#6665 [release-0.17] update api upgrade test to specifically use apropropriate templates
  internal/pkg/api/cluster.go
  test/e2e/cloudstack_test.go
  test/e2e/docker_test.go
  test/e2e/upgrade_from_latest.go
  test/e2e/vsphere_test.go
  test/framework/clustervalidator.go
Labels: approved, lgtm, size/M

#6667 Fix side effect of unnecessary workload cluster machine rollout
  controllers/cluster_controller.go
Labels: approved, lgtm, size/S

#6666 fix cli upgrade mgmt kubeconfig flag
  cmd/eksctl-anywhere/cmd/upgradecluster.go
Labels: approved, lgtm, size/XS

#6642 Trigger staging bundle release for v0.17.2
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6643 Trigger staging CLI release for v0.17.2
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6644 Trigger prod bundle release for v0.17.2
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6645 Trigger prod CLI release for v0.17.2
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6663 Enable Kindless management cluster upgrade for vSphere provider
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#6647 Update changelog and docs for v0.17.2
  docs/content/en/docs/osmgmt/artifacts.md
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6654 Backport #6170
  go.mod
  pkg/api/v1alpha1/cloudstackmachineconfig.go
  pkg/api/v1alpha1/cloudstackmachineconfig_test.go
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/nutanixmachineconfig.go
  pkg/api/v1alpha1/nutanixmachineconfig_test.go
  pkg/api/v1alpha1/testdata/invalid_manifest.yaml
  pkg/api/v1alpha1/testdata/tinkerbell_cluster_with_duplicate_mchine_config_fields.yaml
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_test.go
  pkg/api/v1alpha1/vspheremachineconfig.go
  pkg/api/v1alpha1/vspheremachineconfig_test.go
  pkg/utils/file/reader.go
  pkg/utils/yaml/yaml.go
  pkg/utils/yaml/yaml_test.go
Labels: approved, lgtm, size/L, area/docs, documentation

#6646 Trigger update brew version to v0.17.2
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6674 Prevent bare metal machine config references from changing to existing machine configs
  pkg/collection/set.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/tinkerbell/upgrade_test.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
Labels: approved, lgtm, size/L

#6658 Backport #6171
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_mismatched_external_etcd.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_mismatched_machine_config.yaml
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/L

#6672 Clean up airgapped docs
  docs/content/en/docs/clustermgmt/cluster-upgrades/airgapped-upgrades.md
  docs/content/en/docs/getting-started/airgapped/_index.md
  docs/content/en/docs/getting-started/airgapped/airgap-packages.md
  docs/content/en/docs/getting-started/airgapped/airgap-steps.md
  docs/content/en/docs/getting-started/baremetal/bare-prereq.md
  docs/content/en/docs/getting-started/chooseprovider/_index.md
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/getting-started/optional/registrymirror.md
  docs/content/en/docs/packages/prereq.md
Labels: approved, lgtm, size/L, area/docs, documentation, docathon

#6677 Delete yaml parsing code from api package
  cmd/eks-a-tool/cmd/vsphereautofill.go
  pkg/api/v1alpha1/cloudstackmachineconfig.go
  pkg/api/v1alpha1/cloudstackmachineconfig_test.go
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/nutanixmachineconfig.go
  pkg/api/v1alpha1/nutanixmachineconfig_test.go
  pkg/api/v1alpha1/nutanixmachineconfig_types.go
  pkg/api/v1alpha1/testdata/cluster_different_machine_configs_cloudstack.yaml
  pkg/api/v1alpha1/testdata/not_parseable_gitopsconfig.yaml
  pkg/api/v1alpha1/testdata/not_parseable_oidcconfig.yaml
  pkg/api/v1alpha1/testdata/nutanix/invalid-cluster.yaml
  pkg/api/v1alpha1/testdata/nutanix/invalid-kind.yaml
  pkg/api/v1alpha1/testdata/nutanix/invalid-machineconfig-addtional-categories-key.yaml
  pkg/api/v1alpha1/testdata/nutanix/invalid-machineconfig-addtional-categories-value.yaml
  pkg/api/v1alpha1/testdata/nutanix/machineconfig-with-no-osfamily.yaml
  pkg/api/v1alpha1/testdata/nutanix/machineconfig-with-no-ssh-key.yaml
  pkg/api/v1alpha1/testdata/nutanix/machineconfig-with-no-user-name.yaml
  pkg/api/v1alpha1/testdata/nutanix/machineconfig-with-no-users.yaml
  pkg/api/v1alpha1/testdata/nutanix/valid-cluster-extra-delimiter.yaml
  pkg/api/v1alpha1/testdata/nutanix/valid-cluster.yaml
  pkg/api/v1alpha1/testdata/tinkerbell_cluster_with_duplicate_mchine_config_fields.yaml
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_test.go
  pkg/api/v1alpha1/vspheremachineconfig.go
  pkg/api/v1alpha1/vspheremachineconfig_test.go
  pkg/dependencies/factory.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/validator_test.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  test/framework/flux.go
Labels: approved, lgtm, size/XXL

#6681 Add regional registries
  go.mod
  go.sum
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/regional_registry.go
  pkg/curatedpackages/regional_registry_test.go
Labels: approved, lgtm, size/L

#6685 Add providerID not set issue and fix to troubleshooting guide
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6496 Separate etcd upgrade changes from kcp changes
  pkg/controller/clusters/controlplane.go
  pkg/controller/clusters/controlplane_test.go
  pkg/providers/cloudstack/reconciler/reconciler.go
  pkg/providers/docker/reconciler/reconciler.go
  pkg/providers/nutanix/reconciler/reconciler.go
  pkg/providers/snow/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/vsphere/reconciler/reconciler.go
Labels: lgtm, size/L

#6686 Backport #6674: Prevent bare metal machine config references from changing to existing machine configs
  pkg/collection/set.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/tinkerbell/upgrade_test.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
Labels: approved, lgtm, size/L

#6697 Ignore node taints when scheduling Cilium preflight daemonset
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
Labels: approved, lgtm, size/M

#6699 Get previous disk usage only from existing machine configs
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/S

#6703 Source Bottlerocket artifacts from new upload location
  release/pkg/assets/archives/archives.go
  release/pkg/assets/archives/archives_test.go
  release/pkg/assets/config/bundle_release.go
  release/pkg/assets/types/types.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/M

#6704 [release-0.17] Source Bottlerocket artifacts from new upload location
  release/pkg/assets/archives/archives.go
  release/pkg/assets/archives/archives_test.go
  release/pkg/assets/config/bundle_release.go
  release/pkg/assets/types/types.go
  release/pkg/operations/bundle_release_test.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.17-bundle-release.yaml
Labels: approved, lgtm, size/XXL

#6708 Extend Etcd Encryption API and add more validations and defaults
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  go.sum
  pkg/api/v1alpha1/cluster_defaults.go
  pkg/api/v1alpha1/cluster_defaults_test.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/api/v1alpha1/etcdencryption.go
  pkg/api/v1alpha1/etcdencryption_types.go
  pkg/api/v1alpha1/etcdncryption.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm, size/L

#6709 Change timeout type from time.Duration to metav1.Duration
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/etcdencryption.go
  pkg/api/v1alpha1/etcdencryption_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm, size/S

#6595 add OIDC provider best practice
  docs/content/en/docs/getting-started/optional/irsa.md
Labels: lgtm, size/S, area/docs, documentation

#6711 k8s modular upgrade design doc
  designs/k8s-modular-upgrade.md
Labels: approved, lgtm

#6713 Terminate ec2 instance runner after e2e tests
  internal/test/e2e/testRunner.go
Labels: approved, lgtm, size/XS

#6557 Add support for ETCD encryption in Cloudstack
  pkg/api/v1alpha1/cluster_defaults_test.go
  pkg/api/v1alpha1/etcdencryption.go
  pkg/clusterapi/extraargs.go
  pkg/clusterapi/extraargs_test.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/template.go
  pkg/providers/cloudstack/testdata/cluster_etcd_encryption.yaml
  pkg/providers/cloudstack/testdata/expected_results_encryption_config_cp.yaml
  pkg/providers/common/encryption_config_generator.go
  pkg/providers/common/encryption_config_generator_test.go
  pkg/providers/common/testdata/expected_encryption_config.yaml
Labels: approved, lgtm, size/XL

#6717 Update CLI doc with make docgen
  docs/content/en/docs/reference/eksctl/anywhere_create_cluster.md
  docs/content/en/docs/reference/eksctl/anywhere_generate.md
  docs/content/en/docs/reference/eksctl/anywhere_generate_tinkerbelltemplateconfig.md
  docs/content/en/docs/reference/eksctl/anywhere_upgrade_cluster.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6722 Bump down Cloudstack concurrent tests to 50
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#6617 Add initial 1-28 simpleflow tests
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/cloudstack_test.go
  test/e2e/docker_test.go
  test/e2e/snow_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
  test/framework/cloudstack.go
  test/framework/cluster.go
  test/framework/nutanix.go
  test/framework/snow.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#6730 Staging bundle trigger for patch v0.17.3
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6729 Cherry-pick of PR6672
  docs/content/en/docs/clustermgmt/cluster-upgrades/airgapped-upgrades.md
  docs/content/en/docs/getting-started/airgapped/_index.md
  docs/content/en/docs/getting-started/airgapped/airgap-packages.md
  docs/content/en/docs/getting-started/airgapped/airgap-steps.md
  docs/content/en/docs/getting-started/baremetal/bare-prereq.md
  docs/content/en/docs/getting-started/chooseprovider/_index.md
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/getting-started/optional/registrymirror.md
  docs/content/en/docs/packages/prereq.md
Labels: approved, lgtm, size/L, area/docs, documentation

#6732 Trigger staging cli v0.17.3
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6731 Staging bundle trigger for patch v0.17.3
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6736 Correct conversion between integer types
  internal/pkg/api/nutanix.go
Labels: approved, lgtm, size/XS

#6737 Fix airgapped optional docs
  docs/content/en/docs/getting-started/airgapped/airgap-packages.md
  docs/content/en/docs/getting-started/airgapped/airgap-steps.md
  docs/content/en/docs/packages/prereq.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6728 Kindless upgrade changes for vSphere & CloudStack provider
  pkg/cluster/config.go
  pkg/cluster/wait.go
  pkg/cluster/wait_test.go
  pkg/clustermanager/applier.go
  pkg/clustermanager/applier_test.go
  pkg/controller/clusters/status.go
  pkg/controller/clusters/status_test.go
  pkg/providers/cloudstack/controlplane_test.go
  pkg/providers/cloudstack/reconciler/reconciler_test.go
  pkg/providers/cloudstack/testdata/cluster_main.yaml
  pkg/providers/cloudstack/testdata/cluster_main_with_cp_node_labels.yaml
  pkg/providers/cloudstack/testdata/cluster_main_with_node_labels.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_autoscaling_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_resourceids_cp.yaml
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, size/L

#6740 Fix minimum bits code scanner error
  internal/pkg/oidc/server.go
Labels: approved, lgtm, size/XS

#6744 Trigger prod bundle for v0.17.3
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6745 Trigger prod cli for v0.17.3
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6746 Changelog for patch release v0.17.3
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6748 Update Bottlerocket version in changelog
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, area/docs, documentation

#6749 Update Bottlerocket version in changelog
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6750 Brew updated release trigger for v0.17.3
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6752 Add wait in between the retries while waiting for failure message to …
  pkg/clustermanager/applier.go
Labels: approved, lgtm, size/S
