Repository aws/eks-anywhere, pull requests merged in 2023-07, with the labels that each got.

#6107 Recommend Cluster Autoscaler Deploy Topology
  docs/content/en/docs/getting-started/optional/autoscaling.md
  docs/content/en/docs/packages/cluster-autoscaler/addclauto.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6110 [v0.16.2] Trigger bundle staging build
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS, area/docs, documentation

#6005 Cluster Status design proposal doc
  designs/cluster-status.md
Labels: approved, lgtm, size/L

#6111 [v0.16.2] Trigger CLI staging build
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6104 Validate APIVersion is set when parsing EKSA config yaml
  pkg/cluster/config_manager.go
  pkg/cluster/config_manager_test.go
Labels: approved, lgtm, size/M

#6124 Formatting fixes
  pkg/config/vsphereuser.go
  pkg/config/vsphereuser_test.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
  pkg/providers/vsphere/validator_test.go
Labels: approved, lgtm, size/M

#6119 preflight block kindnetd
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
Labels: approved, lgtm, size/L

#6100 support codecommit gitops
  docs/content/en/docs/clustermgmt/cluster-flux.md
  docs/content/en/docs/getting-started/optional/gitops.md
  go.mod
  go.sum
  pkg/git/factory/gitfactory.go
  pkg/git/providers/codecommit/codecommit.go
  pkg/git/providers/codecommit/codecommit_test.go
Labels: lgtm, size/L, area/docs, documentation

#6086 adding bootstrap backup for upgrade failure
  internal/test/files.go
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#6112 [v0.16.2] Trigger CLI production build
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6136 Add docs section to PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, lgtm, size/XS

#6084 Improve troubleshooting doc
  docs/content/en/docs/getting-started/vsphere/domains.md
  docs/content/en/docs/getting-started/vsphere/vsphere-prereq.md
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/L, area/docs, documentation

#6120 Add node role tolerations for cilium
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
Labels: approved, lgtm, size/M

#6138 Remove deprecated docs referencing cron-ecr-renew cronjob
  docs/content/en/docs/packages/prereq.md
  docs/content/en/docs/packages/troubleshoot.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6145 Update changelog for v0.16.2
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6085 Fix side effects E2E tests
  test/e2e/docker_test.go
  test/e2e/vsphere_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#6144 Simplify release artifact preparation
  Makefile
  scripts/prepare_release_artifacts.sh
Labels: approved, lgtm, size/M

#6147 Update brew release to v0.16.2
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6151 Update brew release to v0.16.2 (#6147)
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6158 Remove missing link to newer ubuntu version support doc
  docs/content/en/docs/getting-started/install/_index.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6105 Add FailureReason to Cluster status
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  controllers/cluster_controller_test_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/controller/clusters/ipvalidator.go
  pkg/controller/clusters/ipvalidator_test.go
  pkg/controller/clusters/validations.go
  pkg/controller/clusters/validations_test.go
  pkg/providers/cloudstack/reconciler/reconciler.go
  pkg/providers/cloudstack/reconciler/reconciler_test.go
  pkg/providers/docker/reconciler/reconciler_test.go
  pkg/providers/nutanix/reconciler/reconciler.go
  pkg/providers/snow/reconciler/reconciler.go
  pkg/providers/snow/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/vsphere/reconciler/reconciler.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#6135 Remove runc replace directive in go.mod
  go.mod
  go.sum
Labels: approved, lgtm, size/M

#6162 Update Cloudstack CIDR to match new env range
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#6161 Update Cloudstack CIDR to match new env range
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#6160 Correct changelog headings
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6157 Refactor machine health checks to use cluster and kubernetes.Object
  pkg/clients/kubernetes/runtimeclient.go
  pkg/clients/kubernetes/runtimeclient_test.go
  pkg/clusterapi/machine_health_check.go
  pkg/clusterapi/machine_health_check_test.go
  pkg/clusterapi/name.go
  pkg/clusterapi/name_test.go
  pkg/clustermanager/cluster_manager.go
Labels: approved, lgtm, size/L

#6154 adding NoSchedule taint troubleshooting documentation
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6117 Add test to validate generated tinkerbell manifests for upgrade with cert bundles
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_upgrade_cert_bundles_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_upgrade_cert_bundles_config_md.yaml
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, ok-to-test, size/L

#6164 Remove BuildSpecForCluster
  internal/test/testdata.go
  pkg/cluster/fetch.go
  pkg/cluster/fetch_test.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/cluster_manager_wb_test.go
  pkg/dependencies/factory.go
Labels: approved, lgtm, size/XL

#6179 Remove dependency on envtest from api package
  pkg/api/v1alpha1/nutanixdatacenterconfig_webhook_test.go
  pkg/api/v1alpha1/nutanixmachineconfig_webhook_test.go
Labels: approved, lgtm, size/S

#6178 Refactor WorkerNodeGroupConfiguration slice comparison
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
Labels: approved, lgtm, size/L

#6159 Modular k8s upgrade manifests
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
Labels: approved, lgtm, size/M

#6175 airgap-upgrade-doc
  docs/content/en/docs/clustermgmt/cluster-upgrades/airgapped-upgrades.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/baremetal-upgrades.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
  docs/content/en/docs/getting-started/airgapped/_index.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6165 Handle special cases for Cilium upgrades when using API
  pkg/controller/serverside/reconcile.go
  pkg/controller/serverside/reconcile_test.go
  pkg/networking/cilium/client.go
  pkg/networking/cilium/reconciler/fetch.go
  pkg/networking/cilium/reconciler/reconciler.go
Labels: approved, lgtm, size/L

#6156 Update docs on cluster verification
  docs/content/en/docs/clustermgmt/observability/cluster-verify.md
Labels: approved, lgtm, size/L, area/docs, documentation

#6188 Refactoring to fail on vsphere perms validations
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/validator_test.go
Labels: approved, lgtm, size/M, area/providers/vsphere

#6190 Refactoring constants for skip validations
  pkg/validations/createvalidations/createvalidations.go
  pkg/validations/skipvalidations.go
  pkg/validations/skipvalidations_test.go
  pkg/validations/upgradevalidations/poddisruptionbudgets.go
  pkg/validations/upgradevalidations/poddisruptionbudgets_test.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/upgradevalidations.go
Labels: approved, lgtm, size/M

#6200 Tinkerbell CI dynamic hardware reservation logic fix
  internal/test/e2e/run.go
Labels: approved, lgtm, size/S

#6193 Adding skip validation support for vsphere validations
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
  cmd/eksctl-anywhere/cmd/validatecreatecluster.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L, area/providers/vsphere

#6202 Fix Hugo build issue:
  docs/content/en/_index.html
Labels: approved, lgtm, size/XS, area/docs, documentation, docathon

#6209 Sort Tinkerbell in reverse order to run larger tests first
  internal/test/e2e/run.go
Labels: approved, lgtm, size/XS

#6207 Fix broken index on docs site
  docs/content/en/_index.html
Labels: lgtm, size/XS, area/docs, documentation, docathon

#6205 Update docs development README guidance
  docs/Makefile
  docs/README.md
  docs/content/en/docs/community/docs_contributing.md
Labels: approved, lgtm, size/M, area/docs, documentation, docathon

#6215 [Docs]Add CNI chaining support with Cilium in EKS-A
  docs/content/en/docs/clustermgmt/networking/cluster-replace-cilium.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6220 Override CAPC commit hash with temporary tag
  release/pkg/bundles/cloudstack.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.16-bundle-release.yaml
Labels: approved, lgtm, size/S

#6222 Harbor doc updates
  docs/content/en/docs/packages/best_practice.md
  docs/content/en/docs/packages/harbor/_index.md
  docs/content/en/docs/packages/harbor/addharbor.md
Labels: approved, lgtm, area/docs, documentation, docathon

#6167 Add 1.25, 1.26, 1.27 cloudstack support
  config/manifest/eksa-components.yaml
  go.mod
  go.sum
  internal/test/envtest/environment.go
  manager/main.go
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/testdata/cluster_1_27_cloudstack.yaml
  pkg/clients/kubernetes/scheme.go
  pkg/executables/kubectl.go
  pkg/providers/cloudstack/apibuilder.go
  pkg/providers/cloudstack/apibuilder_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/config/template-md.yaml
  pkg/providers/cloudstack/controlplane.go
  pkg/providers/cloudstack/controlplane_test.go
  pkg/providers/cloudstack/machinetemplate.go
  pkg/providers/cloudstack/reconciler/reconciler_test.go
  pkg/providers/cloudstack/testdata/expected_results_affinity_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_affinity_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_availability_zones_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_availability_zones_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_autoscaling_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_multiple_worker_node_groups.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_rollout_strategy_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_rollout_strategy_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_with_taints_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_add_worker_node_group.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_proxy_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_proxy_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_insecure_skip_and_cert_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_insecure_skip_and_cert_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_insecure_skip_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_insecure_skip_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_resourceids_cp.yaml
  pkg/providers/cloudstack/workers.go
  pkg/providers/cloudstack/workers_test.go
  test/e2e/cloudstack_test.go
  test/framework/cloudstack.go
  test/framework/cluster/validations/cloudstack.go
  test/framework/cluster/validations/cloudstack_test.go
  test/framework/flux.go
Labels: approved, lgtm, size/XXL, blocker

#6228 Revert "External etcd support for Nutanix"
  Makefile
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/kubectl.go
  pkg/providers/nutanix/mocks/kubectl.go
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
  pkg/providers/nutanix/template.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/eksa-cluster-additional-categories.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-autoscaler.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-external-etcd-with-optional.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-external-etcd.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-iamauth.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-invalid-pe-cluster-pc.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-invalid-pe-cluster-random-name.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-irsa.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-multiple-machineconfigs.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-multiple-worker-md.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-no-credentialref.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-node-taints-labels.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-oidc.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-project.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-proxy.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-registry-mirror.yaml
  pkg/providers/nutanix/testdata/eksa-cluster.json
  pkg/providers/nutanix/testdata/eksa-cluster.yaml
  pkg/providers/nutanix/testdata/expected_results_additional_categories.yaml
  pkg/providers/nutanix/testdata/expected_results_external_etcd.yaml
  pkg/providers/nutanix/testdata/expected_results_external_etcd_md.yaml
  pkg/providers/nutanix/testdata/expected_results_external_etcd_with_optional.yaml
  pkg/providers/nutanix/testdata/expected_results_external_etcd_with_optional_md.yaml
  pkg/providers/nutanix/testdata/expected_results_iamauth.yaml
  pkg/providers/nutanix/testdata/expected_results_irsa.yaml
  pkg/providers/nutanix/testdata/expected_results_node_taints_labels.yaml
  pkg/providers/nutanix/testdata/expected_results_oidc.yaml
  pkg/providers/nutanix/testdata/expected_results_project.yaml
  pkg/providers/nutanix/testdata/expected_results_proxy.yaml
  pkg/providers/nutanix/testdata/expected_results_registry_mirror.yaml
  pkg/providers/nutanix/testdata/machineConfig_external_etcd.yaml
  pkg/providers/nutanix/testdata/machineConfig_external_etcd_with_optional.yaml
Labels: approved, lgtm, ok-to-test, size/XXL

#6204 Fix unnecessary KCP spec update when reconciler ControlPlane
  pkg/controller/clusters/controlplane.go
  pkg/controller/clusters/controlplane_test.go
Labels: approved, lgtm, size/M

#6201 Fix for Default CNI condition in Cluster status
  pkg/controller/clusters/status.go
  pkg/controller/clusters/status_test.go
Labels: approved, lgtm, size/S

#6198 make vsphere dc thumbprint mutable
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook.go
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook_test.go
Labels: approved, lgtm, size/S

#6211 add backup cluster retries on infrastructure error
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
Labels: approved, lgtm, size/S, blocker

#6230 vsphere cp/worker/etcd can use diff machine template
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/testdata/cluster_main_diff_template.yaml
  pkg/providers/vsphere/testdata/expected_results_diff_template_cp.yaml
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XL, blocker

#6227 Add control plane components healthy check when computing ControlPlaneReady condition
  controllers/cluster_controller_test.go
  pkg/api/v1alpha1/condition_consts.go
  pkg/controller/clusters/status.go
  pkg/controller/clusters/status_test.go
Labels: approved, lgtm, size/M

#6232 Add E2E tests for Cloudstack kubernetes 127 version
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/cloudstack_test.go
Labels: approved, lgtm, size/XXL, blocker

#6197 K8s modular upgrade validations
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/docker/docker.go
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/vsphere/vsphere.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  pkg/validations/upgradevalidations/versions.go
  pkg/validations/upgradevalidations/versions_test.go
Labels: approved, lgtm, size/XL, blocker

#6235 Attempt to fix reader with http proxy flaky test
  pkg/files/reader.go
  pkg/files/reader_test.go
Labels: approved, lgtm, size/M

#6237 Unskip larger tests for Tinkerbell that need more than 4 hardware
  internal/test/e2e/run.go
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#6238 Remove temporary CAPC version overwrite
  release/pkg/bundles/cloudstack.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.16-bundle-release.yaml
Labels: approved, lgtm, size/L

#6240 Fix incorrect k8s versions in cloudstack e2e
  test/e2e/cloudstack_test.go
Labels: approved, lgtm, size/XS

#6036 Create Instances of EKSARelease
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  controllers/cluster_controller_test_test.go
  internal/test/cluster.go
  internal/test/testdata.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/awsiamauth/reconciler/reconciler_test.go
  pkg/cluster/builder.go
  pkg/cluster/builder_test.go
  pkg/cluster/fetch.go
  pkg/cluster/fetch_test.go
  pkg/cluster/spec.go
  pkg/cluster/spec_test.go
  pkg/cluster/testdata/simple_release.yaml
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermarshaller/testdata/expected_marshalled_cluster.yaml
  pkg/clustermarshaller/testdata/expected_marshalled_cluster_flux_and_gitops.yaml
  pkg/clustermarshaller/testdata/expected_marshalled_cluster_flux_config.yaml
  pkg/manifests/reader.go
  pkg/manifests/reader_test.go
  pkg/providers/cloudstack/reconciler/reconciler_test.go
  pkg/providers/docker/reconciler/reconciler_test.go
  pkg/providers/snow/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
  release/api/v1alpha1/eksarelease.go
Labels: approved, lgtm, size/XL, blocker

#6233 Revert "[Docs]Add CNI chaining support with Cilium in EKS-A (#6215)"
  docs/content/en/docs/clustermgmt/networking/cluster-replace-cilium.md
Labels: approved, size/XS, area/docs, documentation

#6203 update top-level Overview docs page
  docs/content/en/docs/overview/_index.md
Labels: approved, lgtm, ok-to-test, size/M, area/docs, documentation, docathon

#6234 Apply DS to disable udp offloading before Cilium upgrades in VSphere
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/vsphere/config/ethtool_daemonset.yaml
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
  test/framework/template.go
Labels: approved, lgtm, size/L, blocker

#6231 Update Cilium doc references to use shortcode
  docs/config.toml
  docs/content/en/docs/getting-started/optional/cni.md
  docs/content/en/docs/workloadmgmt/ingress.md
  docs/layouts/shortcodes/cilium.html
Labels: approved, lgtm, size/M, area/docs, documentation

#6245 Remove full lifecycle API feature toggle
  docs/developer/cluster-lifecycle-api-provider-integration.md
  manager/Tiltfile
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook_test.go
  pkg/clustermanager/eksa_installer.go
  pkg/clustermanager/eksa_installer_test.go
  pkg/features/features.go
  test/e2e/cloudstack_test.go
Labels: approved, lgtm, size/L, area/docs, documentation

#6199 Eksaversion validations
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/cluster/builder.go
  pkg/cluster/fetch.go
  pkg/controller/clusters/validations_test.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/createvalidations/preflightvalidations_test.go
  pkg/validations/skipvalidations.go
  pkg/validations/skipvalidations_test.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  pkg/validations/upgradevalidations/upgradevalidations.go
  pkg/validations/validation_options.go
Labels: approved, lgtm, size/XL, blocker

#6255 Skip cloudstack E2E tests that cannot be run
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/S

#6259 Update troubleshooting to include more details on how to trobleshoot IP exhauastion
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, needs-ok-to-test, size/XS, area/docs, documentation

#6258 Updated networking requirements to add asset endpoints / ports
  docs/content/en/docs/getting-started/baremetal/bare-prereq.md
  docs/content/en/docs/getting-started/cloudstack/cloudstack-prereq.md
  docs/content/en/docs/getting-started/nutanix/nutanix-prereq.md
  docs/content/en/docs/getting-started/vsphere/vsphere-prereq.md
Labels: approved, lgtm, needs-ok-to-test, size/XS, area/docs, documentation

#6263 Update Cloudstack E2E to use IP Manager 🫡
  internal/test/e2e/cloudstack.go
  internal/test/e2e/run.go
  test/framework/cloudstack.go
Labels: lgtm, size/S

#6250 Add documentation for Nutanix additionalCategories feature
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
Labels: approved, lgtm, needs-ok-to-test, size/S, area/docs, documentation

#6273 Add snow provider to host os config doc
  docs/content/en/docs/getting-started/optional/hostOSConfig.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6271 Bump number of max EC2 instances to run one test per instance
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#6266 Remove Bundle Create Validation
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/createvalidations/preflightvalidations_test.go
Labels: approved, lgtm, size/L

#6276 Revert "Add snow provider to host os config doc (#6273)"
  docs/content/en/docs/getting-started/optional/hostOSConfig.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6260 Add E2E tests for Redhat latest minor release upgrades on vsphere
  test/e2e/vsphere_test.go
  test/framework/vsphere.go
Labels: size/M

#6280 Only apply DS to vsphere redhat nodes
  pkg/providers/vsphere/testdata/cluster_redhat_external_etcd.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#6246 Remove kube-proxy upgrader
  Makefile
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/kube_proxy.go
  pkg/clustermanager/kube_proxy_test.go
  pkg/clustermanager/kube_proxy_wb_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/clustermanager/mocks/kube_proxy.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/task/task.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/XXL

#6282 Expand Cloudstack CIDR for CI
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#6278 Fix test framework for eksa version
  pkg/controller/clusters/status.go
  pkg/controller/clusters/status_test.go
  test/framework/clustervalidator.go
Labels: approved, lgtm, size/S

#6256 Change compareEKSAClusterSpec
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
Labels: approved, lgtm, size/M

#6287 Fix preflight eksa version
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/upgradevalidations/preflightvalidations.go
Labels: approved, lgtm, size/XS

#6289 Increase CloudStack concurrent tests to 70
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#6290 Increase CloudStack concurrent tests to 70
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#6292 Update flags for eksa commands in docs
  docs/content/en/docs/reference/eksctl/anywhere_create_cluster.md
  docs/content/en/docs/reference/eksctl/anywhere_upgrade_cluster.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6291 cloudstack multi machine templates
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/testdata/cluster_main_worker_node_group_kubernetes_version.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp_kubernetes_version.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_md_worker_kubernetes_version.yaml
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, size/XL, blocker

#6284 Fix modular upgrade e2e test to grab the correct template
  test/e2e/side_effects.go
  test/framework/cloudstack.go
  test/framework/cluster.go
  test/framework/docker.go
  test/framework/nutanix.go
  test/framework/snow.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/M, blocker

#6214 add helper function for Tinkerbell specific workflow for curated packages harbor flow
  test/e2e/harbor.go
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/M

#6299 Fix Airgap EksaVersion
  pkg/cluster/builder.go
  pkg/cluster/builder_test.go
Labels: approved, lgtm, size/M

#6300 Set default templates for all vsphere machine configs
  pkg/providers/vsphere/defaults.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/M

#6296 Update Docker upgrade from latest minor release tests to use kindnetd
  internal/pkg/api/cluster.go
  pkg/controller/clusters/status.go
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/docker_test.go
  test/e2e/side_effects.go
Labels: approved, lgtm, size/M

#6242 Adding required go version & Trust Policy Example
  docs/content/en/docs/getting-started/optional/irsa.md
Labels: approved, lgtm, needs-ok-to-test, size/S, area/docs, documentation

#6307 Fixing emissary tests
  test/e2e/emissary.go
  test/framework/cluster.go
  test/framework/testdata/emissary_listener.yaml
Labels: approved, lgtm, size/M

#6223 Add Ubuntu 22.04 E2E tests
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  test/e2e/README.md
  test/e2e/cloudstack_test.go
  test/e2e/cloudstack_upgrade.go
  test/e2e/docker_test.go
  test/e2e/nutanix_test.go
  test/e2e/side_effects.go
  test/e2e/simpleflow.go
  test/e2e/tinkerbell_test.go
  test/e2e/upgrade.go
  test/e2e/vsphere_test.go
  test/framework/cloudstack.go
  test/framework/cluster.go
  test/framework/docker.go
  test/framework/executables.go
  test/framework/nutanix.go
  test/framework/os_versions.go
  test/framework/snow.go
  test/framework/template.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/XXL, blocker

#6310 Update cluster config for upgrades during modular upgrade e2e tests
  test/e2e/side_effects.go
  test/framework/cluster.go
Labels: approved, lgtm, size/S

#6313 Fix CAPI Backup and add filter for cluster name
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/M

#6317 Add Ubuntu 22.04 tests to Tinkerbell hardware count file
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/constants.go
  test/e2e/tinkerbell_hardware_count.go
  test/e2e/tinkerbell_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/M

#6309 Correct reference to Supermicro hardware
  docs/content/en/docs/getting-started/baremetal/bare-prereq.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6316 Fix CAPI Backup and add filter for cluster name (#6313)
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/M

#6322 Implement Provider interface method for Tinkerbell tests
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/XS

#6325 Fix typo in Cloudstack e2e
  test/framework/cloudstack.go
Labels: approved, lgtm, size/XS

#6319 Configure machine health checks for cluster controller (#6176)
  Makefile
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/options.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  controllers/cluster_controller_test_test.go
  controllers/factory.go
  controllers/mocks/cluster_controller.go
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/cli/createclusterdefaulter.go
  pkg/cli/createclusterdefaulter_test.go
  pkg/cli/upgradeclusterdefaulter.go
  pkg/cli/upgradeclusterdefaulter_test.go
  pkg/cluster/builder.go
  pkg/cluster/defaults.go
  pkg/cluster/defaults_test.go
  pkg/clusterapi/machine_health_check.go
  pkg/clusterapi/machine_health_check_test.go
  pkg/clusterapi/machinehealthcheck/machinehealthcheck.go
  pkg/clusterapi/machinehealthcheck/mocks/reconciler.go
  pkg/clusterapi/machinehealthcheck/reconciler/reconciler.go
  pkg/clusterapi/machinehealthcheck/reconciler/reconciler_test.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/config/config.go
  pkg/constants/constants.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/gitops/flux/files_test.go
  pkg/gitops/flux/flux_test.go
Labels: approved, lgtm, size/XXL

#6328 Worker hardware count fix for Tinkerbell scale-up upgrade test
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/XS

#6332 best effort backup and bootstrap backup to different directory
  internal/test/files.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/cluster_manager_wb_test.go
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#6334 Add Ubuntu 22.04 images to required env vars
  test/framework/cluster.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/M

#6335 Fix stalling on upgrade from latest minor release with flux
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/clustermarshaller/testdata/expected_marshalled_cluster.yaml
  pkg/clustermarshaller/testdata/expected_marshalled_cluster_flux_and_gitops.yaml
  pkg/clustermarshaller/testdata/expected_marshalled_cluster_flux_config.yaml
  pkg/clustermarshaller/testdata/expected_marshalled_snow.yaml
  pkg/gitops/flux/files_test.go
  pkg/gitops/flux/testdata/cluster-config-default-path-management.yaml
  pkg/gitops/flux/testdata/cluster-config-default-path-workload.yaml
  pkg/gitops/flux/testdata/cluster-config-user-provided-path.yaml
Labels: approved, lgtm, size/M

#6340 Make OS Image URL mutable for Tinkerbell
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_webhook_test.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/S

#6349 Revert "Make OS Image URL mutable for Tinkerbell"
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_webhook_test.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/M

#6348 Add deprecation warning for machine health check timeout flags
  cmd/eksctl-anywhere/cmd/options.go
Labels: approved, lgtm, size/XS

#6351 Increase end to end test timeout
  internal/test/e2e/run.go
Labels: approved, lgtm, size/XS

#6345 Fix incorrect kubernetes version in tinkerbell E2E
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/XS

#6342 Update custom CNI docs with specific Cilium CLI version
  docs/content/en/docs/clustermgmt/networking/cluster-replace-cilium.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6354 Fix upgrade from latest E2Es to use proper EksaVersion and bundesRef.
  internal/pkg/api/cluster.go
  test/e2e/upgrade_from_latest.go
Labels: approved, lgtm, size/S

#6254 Add Make target to validate the Tinkerbell hardware count file
  Makefile
  scripts/validate_tinkerbell_hardware_file.sh
Labels: approved, lgtm, size/M
