Repository aws/eks-anywhere, pull requests merged in 2023-05, with the labels that each got.

#5740 Update changelog for EKS-A v0.15.3
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#5741 Add initial 1-27 simpleflow tests
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  test/e2e/docker_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
  test/framework/cluster.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/M

#5753 Add 1.27 template env for e2e
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#5750 Remove Renamed Test from SKIPPED_TESTS
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#5751 Update Nutanix config doc with custom dns option
  docs/content/en/docs/reference/clusterspec/nutanix.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#5622 Add design for workload cluster upgrade isolation
  designs/isolate-cluster-upgrades.md
Labels: approved, lgtm, size/L

#5730 Update snow node ami builder doc
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/M, area/docs, documentation

#5763 Display timeout flags in help command and doc
  cmd/eksctl-anywhere/cmd/options.go
  docs/content/en/docs/reference/eksctl/anywhere_create_cluster.md
  docs/content/en/docs/reference/eksctl/anywhere_upgrade_cluster.md
Labels: approved, lgtm, size/M, area/docs, documentation

#5674 Simplify CloudStack template builder
  controllers/resource/reconciler.go
  controllers/resource/template.go
  controllers/resource/testdata/cloudstackEtcdadmcluster.yaml
  controllers/resource/testdata/cloudstackKubeadmconfigTemplateSpec.yaml
  controllers/resource/testdata/cloudstackKubeadmcontrolplane.yaml
  controllers/resource/testdata/cloudstackMachineConfigSpec.yaml
  controllers/resource/testdata/eksa-cluster-cloudstack-etcd.yaml
  controllers/resource/testdata/eksa-cluster-cloudstack.yaml
  controllers/resource/testdata/eksa-cluster-cloudstack_no_changes.yaml
  internal/pkg/api/cloudstackmachines.go
  pkg/api/v1alpha1/cloudstackmachineconfig.go
  pkg/dependencies/factory.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/controlplane.go
  pkg/providers/cloudstack/controlplane_test.go
  pkg/providers/cloudstack/reconciler/reconciler_test.go
  pkg/providers/cloudstack/spec.go
  pkg/providers/cloudstack/template.go
  pkg/providers/cloudstack/template_test.go
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_mocks.go
  pkg/providers/cloudstack/validator_registry.go
  pkg/providers/cloudstack/validator_test.go
  pkg/providers/cloudstack/workers.go
  pkg/providers/cloudstack/workers_test.go
  pkg/providers/vsphere/controlplane_test.go
  pkg/providers/vsphere/workers_test.go
Labels: approved, lgtm, size/XXL

#5732 Add docs detailing how to uninstall EKS-A Cilium
  docs/content/en/docs/reference/clusterspec/optional/cni.md
  docs/content/en/docs/tasks/cluster/cluster-replace-cilium.md
Labels: approved, lgtm, size/L, area/docs, documentation

#5722 Cloudstack reconciler validator
  Makefile
  controllers/cloudstack_datacenter_controller.go
  controllers/cloudstack_datacenter_controller_test.go
  controllers/factory.go
  pkg/providers/cloudstack/credentials.go
  pkg/providers/cloudstack/credentials_test.go
  pkg/providers/cloudstack/reconciler/reconciler.go
  pkg/providers/cloudstack/reconciler/reconciler_test.go
  pkg/providers/cloudstack/validator_mocks.go
Labels: approved, lgtm, size/XL

#5736 Set default and validate control plane host port when generating CloudStack CAPI objects
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/controlplane_test.go
  pkg/providers/cloudstack/spec.go
  pkg/providers/cloudstack/template.go
  pkg/providers/cloudstack/template_test.go
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, size/L

#5664 Fix conformance tests
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/conformance_test.go
Labels: approved, lgtm, size/L

#5770 Add a few more required env
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#5752 Enable simple snow e2e tests in CI
  cmd/integration_test/build/buildspecs/snow-test-eks-a-cli.yml
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
  internal/test/e2e/snow.go
  pkg/providers/snow/validator.go
  test/e2e/SKIPPED_TESTS.yaml
  test/framework/snow.go
Labels: approved, lgtm, size/L

#5737 Validate cloudstack k8s version
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/api/v1alpha1/testdata/cluster_1_24_cloudstack.yaml
  pkg/awsiamauth/template.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/docker/docker.go
  pkg/semver/utils.go
  pkg/semver/utils_test.go
Labels: approved, lgtm, size/L

#5773 Update CloudStack immutable fields docs
  docs/content/en/docs/tasks/cluster/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
Labels: approved, lgtm, size/S, area/docs, documentation

#5774 Encode git private key using base64
  internal/test/e2e/fluxGit.go
Labels: approved, lgtm, size/S

#5778 Remove unused/unnecessary commands from tinkerbell buildspec
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
Labels: approved, lgtm, size/M

#5776 Updated CloudStack immutable field validation
  controllers/resource/template.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
Labels: approved, lgtm, size/M

#5742 Add additional 1-27 e2e for docker, vsphere, and tinkerbell
  test/e2e/docker_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/XL

#5772 Update multiple dependencies
  go.mod
  go.sum
  release/go.mod
  release/go.sum
  test/e2e/tools/eks-anywhere-test-tool/go.mod
  test/e2e/tools/eks-anywhere-test-tool/go.sum
Labels: approved, lgtm, size/XL

#5769 Expand GITHUB_TOKEN regex to support fine-grained access tokens
  pkg/git/providers/github/github.go
  pkg/git/providers/github/github_test.go
Labels: approved, lgtm, size/S

#5067 Add validation for HookImagesURLPath for proxy configuration
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/cluster.go
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_proxy.yaml
Labels: approved, lgtm, size/M

#5721 Enable proxy configuration for tinkerbell workload cluster
  pkg/executables/helm.go
  pkg/providers/tinkerbell/stack/mocks/stack.go
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_proxy.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md_proxy.yaml
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/tinkerbell/upgrade_test.go
Labels: approved, lgtm, size/L

#5789 Resolve unit test error
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/upgrade_test.go
Labels: approved, lgtm, size/M

#5781 cloudstack validate machine config
  controllers/factory.go
  pkg/providers/cloudstack/reconciler/reconciler.go
  pkg/providers/cloudstack/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#5685 Upgrade preflight validations for PDB design doc
  designs/pod-disruption-budget-preflights.md
Labels: approved, lgtm, size/M, documentation

#5784 Add Users and SSH key validation in cloudstackmachineconfig webhook
  pkg/api/v1alpha1/cloudstackmachineconfig_types.go
  pkg/api/v1alpha1/cloudstackmachineconfig_types_test.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook_test.go
  pkg/api/v1alpha1/machine_types.go
  pkg/cluster/cloudstack.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/validator.go
Labels: approved, lgtm, size/L

#5758 Cloudstack e2e tests
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  test/e2e/cloudstack_test.go
  test/framework/cloudstack.go
  test/framework/flux.go
Labels: approved, lgtm, size/XL

#5804 Fix snow controller log
  pkg/providers/snow/reconciler/reconciler.go
Labels: approved, lgtm, size/XS

#5805 Adding missing cloudstack e2e var and fillers
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  internal/pkg/api/cloudstack.go
  test/e2e/cloudstack_test.go
Labels: approved, lgtm, size/S

#5801 Fix CloudStack userCustomDetails not triggering creation of templates
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, size/L

#5779 Add Proxy support for Nutanix
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/config/md-template.yaml
  pkg/providers/nutanix/template.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/eksa-cluster-proxy.yaml
  pkg/providers/nutanix/testdata/expected_results_proxy.yaml
  pkg/providers/nutanix/testdata/expected_results_proxy_md.yaml
Labels: approved, lgtm, ok-to-test, size/L

#5797 Add e2e tests related to tinkerbell proxy configuration
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  test/e2e/airgap.go
  test/e2e/tinkerbell_test.go
  test/framework/proxy.go
Labels: approved, lgtm, size/M

#5798 Add validation for tinkerbell ip for workload cluster to match management cluster
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/M

#5799 Remove incorrect e2e for external etcd
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/S

#5796 Add users and ssh key validation to all provider machineconfig webhooks
  pkg/api/v1alpha1/cloudstackmachineconfig_types_test.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook.go
  pkg/api/v1alpha1/machine_types.go
  pkg/api/v1alpha1/nutanixmachineconfig.go
  pkg/api/v1alpha1/nutanixmachineconfig_webhook_test.go
  pkg/api/v1alpha1/vspheremachineconfig.go
  pkg/api/v1alpha1/vspheremachineconfig_test.go
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/api/v1alpha1/vspheremachineconfig_webhook.go
  pkg/api/v1alpha1/vspheremachineconfig_webhook_test.go
  pkg/cluster/vsphere.go
  pkg/providers/vsphere/defaults.go
Labels: approved, lgtm, size/L

#5813 Reduce controller's log verbosity
  config/tilt/kustomization.yaml
  manager/main.go
  pkg/controller/clusters/ipvalidator.go
Labels: approved, lgtm, size/XS

#5808 Add exp flag for self managed cluster API upgrades
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  controllers/factory.go
  manager/main.go
  pkg/features/features.go
Labels: lgtm, size/M

#5803 Proxy configuration changes for Bare metal provider and Bottlerocket OS
  docs/content/en/docs/reference/clusterspec/optional/proxy.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#5806 Refactor CloudStack `NeedNewMachineTemplate` unit tests into table tests
  pkg/providers/cloudstack/cloudstack_test.go
Labels: approved, lgtm, size/L

#5816 Enabling skipped test
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#5817 fix 1-27 e2es
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/S

#5818 Modify regex to pick Harbor Regsitry for CloudStack tests
  internal/test/e2e/registryMirror.go
Labels: approved, lgtm, size/XS

#5820 Update fluxGit.go to fix base64 error
  internal/test/e2e/fluxGit.go
Labels: approved, lgtm, size/XS

#5788 Support overriding HookImage for tinkerbell cluster upgrade
  pkg/providers/tinkerbell/stack/mocks/stack.go
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/tinkerbell/upgrade_test.go
Labels: approved, lgtm, size/M

#5829 Skipping tests that can not be run today
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/S

#5683 Update datastore usage validation to account for space that will free up during upgrade
  pkg/providers/vsphere/reconciler/reconciler_test.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#5837 Adding cloudstack clean vms command
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
Labels: approved, lgtm, size/S

#5840 Fix e2e regex and skip more tinkerbell tests temporarily
  internal/test/e2e/run.go
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/S

#5839 change proxy config setting
  internal/test/e2e/proxy.go
Labels: approved, lgtm, size/XS

#5830 Fix TestVSphereKubernetes126To127OIDCUpgrade E2E test
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/XS

#5794 Update cluster-api to v1.4.2
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/downloadimages.go
  cmd/eksctl-anywhere/cmd/generatepackage.go
  cmd/eksctl-anywhere/cmd/installpackages.go
  cmd/eksctl-anywhere/cmd/listpackages.go
  controllers/resource/fetcher.go
  go.mod
  go.sum
  pkg/clusterapi/apibuilder.go
  pkg/clusterapi/machine_health_check.go
  pkg/clusterapi/machine_health_check_test.go
  pkg/clusterapi/resourceset.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/shim.go
  pkg/controller/clusters/workers.go
  pkg/controller/clusters/workers_test.go
  pkg/curatedpackages/bundle.go
  pkg/curatedpackages/bundle_test.go
  pkg/curatedpackages/bundlemanager.go
  pkg/curatedpackages/curatedpackages.go
  pkg/curatedpackages/curatedpackages_test.go
  pkg/curatedpackages/mocks/bundlemanager.go
  pkg/curatedpackages/mocks/kube_client.go
  pkg/curatedpackages/oras/download.go
  pkg/providers/snow/api/v1beta1/awssnowmachine_types.go
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/testdata/expected_results_main_md_bottlerocket.yaml
  pkg/providers/snow/testdata/expected_results_main_md_ubuntu.yaml
  pkg/providers/tinkerbell/hardware/catalogue_secret.go
  release/go.mod
  release/go.sum
Labels: lgtm, size/XXL

#5814 Use controller direct access to management cluster
  config/manager/manager.yaml
Labels: approved, lgtm, size/S

#5841 Make registry mirror e2es use bundles override
  test/e2e/registrymirror.go
Labels: approved, lgtm, size/XS

#5845 Updating rufio go mod version
  go.mod
  go.sum
Labels: approved, lgtm, size/S

#5842 Update ssh authorized in new worker node groups in API tests
  internal/pkg/api/vspheremachines.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/S

#5848 Not erroring on VMs not found for cloudstack cleanup
  pkg/executables/cmk.go
  pkg/executables/cmk_test.go
Labels: approved, lgtm, size/XS

#5853 Update development bundle release to v0.15.4
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#5854 Update development cli release to v0.15.4
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5856 Add 1.27 RHEL E2E tests
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#5838 Validate VSphere user privileges during upgrade
  Makefile
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/validator_test.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/L

#5860 Remove 1.22 e2e tests
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/cloudstack_test.go
  test/e2e/conformance_test.go
  test/e2e/docker_test.go
  test/e2e/metallb.go
  test/e2e/nutanix_test.go
  test/e2e/snow_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
  test/framework/cloudstack.go
  test/framework/nutanix.go
  test/framework/snow.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/XXL

#5863 Add BR 1-27 E2E tests
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#5868 Update prod bundle release to v0.15.4
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#5792 make cloudstack port defaulting in CAPI backward compatible
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/spec.go
  pkg/providers/cloudstack/template.go
  pkg/providers/cloudstack/validator.go
  pkg/validations/upgradevalidations/immutable_fields.go
Labels: approved, lgtm, size/L

#5871 Rework CloudStack API comments
  pkg/api/v1alpha1/cloudstackmachineconfig_types.go
Labels: approved, lgtm, size/M

#5870 Update prod cli release to v0.15.4
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5873 Moving cloudstack registry mirror regex checks
  internal/test/e2e/registryMirror.go
Labels: approved, lgtm, size/XS

#5869 Changelog for v0.15.4
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#5875 Changelog for v0.15.4 (#5869)
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#5874 Update brew release for v0.15.4
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5877 Add PR link to changelog item
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#5867 mgmt cluster can reconcile cp with EXP_SELF_MANAGED_API_UPGRADE flag
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/features/features.go
Labels: lgtm, size/M

#5880 Add validation for taints for API E2E tests
  config/crd/bases/anywhere.eks.amazonaws.com_nutanixmachineconfigs.yaml
  internal/pkg/api/taints.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  test/framework/cluster/validations/cluster.go
  test/framework/cluster/validations/cluster_test.go
  test/framework/taints.go
Labels: approved, lgtm, size/L

#5872 Support new kubeversion for curated package e2e tests
  test/e2e/cloudstack_test.go
  test/e2e/docker_test.go
  test/e2e/metallb.go
  test/e2e/nutanix_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/XXL

#5855 Add cloudstack workload cluster API e2e tests
  test/e2e/cloudstack_test.go
  test/e2e/cloudstack_upgrade.go
  test/framework/cloudstack.go
  test/framework/cluster.go
  test/framework/clustervalidator.go
Labels: approved, lgtm, size/L

#5886 Define KubeVersions in e2e framework for all providers to access
  test/e2e/constants.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/XS

#5887 Update metallb e2e tests
  test/e2e/metallb.go
Labels: approved, lgtm, size/S

#5697 Preflight upgrade validations for pod disruption budgets
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  cmd/eksctl-anywhere/cmd/validatecreatecluster.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/providers/vsphere/workers_test.go
  pkg/validations/createvalidations/cluster_test.go
  pkg/validations/createvalidations/identityproviders_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/kubectl.go
  pkg/validations/mocks/kubectl.go
  pkg/validations/upgradevalidations/cluster_test.go
  pkg/validations/upgradevalidations/poddisruptionbudgets.go
  pkg/validations/upgradevalidations/poddisruptionbudgets_test.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  pkg/validations/upgradevalidations/upgradeskipvalidations.go
  pkg/validations/upgradevalidations/upgradeskipvalidations_test.go
  pkg/validations/upgradevalidations/versions_test.go
  pkg/validations/validation_options.go
Labels: approved, lgtm, size/L

#5889 Make different cluster name across loops within the same e2e test
  test/e2e/docker_test.go
  test/e2e/metallb.go
  test/e2e/nutanix_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/L

#5895 Adding k8s 1.24 support for cloudstack provider
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/testdata/cluster_1_25_cloudstack.yaml
  pkg/providers/cloudstack/cloudstack_test.go
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/cloudstack_test.go
  test/framework/cloudstack.go
Labels: approved, lgtm, size/XL

#5888 Add missing unit tests for CloudStacks needs template detection
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
Labels: approved, lgtm, size/L

#5896 Update etcdadm-controller to v1.0.6-rc3
  go.mod
  go.sum
Labels: approved, lgtm, size/S

#5777 Isolate cluster upgrades for management and workload clusters
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  controllers/cluster_controller_test_test.go
  pkg/api/v1alpha1/cluster_types.go
Labels: approved, lgtm, size/L

#5902 Move force cleanup of bootstrap cluster after preflight validations
  pkg/task/task.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/M

#5906 Skipping packages tests for better results
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/S

#5900 enable cloudstack flc
  pkg/api/v1alpha1/cloudstackdatacenterconfig_webhook.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_webhook_test.go
  pkg/clustermanager/eksa_installer.go
  pkg/clustermanager/eksa_installer_test.go
Labels: approved, lgtm, size/M

#5909 changing example keys in doc to not get caught by appsec scans
  docs/content/en/docs/reference/packagespec/credential-provider-package/v0.1.0.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#5912 Reduce the number of concurrent test runners for Cloudstack Provider
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#5904 Add CloudStack API e2e tests
  internal/pkg/api/cloudstack.go
  test/e2e/cloudstack_test.go
  test/e2e/cloudstack_upgrade.go
  test/framework/cloudstack.go
  test/framework/cluster.go
  test/framework/cluster/validations/cloudstack.go
  test/framework/cluster/validations/cloudstack_test.go
  test/framework/flux.go
  test/framework/multicluster.go
Labels: approved, lgtm, size/XL

#5913 add e2e cloudstack aws iam and oidc
  pkg/executables/executables.go
  test/e2e/cloudstack_test.go
  test/framework/awsiam.go
  test/framework/cluster.go
  test/framework/oidc.go
  test/framework/workload.go
Labels: approved, lgtm, size/L

#5908 Skip tests with known failures and limit the concurrent test runs for Cloudstack provider
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#5561 Implement skip Cilium upgrade E2Es
  internal/pkg/api/cluster.go
  pkg/networking/cilium/installation.go
  pkg/networking/cilium/reconciler/fetch.go
  pkg/networking/cilium/reconciler/reconciler.go
  test/e2e/docker_test.go
  test/framework/cilium.go
  test/framework/cluster.go
  test/framework/cluster/validations/cluster.go
  test/framework/clustervalidator.go
  test/framework/multicluster.go
  test/framework/release_versions.go
  test/framework/workload.go
Labels: approved, lgtm, size/XL

#5910 Patch incorrect CloudStack upgrade comparison
  pkg/providers/cloudstack/machinetemplate.go
  pkg/providers/cloudstack/testdata/test_worker_spec.yaml
  pkg/providers/cloudstack/workers_test.go
Labels: approved, lgtm, size/XL, blocker

#5610 Update ADOT e2e log comparison message
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#5914 Only move management cluster objects during management cluster upgrade
  internal/aws-sdk-go-v2/service/snowballdevice/doc.go
  internal/test/timer.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/clustermanager/retrier_client.go
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
  test/e2e/cloudstack_upgrade.go
  test/e2e/constants.go
Labels: approved, lgtm, size/XL

#5928 update release branch name in makefile
  Makefile
Labels: approved, lgtm, size/XS

#5926 Skip tinkerbell tests that cannot be run in CI
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/XS

#5918 Add warning to deprecate disableCSI through CLI
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/S, blocker

#5930 Reuse same IP Manager for all tinkerbell tests
  internal/test/e2e/ipmanager.go
  internal/test/e2e/run.go
Labels: approved, lgtm, size/S

#5922 Improve upgrade doc
  docs/content/en/docs/tasks/cluster/cluster-upgrades/baremetal-upgrades.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
Labels: approved, lgtm, size/M, area/docs, documentation

#5933 Patch skip Cilium upgrade tests
  test/e2e/docker_test.go
  test/framework/workload.go
Labels: approved, lgtm, size/S

#5935 Remove commented code
  test/framework/workload.go
Labels: approved, lgtm, size/XS

#5936 trigger staging bundle 0.16
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#5915 add flc cloudstack doc
  docs/content/en/docs/getting-started/production-environment/cloudstack-getstarted.md
  docs/content/en/docs/tasks/cluster/cluster-scale/cloudstack-scale.md
  docs/content/en/docs/tasks/cluster/cluster-terraform.md
Labels: approved, lgtm, size/M, area/docs, documentation

#5929 Add docs to mention 1.27 support
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/nutanix-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/clusterspec/baremetal.md
  docs/content/en/docs/reference/clusterspec/cloudstack.md
  docs/content/en/docs/reference/clusterspec/nutanix.md
  docs/content/en/docs/reference/clusterspec/snow.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
  docs/content/en/docs/reference/support/support-versions.md
  docs/content/en/docs/tasks/cluster/cluster-iam-auth.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
Labels: approved, lgtm, size/M, area/docs, documentation

#5687 Add auto-certs-renewal design doc
  designs/auto-certs-renewal.md
Labels: approved, lgtm, size/L

#5943 Fix small typos in docs
  docs/content/en/docs/tasks/cluster/cluster-scale/baremetal-scale.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades/baremetal-upgrades.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#5945 trigger staging cli 0.16
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5927 Add documentation for deprecating disableCSI
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/reference/changelog.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
Labels: approved, lgtm, size/S, area/docs, documentation

#5923 Improve CloudStack E2E template selection logic
  pkg/executables/cmk.go
  pkg/executables/cmk_test.go
  test/framework/cloudstack.go
  test/framework/executables.go
  test/framework/template.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#5954 Update Cloudstack e2e CIDR for release
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#5955 prod bundle release
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#5956 Remove invalid update availability zone API test
  test/e2e/cloudstack_upgrade.go
Labels: approved, lgtm, size/M
