Repository aws/eks-anywhere, pull requests merged in 2023-01, with the labels that each got.

#4537 Update vSphere api test to use new structure
  test/e2e/multiple_worker_node_groups_test.go
  test/e2e/upgrade_test.go
  test/framework/cluster.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/M

#4543 Ignore kubeadm manifest preflight for ubuntu snow
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/objects_test.go
  pkg/providers/snow/testdata/expected_results_main_cp.yaml
Labels: approved, lgtm, size/M

#4545 Specify imageLookupBaseOS as bottlerocket when using BR for snow
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/objects_test.go
  pkg/providers/snow/snow_test.go
  pkg/providers/snow/testdata/expected_results_main_cp_bottlerocket.yaml
  pkg/providers/snow/testdata/expected_results_main_cp_ubuntu.yaml
  pkg/providers/snow/testdata/expected_results_main_md_bottlerocket.yaml
  pkg/providers/snow/testdata/expected_results_main_md_ubuntu.yaml
Labels: approved, lgtm, size/L

#4542 Add feature flag for kubernetes 1.25 support
  pkg/api/v1alpha1/cluster_types.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
Labels: approved, lgtm, size/M

#4547 Add snowippool crd and register webhook
  config/crd/kustomization.yaml
  config/manifest/eksa-components.yaml
  manager/main.go
  pkg/api/v1alpha1/snowippool_test.go
  pkg/api/v1alpha1/snowippool_type.go
  pkg/clustermanager/eksa_installer_test.go
  pkg/clustermarshaller/clustermarshaller.go
  pkg/clustermarshaller/clustermarshaller_test.go
  pkg/clustermarshaller/testdata/expected_marshalled_snow.yaml
  pkg/providers/snow/snow_test.go
Labels: approved, lgtm, size/L

#4539 Add Docker API e2e test upgrading worker node for mgmt cluster
  test/e2e/multiple_worker_node_groups_test.go
  test/framework/clustervalidator.go
  test/framework/docker.go
Labels: approved, lgtm, size/M

#4549 Add snowippool rbac
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
  controllers/cluster_controller_legacy.go
Labels: approved, lgtm, size/S

#4516 Add Prometheus e2e update workflow
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  test/e2e/prometheus_test.go
  test/framework/awsiam.go
  test/framework/cluster.go
  test/framework/testdata/prometheus_package_deployment.yaml
  test/framework/testdata/prometheus_package_statefulset.yaml
Labels: approved, lgtm, size/L

#4548 Remove method from provider reconciler interface
  controllers/mocks/provider.go
  pkg/controller/clusters/registry.go
Labels: approved, lgtm, size/S

#4552 Make snow amiID optional
  config/crd/bases/anywhere.eks.amazonaws.com_snowmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/snowmachineconfig_types.go
  pkg/clustermarshaller/testdata/expected_marshalled_snow.yaml
Labels: approved, lgtm, size/XS

#4546 Tinkerbell reconciler skeleton code
  Makefile
  controllers/factory.go
  controllers/factory_test.go
  pkg/clusterapi/apibuilder.go
  pkg/providers/tinkerbell/reconciler/main_test.go
  pkg/providers/tinkerbell/reconciler/mocks/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  test/e2e/awsiam_test.go
  test/e2e/upgrade_test.go
Labels: approved, lgtm, size/L

#4559 Updating versions in package list
  docs/content/en/docs/tasks/packages/_index.md
Labels: approved, lgtm, size/S, documentation

#4556 Move user back home after image-builder install
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, ok-to-test, size/XS, documentation

#4564 Fix prometheus e2e test file
  test/framework/testdata/prometheus_package_deployment.yaml
Labels: approved, lgtm, size/XS

#4550 update-bundle-golden-files
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#4562 Replaces *testing.T with framework.T implementations
  test/framework/cluster.go
  test/framework/envars.go
  test/framework/executables.go
  test/framework/testingt.go
  test/framework/vspherecsi.go
Labels: approved, lgtm, size/L

#4567 E2E Tagging busybox image with tag for consistency
  test/framework/testdata/hpa_busybox.yaml
Labels: approved, lgtm, size/XS

#4558 Vsphere e2e - Labels and Taints
  test/e2e/vsphere_workload_api_test.go
  test/e2e/workload_api_test.go
Labels: approved, lgtm, size/L

#4570 Fix snow bottlerocket kube scheduler and controller-manager crash during upgrade
  pkg/clusterapi/apibuilder.go
  pkg/clusterapi/apibuilder_test.go
  pkg/clusterapi/bottlerocket.go
  pkg/clusterapi/bottlerocket_test.go
  pkg/clusterapi/identity_test.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/testdata/expected_results_main_cp_bottlerocket.yaml
Labels: approved, lgtm, size/L

#4571 Update vSphere API flux test name
  test/e2e/workload_api_flux_test.go
Labels: approved, lgtm, size/XS

#4569 Move Tinkerbell datacenter config validations
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/validate.go
Labels: approved, lgtm, size/M

#4560 Add docker e2e api tests workload cluster k8s upgrade, taints and labels
  test/e2e/multiple_worker_node_groups_test.go
  test/e2e/workload_api_test.go
  test/framework/cloudstack.go
  test/framework/cluster.go
  test/framework/docker.go
  test/framework/nutanix.go
  test/framework/snow.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
  test/framework/workload.go
Labels: approved, lgtm, size/L

#4572 Refactor package E2E
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#4576 Remove snow provider feature gate
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
  pkg/features/features.go
  pkg/providers/validator/validate.go
  pkg/providers/validator/validate_test.go
  pkg/validations/createcluster/createcluster.go
Labels: approved, lgtm, size/M

#4578 Update gold file again
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/M

#4580 Update snowmachineconfig defaults for generate clusterconfig cmd
  internal/pkg/api/snowmachines.go
  pkg/api/v1alpha1/snowmachineconfig.go
  pkg/api/v1alpha1/snowmachineconfig_test.go
Labels: approved, lgtm, size/S

#4587 Changing emissary version in docs to correct version
  docs/content/en/docs/reference/packagespec/_index.md
  docs/content/en/docs/reference/packagespec/emissary/v3.0.0.md
  docs/content/en/docs/reference/packagespec/emissary/v3.3.0.md
Labels: approved, lgtm, size/S, documentation

#4577 Add Docker API E2E tests for scaling nodes and worker node groups
  test/e2e/workload_api_test.go
Labels: approved, lgtm, size/M

#4591 Use https to download plantuml
  designs/Dockerfile
Labels: approved, lgtm, size/XS

#4420 Add Copy packages command for registry to registry image and chart copy
  Makefile
  cmd/eksctl-anywhere/cmd/copy.go
  cmd/eksctl-anywhere/cmd/copypackages.go
  go.mod
  go.sum
  pkg/registry/artifact.go
  pkg/registry/artifact_test.go
  pkg/registry/cache.go
  pkg/registry/cache_test.go
  pkg/registry/certificates.go
  pkg/registry/certificates_test.go
  pkg/registry/client.go
  pkg/registry/client_test.go
  pkg/registry/copy.go
  pkg/registry/copy_test.go
  pkg/registry/credentials.go
  pkg/registry/credentials_test.go
  pkg/registry/mocks/repository.go
  pkg/registry/mocks/storage.go
  pkg/registry/storage.go
  pkg/registry/testdata/config.json
  pkg/registry/testdata/empty/config.json
  pkg/registry/testdata/harbor.eksa.demo.crt
  release/api/v1alpha1/artifact_types.go
  release/api/v1alpha1/artifact_types_test.go
Labels: approved, lgtm, size/XXL

#4592 Fix snow flaky test
  pkg/providers/snow/snow_test.go
Labels: approved, lgtm, size/S

#4595 Remove vspheredatacenter feature gate check in validation webhook
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook.go
Labels: approved, lgtm, size/XS

#4573 Add validations webhook for Tinkerbell Datacenter config
  pkg/api/v1alpha1/tinkerbelldatacenterconfig.go
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_types.go
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_types_test.go
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_webhook.go
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_webhook_test.go
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/validate.go
  test/e2e/multiple_worker_node_groups_test.go
Labels: approved, lgtm, size/L

#4509 E2E metallb
  test/e2e/curated_packages_test.go
  test/e2e/metallb_test.go
  test/framework/awsiam.go
  test/framework/cluster.go
  test/framework/conformance.go
  test/framework/controlplaneNodes.go
  test/framework/flux.go
  test/framework/oidc.go
  test/framework/vspherecsi.go
  test/framework/wait.go
  test/framework/workerNodes.go
  test/framework/workload.go
Labels: approved, lgtm, size/XL

#4451 Enrich registry mirror struct with auth and cert
  pkg/clusterapi/registry_mirror.go
  pkg/curatedpackages/config/awssecret.yaml
  pkg/curatedpackages/config/secrets.yaml
  pkg/curatedpackages/mocks/installer.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/testdata/awssecret_defaultregion.yaml
  pkg/curatedpackages/testdata/awssecret_test.yaml
  pkg/curatedpackages/testdata/awssecret_test_empty.yaml
  pkg/curatedpackages/testdata/values_empty.yaml
  pkg/curatedpackages/testdata/values_empty_awssecret.yaml
  pkg/curatedpackages/testdata/values_empty_registrymirrorsecret.yaml
  pkg/curatedpackages/testdata/values_test.yaml
  pkg/dependencies/factory.go
  pkg/executables/helm.go
  pkg/executables/helm_test.go
  pkg/executables/kind.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/vsphere/template.go
  pkg/registrymirror/registrymirror.go
  pkg/registrymirror/registrymirror_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/XL

#4596 Add validation for management cluster referenced in workload cluster spec to be valid
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/createvalidations/preflightvalidations_test.go
  pkg/validations/upgradevalidations/immutableFields.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
Labels: approved, lgtm, size/L

#4598 Fix upgrade skip when removing device from snowmachine devices slice
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
Labels: approved, lgtm, size/M

#4563 Build Tinkerbell datacenter controller
  controllers/factory.go
  controllers/factory_test.go
  controllers/tinkerbell_datacenter_controller.go
  controllers/tinkerbell_datacenter_controller_test.go
Labels: approved, lgtm, size/M

#4574 Update worker node validation for API e2e tests
  test/e2e/workload_api_test.go
  test/framework/cluster.go
  test/framework/clustervalidator.go
Labels: approved, lgtm, size/L

#4606 prefer os.ReadFile, as it's not deprecated
  pkg/registry/certificates.go
Labels: approved, lgtm, size/XS

#4607 Fixes a platform-dependent test
  pkg/registry/credentials_test.go
Labels: approved, lgtm, size/XS

#4608 Add sshkeyname check in snowmachineconfig validation webhook
  pkg/api/v1alpha1/snowmachineconfig_types.go
  pkg/api/v1alpha1/snowmachineconfig_webhook.go
  pkg/api/v1alpha1/snowmachineconfig_webhook_test.go
Labels: approved, lgtm, size/M

#4597 Add bundle and charts to `copy packages`
  cmd/eksctl-anywhere/cmd/copypackages.go
  cmd/eksctl-anywhere/cmd/downloadimages.go
  cmd/eksctl-anywhere/cmd/import_images.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/packagereader_test.go
  pkg/curatedpackages/reader.go
  pkg/curatedpackages/testdata/packages-bundle.yaml
  pkg/registry/artifact.go
  pkg/registry/cache.go
  pkg/registry/cache_test.go
  pkg/registry/client.go
  pkg/registry/client_test.go
  pkg/registry/mocks/storage.go
  pkg/registry/storage.go
Labels: approved, lgtm, size/XL

#4612 Updating test name for Metallb Packages Test
  test/e2e/metallb_test.go
Labels: approved, lgtm, size/XS

#4603 Add docker API E2E test upgrade from latest minor release
  internal/pkg/api/cluster.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/workload_api_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#4615 Fix e2e tests for packages
  test/e2e/adot_test.go
  test/e2e/curated_packages_test.go
  test/e2e/harbor_test.go
  test/e2e/metallb_test.go
  test/e2e/prometheus_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/L

#4614 Update usage of control plane node role
  config/manager/manager.yaml
  config/manifest/eksa-components.yaml
  pkg/awsiamauth/config/aws-iam-authenticator.yaml
  pkg/awsiamauth/installer_test.go
  pkg/awsiamauth/template.go
  pkg/awsiamauth/testdata/InstallAWSIAMAuth-manifest.yaml
  pkg/awsiamauth/testdata/UpgradeAWSIAMAuth-manifest.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provder_and_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provider_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_disable_csi_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_with_auth_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
Labels: approved, lgtm, size/L

#4623 Fix validation where management cluster name is empty
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
Labels: approved, lgtm, size/S

#4621 Setup default ssh key based on cluster name and uuid for snow
  pkg/providers/snow/defaults.go
  pkg/providers/snow/defaults_test.go
  pkg/providers/snow/entry.go
  pkg/providers/snow/validator_test.go
Labels: approved, lgtm, size/L

#4609 Add Tinkerbell machine config validation webhook
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types_test.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_webhook.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_webhook_test.go
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/validate.go
Labels: approved, lgtm, size/L

#4630 Patch erroneous machine deployment state check on upgrade
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/M

#4579 VSphere Lifecycle E2E
  test/e2e/workload_api_test.go
  test/framework/cloudstack.go
  test/framework/cluster.go
  test/framework/clustervalidator.go
  test/framework/docker.go
  test/framework/nutanix.go
  test/framework/snow.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
  test/framework/vspherecsi.go
Labels: approved, lgtm, size/L

#4622 Add client processor for Tinkerbell datacenter config
  pkg/cluster/build.go
  pkg/cluster/tinkerbell.go
  pkg/cluster/tinkerbell_test.go
Labels: lgtm, size/M

#4390 Add run-gci target to make file
  Makefile
Labels: approved, lgtm, size/XS

#4635 Add tag for package bundle
  pkg/registry/client.go
  pkg/registry/copy.go
  pkg/registry/copy_test.go
  pkg/registry/mocks/storage.go
  pkg/registry/storage.go
Labels: approved, lgtm, size/M

#4604 Use concrete structs for govc devices.info
  .gitignore
  Makefile
  pkg/executables/govc.go
  pkg/executables/govc_test.go
Labels: approved, lgtm, size/L

#4646 Add Raymond to OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#4640 Add client processor for Tinkerbell machine config
  pkg/cluster/build.go
  pkg/cluster/tinkerbell.go
  pkg/cluster/tinkerbell_test.go
Labels: approved, lgtm, size/M

#4644 Trigger staging bundle release for v0.14.0
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#4628 Add initial 1.25 docker & VSphere e2e tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/README.md
  test/e2e/simpleflow_test.go
  test/e2e/upgrade_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/M

#4650 Bump triggers for staging CLI release v0.14.0
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#4642 adding watches for tinkerbell and docker configs
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
  controllers/cluster_controller_legacy.go
Labels: approved, lgtm, size/S

#4656 Removing setting provisioning field on the hardware metadata
  pkg/providers/tinkerbell/hardware/catalogue.go
  pkg/providers/tinkerbell/hardware/catalogue_hardware.go
Labels: approved, lgtm, size/XS

#4616 Add Docker API Gitops tests
  test/e2e/upgrade_from_latest_test.go
  test/e2e/workload_api_flux_test.go
  test/e2e/workload_api_test.go
  test/framework/flux.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#4653 Add snow in upgrade doc
  docs/content/en/docs/tasks/cluster/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
Labels: approved, lgtm, size/M, documentation

#4652 Add cluster spec doc for snow
  docs/content/en/docs/reference/clusterspec/snow.md
Labels: approved, lgtm, size/L, documentation

#4651 Add initial 1.25 tinkerbell e2e tests
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/simpleflow_test.go
  test/e2e/upgrade_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/M

#4662 Add snow in artifacts doc
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/S, documentation

#4663 Bump for prod bundle release
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#4664 downgrading helm version for release
  release/go.mod
  release/go.sum
Labels: approved, lgtm, size/S

#4665 Bump version for production cli release
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#4660 Add more e2e test coverage for Snow
  internal/pkg/api/snow.go
  internal/pkg/api/snowmachines.go
  test/e2e/awsiam_test.go
  test/e2e/flux_test.go
  test/e2e/labels_test.go
  test/e2e/oidc_test.go
  test/e2e/snow_upgrade_test.go
  test/e2e/snow_workload_api_test.go
  test/e2e/taints_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/upgrade_test.go
  test/e2e/vsphere_disable_csi_test.go
  test/e2e/workload_clusters_test.go
  test/framework/cluster.go
  test/framework/snow.go
  test/framework/taints.go
Labels: approved, lgtm, size/L

#4649 Log changes of v0.14.0
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#4669 Cleanup Snow feature toggle
  pkg/features/features.go
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/labels_test.go
  test/e2e/multiple_worker_node_groups_test.go
  test/e2e/oidc_test.go
  test/e2e/proxy_test.go
  test/e2e/simpleflow_test.go
  test/e2e/taints_test.go
  test/e2e/upgrade_test.go
Labels: approved, lgtm, size/M

#4674 Copy the package bundle once
  pkg/curatedpackages/reader.go
Labels: approved, lgtm, size/XS

#4679 Update changelog
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#4676 Add more 1.25 e2e tests
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/flux_test.go
  test/e2e/labels_test.go
  test/e2e/oidc_test.go
  test/e2e/proxy_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/stackedetcd_test.go
  test/e2e/taints_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/upgrade_test.go
Labels: approved, lgtm, size/L

#4682 Update docs version for release 0.14
  docs/config.toml
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/S, documentation

#4685 Update homebrew version
  release/pkg/operations/bundle_release_test.go
  release/pkg/test/testdata/release-0.13-bundle-release.yaml
  release/pkg/test/testdata/release-0.14-bundle-release.yaml
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XXL, documentation

#4689 Bump homebrew version
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#4675 Skip all Snow e2e tests
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/S

#4657 Add IP validator for tinkerbell reconciler
  controllers/factory.go
  pkg/cluster/tinkerbell.go
  pkg/providers/tinkerbell/reconciler/mocks/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#4678 Update changelog for packages
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#4693 Update preKubeadmCommands for Nutanix
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/config/md-template.yaml
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/expected_results_autoscaling_md.yaml
Labels: approved, lgtm, ok-to-test, size/XS

#4695 Add buildspec for Snow E2E test
  cmd/integration_test/build/buildspecs/snow-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
Labels: approved, lgtm, size/M

#4677 Bump oras modules and remove containerd replace
  go.mod
  go.sum
  release/go.mod
  release/go.sum
  test/e2e/tools/eks-anywhere-test-tool/go.sum
Labels: approved, lgtm, size/L

#4701 Bump helm dependency in release module
  go.mod
  go.sum
  release/go.mod
  release/go.sum
Labels: approved, lgtm, size/XL

#4696 Add mention of the copy packages command
  docs/content/en/docs/reference/clusterspec/optional/registrymirror.md
Labels: approved, lgtm, size/XS, documentation

#4687 Remove unused manifest reader interface
  Makefile
  cmd/eksctl-anywhere/cmd/copypackages.go
  pkg/curatedpackages/mocks/packagereader.go
  pkg/curatedpackages/packagereader_test.go
  pkg/curatedpackages/reader.go
Labels: approved, lgtm, size/L

#4705 Add feature flag back in 1.25 tests
  test/e2e/docker_test.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/S

#4694 Gitops Tests for vSphere lifecycle
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/L

#4714 Updating curated packages e2e test names to new regex
  internal/test/e2e/packages.go
  test/e2e/docker_test.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/XS

#4690 adding external etcd unsupported for Tinkerbell check
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
Labels: approved, lgtm, size/M

#4718 Fix test names in skipped tests list
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/S

#4551 Remove TODO that is not going to happen
  go.mod
Labels: approved, lgtm, size/XS

#4720 Fix registry tests for people with registries
  pkg/curatedpackages/packagecontrollerclient_test.go
Labels: approved, lgtm, size/XS

#4673 adding Tinkerbell watches to legacy cluster controller
  controllers/cluster_controller_legacy.go
Labels: approved, lgtm, size/XS

#4654 Update e2e tests for Nutanix
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  test/e2e/conformance_test.go
  test/e2e/nutanix_test.go
  test/framework/nutanix.go
Labels: approved, lgtm, ok-to-test, size/L

#4726 Fix prometheus e2e
  test/e2e/prometheus.go
Labels: approved, lgtm, size/XS

#4727 Add option to override default nodeStartupTimeout in machine health c…
  cmd/eksctl-anywhere/cmd/constants.go
  cmd/eksctl-anywhere/cmd/options.go
  pkg/clusterapi/machine_health_check.go
  pkg/clusterapi/machine_health_check_test.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
Labels: approved, lgtm, size/M

#4732 Use clearer make targets for e2e binary builds
  Makefile
  cmd/integration_test/build/buildspecs/build-eks-a-cli.yml
  test/e2e/README.md
Labels: approved, lgtm, size/M

#4735 Use new binary build recipe in E2E cleanup make target
  Makefile
Labels: size/XS

#4733 Skip Nutanix 1.25 packages e2e tests
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#4729 Update FAQ with cost and ECS comparison
  docs/content/en/docs/reference/faq/_index.md
Labels: approved, lgtm, ok-to-test, size/S, documentation

#4734 Add Tinkerbell Boots in Docker on admin machine env var:
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
Labels: kind/enhancement, approved, lgtm, size/XS, area/providers/tinkerbell, team/providers

#4737 Remove step to ValidateFlux in LatestMinorRelease tests
  test/e2e/upgrade_from_latest.go
Labels: approved, lgtm, size/XS

#4738 Update calls to CreateManagementClusterWithConfig
  test/e2e/curatedpackages.go
  test/e2e/emissary.go
  test/e2e/multicluster.go
Labels: approved, lgtm, size/XS

#4740 Fix support bundle doc
  docs/content/en/docs/reference/eksctl/_index.md
Labels: approved, lgtm, size/XS, documentation

#4745 Add e2e tests for vSphere clone mode
  internal/pkg/api/vsphere.go
  test/e2e/vsphere_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#4747 Remove reports section from Snow buildspec
  cmd/integration_test/build/buildspecs/snow-test-eks-a-cli.yml
Labels: approved, lgtm, size/S

#4648 Close controller dependencies before manager exits
  controllers/factory.go
  controllers/factory_test.go
  manager/main.go
Labels: approved, lgtm, size/M, documentation

#4752 Increase max retries when trying to build cluster validator
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#4728 Copy package tag charts with versions
  cmd/eksctl-anywhere/cmd/copypackages.go
  pkg/curatedpackages/reader.go
  pkg/registry/client.go
  pkg/registry/copy.go
  pkg/registry/copy_test.go
  pkg/registry/mocks/storage.go
  pkg/registry/storage.go
Labels: approved, lgtm, size/L

#4739 Add initial snow 1.25 tests
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/snow_test.go
  test/framework/snow.go
Labels: approved, lgtm, size/L

#4748 removing redundant control plane host check
  pkg/providers/tinkerbell/upgrade.go
Labels: approved, lgtm, size/XS

#4756 Fix Nutanix OIDC tests
  test/e2e/nutanix_test.go
Labels: approved, lgtm, size/S

#4766 Added 0.14 support info to versions page
  docs/content/en/docs/reference/support/support-versions.md
Labels: approved, lgtm, size/S, documentation

#4770 Update artifacts links in docs
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/S, documentation

#4717 Add Bottlerocket AMIs to bundle manifest
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets/archives/archives.go
  release/pkg/assets/config/bundle_release.go
  release/pkg/bundles/eksd.go
  release/pkg/filereader/file_reader.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.14-bundle-release.yaml
Labels: approved, lgtm, size/L

#4767 removing redundant cp host check for multiple providers
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/S

#4775 Update EKS-A Snow doc based on AWS Snow doc
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/getting-started/production-environment/snow-getstarted.md
  docs/content/en/docs/reference/clusterspec/snow.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
Labels: approved, lgtm, size/S, documentation

#4776 Add snow troubleshooting guide
  docs/content/en/docs/tasks/troubleshoot/troubleshooting.md
Labels: approved, lgtm, size/L, documentation

#4784 Revert Snow doc in release branch
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/getting-started/production-environment/snow-getstarted.md
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/clusterspec/snow.md
  docs/content/en/docs/reference/ports.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
  docs/content/en/docs/tasks/troubleshoot/troubleshooting.md
Labels: approved, lgtm, size/XL, documentation

#4777 Add EKS-A ARM64 binaries to release manifest
  cmd/integration_test/build/buildspecs/build-eks-a-cli.yml
  release/api/v1alpha1/release_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_releases.yaml
  release/pkg/bundles/eksctl-anywhere.go
  release/scripts/github-bundle-release.sh
  test/framework/releaseVersions.go
Labels: approved, lgtm, size/L

#4785 Fix variable substitution in buildspec
  cmd/integration_test/build/buildspecs/build-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#4667 Remove outdated information
  docs/content/en/docs/tasks/packages/troubleshoot.md
Labels: approved, lgtm, size/S, documentation

#4768 Add pointer to Nutanix getting started guide
  docs/content/en/docs/reference/nutanix/_index.md
Labels: approved, lgtm, size/XS, documentation

#4774 Reconcile CNI for Tinkerbell provider
  controllers/factory.go
  pkg/providers/tinkerbell/reconciler/mocks/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#4764 Generate tinkerbell control plane CAPI objects
  go.mod
  go.sum
  internal/test/envtest/environment.go
  pkg/providers/tinkerbell/controlplane.go
  pkg/providers/tinkerbell/controlplane_test.go
  pkg/providers/tinkerbell/machinetemplate.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/template_test.go
Labels: lgtm, size/XL

#4625 Refactor preflight validations so remediation steps can be printed
  pkg/validations/createcluster/createcluster.go
  pkg/validations/createcluster/createcluster_test.go
  pkg/validations/createcluster/mocks/createcluster.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/createvalidations/preflightvalidations_test.go
  pkg/validations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  pkg/workflows/create.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
Labels: approved, lgtm, size/L

#4790 Update ADOT docs to v0.25.0
  docs/content/en/docs/reference/packagespec/_index.md
  docs/content/en/docs/reference/packagespec/adot/v0.25.0.md
  docs/content/en/docs/tasks/packages/_index.md
  docs/content/en/docs/tasks/packages/adot/_index.md
Labels: approved, lgtm, size/L, documentation

#4792 Add `cleanup-vms` flag to nutanix e2e test
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#4795 Flatten arch array to string
  release/pkg/bundles/eksctl-anywhere.go
Labels: approved, lgtm, size/XS

#4791 Add rm vms command for Nutanix in eks-a-tool
  cmd/eks-a-tool/cmd/nutanix.go
  cmd/eks-a-tool/cmd/nutanixrm.go
  cmd/eks-a-tool/cmd/nutanixrmvms.go
Labels: approved, lgtm, size/M

#4797 Update packagecontroller install command for registry mirror
  cmd/eksctl-anywhere/cmd/common.go
Labels: approved, lgtm, size/XS

#4684 Add passing the insecure flag to packages
  pkg/curatedpackages/config/secrets.yaml
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/testdata/values_empty.yaml
  pkg/curatedpackages/testdata/values_empty_awssecret.yaml
  pkg/curatedpackages/testdata/values_empty_registrymirrorsecret.yaml
  pkg/curatedpackages/testdata/values_test.yaml
Labels: approved, lgtm, size/M

#4730 Create secrets for workload clusters
  pkg/curatedpackages/config/packagebundlecontroller.yaml
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/testdata/packagebundlectrl_registrymirror.yaml
  pkg/curatedpackages/testdata/packagebundlectrl_test.yaml
Labels: approved, lgtm, size/L

#4805 Revert "[release-0.14] Update packagecontroller install command for registry mirror"
  cmd/eksctl-anywhere/cmd/common.go
Labels: approved, lgtm, size/XS

#4804 Revert "Update packagecontroller install command for registry mirror"
  cmd/eksctl-anywhere/cmd/common.go
Labels: approved, lgtm, size/XS

#4803 Preserve old version of releases manifest for backwards compatibility
  release/api/v1alpha1/release_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_releases.yaml
  release/pkg/bundles/eksctl-anywhere.go
  release/pkg/test/testdata/release-0.14-bundle-release.yaml
  test/framework/releaseVersions.go
Labels: approved, lgtm, size/L
