Repository aws/eks-anywhere, pull requests merged in 2023-10, with the labels that each got.

#6751 Add diagrams to airgapped docs
  docs/content/en/docs/getting-started/airgapped/_index.md
  docs/static/images/airgap-arch.drawio
  docs/static/images/airgap-arch01.png
  docs/static/images/airgap-arch02.png
Labels: approved, lgtm, size/L, area/docs, documentation

#6670 Update vSphere Prereq Doc
  docs/content/en/docs/getting-started/vsphere/customize/vsphere-ovas.md
  docs/content/en/docs/getting-started/vsphere/vsphere-prereq.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6756 Add extra logs and increase verbosity of upgrade command for e2e tests
  pkg/cluster/wait.go
  pkg/cluster/wait_test.go
  pkg/clustermanager/applier.go
  test/framework/cluster.go
Labels: approved, lgtm, size/S

#6747 Refactor copy packages command to support regional ECR
  cmd/eksctl-anywhere/cmd/copypackages.go
  cmd/eksctl-anywhere/cmd/copypackages_test.go
  docs/content/en/docs/getting-started/airgapped/airgap-steps.md
  docs/content/en/docs/reference/eksctl/anywhere_copy.md
  docs/content/en/docs/reference/eksctl/anywhere_copy_packages.md
  go.mod
  go.sum
Labels: approved, lgtm, size/L, area/docs, documentation

#6763 Enable kindless management upgrade for cloudstack provider
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#6764 Waiting for control plane to be fully upgraded
  pkg/clusterapi/constants.go
  pkg/controller/clusters/clusterapi.go
  pkg/controller/clusters/clusterapi_test.go
Labels: approved, lgtm, size/L

#6761 Refactor registry tester to support aws config
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/regional_registry.go
  pkg/curatedpackages/regional_registry_test.go
Labels: approved, lgtm, size/L

#6768 Docker 1.28 E2E
  test/e2e/docker_test.go
Labels: approved, lgtm, size/L

#6760 Enable Audit Logs for Tinkerbell
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/controlplane_test.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/template_test.go
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_cert_bundles_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_kernel_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_ntp_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_settings_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_upgrade_cert_bundles_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_cp_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_cp_registry_mirror_with_auth.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_cp_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_awsiam.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_external_etcd.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_full_oidc.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_minimal_oidc.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_node_labels.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_node_taints.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_proxy.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_registry_mirror_with_auth.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node_skip_lb.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_stacked_etcd.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_disable_kube_vip.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_missing_ssh_keys.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_upgrade_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/expected_results_tinkerbell_pod_iam_config.yaml
  pkg/providers/tinkerbell/testdata/expected_results_ubuntu_ntp_config_cp.yaml
Labels: approved, lgtm, size/XXL

#6779 Enable Audit Logging in Tinkerbell Cluster [release-0.17]
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/controlplane_test.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/template_test.go
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_cert_bundles_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_kernel_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_ntp_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_settings_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_upgrade_cert_bundles_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_cp_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_cp_registry_mirror_with_auth.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_cp_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_awsiam.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_external_etcd.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_full_oidc.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_minimal_oidc.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_node_labels.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_node_taints.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_proxy.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_registry_mirror_with_auth.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node_skip_lb.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_stacked_etcd.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_disable_kube_vip.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_missing_ssh_keys.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_upgrade_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/expected_results_tinkerbell_pod_iam_config.yaml
  pkg/providers/tinkerbell/testdata/expected_results_ubuntu_ntp_config_cp.yaml
Labels: approved, lgtm, size/XXL

#6680 Validate Memory Usage for given resource pool for Vsphere provider
  pkg/executables/govc.go
  pkg/executables/govc_test.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/spec.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#6780 Fix Typos in Docker E2E
  test/e2e/docker_test.go
Labels: approved, lgtm, size/XS

#6771 Allow to configure gitOps during kindless management cluster
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
Labels: approved, lgtm, size/S

#6781 Verify the condition matches certain amount of times kindless upgrade
  pkg/cluster/wait.go
  pkg/cluster/wait_test.go
  pkg/clustermanager/applier.go
  pkg/clustermanager/applier_test.go
Labels: approved, lgtm, size/L

#6721 Copy Rufio Machine v1alpha1 types from upstream:
  internal/test/envtest/environment.go
  manager/main.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/rufio/machine.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/rufio/opts.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/rufio/zz_generated.deepcopy.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/workflow_types.go
  pkg/executables/kubectl.go
  pkg/providers/tinkerbell/hardware/catalogue.go
  pkg/providers/tinkerbell/hardware/catalogue_bmc.go
  pkg/providers/tinkerbell/hardware/catalogue_bmc_test.go
  pkg/providers/tinkerbell/hardware/kubereader.go
  pkg/providers/tinkerbell/hardware/kubereader_test.go
  pkg/providers/tinkerbell/hardware/yaml_test.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/tinkerbell/upgrade_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/XL

#6772 Add 1.28 CloudStack E2E
  test/e2e/cloudstack_test.go
Labels: approved, lgtm, size/XL

#6773 Add 1.28 Vsphere E2E
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/XL

#6774 Add 1.28 Tinkerbell E2E
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/XL

#6775 Add 1.28 Nutanix E2E
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  test/e2e/nutanix_test.go
Labels: approved, lgtm, size/L

#6777 1 28 snow
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/snow_test.go
Labels: approved, lgtm, size/L

#6785 Remove vsphere-disable-udp-offload DS
  pkg/providers/vsphere/config/ethtool_daemonset.yaml
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#6788 Fix Tinkerbell E2E ENV
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/vsphere_test.go
  test/framework/nutanix.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/M

#6792 Update tinkerbell e2e env
  test/e2e/nutanix_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/XS

#6778 Clarify EKS-A version support for enterprise customer
  docs/content/en/docs/concepts/support-versions.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6789 cli validate cluster name in cmd and config
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/validations/input.go
  pkg/validations/input_test.go
Labels: lgtm, size/M

#6735 CLI changes for enabling modular upgrades for tinkerbell provider
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbellmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types_test.go
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/cluster.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/template_test.go
  pkg/providers/tinkerbell/testdata/cluster_osimage_machine_config.yaml
  pkg/providers/tinkerbell/testdata/cluster_osimage_machine_config_external_etcd.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cp_template.yaml
  pkg/providers/tinkerbell/testdata/expected_results_md_template.yaml
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/tinkerbell/upgrade_test.go
  pkg/providers/tinkerbell/validate.go
Labels: approved, lgtm, size/XXL

#6798 Use Correct Template in Tinkerbell E2E
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/XS

#6784 Update CLI to apply resources to using regular kubectl apply instead of with force
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
Labels: approved, lgtm, size/XS

#6803 Update Github organization for eksctl repository
  docs/content/en/docs/getting-started/install/_index.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6790 Add E2E for Cloudstack Etcd Encryption
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  go.mod
  go.sum
  internal/pkg/api/cluster.go
  internal/pkg/oidc/keys.go
  internal/pkg/oidc/server.go
  internal/pkg/oidc/token.go
  internal/test/e2e/etcdEncryption.go
  internal/test/e2e/setup.go
  pkg/api/v1alpha1/cluster_types.go
  test/e2e/cloudstack_test.go
  test/framework/config/aws-kms-encryption-provider.yaml
  test/framework/config/pod-identity-webhook.yaml
  test/framework/curatedpackages.go
  test/framework/etcdencryption.go
Labels: lgtm, size/XL

#6799 Strip comments from ssh key from the controller using mutating webhook
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_webhook.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_webhook_test.go
Labels: approved, lgtm, size/M

#6807 Fix Cloudstack Etcd encryption test
  internal/test/e2e/etcdEncryption.go
  test/framework/etcdencryption.go
Labels: approved, lgtm, size/XS

#6810 Trigger staging CLI release for v0.17.4
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6812 Trigger prod bundle release for v0.17.4
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6813 Trigger prod EKS-A release for v0.17.4
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6816 Baremetal Get Started Doc
  docs/content/en/docs/getting-started/baremetal/baremetal-getstarted.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6817 Update vsphere configurations doc
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6741 Rufio options
  cmd/eksctl-anywhere/cmd/aflag/aflag.go
  cmd/eksctl-anywhere/cmd/aflag/aflag_test.go
  cmd/eksctl-anywhere/cmd/aflag/cluster.go
  cmd/eksctl-anywhere/cmd/aflag/header.go
  cmd/eksctl-anywhere/cmd/aflag/header_test.go
  cmd/eksctl-anywhere/cmd/aflag/marker.go
  cmd/eksctl-anywhere/cmd/aflag/marker_test.go
  cmd/eksctl-anywhere/cmd/aflag/tinkerbell.go
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/flags.go
  cmd/eksctl-anywhere/cmd/flags/flag.go
  cmd/eksctl-anywhere/cmd/flags/tinkerbell.go
  cmd/eksctl-anywhere/cmd/generate_tinkerbell_template_config.go
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  cmd/eksctl-anywhere/cmd/generatehardware.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
  cmd/eksctl-anywhere/cmd/validatecreatecluster.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/hardware/catalogue_bmc.go
  pkg/providers/tinkerbell/hardware/catalogue_bmc_test.go
  pkg/providers/tinkerbell/hardware/catalogue_secret.go
  pkg/providers/tinkerbell/hardware/catalogue_secret_test.go
  pkg/providers/tinkerbell/hardware/csv.go
  pkg/providers/tinkerbell/hardware/csv_test.go
  pkg/providers/tinkerbell/hardware/machine.go
  pkg/providers/tinkerbell/hardware/validator.go
  pkg/providers/tinkerbell/hardware/validator_test.go
  pkg/providers/tinkerbell/hardware/yaml.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/upgrade.go
Labels: approved, lgtm, size/XXL

#6806 Added an additional check to make sure etcdadm and capi clusters are available
  pkg/api/v1alpha1/condition_consts.go
  pkg/controller/clusters/status.go
  pkg/controller/clusters/status_test.go
Labels: approved, lgtm, size/L

#6818 Enable kindless upgrade management feature for baremetal
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#6814 Add changelog for release v0.17.4
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6827 Update EKS-A version in brew to v0.17.4
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.17-bundle-release.yaml
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/M

#6815 Remove 1.23 E2E
  test/e2e/cloudstack_test.go
  test/e2e/conformance_test.go
Labels: approved, lgtm, size/XL

#6829 Trigger EKS-A brew upgrade
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.17-bundle-release.yaml
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XXL

#6805 Controller changes to enable modular upgrades for tinkerbell provider
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbellmachineconfigs.yaml
  internal/test/testdata.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults_test.go
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/template_test.go
  pkg/providers/tinkerbell/testdata/cluster_bottlerocket_boot_settings_config.yaml
  pkg/providers/tinkerbell/testdata/cluster_bottlerocket_cert_bundles_config.yaml
  pkg/providers/tinkerbell/testdata/cluster_bottlerocket_kernel_settings_config.yaml
  pkg/providers/tinkerbell/testdata/cluster_bottlerocket_ntp_config.yaml
  pkg/providers/tinkerbell/testdata/cluster_bottlerocket_settings_config.yaml
  pkg/providers/tinkerbell/testdata/cluster_osimage_machine_config.yaml
  pkg/providers/tinkerbell/testdata/cluster_osimage_machine_config_external_etcd.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_awsiam.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_disable_kube_vip.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_external_etcd.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_full_oidc.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_minimal_oidc.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_mismatched_external_etcd.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_mismatched_machine_config.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_missing_ssh_keys.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_multiple_node_groups.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_node_labels.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_node_taints.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_proxy.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_registry_mirror_with_auth.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_single_node.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_single_node_skip_lb.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_stacked_etcd.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_stacked_upgrade_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_worker_version.yaml
  pkg/providers/tinkerbell/testdata/cluster_ubuntu_ntp_config.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_cert_bundles_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_cert_bundles_config_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_kernel_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_kernel_config_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_ntp_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_ntp_config_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_settings_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_settings_config_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node_skip_lb.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_disable_kube_vip.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cp_template.yaml
  pkg/providers/tinkerbell/testdata/expected_results_md_template.yaml
  pkg/providers/tinkerbell/testdata/expected_results_ubuntu_ntp_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_ubuntu_ntp_config_md.yaml
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/upgrade_test.go
  pkg/providers/tinkerbell/validate.go
Labels: approved, lgtm, size/XL

#6831 Add support for etcd encryption in vSphere
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/testdata/cluster_ubuntu_etcd_encryption.yaml
  pkg/providers/vsphere/testdata/expected_results_ubuntu_etcd_encryption_cp.yaml
  pkg/providers/vsphere/vsphere_test.go
  test/e2e/vsphere_test.go
  test/framework/etcdencryption.go
Labels: approved, lgtm, size/XXL

#6826 Add e2e for oob configuration
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  internal/test/e2e/oob.go
  internal/test/e2e/setup.go
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
  test/framework/cluster.go
  test/framework/oob.go
Labels: approved, lgtm, size/L

#6821 Remove patch for bundlesRef and ClusterSpecGenerate struct
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/clustermarshaller/testdata/expected_marshalled_cluster.yaml
  pkg/clustermarshaller/testdata/expected_marshalled_cluster_flux_and_gitops.yaml
  pkg/clustermarshaller/testdata/expected_marshalled_cluster_flux_config.yaml
  pkg/clustermarshaller/testdata/expected_marshalled_snow.yaml
  pkg/gitops/flux/files_test.go
  pkg/gitops/flux/testdata/cluster-config-default-path-management.yaml
  pkg/gitops/flux/testdata/cluster-config-default-path-workload.yaml
  pkg/gitops/flux/testdata/cluster-config-user-provided-path.yaml
Labels: approved, lgtm, size/M

#6840 Bump E2E tests that used 1.23
  test/e2e/cloudstack_test.go
Labels: approved, lgtm, size/L

#6841 Fix etcd encryption test
  test/framework/config/aws-kms-encryption-provider.yaml
Labels: approved, lgtm, size/XS

#6823 OCI namespaces docs addition/clarification
  docs/content/en/docs/getting-started/optional/registrymirror.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6830 Remove 1.28 feature flag and set it as default version
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#6839 Update e2e constants kubeVersion to remove 1.23 and add 1.28
  test/e2e/constants.go
Labels: approved, lgtm, size/XS

#6842 Bare Metal config page fix
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6838 Management cluster kindless upgrade fixes
  pkg/clustermanager/applier.go
  pkg/workflows/management/gitops.go
  pkg/workflows/management/install_new_components.go
  pkg/workflows/management/upgrade_cluster.go
Labels: approved, lgtm, size/M

#6828 Validate worker node kubernetes version with the template name
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, size/L

#6846 Enable kindless management cluster upgrade for snow provider
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#6822 Add RHEL8 and RHEL9 fix for validation webhook and tests for Nutanix
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  pkg/api/v1alpha1/nutanixmachineconfig.go
  test/e2e/nutanix_test.go
  test/framework/nutanix.go
  test/framework/os_versions.go
Labels: approved, lgtm, ok-to-test, size/XL

#6849 add sp1999 to OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#6852 Prune OWNERs file
  OWNERS
Labels: approved, lgtm, size/S

#6850 Add template name and k8s version check for all cloudstack machines
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, size/M

#6851 Use bmclib directly:
  controllers/cluster_controller_test.go
  go.mod
  go.sum
  internal/test/envtest/config/rufio-crds.yaml
  internal/test/envtest/environment.go
  test/framework/bmc/bmc.go
  test/framework/cluster.go
Labels: approved, lgtm, size/XL

#6845 Add docs to mention 1.28 support
  docs/content/en/docs/concepts/support-versions.md
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/cloudstack/cloudstack-getstarted.md
  docs/content/en/docs/getting-started/cloudstack/cloudstack-preparation.md
  docs/content/en/docs/getting-started/docker/_index.md
  docs/content/en/docs/getting-started/nutanix/nutanix-getstarted.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/snow/snow-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-getstarted.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
  docs/content/en/docs/osmgmt/artifacts.md
  docs/content/en/docs/reference/eksctl/anywhere_list_packages.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6853 Add regional ECR map
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/regional_registry.go
Labels: approved, lgtm, size/M

#6859 Enable kindless upgrade feature for all the providers
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#6857 Automate envtest setup from tests if not configured
  Makefile
  internal/test/envtest/environment.go
Labels: approved, lgtm, size/M

#6862 Trigger staging bundle release for 0.18.0 [release-0.18]
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6864 Fix BR etcd backup and restore page
  docs/content/en/docs/clustermgmt/etcd-backup-restore/bottlerocket-etcd-backup.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6866 Trigger staging CLI release for v0.18.0
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6854 Add docs for recent image-builder enhancements
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, size/L, area/docs, documentation

#6861 Trigger staging bundle release for 0.18.0
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6872 Fix vsphere upgrade kubernetes flux e2e
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/XS

#6873 Fix multi templates e2e
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/XS

#6874 Fix etcd-encryption for bottlerocket
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_encryption_config_cp.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_ubuntu_etcd_encryption_cp.yaml
  test/e2e/cloudstack_test.go
  test/e2e/vsphere_test.go
  test/framework/cluster.go
  test/framework/config/aws-kms-encryption-provider.yaml
  test/framework/etcdencryption.go
Labels: approved, lgtm, size/L

#6871 Add template name and uuid name check for Nutanix kindless feature
  pkg/providers/nutanix/testdata/cluster_nutanix_with_trust_bundle.yaml
  pkg/providers/nutanix/testdata/cluster_nutanix_with_upgrade_strategy_cp.yaml
  pkg/providers/nutanix/testdata/cluster_nutanix_with_upgrade_strategy_md.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-invalid-pe-cluster-pc.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-invalid-pe-cluster-random-name.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-multiple-machineconfigs.yaml
  pkg/providers/nutanix/testdata/eksa-cluster.yaml
  pkg/providers/nutanix/validator.go
  pkg/providers/nutanix/validator_test.go
Labels: approved, lgtm, size/L

#6868 E2e/modular upgrades
  internal/pkg/api/cluster.go
  internal/pkg/api/tinkerbell.go
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
  test/e2e/upgrade.go
  test/framework/cluster/validations/cluster.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/L

#6882 Clear Status on Docker Reconcile
  pkg/providers/docker/reconciler/reconciler.go
Labels: approved, lgtm, size/XS

#6884 Increase timeout to wait for cluster generations to be same
  pkg/clustermanager/applier.go
Labels: approved, lgtm, size/XS

#6879 Remove kindless upgrade feature flag for all the providers
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  manager/main.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/api/v1alpha1/vspheremachineconfig_webhook.go
  pkg/api/v1alpha1/vspheremachineconfig_webhook_test.go
  pkg/awsiamauth/reconciler/reconciler_test.go
  pkg/clustermanager/eksa_installer.go
  pkg/clustermanager/eksa_installer_test.go
  pkg/controller/clusters/clusterapi.go
  pkg/controller/clusters/clusterapi_test.go
  pkg/features/features.go
  pkg/providers/cloudstack/reconciler/reconciler_test.go
  pkg/providers/docker/reconciler/reconciler_test.go
  pkg/providers/snow/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
  pkg/workflows/management/upgrade_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/XL

#6888 Remove experimentalSelfManagedUpgrade flag for management cluster controller
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
Labels: approved, lgtm, size/M

#6894 Fix latest minor version issue in docker skip cilium upgrade E2E
  test/e2e/docker_test.go
Labels: approved, lgtm, size/S

#6891 Update supported OS versions table
  docs/content/en/docs/osmgmt/overview.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6899 Add actions for vulnerability scans
  .github/workflows/vulnerability.yml
Labels: approved, lgtm, size/M

#6902 Revert "Set etcd url in cloud-config when external etcd is enabled"
  pkg/cluster/fetch_test.go
  pkg/cluster/spec.go
  pkg/clusterapi/apibuilder_test.go
  pkg/clusterapi/etcd.go
  pkg/clusterapi/etcd_test.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/template.go
  pkg/providers/cloudstack/testdata/expected_results_affinity_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_availability_zones_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp_kubernetes_version.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_rollout_strategy_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_insecure_skip_and_cert_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_insecure_skip_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_resourceids_cp.yaml
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/docker/testdata/capd_valid_full_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/docker/testdata/expected_results_mirror_with_auth_config_cp.yaml
  pkg/providers/docker/testdata/expected_results_mirror_with_cert_config_cp.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_expected_124onwards.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_pod_iam_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_taints_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_node_labels_cp_expected.yaml
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/snow_test.go
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/controlplane_test.go
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/testdata/expected_results_diff_template_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provder_and_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provider_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_with_auth_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/testdata/expected_results_ubuntu_etcd_encryption_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_ubuntu_ntp_config_cp.yaml
Labels: approved, lgtm, size/L

#6904 Fix dependency-review for commits in main
  .github/workflows/vulnerability.yml
Labels: approved, lgtm, size/XS

#6906 Configure dependabot to keep dependencies updated
  .github/dependabot.yaml
Labels: approved, lgtm, size/M

#6925 Fivulnerability scan for scheduled triggers
  .github/workflows/vulnerability.yml
Labels: approved, lgtm, size/XS

#6923 Trigger prod bundle release for v0.18.0
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6929 Update Nutanix docs to mention RHEL support
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6924 Trigger prod EKS-A release for v0.18.0
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6933 Fix doc errors in concepts and getting started
  docs/content/en/docs/concepts/architecture.md
  docs/content/en/docs/getting-started/vsphere/overview.md
  docs/developer/development-lifecycle.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6932 Skip flaky TestReaderReadFileHTTPSProxySuccess
  pkg/files/reader_test.go
Labels: approved, lgtm, size/XS

#6928 Add etcd encryption docs
  docs/content/en/docs/getting-started/optional/etcdencryption.md
  docs/layouts/shortcodes/details.html
Labels: approved, lgtm, size/L, area/docs, documentation

#6844 0.18.0 Changelog
  docs/content/en/docs/concepts/support-versions.md
  docs/content/en/docs/osmgmt/artifacts.md
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6937 Add more info about kindless in the changelog
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6934 Update supported EKS-D release channels in image-builder docs
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6905 Doc changes for modular upgrades in Bare Metal
  docs/content/en/docs/clustermgmt/cluster-upgrades/baremetal-upgrades.md
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6941 bump docs site to 0.18
  docs/config.toml
Labels: approved, lgtm, size/XS, area/docs, documentation

#6944 Improve Nutanix image-builder docs
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6900 [release-0.18] Bump google.golang.org/grpc from 1.53.0 to 1.56.3
  go.mod
  go.sum
  release/go.mod
  release/go.sum
Labels: approved, lgtm, size/M
