Repository aws/eks-anywhere, pull requests merged in 2023-03, with the labels that each got.

#5097 Fix vsphere registry auth e2e tests
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/XS

#5095 Add missing Snow E2E tests to skip list
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#5093 v0.14.3 staging build
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#5096 Update Tinkerbell reconciler tests to use fake client
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
Labels: approved, lgtm, size/XS

#5106 Remove temporary TinkerbellUseDiskExtractorDefault feature gate
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
Labels: approved, lgtm, size/M

#5000 Disk Size Validation for bottlerocket with Vsphere provider
  pkg/executables/govc.go
  pkg/executables/govc_test.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/validator_test.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, ok-to-test, size/L

#5109 set a default region for PackageControllerClient
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/testdata/values_empty.yaml
  pkg/curatedpackages/testdata/values_empty_awssecret.yaml
Labels: approved, lgtm, size/M

#5086 register cloudstack datacenter reconciler
  controllers/cloudstack_datacenter_controller.go
  controllers/cloudstack_datacenter_controller_test.go
  controllers/factory.go
  controllers/factory_test.go
Labels: approved, lgtm, size/L

#5112 Prepare v0.14.3 CLI release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5118 Add subnet ID field to AMI docs
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/XS, documentation

#5120 Increase production CLI versions (v0.14.3)
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS, documentation

#4899 Add defaults for Tinkerbell Machine Config
  PROJECT
  config/manifest/eksa-components.yaml
  config/webhook/manifests.yaml
  pkg/api/v1alpha1/cloudstackdatacenterconfig_test.go
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types_test.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_webhook.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_webhook_test.go
  pkg/api/v1alpha1/vspheremachineconfig.go
  pkg/constants/constants.go
Labels: approved, lgtm, size/L

#5110 Add cloudstack mutation webhook for datacenter config
  PROJECT
  config/manifest/eksa-components.yaml
  config/webhook/manifests.yaml
  pkg/api/v1alpha1/cloudstackdatacenterconfig_webhook.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_webhook_test.go
Labels: approved, lgtm, size/M

#5125 Replace use of `k8s.gcr.io` with `registry.k8s.io`
  conformance/Makefile
  conformance/template/README.md.end
  test/framework/conformance.go
Labels: approved, lgtm, size/XS

#5108 Added airgapped instructions to the docs
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/getting-started/local-environment/_index.md
Labels: approved, lgtm, size/L, area/docs, documentation

#5133 Add v0.14.3 changelog
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/S, documentation

#5134 Update pod IRSA doc
  docs/content/en/docs/reference/clusterspec/optional/irsa.md
Labels: approved, lgtm, size/XS, documentation

#5130 Remove other reference to k8s.gcr.io
  pkg/executables/kubectl_test.go
  pkg/executables/testdata/kubectl_deployment.json
  pkg/executables/testdata/kubectl_deployments.json
  pkg/executables/testdata/kubectl_pods.json
Labels: approved, lgtm, size/M

#5135 Add v0.14.3 changelog (#5133)
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/S, documentation

#5144 Update Brew version to v0.14.3
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5146 Update Brew version to v0.14.3 (#5144)
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5138 Remove duplicate retry when getting workload cluster kubeconfig
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
Labels: approved, lgtm, size/S

#5128 Add validation to check for empty ssh keys
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_webhook_test.go
  pkg/providers/tinkerbell/cluster_spec_builder_test.go
Labels: approved, lgtm, size/M

#5139 Update docs around ports, protocols, and BMCs:
  docs/content/en/docs/reference/baremetal/bare-prereq.md
  docs/content/en/docs/reference/ports.md
Labels: approved, lgtm, size/S, documentation

#5066 Tinkerbell Scaling Upgrade Validation
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/cluster_spec_builder_test.go
  pkg/providers/tinkerbell/upgrade.go
Labels: approved, lgtm, size/L

#5126 Mention that Terraform is supported with Snow clusters
  docs/content/en/docs/tasks/cluster/cluster-terraform.md
Labels: approved, lgtm, size/XS, documentation

#5155 clusterctl backup deprecated
  docs/content/en/docs/tasks/troubleshoot/troubleshooting.md
Labels: approved, lgtm, size/XS, documentation

#5142 Clean up image pull backoff error
  docs/content/en/docs/tasks/packages/troubleshoot.md
Labels: approved, lgtm, size/S, documentation

#5148 Add package spec docs
  docs/content/en/docs/reference/clusterspec/optional/packages.md
Labels: approved, lgtm, size/L, documentation

#5152 Update setup-envtest dependency
  hack/tools/go.mod
  hack/tools/go.sum
Labels: approved, lgtm, size/M

#5163 Patch containerd version to 1.6.19
  go.mod
  go.sum
Labels: approved, lgtm, size/M

#5167 Update etcdadm provider modules to latest version
  go.mod
  go.sum
Labels: approved, lgtm, size/M

#5176 Remove snow from BR doc
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/XS, documentation

#5175 Improve envtest obj creation
  internal/test/envtest/client.go
Labels: approved, lgtm, size/S

#5092 Add a design proposal on adding CredentialRef to NutanixDatacenter
  designs/nutanix-datacenterconfig-credentialref.md
Labels: approved, lgtm, ok-to-test, size/M

#5166 Update docs around Tinkerbell:
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/content/en/docs/reference/baremetal/bare-custom-hookos.md
  docs/content/en/docs/reference/baremetal/bare-preparation.md
  docs/content/en/docs/reference/baremetal/bare-prereq.md
  docs/content/en/docs/reference/baremetal/netbooting-and-tinkerbell.md
  docs/content/en/docs/reference/ports.md
  docs/content/en/docs/tasks/troubleshoot/troubleshooting.md
Labels: approved, lgtm, size/L, documentation

#5170 Patch containerd to v1.6.19 in release module
  release/go.mod
  release/go.sum
  release/pkg/test/testdata/release-0.14-bundle-release.yaml
Labels: approved, lgtm, size/L

#5187 Patch /hack/tools module to use v0.8.0 of stdlib text module
  hack/tools/go.mod
  hack/tools/go.sum
Labels: approved, lgtm, size/XS

#5171 Patch helm in release module to v3.11.1
  release/go.mod
  release/go.sum
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/M

#5145 Instructions on how to add package controller
  docs/content/en/docs/tasks/packages/_index.md
Labels: approved, lgtm, size/M, documentation

#5194 Fixing metallb e2e test that keeps failing
  test/e2e/metallb.go
  test/framework/cluster.go
Labels: approved, lgtm, size/S

#5160 Add cloudstack airgapped e2e test
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/airgap.go
  test/e2e/cloudstack_test.go
  test/e2e/vsphere_test.go
  test/framework/cloudstack.go
Labels: approved, lgtm, size/M

#5196 Remove 1.20 test
  Makefile
Labels: approved, lgtm, size/XS

#5069 Update best practice to simplify and reference established guidelines.
  docs/developer/best-practice.md
Labels: approved, lgtm, size/L, documentation

#5162 Update e2e tests for Nutanix
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  test/e2e/conformance_test.go
  test/e2e/nutanix_test.go
  test/framework/nutanix.go
Labels: approved, lgtm, ok-to-test, size/L

#5197 Remove superfluous logic in Tinkerbell template generation
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/upgrade.go
Labels: approved, lgtm, size/M

#5151 Introduce --no-timeouts flag in create and upgrade CLI
  cmd/eksctl-anywhere/cmd/constants.go
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/options.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
  pkg/clustermanager/client.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/eksa_installer.go
  pkg/clustermanager/eksa_installer_test.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/retrier/retrier.go
  pkg/retrier/retrier_test.go
Labels: approved, lgtm, size/L

#5203 Skip Nutanix 1.26 e2e tests
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/S

#5204 Fixing AssertionsForScaleUpDown currentSpec references
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/assert_test.go
Labels: approved, lgtm, size/M

#5208 adding cleanup phase to tinkerbell reconciler
  pkg/providers/tinkerbell/reconciler/reconciler.go
Labels: approved, lgtm, size/XS

#5206 Simplify logger package
  cmd/eks-a-tool/cmd/root.go
  cmd/eksctl-anywhere/cmd/root.go
  cmd/integration_test/cmd/root.go
  pkg/executables/executables.go
  pkg/logger/doc.go
  pkg/logger/init.go
  pkg/logger/logger.go
  pkg/logger/logger_wb_test.go
  pkg/logger/output_file.go
  pkg/logger/zap.go
  pkg/logger/zap_test.go
Labels: lgtm, size/L

#5202 Make cluster manager retrier a private field
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/retrier_client.go
Labels: approved, lgtm, size/M

#5205 Enable more CloudStack 1.22 and 1.23 e2e tests
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/cloudstack_test.go
Labels: approved, lgtm, size/L

#5218 Fix registry mirror e2e for tinkerbell
  internal/test/e2e/registryMirror.go
Labels: approved, lgtm, size/XS

#4672 Revamp (again) API defaults and validations
  designs/validations.md
  pkg/cli/doc.go
  pkg/cli/log.go
  pkg/cli/log_test.go
  pkg/defaulting/doc.go
  pkg/defaulting/example_test.go
  pkg/defaulting/runner.go
  pkg/defaulting/runner_test.go
  pkg/errors/aggregate.go
  pkg/validation/doc.go
  pkg/validation/errors.go
  pkg/validation/errors_test.go
  pkg/validation/example_test.go
  pkg/validation/runner.go
  pkg/validation/runner_test.go
Labels: approved, lgtm, size/XXL

#5224 Use rw mutex for package logger retrieval
  pkg/logger/init_test.go
  pkg/logger/logger.go
Labels: approved, lgtm, size/M

#5226 Add omitempty to HostOSConfig fields
  pkg/api/v1alpha1/hostosconfig_types.go
Labels: approved, lgtm, size/XS

#5227 Cleanup Tinkerbell e2e tests
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/tinkerbell_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/XL

#5222 Specify correct template in CloudStack e2e
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  test/e2e/README.md
  test/framework/cloudstack.go
Labels: approved, lgtm, size/S

#5122 Add simple flow 1.26 tests
  test/e2e/docker_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
  test/framework/cluster.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/M

#5211 Modified error msg check for unit test
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
Labels: approved, lgtm, size/XS

#5210 Validation for rolling and scaling upgrades for Tinkerbell
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/api/v1alpha1/hostosconfig_test.go
Labels: approved, lgtm, size/L

#5228 Introduce --no-timeouts flag in create and upgrade CLI (#5151)
  cmd/eksctl-anywhere/cmd/constants.go
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/options.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
  pkg/clustermanager/client.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/eksa_installer.go
  pkg/clustermanager/eksa_installer_test.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/retrier/retrier.go
  pkg/retrier/retrier_test.go
Labels: approved, lgtm, size/L

#5179 Tinkerbell reconcile update
  internal/test/envtest/environment.go
  pkg/clusterapi/apibuilder.go
  pkg/clusterapi/name.go
  pkg/clusterapi/name_test.go
  pkg/controller/clusterapi.go
  pkg/controller/clusterapi_test.go
  pkg/controller/clusters/controlplane.go
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/template.go
Labels: approved, lgtm, size/XXL

#5230 Cleanup registry mirror artifacts after the tests for Tinkerbell
  test/e2e/registrymirror.go
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#5192 Add airgapped to Bare Metal docs
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
Labels: approved, lgtm, size/S, documentation

#5238 docs: Clarify caCertContent documentation
  docs/content/en/docs/reference/clusterspec/optional/registrymirror.md
Labels: approved, lgtm, ok-to-test, size/XS, documentation

#5239 Adding 1.26 template env for tinkerbell
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#5243 Remove hard coded Tinkerbell provider version
  release/pkg/bundles/tinkerbell.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.14-bundle-release.yaml
Labels: approved, lgtm, size/L

#5245 Make ssh keys optional for tinkerbell cli
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_webhook.go
Labels: approved, lgtm, size/S

#5248 Increase cloudstack e2e log level
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#5234 Update go-lint version
  .github/workflows/golangci-lint.yml
Labels: approved, lgtm, size/XS

#5153 move validation
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_mocks.go
  pkg/providers/cloudstack/validator_registry.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, size/L

#5231 Bottlerocket settings e2e tests for vsphere
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  internal/pkg/api/vsphere.go
  internal/test/e2e/hostOSConfig.go
  internal/test/e2e/setup.go
  test/e2e/hostOSConfig.go
  test/e2e/vsphere_test.go
  test/framework/hostOSConfig.go
  test/framework/ntp.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#5113 Backup CAPI objects of management cluster
  cmd/eksctl-anywhere/cmd/root.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/task/task.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#5250 Add registry mirror insecure skip verify support feature flag to enable for all providers.
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/features/features.go
  pkg/features/features_test.go
Labels: approved, lgtm, size/M

#5251 Skip tinkerbell multicluster tests that accidentally got enabled
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#5252 Clusterctl backup of management resources before moving to bootstrap
  cmd/eksctl-anywhere/cmd/root.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/task/task.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#5257 Add volume size validation for snow non root volume, update doc
  designs/snow-integration.md
  docs/content/en/docs/reference/clusterspec/snow.md
  pkg/api/v1alpha1/snowmachineconfig.go
  pkg/api/v1alpha1/snowmachineconfig_test.go
Labels: approved, lgtm, size/M, documentation

#5249 IRSA support for baremetal
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/testdata/expected_results_tinkerbell_pod_iam_config.yaml
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/L

#5260 Trigger 0.14.4 staging release
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#5244 Make labels and taints immutable for Tinkerbell
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
Labels: approved, lgtm, size/M

#5261 refactor: use max log level constant for file encoding logger
  pkg/logger/init.go
Labels: approved, lgtm, size/XS

#5264 Trigger CLI staging release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: lgtm, size/XS

#5235 Enable InsecureSkipVerify option for vSphere and Docker
  internal/pkg/api/cluster.go
  internal/test/registrymirror.go
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/config/template-md.yaml
  pkg/providers/docker/controlplane_test.go
  pkg/providers/docker/docker.go
  pkg/providers/docker/workers_test.go
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/controlplane_test.go
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/template_test.go
  pkg/providers/vsphere/workers_test.go
  test/e2e/docker_test.go
  test/e2e/vsphere_test.go
  test/framework/registryMirror.go
Labels: approved, lgtm, size/XL

#5269 Update snow supported volume field
  config/crd/bases/anywhere.eks.amazonaws.com_snowmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  docs/content/en/docs/reference/clusterspec/snow.md
  pkg/providers/snow/api/v1beta1/awssnowmachine_types.go
  pkg/providers/snow/api/v1beta1/types.go
Labels: approved, lgtm, size/L, documentation

#5271 Trigger bundle production release
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#5267 merge the chartInstaller and chartUninstaller
  Makefile
  controllers/factory.go
  pkg/curatedpackages/mocks/installer.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/dependencies/factory.go
Labels: approved, lgtm, size/L

#5190 Nutanix Full Cluster lifecycle support
  config/crd/bases/anywhere.eks.amazonaws.com_nutanixdatacenterconfigs.yaml
  config/manifest/eksa-components.yaml
  config/rbac/manager_extraroles_patch.yaml
  config/webhook/manifests.yaml
  controllers/cluster_controller.go
  controllers/factory.go
  controllers/factory_test.go
  go.mod
  go.sum
  manager/main.go
  pkg/api/v1alpha1/nutanixdatacenterconfig_types.go
  pkg/api/v1alpha1/nutanixdatacenterconfig_webhook.go
  pkg/api/v1alpha1/nutanixmachineconfig.go
  pkg/api/v1alpha1/nutanixmachineconfig_test.go
  pkg/api/v1alpha1/nutanixmachineconfig_types.go
  pkg/api/v1alpha1/nutanixmachineconfig_webhook.go
  pkg/api/v1alpha1/nutanixmachineconfig_webhook_test.go
  pkg/cluster/build.go
  pkg/cluster/nutanix.go
  pkg/cluster/nutanix_test.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/providers/nutanix/clientcache.go
  pkg/providers/nutanix/clientcache_test.go
  pkg/providers/nutanix/controlplane.go
  pkg/providers/nutanix/controlplane_test.go
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
  pkg/providers/nutanix/reconciler/reconciler.go
  pkg/providers/nutanix/template.go
  pkg/providers/nutanix/testdata/eksa-cluster-multiple-worker-md.yaml
  pkg/providers/nutanix/validator.go
  pkg/providers/nutanix/validator_test.go
  pkg/providers/nutanix/workers.go
  pkg/providers/nutanix/workers_test.go
Labels: approved, lgtm, ok-to-test, size/XXL

#5280 Update outdated upgradeRolloutStrategy doc
  docs/content/en/docs/tasks/cluster/cluster-upgrades/baremetal-upgrades.md
Labels: approved, lgtm, size/S, documentation

#5278 Remove Full Cluster Lifecycle feature gate for Nutanix
  pkg/api/v1alpha1/nutanixdatacenterconfig_webhook.go
  pkg/api/v1alpha1/nutanixdatacenterconfig_webhook_test.go
  pkg/clustermanager/eksa_installer.go
  pkg/clustermanager/eksa_installer_test.go
Labels: approved, lgtm, ok-to-test, size/M

#5283 increase wait time for harbor to be up
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#5276 Fix broken registry test
  pkg/config/registry_test.go
Labels: approved, lgtm, size/XS

#5184 adding tinkerbell e2e clusterAPI test
  test/e2e/multicluster.go
  test/e2e/tinkerbell_test.go
  test/framework/workload.go
Labels: approved, lgtm, size/L

#5286 Update chagenlog for 0.14.4
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#5277 Enabled registry mirror InsecureSkipVerify flag for Tinkerbell
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/config/template-md.yaml
  pkg/providers/tinkerbell/controlplane_test.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/workers_test.go
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/L

#5293 Add 0.14.4 Changelog
  docs/content/en/docs/reference/changelog.md
Labels: size/XS, documentation

#5290 Update brew version to v0.14.4
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5287 docs: Update IAM Roles for Service Accounts docs
  docs/content/en/docs/reference/clusterspec/cloudstack.md
  docs/content/en/docs/reference/clusterspec/optional/irsa.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
  docs/content/en/docs/workshops/provision/vsphere.md
Labels: approved, lgtm, needs-ok-to-test, ok-to-test, size/S, documentation

#5289 Introduce registry mirror InsecureSkipVerify for cloudstack
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/config/template-md.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_insecure_skip_and_cert_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_insecure_skip_and_cert_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_insecure_skip_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_insecure_skip_md.yaml
Labels: approved, lgtm, size/XXL

#5306 Update opencontainers/runc
  go.mod
Labels: approved, lgtm, size/XS

#5298 feature: add skip upgrade cilium CNI flag to API
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm, size/M

#5275 More 1.26 e2e tests
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/docker_test.go
  test/e2e/nutanix_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
  test/framework/cluster.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/XL

#5295 Doc update: upgrade management cluster backup/restore feature
  docs/content/en/docs/tasks/troubleshoot/troubleshooting.md
Labels: approved, lgtm, size/M, documentation

#5296 Changing logic for removing hardware from catalogue
  pkg/providers/tinkerbell/hardware/catalogue_hardware.go
  pkg/providers/tinkerbell/hardware/catalogue_hardware_test.go
Labels: approved, lgtm, size/L

#5309 Revert "Update opencontainers/runc (#5306)"
  go.mod
Labels: size/XS

#5301 Update branch name to release-0.15
  Makefile
Labels: approved, lgtm, size/XS

#5263 Validate Mgmt Cluster Bundles Version on Upgrade
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/kubectl.go
  pkg/validations/mocks/kubectl.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
Labels: approved, lgtm, size/L

#5315 change signaling method for FCL curated packages support
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller_legacy.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
Labels: approved, lgtm, size/S

#5317 Make image-builder OS support and prerequisites section more clear
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/nutanix/domains.md
Labels: approved, lgtm, size/L, area/docs, documentation

#5299 Autogenerate eksctl anywhere commands doc from code
  Makefile
  cmd/eks-a-tool/cmd/docgen.go
  cmd/eksctl-anywhere/cmd/root.go
  docs/content/en/docs/reference/eksctl/anywhere.md
  docs/content/en/docs/reference/eksctl/anywhere_apply.md
  docs/content/en/docs/reference/eksctl/anywhere_apply_package(s).md
  docs/content/en/docs/reference/eksctl/anywhere_check-images.md
  docs/content/en/docs/reference/eksctl/anywhere_copy.md
  docs/content/en/docs/reference/eksctl/anywhere_copy_packages.md
  docs/content/en/docs/reference/eksctl/anywhere_create.md
  docs/content/en/docs/reference/eksctl/anywhere_create_cluster.md
  docs/content/en/docs/reference/eksctl/anywhere_create_package(s).md
  docs/content/en/docs/reference/eksctl/anywhere_delete.md
  docs/content/en/docs/reference/eksctl/anywhere_delete_cluster.md
  docs/content/en/docs/reference/eksctl/anywhere_delete_package(s).md
  docs/content/en/docs/reference/eksctl/anywhere_describe.md
  docs/content/en/docs/reference/eksctl/anywhere_describe_package(s).md
  docs/content/en/docs/reference/eksctl/anywhere_download.md
  docs/content/en/docs/reference/eksctl/anywhere_download_artifacts.md
  docs/content/en/docs/reference/eksctl/anywhere_download_images.md
  docs/content/en/docs/reference/eksctl/anywhere_exp.md
  docs/content/en/docs/reference/eksctl/anywhere_exp_validate.md
  docs/content/en/docs/reference/eksctl/anywhere_exp_validate_create.md
  docs/content/en/docs/reference/eksctl/anywhere_exp_validate_create_cluster.md
  docs/content/en/docs/reference/eksctl/anywhere_exp_vsphere.md
  docs/content/en/docs/reference/eksctl/anywhere_exp_vsphere_setup.md
  docs/content/en/docs/reference/eksctl/anywhere_exp_vsphere_setup_user.md
  docs/content/en/docs/reference/eksctl/anywhere_generate.md
  docs/content/en/docs/reference/eksctl/anywhere_generate_clusterconfig.md
  docs/content/en/docs/reference/eksctl/anywhere_generate_hardware.md
  docs/content/en/docs/reference/eksctl/anywhere_generate_packages.md
  docs/content/en/docs/reference/eksctl/anywhere_generate_support-bundle-config.md
  docs/content/en/docs/reference/eksctl/anywhere_generate_support-bundle.md
  docs/content/en/docs/reference/eksctl/anywhere_get.md
  docs/content/en/docs/reference/eksctl/anywhere_get_package(s).md
  docs/content/en/docs/reference/eksctl/anywhere_get_packagebundle(s).md
  docs/content/en/docs/reference/eksctl/anywhere_get_packagebundlecontroller(s).md
  docs/content/en/docs/reference/eksctl/anywhere_import.md
  docs/content/en/docs/reference/eksctl/anywhere_import_images.md
  docs/content/en/docs/reference/eksctl/anywhere_install.md
  docs/content/en/docs/reference/eksctl/anywhere_install_package.md
  docs/content/en/docs/reference/eksctl/anywhere_install_packagecontroller.md
  docs/content/en/docs/reference/eksctl/anywhere_list.md
  docs/content/en/docs/reference/eksctl/anywhere_list_images.md
  docs/content/en/docs/reference/eksctl/anywhere_list_ovas.md
  docs/content/en/docs/reference/eksctl/anywhere_list_packages.md
  docs/content/en/docs/reference/eksctl/anywhere_upgrade.md
  docs/content/en/docs/reference/eksctl/anywhere_upgrade_cluster.md
  docs/content/en/docs/reference/eksctl/anywhere_upgrade_packages.md
  docs/content/en/docs/reference/eksctl/anywhere_upgrade_plan.md
  docs/content/en/docs/reference/eksctl/anywhere_upgrade_plan_cluster.md
  docs/content/en/docs/reference/eksctl/anywhere_version.md
  go.mod
  go.sum
Labels: approved, lgtm, size/XXL, area/docs, documentation

#5323 Fix field to adapt to new Harbor schema
  test/e2e/harbor.go
Labels: approved, lgtm, size/XS

#5326 Fix kubectl get call to point to full API name
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/XS

#5246 Fixing tink reconcile worker template omit and logs
  pkg/controller/clusterapi.go
  pkg/controller/clusterapi_test.go
  pkg/controller/clusters/workers.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/template.go
Labels: approved, lgtm, size/L

#5305 Feature: Implement unmanaged CNI for CLI based clusters
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/dependencies/factory.go
  pkg/networking/cilium/upgrader.go
  pkg/validations/upgradevalidations/immutableFields.go
  pkg/validations/upgradevalidations/immutableFields_test.go
Labels: approved, lgtm, size/L

#5320 Remove hardcoded artifact links in docs
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/M, area/docs, documentation

#5321 Validate Mgmt Cluster Bundles Version on Workload Cluster Create
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/createvalidations/preflightvalidations_test.go
Labels: approved, lgtm, size/M

#5330 Add doc for Nutanix projects and Terraform support
  docs/content/en/docs/reference/clusterspec/nutanix.md
  docs/content/en/docs/tasks/cluster/cluster-terraform.md
Labels: approved, lgtm, needs-ok-to-test, ok-to-test, size/M, area/docs, documentation

#5327 Enable full lifecycle support for Tinkerbell
  pkg/clustermanager/eksa_installer.go
  pkg/clustermanager/eksa_installer_test.go
Labels: approved, lgtm, size/S

#5233 Fix ECR endpoint URL in Harbor use-case doc
  docs/content/en/docs/workshops/packages/harbor.md
  docs/static/images/harbor-private_ecr_proxy.png
Labels: approved, lgtm, needs-ok-to-test, ok-to-test, size/XS, documentation

#5314 Add validation for OS when using registry mirror InsecureSkipVerify
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/registrymirror/registrymirror.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
Labels: approved, lgtm, size/L

#5331 set management cluster name helm value
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
Labels: approved, lgtm, size/S

#5339 Add insecureSkipVerify in registry mirror doc
  docs/content/en/docs/reference/clusterspec/optional/registrymirror.md
  docs/content/en/docs/reference/eksctl/_index.md
Labels: approved, lgtm, size/S, area/docs, documentation

#5332 Expand all kubectl calls to fully qualified names
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/validations/createvalidations/cluster_test.go
Labels: approved, lgtm, size/L

#5340 Fix harbor endpoint URL in docs
  docs/content/en/docs/workshops/packages/harbor.md
  docs/static/images/harbor-private_ecr_proxy.png
Labels: approved, lgtm, size/XS, area/docs, documentation

#5347 Expand all kubectl calls to fully qualified names (#5332)
  pkg/executables/kubectl.go
  pkg/validations/createvalidations/cluster_test.go
Labels: approved, lgtm, size/M

#5344 Trigger CLI staging pipelines for release v0.14.5
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5346 Add doc for harbor v2.7.1
  docs/content/en/docs/reference/packagespec/_index.md
  docs/content/en/docs/reference/packagespec/harbor/v2.7.1.md
  docs/content/en/docs/tasks/packages/harbor/_index.md
Labels: approved, lgtm, size/M, area/docs, documentation

#5302 Add cluster lifecycle information to docs
  docs/content/en/docs/concepts/cluster-topologies.md
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/snow-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
Labels: approved, lgtm, size/S, area/docs, documentation

#5352 Trigger production CLI release for v0.14.5
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: lgtm, size/XS

#5324 Use default credential names if credential names are not set
  pkg/providers/nutanix/template.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/eksa-cluster-no-credentialref.yaml
Labels: approved, lgtm, needs-ok-to-test, size/M

#5351 Update e2e pkg metallb && Wait for pkg controller installation
  test/e2e/curatedpackages.go
  test/e2e/docker_test.go
  test/e2e/metallb.go
Labels: approved, lgtm, size/M

#5221 Packages e2e cluster spec
  Makefile
  test/e2e/cloudstack_test.go
  test/e2e/curatedpackages.go
  test/e2e/docker_test.go
  test/e2e/metallb.go
  test/e2e/nutanix_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
  test/framework/cluster.go
  test/framework/curatedpackages.go
Labels: approved, lgtm, size/L

#5357 Skipping tink tests due to lack of resources
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/S

#5353 Add changelog for release v0.14.5
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#5355 Bump Homebrew version for EKS-A v0.14.5
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
  scripts/golden_create_pr.sh
Labels: approved, lgtm, size/S

#5368 Removing default value for skipUpgrade to fix flux errors
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/cluster_types.go
Labels: approved, lgtm, size/XS

#5370 Reduce Autoscaler HPA Busybox Test Resources
  test/e2e/vsphere_test.go
  test/framework/cluster.go
  test/framework/testdata/hpa_busybox.yaml
Labels: approved, lgtm, size/S

#5365 Trigger staging bundle release
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#5262 Feature: Add unmanaged CNI for FLC
  Makefile
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/networking/cilium/installation.go
  pkg/networking/cilium/installation_test.go
  pkg/networking/cilium/reconciler/marker.go
  pkg/networking/cilium/reconciler/reconciler.go
  pkg/networking/cilium/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#5377 document namespace support for registry mirror
  docs/content/en/docs/reference/clusterspec/optional/registrymirror.md
Labels: approved, lgtm, size/S, area/docs, documentation

#5350 Add 1.26 Bottlerocket e2e tests
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/autoscaler.go
  test/e2e/cloudstack_test.go
  test/e2e/nutanix_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/XL

#5345 Allow smooth upgrades to new kube-proxy with nft
  Makefile
  cmd/eksctl-anywhere/cmd/options.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  controllers/resource/reconciler.go
  controllers/resource/reconciler_wb_test.go
  internal/test/testdata.go
  pkg/clients/kubernetes/runtimeclient.go
  pkg/clients/kubernetes/runtimeclient_test.go
  pkg/cluster/fetch_test.go
  pkg/cluster/spec.go
  pkg/cluster/spec_test.go
  pkg/clustermanager/client.go
  pkg/clustermanager/kube_proxy.go
  pkg/clustermanager/kube_proxy_test.go
  pkg/clustermanager/kube_proxy_wb_test.go
  pkg/clustermanager/mocks/kube_proxy.go
  pkg/clustermanager/retrier_client.go
  pkg/controller/clientutil/annotations.go
  pkg/controller/clientutil/annotations_test.go
  pkg/controller/clusterapi.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/eksctl/eksctl_test.go
  pkg/task/task.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/XXL, blocker

#5384 Remove commented test assertions
  pkg/networking/cilium/reconciler/reconciler_test.go
Labels: approved, lgtm, size/XS

#5394 Fix regex for BR settings e2e test
  docs/content/en/docs/workshops/packages/prometheus/prometheus_grafana.md
  internal/test/e2e/hostOSConfig.go
  pkg/api/v1alpha1/hostosconfig_test.go
  test/e2e/vsphere_test.go
  test/framework/hostOSConfig.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/M, area/docs, documentation

#5405 Skip Tinkerbell airgapped 1.26 e2e test
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#5409 Fix panic on Tinkerbell custom resource conversion
  pkg/providers/tinkerbell/upgrade.go
Labels: lgtm, size/XS

#5288 Tinkerbell ClusterAPI e2e upgrade test
  internal/pkg/api/tinkerbell.go
  test/e2e/multicluster.go
  test/e2e/tinkerbell_test.go
  test/e2e/upgrade.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/L

#5399 [release-0.15] Increase Autoscaler e2e Timeout
  test/e2e/vsphere_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/S

#5411 Fix next version detection in e2e tests
  test/framework/releaseVersions.go
Labels: approved, lgtm, size/M
