Repository aws/eks-anywhere, pull requests merged in 2023-12, with the labels that each got.

#7003 Make kcp and object of reconciler struct for different provider unit test
  pkg/providers/cloudstack/reconciler/reconciler_test.go
  pkg/providers/docker/reconciler/reconciler_test.go
  pkg/providers/snow/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#7117 Fix tinkerbell airgapped e2e tests
  test/e2e/airgap.go
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/M

#7105 Sign container images using AWS Signer and notation CLI.
  release/cli/cmd/release.go
  release/cli/pkg/bundles/package-controller.go
  release/cli/pkg/images/images.go
  release/cli/pkg/operations/upload.go
  release/cli/pkg/types/types.go
  release/scripts/bundle-release.sh
  release/scripts/release.sh
Labels: approved, lgtm, size/S

#7121 Fix short Kubernetes version in bundle manifest
  release/cli/pkg/aws/s3/s3.go
  release/cli/pkg/bundles/bundles.go
Labels: approved, lgtm, size/XS

#7118 Consider DefaultCNIConfiguredCondition in Ready condition except when Skip Upgrades is enabled
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
Labels: approved, lgtm, size/L

#7134 Trigger staging release - bundles 54
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7135 Update bmclib library:
  go.mod
  go.sum
  release/cli/go.mod
  release/cli/go.sum
Labels: approved, lgtm, size/L

#7130 Check for k8s version in the Cloudstack template name
  pkg/providers/cloudstack/controlplane_test.go
  pkg/providers/cloudstack/testdata/cluster_main.yaml
  pkg/providers/cloudstack/testdata/cluster_main_with_cp_node_labels.yaml
  pkg/providers/cloudstack/testdata/cluster_main_with_node_labels.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_autoscaling_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_md.yaml
  pkg/providers/cloudstack/testdata/expected_results_resourceids_cp.yaml
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, size/L

#7148 Triggering prod bundle release - 0.18.3
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7151 Small fix on IRSA doc
  docs/content/en/docs/getting-started/optional/irsa.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#7150 Trigger prod cli release - 0.18.3
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7067 fix: docs to show apple and arm support
  docs/content/en/docs/getting-started/docker/_index.md
  docs/content/en/docs/getting-started/install/_index.md
Labels: approved, lgtm, ok-to-test, size/XS, area/docs, documentation

#7160 Updating brew release - v0.18.3
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7149 Changelog for v0.18.3
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#7159 Updating concurrent tests count for vsphere e2e tests
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#6766 Add a RoutingMode option to cniConfig
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  docs/content/en/docs/getting-started/optional/cni.md
  internal/pkg/api/cluster.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
Labels: approved, lgtm, size/L, area/docs, documentation

#7065 Add Cilium Features to docs
  docs/content/en/docs/clustermgmt/networking/networking-and-security.md
Labels: approved, lgtm, size/S, area/docs, documentation

#7164 Automatically Fix Linting Issues
  Makefile
Labels: approved, lgtm, size/XS

#7174 fix minimum Docker version
  docs/content/en/docs/getting-started/docker/_index.md
  docs/content/en/docs/getting-started/install/_index.md
Labels: approved, lgtm, size/M, area/docs, documentation

#7177 Sign container images with notation CLI with image digest instead of image tag
  release/cli/cmd/release.go
  release/cli/pkg/bundles/package-controller.go
  release/cli/pkg/images/images.go
  release/cli/pkg/operations/bundle_release.go
  release/cli/pkg/operations/upload.go
Labels: approved, lgtm, size/M

#7178 Advocate using `etcdutl` instead of `etcdctl` for backup and restore
  docs/Makefile
  docs/content/en/docs/clustermgmt/etcd-backup-restore/bottlerocket-etcd-backup.md
  docs/content/en/docs/clustermgmt/etcd-backup-restore/ubuntu-rhel-etcd-backup.md
Labels: approved, lgtm, size/L, area/docs, documentation

#7181 Add docker cluster pod errors due to too many open files
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/S, area/docs, documentation

#7182 Skip signing images for now
  release/cli/cmd/release.go
Labels: approved, lgtm, size/S

#7170 Fix controller generating cilium manifests with registry mirror
  .gitignore
  Makefile
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/deprecated_importimages.go
  cmd/eksctl-anywhere/cmd/downloadimages.go
  cmd/eksctl-anywhere/cmd/import_images.go
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_nodeupgrades.yaml
  controllers/factory.go
  internal/test/cluster.go
  pkg/cluster/mocks/helm.go
  pkg/curatedpackages/customregistry.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/executables/builder.go
  pkg/executables/helm.go
  pkg/executables/helm_test.go
  pkg/helm/client.go
  pkg/helm/config.go
  pkg/helm/config_test.go
  pkg/helm/download.go
  pkg/helm/envclient_factory.go
  pkg/helm/envclient_factory_test.go
  pkg/helm/factory.go
  pkg/helm/factory_test.go
  pkg/helm/mocks/client.go
  pkg/helm/mocks/download.go
  pkg/helm/mocks/factory.go
  pkg/networking/cilium/cilium_test.go
  pkg/networking/cilium/mocks/helm.go
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
  pkg/networking/cilium/upgrader_test.go
  pkg/providers/tinkerbell/stack/mocks/stack.go
  pkg/providers/tinkerbell/stack/stack.go
  test/e2e/airgap.go
  test/e2e/docker_test.go
  test/framework/executables.go
  test/framework/helm.go
Labels: approved, lgtm, size/XXL

#5760 Add bundle manifest URL to EKS-A version command
  Makefile
  cmd/eksctl-anywhere/cmd/version.go
  pkg/manifests/releases/read.go
  pkg/version/version.go
Labels: lgtm, size/M

#7184 [release-0.17] Fix controller generating cilium manifests with registry mirror (#7170)
  .gitignore
  Makefile
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/deprecated_importimages.go
  cmd/eksctl-anywhere/cmd/downloadimages.go
  cmd/eksctl-anywhere/cmd/import_images.go
  controllers/factory.go
  internal/test/cluster.go
  pkg/cluster/mocks/helm.go
  pkg/curatedpackages/customregistry.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/executables/builder.go
  pkg/executables/helm.go
  pkg/executables/helm_test.go
  pkg/helm/client.go
  pkg/helm/config.go
  pkg/helm/config_test.go
  pkg/helm/download.go
  pkg/helm/envclient_factory.go
  pkg/helm/envclient_factory_test.go
  pkg/helm/factory.go
  pkg/helm/factory_test.go
  pkg/helm/mocks/client.go
  pkg/helm/mocks/download.go
  pkg/helm/mocks/factory.go
  pkg/networking/cilium/cilium_test.go
  pkg/networking/cilium/mocks/helm.go
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
  pkg/networking/cilium/upgrader_test.go
  pkg/providers/tinkerbell/stack/mocks/stack.go
  pkg/providers/tinkerbell/stack/stack.go
  test/e2e/airgap.go
  test/e2e/docker_test.go
  test/framework/executables.go
  test/framework/helm.go
Labels: approved, lgtm, size/XXL

#7185 [release-0.18] Fix controller generating cilium manifests with registry mirror (#7170)
  .gitignore
  Makefile
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/deprecated_importimages.go
  cmd/eksctl-anywhere/cmd/downloadimages.go
  cmd/eksctl-anywhere/cmd/import_images.go
  controllers/factory.go
  internal/test/cluster.go
  pkg/cluster/mocks/helm.go
  pkg/curatedpackages/customregistry.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/executables/builder.go
  pkg/executables/helm.go
  pkg/executables/helm_test.go
  pkg/helm/client.go
  pkg/helm/config.go
  pkg/helm/config_test.go
  pkg/helm/download.go
  pkg/helm/envclient_factory.go
  pkg/helm/envclient_factory_test.go
  pkg/helm/factory.go
  pkg/helm/factory_test.go
  pkg/helm/mocks/client.go
  pkg/helm/mocks/download.go
  pkg/helm/mocks/factory.go
  pkg/networking/cilium/cilium_test.go
  pkg/networking/cilium/mocks/helm.go
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
  pkg/networking/cilium/upgrader_test.go
  pkg/providers/tinkerbell/stack/mocks/stack.go
  pkg/providers/tinkerbell/stack/stack.go
  test/e2e/airgap.go
  test/e2e/docker_test.go
  test/framework/executables.go
  test/framework/helm.go
Labels: approved, lgtm, size/XXL

#7200 add execute permission for validate trigger script
  build/lib/validate_bundle_numbers.sh
Labels: approved, lgtm, size/XS

#7192 (1/4) Trigger v0.17.6 Bundle Staging Pipeline
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7193 (2/4) Trigger v0.17.6 CLI Staging Pipeline
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7163 Cleanup E2E Let's Encrypt TXT Records
  test/e2e/certmanager.go
  test/framework/cluster.go
Labels: lgtm, size/S

#7211 Update docker airgap upgrade from latest minor releast test to use non-authenticated registry mirror
  test/e2e/docker_test.go
Labels: approved, lgtm, size/XS

#7194 (3/4) Trigger v0.17.5 Bundle Production Pipeline
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7195 (4/4) Trigger v0.17.5 CLI Production Pipeline
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7214 Staging bundle release for patch 0.18.4
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7215 v0.17.6 changelog
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#7190 Add audit log to Nutanix control plane template
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/template.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/expected_cluster_api_server_cert_san_domain_name.yaml
  pkg/providers/nutanix/testdata/expected_cluster_api_server_cert_san_ip.yaml
  pkg/providers/nutanix/testdata/expected_results_additional_categories.yaml
  pkg/providers/nutanix/testdata/expected_results_iamauth.yaml
  pkg/providers/nutanix/testdata/expected_results_irsa.yaml
  pkg/providers/nutanix/testdata/expected_results_node_taints_labels.yaml
  pkg/providers/nutanix/testdata/expected_results_oidc.yaml
  pkg/providers/nutanix/testdata/expected_results_project.yaml
  pkg/providers/nutanix/testdata/expected_results_proxy.yaml
  pkg/providers/nutanix/testdata/expected_results_registry_mirror.yaml
Labels: approved, lgtm, needs-ok-to-test, size/XXL

#7220 Add audit log to Nutanix control plane template (#7190)
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/template.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/expected_results_additional_categories.yaml
  pkg/providers/nutanix/testdata/expected_results_iamauth.yaml
  pkg/providers/nutanix/testdata/expected_results_irsa.yaml
  pkg/providers/nutanix/testdata/expected_results_node_taints_labels.yaml
  pkg/providers/nutanix/testdata/expected_results_oidc.yaml
  pkg/providers/nutanix/testdata/expected_results_project.yaml
  pkg/providers/nutanix/testdata/expected_results_proxy.yaml
  pkg/providers/nutanix/testdata/expected_results_registry_mirror.yaml
Labels: approved, lgtm, size/XXL

#7218 Add change security group to default at the end of docker airgapped upgrade from release test
  test/e2e/airgap.go
Labels: approved, lgtm, size/XS

#7219 Add cluster full lifecycle support in upgrade docs
  docs/content/en/docs/clustermgmt/cluster-scale/cloudstack-scale.md
  docs/content/en/docs/clustermgmt/cluster-scale/nutanix-scale.md
  docs/content/en/docs/clustermgmt/cluster-scale/vsphere-scale.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
Labels: approved, lgtm, size/L, area/docs, documentation

#7210 Allow mgmt create via controller if managed by cli
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/nodeupgrade_types.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
Labels: approved, lgtm, size/M

#7189 Verify image signature and skip signing if already signed
  release/cli/cmd/release.go
  release/cli/pkg/operations/bundle_release.go
Labels: approved, lgtm, size/M

#7186 Parallelize I/O bound operations in the release process
  release/Makefile
  release/cli/cmd/release.go
  release/cli/go.mod
  release/cli/go.sum
  release/cli/pkg/assets/archives/archives.go
  release/cli/pkg/assets/assets.go
  release/cli/pkg/assets/manifests/manifests.go
  release/cli/pkg/bundles/bottlerocket.go
  release/cli/pkg/bundles/bundles.go
  release/cli/pkg/bundles/certmanager.go
  release/cli/pkg/bundles/cilium.go
  release/cli/pkg/bundles/cloudstack.go
  release/cli/pkg/bundles/cluster-api-provider-docker.go
  release/cli/pkg/bundles/cluster-api.go
  release/cli/pkg/bundles/eksa.go
  release/cli/pkg/bundles/eksctl-anywhere.go
  release/cli/pkg/bundles/eksd.go
  release/cli/pkg/bundles/etcdadm-bootstrap.go
  release/cli/pkg/bundles/etcdadm-controller.go
  release/cli/pkg/bundles/flux.go
  release/cli/pkg/bundles/haproxy.go
  release/cli/pkg/bundles/kindnetd.go
  release/cli/pkg/bundles/nutanix.go
  release/cli/pkg/bundles/package-controller.go
  release/cli/pkg/bundles/snow.go
  release/cli/pkg/bundles/tinkerbell.go
  release/cli/pkg/bundles/upgrader.go
  release/cli/pkg/bundles/vsphere.go
  release/cli/pkg/filereader/file_reader.go
  release/cli/pkg/git/git.go
  release/cli/pkg/helm/helm.go
  release/cli/pkg/operations/bundle_release.go
  release/cli/pkg/operations/bundle_release_test.go
  release/cli/pkg/operations/download.go
  release/cli/pkg/operations/eksa_release.go
  release/cli/pkg/operations/rename.go
  release/cli/pkg/operations/upload.go
  release/cli/pkg/test/testdata/main-bundle-release.yaml
  release/cli/pkg/test/testdata/release-0.18-bundle-release.yaml
  release/cli/pkg/types/types.go
  release/cli/pkg/util/slices/slices.go
Labels: approved, lgtm, size/XXL

#7144 Add CP upgrade reconciler logic
  config/crd/bases/anywhere.eks.amazonaws.com_controlplaneupgrades.yaml
  controllers/controlplaneupgrade_controller.go
  controllers/controlplaneupgrade_controller_test.go
  controllers/nodeupgrade_controller.go
  pkg/api/v1alpha1/controlplaneupgrade_types.go
Labels: approved, lgtm, size/L

#7201 Add reconcile logic for MD Upgrade controller
  config/crd/bases/anywhere.eks.amazonaws.com_machinedeploymentupgrades.yaml
  config/manifest/eksa-components.yaml
  controllers/controlplaneupgrade_controller.go
  controllers/machinedeploymentupgrade_controller.go
  controllers/machinedeploymentupgrade_controller_test.go
  controllers/nodeupgrade_controller.go
  pkg/api/v1alpha1/machinedeploymentupgrade_types.go
  pkg/nodeupgrader/testdata/expected_first_control_plane_upgrader_pod.yaml
  pkg/nodeupgrader/testdata/expected_rest_control_plane_upgrader_pod.yaml
  pkg/nodeupgrader/testdata/expected_worker_upgrader_pod.yaml
  pkg/nodeupgrader/upgrader.go
Labels: approved, lgtm, size/L

#7229 Allow E2E tests for individual providers to be kicked off from CodeBuild
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/docker-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/snow-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
Labels: approved, lgtm, size/S

#7202 Update README to remove note
  test/kube-bench/README.md
Labels: approved, lgtm, size/XS

#7233 Fix typo in Cloudstack buildspec
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#7228 Upgrade workload using controller behind flag
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/workflows/workload/upgrade.go
  pkg/workflows/workload/upgrade_test.go
  pkg/workflows/workload/upgradecluster.go
  pkg/workflows/workload/validate.go
  pkg/workflows/workload/writeclusterconfig.go
Labels: approved, lgtm, size/L

#7237 Update latest version only if semver is greater than previous latest
  release/cli/cmd/release.go
Labels: approved, lgtm, size/S
