Repository aws/eks-anywhere, pull requests merged in 2023-06, with the labels that each got.

#5958 trigger prod cli 0.16
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5963 Update package tinkerbell tests
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/XL

#5970 Add 1.27 conformance test results
  README.md
  docs/static/images/certified-kubernetes-1.24-pantone.svg
  docs/static/images/certified-kubernetes-1.27-pantone.png
Labels: approved, lgtm, size/XS, area/docs, documentation

#5972 Fix 1.27 certified kubernetes image to correct file type
  docs/static/images/certified-kubernetes-1.27-pantone.png
  docs/static/images/certified-kubernetes-1.27-pantone.svg
Labels: approved, lgtm, size/XS, area/docs, documentation

#5971 bump up doc site 0.16
  docs/config.toml
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/support/support-versions.md
Labels: approved, lgtm, size/M, area/docs, documentation

#5948 Cloudstack e2e for workload cluster proxy config using API
  test/e2e/cloudstack_test.go
Labels: approved, lgtm, size/M

#5973 bump homebrew version to 0.16.0
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5911 Improve cloudstack side effects e2e test
  internal/pkg/api/oidc.go
  test/e2e/cloudstack_test.go
  test/e2e/side_effects.go
  test/framework/cloudstack.go
  test/framework/cluster.go
  test/framework/oidc.go
Labels: approved, lgtm, size/L

#5969 0.16.0 changelog
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#5983 Update SKIPPED_TESTS.yaml
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/M

#5984 0.16.0 changelog (#5969)
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#5979 Backport 0.16
  docs/config.toml
  docs/content/en/docs/concepts/support-versions.md
  docs/content/en/docs/osmgmt/artifacts.md
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/M, area/docs, documentation

#5991 Skip http e2e tests
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#5989 Delete legacy cluster controller
  Makefile
  controllers/cluster_controller_legacy.go
  controllers/resource/fetcher.go
  controllers/resource/fetcher_test.go
  controllers/resource/internal/vsphere.go
  controllers/resource/internal/vsphere_test.go
  controllers/resource/mocks/reader.go
  controllers/resource/mocks/resource.go
  controllers/resource/reconciler.go
  controllers/resource/reconciler_test.go
  controllers/resource/reconciler_wb_test.go
  controllers/resource/template.go
  controllers/resource/testdata/cloudstackCPMachineTemplate.yaml
  controllers/resource/testdata/cloudstackDatacenterConfigSpec.yaml
  controllers/resource/testdata/cloudstackEtcdMachineTemplate.yaml
  controllers/resource/testdata/cloudstackEtcdadmcluster.yaml
  controllers/resource/testdata/cloudstackKubeadmconfigTemplateSpec.yaml
  controllers/resource/testdata/cloudstackKubeadmcontrolplane.yaml
  controllers/resource/testdata/cloudstackMachineConfigSpec.yaml
  controllers/resource/testdata/cloudstackMachineDeployment.yaml
  controllers/resource/testdata/cloudstackMachineTemplate.yaml
  controllers/resource/testdata/eksa-cluster-cloudstack-etcd.yaml
  controllers/resource/testdata/eksa-cluster-cloudstack.yaml
  controllers/resource/testdata/eksa-cluster-cloudstack_no_changes.yaml
  controllers/resource/testdata/eksa-cluster.yaml
  controllers/resource/testdata/eksa-cluster_no_changes.yaml
  controllers/resource/testdata/expectedCloudStackMachineDeployment.yaml
  controllers/resource/testdata/expectedCloudStackMachineDeploymentOnlyReplica.yaml
  controllers/resource/testdata/expectedCloudStackMachineDeploymentTemplateChanged.yaml
  controllers/resource/testdata/expectedVSphereMachineDeployment.yaml
  controllers/resource/testdata/expectedVSphereMachineDeploymentOnlyReplica.yaml
  controllers/resource/testdata/expectedVSphereMachineDeploymentTemplateChanged.yaml
  controllers/resource/testdata/nutanix/cpMachineConfig.yaml
  controllers/resource/testdata/nutanix/datacenterConfig.yaml
  controllers/resource/testdata/nutanix/eksa-cluster.yaml
  controllers/resource/testdata/nutanix/etcdMachineConfig.yaml
  controllers/resource/testdata/nutanix/workerMachineConfig.yaml
  controllers/resource/testdata/vsphereDatacenterConfigSpec.yaml
  controllers/resource/testdata/vsphereEtcdadmcluster.yaml
  controllers/resource/testdata/vsphereKubeadmconfigTemplateSpec.yaml
  controllers/resource/testdata/vsphereKubeadmcontrolplane.yaml
  controllers/resource/testdata/vsphereMachineConfigSpec.yaml
  controllers/resource/testdata/vsphereMachineDeployment.yaml
  controllers/resource/testdata/vsphereMachineTemplate.yaml
  controllers/resource/updater.go
  controllers/resource/vsphere.go
  controllers/resource/vsphere_wb_test.go
  manager/main.go
Labels: approved, lgtm, size/XXL

#5998 Updating emissary docs based on GH issue suggestions
  docs/content/en/docs/workloadmgmt/ingress.md
Labels: approved, lgtm, size/S, area/docs, documentation

#5994 Assign buildNumber as bundle number for Dev Build
  release/cmd/release.go
  release/pkg/assets/archives/archives_test.go
  release/pkg/assets/images/images_test.go
  release/pkg/assets/manifests/manifests_test.go
  release/pkg/filereader/file_reader.go
  release/pkg/filereader/file_reader_test.go
  release/pkg/images/images.go
  release/pkg/operations/bundle_release_test.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#5965 Add docs for kernel, boot and trusted cert bundle settings
  docs/content/en/docs/getting-started/optional/hostOSConfig.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6002 Fixed broken alias to supportbundle
  docs/content/en/docs/clustermgmt/support/supportbundle.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#5921 E2E test for workload cluster creation from prev eksa version
  test/e2e/cloudstack_test.go
  test/e2e/multicluster.go
  test/e2e/upgrade_from_latest.go
Labels: approved, lgtm, size/M

#6006 Fixed minor version issue for getting template name for vSphere provider
  test/framework/vsphere.go
Labels: approved, lgtm, size/XS

#6007 Split out tests
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/XXL

#6011 split out docker tests
  test/e2e/docker_test.go
Labels: approved, lgtm, size/L

#6009 Added Nutanix changes to v0.16.0 changelog
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, needs-ok-to-test, size/XS, area/docs, documentation

#5495 Kubernetes version skew check for cluster webhook
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/api/v1alpha1/versionskew.go
  pkg/api/v1alpha1/versionskew_test.go
  pkg/validations/upgradevalidations/cluster_test.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  pkg/validations/upgradevalidations/versions.go
  pkg/validations/upgradevalidations/versions_test.go
Labels: approved, lgtm, size/XXL

#5997 Add design for kindless upgrades
  designs/kindless-upgrades.md
Labels: approved, lgtm, size/L

#6027 trigger staging bundle 0.16.1
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6022 Add design doc for Out-of-band solution:
  designs/bare-metal-out-of-band-webhook.md
  designs/images/webhook-arch.png
  designs/images/webhook-hmac.png
  designs/images/webhook-reference1.png
  designs/images/webhook-reference2.png
  designs/images/webhook-reference3.png
Labels: approved, lgtm, size/XL

#6028 Updating emissary docs
  docs/content/en/docs/packages/prereq.md
  docs/content/en/docs/packages/troubleshoot.md
  docs/content/en/docs/workloadmgmt/ingress.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6029 trigger staging cli 0.16.1
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6025 Upgrade from latest minor release cloudstack API test
  test/e2e/cloudstack_test.go
  test/e2e/upgrade_from_latest.go
  test/framework/flux.go
Labels: approved, lgtm, size/L

#6033 Bump concurrent test runners for Cloudstack Provider to 50
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#6018 Add egress-masquerade-interfaces option to cilium
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  internal/pkg/api/cluster.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
  pkg/networking/cilium/upgrade_plan.go
  pkg/networking/cilium/upgrade_plan_test.go
  pkg/networking/cilium/upgrader.go
  pkg/networking/cilium/upgrader_test.go
Labels: approved, lgtm, size/L

#5985 add syslog port to the list of used ports for Bare Metal provider
  docs/content/en/docs/getting-started/ports/_index.md
Labels: approved, lgtm, ok-to-test, size/XS, area/docs, documentation

#6034 Fix whitespace issue on YAML sample in _index.md
  docs/content/en/docs/getting-started/docker/_index.md
Labels: approved, lgtm, ok-to-test, size/XS, area/docs, documentation

#6038 trigger prod bundle 0.16.1
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6040 trigger prod cli 0.16.1
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6031 Minor doc fix for extra space on CLI argument.
  docs/content/en/docs/getting-started/airgapped/_index.md
Labels: approved, lgtm, ok-to-test, size/XS, area/docs, documentation

#6044 Remove vsphere-csi-driver project from bundle release
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets/config/bundle_release.go
  release/pkg/bundles/vsphere.go
  release/pkg/operations/bundle_release_test.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.16-bundle-release.yaml
Labels: approved, lgtm, size/XXL

#6047 Update cluster deployment topology matrix
  docs/content/en/docs/concepts/architecture.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6053 Reformat cluster deployment matrix
  docs/content/en/docs/concepts/architecture.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6045 doc importance of dhcp
  docs/content/en/docs/clustermgmt/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
  docs/content/en/docs/getting-started/cloudstack/cloudstack-prereq.md
  docs/content/en/docs/getting-started/nutanix/nutanix-prereq.md
  docs/content/en/docs/getting-started/snow/snow-getstarted.md
  docs/content/en/docs/getting-started/vsphere/vsphere-prereq.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6041 Add observedGeneration and ControlPlaneInitialized condition to ClusterStatus
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  internal/test/testdata.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/condition_consts.go
  pkg/api/v1alpha1/condition_types.go
  pkg/controller/clusters/status.go
  pkg/controller/clusters/status_test.go
Labels: approved, lgtm, size/L

#6014 Support linkage Nutanix categories to VM resources
  config/crd/bases/anywhere.eks.amazonaws.com_nutanixmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/nutanixmachineconfig.go
  pkg/api/v1alpha1/nutanixmachineconfig_test.go
  pkg/api/v1alpha1/nutanixmachineconfig_types.go
  pkg/api/v1alpha1/nutanixmachineconfig_webhook_test.go
  pkg/api/v1alpha1/testdata/nutanix/invalid-machineconfig-addtional-categories-key.yaml
  pkg/api/v1alpha1/testdata/nutanix/invalid-machineconfig-addtional-categories-value.yaml
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/providers/nutanix/client.go
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/config/md-template.yaml
  pkg/providers/nutanix/mocks/client.go
  pkg/providers/nutanix/template.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/eksa-cluster-additional-categories.yaml
  pkg/providers/nutanix/testdata/expected_results_additional_categories.yaml
  pkg/providers/nutanix/testdata/expected_results_additional_categories_md.yaml
  pkg/providers/nutanix/testdata/machineConfig_additional_categories.yaml
  pkg/providers/nutanix/validator.go
  pkg/providers/nutanix/validator_test.go
Labels: approved, lgtm, ok-to-test, size/XL

#5550 remove role patch and reduce controller manager permissions
  config/manifest/eksa-components.yaml
  config/rbac/kustomization.yaml
  config/rbac/manager_extraroles_patch.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
Labels: approved, lgtm, size/XL

#6056 Apply insecure flag to oras copy
  cmd/eksctl-anywhere/cmd/import_images.go
  pkg/curatedpackages/curatedpackages.go
  pkg/types/contextkey.go
Labels: approved, lgtm, size/S

#6066 Remove vsphere-csi-driver artifacts from images list
  release/api/v1alpha1/artifacts.go
Labels: approved, lgtm, size/XS

#6058 Set vsphere creds for CP and CSI
  pkg/providers/vsphere/reconciler/reconciler.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
Labels: approved, lgtm, size/M

#5941 Add e2e tests for modular upgrades
  test/e2e/cloudstack_test.go
  test/e2e/cloudstack_upgrade.go
  test/e2e/docker_test.go
  test/e2e/side_effects.go
  test/e2e/vsphere_test.go
  test/framework/cloudstack.go
  test/framework/cluster.go
  test/framework/docker.go
  test/framework/nutanix.go
  test/framework/snow.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#6071 Add WorkersReady condition to cluster status
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  pkg/api/v1alpha1/condition_consts.go
  pkg/controller/clusterapi.go
  pkg/controller/clusterapi_test.go
  pkg/controller/clusters/status.go
  pkg/controller/clusters/status_test.go
Labels: approved, lgtm, size/XL

#6077 docs: remove duplicate text
  docs/content/en/docs/getting-started/docker/_index.md
Labels: approved, lgtm, needs-ok-to-test, size/XS, area/docs, documentation

#6074 Add reference to Emissary's official documentation
  docs/content/en/docs/workloadmgmt/ingress.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6080 Remove CSI related code from vSphere API E2E
  test/e2e/vsphere_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/S

#6075 0.16.1 changelog
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6090 Convert snow software version to integer and compare.
  pkg/providers/snow/validator.go
  pkg/providers/snow/validator_test.go
Labels: approved, lgtm, needs-ok-to-test, ok-to-test, size/S

#6093 Clarify multi workload cluster creation limits for Tinkerbell controller
  docs/content/en/docs/clustermgmt/cluster-scale/baremetal-scale.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/baremetal-upgrades.md
  docs/content/en/docs/getting-started/baremetal/bare-preparation.md
  docs/content/en/docs/getting-started/baremetal/baremetal-getstarted.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6087 Add DefaultCNIConfigured condition to cluster status
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  pkg/api/v1alpha1/condition_consts.go
  pkg/controller/clusters/status.go
  pkg/controller/clusters/status_test.go
  pkg/networking/cilium/reconciler/reconciler.go
  pkg/networking/cilium/reconciler/reconciler_test.go
Labels: approved, lgtm, size/XL

#6035 EksaRelease CRD
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_eksareleases.yaml
  config/crd/kustomization.yaml
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
  internal/test/cluster.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/clustermanager/eksa_installer_test.go
  release/Makefile
  release/api/v1alpha1/eksarelease.go
  release/api/v1alpha1/eksarelease_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_eksareleases.yaml
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.16-bundle-release.yaml
Labels: approved, lgtm, size/XL

#6099 Re-add driver and syncer components to bundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#6091 Fix reconcile return for tink hardware failures with controller
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
Labels: approved, lgtm, size/M

#6081 Correct the hash signature payload instructions.
  designs/bare-metal-out-of-band-webhook.md
Labels: approved, lgtm, size/S
