Repository aws/eks-anywhere, pull requests merged in 2023-02, with the labels that each got.

#4813 Validate control plane endpoint with pods and services CIDR blocks
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
Labels: approved, lgtm, needs-ok-to-test, ok-to-test, size/L

#4816 Validate control plane endpoint with pods and services CIDR blocks (#…
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
Labels: approved, lgtm, size/L

#4806 Add BR 1.25 VSphere tests
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  test/e2e/vsphere_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#4811 Trigger Staging Release for Patch Release 0.14.1
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#4817 Cluster Spec assertions in Tinkerbell reconciler
  internal/test/testdata.go
  pkg/awsiamauth/reconciler/reconciler_test.go
  pkg/providers/docker/reconciler/reconciler_test.go
  pkg/providers/snow/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/cluster.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#4826 Use capitalized list name for consistency in doc
  docs/content/en/docs/reference/clusterspec/cloudstack.md
Labels: approved, lgtm, size/XS, documentation

#4824 Staging CLI release for v0.14.1
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#4828 Require imdsv2 On Run Instance
  internal/pkg/ec2/create.go
Labels: approved, lgtm, size/XS

#4831 Add naming for package import
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
Labels: approved, lgtm, size/M

#4837 Adding the cleanup step for cloudstack
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#4833 Add Secret registry mapping when generating Tinkerbell CP Spec
  pkg/providers/tinkerbell/controlplane.go
  pkg/providers/tinkerbell/controlplane_test.go
Labels: approved, lgtm, size/L

#4798 Determine diskGiB default using template disk size for vSphere
  pkg/providers/vsphere/defaults.go
  pkg/providers/vsphere/testdata/cluster_main_121_cp_only.yaml
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#4840 Use correct field name when fetching EKS-A CLI URL
  release/scripts/github-bundle-release.sh
Labels: approved, lgtm, size/XS

#4847 Prod Bundle Release 0.14.1
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#4845 Refactor aws client for future easier unit testing
  pkg/aws/client.go
  pkg/aws/ec2_test.go
  pkg/aws/snow.go
  pkg/aws/snowballdevice_test.go
  pkg/providers/snow/reconciler/clientbuilder.go
Labels: approved, lgtm, size/M

#4848 Prod CLI Release 0.14.1
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#4842 Add Tinkerbell resources to RBAC
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
  controllers/cluster_controller_legacy.go
Labels: approved, lgtm, size/S

#4822 Implement Tinkerbell reconcile CP
  internal/test/envtest/environment.go
  manager/main.go
  pkg/clients/kubernetes/scheme.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/providers/tinkerbell/hardware/catalogue_hardware.go
  pkg/providers/tinkerbell/hardware/catalogue_hardware_test.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L, documentation

#4827 Tinkerbell generate worker nodes capi objects
  pkg/providers/tinkerbell/workers.go
  pkg/providers/tinkerbell/workers_test.go
Labels: approved, lgtm, size/L

#4836 Fixing panic errors for tinkerbell FLC
  controllers/factory.go
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_webhook.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_webhook_test.go
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/cluster_spec_builder_test.go
Labels: approved, lgtm, size/M

#4843 Update Prometheus docs
  docs/content/en/docs/reference/packagespec/_index.md
  docs/content/en/docs/reference/packagespec/prometheus/v2.41.0.md
  docs/content/en/docs/tasks/packages/_index.md
  docs/content/en/docs/tasks/packages/prometheus/_index.md
Labels: approved, lgtm, size/XL, documentation

#4862 docs: Restrict the curated packages IAM example further
  docs/content/en/docs/tasks/packages/_index.md
Labels: approved, lgtm, needs-ok-to-test, size/S, documentation

#4825 update registry auth docs
  docs/content/en/docs/reference/clusterspec/optional/registrymirror.md
Labels: approved, lgtm, size/XS, documentation

#4864 Update Brew version to v0.14.1
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#4586 Implement Tinkerbell Stack upgrade
  go.mod
  go.sum
  pkg/diagnostics/collectors.go
  pkg/executables/clusterctl.go
  pkg/executables/helm.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/nutanix/provider.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/hardware/catalogue.go
  pkg/providers/tinkerbell/hardware/catalogue_bmc.go
  pkg/providers/tinkerbell/hardware/catalogue_bmc_test.go
  pkg/providers/tinkerbell/hardware/catalogue_test.go
  pkg/providers/tinkerbell/hardware/typemeta.go
  pkg/providers/tinkerbell/hardware/yaml.go
  pkg/providers/tinkerbell/hardware/yaml_test.go
  pkg/providers/tinkerbell/mocks/client.go
  pkg/providers/tinkerbell/rufiounreleased/baseboardmanagement.go
  pkg/providers/tinkerbell/stack/mocks/stack.go
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/stack/testdata/expected_tinkerbell_chart_overrides_with_all_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_docker.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_kubernetes.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_docker_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_envoy_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_envoy_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_hook_override.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_kubernetes_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_true.yaml
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/vsphere/vsphere.go
  pkg/utils/yaml/yaml.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/XXL

#4866 Separate imds from ec2 client
  Makefile
  pkg/aws/client.go
  pkg/aws/ec2.go
  pkg/aws/ec2_test.go
  pkg/aws/imds.go
  pkg/aws/imds_test.go
  pkg/aws/mocks/ec2.go
  pkg/aws/mocks/imds.go
Labels: approved, lgtm, size/L

#4865 Check Control Plane is ready during Tinkerbell reconciliation
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
Labels: approved, lgtm, size/S

#4855 Tinkerbell controller hardware validations
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
  controllers/cluster_controller_legacy.go
  internal/test/envtest/environment.go
  manager/main.go
  pkg/providers/tinkerbell/hardware/etcd.go
  pkg/providers/tinkerbell/hardware/etcd_test.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#4874 Remove unsupported fields in snow doc
  docs/content/en/docs/reference/clusterspec/snow.md
Labels: approved, lgtm, size/S, documentation

#4875 Remove bottlerocket in snow doc
  docs/content/en/docs/reference/clusterspec/snow.md
Labels: approved, lgtm, size/XS, documentation

#4877 Update release branch changelog for release v0.14.1
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/S, documentation

#4873 Patch tls flag in Tinkerbell stack deployment
  pkg/providers/tinkerbell/stack/stack.go
Labels: approved, lgtm, size/XS

#4870 Validate pod cidr mask size with the default value of node cidr size
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/constants/constants.go
Labels: approved, lgtm, size/M

#4868 Validate control plane ip not conflict with snow admin instance ip
  pkg/aws/imds.go
  pkg/aws/imds_test.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/dependencies/testdata/snow/cluster_snow.yaml
  pkg/dependencies/testdata/snow/valid_certificates
  pkg/dependencies/testdata/snow/valid_credentials
  pkg/providers/snow/aws.go
  pkg/providers/snow/entry.go
  pkg/providers/snow/mocks/aws.go
  pkg/providers/snow/snow_test.go
  pkg/providers/snow/validator.go
  pkg/providers/snow/validator_test.go
Labels: approved, lgtm, size/L

#4876 Update main branch changelog for v0.14.1
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/S, documentation

#4881 Add new instance type snow supports
  pkg/api/v1alpha1/snowmachineconfig.go
  pkg/api/v1alpha1/snowmachineconfig_test.go
  pkg/api/v1alpha1/snowmachineconfig_types.go
Labels: approved, lgtm, size/M

#4808 validate worker tinkerbell IP matches management
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#4878 Update snow doc
  docs/content/en/docs/reference/clusterspec/snow.md
Labels: approved, lgtm, size/XS, documentation

#4883 Fix integer log for vsphere template defaulting
  pkg/providers/vsphere/defaults.go
Labels: approved, lgtm, size/XS

#4204 Package controller specification design
  designs/package-spec.md
Labels: approved, lgtm, size/M

#4887 Add snow instance type validation in CLI preflight
  pkg/aws/snowballdevice.go
  pkg/aws/snowballdevice_test.go
  pkg/providers/snow/aws.go
  pkg/providers/snow/entry.go
  pkg/providers/snow/mocks/aws.go
  pkg/providers/snow/snow_test.go
  pkg/providers/snow/validator.go
Labels: approved, lgtm, size/L

#4889 Update snow instance type validation logic
  pkg/aws/ec2.go
  pkg/aws/ec2_test.go
  pkg/aws/mocks/ec2.go
  pkg/aws/snowballdevice.go
  pkg/aws/snowballdevice_test.go
  pkg/providers/snow/aws.go
  pkg/providers/snow/mocks/aws.go
  pkg/providers/snow/snow_test.go
  pkg/providers/snow/validator.go
Labels: approved, lgtm, size/L

#4891 Validate snow instance type has at least 2 default vCPU
  pkg/aws/ec2.go
  pkg/aws/ec2_test.go
  pkg/providers/snow/aws.go
  pkg/providers/snow/mocks/aws.go
  pkg/providers/snow/snow_test.go
  pkg/providers/snow/validator.go
Labels: approved, lgtm, size/L

#4846 Move logs to a subfolder
  cmd/eksctl-anywhere/cmd/root.go
Labels: approved, lgtm, size/S

#4885 Added Nutanix troubleshooting section
  docs/content/en/docs/tasks/troubleshoot/troubleshooting.md
Labels: approved, lgtm, ok-to-test, size/S, documentation

#4793 Using latest package controller builds in dev bundle
  release/pkg/aws/ecr/ecr.go
  release/pkg/bundles/package-controller.go
  release/pkg/images/images.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.14-bundle-release.yaml
Labels: approved, lgtm, size/XL

#4895 Replace snow instance type exact match with regex validation
  config/crd/bases/anywhere.eks.amazonaws.com_snowmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  internal/pkg/api/snow.go
  internal/pkg/api/snowmachines.go
  pkg/api/v1alpha1/snowmachineconfig.go
  pkg/api/v1alpha1/snowmachineconfig_test.go
  pkg/api/v1alpha1/snowmachineconfig_types.go
  pkg/api/v1alpha1/snowmachineconfig_webhook_test.go
  pkg/providers/snow/validator.go
  test/e2e/snow_test.go
Labels: approved, lgtm, size/L

#4819 Update eksa objects in cluster for skipped upgrade
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/M

#4879 Tinkerbell Reconcile Workers Full Lifecycle
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
Labels: lgtm, size/L

#4909 Revert "Revert Snow doc in release branch (#4784)"
  docs/content/en/docs/concepts/clusterworkflow.md
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/getting-started/production-environment/snow-getstarted.md
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/clusterspec/snow.md
  docs/content/en/docs/reference/ports.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
  docs/content/en/docs/tasks/troubleshoot/troubleshooting.md
Labels: approved, lgtm, size/XL, documentation

#4923 Replace snow instance type exact match with regex validation (#4895)
  config/crd/bases/anywhere.eks.amazonaws.com_snowmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  internal/pkg/api/snow.go
  internal/pkg/api/snowmachines.go
  pkg/api/v1alpha1/snowmachineconfig.go
  pkg/api/v1alpha1/snowmachineconfig_test.go
  pkg/api/v1alpha1/snowmachineconfig_types.go
  pkg/api/v1alpha1/snowmachineconfig_webhook_test.go
  pkg/providers/snow/validator.go
Labels: approved, lgtm, size/L

#4925 Fix snow default ssh key validation error
  pkg/providers/snow/defaults.go
  pkg/providers/snow/defaults_test.go
  pkg/providers/snow/validator.go
Labels: approved, lgtm, size/M

#4886 Add 1.25 e2e tests to 0.14 branch
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/README.md
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/flux_test.go
  test/e2e/labels_test.go
  test/e2e/oidc_test.go
  test/e2e/proxy_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/simpleflow_test.go
  test/e2e/stackedetcd_test.go
  test/e2e/taints_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/upgrade_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#4904 Remove 1.25 feature flag and add 1.26 feature flag
  pkg/api/v1alpha1/cluster_types.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/e2e/conformance_test.go
  test/e2e/docker_test.go
  test/e2e/nutanix_test.go
  test/e2e/snow_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/L

#4928 Insert AWS Snow doc links in eksa doc
  docs/content/en/docs/getting-started/production-environment/snow-getstarted.md
  docs/content/en/docs/reference/clusterspec/snow.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
Labels: approved, lgtm, size/S, documentation

#4930 Attempt at fix for dev helm chart in dev bundles
  release/pkg/bundles/package-controller.go
  release/pkg/helm/helm.go
  release/pkg/operations/upload.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.14-bundle-release.yaml
Labels: approved, lgtm, size/XXL

#4869 Added support for proxy feature for tinkerbell provider
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/clustermanager/eksa_installer_test.go
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/config/template-md.yaml
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_proxy.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_proxy.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md_proxy.yaml
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/XL

#4922 Update default kube version to 1.25
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
Labels: approved, lgtm, size/XS

#4901 Add management cluster name validation to controller
  Makefile
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  controllers/cluster_controller_test_test.go
  controllers/factory.go
  controllers/mocks/cluster_controller.go
  go.mod
  pkg/controller/clusters/ipvalidator.go
  pkg/controller/clusters/ipvalidator_test.go
  pkg/controller/clusters/mocks/ipvalidator.go
  pkg/controller/clusters/validations.go
  pkg/controller/clusters/validations_test.go
Labels: approved, lgtm, size/XL

#4938 Changed hook commit tag to to correct commit
  docs/content/en/docs/reference/baremetal/bare-custom-hookos.md
Labels: approved, lgtm, size/XS, documentation

#4935 Wait for eksa-packages-[clusterName] namespace
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
Labels: approved, lgtm, size/L

#4939 Enable Nutanix 1.25 packages e2e tests
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#4942 Fix eks-anywhere-test-tool
  test/e2e/tools/eks-anywhere-test-tool/Makefile
  test/e2e/tools/eks-anywhere-test-tool/go.mod
  test/e2e/tools/eks-anywhere-test-tool/go.sum
Labels: approved, lgtm, size/XL

#4900 Packages cluster spec
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm, size/XL

#4946 Fix snow e2e error in release branch
  test/e2e/upgrade_test.go
Labels: approved, lgtm, size/XS

#4932 Remove 1.25 flag & add 1.26 flag for 0.14 branch
  pkg/api/v1alpha1/cluster_types.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/e2e/awsiam_test.go
  test/e2e/conformance_test.go
  test/e2e/flux_test.go
  test/e2e/labels_test.go
  test/e2e/oidc_test.go
  test/e2e/proxy_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/simpleflow_test.go
  test/e2e/stackedetcd_test.go
  test/e2e/taints_test.go
  test/e2e/upgrade_from_latest_test.go
  test/e2e/upgrade_test.go
Labels: approved, lgtm, size/L

#4951 Adding function for doubletagged images
  release/pkg/aws/ecr/ecr.go
Labels: approved, lgtm, size/S

#4924 Update docs for 1.25
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/nutanix-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/clusterspec/baremetal.md
  docs/content/en/docs/reference/clusterspec/nutanix.md
  docs/content/en/docs/reference/clusterspec/snow.md
  docs/content/en/docs/reference/clusterspec/vsphere.md
  docs/content/en/docs/reference/support/support-versions.md
  docs/content/en/docs/reference/vsphere/vsphere-ovas.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades/baremetal-upgrades.md
  docs/content/en/docs/tasks/cluster/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
Labels: approved, lgtm, size/M, documentation

#4953 Revert "Adding function for doubletagged images"
  release/pkg/aws/ecr/ecr.go
Labels: approved, lgtm, size/S

#4955 fix package namespace and bundle waiting logic
  pkg/curatedpackages/packagecontrollerclient.go
Labels: approved, lgtm, size/XS

#4671 Set user-agent in all file readers
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  internal/test/files.go
  pkg/dependencies/factory.go
  pkg/diagnostics/analyzers_test.go
  pkg/diagnostics/collectors.go
  pkg/diagnostics/collectors_test.go
  pkg/diagnostics/interfaces.go
  pkg/files/reader.go
  pkg/files/reader_wb_test.go
  test/framework/awsiam.go
  test/framework/conformance.go
  test/framework/reader.go
  test/framework/releaseVersions.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#4959 Update control plane taints validation for e2e
  test/framework/taints.go
Labels: approved, lgtm, size/M

#4961 Add package k8 1.25 tests
  test/e2e/curated_packages_test.go
Labels: approved, lgtm, size/M

#4962 Update cluster-api dependency to v1.3.3
  go.mod
  go.sum
Labels: approved, lgtm, size/L

#4960 Adding check for packages to handle staging account.
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/reader.go
Labels: approved, lgtm, size/M

#4963 Add function remove doubletagged images
  release/pkg/aws/ecr/ecr.go
Labels: approved, lgtm, size/S

#4933 Add bundles override flag for list and download commands
  cmd/eksctl-anywhere/cmd/checkimages.go
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/downloadartifacts.go
  cmd/eksctl-anywhere/cmd/downloadimages.go
  cmd/eksctl-anywhere/cmd/importimages.go
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/download.go
  cmd/eksctl-anywhere/cmd/listimages.go
  cmd/eksctl-anywhere/cmd/listovas.go
Labels: approved, lgtm, size/L

#4967 Remove package test on 1.25 vSphere BottleRocket
  test/e2e/curated_packages_test.go
Labels: approved, lgtm, size/S

#4968 Wait for control plane ready before using kubeconfig for validations in API e2e tests
  test/framework/workload.go
Labels: approved, lgtm, size/XS

#4969 Add BR tests to release-0.14 branch
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/test-eks-a-cli.yml
  test/e2e/autoscaler_test.go
  test/e2e/awsiam_test.go
  test/e2e/flux_test.go
  test/e2e/labels_test.go
  test/e2e/proxy_test.go
  test/e2e/registry_mirror_test.go
  test/e2e/simpleflow_test.go
  test/e2e/taints_test.go
  test/e2e/upgrade_test.go
  test/e2e/vsphere_autoimport_test.go
  test/e2e/vsphere_disable_csi_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#4954 Trigger staging bundle release v0.14.2
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#4931 Strip nulls from hardware yaml when generated from CSV
  cmd/eksctl-anywhere/cmd/generatehardware.go
  pkg/providers/tinkerbell/hardware/csv.go
  pkg/providers/tinkerbell/hardware/csv_test.go
  pkg/utils/unstructured/yaml.go
  pkg/utils/unstructured/yaml_test.go
Labels: approved, lgtm, size/L

#4974 Trigger staging cli release v0.14.2
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#4976 Fix note section rendering issue
  docs/content/en/docs/getting-started/install/_index.md
Labels: approved, lgtm, size/S, documentation

#4975 Add vSphere airgapped testing
  internal/pkg/ssm/command.go
  test/e2e/airgap.go
  test/e2e/vsphere_test.go
  test/framework/cluster.go
  test/framework/commands.go
Labels: approved, lgtm, size/M

#4882 Remove disk constraints from Tinkerbell provider
  controllers/resource/template.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults_test.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/hardware/catalogue_hardware.go
  pkg/providers/tinkerbell/hardware/catalogue_hardware_test.go
  pkg/providers/tinkerbell/hardware/validator.go
  pkg/providers/tinkerbell/hardware/validator_test.go
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_docker.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_kubernetes.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_docker_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_envoy_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_envoy_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_hook_override.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_kubernetes_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_namespace_create_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_namespace_create_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_registry_mirror.yaml
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/template_test.go
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node_skip_lb.yaml
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/upgrade.go
Labels: approved, lgtm, size/XXL

#4981 Document e2e Build Flag Configuration in Quick Start
  docs/developer/local-quickstart.md
Labels: approved, lgtm, size/S, documentation

#4987 Make copy packages documents more precise
  docs/content/en/docs/reference/clusterspec/optional/registrymirror.md
Labels: approved, lgtm, size/S, documentation

#4979 Add snow static ip e2e tests
  internal/pkg/api/snow.go
  internal/pkg/api/snowmachines.go
  test/e2e/README.md
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/snow_test.go
  test/framework/cluster.go
  test/framework/snow.go
Labels: approved, lgtm, size/L

#4996 Update autoscaler design doc
  designs/autoscaler.md
Labels: approved, lgtm, size/XS

#4988 Trigger prod bundle release v0.14.2
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#4989 Trigger prod cli release v0.14.2
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#4997 Add airgap assertion to vsphere e2e test
  test/e2e/airgap.go
  test/framework/cluster.go
Labels: approved, lgtm, size/S

#4964 Disable package controller based on cluster specification
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
  pkg/curatedpackages/packageinstaller.go
  pkg/curatedpackages/packageinstaller_test.go
Labels: approved, lgtm, size/M

#5007 Add region support to packages reader
  cmd/eksctl-anywhere/cmd/copypackages.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagereader_test.go
  pkg/curatedpackages/reader.go
Labels: approved, lgtm, size/S

#4850 Add docs for Terraform full lifecycle api
  docs/content/en/docs/getting-started/production-environment/snow-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
  docs/content/en/docs/tasks/cluster/cluster-flux.md
  docs/content/en/docs/tasks/cluster/cluster-terraform.md
Labels: approved, lgtm, size/L, documentation

#4977 docs: Make managementCluster defintion obvious
  docs/content/en/docs/getting-started/production-environment/baremetal-getstarted.md
  docs/content/en/docs/getting-started/production-environment/cloudstack-getstarted.md
  docs/content/en/docs/getting-started/production-environment/nutanix-getstarted.md
  docs/content/en/docs/getting-started/production-environment/snow-getstarted.md
  docs/content/en/docs/getting-started/production-environment/vsphere-getstarted.md
Labels: approved, lgtm, needs-ok-to-test, ok-to-test, size/M, documentation

#4966 Update go to 1.19
  .github/workflows/go-coverage.yml
  .github/workflows/golangci-lint.yml
  Makefile
  docs/developer/go-version.md
  go.mod
  go.sum
  release/Makefile
  release/go.mod
Labels: approved, lgtm, size/M, documentation

#5017 Update brew version
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#4721 Variable names conflict with reserved words
  pkg/curatedpackages/kubeclient.go
  pkg/curatedpackages/kubeclient_test.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
Labels: approved, lgtm, size/L

#5020 Update key names
  docs/content/en/docs/tasks/packages/troubleshoot.md
Labels: approved, lgtm, size/XS, documentation

#4943 Cert manager e2e
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  test/e2e/certmanager.go
  test/e2e/vsphere_test.go
  test/framework/cluster.go
  test/framework/curatedpackages.go
  test/framework/testdata/certmanager/certmanager_letsencrypt_cert.yaml
  test/framework/testdata/certmanager/certmanager_letsencrypt_issuer.yaml
  test/framework/testdata/certmanager/certmanager_secret.yaml
  test/framework/testdata/certmanager/certmanager_selfsignedcert.yaml
  test/framework/testdata/certmanager/certmanager_selfsignedissuer.yaml
Labels: approved, lgtm, size/L

#5013 updating phase runner to accept generic objects
  pkg/controller/runner.go
  pkg/controller/runner_test.go
  pkg/providers/docker/reconciler/reconciler.go
  pkg/providers/snow/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/vsphere/reconciler/reconciler.go
Labels: approved, lgtm, size/L

#5022 Remove 1.21 e2e tests
  Makefile
  test/e2e/README.md
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/conformance_test.go
  test/e2e/docker_test.go
  test/e2e/nutanix_test.go
  test/e2e/snow_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
  test/framework/nutanix.go
  test/framework/snow.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/XXL

#5028 Added registry mirror e2e test for tinkerbell k8s 1.25
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/M

#5027 Replace ioutil with os/io since ioutil is deprecated
  cmd/eksctl-anywhere/cmd/downloadartifacts.go
  internal/pkg/oidc/token.go
  internal/test/files.go
  internal/test/helpers.go
  pkg/api/v1alpha1/cloudstackmachineconfig.go
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_defaults.go
  pkg/api/v1alpha1/nutanixmachineconfig.go
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig.go
  pkg/api/v1alpha1/vspheremachineconfig.go
  pkg/aws/creds.go
  pkg/cluster/load.go
  pkg/executables/clusterctl.go
  pkg/executables/govc_test.go
  pkg/executables/kind.go
  pkg/files/reader.go
  pkg/filewriter/tmp_writer_test.go
  pkg/filewriter/writer.go
  pkg/git/factory/gitfactory.go
  pkg/gitops/flux/upgrader_test.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/vsphere/setupuser/validator.go
  release/cmd/release.go
  release/pkg/filereader/file_reader.go
  release/pkg/helm/helm.go
  release/pkg/operations/bundle_release_test.go
  release/pkg/operations/rename.go
  release/pkg/test/files.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.14-bundle-release.yaml
  release/pkg/version/version.go
  test/e2e/tools/eks-anywhere-test-tool/pkg/filewriter/writer.go
  test/framework/cluster.go
  test/framework/flux.go
Labels: approved, lgtm, size/L

#5033 Export environment variables to cert manager tests
  internal/test/e2e/packages.go
  internal/test/e2e/setup.go
  test/framework/curatedpackages.go
Labels: approved, lgtm, size/S

#5023 Add docs for using Terraform to create local workload clusters
  docs/content/en/docs/getting-started/local-environment/_index.md
  docs/content/en/docs/getting-started/production-environment/snow-getstarted.md
Labels: approved, lgtm, size/S, documentation

#5036 Decouple a unit test from its environment
  pkg/clustermanager/eksa_installer_test.go
Labels: approved, lgtm, size/XS

#5034 Fixes for local registry tests and tinkerbell issues
  release/docs/package_helm_chart.md
  release/pkg/bundles/package-controller.go
  release/pkg/operations/upload.go
Labels: approved, lgtm, size/M

#5025 Tinkerbell proxy related changes for hook bootkit
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/stack/testdata/expected_with_proxy_config.yaml
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_proxy.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_proxy.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md_proxy.yaml
  pkg/providers/tinkerbell/tinkerbell.go
Labels: approved, lgtm, size/L

#4948 Add 1.25 conformance certified image
  README.md
  docs/static/images/certified-kubernetes-1.25-color.svg
Labels: approved, lgtm, size/XS, documentation

#5026 Pass NTP servers configured for ETCD to etcd nodes
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/testdata/cluster_bottlerocket_ntp_config.yaml
  pkg/providers/vsphere/testdata/cluster_ubuntu_ntp_config.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_ntp_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_ntp_config_md.yaml
  pkg/providers/vsphere/testdata/expected_results_ubuntu_ntp_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_ubuntu_ntp_config_md.yaml
Labels: approved, lgtm, size/M

#5016 Update changelog
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#5035 Add watches for CloudStack resources to controller
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
  controllers/cluster_controller_legacy.go
Labels: approved, lgtm, size/M

#4905 Add docs comparing EKS Anywhere to EKS on Outposts
  docs/content/en/docs/concepts/eksafeatures.md
Labels: approved, lgtm, size/S, documentation

#5041 Update changelog
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, documentation

#4907 Add Docker airgapped test
  cmd/eksctl-anywhere/cmd/listimages.go
  cmd/eksctl-anywhere/cmd/listovas.go
  cmd/integration_test/build/buildspecs/docker-test-eks-a-cli.yml
  internal/aws-sdk-go-v2/internal/endpoints/v2/endpoints.go
  internal/test/cleanup/cleanup.go
  internal/test/e2e/registryMirror.go
  internal/test/e2e/setup.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/zz_generated.deepcopy.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/config/template-md.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/docker/testdata/cluster_mirror_config.yaml
  pkg/providers/docker/testdata/cluster_mirror_with_auth_config.yaml
  pkg/providers/docker/testdata/cluster_mirror_with_cert_config.yaml
  pkg/providers/docker/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/docker/testdata/expected_results_mirror_config_md.yaml
  pkg/providers/docker/testdata/expected_results_mirror_with_auth_config_cp.yaml
  pkg/providers/docker/testdata/expected_results_mirror_with_auth_config_md.yaml
  pkg/providers/docker/testdata/expected_results_mirror_with_cert_config_cp.yaml
  pkg/providers/docker/testdata/expected_results_mirror_with_cert_config_md.yaml
  pkg/providers/nutanix/client.go
  pkg/providers/tinkerbell/tinkerbell.go
  test/e2e/airgap.go
  test/e2e/autoscaler.go
  test/e2e/constants.go
  test/e2e/docker_test.go
  test/e2e/metallb.go
  test/e2e/registrymirror.go
  test/e2e/snow_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
  test/framework/cluster.go
  test/framework/registryMirror.go
Labels: approved, lgtm, size/XXL

#5032 Add client processor for CloudStack datacenter config
  pkg/cluster/build.go
  pkg/cluster/cloudstack.go
  pkg/cluster/cloudstack_test.go
Labels: approved, lgtm, size/M

#5038 Add bolded warning about deleting bootstrap cluster
  docs/content/en/docs/tasks/cluster/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
Labels: approved, lgtm, size/XS, documentation

#5045 Skip external ETCD e2e test for tinkerbell
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#5049 Add client process for CloudStack machine configs
  pkg/cluster/build.go
  pkg/cluster/cloudstack.go
  pkg/cluster/cloudstack_test.go
Labels: approved, lgtm, size/L

#5057 Add 1.25 tags to artifacts docs, include missing commands
  docs/content/en/docs/reference/artifacts.md
  docs/content/en/docs/reference/support/support-versions.md
Labels: approved, lgtm, size/M, documentation

#5024 Add support for configuring NTP on tinkerbell
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbellmachineconfigs.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/hostosconfig.go
  pkg/api/v1alpha1/hostosconfig_test.go
  pkg/api/v1alpha1/hostosconfig_types.go
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types_test.go
  pkg/api/v1alpha1/vspheremachineconfig.go
  pkg/api/v1alpha1/vspheremachineconfig_test.go
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/config/template-md.yaml
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/testdata/cluster_bottlerocket_ntp_config.yaml
  pkg/providers/tinkerbell/testdata/cluster_ubuntu_ntp_config.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_ntp_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_ntp_config_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_ubuntu_ntp_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_ubuntu_ntp_config_md.yaml
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/XXL

#5001 Add e2e test for NTP settings for vSphere
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  internal/pkg/api/vsphere.go
  internal/test/e2e/ntp.go
  internal/test/e2e/setup.go
  pkg/executables/builder.go
  pkg/executables/builder_test.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/executables/ssh.go
  pkg/executables/ssh_test.go
  test/e2e/ntp.go
  test/e2e/vsphere_test.go
  test/framework/executables.go
  test/framework/ntp.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#5002 Increase TLS Handshake timeout for reading data from URLs
  pkg/files/reader.go
Labels: approved, lgtm, size/S

#4950 Add cluster spec package controller validation
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/testdata/cluster_package_configuration.yaml
  pkg/api/v1alpha1/testdata/cluster_package_configuration_invalid.yaml
  pkg/api/v1alpha1/testdata/cluster_package_cronjob_invalid.yaml
Labels: approved, lgtm, size/L

#5047 Allow proxy support for stream image action OS URL Tinkerbell
  pkg/api/v1alpha1/tinkerbelltemplateconfig.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults_test.go
  pkg/providers/tinkerbell/template.go
Labels: approved, lgtm, size/L

#5031 Implement packages cluster spec
  pkg/curatedpackages/curatedpackages_test.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/testdata/expected_all_values.yaml
  pkg/dependencies/factory.go
Labels: approved, lgtm, size/L

#5064 Move cloudstackmachineconfig validations to API
  pkg/api/v1alpha1/cloudstackmachineconfig.go
  pkg/api/v1alpha1/cloudstackmachineconfig_test.go
  pkg/api/v1alpha1/cloudstackmachineconfig_types.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook_test.go
  pkg/providers/cloudstack/validator.go
  pkg/providers/cloudstack/validator_test.go
Labels: approved, lgtm, size/XL

#5061 add registry auth e2e
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  internal/pkg/api/cluster.go
  internal/test/e2e/registryMirror.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
  test/framework/registryMirror.go
Labels: approved, lgtm, size/L

#5081 Move the eksa-packages release out of default.
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
Labels: approved, lgtm, size/XS

#5078 Add links and comments to vSphere clusterspec docs
  docs/content/en/docs/reference/clusterspec/vsphere.md
Labels: approved, lgtm, size/L, documentation

#5037 Cleanup cluster.Spec
  .gitignore
  Makefile
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/listovas.go
  cmd/eksctl-anywhere/cmd/options.go
  cmd/eksctl-anywhere/cmd/validatecreatecluster.go
  internal/test/cluster.go
  pkg/cluster/builder.go
  pkg/cluster/builder_test.go
  pkg/cluster/default_config.go
  pkg/cluster/embed_config.go
  pkg/cluster/fetch.go
  pkg/cluster/fetch_test.go
  pkg/cluster/spec.go
  pkg/cluster/spec_test.go
  pkg/cluster/testdata/bundle_ekds_missing_kubeapiserver.yaml
  pkg/cluster/testdata/bundle_ekds_missing_nodedriver.yaml
  pkg/cluster/testdata/bundle_invalid_ekds.yaml
  pkg/cluster/testdata/eksd_missing_kubeapiserver.yaml
  pkg/cluster/testdata/eksd_missing_nodedriver.yaml
  pkg/cluster/testdata/empty_release.yaml
  pkg/cluster/testdata/invalid_release_version.yaml
  pkg/cluster/testdata/release_bundle_eksd_missing_kubeapiserver.yaml
  pkg/cluster/testdata/release_bundle_eksd_missing_nodedriver.yaml
  pkg/cluster/testdata/release_bundle_invalid_eksd.yaml
  pkg/cluster/testdata/release_empty_bundle.yaml
  pkg/cluster/testdata/release_invalid_bundle.yaml
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/eksa_installer.go
  pkg/clustermanager/eksa_installer_test.go
  pkg/dependencies/factory.go
  pkg/executables/builder.go
  pkg/executables/builder_test.go
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/files/embed_config.go
  pkg/files/empty_embed.go
  pkg/files/reader.go
  pkg/manifests/bundles/manifest.go
  pkg/manifests/releases/read.go
  pkg/networking/internal/manifests.go
  pkg/networking/kindnetd/installer.go
  pkg/networking/kindnetd/installer_test.go
  pkg/networking/kindnetd/kindnetd.go
  pkg/networking/kindnetd/kindnetd_test.go
  pkg/networking/kindnetd/manifest.go
  pkg/networking/kindnetd/upgrader.go
  pkg/networking/kindnetd/upgrader_test.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/simple_bundle.yaml
  pkg/providers/nutanix/testdata/simple_release.yaml
  test/framework/cluster/statevalidator_test.go
  test/framework/cluster/validations/cluster_test.go
  test/framework/cluster/validations/vsphere_test.go
  test/framework/flux.go
Labels: approved, lgtm, size/XXL
