Repository aws/eks-anywhere, pull requests merged in 2023-08, with the labels that each got.

#6356 Install health checks before the packages are reconciled
  controllers/cluster_controller.go
Labels: approved, lgtm, size/XS

#6344 block modular upgrades for tinkerbell
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
Labels: approved, lgtm, size/M, blocker

#6357 Install health checks before the packages are reconciled
  controllers/cluster_controller.go
Labels: approved, lgtm, size/XS

#6314 efi image builder doc
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6363 Enable kindless upgrades in controller from CLI
  pkg/clustermanager/eksa_installer.go
  pkg/clustermanager/eksa_installer_test.go
  pkg/features/features.go
Labels: approved, lgtm, size/S

#6361 Validate all cloudstack machine configs in webhook
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook_test.go
Labels: approved, lgtm, size/S

#6364 Add credential provider package to bundle release yaml
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/assets/config/bundle_release.go
  release/pkg/bundles/package-controller.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.16-bundle-release.yaml
Labels: approved, lgtm, size/L

#6269 Add docs for egressMasqueradeInterfaces option in Cilium
  docs/content/en/docs/getting-started/optional/cni.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6360 [release-0.16] Add CAPI backup from bootstrap cluster + filter-cluster flags for backups
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/cluster_manager_wb_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#6365 [release-0.16] Remove mgmt bundlesRef validation
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/createvalidations/preflightvalidations_test.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
Labels: approved, lgtm, size/L

#6369 Correct typo in Cilium CLI version
  docs/content/en/docs/clustermgmt/networking/cluster-replace-cilium.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6370 Fix Tinkerbell preflights to account for bundles changes
  pkg/providers/tinkerbell/upgrade.go
Labels: approved, lgtm, size/XS

#6373 Add retries for TLS handshake timeout on kubectl waits
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/S

#6247 Update package docs to include package bundle information
  docs/content/en/docs/packages/best_practice.md
  docs/content/en/docs/packages/packagebundles.md
  docs/content/en/docs/packages/packagecontroller.md
  docs/content/en/docs/packages/packagelist.md
  docs/content/en/docs/packages/packages.md
  docs/content/en/docs/packages/prereq.md
  docs/content/en/docs/packages/troubleshoot.md
Labels: approved, lgtm, size/L, area/docs, documentation, docathon

#6386 [v0.16.3] Trigger staging cli release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6376 Make tinkerbell airgapped tests to dynamically reserve hardware
  internal/test/e2e/run.go
Labels: approved, lgtm, size/L

#6339 Update image-builder docs to include latest enhancements
  docs/content/en/docs/getting-started/docker/_index.md
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, size/L, area/docs, documentation

#6388 Add helpers for vsphere cluster spec for tests
  internal/test/vsphere.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#6391 Add helper to wait for cluster condition
  pkg/cluster/wait.go
  pkg/cluster/wait_test.go
Labels: approved, lgtm, size/L

#6393 [v0.16.3] Trigger v0.16.3 production bundle
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6392 Add separate vSphere CSI Driver guide
  docs/content/en/docs/clustermgmt/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
  docs/content/en/docs/clustermgmt/observability/cluster-verify.md
  docs/content/en/docs/clustermgmt/storage/_index.md
  docs/content/en/docs/clustermgmt/storage/vsphere-storage.md
  docs/content/en/docs/getting-started/overview.md
  docs/content/en/docs/getting-started/vsphere/vsphere-getstarted.md
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/L, area/docs, documentation

#6396 Add doc for managing curated packages in airgapped environment
  docs/content/en/docs/clustermgmt/cluster-upgrades/airgapped-upgrades.md
  docs/content/en/docs/getting-started/airgapped/_index.md
  docs/content/en/docs/packages/prereq.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6400 Add apply server side to the k8s client interface
  internal/test/kubernetes.go
  pkg/clients/kubernetes/client.go
  pkg/clients/kubernetes/kubeconfig.go
  pkg/clients/kubernetes/kubeconfig_test.go
  pkg/clients/kubernetes/kubectl.go
  pkg/clients/kubernetes/kubectl_test.go
  pkg/clients/kubernetes/mocks/client.go
  pkg/clients/kubernetes/mocks/kubectl.go
  pkg/clients/kubernetes/unauth.go
  pkg/clients/kubernetes/unauth_test.go
  pkg/clustermanager/client.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/clustermanager/retrier_client.go
  pkg/controller/clientutil/kubernetes.go
  pkg/controller/clientutil/kubernetes_test.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/XL

#6385 Update changelog for v0.16.3
  docs/content/en/docs/osmgmt/artifacts.md
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6402 Update brew release to v0.16.3
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6384 Remove force-cleanup flag
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/flags.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  docs/content/en/docs/reference/eksctl/anywhere_create_cluster.md
  docs/content/en/docs/reference/eksctl/anywhere_delete_cluster.md
  docs/content/en/docs/reference/eksctl/anywhere_import_images.md
  docs/content/en/docs/reference/eksctl/anywhere_upgrade_cluster.md
  docs/content/en/docs/troubleshooting/troubleshooting.md
  pkg/bootstrapper/bootstrapper.go
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  test/e2e/airgap.go
  test/e2e/awsiamauth.go
  test/e2e/multicluster.go
  test/e2e/oidc.go
  test/e2e/registrymirror.go
  test/e2e/simpleflow.go
  test/e2e/tinkerbell_test.go
  test/framework/cluster.go
  test/framework/commands.go
Labels: size/M, area/docs, documentation

#6404 [v0.16.3] Update brew release to v0.16.3
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6403 Update upgradeable attributes docs to include registryMirrorConfiguration
  docs/content/en/docs/clustermgmt/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6411 Add troubleshoot guide to fix MHC remediation not allowed
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/snow/snow-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6191 Add image information to docs style guide
  docs/content/en/docs/community/docs_contributing.md
Labels: lgtm, size/S, area/docs, documentation, docathon

#6406 Add applier to push eks-a changes to controller
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  internal/test/vsphere.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/api/v1alpha1/condition_consts.go
  pkg/cluster/config.go
  pkg/cluster/config_test.go
  pkg/clustermanager/applier.go
  pkg/clustermanager/applier_test.go
  pkg/controller/clusters/status.go
  pkg/controller/clusters/status_test.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/retrier/retrier.go
  pkg/retrier/retrier_test.go
Labels: approved, lgtm, size/XL

#6415 Update bare metal osFamily doc to include redhat
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6423 Add etcd NodeHealthy entry to troubleshooting docs
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6422 Rename ControlPlaneVersionsBundle to RootVersionsBundle
  cmd/eksctl-anywhere/cmd/deprecated_importimages.go
  pkg/awsiamauth/template.go
  pkg/cluster/spec.go
  pkg/cluster/spec_test.go
  pkg/clusterapi/apibuilder.go
  pkg/clusterapi/bottlerocket_test.go
  pkg/clusterapi/upgrader.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/eksa_installer.go
  pkg/dependencies/factory.go
  pkg/eksd/upgrader.go
  pkg/executables/clusterctl.go
  pkg/executables/kind.go
  pkg/gitops/flux/files.go
  pkg/gitops/flux/upgrader.go
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
  pkg/networking/cilium/upgrade_plan.go
  pkg/networking/cilium/upgrader.go
  pkg/networking/kindnetd/manifest.go
  pkg/networking/kindnetd/upgrader.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/template.go
  pkg/providers/docker/docker.go
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/template.go
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/tinkerbell/upgrade_test.go
  pkg/providers/vsphere/defaults.go
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#6424 Fix incorrect k8s version in vSphere E2E
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/XS

#6425 Fix Tinkerbell actions docs
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6419 Remove unused functions
  pkg/api/v1alpha1/tinkerbelltemplateconfig.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_test.go
Labels: approved, lgtm, size/L

#6414 Add ability to list clusters across namespaces for validating management cluster name
  controllers/cluster_controller.go
  controllers/cluster_controller_test_test.go
  manager/main.go
  pkg/controller/clientutil/indexers.go
  pkg/controller/clientutil/indexers_test.go
  pkg/controller/clusters/management.go
  pkg/controller/clusters/validations.go
  pkg/controller/clusters/validations_test.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#6435 Add ability to list clusters across namespaces for validating management cluster name (#6414)
  controllers/cluster_controller.go
  controllers/cluster_controller_test_test.go
  manager/main.go
  pkg/controller/clientutil/indexers.go
  pkg/controller/clientutil/indexers_test.go
  pkg/controller/clusters/management.go
  pkg/controller/clusters/validations.go
  pkg/controller/clusters/validations_test.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#6439 Fix checkpoint test to not fail at etcd rolling out
  internal/pkg/api/vsphere.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/S

#6195 Set etcd url in cloud-config when external etcd is enabled
  pkg/cluster/fetch_test.go
  pkg/cluster/spec.go
  pkg/clusterapi/apibuilder_test.go
  pkg/clusterapi/etcd.go
  pkg/clusterapi/etcd_test.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/template.go
  pkg/providers/cloudstack/testdata/expected_results_affinity_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_availability_zones_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp_kubernetes_version.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_rollout_strategy_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_insecure_skip_and_cert_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_insecure_skip_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_resourceids_cp.yaml
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/docker/testdata/capd_valid_full_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/capd_valid_minimal_oidc_cp_expected.yaml
  pkg/providers/docker/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/docker/testdata/expected_results_mirror_with_auth_config_cp.yaml
  pkg/providers/docker/testdata/expected_results_mirror_with_cert_config_cp.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_expected_124onwards.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_pod_iam_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_cp_taints_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_custom_cidrs_cp_expected.yaml
  pkg/providers/docker/testdata/valid_deployment_node_labels_cp_expected.yaml
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/snow_test.go
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/template.go
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/controlplane_test.go
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/testdata/expected_results_diff_template_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provder_and_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provider_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_csi_driver_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_with_auth_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/testdata/expected_results_ubuntu_ntp_config_cp.yaml
Labels: approved, lgtm, size/M

#6441 Add unit tests for management.go
  pkg/controller/clusters/management_test.go
  pkg/controller/clusters/validations_test.go
Labels: approved, lgtm, size/L

#6445 Add unit tests for management.go (#6441)
  pkg/controller/clusters/management_test.go
  pkg/controller/clusters/validations_test.go
Labels: approved, lgtm, size/L

#6438 Retrieve management cluster namespace instead of assuming workload cluster namespace
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/validations/createvalidations/gitops.go
  pkg/validations/createvalidations/gitops_test.go
Labels: approved, lgtm, size/L

#6448 [v0.16.4] Trigger staging bundle release for v0.16.4
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6449 [v0.16.4] Trigger staging cli release for 0.16.4
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6323 Vsphere multi template e2e
  internal/pkg/api/vsphere.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/executables/testdata/kubectl_vspheremachine.json
  test/e2e/multi_templates.go
  test/e2e/vsphere_test.go
  test/framework/multi_template.go
  test/framework/multi_template_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#6455 Remove kubebuilder root tags from unreleased Rufio CRDs to avoid generating deepcopy
  pkg/providers/tinkerbell/rufiounreleased/baseboardmanagement.go
Labels: approved, lgtm, size/XS

#6454 Fix all worker node groups being rolled when labels adjusted
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/docker/docker.go
  pkg/providers/nutanix/provider.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/S

#6459 Trigger prod cli release for v0.16.4
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6417 Update changelog for v0.16.4
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6464 Update golden files
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.16-bundle-release.yaml
Labels: approved, lgtm, size/M

#6462 Update homebrew to use v0.16.4
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6229 doc updates to cluster management overview
  docs/content/en/docs/clustermgmt/cluster-overview.md
Labels: approved, lgtm, ok-to-test, size/M, area/docs, documentation, docathon

#6467 license cluster doc improvements
  docs/content/en/docs/clustermgmt/support/cluster-license.md
Labels: approved, lgtm, ok-to-test, size/S, area/docs, documentation, docathon

#6473 Trigger staging bundle release for 0.16.5
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6474 Trigger staging cli release for 0.16.5
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6478 Trigger prod bundle release for 0.16.5
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6479 Trigger prod cli release for 0.16.5
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6484 Trigger staging bundle release for v0.17.0
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6483 Update changelog for 0.16.5
  docs/content/en/docs/osmgmt/artifacts.md
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6475 clarify certificate rotation docs
  docs/content/en/docs/clustermgmt/security/manually-renew-certs.md
Labels: approved, lgtm, ok-to-test, size/M, area/docs, documentation

#6482 Fix worker node groups being rolled out when taints are changes
  pkg/api/v1alpha1/cluster_types.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/docker/docker.go
  pkg/providers/nutanix/provider.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/M

#6469 Update optional steps for create cluster on all providers
  docs/content/en/docs/getting-started/baremetal/baremetal-getstarted.md
  docs/content/en/docs/getting-started/cloudstack/cloudstack-getstarted.md
  docs/content/en/docs/getting-started/nutanix/nutanix-getstarted.md
  docs/content/en/docs/getting-started/snow/snow-getstarted.md
  docs/content/en/docs/getting-started/vsphere/vsphere-getstarted.md
Labels: approved, lgtm, size/L, area/docs, documentation

#6471 Update support bundle docs
  docs/content/en/docs/clustermgmt/support/supportbundle.md
Labels: approved, lgtm, size/L, area/docs, documentation, docathon

#6379 adding observability
  docs/content/en/docs/clustermgmt/observability/_index.md
  docs/content/en/docs/clustermgmt/observability/cluster-connect.md
  docs/content/en/docs/clustermgmt/observability/cluster-verify.md
  docs/content/en/docs/clustermgmt/observability/fluentbit-logging.md
  docs/content/en/docs/clustermgmt/observability/overview.md
  docs/static/images/observability_arn_copy.png
  docs/static/images/observability_cluster_verify_Daemonset.png
  docs/static/images/observability_container_insights.png
  docs/static/images/observability_create_policy.png
  docs/static/images/observability_logGroups.png
  docs/static/images/observability_logGroups_filterlog.png
  docs/static/images/observability_role_creation.png
  docs/static/images/observability_search_logstream.png
  docs/static/images/observability_select_permission.png
  docs/static/manifests/fluentbit.yaml
Labels: approved, lgtm, ok-to-test, size/XL, area/docs, documentation

#6472 Update validated hardware list
  docs/content/en/docs/getting-started/baremetal/bare-prereq.md
Labels: approved, lgtm, ok-to-test, size/S, area/docs, documentation

#6480 Disable deep copy generation for Condition type alias
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/condition_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm, size/S

#6492 Trigger update brew version to 0.16.5
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6498 Trigger prod bundle release for 0.17.0
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6499 Trigger prod cli release for 0.17.0
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6413 Overview review
  docs/content/en/docs/concepts/architecture.md
  docs/content/en/docs/getting-started/_index.md
  docs/content/en/docs/getting-started/airgapped/_index.md
  docs/content/en/docs/getting-started/baremetal/_index.md
  docs/content/en/docs/getting-started/baremetal/overview.md
  docs/content/en/docs/getting-started/baremetal/tinkerbell-overview.md
  docs/content/en/docs/getting-started/cloudstack/_index.md
  docs/content/en/docs/getting-started/docker/_index.md
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/getting-started/nutanix/_index.md
  docs/content/en/docs/getting-started/nutanix/domains.md
  docs/content/en/docs/getting-started/nutanix/nutanix-getstarted.md
  docs/content/en/docs/getting-started/nutanix/overview.md
  docs/content/en/docs/getting-started/optional/_index.md
  docs/content/en/docs/getting-started/overview.md
  docs/content/en/docs/getting-started/ports/_index.md
  docs/content/en/docs/getting-started/snow/_index.md
  docs/content/en/docs/getting-started/snow/snow-getstarted.md
  docs/content/en/docs/getting-started/vsphere/_index.md
  docs/content/en/docs/getting-started/vsphere/domains.md
  docs/content/en/docs/getting-started/vsphere/overview.md
  docs/content/en/docs/getting-started/vsphere/vsphere-getstarted.md
Labels: approved, lgtm, size/XXL, area/docs, documentation, docathon

#6213 Simplify Cluster Autoscaler Docs
  docs/content/en/docs/getting-started/optional/autoscaling.md
  docs/content/en/docs/packages/cluster-autoscaler/addclauto.md
Labels: approved, lgtm, size/L, area/docs, documentation, docathon

#6210 Update changelog for 0.17.0
  docs/content/en/docs/osmgmt/artifacts.md
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/L, area/docs, documentation

#6506 Update 0.17.0 changelog with minor changes
  docs/content/en/docs/osmgmt/artifacts.md
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6505 0.17.0 changelog
  docs/content/en/docs/osmgmt/artifacts.md
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/L, area/docs, documentation

#6507 Bump up docs site to 0.17.0
  docs/config.toml
  docs/content/en/docs/concepts/support-versions.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6497 Add Cluster status docs
  docs/content/en/docs/clustermgmt/cluster-flux.md
  docs/content/en/docs/clustermgmt/cluster-scale/baremetal-scale.md
  docs/content/en/docs/clustermgmt/cluster-status.md
  docs/content/en/docs/clustermgmt/cluster-terraform.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/baremetal-upgrades.md
  docs/content/en/docs/getting-started/baremetal/baremetal-getstarted.md
  docs/content/en/docs/getting-started/cloudstack/cloudstack-getstarted.md
  docs/content/en/docs/getting-started/snow/snow-getstarted.md
  docs/content/en/docs/getting-started/vsphere/vsphere-getstarted.md
Labels: approved, lgtm, size/L, area/docs, documentation

#6509 Manual cherry-pick of #6379
  docs/content/en/docs/clustermgmt/observability/_index.md
  docs/content/en/docs/clustermgmt/observability/cluster-connect.md
  docs/content/en/docs/clustermgmt/observability/cluster-verify.md
  docs/content/en/docs/clustermgmt/observability/fluentbit-logging.md
  docs/content/en/docs/clustermgmt/observability/overview.md
  docs/static/images/observability_arn_copy.png
  docs/static/images/observability_cluster_verify_Daemonset.png
  docs/static/images/observability_container_insights.png
  docs/static/images/observability_create_policy.png
  docs/static/images/observability_logGroups.png
  docs/static/images/observability_logGroups_filterlog.png
  docs/static/images/observability_role_creation.png
  docs/static/images/observability_search_logstream.png
  docs/static/images/observability_select_permission.png
  docs/static/manifests/fluentbit.yaml
Labels: approved, lgtm, size/XL, area/docs, documentation

#6450 Add APIs for ETCD Encryption
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/api/v1alpha1/etcdencryption_types.go
  pkg/api/v1alpha1/etcdncryption.go
Labels: approved, lgtm, size/L

#6513 Generate release testdata files
  release/pkg/operations/bundle_release_test.go
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.17-bundle-release.yaml
Labels: approved, lgtm, size/XXL

#6493 Documentation for k8s modular upgrades
  docs/content/en/docs/clustermgmt/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/snow/snow-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6494 EKSA Version Documentation
  docs/content/en/docs/clustermgmt/cluster-upgrades/baremetal-upgrades.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6516 Update changelog to add machine health checks PR
  CHANGELOG.md
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6510 Trigger update brew version to 0.17.0
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6518 Add Chris Splinter to docs OWNERS
  docs/OWNERS
Labels: approved, lgtm, size/XS, area/docs, documentation

#6519 Trigger update brew version to 0.17.0
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#6515 Fix fluentbit steps to use proper heading levels
  docs/content/en/docs/clustermgmt/observability/fluentbit-logging.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6520 Add MHC to cluster spec generate
  pkg/api/v1alpha1/cluster_types.go
  pkg/clustermanager/cluster_manager_wb_test.go
Labels: approved, lgtm, size/S

#6501 Error out when management kubeconfig is not present for workload cluster operations
  cmd/eksctl-anywhere/cmd/options.go
Labels: approved, lgtm, size/S

#6528 Add docs for skip control plane ip check annotation
  docs/content/en/docs/getting-started/optional/skipvalidations.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6521 Docs for machine health checks
  docs/content/en/docs/getting-started/optional/healthchecks.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6436 Add generate TinkerbellTemplateConfig command
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/flags.go
  cmd/eksctl-anywhere/cmd/flags/cluster.go
  cmd/eksctl-anywhere/cmd/flags/flag.go
  cmd/eksctl-anywhere/cmd/flags/require.go
  cmd/eksctl-anywhere/cmd/flags/require_test.go
  cmd/eksctl-anywhere/cmd/flags/tinkerbell.go
  cmd/eksctl-anywhere/cmd/generate.go
  cmd/eksctl-anywhere/cmd/generate_tinkerbell_template_config.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/utils/yaml/kubernetes.go
Labels: approved, lgtm, size/L

#6531 Add documentation for cross-version image builds and UEFI support
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6545 Refresh test certs to not be expired
  pkg/crypto/validator_test.go
Labels: approved, lgtm, size/L

#6546 Update test retrier to avoid long test
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XS

#6547 Update packages.md
  docs/content/en/docs/getting-started/optional/packages.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6549 [release-0.17] Add verify generated files make target
  Makefile
Labels: approved, lgtm, ok-to-test, size/S

#6555 Update cloudstack e2es to not pull template name from secrets
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  test/framework/cloudstack.go
Labels: approved, lgtm, size/S

#6542 Check machine configs have an SSH key for upgrade
  pkg/api/v1alpha1/cloudstackmachineconfig_types.go
  pkg/api/v1alpha1/nutanixmachineconfig_types.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types.go
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/providers/ssh.go
  pkg/providers/ssh_test.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/utils.go
Labels: approved, lgtm, size/L

#6558 Fix regex for make clean
  Makefile
Labels: approved, lgtm, size/XS

#6551 fix upgrade from latest e2e
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/validations/cluster_test.go
Labels: approved, lgtm, size/M

#6543 Update default CLI tools image to latest
  pkg/executables/builder.go
Labels: approved, lgtm, size/XS

#6562 bump down concurrent test runners to 20 for tinkerbell
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#6536 Admin doc update
  docs/content/en/docs/getting-started/install/_index.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6561 Fix ssh validation flaky test
  pkg/providers/ssh_test.go
Labels: approved, lgtm, size/XS

#6565 Add list of validated partners to docs
  docs/content/en/docs/overview/partner/_index.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6568 Make credentialProvider field optional
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/pkg/test/testdata/release-0.17-bundle-release.yaml
Labels: approved, lgtm, size/M

#6554 Add 1.28 feature flag
  pkg/api/v1alpha1/cluster_types.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
Labels: approved, lgtm, size/M

#6572 Revert docker tests to use cilium instead of kindnetd
  internal/pkg/api/cluster.go
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/docker_test.go
Labels: approved, lgtm, size/S

#6533 Update registrymirror doc
  docs/content/en/docs/getting-started/optional/registrymirror.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6212 Document Workload Packages Clusters
  docs/content/en/docs/packages/overview.md
  docs/static/images/packages-controller-workload-cluster.svg
Labels: approved, lgtm, size/M, area/docs, documentation, docathon

#6576 Fix upgrade from latest minor release API tests
  controllers/cluster_controller_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  test/e2e/upgrade_from_latest.go
Labels: approved, lgtm, size/S

#5680 Security Improvement for binary install
  docs/content/en/docs/getting-started/install/_index.md
Labels: approved, lgtm, ok-to-test, size/XS, area/docs, documentation

#6556 cloudstack cluster/dc/mc should use same namespace
  pkg/cluster/testdata/cluster_tinkerbell_1_19.yaml
  pkg/cluster/tinkerbell.go
  pkg/cluster/tinkerbell_test.go
  pkg/cluster/validate_test.go
Labels: approved, lgtm, size/M

#6589 [release-0.17] Bump github.com/docker/docker from 23.0.2+incompatible to 23.0.3+incompatible
  go.mod
  go.sum
  release/go.mod
  release/go.sum
Labels: approved, lgtm, size/S

#6593 Improve the Admin Machine page of our docs
  docs/content/en/docs/getting-started/install/_index.md
Labels: approved, lgtm, area/docs, documentation

#6594 Try to fix file reader proxy flaky test
  pkg/files/reader_test.go
Labels: approved, lgtm, size/M

#6599 artifacts.md: update checksum for Bottlerocket's new root.json
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, ok-to-test, size/XS, area/docs, documentation

#6591 Fix vSphere template tags validation
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/validator_test.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#6577 Updated supported version docs with bundle and OS information
  docs/content/en/docs/concepts/support-versions.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6610 Revert 6580 cherry pick 6576 to release 0.17
  controllers/cluster_controller_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  test/e2e/upgrade_from_latest.go
Labels: approved, lgtm, size/S, area/docs, documentation

#6612 Fix to fetch the correct prev minor release for e2e tests
  test/e2e/upgrade_from_latest.go
  test/framework/release_versions.go
Labels: approved, lgtm, size/M

#6608 Trigger staging release for v0.17.1
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#6609 Triggering staging CLI release v0.17.1
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS
