Repository aws/eks-anywhere, pull requests merged in 2023-04, with the labels that each got.

#5493 bump Homebrew version for EKS-A v0.15.0
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5492 Update changelog supported OS version details title
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#5504 Fix BR ova version in doc
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#5488 Clone default transport to honor http proxy config
  internal/test/http.go
  pkg/files/reader.go
  pkg/files/reader_test.go
Labels: approved, lgtm, size/L

#5416 Docs for new credential provider package
  docs/content/en/docs/reference/packagespec/credential-provider-package/_index.md
  docs/content/en/docs/reference/packagespec/credential-provider-package/v0.1.0.md
  docs/content/en/docs/tasks/packages/credential-provider-package/_index.md
  docs/content/en/docs/workshops/packages/credential-provider-package/_index.md
  docs/content/en/docs/workshops/packages/credential-provider-package/iam_roles_anywhere.md
Labels: approved, lgtm, size/L, area/docs, documentation

#5507 Skippackageinstallation
  pkg/curatedpackages/packageinstaller.go
  pkg/curatedpackages/packageinstaller_test.go
Labels: approved, lgtm, size/S

#5515 Avoid internet calls for eks-d manifests in tests
  internal/test/cluster.go
  internal/test/testdata/bundles.yaml
  internal/test/testdata/bundles_template.yaml
Labels: approved, lgtm, size/XL

#5520 Trigger staging bundle release for v0.15.1
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#5523 Trigger Staging CLI release for v0.15.1
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5526 Trigger prod bundle release v0.15.1
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#5527 Trigger Prod CLI release for v0.15.1
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5503 Update NutanixDatacenterConfig docs
  docs/content/en/docs/reference/clusterspec/nutanix.md
Labels: approved, lgtm, needs-ok-to-test, size/XS, area/docs, documentation

#5530 Update changelog release for v0.15.1
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#5533 Update docs for release v0.15.1
  docs/content/en/docs/reference/artifacts.md
Labels: approved, lgtm, size/S, area/docs, documentation

#5534 Bump brew verison for EKS-A v0.15.1
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5538 Backport v0.15.1 changelog to main
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#5542 Add vSphere cloneMode docs
  docs/content/en/docs/reference/clusterspec/vsphere.md
Labels: approved, lgtm, size/M, area/docs, documentation

#5548 Update Cloudstack e2e control plane CIDR
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#5549 Update Cloudstack e2e control plane CIDR
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#5551 Fix default EKS-A release manifest URL in Makefile
  release/Makefile
Labels: approved, lgtm, size/XS

#5540 Added Cloudstack IPValidator for lifecycle api
  controllers/factory.go
  pkg/providers/cloudstack/reconciler/mocks/reconciler.go
  pkg/providers/cloudstack/reconciler/reconciler.go
  pkg/providers/cloudstack/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#5543 Redact authenticated registry mirror creds
  pkg/executables/executables.go
  pkg/executables/executables_test.go
Labels: approved, lgtm, size/S

#5434 Generate cloudstack CP CAPI objects
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/controlplane.go
  pkg/providers/cloudstack/controlplane_test.go
  pkg/providers/cloudstack/machinetemplate.go
  pkg/providers/cloudstack/template.go
  pkg/providers/cloudstack/template_test.go
Labels: approved, lgtm, size/XXL

#5478 Fix worker node machine group ref name update
  internal/test/timer.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/vsphere/testdata/expected_results_main_md_update_machine_template.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#5458 Add upgrade examples for full lifecycle TF and Gitops
  docs/content/en/docs/tasks/cluster/cluster-flux.md
  docs/content/en/docs/tasks/cluster/cluster-terraform.md
Labels: approved, lgtm, size/M, area/docs, documentation

#5471 Fix nil pointer panic during upgrade of machineConfigName
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#5558 Cloudstack reconciler cni
  controllers/factory.go
  pkg/providers/cloudstack/reconciler/mocks/reconciler.go
  pkg/providers/cloudstack/reconciler/reconciler.go
  pkg/providers/cloudstack/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#5544 Generate CloudStack Workers CAPI objects
  pkg/clusterapi/name.go
  pkg/clusterapi/name_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/controlplane.go
  pkg/providers/cloudstack/controlplane_test.go
  pkg/providers/cloudstack/template.go
  pkg/providers/cloudstack/template_test.go
  pkg/providers/cloudstack/workers.go
  pkg/providers/cloudstack/workers_test.go
  pkg/providers/tinkerbell/workers.go
  pkg/providers/vsphere/template.go
Labels: approved, lgtm, size/XL

#5522 Add manual certs renewal page
  docs/assets/scss/_styles_project.scss
  docs/content/en/docs/tasks/cluster/manually-renew-certs.md
Labels: approved, lgtm, size/L, area/docs, documentation

#5580 Fix etcd certs backup instruction
  docs/content/en/docs/tasks/cluster/manually-renew-certs.md
Labels: approved, lgtm, size/S, area/docs, documentation

#5584 Add retrier to awsiamauth installer
  Makefile
  pkg/awsiamauth/client.go
  pkg/awsiamauth/client_test.go
  pkg/awsiamauth/installer.go
  pkg/awsiamauth/installer_test.go
  pkg/awsiamauth/mock_test.go
  pkg/awsiamauth/mocks/clients.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/dependencies/factory.go
  pkg/executables/kubectl.go
Labels: approved, lgtm, size/L

#5574 Add notimeouts option for cilium
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/options.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/clustermanager/kube_proxy.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/networking/cilium/client.go
  pkg/networking/cilium/client_test.go
Labels: approved, lgtm, size/L

#5591 Make kubectl tests faster
  pkg/executables/export_test.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/L

#5596 Add notimeouts for awsiamauth
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
Labels: approved, lgtm, size/S

#5572 Add ETCD backup/restore docs for Bottlerocket
  docs/content/en/docs/tasks/cluster/etcd-backup-restore/_index.md
  docs/content/en/docs/tasks/cluster/etcd-backup-restore/bottlerocket-etcd-backup.md
  docs/content/en/docs/tasks/cluster/etcd-backup-restore/ubuntu-rhel-etcd-backup.md
Labels: approved, lgtm, size/L, area/docs, documentation

#5607 Fixing tinkerbell workload cluster ssh key reconciliation issue
  pkg/providers/tinkerbell/controlplane_test.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/template.go
Labels: approved, lgtm, size/S

#5569 Fix regauth FLC
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  pkg/config/registry.go
  pkg/config/registry_test.go
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/testdata/expected_results_mirror_with_auth_config_cp.yaml
  pkg/providers/tinkerbell/template.go
Labels: approved, lgtm, size/L

#5592 Remove requirement of cgroups v2 for kind cluster
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/validations.go
  docs/content/en/docs/getting-started/install/_index.md
  docs/content/en/docs/tasks/troubleshoot/troubleshooting.md
  pkg/executables/docker.go
  pkg/executables/docker_test.go
  pkg/validations/createcluster/createcluster_test.go
  pkg/validations/docker.go
  pkg/validations/docker_test.go
  pkg/validations/mocks/docker.go
Labels: approved, lgtm, size/L, area/docs, documentation

#5553 Add 1.26 conformance certified image
  README.md
  docs/static/images/certified-kubernetes-1.22-color.svg
  docs/static/images/certified-kubernetes-1.23-color.svg
  docs/static/images/certified-kubernetes-1.25-pantone.svg
  docs/static/images/certified-kubernetes-1.26-pantone.svg
Labels: approved, lgtm, size/XS, area/docs, documentation

#5590 cloudstack reconcile cp
  internal/test/envtest/environment.go
  pkg/providers/cloudstack/reconciler/reconciler.go
  pkg/providers/cloudstack/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#5612 Refactor bootstrapper retrier and add notimeouts
  Makefile
  pkg/bootstrapper/bootstrapper.go
  pkg/bootstrapper/bootstrapper_test.go
  pkg/bootstrapper/client.go
  pkg/bootstrapper/client_test.go
  pkg/bootstrapper/mocks/bootstrapper.go
  pkg/bootstrapper/mocks/client.go
  pkg/bootstrapper/retrier_client.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
Labels: approved, lgtm, size/XL

#5615 Add notimeouts to eksd installer and upgrader
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/eksd/installer.go
  pkg/eksd/installer_test.go
  pkg/eksd/upgrader.go
Labels: approved, lgtm, size/M

#5609 Use kubectl for kube-proxy upgrader calls
  Makefile
  internal/test/kubernetes.go
  pkg/clients/kubernetes/client.go
  pkg/clients/kubernetes/client_test.go
  pkg/clients/kubernetes/kubeconfig.go
  pkg/clients/kubernetes/kubeconfig_test.go
  pkg/clients/kubernetes/kubectl.go
  pkg/clients/kubernetes/kubectl_test.go
  pkg/clients/kubernetes/mocks/client.go
  pkg/clients/kubernetes/mocks/kubeconfig.go
  pkg/clients/kubernetes/mocks/kubectl.go
  pkg/clients/kubernetes/scheme.go
  pkg/clients/kubernetes/unauth.go
  pkg/clients/kubernetes/unauth_test.go
  pkg/clustermanager/kube_proxy.go
  pkg/clustermanager/kube_proxy_test.go
  pkg/clustermanager/mocks/kube_proxy.go
  pkg/controller/clientutil/kubernetes.go
  pkg/controller/clientutil/kubernetes_test.go
  pkg/controller/clusterapi.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_getter_helper_test.go
  pkg/executables/kubectl_test.go
  pkg/providers/snow/mocks/client.go
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
  test/e2e/metallb.go
  test/framework/vspherecsi.go
Labels: approved, lgtm, size/XXL

#5547 Add doc for bring your own DHCP:
  docs/content/en/docs/reference/baremetal/bring-your-own-dhcp.md
  docs/static/images/eksa-baremetal-bring-your-own-dhcp.png
Labels: approved, lgtm, size/L, area/docs, documentation

#5583 Add retries around clusterctl move --to-directory command
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/cluster_manager_wb_test.go
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/executables/export_test.go
Labels: approved, lgtm, size/L

#5620 Fix notimeouts for cilium
  pkg/dependencies/factory.go
Labels: approved, lgtm, size/XS

#5626 Added --no-timeouts support for clusterctl move operations
  pkg/clustermanager/cluster_manager.go
Labels: approved, lgtm, size/S

#5624 Split flaky VSphere full lifecycle E2E
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/M

#5630 Handle snow objects with no namespace in api calls
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
Labels: approved, lgtm, size/M

#5611 cloudstack reconcile workers
  pkg/providers/cloudstack/reconciler/reconciler.go
  pkg/providers/cloudstack/reconciler/reconciler_test.go
Labels: approved, lgtm, size/M

#5635 Add optional config section for Nutanix
  docs/content/en/docs/reference/clusterspec/nutanix.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#5638 Triggering staging bundle release for v0.15.2
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#5636 Skipped and restructured a few Tinkerbell e2e tests
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/L

#5639 Triggering Staging CLI release for v0.15.2
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5644 Trigger Prod Bundle Release for v0.15.2
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#5642 Add timeout to the e2e command
  internal/pkg/ssm/command.go
  internal/test/e2e/artifacts.go
  internal/test/e2e/fluxGit.go
  internal/test/e2e/oidc.go
  internal/test/e2e/registryMirror.go
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
  internal/test/e2e/tinkerbell.go
Labels: approved, lgtm, size/M

#5645 Trigger Prod CLI release for v0.15.2
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5606 reconcile cloudstack datacenter
  controllers/cloudstack_datacenter_controller.go
  controllers/cloudstack_datacenter_controller_test.go
Labels: lgtm, size/L

#5648 Skipped and restructured a few Tinkerbell e2e tests
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/L

#5646 Tinkerbell skip power action e2e test for a singlenode cluster
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/S

#5654 Bump homebrew version to v0.15.2
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5621 Manual cherry-pick of #5416 with one additional fix for casing of link
  docs/content/en/docs/reference/packagespec/credential-provider-package/_index.md
  docs/content/en/docs/reference/packagespec/credential-provider-package/v0.1.0.md
  docs/content/en/docs/tasks/packages/credential-provider-package/_index.md
  docs/content/en/docs/workshops/packages/credential-provider-package/_index.md
  docs/content/en/docs/workshops/packages/credential-provider-package/iam_roles_anywhere.md
Labels: approved, lgtm, size/L, area/docs, documentation

#5652 Update changelog for version v0.15.2
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#5661 fixes redaction test flappiness
  pkg/executables/executables_test.go
Labels: approved, lgtm, size/XS

#5660 Backport changelog v0.15.2
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#5662 Packages e2e support bundle
  test/e2e/curatedpackages.go
  test/framework/cluster.go
Labels: approved, lgtm, size/S

#5663 add a comment, and rename to make deprecation more obvious
  cmd/eksctl-anywhere/cmd/deprecated_importimages.go
Labels: approved, lgtm, size/XS

#5668 Skip vSphere Ubuntu upgrade API test
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#5669 renaming github e2e tests
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/XS

#5670 Add containerd tarball to bundle release manifest
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/config/crd/bases/anywhere.eks.amazonaws.com_releases.yaml
  release/pkg/assets/config/bundle_release.go
  release/pkg/bundles/eksd.go
  release/pkg/operations/bundle_release_test.go
  release/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#5673 Add Tinkerbell warning in changelog
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#5647 CloudStack reconcile worker node
  pkg/providers/cloudstack/reconciler/reconciler.go
  pkg/providers/cloudstack/reconciler/reconciler_test.go
Labels: approved, lgtm, size/M

#5641 Add option to disable cp load balancer
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  docs/content/en/docs/reference/clusterspec/baremetal.md
  pkg/api/v1alpha1/cluster_types.go
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_disable_kube_vip.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_disable_kube_vip.yaml
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/L, area/docs, documentation

#5678 register datacenter reconciler
  manager/main.go
Labels: approved, lgtm, size/XS

#5666 Remove last-applied annotation for kubectl replace
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
Labels: approved, lgtm, size/M

#5676 Move cloudstack template builder to template file
  controllers/resource/template.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/template.go
Labels: approved, lgtm, size/XL

#5681 Update inaccurate notes
  docs/content/en/docs/getting-started/local-environment/_index.md
Labels: approved, lgtm, ok-to-test, size/XS, area/docs, documentation

#5686 Add Nutanix to Compare EKS Anywhere and EKS page
  docs/content/en/docs/concepts/eksafeatures.md
Labels: approved, lgtm, needs-ok-to-test, size/XS, area/docs, documentation

#5693 Update vSphere global permissions doc
  docs/content/en/docs/reference/vsphere/vsphere-preparation.md
  docs/static/images/global-permissions.png
Labels: approved, lgtm, size/XS, area/docs, documentation

#5632 Adding bundles-override to package cli commands
  cmd/eksctl-anywhere/cmd/applypackages.go
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/createpackages.go
  cmd/eksctl-anywhere/cmd/deletepackages.go
  cmd/eksctl-anywhere/cmd/describepackages.go
  cmd/eksctl-anywhere/cmd/generatepackage.go
  cmd/eksctl-anywhere/cmd/get.go
  cmd/eksctl-anywhere/cmd/getpackage.go
  cmd/eksctl-anywhere/cmd/getpackagebundle.go
  cmd/eksctl-anywhere/cmd/getpackagebundlecontroller.go
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
  cmd/eksctl-anywhere/cmd/installpackages.go
  cmd/eksctl-anywhere/cmd/listpackages.go
  cmd/eksctl-anywhere/cmd/upgradepackages.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/dependencies/testdata/cli_tools_bundle.yaml
Labels: approved, lgtm, size/L

#5677 use --password-stdin to prevent process table leaking
  pkg/executables/helm.go
Labels: approved, lgtm, size/XS

#5207 Confirm cancelling when user cancels (Ctrl+C) CLI execution
  cmd/eksctl-anywhere/cmd/root.go
  cmd/eksctl-anywhere/main.go
  pkg/console/console.go
  pkg/console/console_test.go
  pkg/logger/init.go
  pkg/logger/pause.go
  pkg/logger/pause_test.go
  pkg/signals/signals.go
Labels: approved, lgtm, size/L

#5689 Add Timeout to Delete Full Lifecycle API E2E
  pkg/executables/kubectl.go
  test/e2e/vsphere_test.go
  test/framework/workload.go
Labels: approved, lgtm, size/M

#5536 Remove apt commands and iscsid initiation from Nutanix control plane kubeadmconfig
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/testdata/expected_results_node_taints_labels.yaml
  pkg/providers/nutanix/testdata/expected_results_oidc.yaml
  pkg/providers/nutanix/testdata/expected_results_project.yaml
  pkg/providers/nutanix/testdata/expected_results_registry_mirror.yaml
Labels: approved, lgtm, ok-to-test, size/S

#5699 Update curated package cmd doc with bundles override
  docs/content/en/docs/reference/eksctl/anywhere_apply_package(s).md
  docs/content/en/docs/reference/eksctl/anywhere_copy_packages.md
  docs/content/en/docs/reference/eksctl/anywhere_create_package(s).md
  docs/content/en/docs/reference/eksctl/anywhere_delete_package(s).md
  docs/content/en/docs/reference/eksctl/anywhere_describe_package(s).md
  docs/content/en/docs/reference/eksctl/anywhere_generate_packages.md
  docs/content/en/docs/reference/eksctl/anywhere_get_package(s).md
  docs/content/en/docs/reference/eksctl/anywhere_get_packagebundle(s).md
  docs/content/en/docs/reference/eksctl/anywhere_get_packagebundlecontroller(s).md
  docs/content/en/docs/reference/eksctl/anywhere_install_package.md
  docs/content/en/docs/reference/eksctl/anywhere_install_packagecontroller.md
  docs/content/en/docs/reference/eksctl/anywhere_list_packages.md
  docs/content/en/docs/reference/eksctl/anywhere_upgrade_packages.md
Labels: approved, lgtm, size/L, area/docs, documentation

#5701 Nutanix ControlPlaneEndpoint IP Validation
  Makefile
  pkg/dependencies/factory.go
  pkg/providers/nutanix/mocks/validator.go
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
  pkg/providers/nutanix/validator.go
Labels: approved, lgtm, needs-ok-to-test, size/M

#5711 Trigger staging bundle release for EKS-A v0.15.3
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#5712 Trigger CLI staging pipelines for release v0.15.3
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5718 Add missing methods to support Tinkerbell upgrade tests
  internal/pkg/api/tinkerbell.go
  test/e2e/multicluster.go
  test/e2e/upgrade.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/M

#5733 Trigger production bundle release for v0.15.3
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#5734 Trigger production CLI release for v0.15.3
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#5709 Add 1.27 feature flag
  pkg/api/v1alpha1/cluster_types.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
Labels: approved, lgtm, size/M

#5739 Update changelog for EKS-A v0.15.3
  docs/content/en/docs/reference/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#5743 Bump Homebrew version for EKS-A v0.15.3
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS
