Repository aws/eks-anywhere, pull requests merged in 2023-11, with the labels that each got.

#6950 Update Brew Formula Update
  scripts/brew_formula_update.sh
  scripts/eks-anywhere.rb.tmpl
Labels: approved, lgtm, size/M

#6930 Image builder docs for Proxy and RedHat Satellite support
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6921 Add SANs configurability for API server
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/clusterapi/apibuilder.go
  pkg/clusterapi/apibuilder_test.go
  pkg/clusterapi/identity_test.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/template.go
  pkg/providers/cloudstack/template_test.go
  pkg/providers/cloudstack/testdata/cluster_api_server_cert_san_domain_name.yaml
  pkg/providers/cloudstack/testdata/cluster_api_server_cert_san_ip.yaml
  pkg/providers/cloudstack/testdata/expected_cluster_api_server_cert_san_domain_name.yaml
  pkg/providers/cloudstack/testdata/expected_cluster_api_server_cert_san_ip.yaml
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/docker/testdata/cluster_api_server_cert_san_domain_name.yaml
  pkg/providers/docker/testdata/cluster_api_server_cert_san_ip.yaml
  pkg/providers/docker/testdata/expected_cluster_api_server_cert_san_domain_name.yaml
  pkg/providers/docker/testdata/expected_cluster_api_server_cert_san_ip.yaml
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/template.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/cluster_api_server_cert_san_domain_name.yaml
  pkg/providers/nutanix/testdata/cluster_api_server_cert_san_ip.yaml
  pkg/providers/nutanix/testdata/expected_cluster_api_server_cert_san_domain_name.yaml
  pkg/providers/nutanix/testdata/expected_cluster_api_server_cert_san_ip.yaml
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/template_test.go
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_api_server_cert_san_domain_name.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_api_server_cert_san_ip.yaml
  pkg/providers/tinkerbell/testdata/expected_cluster_tinkerbell_api_server_cert_san_domain_name.yaml
  pkg/providers/tinkerbell/testdata/expected_cluster_tinkerbell_api_server_cert_san_ip.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/template_test.go
  pkg/providers/vsphere/testdata/cluster_api_server_cert_san_domain_name.yaml
  pkg/providers/vsphere/testdata/cluster_api_server_cert_san_ip.yaml
  pkg/providers/vsphere/testdata/expected_cluster_api_server_cert_san_domain_name.yaml
  pkg/providers/vsphere/testdata/expected_cluster_api_server_cert_san_ip.yaml
  pkg/templater/templater.go
Labels: approved, lgtm, size/XXL

#6955 Update supported OS versions table
  docs/content/en/docs/osmgmt/overview.md
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6957 Update supported OS versions table
  docs/content/en/docs/osmgmt/overview.md
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6954 Use beta packages account public ECR as source registry for regional packages
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/reader.go
  pkg/curatedpackages/regional_registry.go
Labels: approved, lgtm, size/S

#6958 Add instruction of management cluster backup and restore
  docs/content/en/docs/clustermgmt/cluster-backup-restore/_index.md
  docs/content/en/docs/clustermgmt/cluster-backup-restore/backup-cluster.md
  docs/content/en/docs/clustermgmt/cluster-backup-restore/restore-cluster.md
  docs/content/en/docs/clustermgmt/etcd-backup-restore/etcdbackup.md
Labels: approved, lgtm, size/L, area/docs, documentation

#6121 Modular K8s Version Upgrade Doc
  designs/modular-kubernetes-version-upgrade.md
Labels: approved, lgtm, size/M

#6867 Remove supfluous context in `ForSpec()` func
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
  cmd/eksctl-anywhere/cmd/validatecreatecluster.go
  pkg/dependencies/factory.go
Labels: approved, lgtm, size/S

#6956 Update Supported Versions Page
  docs/content/en/docs/concepts/support-versions.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6961 Add changelog template
  docs/developer/CHANGELOG_TEMPLATE.md
Labels: size/M, area/docs, documentation

#6965 Fix restore doc typo
  docs/content/en/docs/clustermgmt/cluster-backup-restore/restore-cluster.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6922 Update docs about changes that went in for kindless upgrade task
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_nutanixmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbelldatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbellmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_vspheremachineconfigs.yaml
  docs/content/en/docs/clustermgmt/cluster-upgrades/baremetal-upgrades.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
  docs/content/en/docs/troubleshooting/troubleshooting.md
  pkg/api/v1alpha1/cloudstackmachineconfig_types.go
  pkg/api/v1alpha1/nutanixmachineconfig_types.go
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_types.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types.go
  pkg/api/v1alpha1/vspheremachineconfig_types.go
Labels: approved, lgtm, size/L, area/docs, documentation

#6755 Updated partner docs
  docs/content/en/docs/overview/partner/_index.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6964 Add docker regional curated packages e2e test
  cmd/integration_test/build/buildspecs/docker-test-eks-a-cli.yml
  internal/test/e2e/packages.go
  pkg/executables/kubectl.go
  test/e2e/docker_test.go
Labels: approved, lgtm, size/M

#6977 Add tinkerbell specific framework flow for autoscaler e2e tests
  test/e2e/autoscaler.go
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/S

#6978 Run larger tests for tinkerbell first for e2e runs
  internal/test/e2e/run.go
Labels: approved, lgtm, size/XS

#6991 Update management cluster restore doc to always apply eks-a spec
  docs/content/en/docs/clustermgmt/cluster-backup-restore/restore-cluster.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#6984 (1/4) Trigger v0.18.1 Bundle Staging Pipeline
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: lgtm, size/XS

#6987 (2/4) Trigger v0.18.1 CLI Staging Pipeline
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: lgtm, size/XS

#6990 Issue 6985: Bare metal upgrade should honor the TinkerbellDatacenterC…
  pkg/providers/tinkerbell/stack/mocks/stack.go
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade_with_proxy.yaml
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/tinkerbell/upgrade_test.go
Labels: approved, lgtm, ok-to-test, size/M

#6986 (3/4) Trigger v0.18.1 Bundle Production Pipeline
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: lgtm, size/XS

#6988 (4/4) Trigger v0.18.1 CLI Production Pipeline
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: lgtm, size/XS

#6972 Update notes for CHANGELOG template
  docs/developer/CHANGELOG_TEMPLATE.md
Labels: approved, lgtm, size/M, area/docs, documentation

#6796 Documentation for EKS-A subscriptions
  docs/content/en/docs/clustermgmt/support/cluster-license.md
  docs/content/en/docs/clustermgmt/support/create-subscription-output.md
  docs/content/en/docs/clustermgmt/support/describe-subscription-output.md
  docs/content/en/docs/clustermgmt/support/get-license-output.md
  docs/content/en/docs/clustermgmt/support/list-subscription-output.md
  docs/content/en/docs/clustermgmt/support/packages-registries.md
  docs/content/en/docs/clustermgmt/support/purchase-subscription.md
  docs/content/en/docs/clustermgmt/support/share-packages.md
  docs/content/en/docs/clustermgmt/support/supportbundle.md
  docs/content/en/docs/concepts/support-scope.md
Labels: approved, lgtm, size/XL, area/docs, documentation

#7007 Add proxy and redhat satellite support in 0.18.0 changelog
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#7004 Add v0.18.1 changelog
  docs/content/en/docs/whatsnew/changelog.md
Labels: lgtm, do-not-merge/hold, size/M, area/docs, documentation

#7012 Update versioning page to indicate CVE patches not back ported in 0.17
  docs/content/en/docs/concepts/support-versions.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#7014 Enable snow ubuntu upgrade e2e test
  test/e2e/SKIPPED_TESTS.yaml
Labels: lgtm, size/S

#7015 Use kubectl instead of k in docs
  docs/content/en/docs/packages/troubleshoot.md
Labels: lgtm, size/XS, area/docs, documentation

#7002 Skip flaky tests
  pkg/files/reader_test.go
  pkg/providers/cloudstack/reconciler/reconciler_test.go
  pkg/providers/docker/reconciler/reconciler_test.go
  pkg/providers/snow/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
Labels: lgtm, size/S

#7005 Update Brew to v0.18.1
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.17-bundle-release.yaml
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: size/L

#7019 Manual backport of brew version update
  release/pkg/test/testdata/main-bundle-release.yaml
  release/pkg/test/testdata/release-0.17-bundle-release.yaml
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, size/L

#7022 Run one snow e2e test case for each admin machine
  cmd/integration_test/build/buildspecs/snow-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#7025 (1/4) Trigger v0.17.5 Bundle Staging Pipeline
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7024 Update vSphere preparation content
  docs/content/en/docs/getting-started/vsphere/vsphere-preparation.md
Labels: lgtm, size/M, area/docs, documentation

#7021 Update package controller docs overview section
  docs/content/en/docs/getting-started/optional/packages.md
  docs/content/en/docs/packages/overview.md
  docs/content/en/docs/packages/packagebundles.md
  docs/content/en/docs/packages/packagecontroller.md
Labels: lgtm, size/S, area/docs, documentation

#7026 (2/4) Trigger v0.17.5 CLI Staging Pipeline
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7033 0.17.5 Changelog
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#7034 bump down concurrent tests for release - 17 branch
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#7036 Use latest version of Go for govulncheck
  .github/workflows/vulnerability.yml
Labels: approved, lgtm, size/XS

#6989 Air-gapped image building docs
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, size/L, area/docs, documentation

#7027 (3/4) Trigger v0.17.5 Bundle Production Pipeline
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7046 0.17.5 Changelog
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#7050 v0.17.5 Changelog
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#7051 Fix release test golden files update target
  release/Makefile
  release/cli/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/M

#7048 Patch incorrect conversion between uint64 and int64
  pkg/semver/semver.go
  pkg/validations/cluster_test.go
Labels: approved, lgtm, size/S

#7049 Fix incorrect regex for matching curated package registry URL
  cmd/eksctl-anywhere/cmd/import_images.go
  pkg/constants/constants.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/registrymirror/containerd/utils_test.go
  pkg/registrymirror/registrymirror.go
  pkg/registrymirror/registrymirror_test.go
Labels: lgtm, size/M

#7054 Add scaffolding for EKS-A in-place upgrade APIs
  config/crd/bases/anywhere.eks.amazonaws.com_controlplaneupgrades.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_machinedeploymentupgrades.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_nodeupgrades.yaml
  config/crd/kustomization.yaml
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/controlplaneupgrade_controller.go
  controllers/machinedeploymentupgrade_controller.go
  controllers/nodeupgrade_controller.go
  pkg/api/v1alpha1/controlplaneupgrade_types.go
  pkg/api/v1alpha1/machinedeploymentupgrade_types.go
  pkg/api/v1alpha1/nodeupgrade_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/clustermanager/eksa_installer_test.go
Labels: approved, lgtm, size/XXL

#7056 Add in-place controllers to EKS-A manager
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/controlplaneupgrade_controller.go
  controllers/factory.go
  controllers/machinedeploymentupgrade_controller.go
  controllers/nodeupgrade_controller.go
  manager/main.go
  pkg/api/v1alpha1/controlplaneupgrade_types.go
  pkg/api/v1alpha1/machinedeploymentupgrade_types.go
  pkg/api/v1alpha1/nodeupgrade_types.go
Labels: approved, lgtm, size/L

#6892 Add design for in-place upgrades in CAPI
  designs/images/in-place-upgrades-CAPI.excalidraw.png
  designs/in-place-upgrades-capi.md
Labels: approved, lgtm, size/L

#6893 Add design for in-place upgrades in EKS-A
  designs/images/In-place-upgrades-in-eks-a.excalidraw.png
  designs/images/in-place-controller-manager-components.png
  designs/images/in-place-controller-manager-components.puml
  designs/images/in-place-eks-a-container.png
  designs/images/in-place-eks-a-container.puml
  designs/in-place-upgrades-eksa.md
Labels: approved, lgtm, size/L

#7035 Docs: make prereq titles consistent
  docs/content/en/docs/getting-started/cloudstack/cloudstack-prereq.md
  docs/content/en/docs/getting-started/nutanix/nutanix-prereq.md
  docs/content/en/docs/getting-started/vsphere/vsphere-prereq.md
Labels: lgtm, size/M, area/docs, documentation

#7057 Patch malicious tarballs directory traversal vuln
  pkg/tar/untar.go
  pkg/tar/untar_test.go
Labels: approved, lgtm, size/M

#7047 Update cluster reboot nodes doc
  docs/content/en/docs/clustermgmt/cluster-rebootnode.md
Labels: approved, lgtm, size/M, area/docs, documentation

#7058 Remove vSphere DHCP customization page
  docs/content/en/docs/getting-started/vsphere/customize/vsphere-dhcp.md
  docs/content/en/docs/getting-started/vsphere/vsphere-prereq.md
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/L, area/docs, documentation

#7073 Update etcd backup restore doc cmd when grabbing etcd container id
  docs/content/en/docs/clustermgmt/etcd-backup-restore/bottlerocket-etcd-backup.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#7076 Trigger v0.18.2 Bundle Staging Pipeline
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7079 (2/4) Trigger v0.18.2 CLI Staging Pipeline
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7061 Add implementation for NodeUpgradeController
  Makefile
  config/crd/bases/anywhere.eks.amazonaws.com_nodeupgrades.yaml
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/factory.go
  controllers/factory_test.go
  controllers/mocks/nodeupgrade_controller.go
  controllers/nodeupgrade_controller.go
  controllers/nodeupgrade_controller_test.go
  pkg/api/v1alpha1/nodeupgrade_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/nodeupgrader/testdata/expected_first_control_plane_upgrader_pod.yaml
  pkg/nodeupgrader/testdata/expected_rest_control_plane_upgrader_pod.yaml
  pkg/nodeupgrader/testdata/expected_worker_upgrader_pod.yaml
  pkg/nodeupgrader/upgrader.go
  pkg/nodeupgrader/upgrader_test.go
Labels: approved, lgtm, size/XXL

#7080 (3/4) Trigger v0.18.2 bundle production Pipeline
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7081 (4/4) Trigger v0.18.2 CLI production Pipeline
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7085 Change Staging bundle number for v0.18.2 release
  release/triggers/bundle-release/development/BUNDLE_NUMBER
Labels: approved, lgtm, size/XS

#7086 Change Staging CLI release for v0.18.2
  release/triggers/eks-a-release/development/RELEASE_NUMBER
Labels: approved, lgtm, size/XS

#7089 Trigger v0.18.2 bundle production Pipeline
  release/triggers/bundle-release/production/BUNDLE_NUMBER
Labels: approved, lgtm, size/XS

#7088 Trigger v0.18.2 CLI production Pipeline
  release/triggers/eks-a-release/production/RELEASE_NUMBER
Labels: approved, lgtm, size/XS

#7083 Add v0.18.2 changelog
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#6538 Update docs for provider support of optional configurations
  docs/content/en/docs/clustermgmt/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/optional/_index.md
  docs/content/en/docs/getting-started/optional/cni.md
  docs/content/en/docs/getting-started/optional/etcd.md
  docs/content/en/docs/getting-started/optional/gitops.md
  docs/content/en/docs/getting-started/optional/healthchecks.md
  docs/content/en/docs/getting-started/optional/hostOSConfig.md
  docs/content/en/docs/getting-started/optional/iamauth.md
  docs/content/en/docs/getting-started/optional/oidc.md
  docs/content/en/docs/getting-started/optional/proxy.md
  docs/content/en/docs/getting-started/optional/registrymirror.md
  docs/content/en/docs/getting-started/snow/snow-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
Labels: approved, lgtm, size/L, area/docs, documentation, docathon

#7094 adds validate triggers script for bundles and versions
  Makefile
  build/lib/validate_bundle_numbers.sh
Labels: approved, lgtm, size/M

#7099 [Docs] Add wget when using proxy-enabled env for image building
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#7095 Update homebrew to point to the latest version
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7103 Add image repo prefix field for AWS upgrader project
  release/cli/pkg/assets/config/bundle_release.go
  release/cli/pkg/test/testdata/main-bundle-release.yaml
  release/cli/pkg/test/testdata/release-0.18-bundle-release.yaml
Labels: approved, lgtm, size/L

#7104 Add feature flag for unify controller CLI workflow
  pkg/features/features.go
  pkg/features/features_test.go
Labels: approved, lgtm, size/S

#7068 Add links to knowledge center troubleshooting articles
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/S, area/docs, documentation
