Repository aws/eks-anywhere, pull requests merged in 2024-12, with the labels that each got.

#9041 Lower docker e2e tests max concurrency count
  cmd/integration_test/build/buildspecs/docker-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#9042 Get a random subnet id from a list of subnet ids
  internal/pkg/ec2/create.go
Labels: approved, lgtm, size/XS

#9044 update collectors for curated packages namespaces
  pkg/constants/constants.go
  pkg/diagnostics/collectors.go
Labels: approved, lgtm, size/M

#9048 fix iam kubeconfig generation in workload clusters
  pkg/clustermanager/cluster_manager.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/write_cluster_config.go
  pkg/workflows/workload/create_test.go
  pkg/workflows/workload/upgrade_test.go
  pkg/workflows/workload/writeclusterconfig.go
Labels: approved, lgtm, size/M

#9051 Trigger 0.21.2 staging bundle release
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9052 Trigger 0.21.2 staging cli release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9050 refactor aws iam auth in cli workflow
  Makefile
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/awsiamauth/installer.go
  pkg/awsiamauth/installer_test.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/cluster_manager_wb_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/dependencies/factory.go
  pkg/task/task.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/management/create.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/upgrade.go
  pkg/workflows/management/upgrade_test.go
  pkg/workflows/management/write_cluster_config.go
  pkg/workflows/workload/create.go
  pkg/workflows/workload/create_test.go
  pkg/workflows/workload/upgrade.go
  pkg/workflows/workload/upgrade_test.go
  pkg/workflows/workload/writeclusterconfig.go
  test/e2e/awsiamauth.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/L

#9053 Trigger 0.21.2 prod bundle release
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9054 Trigger 0.21.2 prod cli release
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9059 Add changelog for v0.21.2 release
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9063 Update brew for release-0.21.2
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9000 Add section on required image-builder dependency versions
  docs/content/en/docs/osmgmt/artifacts.md
Labels: size/M, area/docs, documentation

#9065 Retry for transient 'server doesn't have a Resource type errors' after clusterctl move
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
Labels: approved, lgtm, size/M

#9077 Trigger staging bundle release for v0.20.10
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9080 Update smee flags for the latest version bump
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade_with_proxy.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_docker.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_kubernetes.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_docker_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_hook_override.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_kubernetes_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_interface.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_proxy_config.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_registry_mirror.yaml
Labels: approved, lgtm, size/S

#9081 Trigger staging cli release for v0.20.10
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9083 Trigger prod bundle release for v0.20.10
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9078 Change log for release v0.20.10
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9086 [release-0.20] Update homebrew version to latest
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9088 [release-0.20] Change log for release v0.20.10
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9091 Trigger staging bundle release 0.21
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9092 Trigger staging cli release for v0.21.3
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9094 Add bootOptions to cp/md tinkerbellmachine template, fix unit-tests
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/config/template-md.yaml
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/testdata/expected_kct.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_cert_bundles_config_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_kernel_config_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_ntp_config_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_settings_config_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_autoscaler_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_md_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_md_registry_mirror_with_auth.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_md_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md_node_labels.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md_node_taints.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md_node_worker_version.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md_proxy.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md_registry_mirror_with_auth.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/expected_results_md_template.yaml
  pkg/providers/tinkerbell/testdata/expected_results_tinkerbell_md_multiple_node_groups.yaml
  pkg/providers/tinkerbell/testdata/expected_results_ubuntu_ntp_config_md.yaml
Labels: approved, lgtm, size/M

#9085 Added DNS troubleshooting steps in EKS Anywhere troubleshooting doc
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/L, area/docs, documentation

#9098 Trigger prod bundle release-0.21.3
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9099 Trigger prod release release-0.21.3
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9100 Add ndeksa to OWNERS file
  OWNERS
Labels: approved, lgtm, size/XS

#9076 Add instructions for embedded images:
  docs/content/en/docs/getting-started/baremetal/customize/bare-custom-hookos.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9093 Change log for the release-0.21.3
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S

#9090 Update Conformitron Validated Partner reporting
  docs/content/en/docs/overview/partner/_index.md
Labels: approved, lgtm, size/L, area/docs, documentation

#9106 Update brew for release-0.21.3
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9113 Add bootOptions to control plane tinkerbellmachinetemplate
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/testdata/expected_cluster_tinkerbell_api_server_cert_san_domain_name.yaml
  pkg/providers/tinkerbell/testdata/expected_cluster_tinkerbell_api_server_cert_san_ip.yaml
  pkg/providers/tinkerbell/testdata/expected_kcp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_cert_bundles_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_kernel_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_ntp_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_settings_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_cp_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_cp_registry_mirror_with_auth.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_cp_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_awsiam.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_external_etcd.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_full_oidc.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_minimal_oidc.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_node_labels.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_node_taints.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_proxy.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_registry_mirror_with_auth.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node_in_place.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node_skip_lb.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_stacked_etcd.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_disable_kube_vip.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_missing_ssh_keys.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cp_template.yaml
  pkg/providers/tinkerbell/testdata/expected_results_tinkerbell_pod_iam_config.yaml
  pkg/providers/tinkerbell/testdata/expected_results_ubuntu_ntp_config_cp.yaml
Labels: approved, lgtm, size/M

#9114 Copy over CAPT APIs to local package
  controllers/controlplaneupgrade_controller_test.go
  go.mod
  go.sum
  internal/aws-sdk-go-v2/internal/auth/smithy/v4signer_adapter.go
  internal/aws-sdk-go-v2/internal/endpoints/v2/endpoints.go
  internal/test/e2e/packages.go
  internal/test/envtest/config/capt-crds.yaml
  internal/test/envtest/environment.go
  manager/main.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/capt/v1beta1/doc.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/capt/v1beta1/groupversion_info.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/capt/v1beta1/tinkerbellcluster_types.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/capt/v1beta1/tinkerbellcluster_webhook.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/capt/v1beta1/tinkerbellmachine_types.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/capt/v1beta1/tinkerbellmachine_webhook.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/capt/v1beta1/tinkerbellmachine_webhook_test.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/capt/v1beta1/tinkerbellmachinetemplate_types.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/capt/v1beta1/tinkerbellmachinetemplate_webhook.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/capt/v1beta1/types.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/capt/v1beta1/webhooks.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/capt/v1beta1/zz_generated.deepcopy.go
  pkg/clients/kubernetes/scheme.go
  pkg/providers/nutanix/template.go
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/controlplane.go
  pkg/providers/tinkerbell/controlplane_test.go
  pkg/providers/tinkerbell/machinetemplate.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/workers.go
  pkg/providers/tinkerbell/workers_test.go
  release/cli/pkg/assets/archives/archives.go
  release/cli/pkg/assets/assets.go
  release/cli/pkg/bundles/bundles.go
Labels: approved, lgtm, size/XXL

#9112 Add license token string to cluster spec
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
Labels: approved, lgtm, size/M

#9089 Update metrics doc to add instructions for scraping etcd metrics
  designs/expose-metrics.md
  designs/images/expose-metrics.png
  docs/content/en/docs/clustermgmt/observability/expose-metrics.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9116 Update Curated Packages documentation to point to latest version
  docs/content/en/docs/packages/cert-manager/v1.16.1.md
  docs/content/en/docs/packages/changelog.md
  docs/content/en/docs/packages/cluster-autoscaler/v9.43.2.md
  docs/content/en/docs/packages/credential-provider-package/v0.4.5.md
  docs/content/en/docs/packages/metallb/v0.14.9.md
  docs/content/en/docs/packages/packagelist.md
  docs/content/en/docs/packages/prometheus/v2.55.1.md
Labels: approved, lgtm, size/XL, area/docs, documentation
