Repository aws/eks-anywhere, pull requests merged in 2024-06, with the labels that each got.

#8241 Update docs for worker node group config
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/snow/snow-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8216 Kubelet Configuration for cp and wn Cloudstack, Nutanix, vSphere
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/config/template-md.yaml
  pkg/providers/cloudstack/template.go
  pkg/providers/cloudstack/template_test.go
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/config/md-template.yaml
  pkg/providers/nutanix/template.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/eksa-cluster-invalid-kc.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/template_test.go
Labels: approved, lgtm, size/L

#8246 Add Tinkerbell RTOS image env var to quick E2E tests
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#8226 Update generate cluster config command for Tinkerbell
  pkg/api/v1alpha1/tinkerbelldatacenterconfig.go
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_types.go
  pkg/providers/tinkerbell/assert_test.go
Labels: approved, lgtm, do-not-merge/hold, size/S

#7881 Upgrade registry certificate in packages
  Makefile
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/packageinstaller.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/task/task.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/management/create.go
  pkg/workflows/management/create_curated_packages.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/post_cluster_upgrade.go
  pkg/workflows/management/upgrade.go
  pkg/workflows/management/upgrade_curated_packages.go
  pkg/workflows/management/upgrade_test.go
  pkg/workflows/workload/create.go
  pkg/workflows/workload/create_test.go
  pkg/workflows/workload/upgrade.go
  pkg/workflows/workload/upgrade_test.go
Labels: approved, lgtm, size/L

#8256 Backport packages registry mirror certificate update changes
  Makefile
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/packageinstaller.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/task/task.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/management/create.go
  pkg/workflows/management/create_curated_packages.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/post_cluster_upgrade.go
  pkg/workflows/management/upgrade.go
  pkg/workflows/management/upgrade_curated_packages.go
  pkg/workflows/management/upgrade_test.go
  pkg/workflows/workload/create.go
  pkg/workflows/workload/create_test.go
  pkg/workflows/workload/upgrade.go
  pkg/workflows/workload/upgrade_test.go
Labels: lgtm, size/L

#8257 Update Docker test name for presubmit E2E
  Makefile
  scripts/e2e_test_docker.sh
  test/e2e/README.md
Labels: lgtm, size/S

#8258 Cleanup duplicate code in curated packages and rename function
  test/e2e/autoscaler.go
  test/e2e/certmanager.go
  test/e2e/curatedpackages.go
  test/e2e/emissary.go
Labels: approved, lgtm, size/M

#8192 Add control plane failure domains feature for Nutanix provider
  config/crd/bases/anywhere.eks.amazonaws.com_nutanixdatacenterconfigs.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/nutanixdatacenterconfig_test.go
  pkg/api/v1alpha1/nutanixdatacenterconfig_types.go
  pkg/api/v1alpha1/testdata/nutanix/datacenterconfig-invalid-failuredomains.yaml
  pkg/api/v1alpha1/testdata/nutanix/datacenterconfig-valid-failuredomains.yaml
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
  pkg/providers/nutanix/template.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/cluster_nutanix_failure_domains.yaml
  pkg/providers/nutanix/testdata/datacenterConfig_with_failure_domains.yaml
  pkg/providers/nutanix/testdata/datacenterConfig_with_failure_domains_invalid_cluster.yaml
  pkg/providers/nutanix/testdata/datacenterConfig_with_failure_domains_invalid_name.yaml
  pkg/providers/nutanix/testdata/datacenterConfig_with_failure_domains_invalid_subnet.yaml
  pkg/providers/nutanix/testdata/expected_results_failure_domains.yaml
  pkg/providers/nutanix/validator.go
  pkg/providers/nutanix/validator_test.go
Labels: approved, lgtm, ok-to-test, size/XXL

#8260 [release-0.18] Update docs for worker node group config
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/snow/snow-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
Labels: approved, lgtm, size/M, area/docs, documentation

#7890 Added instructions to update kubeconfig after manual certs renewal or cluster upgrade
  docs/content/en/docs/clustermgmt/security/manually-renew-certs.md
  docs/content/en/docs/clustermgmt/support/purchase-subscription.md
Labels: approved, lgtm, ok-to-test, size/M, area/docs, documentation

#8235 Update image-build support for baremental ubutu to uefi mode only
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8240 Marking packages commands as deprecated
  cmd/eksctl-anywhere/cmd/applypackages.go
  cmd/eksctl-anywhere/cmd/createpackages.go
  cmd/eksctl-anywhere/cmd/deletepackages.go
  cmd/eksctl-anywhere/cmd/describepackages.go
  cmd/eksctl-anywhere/cmd/getpackage.go
  cmd/eksctl-anywhere/cmd/getpackagebundle.go
  cmd/eksctl-anywhere/cmd/getpackagebundlecontroller.go
  cmd/eksctl-anywhere/cmd/installpackages.go
  cmd/eksctl-anywhere/cmd/upgradepackages.go
  docs/content/en/docs/packages/packagebundles.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8261 Update docs to make worker nodes count optional
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/snow/snow-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8269 Block settings for provider id and cloud provider
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
Labels: approved, lgtm, size/M

#8254 Handle cluster status reconcile autoscaler
  designs/handle-autoscaler-cluster-status-reconciliation.md
  docs/content/en/docs/clustermgmt/cluster-status.md
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/optional/autoscaling.md
  docs/content/en/docs/getting-started/snow/snow-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
  pkg/api/v1alpha1/condition_consts.go
  pkg/clusterapi/autoscaler.go
  pkg/controller/clusters/status.go
  pkg/controller/clusters/status_test.go
  pkg/providers/cloudstack/config/template-md.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_autoscaling_md.yaml
  pkg/providers/docker/config/template-md.yaml
  pkg/providers/docker/testdata/valid_autoscaler_deployment_md_expected.yaml
  pkg/providers/nutanix/config/md-template.yaml
  pkg/providers/nutanix/testdata/expected_results_autoscaling_md.yaml
  pkg/providers/tinkerbell/config/template-md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_autoscaler_md.yaml
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_autoscaling_md.yaml
  test/e2e/autoscaler.go
  test/e2e/vsphere_test.go
  test/framework/cluster.go
  test/framework/testdata/autoscaler_package_workload_cluster.yaml
Labels: approved, lgtm, size/L, area/docs, documentation

#8281 [release-0.19] Improve cluster autoscaler e2e test
  test/framework/cluster.go
  test/framework/testdata/autoscaler_load.yaml
  test/framework/testdata/hpa_busybox.yaml
Labels: approved, lgtm, size/M

#8163 Adding docs for regional packages migration
  docs/content/en/docs/packages/legacypackagesregions.md
  docs/content/en/docs/packages/packagecontroller.md
  docs/content/en/docs/packages/packagesecrmigration.md
  docs/content/en/docs/packages/prereq.md
Labels: approved, lgtm, size/L, area/docs, documentation

#8277 Update bundle to include new tink charts
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  internal/thirdparty/capc/api/v1beta3/zz_generated.deepcopy.go
  release/api/v1alpha1/artifacts.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/cli/pkg/assets/config/bundle_release.go
  release/cli/pkg/bundles/tinkerbell.go
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
Labels: approved, lgtm, size/XXL

#8145 Update README.md conformance notification
  README.md
Labels: approved, lgtm, size/XS

#8282 Unskip 1.30 curated packages e2e for all providers
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/M

#8289 Fix autoscaler test workflow
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#7995 Doc for Kubelet Configuration
  designs/kubelet-cinfiguration.md
Labels: approved, lgtm, size/L

#8292 Set asset name to have -helm suffix for new tinkerbell charts
  release/cli/pkg/assets/config/bundle_release.go
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#8268 BR limited settings validations for Kubelet configuration
  pkg/api/v1alpha1/cluster.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/createvalidations/preflightvalidations_test.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
Labels: approved, lgtm, size/L

#8245 Fix NPE in vSphere etcd machine datastore usage calculation
  pkg/providers/vsphere/testdata/cluster_main_stacked_etcd.yaml
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: lgtm, size/L

#8288 Adding logic to apply new hardware on tink upgrades
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/upgrade.go
Labels: approved, lgtm, size/M

#8286 Adding airgap support for list packages command
  cmd/eksctl-anywhere/cmd/generatepackage.go
  cmd/eksctl-anywhere/cmd/listpackages.go
  pkg/curatedpackages/validations.go
  pkg/curatedpackages/validations_test.go
Labels: approved, lgtm, size/M

#8255 Bump patch version for golang
  release/cli/go.mod
Labels: approved, lgtm, size/XS

#8285 Remove jiayiwang7 and taneyland from OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#8301 v0.19.7 staging bundle release
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8302 v0.19.7 staging cli release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8304 Add test registry mirror envvars to quick e2e spec
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#8306 Update new CAPI tag
  go.mod
  go.sum
Labels: approved, lgtm, size/XS

#8308 Fix asset name for Tinkerbell stack and CRDs artifacts in bundle
  release/cli/pkg/bundles/tinkerbell.go
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/M

#8284 Implement tinkerbell stack upgrade and migration to upstream chart
  pkg/executables/helm.go
  pkg/executables/helm_test.go
  pkg/helm/client.go
  pkg/helm/config.go
  pkg/helm/config_test.go
  pkg/helm/mocks/client.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/stack/mocks/stack.go
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade_with_proxy.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_docker.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_kubernetes.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_docker_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_envoy_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_envoy_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_hook_override.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_kubernetes_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_namespace_create_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_namespace_create_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_proxy_config.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_registry_mirror.yaml
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/tinkerbell/upgrade_test.go
Labels: approved, lgtm, size/XXL

#8310 Remove remaining 1.25 E2E tests and update API tests to latest Kube version
  Makefile
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/cloudstack_test.go
  test/e2e/conformance_test.go
  test/e2e/constants.go
  test/e2e/docker_test.go
  test/e2e/snow_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
  test/framework/cloudstack.go
  test/framework/snow.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/XL

#8153 Updated Validated Hardware blurb for clarity
  docs/content/en/docs/getting-started/baremetal/bare-prereq.md
Labels: lgtm, size/S, area/docs, documentation

#8293 Bottlerocket settings for Kubelet Configuration - vSphere
  pkg/providers/cloudstack/template_test.go
  pkg/providers/common/common.go
  pkg/providers/common/common_test.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/template_test.go
  pkg/providers/vsphere/testdata/cluster_main_br.yaml
  pkg/providers/vsphere/testdata/expected_kcp_br.yaml
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
Labels: approved, lgtm, size/XXL

#8316 Adding 130 conformance tests
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/conformance_test.go
Labels: approved, lgtm, size/M

#8318 Override the nginx image properly in tinkerbell stack chart
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade_with_proxy.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_docker.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_kubernetes.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_docker_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_hook_override.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_kubernetes_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_proxy_config.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_registry_mirror.yaml
Labels: approved, lgtm, size/S

#8320 Update branch name to release-0.20 in Makefile
  Makefile
Labels: approved, lgtm, size/XS

#8323 Trigger prod bundle release for v0.19.7
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8324 Trigger prod CLI release for v0.19.7
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8322 Add Changelog for v0.19.7
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8327 Update brew to v0.19.7
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8329 [release-0.19] Update brew to v0.19.7
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8325 Fix e2e tests creating old bundle workload clusters
  test/e2e/docker_test.go
  test/e2e/suite.go
  test/e2e/upgrade_from_latest.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/M

#8331 Updated prometheus pod labels for e2e test
  docs/content/en/docs/packages/prometheus/prometheus_grafana.md
  test/framework/cluster.go
Labels: approved, lgtm, size/XS, area/docs, documentation

#8335 Ensure Chart.yaml is modified for Tinkerbell stack and CRDs Helm charts
  release/cli/pkg/bundles/tinkerbell.go
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
  release/cli/pkg/operations/upload.go
Labels: approved, lgtm, size/M

#8339 Fix issue where incorrect flag is getting passed to helm commands
  pkg/providers/tinkerbell/stack/stack.go
Labels: approved, lgtm, size/XS

#8338 Ensure release branch is prefix of test cluster names
  internal/test/e2e/setup.go
Labels: approved, lgtm, size/S

#8313 Log ssm command details when an e2e test finishes
  internal/pkg/ssm/run_output.go
  internal/test/e2e/run.go
Labels: approved, lgtm, size/XS

#8349 Skip multi-protocol Service test in conformance flow
  test/framework/conformance.go
Labels: approved, lgtm, size/S

#8353 Set registry username and password as expected with new tink stack
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade_with_proxy.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_docker.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_kubernetes.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_docker_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_hook_override.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_kubernetes_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_proxy_config.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_registry_mirror.yaml
Labels: approved, lgtm, size/L

#8238 Fetch latest E2E test AMI ID dynamically
  cmd/integration_test/build/script/create_infra_config.sh
  scripts/e2e_test_docker.sh
  test/e2e/E2E_AMI_FILTER_VARS
Labels: approved, lgtm, size/M

#8181 Update the HookOS customization doc:
  docs/content/en/docs/getting-started/baremetal/customize/bare-custom-hookos.md
Labels: approved, lgtm, size/L, area/docs, documentation

#8343 Support installing previous version of EKS-A CLI using Homebrew
  scripts/brew_formula_pr.sh
  scripts/brew_formula_update.sh
  scripts/common.sh
  scripts/eks-anywhere.rb.tmpl
Labels: approved, lgtm, size/M

#8362 Kubelet config e2e tests for vsphere and Docker
  internal/pkg/api/cluster.go
  internal/thirdparty/capc/api/v1beta3/cloudstackisolatednetwork_types.go
  test/e2e/docker_test.go
  test/e2e/kubeletconfig.go
  test/e2e/upgrade_from_latest.go
  test/e2e/vsphere_test.go
  test/framework/kubeletconfig.go
  test/framework/network.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#8358 Trigger staging bundles for v0.20.0
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8364 Add comments about why cloudstack tests are skipped
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#8361 Handle nil commandOut
  internal/pkg/ssm/run_output.go
Labels: approved, lgtm, size/XS

#8366 Change delete timeout to 30 mins
  pkg/dependencies/factory.go
Labels: approved, lgtm, size/XS

#8369 Add descriptive error logs for download, rename and upload operations
  release/cli/pkg/assets/archives/archives.go
  release/cli/pkg/operations/download.go
  release/cli/pkg/operations/rename.go
  release/cli/pkg/operations/upload.go
Labels: approved, lgtm, size/S

#8374 Create S3 downloader using source session instead of release session
  release/cli/pkg/clients/clients.go
Labels: approved, lgtm, size/XS

#8373 Kubelet config e2e tests for Nutanix, Cloudstack and Tinkerbell
  pkg/providers/tinkerbell/upgrade.go
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/cloudstack_test.go
  test/e2e/nutanix_test.go
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/M

#8379 Revert "Ensure release branch is prefix of test cluster names"
  internal/test/e2e/setup.go
Labels: approved, lgtm, size/S

#8380 Lower concurrent vsphere e2e run count
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#8383 Upload RTOS artifacts to separate bucket
  release/cli/pkg/assets/archives/archives.go
  release/cli/pkg/assets/config/bundle_release.go
  release/cli/pkg/assets/types/types.go
  release/cli/pkg/constants/constants.go
  release/cli/pkg/operations/upload.go
  release/cli/pkg/types/types.go
Labels: approved, lgtm, size/M

#8388 Log workload cluster definition during e2e test
  test/framework/workload.go
Labels: approved, lgtm, size/XS

#8387 Kubelet config e2e tests for vsphere Bottlerocket
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/S

#8397 Update RTOS image destination on S3
  release/cli/pkg/assets/archives/archives.go
  release/cli/pkg/assets/config/bundle_release.go
  release/cli/pkg/assets/tagger/tagger.go
  release/cli/pkg/filereader/file_reader.go
Labels: approved, lgtm, size/M

#8396 Update expected values in MetalLB E2E tests based on the upstream updates
  test/e2e/metallb.go
Labels: approved, lgtm, size/XS

#8401 Trigger bundles for prod
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8402 Add hardware csv generation for kubelet config tests
  test/e2e/kubeletconfig.go
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/XS

#8403 Fix a nil pointer error
  internal/pkg/ssm/run_output.go
Labels: approved, lgtm, size/XS

#8406 Include Helm chart name in push error
  release/cli/pkg/helm/helm.go
Labels: approved, lgtm, size/XS

#8408 Trigger prod CLI for release v0.20.0
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8409 Fix kubelet config flow for all providers
  test/e2e/kubeletconfig.go
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/S

#8414 Change osImageURL to be a required field in docs
  docs/content/en/docs/clustermgmt/cluster-upgrades/airgapped-upgrades.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/baremetal-upgrades.md
  docs/content/en/docs/getting-started/airgapped/_index.md
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/osmgmt/artifacts.md
  docs/content/en/docs/osmgmt/overview.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8413 Add changelog for release v0.20.0
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation
