Repository aws/eks-anywhere, pull requests merged in 2024-01, with the labels that each got.

#7239 Add docs for routing mode
  docs/content/en/docs/getting-started/_configuration/cluster_clusterNetwork.html
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/optional/cni.md
  docs/content/en/docs/getting-started/snow/snow-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
  docs/layouts/shortcodes/include.html
Labels: approved, lgtm, size/L, area/docs, documentation

#7231 Verify eksarelease exists on mgmt cluster
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  controllers/cluster_controller_test_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/createvalidations/preflightvalidations_test.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  pkg/validations/validation_options.go
Labels: approved, lgtm, size/L

#7236 Add e2e tests for CP management cluster upgrade
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/cloudstack_test.go
  test/e2e/nutanix_test.go
  test/e2e/snow_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/L

#7243 Update latest version only if semver is greater than previous latest
  release/cmd/release.go
  release/pkg/util/semver/semver.go
Labels: approved, lgtm, size/L

#7244 Update latest version only if semver is greater than previous latest
  release/cmd/release.go
  release/pkg/util/semver/semver.go
Labels: approved, lgtm, size/L

#7245 Add cleanup to reset security group on aigrapped registry mirror docker tests
  test/e2e/airgap.go
  test/framework/registry_mirror.go
Labels: approved, lgtm, size/S

#7238 Add upgrade management components cmd
  cmd/eksctl-anywhere/cmd/upgrademanagementcomponents.go
  pkg/workflows/management/core_components.go
  pkg/workflows/management/install_new_components.go
  pkg/workflows/management/upgrade_management_components.go
  pkg/workflows/management/upgrade_management_components_test.go
Labels: approved, lgtm, size/XL

#7179 Updated to reflect that Bare Metal is an option
  README.md
Labels: approved, lgtm, size/XS

#7055 Fix eksa installer unit test with real manifest
  pkg/clustermanager/eksa_installer_test.go
Labels: approved, lgtm, size/S

#7173 Change 2004/2204 to 20.04/22.04 for image-builder --os-version compat
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, size/S, area/docs, documentation

#7252 Improve Binary Installation Process for K8s Tools
  docs/content/en/docs/getting-started/docker/_index.md
Labels: approved, lgtm, size/XS

#7258 Fixing labeler after version update
  .github/labeler.yml
Labels: approved, lgtm, size/XS

#7251 Add e2e test for upgrading management-components
  test/e2e/docker_test.go
Labels: approved, lgtm, size/S

#7266 Skip 124 tests and bump down concurrent runners in vsphere to 50
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/M

#7257 Validate oci namespaces for BR registry mirror
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
Labels: approved, lgtm, size/M

#7259 Rewording ociNamespaces documentation and adding warning
  docs/content/en/docs/getting-started/optional/registrymirror.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#7272 Fix WNGC field name in docs
  docs/content/en/docs/clustermgmt/cluster-flux.md
  docs/content/en/docs/clustermgmt/cluster-scale/baremetal-scale.md
  docs/content/en/docs/clustermgmt/cluster-scale/cloudstack-scale.md
  docs/content/en/docs/clustermgmt/cluster-scale/nutanix-scale.md
  docs/content/en/docs/clustermgmt/cluster-scale/vsphere-scale.md
Labels: approved, lgtm, size/S, area/docs, documentation

#7223 add doc page for using GPUs with EKS-A
  docs/content/en/docs/workloadmgmt/gpu-create-cluster-output.md
  docs/content/en/docs/workloadmgmt/gpu-sample-cluster.md
  docs/content/en/docs/workloadmgmt/using-gpus.md
Labels: lgtm, size/L, area/docs, documentation

#7273 Tidy IRSA docs
  docs/content/en/docs/getting-started/optional/irsa.md
Labels: approved, lgtm, size/L, area/docs, documentation

#7287 Clarify IRSA can be configure via upgrade
  docs/content/en/docs/getting-started/optional/irsa.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#7289 Triggering Prod bundle release - 0.18.4
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7291 Triggering Prod CLI release - 0.18.4
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7279 Rework docs for CloudStack KubeVIP disable env flag
  docs/content/en/docs/getting-started/cloudstack/cloudstack-getstarted.md
Labels: approved, lgtm, size/M, area/docs, documentation

#7262 Remove ExistingManagement field from Cluster type
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/upgrademanagementcomponents.go
  pkg/cluster/load.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/gitops/flux/flux.go
  pkg/gitops/flux/flux_test.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/vsphere/template_test.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/task/task_test.go
  pkg/types/cluster.go
  pkg/validations/upgradevalidations/versions.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/delete.go
  pkg/workflows/delete_test.go
  pkg/workflows/management/upgrade_management_components_test.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
  test/e2e/certmanager.go
  test/e2e/curatedpackages.go
Labels: lgtm, size/L

#7292 Trigger staging CLI release for v0.18.4
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7288 Add change log for patch 18.4
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#7298 Update brew to point to latest version
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7290 Add e2e test for cloudstack domain validation
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  test/e2e/cloudstack_test.go
  test/framework/cloudstack.go
Labels: approved, lgtm, size/M

#7304 Remove Kubernetes 1.24 tests
  release/cli/go.mod
  scripts/e2e_test_docker.sh
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/cloudstack_test.go
  test/e2e/conformance_test.go
  test/e2e/docker_test.go
  test/e2e/nutanix_test.go
  test/e2e/snow_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/XXL

#7127 Add support for etcd scaling
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/validations/upgradevalidations/immutable_fields.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  test/e2e/cloudstack_test.go
  test/e2e/docker_test.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/L

#7305 Cleanup in-place upgrade CRDs
  config/crd/bases/anywhere.eks.amazonaws.com_controlplaneupgrades.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_machinedeploymentupgrades.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_nodeupgrades.yaml
  config/manifest/eksa-components.yaml
  controllers/controlplaneupgrade_controller.go
  controllers/controlplaneupgrade_controller_test.go
  controllers/machinedeploymentupgrade_controller.go
  controllers/machinedeploymentupgrade_controller_test.go
  pkg/api/v1alpha1/controlplaneupgrade_types.go
  pkg/api/v1alpha1/machinedeploymentupgrade_types.go
  pkg/api/v1alpha1/nodeupgrade_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/clustermanager/eksa_installer_test.go
Labels: approved, lgtm, size/XL

#7307 Create management cluster using controller validation task
  pkg/workflows/management/create.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/upgrade.go
  pkg/workflows/management/upgrade_management_components_test.go
  pkg/workflows/management/validate.go
Labels: approved, lgtm, size/L

#7309 Improve logging of image signing operations
  release/cli/pkg/operations/bundle_release.go
Labels: approved, lgtm, size/S

#7306 Update changelog to follow latest template
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#7312 Fix formatting
  cmd/eksctl-anywhere/cmd/deletecluster.go
  pkg/cluster/load.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/task/task_test.go
  pkg/workflows/delete_test.go
  test/e2e/certmanager.go
  test/e2e/curatedpackages.go
Labels: approved, lgtm, size/L

#7296 Remove redundant alias' from CLI cmds
  cmd/eksctl-anywhere/cmd/applypackages.go
  cmd/eksctl-anywhere/cmd/createpackages.go
  cmd/eksctl-anywhere/cmd/deletepackages.go
  cmd/eksctl-anywhere/cmd/describepackages.go
  cmd/eksctl-anywhere/cmd/generatehardware.go
  cmd/eksctl-anywhere/cmd/generatepackage.go
  cmd/eksctl-anywhere/cmd/getpackage.go
  cmd/eksctl-anywhere/cmd/getpackagebundle.go
  cmd/eksctl-anywhere/cmd/getpackagebundlecontroller.go
  cmd/eksctl-anywhere/cmd/installpackages.go
Labels: approved, lgtm, size/M

#7321 Fix cloudstack etcd scaling test names
  test/e2e/cloudstack_test.go
Labels: approved, lgtm, size/XS

#7320 Add permission used by helm to update its secret
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
Labels: approved, lgtm, size/XS

#7267 Separate kubeconfig operations from cluster manager
  Makefile
  cmd/eksctl-anywhere/cmd/createcluster.go
  pkg/clusterapi/name.go
  pkg/clusterapi/name_test.go
  pkg/clustermanager/cluster_creator.go
  pkg/clustermanager/cluster_creator_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/dependencies/testdata/cluster_docker.yaml
  pkg/kubeconfig/kubeconfig.go
  pkg/kubeconfig/kubeconfig_writer.go
  pkg/kubeconfig/kubeconfig_writer_test.go
  pkg/kubeconfig/mocks/writer.go
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/docker/mocks/client.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/workload/create.go
  pkg/workflows/workload/create_test.go
  pkg/workflows/workload/createcluster.go
Labels: approved, lgtm, size/XL

#7323 Update OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#7324 Resolve nutanix e2e test for management cluster API upgrade
  test/e2e/nutanix_test.go
Labels: approved, lgtm, size/XS

#7283 Add methods to fetch upgrader image from bundle
  controllers/controlplaneupgrade_controller_test.go
  controllers/machinedeploymentupgrade_controller_test.go
  controllers/nodeupgrade_controller.go
  controllers/nodeupgrade_controller_test.go
  internal/test/cluster.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/constants/constants.go
  pkg/executables/kubectl.go
Labels: approved, lgtm, size/L

#7330 Remove unused 1.23 and 1.24 methods from testing code
  test/e2e/constants.go
  test/framework/cloudstack.go
  test/framework/nutanix.go
  test/framework/snow.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#7332 Fix ADOT flaky test
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#7333 Revert "Fix ADOT flaky test (#7332)"
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#7334 Allow adding extra curl args while keeping default behavior
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/S

#7328 Add in place rollout strategy option
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/validate.go
Labels: approved, lgtm, size/M

#7314 adding cloudstack upgrade rollout strategy
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/config/template-md.yaml
  pkg/providers/cloudstack/controlplane_test.go
  pkg/providers/cloudstack/template.go
  pkg/providers/cloudstack/testdata/cluster_main_with_rollout_strategy.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_rollout_strategy_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_rollout_strategy_md.yaml
  pkg/providers/cloudstack/workers_test.go
Labels: approved, lgtm, size/XL

#7315 adding docker upgrade rollout strategy
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/config/template-md.yaml
  pkg/providers/docker/controlplane_test.go
  pkg/providers/docker/docker.go
  pkg/providers/docker/workers_test.go
Labels: approved, lgtm, size/M

#7316 adding nutanix upgrade rollout strategy
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/config/md-template.yaml
  pkg/providers/nutanix/controlplane_test.go
  pkg/providers/nutanix/template.go
  pkg/providers/nutanix/workers_test.go
Labels: approved, lgtm, size/M

#7317 adding snow and cluster api upgrade rollout strategy
  pkg/clusterapi/apibuilder.go
  pkg/clusterapi/apibuilder_test.go
  pkg/clusterapi/rollout_strategy.go
  pkg/clusterapi/rollout_strategy_test.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
  pkg/providers/snow/testdata/expected_results_main_cp_bottlerocket.yaml
  pkg/providers/snow/testdata/expected_results_main_cp_ubuntu.yaml
  pkg/providers/snow/testdata/expected_results_main_md_bottlerocket.yaml
  pkg/providers/snow/testdata/expected_results_main_md_ubuntu.yaml
  pkg/providers/snow/testdata/expected_results_main_md_ubuntu_worker_version.yaml
Labels: approved, lgtm, size/L

#7318 adding vsphere upgrade rollout strategy
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/controlplane_test.go
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
  pkg/providers/vsphere/workers_test.go
Labels: approved, lgtm, size/L

#7285 Add IAM Roles for Service Accounts to nutanix-spec.md doc
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
Labels: approved, lgtm, ok-to-test, size/XS, area/docs, documentation

#7346 Fetch config map from management cluster
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/nodeupgrade_controller.go
Labels: approved, lgtm, size/S

#7349 Add e2e test new env variables to required env variables
  test/framework/cloudstack.go
Labels: approved, lgtm, size/XS

#7352 Updated image-builder install. Add warning about host to run builder
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, size/S, area/docs, documentation

#7325 Update K8s version on Capi machine for in-place upgrades
  controllers/controlplaneupgrade_controller.go
  controllers/controlplaneupgrade_controller_test.go
  controllers/nodeupgrade_controller_test.go
Labels: approved, lgtm, size/M

#7350 Update CLI tools image to latest dev version
  pkg/executables/builder.go
Labels: approved, lgtm, size/XS

#7359 Allow empty commits with GoGit update
  pkg/git/gitclient/gitclient.go
Labels: approved, lgtm, size/XS

#6294 updating taint validation to management cluster only
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/testdata/cluster_valid_taints_workload_cluster.yaml
  test/e2e/docker_test.go
  test/e2e/multicluster.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/L

#7361 Add in-place upgrade controller for kcp
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/controlplaneupgrade_controller_test.go
  controllers/factory.go
  controllers/factory_test.go
  controllers/kubeadmcontrolplane_controller.go
  controllers/kubeadmcontrolplane_controller_test.go
  manager/main.go
  pkg/constants/constants.go
Labels: approved, lgtm, size/XL

#7365 Fix bug in provider validations for workload
  pkg/workflows/workload/upgrade_test.go
  pkg/workflows/workload/validate.go
Labels: approved, lgtm, size/XS

#6758 Add troubleshooting section for labeling nodes with reserved labels
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/M, area/docs, documentation

#7370 Trigger staging bundle release for v0.18.5
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7371 Trigger staging CLI release for v0.18.5
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7369 Add in-place upgrade controller for md
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/factory.go
  controllers/factory_test.go
  controllers/kubeadmcontrolplane_controller.go
  controllers/kubeadmcontrolplane_controller_test.go
  controllers/machinedeployment_controller.go
  controllers/machinedeployment_controller_test.go
  controllers/machinedeploymentupgrade_controller_test.go
  manager/main.go
  pkg/constants/constants.go
Labels: approved, lgtm, size/XL

#7363 Add initial set of cloudstack redhat 9 tests
  test/e2e/cloudstack_test.go
  test/framework/cloudstack.go
Labels: approved, lgtm, size/L

#7378 Move image signing to staging release and copy sinatures from staging to prod account
  release/cli/cmd/release.go
  release/cli/pkg/operations/bundle_release.go
Labels: approved, lgtm, size/M

#7372 Trigger production bundle release for v0.18.5
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7377 Add controlplane spec field in CPUpgrade
  config/crd/bases/anywhere.eks.amazonaws.com_controlplaneupgrades.yaml
  config/manifest/eksa-components.yaml
  controllers/controlplaneupgrade_controller.go
  controllers/controlplaneupgrade_controller_test.go
  controllers/kubeadmcontrolplane_controller.go
  controllers/kubeadmcontrolplane_controller_test.go
  pkg/api/v1alpha1/controlplaneupgrade_types.go
Labels: approved, lgtm, size/L

#7373 Trigger production CLI release for v0.18.5
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7382 Update changelog for v0.18.5
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#7385 Document maxSurge and maxUnavailable Rollout strategy for all the providers
  docs/content/en/docs/clustermgmt/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
Labels: approved, lgtm, size/M, area/docs, documentation

#7381 Refactor Retrier and Cluster client
  Makefile
  pkg/clustermanager/client.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/clustermanager/retrier_client.go
  pkg/clustermanager/retrier_client_test.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
Labels: approved, lgtm, size/XXL

#7376 Extend docker provider api surface to use management components
  pkg/cluster/fetch.go
  pkg/cluster/fetch_test.go
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
Labels: approved, lgtm, size/L

#7375 Add InPlace option to Tinkerbell CAPI specs
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/config/template-md.yaml
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node_in_place.yaml
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/workers_test.go
Labels: approved, lgtm, size/XL

#7388 Update Homebrew release version to latest
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7390 Extend cloudstack providers api to use management components
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
Labels: approved, lgtm, size/M

#7391 Extend vsphere provider api surface to use management component
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#7393 Extend tinkerbell provider api surface to use management components
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
Labels: approved, lgtm, size/L

#7392 Install CAPI task for controller via CLI
  pkg/workflows/management/create_bootstrap.go
  pkg/workflows/management/create_install_capi.go
  pkg/workflows/management/create_test.go
Labels: approved, lgtm, size/L

#7395 Extend nutanix provider api surface to use management components
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
Labels: approved, lgtm, size/M

#7374 Add Nutanix Cloud Provider project to bundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/cli/pkg/assets/config/bundle_release.go
  release/cli/pkg/bundles/nutanix.go
  release/cli/pkg/test/testdata/main-bundle-release.yaml
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
Labels: approved, lgtm, ok-to-test, size/L

#7398 Add image tag options for Nutanix cloud provider asset
  release/cli/pkg/assets/config/bundle_release.go
  release/cli/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, size/S

#7401 Remove unused testdata files, run unit tests only for main branch
  release/cli/pkg/operations/bundle_release_test.go
  release/cli/pkg/test/testdata/release-0.17-bundle-release.yaml
  release/cli/pkg/test/testdata/release-0.18-bundle-release.yaml
Labels: size/XXL

#7340 Refactor versioning docs page
  docs/config.toml
  docs/content/en/docs/concepts/support-versions.md
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
  docs/data/version_support.yml
  docs/layouts/shortcodes/eksa_support.html
  docs/layouts/shortcodes/kube_support.html
Labels: approved, lgtm, size/L, area/docs, documentation

#7399 Add logic to get management components for cluster
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/cluster/fetch.go
  pkg/cluster/fetch_test.go
Labels: approved, lgtm, size/L

#7404 Refactor management upgrade tests to use fake client
  pkg/workflows/management/upgrade_management_components_test.go
  pkg/workflows/management/upgrade_test.go
Labels: approved, lgtm, size/L

#7403 Enable controller workflow for workload on main
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
Labels: approved, lgtm, size/S

#7386 Update KubeadmConfig for cp machines when upgrade is complete
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/controlplaneupgrade_controller.go
  controllers/controlplaneupgrade_controller_test.go
  controllers/kubeadmcontrolplane_controller_test.go
  controllers/machinedeployment_controller_test.go
  controllers/machinedeploymentupgrade_controller_test.go
  controllers/nodeupgrade_controller_test.go
Labels: approved, lgtm, size/L

#7402 Install EKSA components on bootstrap task for controller via CLI
  Makefile
  pkg/clustermanager/eksa_installer.go
  pkg/clustermanager/eksa_installer_test.go
  pkg/dependencies/factory.go
  pkg/task/task.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/management/create.go
  pkg/workflows/management/create_install_capi.go
  pkg/workflows/management/create_install_eksa.go
  pkg/workflows/management/create_test.go
Labels: approved, lgtm, size/XL

#7396 Set kubeconfig volume path for kube-vip static pod based on OS
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_cert_bundles_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_kernel_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_ntp_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_settings_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_upgrade_cert_bundles_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_cp_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_cp_registry_mirror_with_auth.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_cp_registry_mirror_with_cert.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_boot_settings_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_cert_bundles_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_kernel_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_auth_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_ntp_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_settings_config_cp.yaml
Labels: approved, lgtm, size/M

#7409 Enable cache for building cli and test binaries
  cmd/integration_test/build/buildspecs/build-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#7400 Change EKSA upgrader to use management components
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/eksa_installer.go
  pkg/clustermanager/eksa_installer_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/management/core_components.go
  pkg/workflows/management/create_install_eksa.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/upgrade_management_components_test.go
  pkg/workflows/management/upgrade_test.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/XL

#7412 Create workload cluster controller via CLI
  pkg/workflows/management/create_install_eksa.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/create_workload.go
Labels: approved, lgtm, size/L

#7418 Separate docker MetalLB e2e test to avoid timeouts
  test/e2e/docker_test.go
  test/e2e/metallb.go
Labels: approved, lgtm, size/M

#7414 Install management resources task for controller via CLI
  pkg/workflows/management/create_install_resources.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/create_workload.go
Labels: approved, lgtm, size/M

#7420 Move CAPI resources task using controller behind feature flag
  pkg/workflows/management/create_install_resources.go
  pkg/workflows/management/create_move_capi.go
  pkg/workflows/management/create_test.go
Labels: approved, lgtm, size/M

#7415 Update aws sdk modules to latest version
  go.mod
  go.sum
  pkg/aws/snow_test.go
Labels: approved, lgtm, size/M

#7379 Update Template in MachineSet once InPlace upgrade is completed
  config/crd/bases/anywhere.eks.amazonaws.com_machinedeploymentupgrades.yaml
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/machinedeployment_controller_test.go
  controllers/machinedeploymentupgrade_controller.go
  controllers/machinedeploymentupgrade_controller_test.go
  pkg/api/v1alpha1/machinedeploymentupgrade_types.go
Labels: approved, lgtm, size/L

#7424 Install EKSA components on workload task for controller via CLI
  pkg/workflows/management/create_install_eksa.go
  pkg/workflows/management/create_move_capi.go
  pkg/workflows/management/create_test.go
Labels: approved, lgtm, size/L

#7431 Fix gofumpt formatting
  internal/aws-sdk-go-v2/internal/auth/scheme_test.go
  internal/aws-sdk-go-v2/internal/configsources/config.go
  internal/aws-sdk-go-v2/internal/endpoints/awsrulesfn/arn_test.go
  internal/aws-sdk-go-v2/internal/endpoints/awsrulesfn/partition_test.go
  internal/aws-sdk-go-v2/internal/endpoints/endpoints_test.go
  internal/aws-sdk-go-v2/internal/endpoints/v2/endpoints.go
  internal/aws-sdk-go-v2/internal/endpoints/v2/package_test.go
  test/e2e/docker_test.go
Labels: approved, lgtm, size/S

#7432 Remove Raymond from OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#7423 Update infra machine annotation for cp in place upgrade
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/controlplaneupgrade_controller.go
  controllers/controlplaneupgrade_controller_test.go
Labels: approved, lgtm, size/L

#7433 Add Gitops installation task for using controller via CLI
  pkg/workflows/management/create_gitops.go
  pkg/workflows/management/create_install_eksa.go
  pkg/workflows/management/create_test.go
Labels: approved, lgtm, size/M

#7429 Add additional validations for in place upgrades
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/cluster.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/validate.go
Labels: approved, lgtm, size/L

#7435 Write cluster config task
  pkg/workflows/management/create_gitops.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/gitops.go
  pkg/workflows/management/write_cluster_config.go
Labels: approved, lgtm, size/L

#7436 Update secrets for vsphere in Pre CAPI setup
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/S

#7410 Add doc on verifying container images from the bundle manifest file
  docs/content/en/docs/clustermgmt/verify-cluster-image.md
  docs/content/en/docs/getting-started/baremetal/baremetal-getstarted.md
  docs/content/en/docs/getting-started/cloudstack/cloudstack-getstarted.md
  docs/content/en/docs/getting-started/nutanix/nutanix-getstarted.md
  docs/content/en/docs/getting-started/snow/snow-getstarted.md
  docs/content/en/docs/getting-started/vsphere/vsphere-getstarted.md
Labels: approved, lgtm, size/M, area/docs, documentation

#7439 Delete bootstrap cluster for create management controller via CLI
  pkg/workflows/management/create_delete_bootstrap.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/write_cluster_config.go
Labels: approved, lgtm, size/M

#6783 Add instruction of workload cluster backup and restore
  docs/content/en/docs/clustermgmt/cluster-backup-restore/restore-cluster.md
  docs/content/en/docs/clustermgmt/cluster-rebootnode.md
  docs/content/en/docs/clustermgmt/etcd-backup-restore/bottlerocket-etcd-backup.md
  docs/content/en/docs/clustermgmt/etcd-backup-restore/ubuntu-rhel-etcd-backup.md
Labels: approved, lgtm, size/L, area/docs, documentation

#7438 Remove nginx from upgrader pod
  controllers/nodeupgrade_controller.go
  pkg/nodeupgrader/testdata/expected_first_control_plane_upgrader_pod.yaml
  pkg/nodeupgrader/testdata/expected_rest_control_plane_upgrader_pod.yaml
  pkg/nodeupgrader/testdata/expected_worker_upgrader_pod.yaml
  pkg/nodeupgrader/upgrader.go
Labels: approved, lgtm, size/L

#7442 Add managed by CLI annotation
  pkg/workflows/management/create_install_eksa.go
Labels: approved, lgtm, size/XS

#7449 Add quick test buildspec
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
Labels: approved, lgtm, size/M

#7448 Populate machine spec data in from md to mdUpgrade object
  controllers/machinedeployment_controller.go
Labels: approved, lgtm, size/S

#7447 Add upgrade plan management-components subcommand
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
  cmd/eksctl-anywhere/cmd/upgradeplanmanagementcomponents.go
Labels: approved, lgtm, size/L

#7437 Delete Cluster Defaulter
  cmd/eksctl-anywhere/cmd/deletecluster.go
  cmd/eksctl-anywhere/cmd/options.go
  pkg/cli/deleteclusterdefaulter.go
  pkg/cli/deleteclusterdefaulter_test.go
  pkg/cluster/defaults.go
  pkg/cluster/defaults_test.go
  pkg/config/config.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
Labels: approved, lgtm, size/L

#7446 Add feature flag for in place upgrades on vSphere
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/controlplane_test.go
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/workers_test.go
Labels: approved, lgtm, size/L

#7450 Aggregate validations errors in validator runner
  pkg/validations/runner.go
  pkg/validations/runner_test.go
  pkg/workflows/workload/create_test.go
Labels: approved, lgtm, size/S

#7430 Add Cluster Deleter
  pkg/clustermanager/deleter.go
  pkg/clustermanager/deleter_test.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
Labels: approved, lgtm, size/L

#7434 Update Upgrader Images in EKSA Installer
  pkg/clustermanager/eksa_installer.go
  pkg/clustermanager/eksa_installer_test.go
Labels: approved, lgtm, size/L

#7441 Enable curated packages installation for controller via CLI
  pkg/workflows/management/create_curated_packages.go
  pkg/workflows/management/create_delete_bootstrap.go
  pkg/workflows/management/create_test.go
Labels: approved, lgtm, size/M

#7451 Create clusters for Packages e2e tests through API
  test/e2e/certmanager.go
  test/e2e/curatedpackages.go
  test/e2e/emissary.go
Labels: approved, lgtm, size/S

#7419 Change flux upgrader to use management components
  cmd/eksctl-anywhere/cmd/upgradeplanmanagementcomponents.go
  pkg/gitops/flux/cluster.go
  pkg/gitops/flux/files.go
  pkg/gitops/flux/files_test.go
  pkg/gitops/flux/flux.go
  pkg/gitops/flux/flux_test.go
  pkg/gitops/flux/upgrader.go
  pkg/gitops/flux/upgrader_test.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/management/core_components.go
  pkg/workflows/management/create_gitops.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/upgrade_management_components_test.go
  pkg/workflows/management/upgrade_test.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L
