Repository aws/eks-anywhere, pull requests merged in 2024-04, with the labels that each got.

#7925 Update Go modules in release/cli
  release/cli/go.mod
  release/cli/go.sum
Labels: approved, lgtm, size/XS

#7926 Add common step for downloading image-builder CLI
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, size/L, area/docs, documentation

#7853 Add apiServerExtraArgs as optional configuration to docs
  designs/api-server-extra-args.md
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/optional/api-server-extra-args.md
  docs/content/en/docs/getting-started/snow/snow-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
Labels: approved, lgtm, size/L, area/docs, documentation

#7933 Set non-empty defaults for registry mirror secret credentials
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/testdata/values_empty.yaml
  pkg/curatedpackages/testdata/values_empty_registrymirrorsecret.yaml
Labels: approved, lgtm, size/S

#7909 Use Cluster Mover in create and delete workflows
  Makefile
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/task/task.go
  pkg/workflows/create_prep.go
  pkg/workflows/create_prep_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/management/create.go
  pkg/workflows/management/create_install_eksa.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/create_workload.go
  pkg/workflows/management/delete.go
  pkg/workflows/management/delete_install_eksa.go
  pkg/workflows/management/delete_test.go
  pkg/workflows/workload/createcluster.go
Labels: approved, lgtm, size/XL

#7941 Properly generate support bundle for packages test failures
  test/e2e/curatedpackages.go
  test/framework/cluster.go
Labels: approved, lgtm, size/S

#7945 Bump x/net
  go.mod
  go.sum
  release/cli/go.mod
  release/cli/go.sum
  release/cli/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/S

#7944 Bump x/net
  go.mod
  go.sum
  release/cli/go.mod
  release/cli/go.sum
Labels: approved, lgtm, size/M

#7943 Ensure no duplicate networks in CloudStack
  cmd/eks-a-tool/cmd/cloudstackrmvms.go
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/cmd/cleanupcloudstack.go
  internal/test/cleanup/cleanup.go
  pkg/executables/cmk.go
  pkg/executables/cmk_test.go
  pkg/executables/testdata/cmk_list_network_duplicates.json
  test/framework/cloudstack.go
Labels: approved, lgtm, size/L

#7950 Fix Delete Encrypted Etcd Cluster
  pkg/api/v1alpha1/cluster_webhook.go
Labels: approved, lgtm, size/XS

#7952 Move release testdata file to `operations` sub-package
  release/Makefile
  release/cli/pkg/operations/bundle_release_test.go
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
Labels: size/XS

#7953 Fix release testdata update script
  scripts/golden_create_pr.sh
Labels: size/XS

#7955 Nutanix ensure VMs cleaned up before and after tests
  cmd/eks-a-tool/cmd/nutanixrmvms.go
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/cmd/cleanupnutanix.go
  internal/test/cleanup/cleanup.go
  test/framework/nutanix.go
Labels: approved, lgtm, size/L

#7958 Trigger cli release for 0.19.3
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: lgtm, size/XS

#7960 Fix nutanix cleanup in e2e
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#7961 Skip airgapped proxy test until it can be run
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#7962 docs: Clarify the networking example config
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
Labels: approved, lgtm, needs-ok-to-test, size/XS, area/docs, documentation

#7963 Trigger prod bundle release for 0.19.3
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7967 Trigger prod cli release
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: lgtm, size/XS

#7965 Improve cluster autoscaler e2e test
  test/framework/cluster.go
  test/framework/testdata/autoscaler_load.yaml
  test/framework/testdata/hpa_busybox.yaml
Labels: approved, lgtm, size/M

#7969 Fix conformance tests
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  internal/pkg/conformance/download.go
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/conformance_test.go
Labels: approved, lgtm, size/L

#7971 Adding a helm login to packages reconcile flow for workload clusters
  controllers/factory.go
  pkg/curatedpackages/mocks/installer.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
Labels: approved, lgtm, size/L

#7927 Node upgrader changes to consume upgrader go binary instead of script
  pkg/nodeupgrader/testdata/expected_first_control_plane_upgrader_pod.yaml
  pkg/nodeupgrader/testdata/expected_rest_control_plane_upgrader_pod.yaml
  pkg/nodeupgrader/testdata/expected_worker_upgrader_pod.yaml
  pkg/nodeupgrader/upgrader.go
Labels: approved, lgtm, size/L

#7973 Replace DockerHub amazon-eks-pod-identity-webhook image with ECR Public image
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  test/framework/config/pod-identity-webhook.yaml
  test/framework/etcdencryption.go
Labels: approved, lgtm, size/M

#7972 Add K8s version 1.30 feature flag
  pkg/api/v1alpha1/cluster_types.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#7959 Add 0.19.3 change
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#7975 Update brew version
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/M

#7981 Adding OCI namespaces env variables for e2e test
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#7984 Passing along ocinamespaces env var to tests
  internal/test/e2e/registryMirror.go
  test/framework/registry_mirror.go
Labels: approved, lgtm, size/S

#7988 Fixing registry mirror setup function return
  internal/test/e2e/registryMirror.go
Labels: approved, lgtm, size/XS

#7980 Add processor for Tinkerbell Template Config
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/cluster/build.go
  pkg/cluster/tinkerbell.go
  pkg/cluster/tinkerbell_test.go
Labels: approved, lgtm, size/L

#7996 Fix typo in tinkerbell-overview.md
  docs/content/en/docs/getting-started/baremetal/tinkerbell-overview.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8004 Retry pulling artifacts when running download images cmd
  pkg/curatedpackages/curatedpackages.go
  pkg/docker/registry.go
  pkg/docker/registry_test.go
  pkg/helm/download.go
  pkg/helm/download_test.go
Labels: lgtm, size/M

#8001 Log in to public ECR for E2E test
  internal/test/e2e/ecr.go
  internal/test/e2e/setup.go
Labels: approved, lgtm, size/S

#7990 Remove unused code
  pkg/cluster/spec_test.go
Labels: approved, lgtm, size/S

#8007 Log test runner instance config in e2e
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
  internal/test/e2e/testRunner.go
  test/framework/cluster.go
Labels: approved, lgtm, size/L

#8008 Allow users to access docs for penultimate EKS-A version
  docs/config.toml
Labels: approved, lgtm, size/XS, area/docs, documentation

#8011 Add release-0.19 to docs version dropdown
  docs/config.toml
Labels: lgtm, size/XS, area/docs, documentation

#8009 Log test runner instance config in e2e
  internal/test/e2e/run.go
Labels: approved, lgtm, size/XS

#8012 Adding permissions for controller packages helm upgrade
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
  pkg/curatedpackages/packagecontrollerclient.go
Labels: approved, lgtm, size/S

#8015 Revert "Log in to public ECR for E2E test (#8001)"
  internal/test/e2e/ecr.go
  internal/test/e2e/setup.go
Labels: approved, lgtm, size/S

#8017 Adding namespaces read permissions to eksa-controller
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
Labels: approved, lgtm, size/XS

#8020 Add vShere test runner ovf options to logging in e2e
  internal/test/e2e/testRunner.go
Labels: lgtm, size/XS

#8021 Navigate to same page when switching EKS-A versions
  docs/config.toml
  docs/layouts/partials/navbar-version-selector.html
Labels: approved, lgtm, size/S, area/docs, documentation

#8025 Increase ssm wait time during e2e test
  internal/pkg/ssm/command.go
Labels: approved, lgtm, size/XS

#8027 Navigate to same page when switching EKS-A versions
  docs/config.toml
  docs/layouts/partials/navbar-version-selector.html
Labels: size/S, area/docs, documentation

#8029 🍒 Cherry pick packages with registry mirror fixes
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
  controllers/factory.go
  pkg/curatedpackages/mocks/installer.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
Labels: size/L

#8018 Add check for nil eksaversion when setting etcd url
  pkg/clusterapi/etcd.go
  pkg/clusterapi/etcd_test.go
  pkg/providers/cloudstack/template.go
  pkg/providers/common/common.go
  pkg/providers/common/common_test.go
  pkg/providers/docker/docker.go
  pkg/providers/nutanix/template.go
  pkg/providers/snow/apibuilder.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/vsphere/template.go
Labels: approved, lgtm, size/M

#8006 Add release logic for Ubuntu RTOS image
  release/cli/cmd/release.go
  release/cli/pkg/assets/archives/archives.go
  release/cli/pkg/assets/config/bundle_release.go
  release/cli/pkg/assets/manifests/manifests.go
  release/cli/pkg/assets/types/types.go
  release/cli/pkg/aws/s3/s3.go
  release/cli/pkg/filereader/file_reader.go
  release/cli/pkg/operations/upload.go
  release/cli/pkg/types/types.go
Labels: approved, lgtm, size/M

#8041 Fix dev release, log paths of missing artifacts
  release/cli/pkg/assets/archives/archives.go
  release/cli/pkg/images/images.go
  release/cli/pkg/operations/download.go
  release/cli/pkg/util/artifacts/artifacts.go
Labels: size/S

#8045 Trigger staging bundle release for 0.19.4
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8047 Trigger cli for release 0.19.4
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8046 Update validation for the cluster name length
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/validations/input_test.go
Labels: approved, lgtm, size/S

#8052 Add changelog for patch 19.4
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8053 Trigger prod bundle for patch 19.4
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8054 Trigger prod cli for patch 19.4
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: lgtm, size/XS

#8055 Update gitops hyperlink in the docs
  docs/content/en/docs/clustermgmt/cluster-flux.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8059 Fix typo in cluster-terraform.md
  docs/content/en/docs/clustermgmt/cluster-terraform.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8064 Update operating system management overview in the docs
  docs/content/en/docs/osmgmt/overview.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8063 Update operating system management section in the docs
  docs/content/en/docs/osmgmt/artifacts.md
  docs/content/en/docs/osmgmt/overview.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8068 Fix word repetitions in tinkerbell docs
  docs/content/en/docs/getting-started/baremetal/tinkerbell-overview.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8062 Update security best practices in the docs
  docs/content/en/docs/clustermgmt/security/best-practices.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8077 Add callout for packages not working with latest patch
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8078 Add warning to call out packages workflow for patch 19.4
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation
