Repository aws/eks-anywhere, pull requests merged in 2024-05, with the labels that each got.

#8083 Trigger staging bundle for patch 19.5
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8084 Trigger staging cli for 0.19.5
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8076 Update configuration section in docs
  docs/content/en/docs/clustermgmt/cluster-upgrades/airgapped-upgrades.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/baremetal-upgrades.md
  docs/content/en/docs/getting-started/_configuration/cluster_clusterNetwork.html
  docs/content/en/docs/getting-started/airgapped/_index.md
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/baremetal/baremetal-getstarted.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/snow/snow-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
  docs/content/en/docs/osmgmt/artifacts.md
  docs/content/en/docs/osmgmt/overview.md
  docs/content/en/docs/overview/faq/_index.md
Labels: approved, lgtm, size/L, area/docs, documentation

#8088 [release-0.18] Update configuration section in docs
  docs/content/en/docs/clustermgmt/cluster-upgrades/airgapped-upgrades.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/baremetal-upgrades.md
  docs/content/en/docs/getting-started/airgapped/_index.md
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/baremetal/baremetal-getstarted.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/snow/snow-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
  docs/content/en/docs/osmgmt/artifacts.md
  docs/content/en/docs/osmgmt/overview.md
  docs/content/en/docs/overview/faq/_index.md
Labels: approved, lgtm, size/L, area/docs, documentation

#8085 Trigger prod bundle 19.5
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8090 Fix typo in registry mirror config comment
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/cluster_types.go
Labels: approved, lgtm, size/XS

#8086 Prod cli 19.5
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, size/XS

#8096 Add changelog for v0.19.5
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8093 Update brew to point to v0.19.5
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8089 Add emitting of e2e test instance metrics
  internal/test/e2e/cloudwatch.go
  internal/test/e2e/run.go
Labels: approved, lgtm, size/M

#8026 CLI commands support for packages in airgapped admin
  cmd/eksctl-anywhere/cmd/common.go
  cmd/eksctl-anywhere/cmd/generatepackage.go
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
  go.mod
Labels: approved, lgtm, size/M

#8101 Change the cloudwatch namespace of quick e2e test metrics
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  internal/test/e2e/cloudwatch.go
Labels: approved, lgtm, size/S

#8102 Combine multiple upgrades for tinkerbell tests into single test
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
  test/e2e/upgrade.go
Labels: approved, lgtm, size/M

#8104 Update airgapped configuration step
  docs/content/en/docs/getting-started/airgapped/airgap-steps.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8112 Add docs for granular MHC timeout and `maxUnhealthy` configuration
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/optional/healthchecks.md
  docs/content/en/docs/getting-started/snow/snow-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
Labels: approved, lgtm, size/L, area/docs, documentation

#8115 Add docs for granular MHC timeout and `maxUnhealthy` configuration
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/optional/healthchecks.md
  docs/content/en/docs/getting-started/snow/snow-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
Labels: size/L, area/docs, documentation

#8119 Bump helm from 3.14.2 to 3.14.4
  go.mod
  go.sum
Labels: approved, lgtm, size/S

#8120 Fix cluster directory being created with root ownership
  pkg/dependencies/factory.go
Labels: approved, lgtm, size/XS

#8122 Fix typos in general troubleshooting docs
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8100 Update Cert Renewal Docs
  docs/content/en/docs/clustermgmt/security/manually-renew-certs.md
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8130 Update requirement doc to include vSphere 8 support
  docs/content/en/docs/getting-started/vsphere/vsphere-prereq.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8135 Update partner docs info
  docs/content/en/docs/overview/partner/_index.md
Labels: approved, lgtm, size/L, area/docs, documentation

#8138 Refine Cert Renewal Docs
  docs/content/en/docs/clustermgmt/security/manually-renew-certs.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8139 Fixed partner docs info
  docs/content/en/docs/overview/partner/_index.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8136 Add 1.30 Vsphere E2E tests
  test/e2e/QUICK_TESTS.yaml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/vsphere_test.go
  test/framework/cluster.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/XXL

#8152 Add 1.30 Cloudstack E2E tests
  test/e2e/QUICK_TESTS.yaml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/cloudstack_test.go
  test/framework/cloudstack.go
Labels: approved, lgtm, size/XL

#8154 Use right RHEL template during 1.30 upgrade
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/XS

#8155 Update airgapped env command in create cluster docs
  docs/content/en/docs/getting-started/cloudstack/cloudstack-getstarted.md
  docs/content/en/docs/getting-started/docker/_index.md
  docs/content/en/docs/getting-started/nutanix/nutanix-getstarted.md
  docs/content/en/docs/getting-started/snow/snow-getstarted.md
  docs/content/en/docs/getting-started/vsphere/vsphere-getstarted.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8161 v0.19.6 staging bundle release
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8159 Adding a registry mirror packages test for vsphere
  pkg/curatedpackages/regional_registry.go
  test/e2e/curatedpackages.go
  test/e2e/vsphere_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#8162 v0.19.6 staging cli release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7970 Document steps to expose metrics for EKS-A components
  designs/expose-metrics.md
  designs/images/expose-metrics.png
  docs/content/en/docs/clustermgmt/observability/expose-metrics.md
  docs/content/en/docs/clustermgmt/observability/overview.md
Labels: approved, lgtm, size/XL, area/docs, documentation

#8164 Update docs packages instructions for airgapped env
  docs/content/en/docs/getting-started/airgapped/airgap-steps.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8172 Update OWNERS
  OWNERS
Labels: size/XS

#8166 v0.19.6 prod bundle release
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8188 v0.19.6 prod cli release
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8189 Add Changelog for v0.19.6
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8200 Update brew to v0.19.6
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8201 Fix Bottlerocket bare metal deprecation callout in changelog
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8199 Add succeeded variable in the e2e result log entry
  internal/test/e2e/run.go
Labels: approved, lgtm, size/XS

#8204 Add 1-30 E2E tests for Docker
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/constants.go
  test/e2e/docker_test.go
Labels: approved, lgtm, size/L

#8210 Skip dependency review and govulncheck actions when only YAML files are changed
  .github/workflows/vulnerability.yml
Labels: approved, lgtm, size/XS

#8187 Kubelet configuration customization Docker cp and wn
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  go.mod
  go.sum
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/config/template-md.yaml
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
Labels: approved, lgtm, size/L

#8224 Fix 1-30 tests using wrong templates/kube version
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/cloudstack_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/M

#8140 Add poweroff hardware cleanup step after Tinkerbell E2E tests
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/snow-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  cmd/integration_test/cmd/run.go
  internal/test/cleanup/cleanup.go
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
  test/e2e/README.md
  test/e2e/cloudstack_test.go
  test/e2e/vsphere_test.go
  test/framework/cloudstack.go
  test/framework/cluster.go
  test/framework/docker.go
  test/framework/etcdencryption.go
  test/framework/nutanix.go
  test/framework/snow.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#8212 Cherry-pick: Fix bug causing installer does not create CCM secret for Nutanix workload cluster (#8191)
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/controlplane.go
  pkg/providers/nutanix/reconciler/reconciler.go
  pkg/providers/nutanix/template.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/expected_cluster_api_additional_trust_bundle.yaml
  pkg/providers/nutanix/testdata/expected_cluster_api_server_cert_san_domain_name.yaml
  pkg/providers/nutanix/testdata/expected_cluster_api_server_cert_san_ip.yaml
  pkg/providers/nutanix/testdata/expected_results_additional_categories.yaml
  pkg/providers/nutanix/testdata/expected_results_etcd_encryption.yaml
  pkg/providers/nutanix/testdata/expected_results_etcd_encryption_1_29.yaml
  pkg/providers/nutanix/testdata/expected_results_external_etcd.yaml
  pkg/providers/nutanix/testdata/expected_results_external_etcd_with_optional.yaml
  pkg/providers/nutanix/testdata/expected_results_iamauth.yaml
  pkg/providers/nutanix/testdata/expected_results_irsa.yaml
  pkg/providers/nutanix/testdata/expected_results_node_taints_labels.yaml
  pkg/providers/nutanix/testdata/expected_results_oidc.yaml
  pkg/providers/nutanix/testdata/expected_results_project.yaml
  pkg/providers/nutanix/testdata/expected_results_proxy.yaml
  pkg/providers/nutanix/testdata/expected_results_registry_mirror.yaml
Labels: approved, lgtm, needs-ok-to-test, size/L

#8227 Skip latest minor tests creating 130 cluster on previous release
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#8229 Allow downloading private objects from S3
  release/cli/pkg/assets/archives/archives.go
  release/cli/pkg/assets/config/bundle_release.go
  release/cli/pkg/assets/manifests/manifests.go
  release/cli/pkg/aws/s3/s3.go
  release/cli/pkg/clients/clients.go
  release/cli/pkg/filereader/file_reader.go
  release/cli/pkg/images/images.go
  release/cli/pkg/operations/download.go
  release/cli/pkg/operations/upload.go
  release/cli/pkg/types/types.go
  release/cli/pkg/util/artifacts/artifacts.go
  release/cli/pkg/util/release/release.go
Labels: size/L

#8225 Add Tinkerbell E2E test for Ubuntu 22.04 RTOS image
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  internal/test/e2e/tinkerbell.go
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
  test/framework/cloudstack.go
  test/framework/cluster.go
  test/framework/docker.go
  test/framework/nutanix.go
  test/framework/snow.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#8234 Add 1.30 E2E tests for Nutanix
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  test/e2e/QUICK_TESTS.yaml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/nutanix_test.go
  test/framework/nutanix.go
Labels: approved, lgtm, size/XL

#8228 Remove K8s 1.30 feature flag and default as cluster version
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/testdata/cluster_in_place_upgrade.yaml
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#8236 Skip 130 multi endpoint test for cloudstack
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS
