Repository aws/eks-anywhere, pull requests merged in 2024-03, with the labels that each got.

#7757 Bump docs site version to 0.19
  docs/config.toml
Labels: lgtm, area/docs, documentation

#7761 Bump EKS-A CLI Homebrew version to latest
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: lgtm, size/XS

#7738 Un-skipping randomly failing unit test for cloudstack provider
  pkg/providers/cloudstack/reconciler/reconciler_test.go
Labels: approved, lgtm, size/S

#7759 Skip cloudstack reconciler unit tests
  pkg/providers/cloudstack/reconciler/reconciler_test.go
Labels: approved, lgtm, size/S

#7766 Enable Tinkerbell tests in quick-e2e suite
  test/e2e/QUICK_TESTS.yaml
Labels: approved, lgtm, size/XS

#7767 Revert "[main] Revert "Disable ETCD Learner Mode (#7719)""
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_encryption_config_cp_1_29.yaml
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/etcd.go
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/expected_results_ubuntu_etcd_encryption_cp_1_29.yaml
Labels: lgtm, size/M

#7771 Add documentation for image-builder vSphere options
  docs/content/en/docs/osmgmt/artifacts.md
Labels: lgtm, size/L, area/docs, documentation

#7770 Modify the incorrect command for generating a config file
  docs/content/en/docs/getting-started/baremetal/overview.md
  docs/content/en/docs/getting-started/nutanix/overview.md
Labels: approved, lgtm, ok-to-test, size/XS, area/docs, documentation

#7763 hide cluster network config from side nav
  docs/content/en/docs/getting-started/_configuration/cluster_clusterNetwork.html
Labels: approved, lgtm, size/XS, area/docs, documentation

#7776 Update quick-e2e Tinkerbell suite with 1.29
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  test/e2e/QUICK_TESTS.yaml
Labels: approved, lgtm, size/XS

#7780 Add Nutanix as provider for ETCD encryption
  docs/content/en/docs/getting-started/optional/etcdencryption.md
Labels: approved, lgtm, ok-to-test, size/XS, area/docs, documentation

#7779 Use an uncached direct client to read the kcp and md to bypass delay in cache
  controllers/factory.go
  controllers/factory_test.go
  controllers/kubeadmcontrolplane_controller.go
  controllers/kubeadmcontrolplane_controller_test.go
  controllers/machinedeployment_controller.go
  controllers/machinedeployment_controller_test.go
Labels: approved, lgtm, size/L

#7785 Fixing a single quote
  docs/content/en/docs/getting-started/vsphere/vsphere-getstarted.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#7721 Docs: Align OS table with systems supported by Nutanix
  docs/content/en/docs/osmgmt/overview.md
Labels: approved, lgtm, needs-ok-to-test, size/XS, area/docs, documentation

#7793 Add token for codecov to fix coverage upload
  .github/workflows/go-coverage.yml
Labels: approved, lgtm, size/XS

#7796 Log E2E test results as soon as they finish
  internal/test/e2e/run.go
Labels: approved, lgtm, size/M

#7797 Bump helm to v3.14.2
  go.mod
  go.sum
  release/Makefile
  release/cli/go.mod
  release/cli/go.sum
  release/cli/pkg/assets/archives/archives_test.go
  release/cli/pkg/assets/images/images_test.go
  release/cli/pkg/assets/manifests/manifests_test.go
  release/cli/pkg/helm/helm.go
  release/cli/pkg/test/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/XXL

#7804 Run go mod tidy on release module
  release/cli/go.mod
  release/cli/go.sum
Labels: approved, lgtm, size/S

#7808 Update owners
  docs/OWNERS
Labels: approved, lgtm, size/XS, area/docs, documentation

#7805 Bump Go version to 1.21
  .github/workflows/go-coverage.yml
  .github/workflows/golangci-lint.yml
  Makefile
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  internal/thirdparty/capc/go.mod
  internal/thirdparty/capc/go.sum
  test/e2e/tools/eks-anywhere-test-tool/go.mod
  test/e2e/tools/eks-anywhere-test-tool/go.sum
Labels: approved, lgtm, size/L

#7800 Add preflight validation to check management components vs cluster components version skew
  cmd/eksctl-anywhere/cmd/upgrademanagementcomponents.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/workflows/management/upgrade_management_components.go
Labels: approved, lgtm, size/L

#7807 Fixed typo in command (extra 's' in word: packagess)
  docs/content/en/docs/packages/troubleshoot.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#7810 Bump aws sdk modules
  go.mod
  go.sum
  release/cli/go.mod
  release/cli/go.sum
Labels: approved, lgtm, size/S

#7367 Setting the right permission for ssh config
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, ok-to-test, size/S, area/docs, documentation

#7813 Cleanup legacy method ReconcileWorkerNodes for provider cluster reconciler
  controllers/cluster_controller_test_test.go
  controllers/mocks/provider.go
  pkg/controller/clusters/registry.go
  pkg/controller/clusters/registry_test.go
  pkg/providers/cloudstack/reconciler/reconciler.go
  pkg/providers/cloudstack/reconciler/reconciler_test.go
  pkg/providers/docker/reconciler/reconciler.go
  pkg/providers/docker/reconciler/reconciler_test.go
  pkg/providers/nutanix/reconciler/reconciler.go
  pkg/providers/snow/reconciler/reconciler.go
  pkg/providers/snow/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/vsphere/reconciler/reconciler.go
  pkg/providers/vsphere/reconciler/reconciler_test.go
Labels: approved, lgtm, size/L

#7829 Encode username and password in Kubernetes secrets
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/providers/docker/config/template-cp.yaml
  pkg/providers/docker/testdata/expected_results_mirror_with_auth_config_cp.yaml
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/testdata/expected_results_registry_mirror.yaml
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/tinkerbell/controlplane_test.go
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_cp_registry_mirror_with_auth.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_registry_mirror_with_auth.yaml
  pkg/providers/vsphere/config/secret.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/template_test.go
  pkg/providers/vsphere/testdata/expected_cluster_api_server_cert_san_domain_name.yaml
  pkg/providers/vsphere/testdata/expected_cluster_api_server_cert_san_ip.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_boot_settings_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_cert_bundles_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_external_etcd_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_kernel_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_auth_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_ntp_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_settings_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_custom_resolv_conf.yaml
  pkg/providers/vsphere/testdata/expected_results_diff_template_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_full_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_121_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_cp_cloud_provider_credentials.yaml
  pkg/providers/vsphere/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_minimal_oidc_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_with_auth_config_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_pod_iam_config.yaml
  pkg/providers/vsphere/testdata/expected_results_ubuntu_etcd_encryption_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_ubuntu_etcd_encryption_cp_1_29.yaml
  pkg/providers/vsphere/testdata/expected_results_ubuntu_ntp_config_cp.yaml
Labels: approved, lgtm, size/L

#7834 Bumping staging versions for patch release v0.19.1
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7837 Bump staging cli versions for v0.19.1 patch release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7815 Delete old command workflows and dead code
  Makefile
  cmd/eksctl-anywhere/cmd/createcluster.go
  pkg/cluster/mocks/helm.go
  pkg/cluster/spec.go
  pkg/cluster/spec_test.go
  pkg/clusterapi/fetch.go
  pkg/clusterapi/fetch_test.go
  pkg/clusterapi/mocks/client.go
  pkg/clusterapi/mocks/fetch.go
  pkg/clustermanager/client.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/cluster_manager_wb_test.go
  pkg/clustermanager/eksa_installer.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/clustermanager/shim.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/git/factory/mocks/client.go
  pkg/networking/cilium/cilium.go
  pkg/networking/cilium/cilium_test.go
  pkg/networking/cilium/client.go
  pkg/networking/cilium/client_test.go
  pkg/networking/cilium/installation.go
  pkg/networking/cilium/installer.go
  pkg/networking/cilium/installer_test.go
  pkg/networking/cilium/mocks/clients.go
  pkg/networking/cilium/mocks/installer.go
  pkg/networking/cilium/mocks/upgrader.go
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/upgrade_plan.go
  pkg/networking/cilium/upgrade_plan_test.go
  pkg/networking/cilium/upgrader.go
  pkg/networking/cilium/upgrader_test.go
  pkg/networking/kindnetd/installer.go
  pkg/networking/kindnetd/installer_test.go
  pkg/networking/kindnetd/kindnetd.go
  pkg/networking/kindnetd/kindnetd_test.go
  pkg/networking/kindnetd/manifest.go
  pkg/networking/kindnetd/mocks/client.go
  pkg/networking/kindnetd/testdata/expected_kindnetd_manifest.yaml
  pkg/networking/kindnetd/testdata/kindnetd_manifest.yaml
  pkg/networking/kindnetd/upgrader.go
  pkg/networking/kindnetd/upgrader_test.go
  pkg/validations/upgradevalidations/mocks/upgradevalidations.go
  pkg/workflow/management/create.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/delete.go
  pkg/workflows/delete_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/XXL

#7838 Fix packages artifacts map assignment, bubble up errors returned
  release/cli/pkg/helm/helm.go
  release/cli/pkg/operations/upload.go
Labels: approved, lgtm, size/XS

#7843 Don't encode registry mirror credentials during create
  pkg/clustermanager/cluster_manager.go
Labels: approved, lgtm, size/S

#7844 Don't encode registry mirror credentials during create
  pkg/clustermanager/cluster_manager.go
Labels: approved, lgtm, size/S

#7847 Change concurrent test count cloudstack
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#7849 Adding wait before updating adot package in e2e tests
  test/e2e/adot.go
Labels: approved, lgtm, size/XS

#7854 Bumping prod bundle versions for v0.19.1 release
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7857 Prod cli trigger for patch v0.19.1
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7856 Adding changelog for v0.19.1 patch release
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#7859 Bumping brew eksa release version
  release/cli/pkg/test/testdata/main-bundle-release.yaml
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/M

#7862 Bumping brew trigger version for patch
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7861 Update owners
  OWNERS
Labels: approved, lgtm, size/XS

#7868 Update Go modules in release/cli
  release/cli/go.mod
  release/cli/go.sum
Labels: approved, lgtm, size/M

#7755 Add api server extra args map to cluster spec
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  internal/pkg/api/cluster.go
  internal/pkg/api/cluster_test.go
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/clusterapi/extraargs.go
  pkg/clusterapi/extraargs_test.go
  pkg/clusterapi/identity.go
  pkg/clusterapi/identity_test.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/providers/cloudstack/template.go
  pkg/providers/docker/docker.go
  pkg/providers/nutanix/template.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/vsphere/template.go
  test/e2e/api_server_extra_args.go
  test/e2e/cloudstack_test.go
  test/e2e/vsphere_test.go
  test/framework/cluster/validations/cluster.go
Labels: approved, lgtm, size/XL

#7883 Add api server extra args feature flag to eksa controller deployment
  pkg/clustermanager/eksa_installer.go
  pkg/clustermanager/eksa_installer_test.go
Labels: approved, lgtm, size/S

#7790 Add Cluster Mover
  pkg/clustermanager/eksa_mover.go
  pkg/clustermanager/eksa_mover_test.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
Labels: approved, lgtm, size/L

#7885 Fixing replace tinkerbell action images with registry endpoint
  pkg/providers/tinkerbell/template.go
Labels: approved, lgtm, size/S

#7887 Fixing docker e2e emissary tests for hello application
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#7888 Update CLI generate clusterconfig description for provider flag
  cmd/eksctl-anywhere/cmd/generateclusterconfig.go
  pkg/constants/constants.go
Labels: approved, lgtm, size/S

#7876 Adding support for mutliple oci namespaces in BR OS vSphere
  internal/pkg/api/cluster.go
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/template.go
  pkg/providers/vsphere/testdata/cluster_bottlerocket_mirror_config_multiple_ocinamespaces.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_multiple_ocinamespaces_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_bottlerocket_mirror_config_multiple_ocinamespaces_md.yaml
  pkg/providers/vsphere/vsphere_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  test/e2e/vsphere_test.go
  test/framework/registry_mirror.go
Labels: approved, lgtm, size/XXL

#7898 Update Go modules in release/cli
  release/cli/go.mod
  release/cli/go.sum
Labels: size/S

#7901 Add Nutanix external `etcd` support to changelog
  docs/content/en/docs/whatsnew/changelog.md
Labels: size/XS, area/docs, documentation

#7904 Staging bundle trigger for patch v0.19.2
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7906 Staging cli trigger for patch v0.19.2
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7907 Patch v0.19.2 prod bundle trigger
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7908 Patch v0.19.2 prod cli trigger
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7905 Fix alignment of links in changelog alerts
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#7913 Fix proxy configuration for airgapped environments
  pkg/helm/factory.go
  test/e2e/airgap.go
  test/e2e/cloudstack_test.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/M

#7911 Changelog for v0.19.2
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#7918 Added default user for each provider in the etcd backup restore commands
  docs/content/en/docs/clustermgmt/etcd-backup-restore/ubuntu-rhel-etcd-backup.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#7916 Brew update patch release v0.19.2
  release/cli/pkg/test/testdata/main-bundle-release.yaml
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/M

#7919 Cherry pick brew trigger
  release/cli/pkg/test/testdata/main-bundle-release.yaml
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XL
