Repository aws/eks-anywhere, pull requests merged in 2024-11, with the labels that each got.

#8951 Fix "Committer identity unknown" when patching:
  docs/Makefile
  docs/patches/0001-Security-update.patch
Labels: approved, lgtm, size/XS, area/docs, documentation

#8954 Unskip upgrade from latest minor tests
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/S

#8956 Security update:
  docs/patches/0001-Security-update.patch
  docs/static/font/font-face.css
Labels: approved, lgtm, size/M, area/docs, documentation

#8958 Lower vsphere concurrent tests to 60
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#8963 Remove curated package list from concepts page
  docs/content/en/docs/concepts/packages.md
  docs/content/en/docs/concepts/support-scope.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8967 Remove baremetal-branch flag from the integration test CLI
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/docker-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/snow-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  cmd/integration_test/cmd/run.go
  internal/test/e2e/run.go
  scripts/e2e_test_docker.sh
Labels: approved, lgtm, size/S

#8972 Add documentation for workerMachineGroups in Nutanix failure domains
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
Labels: approved, lgtm, needs-ok-to-test, size/S, area/docs, documentation

#8973 Add Nutanix documentation for the gpus field in NutanixMachineConfig
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
Labels: approved, lgtm, needs-ok-to-test, size/S, area/docs, documentation

#8977 [release-0.21] Add documentation for workerMachineGroups in Nutanix failure domains
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8978 [release-0.20] Trigger staging bundle for v0.20.9
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8979 [release-0.20] Trigger staging CLI for v0.20.9
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8981 Skip validating the pbc registry for non-regional curated packages flow
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#8985 [release-0.20] Trigger prod bundle for v0.20.9
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8986 [release-0.20] Trigger prod CLI for v0.20.9
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8987 Add changelog for v0.20.9
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8990 [release-0.20] Add changelog for v0.20.9
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8988 [release-0.20] Bump EKS-A CLI Homebrew version to latest
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8980 Check image pushability based on image/tag count limits prior to push
  release/cli/pkg/aws/ecrpublic/ecrpublic.go
  release/cli/pkg/constants/constants.go
  release/cli/pkg/images/images.go
  release/cli/pkg/operations/upload.go
Labels: approved, lgtm, size/L

#9003 v0.21.1 staging cli release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9004 Update irsa docs to follow best practices and address any security concerns
  docs/content/en/docs/getting-started/optional/irsa.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9009 trigger 0.21.1 prod bundle release
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9011 Fix broken link in docs
  docs/content/en/docs/concepts/support-scope.md
  docs/content/en/docs/osmgmt/overview.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#9015 Use ECR Public source client for image checks in prod bundle release
  release/cli/pkg/images/images.go
  release/cli/pkg/operations/upload.go
Labels: approved, lgtm, size/S

#9010 [release-0.21] trigger 0.21.1 prod cli release
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9021 Add rajeshvenkata to OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#9030 update owners
  OWNERS
Labels: approved, lgtm, size/XS

#9029 update brew to v0.21.1
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9032 add wantonglin to OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#8997 Get rid of FIQL in Nutanix API list methods
  internal/pkg/nutanix/prismclient.go
  pkg/providers/nutanix/client.go
  pkg/providers/nutanix/mocks/client.go
  pkg/providers/nutanix/provider_test.go
  pkg/providers/nutanix/validator.go
  pkg/providers/nutanix/validator_test.go
Labels: approved, lgtm, ok-to-test, size/XL
