Repository aws/eks-anywhere, pull requests merged in 2024-10, with the labels that each got.

#8819 Unskip 1.31 E2E tests which were failing due to old CAPI version
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/M

#8822 Trigger v0.20.7 staging bundle
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8823 Trigger staging CLI for v0.20.7
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8824 Add jhaanvi5 to OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#8825 Unskip packages 1.31 E2E tests
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/M

#8829 Trigger prod bundles for v0.20.7
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8830 Trigger prod CLI for v0.20.7
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8831 Update docs for Advanced Bare Metal cluster configuration:
  docs/Makefile
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
Labels: approved, lgtm, size/XL, area/docs, documentation

#8828 Update changelog for v0.20.7
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8838 Fix K8s version for Tinkerbell E2E test
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/XS

#8745 Nutanix GPU support implementation
  pkg/api/v1alpha1/nutanixmachineconfig.go
  pkg/api/v1alpha1/nutanixmachineconfig_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/constants/constants.go
  pkg/providers/nutanix/client.go
  pkg/providers/nutanix/config/md-template.yaml
  pkg/providers/nutanix/mocks/client.go
  pkg/providers/nutanix/provider_test.go
  pkg/providers/nutanix/template.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/eksa-cluster-gpus.yaml
  pkg/providers/nutanix/testdata/expected_results_gpus.yaml
  pkg/providers/nutanix/testdata/expected_results_gpus_md.yaml
  pkg/providers/nutanix/validator.go
  pkg/providers/nutanix/validator_test.go
Labels: approved, lgtm, ok-to-test, size/XXL

#8836 Bump brew to point to latest release v0.20.7
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8840 Trigger staging bundle for release v0.19.11
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8837 Add Failure Domains for Worker nodes feature for Nutanix provider
  config/crd/bases/anywhere.eks.amazonaws.com_nutanixdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_nutanixmachineconfigs.yaml
  go.mod
  pkg/api/v1alpha1/nutanixdatacenterconfig_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/providers/nutanix/config/md-template.yaml
  pkg/providers/nutanix/provider_test.go
  pkg/providers/nutanix/template.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/datacenterConfig_with_failure_domains_invalid_wg.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-multi-worker-fds.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-worker-fds.yaml
  pkg/providers/nutanix/testdata/expected_results_multi_worker_fds.yaml
  pkg/providers/nutanix/testdata/expected_results_multi_worker_fds_md.yaml
  pkg/providers/nutanix/testdata/expected_results_worker_fds.yaml
  pkg/providers/nutanix/testdata/expected_results_worker_fds_md.yaml
  pkg/providers/nutanix/validator.go
  pkg/providers/nutanix/validator_test.go
Labels: approved, lgtm, ok-to-test, size/XXL

#8848 Increase vSphere max EC2 count to 220
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#8847 Skip generating AWS IAM kubeconfig on cluster upgrade.
  pkg/workflows/workload/writeclusterconfig.go
Labels: approved, lgtm, size/XS

#8807 Skip bundles override for e2e-test when upgrade is from latest minor release.
  test/e2e/vsphere_test.go
  test/framework/cloudstack.go
  test/framework/nutanix.go
  test/framework/template.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/M

#8851 Skip generating AWS IAM Kubeconfig on cluster upgrade
  pkg/workflows/workload/upgrade_test.go
  pkg/workflows/workload/writeclusterconfig.go
Labels: approved, lgtm, size/S

#8858 [release-0.19] Skip bundles override for e2e-test when upgrade is from latest minor release
  test/e2e/vsphere_test.go
  test/framework/cloudstack.go
  test/framework/nutanix.go
  test/framework/template.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/M

#8860 [release-0.20] Skip bundles override for e2e-test when upgrade is from latest minor release
  test/e2e/vsphere_test.go
  test/framework/cloudstack.go
  test/framework/nutanix.go
  test/framework/template.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/M

#8857 Trigger dev bundle release for v0.20.8
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8862 Trigger staging bundle properly
  release/triggers/bundle-release/development/BUNDLE_NUMBER
Labels: approved, lgtm, size/XS

#8861 Update docs to mark packages commands as deprecated
  docs/content/en/docs/reference/eksctl/anywhere_apply_package(s).md
  docs/content/en/docs/reference/eksctl/anywhere_create_package(s).md
  docs/content/en/docs/reference/eksctl/anywhere_delete_package(s).md
  docs/content/en/docs/reference/eksctl/anywhere_describe_package(s).md
  docs/content/en/docs/reference/eksctl/anywhere_get_package(s).md
  docs/content/en/docs/reference/eksctl/anywhere_get_packagebundle(s).md
  docs/content/en/docs/reference/eksctl/anywhere_get_packagebundlecontroller(s).md
  docs/content/en/docs/reference/eksctl/anywhere_install_package.md
  docs/content/en/docs/reference/eksctl/anywhere_upgrade_packages.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8859 Trigger Staging CLI Release for v0.19.11
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8866 Trigger Prod bundle release for v0.19.11
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8867 Trigger Prod cli release for v0.19.11
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8841 Change log for release-0.19.11
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8869 [release-0.19] Change log for release-0.19.11
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8870 Trigger brew version release for 0.19.11
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8872 [release-0.21] Update branch name to release-0.21 in Makefile
  Makefile
Labels: approved, lgtm, size/XS

#8873 Update docker test name for e2e presubmit
  Makefile
  scripts/e2e_test_docker.sh
  test/e2e/README.md
Labels: approved, lgtm, size/XS

#8877 Trigger v0.20.8 staging release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8879 Get latest Git tag by semver instead of chronological order
  scripts/eksa_version.sh
Labels: approved, lgtm, size/XS

#8882 Print output of Git checkout command
  release/cli/pkg/filereader/file_reader.go
Labels: approved, lgtm, size/XS

#8874 [release-0.21] Trigger staging bundle for v0.21.0
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8886 Lower concurrent test count for vsphere to 60
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
Labels: lgtm, size/XS

#8852 Add Vmotion Guidelines to EKS-A docs
  docs/content/en/docs/clustermgmt/nodes/_index.md
  docs/content/en/docs/clustermgmt/nodes/vmotion.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8888 Trigger v0.20.8 prod bundle
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8889 Trigger v0.20.8 prod release
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8890 [release-0.20] changelog for v0.20.8
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/L, area/docs, documentation

#8893 bump brew version to v0.20.8
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8894 bump brew version to v0.20.8
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8897 [release-0.20] Remove "max-instances" from e2e binary
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/docker-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/snow-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  cmd/integration_test/cmd/run.go
  internal/test/e2e/run.go
Labels: approved, lgtm, size/M

#8907 [release-0.21] Trigger staging CLI for v0.21.0
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8903 Update changelog for curated package release
  docs/content/en/docs/packages/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8555 Add Nutanix failure domain documentation
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/osmgmt/overview.md
Labels: approved, lgtm, ok-to-test, size/M, area/docs, documentation

#8910 Update curated packages tests to run regional flow by default
  cmd/integration_test/build/buildspecs/docker-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  config/manifest/eksa-components.yaml
  internal/test/e2e/packages.go
  test/e2e/adot.go
  test/e2e/autoscaler.go
  test/e2e/curatedpackages.go
  test/e2e/docker_test.go
  test/e2e/emissary.go
  test/e2e/harbor.go
  test/e2e/prometheus.go
  test/e2e/vsphere_test.go
  test/framework/cluster.go
  test/framework/cluster_test.go
Labels: approved, lgtm, size/L

#8912 [release-0.20] Update curated packages tests to run regional flow by default
  cmd/integration_test/build/buildspecs/docker-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  config/crd/bases/anywhere.eks.amazonaws.com_snowmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbellmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_vspheremachineconfigs.yaml
  config/manifest/eksa-components.yaml
  internal/pkg/api/tinkerbell.go
  internal/test/e2e/packages.go
  test/e2e/adot.go
  test/e2e/autoscaler.go
  test/e2e/curatedpackages.go
  test/e2e/docker_test.go
  test/e2e/emissary.go
  test/e2e/harbor.go
  test/e2e/prometheus.go
  test/e2e/vsphere_test.go
  test/framework/cluster.go
  test/framework/cluster_test.go
Labels: approved, lgtm, size/XL

#8922 changelog for v0.20.8
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/L, area/docs, documentation

#8909 Display Cilium upgrade skipped status in upgrade plan command
  pkg/networking/cilium/upgrade_plan.go
  pkg/networking/cilium/upgrade_plan_test.go
Labels: approved, lgtm, size/M

#8920 [release-0.21] Trigger prod bundle for v0.21.0
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8921 [release-0.21] Trigger prod CLI for v0.21.0
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8931 Add changelog for v0.21.0
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8934 Skip cleaning up the instance if cleanup-resources is set to false
  internal/test/e2e/run.go
Labels: approved, lgtm, size/S

#8937 Update docs theme patching:
  docs/Makefile
  docs/patches/0001-Security-update.patch
Labels: approved, lgtm, size/S, area/docs, documentation

#8940 Add versions page for v0.19
  docs/config.toml
Labels: approved, lgtm, size/XS, area/docs, documentation

#8941 [release-0.20] Update versions page to match with the latest v0.21
  docs/config.toml
Labels: approved, lgtm, size/S, area/docs, documentation

#8944 Fix URL for release-0.20 branch docs URL
  docs/config.toml
Labels: approved, lgtm, size/XS, area/docs, documentation

#8946 Update docs for latest EKS-A v0.21 and kubernetes v0.31
  docs/content/en/docs/clustermgmt/cluster-backup-restore/backup-cluster.md
  docs/content/en/docs/clustermgmt/cluster-backup-restore/restore-cluster.md
  docs/content/en/docs/clustermgmt/cluster-flux.md
  docs/content/en/docs/clustermgmt/cluster-terraform.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/baremetal-upgrades.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/upgrade-overview.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/version-skew.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
  docs/content/en/docs/clustermgmt/security/cluster-iam-auth.md
  docs/content/en/docs/concepts/support-versions.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/optional/etcd.md
  docs/content/en/docs/packages/prereq.md
  docs/content/en/docs/whatsnew/changelog.md
  docs/content/en/docs/workloadmgmt/gpu-sample-cluster.md
  docs/content/en/docs/workloadmgmt/using-gpus.md
  docs/data/version_support.yml
  docs/developer/manifests.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8949 Bump EKS-A CLI Homebrew version to latest
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8950 [release-0.21] Bump EKS-A CLI Homebrew version to latest
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS
