Repository aws/eks-anywhere, pull requests merged in 2024-09, with the labels that each got.

#8698 Add feature flag for Kubernetes v1.31 support
  pkg/api/v1alpha1/cluster_types.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#8695 Use correct Go version in E2E test JUnit files
  Makefile
  internal/test/e2e/run.go
Labels: approved, lgtm, size/S

#8653 Add missing vSphere E2E tests
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/XL

#8656 Rollout new nodes for OSImageURL change on spec without changing K8s version
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/tinkerbell/upgrade_test.go
  pkg/providers/tinkerbell/validate.go
Labels: approved, lgtm, size/XL

#8709 trigger v0.20.5 staging bundle
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8713 Remove content library references from OVA build docs
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8710 trigger v0.20.5 staging cli
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8716 Improve instructions for OVA template tagging and OS image URIs
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8721 trigger v0.20.5 prod bundle
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8722 trigger v0.20.5 prod cli
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8708 Use HookOS embedded images in Tinkerbell Templates:
  cmd/eksctl-anywhere/cmd/generate_tinkerbell_template_config.go
  internal/pkg/api/tinkerbell.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults_test.go
  pkg/providers/tinkerbell/controlplane_test.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_bottlerocket_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_bottlerocket_registry_mirror_with_auth.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_bottlerocket_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/expected_kct.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_cert_bundles_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_cert_bundles_config_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_kernel_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_kernel_config_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_ntp_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_ntp_config_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_settings_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_bottlerocket_settings_config_md.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_cp_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_cp_registry_mirror_with_auth.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_cp_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_md_minimal_registry_mirror.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_md_registry_mirror_with_auth.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_bottlerocket_md_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node_in_place.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node_skip_lb.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_disable_kube_vip.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cp_template.yaml
  pkg/providers/tinkerbell/testdata/expected_results_md_template.yaml
  pkg/providers/tinkerbell/testdata/expected_results_ubuntu_ntp_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_ubuntu_ntp_config_md.yaml
  pkg/providers/tinkerbell/workers_test.go
Labels: approved, lgtm, size/XL

#8728 update brew release to v0.20.5
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8726 Add documentation for management components upgrade commands
  cmd/eksctl-anywhere/cmd/upgrademanagementcomponents.go
  docs/content/en/docs/clustermgmt/cluster-upgrades/management-components-upgrade.md
  docs/content/en/docs/reference/eksctl/anywhere_upgrade_management-components.md
  docs/content/en/docs/reference/eksctl/anywhere_upgrade_plan_management-components.md
Labels: approved, size/M, area/docs, documentation

#8733 Fix kubernetes version in vSphere inplace E2E test
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/XS

#8649 Add e2e tests for RHEL 9 EFI on Baremetal
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/baremetal/baremetal-getstarted.md
  test/e2e/README.md
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/L, area/docs, documentation

#8727 Add steps on manually update etcd IPs for vShere Bottlerocket os
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8746 Add RHEL9 e2e test environment variables to quick test spec
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#8750 Add Tinkerbell E2E test for Ubuntu 22.04 generic kernel image
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
  test/framework/cloudstack.go
  test/framework/cluster.go
  test/framework/docker.go
  test/framework/nutanix.go
  test/framework/snow.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#8738 Add 1.31 E2E tests for Docker
  test/e2e/QUICK_TESTS.yaml
  test/e2e/constants.go
  test/e2e/docker_test.go
Labels: approved, lgtm, size/L

#8754 Remove 1.26 E2E tests for Docker and Snow
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/constants.go
  test/e2e/docker_test.go
  test/e2e/snow_test.go
  test/framework/snow.go
Labels: approved, lgtm, size/L

#8740 Add 1.31 E2E tests for vSphere
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  test/e2e/QUICK_TESTS.yaml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/vsphere_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/XXL

#8741 Add 1.31 E2E tests for CloudStack
  test/e2e/QUICK_TESTS.yaml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/cloudstack_test.go
  test/framework/cloudstack.go
Labels: approved, lgtm, size/XXL

#8755 Remove 1.26 E2E tests for vSphere
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  test/e2e/vsphere_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/XL

#8748 Add 1.31 E2E tests for Tinkerbell
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  test/e2e/QUICK_TESTS.yaml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/XL

#8749 Add 1.31 conformance tests
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  test/e2e/conformance_test.go
Labels: approved, lgtm, size/M

#8742 Add 1.31 E2E tests for Nutanix
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  test/e2e/QUICK_TESTS.yaml
  test/e2e/nutanix_test.go
  test/framework/nutanix.go
Labels: approved, lgtm, size/XL

#8763 Trigger staging bundle release for EKS-A v0.19.10
  release/cli/go.mod
  release/cli/go.sum
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: size/M

#8762 Add missing ENV var in quick e2e buildspec
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#8764 Trigger staging CLI release for EKS-A v0.19.10
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8767 Remove env vars for unsupported Kubernetes versions
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  test/framework/snow.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/M

#8756 Remove 1.26 E2E tests for CloudStack
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/cloudstack_test.go
  test/framework/cloudstack.go
Labels: approved, lgtm, size/XL

#8757 Remove 1.26 E2E tests for Tinkerbell
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/L

#8759 Remove 1.26 conformance tests
  pkg/controller/clientutil/kubernetes_test.go
  test/e2e/conformance_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#8761 Skip 1.31 curated packages tests for all providers
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/M

#8758 Remove 1.26 E2E tests for Nutanix
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  test/e2e/nutanix_test.go
  test/framework/nutanix.go
Labels: approved, lgtm, size/L

#8768 Unskip 1.31 bottlerocket E2E tests
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/M

#8769 Remove K8s 1.31 feature flag and default 1.31 as cluster version
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/testdata/cluster_in_place_upgrade.yaml
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#8771 Fix templates for some tests and skip 1.31 tests
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/M

#8765 Trigger production bundle release for EKS-A v0.19.10
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8770 Update docs to add k8s 1.31 support
  docs/config.toml
  docs/content/en/docs/concepts/support-versions.md
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/cloudstack/cloudstack-getstarted.md
  docs/content/en/docs/getting-started/cloudstack/cloudstack-preparation.md
  docs/content/en/docs/getting-started/docker/_index.md
  docs/content/en/docs/getting-started/nutanix/nutanix-getstarted.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-getstarted.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
  docs/content/en/docs/osmgmt/artifacts.md
  docs/content/en/docs/reference/eksctl/anywhere_list_packages.md
  docs/data/version_support.yml
Labels: approved, lgtm, size/L, area/docs, documentation

#8772 Trigger production CLI release for EKS-A v0.19.10
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8783 Bump Brew version for EKS-A v0.19.10
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: size/XS

#8683 Allow user to generate support bundle in Airgap environment
  cmd/eksctl-anywhere/cmd/supportbundle.go
  docs/content/en/docs/clustermgmt/support/supportbundle.md
  docs/content/en/docs/reference/eksctl/anywhere_generate_support-bundle.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8788 Clarify subscription non-cancellation policy in case of support ticket creation
  docs/content/en/docs/clustermgmt/support/purchase-subscription.md
  docs/content/en/docs/concepts/support-scope.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8792 Clarify subscription non-cancellation policy in case of support ticket creation
  docs/content/en/docs/clustermgmt/support/purchase-subscription.md
  docs/content/en/docs/concepts/support-scope.md
Labels: size/M, area/docs, documentation

#8793 Invalidate docs CDN after every new deployment
  docs/Makefile
  docs/amplify.yml
  docs/scripts/deploy-docs.sh
  docs/scripts/invalidate_docs_cdn.sh
Labels: approved, lgtm, size/M, area/docs, documentation

#8796 Trigger v0.20.6 staging bundle
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8797 Trigger staging CLI for v0.20.6
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8798 Remove ENV var for unsupported K8s version in release-0.20
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  test/framework/snow.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/M

#8717 Documentation for updating vSphere credentials
  docs/content/en/docs/clustermgmt/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/vsphere-credential-update.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8800 Trigger prod bundles for v0.20.6
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8801 Trigger prod CLI for v0.20.6
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8802 Update changelog for v0.20.6
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8810 Bump brew to point to latest release
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8811 [release-0.20] Bump brew to point to latest release
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8812 Update cert manager image in the EKS-A bundle with new image
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_eksareleases.yaml
  config/manifest/eksa-components.yaml
  internal/test/testdata/bundles.yaml
  release/Makefile
  release/api/v1alpha1/artifacts.go
  release/api/v1alpha1/artifacts_test.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/cli/pkg/assets/config/bundle_release.go
  release/cli/pkg/bundles/certmanager.go
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/config/crd/bases/anywhere.eks.amazonaws.com_eksareleases.yaml
  release/config/crd/bases/anywhere.eks.amazonaws.com_releases.yaml
Labels: approved, lgtm, size/L

#8816 Update EKS-A components manifest file
  config/manifest/eksa-components.yaml
Labels: approved, lgtm, size/M

#8805 Customize tinkerbell load balancer interface
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbelldatacenterconfigs.yaml
  config/manifest/eksa-components.yaml
  designs/tinkerbell-stack-load-balancer-interface.md
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_types.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_interface.yaml
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/upgrade.go
Labels: approved, lgtm, size/L, area/docs, documentation
