Repository aws/eks-anywhere, pull requests merged in 2024-08, with the labels that each got.

#8357 Add docs for N-1 EKS-A version support
  docs/content/en/docs/concepts/support-versions.md
Labels: size/S, area/docs, documentation

#8564 Add K8s version 1.30 to supported versions list
  docs/data/version_support.yml
Labels: approved, lgtm, size/XS, area/docs, documentation

#8538 Use correct registries to integrate with new packages workflows
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/packagereader_test.go
  pkg/curatedpackages/reader.go
  pkg/curatedpackages/regional_registry.go
  pkg/curatedpackages/registry_constants.go
  pkg/docker/registry.go
  pkg/docker/registry_test.go
  pkg/executables/docker.go
Labels: approved, lgtm, size/L

#8572 Use correct registries to integrate with new packages workflows
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/curatedpackages/packagereader_test.go
  pkg/curatedpackages/reader.go
  pkg/curatedpackages/regional_registry.go
  pkg/curatedpackages/registry_constants.go
  pkg/docker/registry.go
  pkg/docker/registry_test.go
  pkg/executables/docker.go
Labels: approved, lgtm, size/L

#8568 Enable dhcrelay for baremetal provider
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade_with_proxy.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_docker.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_kubernetes.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_docker_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_hook_override.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_kubernetes_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_proxy_config.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_registry_mirror.yaml
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/upgrade.go
  release/api/v1alpha1/artifacts.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/cli/pkg/assets/config/bundle_release.go
  release/cli/pkg/bundles/tinkerbell.go
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
Labels: lgtm, size/L

#8577 Fix tink-relay and tink-relay-init images
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade_with_proxy.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_docker.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_kubernetes.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_docker_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_hook_override.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_kubernetes_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_proxy_config.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_registry_mirror.yaml
Labels: approved, lgtm, size/M

#8578 [release-0.20] Enable dhcprelay for baremetal provider
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade_with_proxy.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_docker.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_kubernetes.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_docker_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_hook_override.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_kubernetes_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_proxy_config.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_registry_mirror.yaml
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/upgrade.go
  release/api/v1alpha1/artifacts.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/cli/pkg/assets/config/bundle_release.go
  release/cli/pkg/bundles/tinkerbell.go
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
Labels: approved, lgtm, size/L

#8575 Add docs for worker node kubelet client cert manual renewal
  docs/content/en/docs/clustermgmt/security/manually-renew-certs.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8576 Run conformance for 1.29 and above in default mode
  pkg/executables/sonobuoy.go
  test/framework/conformance.go
Labels: approved, lgtm, size/XS

#8579 Check against regional public ECR for getting registry
  pkg/curatedpackages/regional_registry.go
Labels: approved, lgtm, size/XS

#8584 Docker dependabot gomod update
  go.mod
  go.sum
  release/cli/go.mod
  release/cli/go.sum
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/L

#8574 Bumping staging bundle for 0.20.3
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8587 Remove release logic for RTOS images
  release/cli/pkg/assets/archives/archives.go
  release/cli/pkg/assets/config/bundle_release.go
  release/cli/pkg/assets/tagger/tagger.go
  release/cli/pkg/assets/types/types.go
  release/cli/pkg/constants/constants.go
  release/cli/pkg/filereader/file_reader.go
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
  release/cli/pkg/operations/upload.go
  release/cli/pkg/types/types.go
Labels: approved, lgtm, size/L

#8589 Bumping eks-a cli staging version
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8595 Prod bundle release for v0.20.3
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8598 Prod cli release for v0.20.3
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8596 Adding changelog for release v0.20.3
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8567 Add some quick commands for checking certificates
  docs/content/en/docs/clustermgmt/security/manually-renew-certs.md
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8603 Bumping brew tap for eks-a
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8602 Fix Kubelet Configuration apply when host OS config is specified
  pkg/providers/common/common.go
  pkg/providers/vsphere/template_test.go
  pkg/providers/vsphere/testdata/expected_kcp_br_ntp.yaml
Labels: approved, lgtm, size/XL

#8606 Fix Kubelet Configuration apply when host OS config is specified (#8602)
  pkg/providers/common/common.go
  pkg/providers/vsphere/template_test.go
  pkg/providers/vsphere/testdata/expected_kcp_br_ntp.yaml
Labels: approved, lgtm, size/XL

#8607 Bump Brew version for EKS-A v0.19.8
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8608 Fix etcdctl command in bottlerocket etcd backup documentation
  docs/content/en/docs/clustermgmt/etcd-backup-restore/bottlerocket-etcd-backup.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8610 Document manual certificate renewal requirement for Emissary
  docs/content/en/docs/packages/emissary/addemissary.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8614 Update notes for bottlerocket cert
  docs/content/en/docs/clustermgmt/security/manually-renew-certs.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8616 Trigger staging cli release for 0.19.9
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8623 Unskip cloudstack proxy config tests
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#8624 Trigger prod bundle release for 0.19.9
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8626 Triggering prod CLI release for 0.19.9
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8629 Fix latest EKS-A version assignment in announcement script
  release/scripts/announce_eksa_release.sh
Labels: approved, lgtm, size/XS

#8637 [release-0.20] Add some quick commands for checking certificates
  docs/content/en/docs/clustermgmt/security/manually-renew-certs.md
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8638 [release-0.19] Add logic to source packages images from beta account
  release/Makefile
  release/cli/cmd/release.go
  release/cli/pkg/assets/types/types.go
  release/cli/pkg/aws/ecr/ecr.go
  release/cli/pkg/bundles/package-controller.go
  release/cli/pkg/clients/clients.go
  release/cli/pkg/helm/helm.go
  release/cli/pkg/images/images.go
  release/cli/pkg/operations/upload.go
  release/cli/pkg/types/types.go
  release/scripts/bundle-release.sh
  release/scripts/docker-ecr-config.json
  release/scripts/policy.json
  release/scripts/release.sh
  release/scripts/setup-aws-config.sh
Labels: approved, lgtm, size/L

#8640 Changelog for 0.19.9
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8636 [release-0.20]Add logic to source packages images from beta account
  release/Makefile
  release/cli/cmd/release.go
  release/cli/pkg/assets/types/types.go
  release/cli/pkg/aws/ecr/ecr.go
  release/cli/pkg/bundles/package-controller.go
  release/cli/pkg/clients/clients.go
  release/cli/pkg/helm/helm.go
  release/cli/pkg/images/images.go
  release/cli/pkg/operations/upload.go
  release/cli/pkg/types/types.go
  release/scripts/bundle-release.sh
  release/scripts/docker-ecr-config.json
  release/scripts/policy.json
  release/scripts/release.sh
  release/scripts/setup-aws-config.sh
Labels: approved, lgtm, size/L

#8641 Trigger brew version release for 0.19.9
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8645 Fix release version assignment for main and release branches
  Makefile
  scripts/eksa_version.sh
Labels: approved, lgtm, size/M

#8648 Trigger staging release for v0.20.4
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8652 Trigger staging cli release for v0.20.4
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8615 Unskip tinkerbell multiple upgrades test
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#8625 Update prometheus pod labels in e2e validations for version 1.25
  test/framework/cluster.go
Labels: approved, lgtm, size/S

#8627 Change tinkerbell e2e run algorithm to schedule longer/smaller tests concurrently
  internal/test/e2e/run.go
Labels: approved, lgtm, size/S

#8662 Setup AWS profile for packages account only for bundle releases
  release/cli/cmd/release.go
  release/cli/pkg/clients/clients.go
  release/scripts/bundle-release.sh
  release/scripts/eks-a-release.sh
  release/scripts/setup-aws-config.sh
Labels: approved, lgtm, size/M

#8657 Trigger production bundle release for v0.20.4
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8658 Trigger production cli release for v0.20.4
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8666 Skip Tinkerbell worker node upgrade test
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#8667 Use packages-related clients and methods conditionally
  release/cli/cmd/release.go
  release/cli/pkg/helm/helm.go
  release/cli/pkg/images/images.go
  release/cli/pkg/operations/upload.go
  release/cli/pkg/types/types.go
  release/cli/pkg/util/packages/packages.go
Labels: approved, lgtm, size/M

#8670 Fix condition for assignment of source ECR auth config
  release/cli/pkg/operations/upload.go
Labels: approved, lgtm, size/XS

#8655 Adding changelog for release v0.20.4
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8676 Update EKS-A homebrew to v0.20.4
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8684 Add Shizhao to OWNERS
  OWNERS
Labels: approved, lgtm, size/XS

#8688 Parallelize download and upload operations during tests
  internal/test/e2e/setup.go
Labels: approved, lgtm, size/M

#8673 Ensure bundles override is used for template generation if available
  test/framework/vsphere.go
Labels: approved, lgtm, size/S

#8643 Update skipped tests
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/docker_test.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/M
