Repository aws/eks-anywhere, pull requests merged in 2024-07, with the labels that each got.

#8426 Update brew to point to latest release
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/L

#8428 Update brew version to point to v0.20.0
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/L

#8412 Update boots reference in baremetal docs
  docs/content/en/docs/clustermgmt/cluster-delete.md
  docs/content/en/docs/getting-started/baremetal/tinkerbell-overview.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8431 Fixing dir for sourcing E2E_AMI_FILTER_VARS
  cmd/integration_test/build/buildspecs/build-eks-a-cli.yml
  cmd/integration_test/build/script/create_infra_config.sh
Labels: approved, lgtm, size/XS

#8427 Group all dependabot go changes in one PR a week
  .github/dependabot.yaml
Labels: approved, lgtm, size/M

#8435 Fix function name in Brew update script
  scripts/brew_formula_update.sh
  scripts/common.sh
Labels: approved, lgtm, size/XS

#8419 Documentation for Kubelet Configuration
  docs/content/en/docs/getting-started/optional/hostOSConfig.md
  docs/content/en/docs/getting-started/optional/kubeletconfig.md
Labels: approved, lgtm, size/L, area/docs, documentation

#8440 Update curated package list to latest version in docs
  docs/content/en/docs/packages/adot/v0.39.0.md
  docs/content/en/docs/packages/cert-manager/v1.14.5.md
  docs/content/en/docs/packages/cluster-autoscaler/v9.37.0.md
  docs/content/en/docs/packages/emissary/v3.9.1.md
  docs/content/en/docs/packages/harbor/v2.10.2.md
  docs/content/en/docs/packages/metallb/v0.14.5.md
  docs/content/en/docs/packages/metrics-server/v3.12.1.md
  docs/content/en/docs/packages/packagelist.md
  docs/content/en/docs/packages/prometheus/v2.52.0.md
Labels: approved, lgtm, size/XL, area/docs, documentation

#8444 Trigger docs deployment for release-20 branch
  docs/config.toml
  docs/content/en/docs/concepts/support-versions.md
  docs/data/version_support.yml
Labels: approved, lgtm, size/S, area/docs, documentation

#8445 Backport docs config changes to deprecate old minor release and rende…
  docs/config.toml
Labels: approved, lgtm, size/S, area/docs, documentation

#8438 Add concurrent pipelines check before quick e2e test
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/build/script/check_concurrent_pipelines.py
Labels: lgtm, size/M

#8449 Set go version in govulncheck action for release
  .github/workflows/vulnerability.yml
Labels: approved, lgtm, size/XS

#8439 Add troubleshooting documentation for CAPV session issue
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8418 Update latest release branch in docs
  docs/config.toml
  docs/content/en/docs/concepts/support-versions.md
  docs/data/version_support.yml
Labels: approved, lgtm, size/S, area/docs, documentation

#8455 Update cluster status
  pkg/api/v1alpha1/condition_consts.go
  pkg/controller/clusters/status.go
  pkg/controller/clusters/status_test.go
Labels: approved, lgtm, size/L

#8454 Ignore manually updated modules in dependabot
  .github/dependabot.yaml
Labels: approved, lgtm, size/S

#8462 Ignore CAPI provider modules in dependabot config
  .github/dependabot.yaml
Labels: approved, lgtm, size/S

#8464 Increase Cloudstack Concurrent Test Count
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#8465 Add update about capv session issue in troubleshooting docs
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8467 Trigger staging bundle release for v0.20.1
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8468 Trigger staging cli release for v0.20.1
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8470 Fix get worker node logic for Kubelet config e2e
  test/framework/kubeletconfig.go
Labels: approved, lgtm, size/M

#8469 Use sourceImageURI for packages Helm chart modifications
  release/cli/pkg/bundles/package-controller.go
  release/cli/pkg/helm/helm.go
Labels: approved, lgtm, size/XS

#8473 Trigger prod bundle release for v0.20.1
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8474 Trigger prod cli release for v0.20.1
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8477 Add changelog for release v0.20.1
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8479 Fix changelog for v0.20.1 to have proper links
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8231 Update CLI logging output to be cluster type aware:
  cmd/eksctl-anywhere/cmd/createcluster.go
  pkg/workflows/management/create_install_eksa.go
  pkg/workflows/management/create_move_capi.go
  pkg/workflows/management/create_workload.go
Labels: approved, lgtm, size/S

#8459 fix tinkerbell doc link
  docs/content/en/docs/getting-started/baremetal/tinkerbell-overview.md
Labels: approved, lgtm, needs-ok-to-test, size/XS, area/docs, documentation

#8482 Update brew to point to latest release
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8491 Update brew to point to latest release
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8494 Fix panic when datacenter obj is not found
  pkg/cluster/cloudstack.go
  pkg/cluster/cloudstack_test.go
  pkg/cluster/docker.go
  pkg/cluster/docker_test.go
  pkg/cluster/nutanix.go
  pkg/cluster/nutanix_test.go
  pkg/cluster/tinkerbell.go
  pkg/cluster/tinkerbell_test.go
  pkg/cluster/vsphere.go
  pkg/cluster/vsphere_test.go
Labels: approved, lgtm, size/M

#8498 Trigger staging bundle patch release for v0.19.8:
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8461 Fix Subnet Validation Bug for Nutanix provider
  pkg/providers/nutanix/validator.go
  pkg/providers/nutanix/validator_test.go
Labels: approved, lgtm, ok-to-test, size/L

#8500 Patch Release v0.19.8 cli version bumps
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8507 [release-0.19] Fix e2e tests creating old bundle workload clusters
  test/e2e/docker_test.go
  test/e2e/suite.go
  test/e2e/upgrade_from_latest.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/M

#8506 [release-0.19] Log ssm command details when an e2e test finishes
  internal/pkg/ssm/run_output.go
  internal/test/e2e/run.go
Labels: approved, lgtm, size/XS

#8508 [release-0.19] Cherry pick 8361 and 8403 to release 0.19
  internal/pkg/ssm/run_output.go
Labels: approved, lgtm, ok-to-test, size/XS

#8510 Update production bundle versions for v0.19.8 patch release:
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8511 Add descriptive error logs for download, rename and upload operations
  release/cli/pkg/operations/download.go
  release/cli/pkg/operations/rename.go
  release/cli/pkg/operations/upload.go
Labels: approved, lgtm, size/S

#8512 Update production CLI release:
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8514 [release-0.19] fix tinkerbell doc link
  docs/content/en/docs/getting-started/baremetal/tinkerbell-overview.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8528 Add changelog for patch release v0.19.8:
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8529 Update v0.19.8 changelog:
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8264 Shuffle hardware inventory for tinkerbell before reservation
  internal/test/e2e/run.go
  internal/test/e2e/tinkerbell_hardware_queue.go
Labels: approved, lgtm, size/S

#8527 Fix machine config panic when ref object not found
  pkg/cluster/cloudstack.go
  pkg/cluster/cloudstack_test.go
  pkg/cluster/nutanix.go
  pkg/cluster/nutanix_test.go
  pkg/cluster/testdata/cluster_tinkerbell_1_19.yaml
  pkg/cluster/tinkerbell.go
  pkg/cluster/tinkerbell_test.go
  pkg/cluster/vsphere.go
  pkg/cluster/vsphere_test.go
Labels: approved, lgtm, size/L

#8531 Bump controller-gen version to v0.8.0
  Makefile
  config/crd/bases/anywhere.eks.amazonaws.com_awsdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_awsiamconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_controlplaneupgrades.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_dockerdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_fluxconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_gitopsconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_machinedeploymentupgrades.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_nodeupgrades.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_nutanixdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_nutanixmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_oidcconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_snowdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_snowippools.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_snowmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbelldatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbellmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbelltemplateconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_vspheredatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_vspheremachineconfigs.yaml
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
Labels: approved, lgtm, size/XXL

#8535 Trigger bundle release for 0.20.2
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8537 Trigger staging cli release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8539 Update eksa_version.sh
  scripts/eksa_version.sh
Labels: approved, lgtm, size/XS

#8544 Bump prod version numbers for 0.20.2
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#8545 Trigger prod cli release for v0.20.2
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8548 Bump brew version to 0.20.2
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8549 Bump brew version to 0.20.2
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: size/XS

#8543 Add v0.20.2 changes
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#8547 Elaborate the note when kubelet service failed to start
  docs/content/en/docs/clustermgmt/security/manually-renew-certs.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#8557 Add requirement for sts.amazonaws.com connection
  docs/content/en/docs/getting-started/baremetal/bare-prereq.md
  docs/content/en/docs/getting-started/cloudstack/cloudstack-prereq.md
  docs/content/en/docs/getting-started/nutanix/domains.md
  docs/content/en/docs/getting-started/vsphere/domains.md
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/S, area/docs, documentation

#8493 Enable lb_class_only env var in tink stack kubevip
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade_with_proxy.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_docker.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_kubernetes.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_docker_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_hook_override.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_kubernetes_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_proxy_config.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_registry_mirror.yaml
Labels: approved, lgtm, size/M
