Repository aws/eks-anywhere, pull requests merged in 2024-02, with the labels that each got.

#7455 Give e2e workload cluster config a unique name
  test/framework/multicluster.go
Labels: approved, lgtm, size/XS

#7444 Compute docs checksum and upload it to artifacts bucket
  docs/Makefile
  docs/amplify.yml
Labels: approved, lgtm, size/S, area/docs, documentation

#7456 Fix e2e tests to search the kubeconfig consistently
  test/framework/cluster.go
  test/framework/multicluster.go
  test/framework/workload.go
Labels: approved, lgtm, size/XS

#7428 Add kubernetes entry to upgrade plan
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
  pkg/eksd/upgrader.go
  pkg/eksd/upgrader_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/management/core_components.go
  pkg/workflows/management/upgrade_management_components_test.go
  pkg/workflows/management/upgrade_test.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: lgtm, size/L

#7457 Extend Snow provider surface API to use management components
  pkg/providers/mocks/providers.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
Labels: approved, lgtm, size/L

#7458 Scope down lint and test coverage GitHub workflows on PRs
  .github/workflows/go-coverage.yml
  .github/workflows/golangci-lint.yml
Labels: lgtm, size/XS

#7460 Create config folder when update name in e2e test
  test/framework/cluster.go
  test/framework/multicluster.go
Labels: approved, lgtm, size/S

#7464 Pause reconcile before moving CAPI
  pkg/workflows/management/create_move_capi.go
  pkg/workflows/management/create_test.go
Labels: approved, lgtm, size/M

#7465 Trigger staging bundle release for v0.18.6
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7466 Trigger staging CLI release for v0.18.6
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7461 Remove old provider methods to use new methods with management components
  pkg/clusterapi/upgrader.go
  pkg/clusterapi/upgrader_test.go
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/docker/docker.go
  pkg/providers/docker/docker_test.go
  pkg/providers/mocks/providers.go
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XL

#7459 Add one vsphere quick test
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
Labels: approved, lgtm, size/S

#7421 Add kubebuilder tags to print meaningful columns for in-place CRDs
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_controlplaneupgrades.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_machinedeploymentupgrades.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_nodeupgrades.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/controlplaneupgrade_types.go
  pkg/api/v1alpha1/machinedeploymentupgrade_types.go
  pkg/api/v1alpha1/nodeupgrade_types.go
Labels: approved, lgtm, size/L

#7468 Trigger production bundle release for v0.18.6
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7452 Update log to use fallback registry when not authorized to access regionalized packages
  pkg/curatedpackages/packagecontrollerclient.go
Labels: approved, lgtm, size/XS

#7470 Trigger production CLI release for v0.18.6
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7467 Change CAPI upgrader to use management components
  cmd/eksctl-anywhere/cmd/upgradeplanmanagementcomponents.go
  pkg/cluster/fetch.go
  pkg/clusterapi/installer.go
  pkg/clusterapi/installer_test.go
  pkg/clusterapi/manager.go
  pkg/clusterapi/mocks/capiclient.go
  pkg/clusterapi/upgrader.go
  pkg/clusterapi/upgrader_test.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/workflows/create.go
  pkg/workflows/create_test.go
  pkg/workflows/delete.go
  pkg/workflows/delete_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/management/core_components.go
  pkg/workflows/management/create_install_capi.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/create_workload.go
  pkg/workflows/management/upgrade_management_components_test.go
  pkg/workflows/management/upgrade_test.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#7471 Handle release not found from version command
  cmd/eksctl-anywhere/cmd/version.go
  pkg/manifests/releases/read.go
  pkg/manifests/releases/read_test.go
Labels: approved, lgtm, size/M

#7472 Fix upgrade plan output when all components are up-to-date and for workload clusters.
  cmd/eksctl-anywhere/cmd/upgradeplancluster.go
  cmd/eksctl-anywhere/cmd/upgradeplanmanagementcomponents.go
Labels: approved, lgtm, size/XS

#7473 Add util to compare semvers build metadata
  pkg/semver/identifiers.go
  pkg/semver/semver.go
  pkg/semver/semver_test.go
Labels: approved, lgtm, size/L

#7469 Fix deletion logic for in-place upgrade CRs
  controllers/controlplaneupgrade_controller_test.go
  controllers/kubeadmcontrolplane_controller.go
  controllers/kubeadmcontrolplane_controller_test.go
  controllers/machinedeployment_controller.go
  controllers/machinedeployment_controller_test.go
  controllers/machinedeploymentupgrade_controller_test.go
Labels: approved, lgtm, size/L

#7474 Update Homebrew release version to v0.18.6
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7478 Update changelog for v0.18.6
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#7482 Update release module go.mod
  release/cli/go.mod
  release/cli/go.sum
Labels: approved, lgtm, size/L

#7417 Unify delete workload
  Makefile
  cmd/eksctl-anywhere/cmd/deletecluster.go
  pkg/task/task.go
  pkg/workflows/diagnostics.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/workload/delete.go
  pkg/workflows/workload/delete_test.go
  pkg/workflows/workload/deletecluster.go
  pkg/workflows/workload/post_delete.go
  pkg/workflows/workload/validate.go
Labels: approved, lgtm, size/L

#7483 Remove redundant platforms build
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#7487 Ensure the `ControlPlaneUpgrade` and `MachineDeploymentUpgrade` statuses get updated
  config/crd/bases/anywhere.eks.amazonaws.com_controlplaneupgrades.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_machinedeploymentupgrades.yaml
  config/manifest/eksa-components.yaml
  controllers/controlplaneupgrade_controller.go
  controllers/controlplaneupgrade_controller_test.go
  controllers/machinedeploymentupgrade_controller.go
  controllers/machinedeploymentupgrade_controller_test.go
  controllers/nodeupgrade_controller.go
  pkg/api/v1alpha1/controlplaneupgrade_types.go
  pkg/api/v1alpha1/machinedeploymentupgrade_types.go
Labels: approved, lgtm, size/L

#7488 Enable management cluster create behind feature flag
  cmd/eksctl-anywhere/cmd/createcluster.go
Labels: approved, lgtm, size/S

#7490 Remove client factory dependency
  cmd/eksctl-anywhere/cmd/createcluster.go
  pkg/workflows/management/create.go
  pkg/workflows/management/create_install_eksa.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/create_workload.go
Labels: approved, lgtm, size/L

#7492 Remove note that gitops is not supported for BareMetal
  docs/content/en/docs/clustermgmt/cluster-flux.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#7495 Resolve TestVSphereKubernetes127UbuntuWorkloadClusterTaintsFlow e2e test error
  test/e2e/multicluster.go
Labels: approved, lgtm, size/XS

#7368 Use super-admin Kubeconfig for kube-vip from Kubernetes v1.29 onwards
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/snow/apibuilder.go
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/snow/objects_test.go
  pkg/providers/snow/snow_test.go
  pkg/providers/tinkerbell/config/template-cp.yaml
  pkg/providers/vsphere/config/template-cp.yaml
Labels: approved, lgtm, size/L

#7463 Use real version for dev releases
  docs/developer/manifests.md
  release/cli/cmd/release.go
  release/cli/go.mod
  release/cli/pkg/bundles/eksctl-anywhere.go
  release/cli/pkg/filereader/file_reader.go
  release/cli/pkg/filereader/file_reader_test.go
  release/cli/pkg/images/images.go
  release/cli/pkg/types/types.go
  release/cli/pkg/types/types_test.go
  release/cli/pkg/util/artifacts/artifacts.go
  release/cli/pkg/util/release/release.go
  release/cli/pkg/util/release/release_test.go
  release/scripts/release.sh
  scripts/eksa_version.sh
Labels: approved, lgtm, size/XL

#7500 Preserve CloudStack case sensitivity for e2e tests
  test/e2e/cloudstack_test.go
Labels: approved, lgtm, size/XS

#7501 Avoid using + signs in S3 urls for Bundles manifest
  release/cli/pkg/types/types.go
  release/cli/pkg/types/types_test.go
Labels: approved, lgtm, size/M

#7496 Add one CloudStack test to quick e2e tests
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  test/e2e/QUICK_TESTS.yaml
Labels: approved, lgtm, size/M

#7504 Skip extra hardware validation for InPlace Upgrades
  pkg/providers/tinkerbell/reconciler/reconciler.go
  pkg/providers/tinkerbell/upgrade.go
Labels: lgtm, size/S

#7497 Use new dev versions in local and E2E test builds
  Makefile
  pkg/manifests/releases/read.go
  pkg/manifests/releases/read_test.go
  test/framework/cloudstack.go
  test/framework/cluster.go
  test/framework/commands.go
  test/framework/eksa_versions.go
  test/framework/nutanix.go
  test/framework/release_versions.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#7506 Add one nutanix test to quick e2e suite
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  test/e2e/QUICK_TESTS.yaml
Labels: approved, lgtm, size/M

#7509 Tinkerbell e2e update
  test/framework/bmc/bmc.go
  test/framework/cluster.go
Labels: approved, lgtm, size/L

#7507 Add env var to controller when in place upgrades on VSphere env var is set
  pkg/clustermanager/eksa_installer.go
  pkg/clustermanager/eksa_installer_test.go
Labels: approved, lgtm, size/S

#7503 Add in-place CRDs to diagnostics collector
  pkg/diagnostics/collectors.go
Labels: approved, lgtm, size/XS

#7511 Build EKS-A with pinned version for quick e2e tests
  Makefile
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
Labels: lgtm, size/XS

#7512 Clean up funcs around power on and off:
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/adot.go
  test/e2e/airgap.go
  test/e2e/autoscaler.go
  test/e2e/awsiamauth.go
  test/e2e/conformance_test.go
  test/e2e/curatedpackages.go
  test/e2e/emissary.go
  test/e2e/harbor.go
  test/e2e/multicluster.go
  test/e2e/oidc.go
  test/e2e/prometheus.go
  test/e2e/registrymirror.go
  test/e2e/simpleflow.go
  test/e2e/singlenode.go
  test/e2e/tinkerbell_test.go
  test/e2e/upgrade.go
  test/framework/cluster.go
  test/framework/multicluster.go
Labels: approved, lgtm, size/L

#7513 Fix bug when selecting release from CLI version
  pkg/manifests/releases/read.go
  pkg/manifests/releases/read_test.go
Labels: approved, lgtm, size/M

#7514 Fix nutanix create mgmt new workflow
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
Labels: approved, lgtm, size/S

#7516 Add 1.29 Nutanix E2E tests
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/nutanix_test.go
  test/framework/nutanix.go
Labels: approved, lgtm, size/L

#7517 Set eks-a version globally in the Makefile
  Makefile
Labels: approved, lgtm, size/S

#7521 Add version command output to error in e2e tests
  test/framework/eksa_versions.go
Labels: approved, lgtm, size/XS

#7510 Add one Snow test to quick e2e test suite
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  test/e2e/QUICK_TESTS.yaml
Labels: approved, lgtm, size/XS

#7522 Use S3 release manifest URL in CI E2E tests
  Makefile
Labels: approved, lgtm, size/S

#7523 Improve release handling in version command
  cmd/eksctl-anywhere/cmd/version.go
  pkg/manifests/releases/read.go
  pkg/manifests/releases/read_test.go
  pkg/version/version.go
  test/framework/eksa_versions.go
Labels: approved, lgtm, size/M

#7525 Add additional version check for cp ready
  pkg/awsiamauth/reconciler/reconciler_test.go
  pkg/controller/clusters/clusterapi.go
  pkg/controller/clusters/clusterapi_test.go
  pkg/providers/snow/reconciler/reconciler_test.go
Labels: approved, lgtm, size/M

#7526 Read release manifest from CLI manifest URL
  test/framework/release_versions.go
Labels: approved, lgtm, size/S

#7515 Add simple E2E tests for InPlace Upgrades
  internal/pkg/api/cluster.go
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
  test/e2e/upgrade.go
  test/framework/cluster/validations/cluster.go
Labels: approved, lgtm, size/L

#7505 Make rollingUpdate field in clusterSpec optional
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/api/v1alpha1/testdata/cluster_in_place_upgrade.yaml
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/clusterapi/rollout_strategy_test.go
  pkg/providers/cloudstack/controlplane_test.go
  pkg/providers/cloudstack/workers_test.go
  pkg/providers/docker/controlplane_test.go
  pkg/providers/docker/workers_test.go
  pkg/providers/nutanix/controlplane_test.go
  pkg/providers/nutanix/workers_test.go
  pkg/providers/snow/snow_test.go
  pkg/providers/vsphere/controlplane_test.go
  pkg/providers/vsphere/workers_test.go
Labels: approved, lgtm, size/L

#7530 Fix registry secret
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/management/create_bootstrap.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/secrets.go
Labels: approved, lgtm, size/L

#7532 Add upgrader image to import images
  release/api/v1alpha1/artifacts.go
Labels: approved, lgtm, size/XS

#7475 Block autoscaler configuration with Inplace upgrade strategy
  pkg/providers/tinkerbell/assert.go
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/cluster.go
  pkg/providers/tinkerbell/validate.go
Labels: approved, lgtm, size/M

#7535 Fix InPlace e2e validation to check for actual values in kcp/md.spec.Replicas
  test/framework/cluster/validations/cluster.go
Labels: approved, lgtm, size/XS

#7527 Add one Tinkerbell e2e test to the quick test suite
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  test/e2e/QUICK_TESTS.yaml
Labels: approved, lgtm, size/M

#7536 Move kube-vip manifest modification step to pre-kubeadm commands for Nutanix
  pkg/providers/nutanix/config/cp-template.yaml
Labels: approved, lgtm, size/XS

#7541 Add validation for stacked etcd with in place on vsphere
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
Labels: approved, lgtm, size/M

#7542 Continue create workflow post gitops failure
  pkg/workflows/management/create_gitops.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/secrets.go
Labels: approved, lgtm, size/S

#7543 Remove cluster config validation from common validations
  cmd/eksctl-anywhere/cmd/validations.go
Labels: approved, lgtm, size/XS

#7544 Add success log to upgrade management components flow
  pkg/workflows/management/upgrade_management_components.go
Labels: approved, lgtm, size/XS

#7545 Delete gitops workload cluster with controller
  cmd/eksctl-anywhere/cmd/deletecluster.go
  pkg/workflows/workload/delete.go
  pkg/workflows/workload/delete_test.go
  pkg/workflows/workload/deletecluster.go
  pkg/workflows/workload/post_delete.go
Labels: approved, lgtm, size/M

#7537 Generate and write AWS IAM auth kubeconfig to disk
  pkg/awsiamauth/installer.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/management/create_workload.go
Labels: approved, lgtm, size/M

#7534 Change Nutanix CAPX to v1.3.0
  go.mod
  go.sum
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/config/md-template.yaml
  pkg/providers/nutanix/config/secret-template.yaml
  pkg/providers/nutanix/controlplane.go
  pkg/providers/nutanix/controlplane_test.go
  pkg/providers/nutanix/env.go
  pkg/providers/nutanix/env_test.go
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
  pkg/providers/nutanix/reconciler/reconciler.go
  pkg/providers/nutanix/template.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/expected_cluster_api_server_cert_san_domain_name.yaml
  pkg/providers/nutanix/testdata/expected_cluster_api_server_cert_san_ip.yaml
  pkg/providers/nutanix/testdata/expected_results_additional_categories.yaml
  pkg/providers/nutanix/testdata/expected_results_additional_categories_md.yaml
  pkg/providers/nutanix/testdata/expected_results_autoscaling_md.yaml
  pkg/providers/nutanix/testdata/expected_results_iamauth.yaml
  pkg/providers/nutanix/testdata/expected_results_irsa.yaml
  pkg/providers/nutanix/testdata/expected_results_node_taints_labels.yaml
  pkg/providers/nutanix/testdata/expected_results_node_taints_labels_md.yaml
  pkg/providers/nutanix/testdata/expected_results_oidc.yaml
  pkg/providers/nutanix/testdata/expected_results_project.yaml
  pkg/providers/nutanix/testdata/expected_results_project_md.yaml
  pkg/providers/nutanix/testdata/expected_results_proxy.yaml
  pkg/providers/nutanix/testdata/expected_results_proxy_md.yaml
  pkg/providers/nutanix/testdata/expected_results_registry_mirror.yaml
  pkg/providers/nutanix/testdata/expected_results_registry_mirror_md.yaml
  pkg/providers/nutanix/testdata/templated_secret.yaml
  pkg/providers/nutanix/testdata/templated_secret_eksa.yaml
  release/api/v1alpha1/artifacts.go
Labels: approved, lgtm, ok-to-test, size/XXL

#7547 Fix validation to enforce same upgrade strategy for cp and workers for in place
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/validate.go
Labels: approved, lgtm, size/S

#7546 Remove feature flag for controller via CLI
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/workflows/management/create_test.go
  pkg/workflows/workload/create_test.go
  pkg/workflows/workload/delete_test.go
  pkg/workflows/workload/upgrade_test.go
Labels: approved, lgtm, size/M

#7540 Add tests to quick e2e suite from existing tests
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  test/e2e/QUICK_TESTS.yaml
Labels: approved, lgtm, size/S

#7554 Revert "Remove feature flag for controller via CLI (#7546)"
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/workflows/management/create_test.go
  pkg/workflows/workload/create_test.go
  pkg/workflows/workload/delete_test.go
  pkg/workflows/workload/upgrade_test.go
Labels: approved, lgtm, size/M

#7555 Update OS versions in docs
  docs/content/en/docs/osmgmt/overview.md
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#7518 Update status message to show upgrade type
  pkg/api/v1alpha1/condition_consts.go
  pkg/controller/clusters/status.go
  pkg/controller/clusters/status_test.go
Labels: approved, lgtm, size/L

#7553 Allow to set tests to run in quick e2e buildspec
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#7557 Read current release state directly from S3
  release/cli/pkg/aws/s3/s3.go
  release/cli/pkg/util/release/release.go
Labels: approved, lgtm, size/M

#7558 Update cluster spec with nutanix machine configs
  pkg/providers/nutanix/provider.go
Labels: approved, lgtm, size/XS

#7551 Bump up Nutanix CAPX to v1.3.1
  go.mod
  go.sum
Labels: approved, lgtm, ok-to-test, size/XS

#7564 Add quick e2e tests for vSphere
  test/e2e/QUICK_TESTS.yaml
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/M

#7568 Generate snow provider environment variable map using management components
  pkg/executables/clusterctl.go
  pkg/executables/clusterctl_test.go
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/M

#7561 Update cluster spec with tinkerbell machine configs
  pkg/providers/tinkerbell/create.go
Labels: approved, lgtm, size/XS

#7549 Add 1.29 CloudStack E2E tests
  test/e2e/QUICK_TESTS.yaml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/cloudstack_test.go
  test/framework/cloudstack.go
Labels: approved, lgtm, size/XL

#7560 Add tinkerbell E2E tests for single node inplace upgrade
  internal/pkg/api/tinkerbell.go
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
  test/framework/cluster/validations/cluster.go
Labels: approved, lgtm, size/L

#7570 Trigger staging bundle release for v0.18.7
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7569 Update PreCoreComponentsUpgrade to use management components
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/nutanix/provider.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/tinkerbell/upgrade_test.go
  pkg/providers/vsphere/vsphere.go
  pkg/workflows/management/core_components.go
  pkg/workflows/management/upgrade_management_components_test.go
  pkg/workflows/management/upgrade_test.go
  pkg/workflows/upgrade.go
  pkg/workflows/upgrade_test.go
Labels: approved, lgtm, size/L

#7572 Add inplace upgrade E2E tests for scaling nodes in vsphere
  internal/pkg/api/vsphere.go
  test/e2e/upgrade.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/L

#7573 Trigger staging CLI release for v0.18.7
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7562 Add 1.29 VSphere E2E tests
  test/e2e/QUICK_TESTS.yaml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/vsphere_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/XXL

#7576 Move aws kubeconfig secret to workload cluster
  pkg/awsiamauth/reconciler/reconciler.go
  pkg/constants/constants.go
Labels: approved, lgtm, size/XS

#7563 Fix docker nil pointer for endpoint host aws iam auth reconciler
  pkg/awsiamauth/reconciler/reconciler.go
Labels: approved, lgtm, size/XS

#7578 Remove unnecessary validations for upgrade management components
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/nutanix/provider.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/vsphere/envars.go
  pkg/providers/vsphere/vsphere.go
  pkg/workflows/management/upgrade_management_components.go
  pkg/workflows/management/upgrade_management_components_test.go
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/cloudstack_test.go
  test/e2e/docker_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/upgrade_from_latest.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/L

#7586 Update template env vars for VSphere E2E tests
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  test/e2e/QUICK_TESTS.yaml
Labels: approved, lgtm, size/S

#7539 Pause machine health checks during inplace upgrades
  controllers/kubeadmcontrolplane_controller.go
  controllers/kubeadmcontrolplane_controller_test.go
  controllers/machinedeployment_controller.go
  controllers/machinedeployment_controller_test.go
Labels: approved, lgtm, size/L

#7585 Add a validation if the controller is paused during cluster upgrade
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
Labels: approved, lgtm, size/M

#7584 Add base InPlace upgrade flows for vSphere
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/M

#7588 Add in place modular upgrade e2e tests
  test/e2e/upgrade.go
  test/e2e/vsphere_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/M

#7583 Add e2e tests for workload cluster k8s inplace upgrade
  test/e2e/multicluster.go
  test/e2e/vsphere_test.go
  test/framework/cluster/validations/cluster.go
Labels: approved, lgtm, size/L

#7590 Write AWS IAM kubeconfig file
  pkg/awsiamauth/client.go
  pkg/awsiamauth/client_test.go
  pkg/awsiamauth/installer.go
  pkg/awsiamauth/installer_test.go
  pkg/awsiamauth/mock_test.go
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/mocks/client_and_networking.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/create_workload.go
Labels: approved, lgtm, size/L

#7594 Fix indentation in VSphere E2E test buildspec
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
Labels: approved, size/XS

#7596 Write AWS IAM kubeconfig file for workload cluster
  pkg/workflows/workload/writeclusterconfig.go
Labels: approved, lgtm, size/S

#7600 Unit tests for aws iam kubeconfig write file
  pkg/workflows/workload/create_test.go
  pkg/workflows/workload/writeclusterconfig.go
Labels: approved, lgtm, size/M

#7587 Clarify control plane node count error log
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
Labels: lgtm, size/M

#7604 Fix a bug that bundlesOveride was not used
  cmd/eksctl-anywhere/cmd/upgrademanagementcomponents.go
Labels: approved, lgtm, size/XS

#7591 Add 1.29 Tinkerbell E2E
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/XL

#7579 Trigger prod bundle release for v0.18.7
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7574 Fix tinkerbell IP in hegel urls controller
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/providers/tinkerbell/create.go
  pkg/providers/tinkerbell/template.go
  pkg/providers/tinkerbell/template_test.go
  pkg/workflows/management/create_install_eksa.go
Labels: approved, lgtm, size/M

#7593 Use Kubeconfig Writer for IamAuth
  pkg/awsiamauth/installer.go
  pkg/awsiamauth/installer_test.go
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  pkg/kubeconfig/kubeconfig.go
  pkg/kubeconfig/kubeconfig_writer.go
  pkg/kubeconfig/mocks/writer.go
  pkg/providers/docker/docker.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/create_workload.go
  pkg/workflows/management/write_cluster_config.go
Labels: approved, lgtm, size/L

#7608 Update secrets for snow
  pkg/providers/snow/snow.go
  pkg/providers/snow/snow_test.go
Labels: approved, lgtm, size/S

#7609 Remove feature flag for create
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/deletecluster.go
Labels: approved, lgtm, do-not-merge/hold, size/S

#7607 Fix check for getting etcd url
  internal/test/cluster.go
  internal/test/testdata.go
  internal/test/testdata/releases.yaml
  pkg/api/v1alpha1/cluster_types.go
  pkg/cluster/fetch_test.go
  pkg/clustermarshaller/testdata/expected_marshalled_cluster.yaml
  pkg/clustermarshaller/testdata/expected_marshalled_cluster_flux_and_gitops.yaml
  pkg/clustermarshaller/testdata/expected_marshalled_cluster_flux_config.yaml
  pkg/curatedpackages/packagecontrollerclient_test.go
  pkg/providers/common/common.go
  pkg/providers/common/common_test.go
  pkg/validations/createvalidations/preflightvalidations_test.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  pkg/workflows/management/upgrade_management_components_test.go
  pkg/workflows/management/upgrade_test.go
Labels: approved, lgtm, size/M

#7580 Trigger prod CLI release for v0.18.7
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#7281 Make `maxUnhealthy` count configurable for control plane and worker machines
  cmd/eksctl-anywhere/cmd/options.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  controllers/factory.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/cli/createclusterdefaulter_test.go
  pkg/cli/upgradeclusterdefaulter_test.go
  pkg/cluster/defaults.go
  pkg/cluster/defaults_test.go
  pkg/clusterapi/machine_health_check.go
  pkg/clusterapi/machine_health_check_test.go
  pkg/clusterapi/machinehealthcheck/reconciler/reconciler_test.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/config/config.go
  pkg/constants/constants.go
  pkg/dependencies/factory.go
Labels: approved, lgtm, size/L

#7595 Update kube-vip for InPlace upgrades.
  controllers/controlplaneupgrade_controller.go
  controllers/controlplaneupgrade_controller_test.go
  pkg/constants/constants.go
  pkg/nodeupgrader/testdata/expected_first_control_plane_upgrader_pod.yaml
  pkg/nodeupgrader/testdata/expected_rest_control_plane_upgrader_pod.yaml
  pkg/nodeupgrader/upgrader.go
Labels: approved, lgtm, size/L

#7601 Validate immutable Tinkerbell Datacenter fields in web-hook when managing with the Full Lifecycle Controller API
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_webhook.go
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_webhook_test.go
  pkg/controller/clientutil/annotations.go
  pkg/controller/clientutil/annotations_test.go
  pkg/workflows/management/upgrade_cluster.go
  pkg/workflows/management/upgrade_test.go
  pkg/workflows/workload/upgrade.go
  pkg/workflows/workload/upgrade_test.go
  pkg/workflows/workload/upgradecluster.go
Labels: approved, lgtm, size/L

#7565 Add etcd encryption for Nutanix provider
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/template.go
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/cluster_nutanix_etcd_encryption.yaml
  pkg/providers/nutanix/testdata/expected_results_etcd_encryption.yaml
Labels: approved, lgtm, needs-ok-to-test, size/XL

#7606 Disable MultiEndpoint CloudStack Tests
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#7589 use client factory to create namespace
  cmd/eksctl-anywhere/cmd/createcluster.go
  pkg/clients/kubernetes/unauth.go
  pkg/clients/kubernetes/unauth_test.go
  pkg/clustermanager/cluster_manager.go
  pkg/workflows/create_prep.go
  pkg/workflows/create_prep_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/management/create.go
  pkg/workflows/management/create_install_eksa.go
  pkg/workflows/management/create_test.go
  pkg/workflows/management/create_workload.go
  pkg/workflows/workload/create.go
  pkg/workflows/workload/create_test.go
  pkg/workflows/workload/createcluster.go
Labels: approved, lgtm, size/L

#7613 Add KMS v1 feature gate for Kubernetes v1.29
  internal/test/testdata/bundles.yaml
  pkg/providers/cloudstack/cloudstack_test.go
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/testdata/cluster_etcd_encryption_1_29.yaml
  pkg/providers/cloudstack/testdata/expected_results_encryption_config_cp_1_29.yaml
  pkg/providers/cloudstack/testdata/expected_results_minimal_md_1_29.yaml
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/template_test.go
  pkg/providers/nutanix/testdata/cluster_nutanix_etcd_encryption_1_29.yaml
  pkg/providers/nutanix/testdata/expected_results_etcd_encryption_1_29.yaml
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/testdata/cluster_ubuntu_etcd_encryption_1_29.yaml
  pkg/providers/vsphere/testdata/expected_results_main_129_md.yaml
  pkg/providers/vsphere/testdata/expected_results_ubuntu_etcd_encryption_cp_1_29.yaml
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/XXL

#7502 Unify delete mgmt
  cmd/eksctl-anywhere/cmd/deletecluster.go
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  pkg/clustermanager/cluster_manager.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/management/delete.go
  pkg/workflows/management/delete_bootstrap.go
  pkg/workflows/management/delete_cluster.go
  pkg/workflows/management/delete_create_bootstrap.go
  pkg/workflows/management/delete_install_capi.go
  pkg/workflows/management/delete_install_eksa.go
  pkg/workflows/management/delete_move_capi.go
  pkg/workflows/management/delete_test.go
  pkg/workflows/management/upgrade_test.go
  pkg/workflows/management/validate.go
  pkg/workflows/workload/delete_test.go
  pkg/workflows/workload/deletecluster.go
  pkg/workflows/workload/post_delete.go
  pkg/workflows/workload/upgrade_test.go
Labels: approved, lgtm, size/XXL

#7615 Lower concurrent Nutanix tests to 50
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#7617 Revert Tinkerbell upgrade management components e2e test to use kube 1.28
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/S

#7618 Skip 1.29 OIDC side effects upgrade test for CloudStack
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/S

#7619 Fix delete workflow for different namespaces
  pkg/workflows/management/delete_install_eksa.go
  pkg/workflows/management/delete_test.go
Labels: approved, lgtm, size/S

#7620 Lower E2E verbosity to 6
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#7612 Fix management component upgrades and upgrade plan with Cluster using unsupported Kubernetes versions
  cmd/eksctl-anywhere/cmd/options.go
  cmd/eksctl-anywhere/cmd/upgrademanagementcomponents.go
  cmd/eksctl-anywhere/cmd/upgradeplanmanagementcomponents.go
  pkg/dependencies/factory.go
  pkg/eksd/upgrader.go
  pkg/eksd/upgrader_test.go
Labels: approved, lgtm, size/L

#7621 Log the cluster spec while cluster creation
  pkg/workflows/management/create_install_eksa.go
  pkg/workflows/management/create_test.go
  pkg/workflows/workload/createcluster.go
Labels: approved, lgtm, size/M

#7592 Upgrade all the way from 1.25 to 1.28
  test/e2e/upgrade.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/M

#7597 Add e2e test for inplace upgrade from latest release
  test/e2e/upgrade_from_latest.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/M

#7599 Add e2e tests for inplace k8s upgrade to 1.29
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/S

#7624 Fix workload cluster kube-vip update
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  controllers/controlplaneupgrade_controller.go
  controllers/controlplaneupgrade_controller_test.go
  controllers/factory.go
  pkg/nodeupgrader/testdata/expected_first_control_plane_upgrader_pod.yaml
  pkg/nodeupgrader/testdata/expected_rest_control_plane_upgrader_pod.yaml
  pkg/nodeupgrader/testdata/expected_worker_upgrader_pod.yaml
  pkg/nodeupgrader/upgrader.go
Labels: approved, lgtm, size/L

#7629 Skip RHEL 1.29 e2e test for tinkerbell
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#7627 Update branch name to release-0.19 in Makefile
  Makefile
Labels: approved, lgtm, size/XS

#7632 Fix script to get next eksa version
  scripts/eksa_version.sh
Labels: approved, lgtm, size/S

#7630 Remove validation for Bottlerocket OS in bundles for Tinkerbell tests
  test/e2e/airgap.go
Labels: approved, lgtm, size/S

#7634 Skip snow e2e tests
  test/e2e/QUICK_TESTS.yaml
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/S

#7581 Changelog for v0.18.7
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#7598 Remove Kubernetes v1.29 feature flag and make it the default cluster version
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/testdata/cluster_in_place_upgrade.yaml
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#7644 Trigger staging bundle release for v0.19.0
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#7649 Backport release/cli dependabot updates to release-0.19
  release/cli/go.mod
  release/cli/go.sum
Labels: approved, lgtm, size/S

#7636 Remove support for machine health check flags
  cmd/eksctl-anywhere/cmd/constants.go
  cmd/eksctl-anywhere/cmd/options.go
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_webhook_test.go
  pkg/dependencies/factory.go
Labels: approved, lgtm, size/M

#7643 Add remaining quick e2e tests for cloudstack, nutanix and snow
  test/e2e/QUICK_TESTS.yaml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/cloudstack_test.go
  test/e2e/nutanix_test.go
  test/e2e/snow_test.go
Labels: approved, lgtm, size/M

#7650 Pause eksa cluster before moving capi for delete
  pkg/dependencies/factory.go
  pkg/workflows/management/delete_move_capi.go
  pkg/workflows/management/delete_test.go
Labels: approved, lgtm, size/M

#7659 Skip E2E tests that are broken
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/S

#7654 Override pod and service subnet for kind cluster
  pkg/executables/config/kind.yaml
  pkg/executables/kind.go
  pkg/executables/kind_test.go
  pkg/executables/testdata/kind_config.yaml
  pkg/executables/testdata/kind_config_docker_mount_networking.yaml
  pkg/executables/testdata/kind_config_extra_port_mappings.yaml
  pkg/executables/testdata/kind_config_registry_mirror_insecure.yaml
  pkg/executables/testdata/kind_config_registry_mirror_with_auth.yaml
  pkg/executables/testdata/kind_config_registry_mirror_with_ca.yaml
Labels: approved, lgtm, size/M

#7656 Fix InPlace upgrade objects cleanup race conditions
  controllers/kubeadmcontrolplane_controller.go
  controllers/kubeadmcontrolplane_controller_test.go
  controllers/machinedeployment_controller.go
  controllers/machinedeployment_controller_test.go
Labels: approved, lgtm, size/L

#7665 Enable redhat proxy config e2e tests
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#7664 Add cleanups to quick E2E pipeline
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
Labels: approved, lgtm, size/S

#7655 Add validation for 1.29 k8s version for BR family
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_types.go
  pkg/api/v1alpha1/tinkerbellmachineconfig.go
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/validate.go
Labels: approved, lgtm, size/M

#7639 Update Nutanix provider support details for unstacked etcd topology
  docs/content/en/docs/clustermgmt/etcd-backup-restore/bottlerocket-etcd-backup.md
  docs/content/en/docs/clustermgmt/etcd-backup-restore/etcdbackup.md
  docs/content/en/docs/clustermgmt/etcd-backup-restore/ubuntu-rhel-etcd-backup.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/optional/etcd.md
Labels: approved, lgtm, ok-to-test, size/M, area/docs, documentation
