Repository aws/eks-anywhere, pull requests merged in 2025-06, with the labels that each got.

#9759 Add Ubuntu RTOS and Generic images env variables to quick e2e buildspec
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
Labels: approved, lgtm, size/S

#9727 Updated coredns troubleshooting steps
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, ok-to-test, size/XS, area/docs, documentation

#9791 Set concurrent reconciliation in Rufio
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade_with_proxy.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_docker.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_kubernetes.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_docker_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_hook_iso_override.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_hook_override.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_kubernetes_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_interface.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_proxy_config.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_registry_mirror.yaml
Labels: approved, lgtm, size/M

#9788 Fix lint error and add unit test for certificate renewl PR
  cmd/eksctl-anywhere/cmd/renewcertificates.go
  cmd/eksctl-anywhere/cmd/renewcertificates_test.go
  pkg/certificates/config.go
  pkg/certificates/config_test.go
  pkg/constants/constants.go
Labels: approved, lgtm, ok-to-test, size/L

#9792 Adds docker e2e tests for k8s 133
  test/e2e/constants.go
  test/e2e/docker_test.go
Labels: lgtm, size/L

#9796 Adds nutanix e2e tests for k8s 133 and removes 128 tests
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  test/e2e/QUICK_TESTS.yaml
  test/e2e/nutanix_test.go
  test/framework/nutanix.go
Labels: approved, lgtm, size/XL

#9799 Adds nutanix e2e tests for k8s 133
  test/e2e/QUICK_TESTS.yaml
  test/e2e/nutanix_test.go
  test/framework/nutanix.go
Labels: approved, lgtm, size/L

#9798 Add positioning for EKS Hybrid Nodes and EKS on Outposts
  docs/content/en/_index.html
  docs/content/en/docs/_index.md
  docs/content/en/docs/concepts/eksafeatures.md
  docs/content/en/docs/overview/_index.md
Labels: approved, lgtm, size/M, area/docs, documentation

#9806 Bump golangci-lint version to latest
  .github/workflows/golangci-lint.yml
Labels: approved, lgtm, size/XS

#9811 Remove wrongly added redhat8 tests for newer k8s versions
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  test/e2e/QUICK_TESTS.yaml
  test/e2e/nutanix_test.go
  test/framework/nutanix.go
Labels: approved, lgtm, size/L

#9816 [release-0.22] Validate eksd manifest signature for extended kubernetes version support
  config/manifest/eksa-components.yaml
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  controllers/cluster_controller_test_test.go
  pkg/signature/manifest.go
  pkg/signature/manifest_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/createvalidations/preflightvalidations_test.go
  pkg/validations/extendedversion.go
  pkg/validations/extendedversion_test.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  release/cli/pkg/signature/manifest_test.go
Labels: approved, size/XXL

#9821 Remove TestTinkerbellKubernetes133BottleRocketSimpleFlow
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/S

#9747 Improvement: AdditionlTrustBundle using ConfigMap to CAPX
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/testdata/expected_cluster_api_additional_trust_bundle.yaml
Labels: approved, lgtm, ok-to-test, size/M

#9826 Trigger staging bundle for patch release v0.22.6
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9828 Tigger staging cli for patch release v0.22.6
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9830 Trigger prod bundles for patch release v0.22.6
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9831 Trigger prod cli for patch release v0.22.6
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9833 Add changelog for patch release v0.22.6
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#9834 Fix bottlerocket os version in changelog
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9838 Replace Tinkerbell 1.32 e2e tests with 1.33
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/XL

#9841 Update branch name to release-0.23 in Makefile
  Makefile
Labels: approved, lgtm, size/XS

#9847 [release-0.23] Trigger staging bundle for v0.23.0
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9849 [release-0.23] Trigger Staging release v0.23
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9853 [release-0.21] Fix conflicts for concurrent git operations
  release/cli/pkg/operations/download.go
Labels: approved, lgtm, size/M

#9815 Monitor EKS Anywhere cluster certificates
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  controllers/cluster_controller.go
  controllers/cluster_controller_test_test.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/certificates/scanner.go
  pkg/certificates/scanner_test.go
  pkg/controller/clusters/status.go
  pkg/controller/clusters/status_test.go
Labels: approved, lgtm, size/XL

#9857 [release-0.23]Trigger prod bundle release for v0.23
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9858 [release-0.23]Trigger prod release for v0.23
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS
