Repository aws/eks-anywhere, pull requests merged in 2025-02, with the labels that each got.

#9189 Script to update vSphere credential
  docs/content/en/docs/clustermgmt/cluster-upgrades/vsphere-credential-update.md
  scripts/update_vsphere_credential.sh
Labels: approved, lgtm, size/M, area/docs, documentation

#9218 Validation around licenseKey field for extended kubernetes version support
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  controllers/cluster_controller_test_test.go
  go.mod
  go.sum
  pkg/constants/constants.go
  pkg/signature/manifest.go
  pkg/signature/manifest_test.go
  pkg/validations/extendedversion.go
  pkg/validations/extendedversion_test.go
Labels: lgtm, size/L

#9219 Add docs for NutanixDatacenterConfig.ccmExcludeNodeIPs property
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
Labels: approved, lgtm, ok-to-test, size/XS, area/docs, documentation

#9222 Validate LicenseToken field is not used by other clusters
  pkg/clients/kubernetes/client.go
  pkg/clients/kubernetes/client_test.go
  pkg/clients/kubernetes/kubeconfig.go
  pkg/clients/kubernetes/mocks/client.go
  pkg/clients/kubernetes/unauth.go
  pkg/controller/clientutil/kubernetes.go
  pkg/controller/clientutil/kubernetes_test.go
  pkg/validations/extendedversion.go
  pkg/validations/extendedversion_test.go
  pkg/validations/kubectl.go
  pkg/validations/mocks/kubectl.go
  pkg/validations/upgradevalidations/poddisruptionbudgets_test.go
Labels: approved, lgtm, size/L

#9225 Add extended kubernetes version support validations for create and upgrade CLI operations
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  cmd/eksctl-anywhere/cmd/validatecreatecluster.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/createvalidations/preflightvalidations_test.go
  pkg/validations/extendedversion.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
  pkg/validations/validation_options.go
Labels: approved, lgtm, size/L

#9226 Update changelog for v0.21.6
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9227 Trigger v0.21.6 production bundle release
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9223 Add Vsphere failure domain API changes
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_vspheredatacenterconfigs.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/testdata/vsphere_cluster_valid_failuredomains.yaml
  pkg/api/v1alpha1/vspheredatacenterconfig_test.go
  pkg/api/v1alpha1/vspheredatacenterconfig_types.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
Labels: approved, lgtm, size/XL

#9228 Add integration tests for provisioning hardware using iso boot
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  internal/pkg/api/tinkerbell.go
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/M

#9229 Validate that the same license token is not being used by multiple clusters
  pkg/constants/constants.go
  pkg/signature/manifest_test.go
  pkg/validations/extendedversion.go
Labels: approved, lgtm, size/S

#9230 Trigger v0.21.6 production cli release
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9237 Add CI e2e env var for quick e2e
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#9238 Use specified bundles-override file to validate extended kubernetes version support
  .github/workflows/golangci-lint.yml
  cmd/eksctl-anywhere/cmd/createcluster.go
  cmd/eksctl-anywhere/cmd/upgradecluster.go
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbelldatacenterconfigs.yaml
  config/manifest/eksa-components.yaml
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/validations/validation_options.go
Labels: approved, lgtm, size/L

#9235 Exclude eksD components and manifestUrl fields from bundle manifest signing
  controllers/cluster_controller_test.go
  pkg/constants/constants.go
Labels: approved, lgtm, size/XS

#9234 Update brew for v0.21.6
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9241 Add license token in the cluster spec for all E2E tests
  internal/pkg/api/cluster.go
  test/framework/cluster.go
Labels: approved, lgtm, size/S

#9242 Update Bottlerocket root.json checksum in docs
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#9247 Retrieve license token from secrets manager
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/docker-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  test/framework/cluster.go
Labels: approved, lgtm, size/S

#9248 Inject separate license public key for prod at build time
  Makefile
  pkg/constants/constants.go
  pkg/signature/manifest_test.go
  pkg/validations/extendedversion.go
Labels: approved, lgtm, size/M

#9252 Add namespace to external etcd ref
  pkg/providers/cloudstack/config/template-cp.yaml
  pkg/providers/cloudstack/controlplane_test.go
  pkg/providers/cloudstack/testdata/expected_results_affinity_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_cp_kubernetes_version.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_no_machinetemplate_update_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_node_labels_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_main_with_taints_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_insecure_skip_and_cert_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_mirror_config_with_insecure_skip_cp.yaml
  pkg/providers/cloudstack/testdata/expected_results_resourceids_cp.yaml
Labels: approved, lgtm, size/S

#9253 Add CNCF certified conformance badges for Kubernetes versions v1.28 through v1.31
  README.md
  docs/static/images/certified-kubernetes-1.28-cmyk.svg
  docs/static/images/certified-kubernetes-1.29-cmyk.svg
  docs/static/images/certified-kubernetes-1.30-cmyk.svg
  docs/static/images/certified-kubernetes-1.31-cmyk.svg
Labels: approved, lgtm, size/XL, area/docs, documentation

#9254 Add CNCF certified conformance badges for Kubernetes versions v1.28 through v1.31
  README.md
  docs/static/images/certified-kubernetes-1.28-cmyk.svg
  docs/static/images/certified-kubernetes-1.29-cmyk.svg
  docs/static/images/certified-kubernetes-1.30-cmyk.svg
  docs/static/images/certified-kubernetes-1.31-cmyk.svg
Labels: approved, lgtm, size/XL, area/docs, documentation

#9255 Add CNCF certified conformance badges for Kubernetes versions v1.28 through v1.31
  README.md
  docs/static/images/certified-kubernetes-1.28-cmyk.svg
  docs/static/images/certified-kubernetes-1.29-cmyk.svg
  docs/static/images/certified-kubernetes-1.30-cmyk.svg
  docs/static/images/certified-kubernetes-1.31-cmyk.svg
Labels: approved, lgtm, size/XL, area/docs, documentation

#9257 Remove 1.27 e2e tests
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/cloudstack_test.go
  test/e2e/docker_test.go
  test/e2e/nutanix_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/XXL

#9260 Trigger v0.21.7 staging cli release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9232 Add Docker Provider e2e tests for 1.32
  test/e2e/QUICK_TESTS.yaml
  test/e2e/constants.go
  test/e2e/docker_test.go
Labels: approved, lgtm, size/L

#9262 Add new license token to the workload cluster e2e tests
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/docker-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  pkg/validations/extendedversion.go
  pkg/validations/extendedversion_test.go
  test/framework/cluster.go
  test/framework/multicluster.go
Labels: approved, lgtm, size/S

#9263 Add 1.32 E2E tests for Nutanix
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  test/e2e/QUICK_TESTS.yaml
  test/e2e/nutanix_test.go
  test/framework/nutanix.go
Labels: approved, lgtm, size/L

#9231 Docs for extended support for Kubernetes versions in EKS-A
  docs/content/en/docs/_index.md
  docs/content/en/docs/clustermgmt/support/cluster-license.md
  docs/content/en/docs/clustermgmt/support/purchase-subscription.md
  docs/content/en/docs/concepts/packages.md
  docs/content/en/docs/concepts/support-scope.md
  docs/content/en/docs/concepts/support-versions.md
  docs/content/en/docs/overview/_index.md
  docs/content/en/docs/overview/faq/_index.md
  docs/data/version_support.yml
  docs/layouts/shortcodes/eksa_support.html
  docs/layouts/shortcodes/kube_support.html
Labels: lgtm, size/XL, area/docs, documentation

#9264 Set LicenseToken field only when version is greater than v0.22
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  test/e2e/side_effects.go
  test/framework/api.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#9268 Trigger v0.21.7 production bundle release
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9271 Add K8s 1.32 integration tests for CloudStack provider
  test/e2e/QUICK_TESTS.yaml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/cloudstack_test.go
  test/framework/cloudstack.go
Labels: approved, lgtm, size/XXL

#9266 Add 1.32 tests for VSphere
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  test/e2e/QUICK_TESTS.yaml
  test/e2e/vsphere_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/XXL

#9269 Trigger v0.21.7 production cli release
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9272 Adding parlakisik into owners list
  OWNERS
Labels: approved, do-not-merge/invalid-owners-file, lgtm, ok-to-test, size/XS

#9267 Preserve current capi cluster CP endpoint on updates
  pkg/controller/clusters/controlplane.go
  pkg/controller/clusters/controlplane_test.go
Labels: approved, lgtm, size/L

#9277 Add workload cluster license token env variable to required common env vars
  test/framework/common.go
Labels: approved, lgtm, size/XS

#9278 Tinkerbell quick e2e 1.32 tests
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  test/e2e/QUICK_TESTS.yaml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/L

#9279 Remove k8s 1.32 feature flag and make 1.32 the default version
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/api/v1alpha1/testdata/cluster_in_place_upgrade.yaml
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#9281 Fix the wrong k8s version in some e2e test cases
  test/e2e/docker_test.go
Labels: approved, lgtm, size/XS

#9276 Skip 1.32 curated packages tests
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/M

#9282 Fix typo in WithUbuntu132
  test/framework/vsphere.go
Labels: approved, lgtm, size/XS

#9286 Remove AWS Outposts section from validated partners list
  docs/content/en/docs/overview/partner/_index.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9285 Update changelog for v0.21.7
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9284 Add Tinkerbell 1.32 e2e tests
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/L

#9290 Update brew for v0.21.7
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9288 Remove AWS Outposts section from validated partners list
  docs/content/en/docs/overview/partner/_index.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9295 Fix incorrect template kubernetes versions for etcd scale tests
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/S

#9294 Add Tinkerbell image env var to requiredEnvVar list
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/S

#9297 Fix e2e tests failures due to missing license token
  test/e2e/flux.go
  test/e2e/multicluster.go
  test/e2e/vsphere_test.go
  test/framework/cluster.go
  test/framework/multicluster.go
Labels: approved, lgtm, size/M

#9299 Fix wrong k8s version in VSphere131UbuntuTo132InPlaceUpgradeWorker
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/XS

#9300 Fix docker upgrade from latest tests
  test/e2e/docker_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#9301 Fix tinkerbell test failures due to missing or non-unique license tokens
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/multicluster.go
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/L

#9302 add license token to CloudStack proxy config tests
  test/e2e/cloudstack_test.go
Labels: approved, lgtm, size/S

#9304 Fix more vsphere tests with missing license tokens
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/M

#9305 Add license token to CloudStack tests
  test/e2e/cloudstack_test.go
Labels: approved, lgtm, size/S

#9307 Add license token to Docker and Nutanix tests
  test/e2e/docker_test.go
  test/e2e/nutanix_test.go
Labels: approved, lgtm, size/M

#9308 include LicenseToken and EtcdEncryption in cluster config marshaling
  pkg/api/v1alpha1/cluster_types.go
  pkg/clustermarshaller/clustermarshaller_test.go
  pkg/clustermarshaller/testdata/expected_marshalled_cluster.yaml
  pkg/clustermarshaller/testdata/expected_marshalled_cluster_flux_and_gitops.yaml
  pkg/clustermarshaller/testdata/expected_marshalled_cluster_flux_config.yaml
Labels: approved, lgtm, size/S

#9309 Remove RHEL 8 K8s 1.32 tests
  test/e2e/cloudstack_test.go
  test/e2e/nutanix_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/vsphere_test.go
  test/framework/cloudstack.go
  test/framework/nutanix.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#9296 Add 1.32 conformance tests
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  test/e2e/conformance_test.go
Labels: approved, lgtm, size/M

#9311 Cleanup 1.27 e2e variables and tests
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/constants.go
  test/e2e/snow_test.go
  test/framework/snow.go
  test/framework/tinkerbell.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#9314 [release-0.22] Update BRANCH_NAME on release-0.22
  Makefile
Labels: approved, lgtm, size/XS

#9323 Remove Bottlerocket AMI from release artifacts list
  release/cli/pkg/assets/config/bundle_release.go
  release/cli/pkg/bundles/eksd.go
Labels: approved, lgtm, size/S

#9325 Trigger staging bundle release for v0.22.0
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9327 [release-0.22] Trigger staging CLI release for v0.22.0
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9318 Update docker test name for e2e presubmit
  Makefile
  scripts/e2e_test_docker.sh
  test/e2e/README.md
Labels: approved, lgtm, size/XS

#9312 Update to go 1.23
  .github/workflows/go-coverage.yml
  .github/workflows/golangci-lint.yml
  .github/workflows/vulnerability.yml
  Makefile
  config/crd/bases/anywhere.eks.amazonaws.com_awsdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_awsiamconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_cloudstackmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_controlplaneupgrades.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_dockerdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_fluxconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_gitopsconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_machinedeploymentupgrades.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_nodeupgrades.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_nutanixdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_nutanixmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_oidcconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_snowdatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_snowippools.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_snowmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbelldatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbellmachineconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_tinkerbelltemplateconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_vspheredatacenterconfigs.yaml
  config/crd/bases/anywhere.eks.amazonaws.com_vspheremachineconfigs.yaml
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  config/webhook/manifests.yaml
  docs/developer/go-version.md
  go.mod
  go.sum
  pkg/api/v1alpha1/thirdparty/tinkerbell/rufio/zz_generated.deepcopy.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/zz_generated.deepcopy.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  release/Makefile
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/cli/go.mod
  release/cli/go.sum
Labels: approved, lgtm, size/XXL, area/docs, documentation

#9329 Use the prod license tokens for staging tests
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/docker-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
  cmd/integration_test/cmd/run.go
  internal/test/e2e/common.go
  internal/test/e2e/run.go
  internal/test/e2e/setup.go
Labels: approved, lgtm, size/M

#9333 Fix setting the stage variable in integration tests buildspec files
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/docker-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
Labels: approved, lgtm, size/S

#9335 [release-0.22] Trigger prod bundle release for v0.22.0
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9337 [release-0.22] Trigger prod CLI release for v0.22.0
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9313 Changelog for v0.22.0
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#9339 Update k8s/eksa version in docs to k8s 1.32 and release v0.22.0
  docs/content/en/docs/clustermgmt/cluster-backup-restore/backup-cluster.md
  docs/content/en/docs/clustermgmt/cluster-backup-restore/restore-cluster.md
  docs/content/en/docs/clustermgmt/cluster-flux.md
  docs/content/en/docs/clustermgmt/cluster-terraform.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/baremetal-upgrades.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/upgrade-overview.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/version-skew.md
  docs/content/en/docs/clustermgmt/cluster-upgrades/vsphere-and-cloudstack-upgrades.md
  docs/content/en/docs/clustermgmt/security/cluster-iam-auth.md
  docs/content/en/docs/concepts/support-versions.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/optional/etcd.md
  docs/content/en/docs/packages/prereq.md
  docs/content/en/docs/workloadmgmt/gpu-sample-cluster.md
  docs/content/en/docs/workloadmgmt/using-gpus.md
  docs/developer/manifests.md
Labels: approved, lgtm, size/M, area/docs, documentation

#9349 Revert "Add v0.22 to doc site versions config"
  docs/config.toml
Labels: approved, lgtm, size/XS, area/docs, documentation

#9350 Add v0.22 to doc site versions config
  docs/config.toml
Labels: approved, lgtm, size/S, area/docs, documentation

#9342 Update brew for v0.22.0
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9355 Fix docs url for release 0.21
  docs/config.toml
Labels: approved, lgtm, size/XS, area/docs, documentation
