Repository aws/eks-anywhere, pull requests merged in 2025-08, with the labels that each got.

#9971 Enable control plane tolerations for Tinkerbell stack components
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade_with_proxy.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_docker.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_kubernetes.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_docker_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_hook_iso_override.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_hook_override.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_kubernetes_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_interface.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_proxy_config.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_registry_mirror.yaml
Labels: approved, lgtm, size/L

#9970 trigger staging bundle for v0.23.1
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9975 Trigger Prod bundle release for patch v0.23.1
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9976 Trigger Prod Release for patch v0.23.1
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9981 Update CLI_RELEASE_VERSION
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9982 Update CLI_RELEASE_VERSION to v0.23.1
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9986 Add missing copy packages cmd to fix e2e test
  test/e2e/constants.go
  test/e2e/curatedpackages.go
  test/e2e/vsphere_test.go
  test/framework/cluster.go
  test/framework/registry_mirror.go
Labels: approved, lgtm, size/M

#9980 Add changelog for patch release v0.23.1
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#9996 fix RegistryMirrorCuratedPackages e2e wrong registry
  test/e2e/vsphere_test.go
  test/framework/registry_mirror.go
Labels: approved, lgtm, size/M

#10005 fix registry mirror alias for curated package e2e
  test/e2e/constants.go
  test/e2e/curatedpackages.go
  test/e2e/vsphere_test.go
  test/framework/cluster.go
Labels: approved, lgtm, size/S

#10009 fix: install pkg ctlr not using helm chart from bundles override
  cmd/eksctl-anywhere/cmd/installpackagecontroller.go
Labels: approved, lgtm, size/XS

#10013 Fix tinkerbell airgapped proxy tests
  test/e2e/constants.go
  test/e2e/tinkerbell_test.go
Labels: approved, size/S

#10020 Use the correct dev public registry for registry mirror packages tests
  test/e2e/constants.go
Labels: approved, lgtm, size/XS

#10022 Migrate oras to v2 to fix the GO-2025-3829 vulnerability
  codecov.yml
  go.mod
  go.sum
  pkg/curatedpackages/curatedpackages.go
  release/cli/go.mod
  release/cli/go.sum
  test/e2e/tools/eks-anywhere-test-tool/go.mod
  test/e2e/tools/eks-anywhere-test-tool/go.sum
Labels: approved, lgtm, size/L

#10025 Update Bottlerocket root.json checksum in docs
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, ok-to-test, size/XS, area/docs, documentation

#10031 Pull locally embedded tink-worker image
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/testdata/expected_tinkerbell_chart_overrides_with_all_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_upgrade_with_proxy.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_docker.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_boots_on_kubernetes.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_docker_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_hook_iso_override.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_hook_override.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_host_port_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_kubernetes_options.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_false.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_enabled_true.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_load_balancer_interface.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_proxy_config.yaml
  pkg/providers/tinkerbell/stack/testdata/expected_with_registry_mirror.yaml
Labels: approved, lgtm, size/M

#10044 Fix e2e test failures after bumping eks distro release
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/import.go
  codecov.yml
  controllers/cluster_controller_test.go
  controllers/controlplaneupgrade_controller_test.go
  controllers/kubeadmcontrolplane_controller_test.go
  pkg/executables/kubectl.go
  test/framework/cluster.go
Labels: approved, size/M

#10046 [release-0.22] Fix e2e test failures after bumping eks distro release
  cmd/eksctl-anywhere/cmd/internal/commands/artifacts/import.go
  codecov.yml
  controllers/cluster_controller_test.go
  controllers/controlplaneupgrade_controller_test.go
  controllers/kubeadmcontrolplane_controller_test.go
  pkg/executables/kubectl.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#9885 Improvement - TrustBundle to CAPX via ConfigMap
  pkg/providers/nutanix/config/cp-template.yaml
  pkg/providers/nutanix/testdata/expected_cluster_api_additional_trust_bundle.yaml
Labels: approved, lgtm, ok-to-test, size/M

#10047 Update admin conf file path for Ubuntu and RHEL
  docs/content/en/docs/clustermgmt/certificate-management/manual-steps-renew-certs.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#10053 Update eksctl renew certificates doc
  docs/content/en/docs/clustermgmt/certificate-management/eksctl-renew-certs.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#10055 Fix failing pkg registry docker login for pkg reg mirror e2e
  test/e2e/constants.go
  test/e2e/curatedpackages.go
  test/e2e/vsphere_test.go
  test/framework/ecr.go
Labels: approved, lgtm, size/M

#10059 User friendly command to manual update apiserver-etcd-client secret
  docs/content/en/docs/clustermgmt/certificate-management/manual-steps-renew-certs.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#10083 Add management cluster name for renew certificates command
  cmd/eksctl-anywhere/cmd/renewcertificates.go
  cmd/eksctl-anywhere/cmd/renewcertificates_test.go
  pkg/certificates/config.go
Labels: approved, lgtm, size/S
