Repository aws/eks-anywhere, pull requests merged in 2025-09, with the labels that each got.

#10085 Trigger production bundle release 0.23.2
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#10086 Trigger production eks-a release for the release-0.23.2
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#10096 Fix metallb BGPConfiguration e2e test
  test/e2e/metallb.go
Labels: approved, lgtm, size/XS

#10097 Fix regional package registries with registry mirror
  pkg/clusterapi/registry_mirror_test.go
  pkg/constants/constants.go
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/registry_constants.go
  pkg/executables/testdata/kind_config_registry_mirror_with_auth.yaml
  pkg/providers/snow/apibuilder_test.go
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_registry_mirror_with_cert.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_md_registry_mirror_with_cert.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_cp.yaml
  pkg/providers/vsphere/testdata/expected_results_mirror_config_with_cert_md.yaml
  pkg/registrymirror/registrymirror.go
  pkg/registrymirror/registrymirror_test.go
Labels: approved, lgtm, size/L

#10103 Apply hardware CSV entries during workload cluster upgrades
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/tinkerbell/upgrade_test.go
Labels: approved, lgtm, size/M

#10106 Test package registries with registry mirror
  pkg/curatedpackages/packagecontrollerclient_test.go
Labels: approved, lgtm, size/M

#10107 Update document on vcenter image-builder role permissions
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, size/S, area/docs, documentation

#10110 Trigger staging CLI release for v0.22.8
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#10127 [release-0.22] Homebrew for v0.22.8
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#10128 [release-0.22] changelog for release v0.22.8
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#10101 Updated kind configuration to support containerd v2
  pkg/executables/config/hosts.toml
  pkg/executables/config/kind.yaml
  pkg/executables/kind.go
  pkg/executables/kind_test.go
  pkg/executables/testdata/ca.crt
  pkg/executables/testdata/hosts_toml_insecure_public_ecr_aws.toml
  pkg/executables/testdata/hosts_toml_insecure_registry_mirror.toml
  pkg/executables/testdata/hosts_toml_with_auth_783794618700_dkr_ecr.toml
  pkg/executables/testdata/hosts_toml_with_auth_public_ecr_aws.toml
  pkg/executables/testdata/hosts_toml_with_auth_registry_mirror.toml
  pkg/executables/testdata/hosts_toml_with_ca_public_ecr_aws.toml
  pkg/executables/testdata/hosts_toml_with_ca_registry_mirror.toml
  pkg/executables/testdata/kind_config_registry_mirror_insecure.yaml
  pkg/executables/testdata/kind_config_registry_mirror_with_auth.yaml
  pkg/executables/testdata/kind_config_registry_mirror_with_ca.yaml
Labels: approved, lgtm, size/L

#10131 support release-branched containerd in bundle generation
  release/cli/go.mod
  release/cli/go.sum
  release/cli/pkg/assets/assets.go
  release/cli/pkg/assets/config/bundle_release.go
  release/cli/pkg/bundles/eksd.go
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/XXL

#10133 [release-0.23] Trigger v0.23.3 staging bundle
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#10137 fix containerd artifact upload path for release branch builds
  release/cli/pkg/assets/archives/archives.go
  release/cli/pkg/assets/config/bundle_release.go
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/M

#10138 [release-0.23] Changelog for v0.22.8
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#10141 Trigger prod bundle release for v0.23.3
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#10142 Trigger prod cli release for v0.23.3
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#10143 Add changelog for release v0.23.3
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#10145 Update brew version to 0.23.3
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#10157 Update Cilium to the first-party supported version v1.17.6-0
  release/cli/pkg/bundles/cilium.go
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/M
