Repository aws/eks-anywhere, pull requests merged in 2025-05, with the labels that each got.

#9570 Enable api server audit logs on kind bootstrap cluster
  pkg/executables/config/kind.yaml
  pkg/executables/kind.go
  pkg/executables/kind_test.go
  pkg/executables/testdata/kind_config.yaml
  pkg/executables/testdata/kind_config_docker_mount_networking.yaml
  pkg/executables/testdata/kind_config_extra_port_mappings.yaml
  pkg/executables/testdata/kind_config_registry_mirror_insecure.yaml
  pkg/executables/testdata/kind_config_registry_mirror_with_auth.yaml
  pkg/executables/testdata/kind_config_registry_mirror_with_ca.yaml
Labels: approved, lgtm, size/L

#9703 Fix assigning multiple vcenter tags to a machine
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/template_test.go
  pkg/providers/vsphere/testdata/expected_kcp_vcenter_tags.yaml
  pkg/providers/vsphere/testdata/expected_kct_vcenter_tags.yaml
Labels: approved, lgtm, size/XL

#9706 Add feature flags for K8s 1.33
  pkg/api/v1alpha1/cluster_types.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#9707 Fix assigning multiple vcenter tags to a machine (#9703)
  pkg/providers/vsphere/config/template-cp.yaml
  pkg/providers/vsphere/config/template-md.yaml
  pkg/providers/vsphere/template_test.go
  pkg/providers/vsphere/testdata/expected_kcp_vcenter_tags.yaml
  pkg/providers/vsphere/testdata/expected_kct_vcenter_tags.yaml
Labels: approved, lgtm, size/XL

#9708 Trigger staging bundle build for v0.21.8
  release/triggers/bundle-release/development/BUNDLE_NUMBER
Labels: approved, lgtm, size/XS

#9556 VSphere failure domain delete cluster bug fix
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  controllers/cluster_controller_test_test.go
  controllers/factory.go
  controllers/mocks/cluster_controller.go
Labels: approved, lgtm, size/XL

#9715 [release-0.21] Trigger prod bundle release for v0.21.8
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9716 [release-0.21] Trigger prod cli release for v0.21.8
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9718 Update homebrew for v0.21.8
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9701 Add flag to include api server audit logs in support bundle
  cmd/eksctl-anywhere/cmd/generatebundleconfig.go
  cmd/eksctl-anywhere/cmd/supportbundle.go
  docs/content/en/docs/clustermgmt/support/supportbundle.md
  docs/content/en/docs/reference/eksctl/anywhere_generate_support-bundle.md
  pkg/clustermanager/cluster_manager.go
  pkg/clustermanager/cluster_manager_test.go
  pkg/diagnostics/collector_types.go
  pkg/diagnostics/collectors.go
  pkg/diagnostics/collectors_test.go
  pkg/diagnostics/diagnostic_bundle.go
  pkg/diagnostics/diagnostic_bundle_test.go
  pkg/diagnostics/factory.go
  pkg/diagnostics/interfaces.go
  pkg/diagnostics/interfaces/mocks/diagnostics.go
Labels: approved, lgtm, size/L, area/docs, documentation

#9720 [Release 0.22] Set some missing smee cli flags
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
Labels: approved, lgtm, size/S

#9717 Changelog for v0.21.8
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9721 Fix e2e tests
  test/e2e/SKIPPED_TESTS.yaml
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/docker_test.go
  test/e2e/tinkerbell_test.go
  test/e2e/upgrade_from_latest.go
  test/e2e/vsphere_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/L

#9729 Trigger staging bundle release-0.22.5
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9730 Trigger staging cli release-0.22.5
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9731 Update curated packages doc to include subscription steps for release alerts
  docs/content/en/docs/packages/whatsnew/_index.md
  docs/content/en/docs/packages/whatsnew/changelog.md
  docs/content/en/docs/packages/whatsnew/snsUpdates.md
Labels: approved, lgtm, size/M, area/docs, documentation

#9733 Prod bundle release 0.22.5
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9734 Prod cli release 0.22.5
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9736 [release-0.22] Skip vSphere 1.32, RHEL9 e2e tests from latest minor release
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/XS

#9748 Fix update-golden-file and update testdata file
  release/cli/go.mod
  release/cli/go.sum
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/XXL

#9754 [release-0.22] Changelog for release-0.22.5
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#9755 Fix webhook method interface input args for ValidateUpate
  pkg/api/v1alpha1/awsiamconfig_webhook.go
  pkg/api/v1alpha1/awsiamconfig_webhook_test.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_webhook.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_webhook_test.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook.go
  pkg/api/v1alpha1/cloudstackmachineconfig_webhook_test.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/api/v1alpha1/fluxconfig_webhook.go
  pkg/api/v1alpha1/fluxconfig_webhook_test.go
  pkg/api/v1alpha1/gitopsconfig_webhook.go
  pkg/api/v1alpha1/nutanixdatacenterconfig_webhook.go
  pkg/api/v1alpha1/nutanixdatacenterconfig_webhook_test.go
  pkg/api/v1alpha1/nutanixmachineconfig_webhook.go
  pkg/api/v1alpha1/nutanixmachineconfig_webhook_test.go
  pkg/api/v1alpha1/oidcconfig_webhook.go
  pkg/api/v1alpha1/oidcconfig_webhook_test.go
  pkg/api/v1alpha1/snowdatacenterconfig_webhook.go
  pkg/api/v1alpha1/snowdatacenterconfig_webhook_test.go
  pkg/api/v1alpha1/snowippool_webhook.go
  pkg/api/v1alpha1/snowippool_webhook_test.go
  pkg/api/v1alpha1/snowmachineconfig_webhook.go
  pkg/api/v1alpha1/snowmachineconfig_webhook_test.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/capt/v1beta1/tinkerbellmachine_webhook.go
  pkg/api/v1alpha1/thirdparty/tinkerbell/capt/v1beta1/tinkerbellmachinetemplate_webhook.go
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_webhook.go
  pkg/api/v1alpha1/tinkerbelldatacenterconfig_webhook_test.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_webhook.go
  pkg/api/v1alpha1/tinkerbellmachineconfig_webhook_test.go
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook.go
  pkg/api/v1alpha1/vspheredatacenterconfig_webhook_test.go
  pkg/api/v1alpha1/vspheremachineconfig_webhook.go
  pkg/api/v1alpha1/vspheremachineconfig_webhook_test.go
  pkg/providers/cloudstack/cloudstack.go
Labels: approved, lgtm, size/XL

#9756 Updating owner
  OWNERS
Labels: approved, lgtm, ok-to-test, size/XS

#9757 Fix CloudstackDataCenter and awsiamconfig webhook update issue
  pkg/api/v1alpha1/awsiamconfig_webhook.go
  pkg/api/v1alpha1/awsiamconfig_webhook_test.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_webhook.go
  pkg/api/v1alpha1/cloudstackdatacenterconfig_webhook_test.go
Labels: approved, lgtm, size/M
