Repository aws/eks-anywhere, pull requests merged in 2025-03, with the labels that each got.

#9360 Update docs for VSphere failure domain support
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
Labels: approved, lgtm, size/M, area/docs, documentation

#9303 Update OWNERS add peirulu (Amelia) in alphabetical order
  OWNERS
Labels: do-not-merge/invalid-owners-file, needs-ok-to-test, size/XS

#8518 Added verbiage about infra-specific commands
  docs/content/en/docs/troubleshooting/troubleshooting.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9367 Updated testdata yaml for ADOT package
  test/framework/testdata/adot_package_daemonset.yaml
  test/framework/testdata/adot_package_deployment.yaml
Labels: approved, lgtm, size/S

#9371 Add cilium warning in docs
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#9376 Remove TestVSphereKubernetes131To132RedHatUpgrade from e2e tests
  test/e2e/QUICK_TESTS.yaml
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/S

#9379 Add tinkerbell 1.32 RedHat templates for quick E2E tests
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
Labels: approved, lgtm, size/XS

#9383 add charles-large to owners file
  OWNERS
Labels: approved, lgtm, size/XS

#9385 Fix upgrade from latest minor release E2E test failures
  test/framework/cluster.go
Labels: approved, lgtm, size/XS

#9389 Use staging license token for upgrade from latest minor release tests
  test/framework/cluster.go
  test/framework/common.go
Labels: approved, lgtm, size/XS

#8760 Expose CLI flag to tell Smee (Boots) on which interface to bind
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
Labels: approved, lgtm, ok-to-test, size/S, area/docs, documentation

#9391 Use single dashes in Smee cli flags:
  pkg/providers/tinkerbell/stack/stack.go
  pkg/providers/tinkerbell/stack/stack_test.go
Labels: approved, lgtm, size/S

#9394 Fix non-unique license token failures in upgrade from latest side effects tests
  test/e2e/side_effects.go
  test/framework/cluster.go
  test/framework/common.go
Labels: approved, lgtm, size/M

#9393 Add docs for ISO boot mode:
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/baremetal/customize/bare-metal-boot-modes.md
  docs/static/images/eksa-baremetal-iso-boot.png
  docs/static/images/eksa-baremetal-net-boot.png
Labels: approved, lgtm, size/L, area/docs, documentation

#9398 Update supported providers for rhel9 OS
  docs/content/en/docs/osmgmt/overview.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#9403 Add junpengdev to owners list
  OWNERS
Labels: approved, lgtm, needs-ok-to-test, size/XS

#9405 Update golang.org/x/net -> v0.37.0
  go.mod
  go.sum
  release/cli/go.mod
  release/cli/go.sum
Labels: approved, lgtm, size/M

#9368 Update Changelog for Curated Packages Release
  docs/content/en/docs/packages/adot/v0.42.0.md
  docs/content/en/docs/packages/changelog.md
  docs/content/en/docs/packages/harbor/v2.12.1.md
  docs/content/en/docs/packages/packagelist.md
Labels: approved, lgtm, size/L, area/docs, documentation

#9404 Fix typo in cert rotation docs
  docs/content/en/docs/clustermgmt/security/manually-renew-certs.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#9401 Fixing cilium routingMode parameters in helm configuration
  docs/content/en/docs/getting-started/optional/cni.md
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/cluster_test.go
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
Labels: approved, lgtm, ok-to-test, size/M, area/docs, documentation

#9416 Fix non-unique license token errors in packages workload cluster tests
  test/e2e/certmanager.go
  test/e2e/curatedpackages.go
Labels: approved, lgtm, size/XS

#9417 Trigger staging bundle release v0.22.1
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9400 Add doc in vsphere error message & improve verbose logging output
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/M

#9420 Fix non-unique license token errors in emissary workload cluster tests
  test/e2e/emissary.go
Labels: approved, lgtm, size/XS

#9422 Trigger staging CLI release v0.22.1
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9427 Trigger prod bundle release v0.22.1
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9428 Trigger prod CLI release v0.22.1
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9432 Fix license token errors in e2e tests
  test/e2e/airgap.go
  test/e2e/docker_test.go
  test/e2e/multicluster.go
  test/e2e/side_effects.go
  test/e2e/tinkerbell_test.go
  test/e2e/upgrade_from_latest.go
  test/e2e/vsphere_test.go
  test/framework/cluster.go
  test/framework/multicluster.go
Labels: approved, lgtm, size/M

#9429 Change log for v0.22.1
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9431 Fix vsphere group creation
  pkg/executables/govc.go
  pkg/executables/govc_test.go
Labels: approved, lgtm, size/S

#9438 Update brew version to v0.22.1
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9450 Generate release testdata files
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/M

#9378 Add hyperlink to public.ecr repository
  docs/content/en/docs/packages/packagebundles.md
Labels: approved, lgtm, ok-to-test, size/XS, area/docs, documentation

#9454 trigger 0.21.8 staging bundle
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9430 Use roles to get access key details in build spec
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/docker-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/snow-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
Labels: approved, lgtm, size/M

#9473 Add e2e tests for RHEL 9 on vSphere
  test/e2e/QUICK_TESTS.yaml
  test/e2e/vsphere_test.go
  test/framework/vsphere.go
Labels: approved, lgtm, size/L

#9475 Skip extended kubernetes version support validations for Snow provider
  .github/workflows/golangci-lint.yml
  .golangci.yml
  controllers/cluster_controller.go
  pkg/validations/cluster.go
Labels: approved, lgtm, size/M

#9435 Update noProxyList for package controller to include control plane endpoint, service CIDR and pod CIDR
  pkg/dependencies/factory.go
  pkg/dependencies/factory_test.go
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/M

#9480 [release-0.22] Bump github.com/containerd/containerd from 1.7.12 to 1.7.27
  go.mod
  go.sum
Labels: approved, lgtm, size/M

#9482 Set duration of packages roles to 12 hours
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/docker-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/snow-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
Labels: approved, lgtm, size/S

#9485 Set duration of packages roles to 1 hour
  cmd/integration_test/build/buildspecs/cloudstack-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/conformance-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/docker-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/nutanix-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/quick-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/snow-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  cmd/integration_test/build/buildspecs/vsphere-test-eks-a-cli.yml
Labels: approved, lgtm, size/S

#9481 Add skip-validations flag to upgrade management components command
  cmd/eksctl-anywhere/cmd/upgrademanagementcomponents.go
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  pkg/workflows/management/upgrade_management_components.go
  pkg/workflows/management/upgrade_management_components_test.go
Labels: approved, lgtm, size/L
