Repository aws/eks-anywhere, pull requests merged in 2025-04, with the labels that each got.

#9492 Add prod regional registry URIs for new regions
  pkg/curatedpackages/registry_constants.go
Labels: approved, lgtm, size/XS

#9497 Use SourceImageURI for helm chart modifications for dev
  release/cli/pkg/helm/helm.go
Labels: approved, lgtm, size/XS

#9501 Staging bundle release 0.22.2
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS, area/docs, documentation

#9504 Use SourceImageURI only for packages helm chart modification in dev release
  release/cli/pkg/helm/helm.go
Labels: approved, lgtm, size/XS

#9503 Staging eks-a cli release 0.22
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9511 Use source image URI for replacing packages and ecr token refresher image tags
  release/cli/pkg/bundles/package-controller.go
Labels: approved, lgtm, size/XS

#9514 Use source image URI for packages helm chart when replacing tags
  release/cli/pkg/bundles/package-controller.go
Labels: approved, lgtm, size/XS

#9519 Find latest pushed image in ECR for packages without any prefix
  release/cli/pkg/bundles/package-controller.go
Labels: approved, lgtm, size/XS

#9522 Filter images based on branch and get the latest tag
  release/cli/pkg/aws/ecr/ecr.go
  release/cli/pkg/bundles/package-controller.go
Labels: approved, lgtm, size/L

#9525 Use correct registry account id when pulling latest image and cleanup old code
  release/cli/pkg/aws/ecr/ecr.go
  release/cli/pkg/bundles/package-controller.go
Labels: approved, lgtm, size/S

#9528 Use tag from release image URI when overriding packages image tag in helm chart
  release/cli/pkg/helm/helm.go
Labels: approved, lgtm, size/XS

#9531 Revert 9528 9525 9522 and 9519
  release/cli/pkg/aws/ecr/ecr.go
  release/cli/pkg/bundles/package-controller.go
  release/cli/pkg/helm/helm.go
Labels: approved, lgtm, size/L

#9535 Revert 9514 9511 9504 and 9497
  release/cli/pkg/bundles/package-controller.go
  release/cli/pkg/helm/helm.go
Labels: approved, lgtm, size/S

#9507 Prod bundle release-0.22.2
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9508 Prod cli release-0.22.2
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9534 Use regional beta account for packages to get image digests
  release/cli/pkg/aws/ecr/ecr.go
Labels: approved, lgtm, size/XS

#9455 Set Aws credentials in cert manager package pod for e2e test
  test/e2e/certmanager.go
  test/framework/cluster.go
  test/framework/curatedpackages.go
  test/framework/testdata/certmanager/certmanager_letsencrypt_issuer.yaml
  test/framework/testdata/certmanager/certmanager_package.yaml
Labels: approved, lgtm, size/M

#9544 Get account id from the image registry instead of hardcoding
  release/cli/pkg/aws/ecr/ecr.go
Labels: approved, lgtm, size/XS

#9518 Changelog release 0.22.2
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#9548 Update brew version to v0.22.2
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9550 Add logic to release packages images to beta account public ECR for dev release
  pkg/curatedpackages/packagecontrollerclient.go
  pkg/curatedpackages/regional_registry.go
  release/Makefile
  release/api/v1alpha1/groupversion_info.go
  release/cli/cmd/release.go
  release/cli/pkg/assets/tagger/tagger.go
  release/cli/pkg/aws/ecr/ecr.go
  release/cli/pkg/bundles/package-controller.go
  release/cli/pkg/git/git.go
  release/cli/pkg/images/images.go
  release/cli/pkg/types/types.go
  release/scripts/release.sh
Labels: approved, lgtm, size/L

#9559 Use packages-related clients for authenticating to packages release registry
  release/cli/pkg/clients/clients.go
  release/cli/pkg/images/images.go
  release/cli/pkg/operations/upload.go
Labels: approved, lgtm, size/S

#9562 Use IAD session for packages release public ECR client
  release/cli/pkg/clients/clients.go
  release/scripts/setup-aws-config.sh
Labels: approved, lgtm, size/M

#9565 Append the IAD profile instead of overwriting
  release/cli/pkg/images/images.go
  release/scripts/setup-aws-config.sh
Labels: approved, lgtm, size/XS

#9574 Fix public ECR release clients for packages
  release/cli/pkg/bundles/package-controller.go
Labels: approved, lgtm, size/XS

#9577 Use Packages client for fetching dev image digest for package
  release/cli/pkg/operations/bundle_release.go
Labels: approved, lgtm, size/XS

#9581 Use regional beta account for packages to get image digests
  release/cli/pkg/aws/ecrpublic/ecrpublic.go
Labels: approved, lgtm, size/XS

#9584 Export AWS_SDK_LOAD_CONFIG env variable to use the correct profiles for clients
  release/cli/pkg/aws/ecr/ecr.go
  release/cli/pkg/aws/ecrpublic/ecrpublic.go
  release/scripts/setup-aws-config.sh
Labels: approved, lgtm, size/S

#9572 Add compute cluster failure domain validation
  pkg/executables/govc.go
  pkg/executables/govc_test.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#9588 Fix condition to check for packages dev registry
  pkg/curatedpackages/packagecontrollerclient.go
Labels: approved, lgtm, size/XS

#9591 Revert "Add compute cluster failure domain validation"
  pkg/executables/govc.go
  pkg/executables/govc_test.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#9592 Add compute cluster validations for failure domains
  pkg/executables/govc.go
  pkg/executables/govc_test.go
  pkg/providers/vsphere/mocks/client.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#9595 Add a filter to get the latest image based on branch for helm charts
  release/cli/pkg/aws/ecr/ecr.go
  release/cli/pkg/bundles/package-controller.go
  release/cli/pkg/operations/bundle_release.go
Labels: approved, lgtm, size/M

#9578 Sign eks distro manifest and add the signatures as annotations to the bundle
  pkg/constants/constants.go
  pkg/signature/manifest.go
  pkg/signature/manifest_test.go
  release/cli/cmd/release.go
  release/cli/pkg/clients/clients.go
  release/cli/pkg/constants/constants.go
  release/cli/pkg/operations/bundle_release.go
  release/cli/pkg/signature/manifest.go
  release/cli/pkg/signature/manifest_test.go
Labels: approved, lgtm, size/L

#9594 Documentation change for RHEL 9 support on vSphere
  docs/content/en/docs/osmgmt/overview.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#9601 Fix eks distro manifest signature annotations on the bundle
  release/cli/pkg/operations/bundle_release.go
Labels: approved, size/XS

#9603 Fix cert manager e2e tests
  test/e2e/certmanager.go
  test/framework/cluster.go
Labels: approved, size/S

#9606 Fix credential provider package image tags for dev release
  release/cli/pkg/bundles/package-controller.go
Labels: approved, size/M

#9587 Skip bundle signature validation for EKS-A versions prior to v0.22.0
  controllers/cluster_controller.go
  controllers/cluster_controller_test_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations_test.go
  pkg/validations/extendedversion.go
  pkg/validations/upgradevalidations/preflightvalidations_test.go
Labels: approved, lgtm, size/L

#9611 [release-0.22] Documentation change for RHEL 9 support
  docs/content/en/docs/osmgmt/overview.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#9613 [release-0.21] Doc change for rhel 9 support
  docs/content/en/docs/osmgmt/overview.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#9600 Doc improvement for default OS on baremetal
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#9620 Disable vulnerability check
  .github/workflows/vulnerability.yml
  go.mod
  scripts/common.sh
Labels: approved, lgtm, size/M

#9622 Trigger staging bundle release-0.22.3
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9623 Add packages and etcdadm reserved namespaces in callouts for docs
  docs/content/en/docs/clustermgmt/security/best-practices.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#9609 Add extended support validation to verify the eks distro manifest signature
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  pkg/signature/manifest.go
  pkg/signature/manifest_test.go
  pkg/validations/cluster.go
  pkg/validations/extendedversion.go
  pkg/validations/extendedversion_test.go
  release/cli/pkg/signature/manifest_test.go
Labels: approved, lgtm, size/XL

#9573 Doc improvement for Credential Provider Package with IAM Roles Anywhere
  docs/content/en/docs/packages/credential-provider-package/iam_roles_anywhere.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#9639 Revert 9636 and 9609
  controllers/cluster_controller.go
  controllers/cluster_controller_test.go
  pkg/signature/manifest.go
  pkg/signature/manifest_test.go
  pkg/validations/extendedversion.go
  pkg/validations/extendedversion_test.go
  release/cli/pkg/operations/bundle_release.go
  release/cli/pkg/signature/manifest.go
  release/cli/pkg/signature/manifest_test.go
Labels: approved, lgtm, size/XL

#9641 Fix framework setup for TestTinkerbellAirgappedKubernetes132UbuntuProxyConfigFlow
  test/e2e/tinkerbell_test.go
Labels: approved, lgtm, size/XS

#9645 Trigger prod releas v0.22.3
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9638 Add test cases for Ubuntu 2204 rtos variants on 1.30,1.31 and 1.32
  cmd/integration_test/build/buildspecs/tinkerbell-test-eks-a-cli.yml
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
  test/framework/tinkerbell.go
Labels: approved, lgtm, size/L

#9612 Add failure domains into missing permissions logic
  pkg/api/v1alpha1/vspheredatacenterconfig_types.go
  pkg/api/v1alpha1/vspheredatacenterconfig_types_test.go
  pkg/api/v1alpha1/vspheremachineconfig_types.go
  pkg/api/v1alpha1/vspheremachineconfig_types_test.go
  pkg/govmomi/client.go
  pkg/govmomi/client_test.go
  pkg/govmomi/mocks/client.go
  pkg/providers/vsphere/validator.go
  pkg/providers/vsphere/validator_test.go
  pkg/providers/vsphere/vsphere.go
  pkg/providers/vsphere/vsphere_test.go
Labels: approved, lgtm, size/L

#9648 Push packages helm chart to public ECR on all branches
  release/cli/pkg/bundles/package-controller.go
Labels: approved, lgtm, size/XS

#9644 Add changelog for v0.22.3
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9652 Update brew version to v0.22.3
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9671 Fix bundles override flag issue for upgrade cluster command
  cmd/eksctl-anywhere/cmd/upgradecluster.go
Labels: approved, lgtm, size/XS

#9673 [release-0.22] Trigger staging bundle release for v0.22.4
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9675 Use 1.28 kubernetes version for docker upgrade from latest tests
  test/e2e/docker_test.go
  test/e2e/upgrade_from_latest.go
Labels: approved, lgtm, size/XS

#9680 [release-0.22] Skip vSphere and CloudStack upgrade from latest tests
  test/e2e/SKIPPED_TESTS.yaml
Labels: approved, lgtm, size/S

#9674 [release-0.22] Trigger staging cli release for v0.22.4
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9686 Add ROUTE53_SESSION_TOKEN to required envs
  test/framework/curatedpackages.go
Labels: approved, lgtm, size/XS

#9681 [release-0.22] Trigger prod bundle release for v0.22.4
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9682 [release-0.22] Trigger prod cli release for v0.22.4
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9684 Add changelog for v0.22.4
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9685 Update brew version to v0.22.4
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9683 Add boots/smee container logs to support bundle
  pkg/diagnostics/collector_types.go
  pkg/diagnostics/collectors.go
  pkg/diagnostics/collectors_test.go
  pkg/diagnostics/diagnostic_bundle.go
  pkg/diagnostics/diagnostic_bundle_test.go
  pkg/diagnostics/interfaces.go
  pkg/diagnostics/interfaces/mocks/diagnostics.go
Labels: approved, lgtm, size/L

#9698 Adding Subbu Vakati to the owners list
  OWNERS
Labels: approved, lgtm, size/XS
