Repository aws/eks-anywhere, pull requests merged in 2025-01, with the labels that each got.

#9115 Add end of standard support field to EKS-A bundle
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  release/api/v1alpha1/bundle_types.go
  release/cli/pkg/bundles/bundles.go
  release/cli/pkg/filereader/file_reader.go
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
Labels: approved, lgtm, size/S

#9122 Trigger staging bundle for release 0.21.4
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9124 Trigger stagging cli release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8299 Revert "Update README.md conformance notification"
  README.md
Labels: approved, lgtm, size/XS

#9130 Prod eksa bundle release
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9133 Prod EKS-A CLI release trigger
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9135 Adding changelog for release v0.21.4
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9137 Bumping brew to latest eksa release
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9131 For etcd metrics, specify explictily proxy steps are only for stacked etcd
  docs/content/en/docs/clustermgmt/observability/expose-metrics.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#9143 Trigger staging bundle release for EKS-A v0.20.11
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9142 add achen1210 to OWNERS
  OWNERS
Labels: approved, lgtm, ok-to-test, size/XS

#9147 Trigger staging CLI release for EKS-A v0.20.11
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9148 Removed trailing comma (,) from json
  docs/content/en/docs/osmgmt/artifacts.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#9149 Trigger production bundle release for EKS-A v0.20.11
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: lgtm, do-not-merge/hold, size/XS

#9155 [release-0.21] Backport Dependabot and licenses fixes to release-0.21
  Makefile
  go.mod
  go.sum
  release/cli/go.mod
  release/cli/go.sum
  scripts/common.sh
  scripts/make_attribution.sh
Labels: approved, lgtm, size/L

#9157 [release-0.20] Backport Dependabot and licenses fixes to release-0.20
  Makefile
  go.mod
  go.sum
  release/cli/go.mod
  release/cli/go.sum
  scripts/common.sh
  scripts/make_attribution.sh
Labels: approved, lgtm, size/L

#9159 Add changelog for EKS-A v0.20.11
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9160 Add changelog for EKS-A v0.20.11, re-order 0.20 releases
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#9161 Bump Homebrew release version to v0.20.11
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#8492 doc: update Cilium validation
  docs/content/en/docs/clustermgmt/networking/networking-and-security.md
Labels: approved, lgtm, size/M, area/docs, documentation

#9132 Add feature flag for K8s 1.32
  pkg/api/v1alpha1/cluster_types.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/validations/cluster.go
  pkg/validations/cluster_test.go
  pkg/validations/createvalidations/preflightvalidations.go
  pkg/validations/upgradevalidations/preflightvalidations.go
  test/framework/cluster.go
Labels: approved, lgtm, size/M

#9181 Trigger staging bundle for v0.21.5
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9182 Trigger staging release for v0.21.5
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9185 Ensure Kubernetes version is always parsed as string
  pkg/api/v1alpha1/cluster.go
  pkg/api/v1alpha1/testdata/cluster_1_20.yaml
  pkg/api/v1alpha1/testdata/cluster_1_20_cloudstack.yaml
  pkg/api/v1alpha1/testdata/cluster_1_20_namespace_mismatch_between_cluster_and_datacenter.yaml
  pkg/api/v1alpha1/testdata/cluster_1_20_namespace_mismatch_between_cluster_and_machineconfigs.yaml
  pkg/api/v1alpha1/testdata/cluster_1_20_with_non_eksa_resources.yaml
  pkg/api/v1alpha1/testdata/cluster_invalid_cluster_name.yaml
  pkg/api/v1alpha1/testdata/cluster_invalid_worker_node_count.yaml
  pkg/api/v1alpha1/testdata/cluster_package_configuration.yaml
  pkg/api/v1alpha1/testdata/incorrect_indentation.yaml
  pkg/cluster/config_manager.go
  pkg/cluster/testdata/cluster_1_19.yaml
  pkg/cluster/testdata/cluster_1_20_cloudstack.yaml
  pkg/cluster/testdata/cluster_cloudstack_missing_datacenter.yaml
  pkg/cluster/testdata/docker_cluster_oidc_awsiam_flux.yaml
  pkg/dependencies/testdata/cluster_tinkerbell.yaml
  pkg/providers/cloudstack/testdata/cluster_main_worker_node_group_kubernetes_version.yaml
  pkg/providers/nutanix/testdata/eksa-cluster-external-etcd-k8s-1-20.yaml
  pkg/providers/tinkerbell/testdata/cluster_tinkerbell_worker_version.yaml
  pkg/utils/yaml/yaml.go
  pkg/utils/yaml/yaml_test.go
  pkg/yamlutil/parser.go
  pkg/yamlutil/parser_test.go
  release/cli/pkg/assets/archives/archives.go
  release/cli/pkg/assets/assets.go
  release/cli/pkg/bundles/bundles.go
Labels: approved, lgtm, size/L

#9183 Trigger prod bundle for v0.21.5
  release/triggers/bundle-release/production/BUNDLE_NUMBER
  release/triggers/bundle-release/production/CLI_MAX_VERSION
  release/triggers/bundle-release/production/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9191 Trigger v0.21.5 prod release
  release/triggers/eks-a-release/production/RELEASE_NUMBER
  release/triggers/eks-a-release/production/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9150 Sign bundle manifest excluding certain fields and add the signature as an annotation
  .golangci.yml
  release/api/v1alpha1/artifact_types.go
  release/api/v1alpha1/artifacts.go
  release/api/v1alpha1/artifacts_test.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/bundle_types_test.go
  release/api/v1alpha1/eksarelease.go
  release/api/v1alpha1/release_types.go
  release/cli/cmd/release.go
  release/cli/go.mod
  release/cli/go.sum
  release/cli/pkg/clients/clients.go
  release/cli/pkg/constants/constants.go
  release/cli/pkg/images/images.go
  release/cli/pkg/operations/bundle_release.go
  release/cli/pkg/signature/manifest.go
  release/cli/pkg/signature/manifest_test.go
Labels: approved, lgtm, size/XL

#9175 Document the need to use quotes around Kubernetes version
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/snow/snow-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
  docs/content/en/docs/troubleshooting/troubleshooting.md
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#9197 Fix documentation for worker nodegroup Kubernetes version
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/snow/snow-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9198 Remove duplicated line in Kubernetes version docs
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/snow/snow-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#9199 Document the need to use quotes around Kubernetes version
  docs/content/en/docs/getting-started/baremetal/bare-spec.md
  docs/content/en/docs/getting-started/cloudstack/cloud-spec.md
  docs/content/en/docs/getting-started/nutanix/nutanix-spec.md
  docs/content/en/docs/getting-started/snow/snow-spec.md
  docs/content/en/docs/getting-started/vsphere/vsphere-spec.md
  docs/content/en/docs/troubleshooting/troubleshooting.md
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#9200 Add changelog for v0.21.5, fix BR version and re-order 0.20.x releases
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#9201 Add changelog for v0.21.5 and fix BR versions
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/M, area/docs, documentation

#9202 Bump Homebrew release version to v0.21.5
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9205 Add Hook ISO image to eksa bundles
  config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  config/manifest/eksa-components.yaml
  pkg/providers/tinkerbell/stack/stack_test.go
  release/api/v1alpha1/bundle_types.go
  release/api/v1alpha1/zz_generated.deepcopy.go
  release/cli/pkg/assets/config/bundle_release.go
  release/cli/pkg/bundles/tinkerbell.go
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
  release/config/crd/bases/anywhere.eks.amazonaws.com_bundles.yaml
  release/config/crd/bases/anywhere.eks.amazonaws.com_eksareleases.yaml
  release/config/crd/bases/anywhere.eks.amazonaws.com_releases.yaml
Labels: approved, lgtm, size/L

#9211 Trigger v0.21.6 staging bundle release
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9212 Trigger v0.21.6 staging cli release
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9214 Remove tunnel from cilium template
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
  pkg/networking/cilium/testdata/cilium_manifest.yaml
Labels: approved, lgtm, size/S
