Repository aws/eks-anywhere, pull requests merged in 2025-07, with the labels that each got.

#9844 stops cilium operator from blocking draining of nodes
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
Labels: approved, lgtm, size/L

#9880 Fix hardware application sequence in Tinkerbell upgrade flow
  pkg/providers/cloudstack/cloudstack.go
  pkg/providers/docker/docker.go
  pkg/providers/mocks/providers.go
  pkg/providers/nutanix/provider.go
  pkg/providers/nutanix/provider_test.go
  pkg/providers/provider.go
  pkg/providers/snow/snow.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/tinkerbell/upgrade_test.go
  pkg/providers/vsphere/vsphere.go
Labels: approved, lgtm, size/L

#9878 doc fixes for packages copy into airgapped registry
  docs/content/en/docs/getting-started/airgapped/airgap-steps.md
  docs/content/en/docs/getting-started/optional/registrymirror.md
  docs/content/en/docs/packages/prereq.md
Labels: approved, lgtm, size/M, area/docs, documentation

#9887 Fix wrong k8s version in some 1.33 tests template
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/XS

#9883 Update doc on monitoring cluster certificates using ClusterCertificateInfo field
  docs/content/en/docs/clustermgmt/certificate-management/manual-steps-renew-certs.md
  docs/content/en/docs/clustermgmt/certificate-management/monitoring-certificates.md
  docs/content/en/docs/clustermgmt/certificate-management/script-renew-certs.md
Labels: approved, lgtm, size/M, area/docs, documentation

#9782 Bottlerocket Certificate Renewal Implementation (Part 3 of the certificate renewal command feature)
  pkg/certificates/renewerbottlerocket.go
Labels: approved, lgtm, needs-ok-to-test, size/L

#9891 Reduce vSphere e2e test counts - Phase 1
  test/e2e/vsphere_test.go
Labels: approved, lgtm, size/XL, area/docs, documentation

#9896 update in ubuntu
  pkg/certificates/os.go
  pkg/certificates/renewer.go
  pkg/certificates/renewerubuntu.go
Labels: approved, lgtm, needs-ok-to-test, size/L

#9910 Update installation docs to specify supported yq version
  docs/content/en/docs/getting-started/install/_index.md
Labels: approved, lgtm, size/XS, area/docs, documentation

#9923 Rename tinkerbell hub to actions
  docs/content/en/docs/getting-started/baremetal/customize/bare-custom-hookos.md
  docs/content/en/docs/getting-started/baremetal/tinkerbell-overview.md
  examples/tinkerbell/adding-a-user-to-tinkerbelltemplateconfiguration.md
  internal/test/testdata/bundles.yaml
  release/cli/pkg/assets/config/bundle_release.go
  release/cli/pkg/operations/testdata/main-bundle-release.yaml
Labels: approved, lgtm, size/XXL, area/docs, documentation

#9922 Test custom TinkerbellTemplateConfig in e2e (#9909)
  internal/pkg/api/tinkerbell.go
  test/e2e/TINKERBELL_HARDWARE_COUNT.yaml
  test/e2e/tinkerbell_test.go
  test/framework/testdata/tinkerbell/custom_config.yaml
  test/framework/tinkerbell.go
  test/framework/tinkerbell_template_config.go
Labels: approved, lgtm, size/L

#9919 Trigger staging bundle for patch release v0.22.7
  release/triggers/bundle-release/development/BUNDLE_NUMBER
  release/triggers/bundle-release/development/CLI_MAX_VERSION
  release/triggers/bundle-release/development/CLI_MIN_VERSION
Labels: approved, lgtm, size/XS

#9924 Trigger staging cli for patch release v0.22.7
  release/triggers/eks-a-release/development/RELEASE_NUMBER
  release/triggers/eks-a-release/development/RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9907 Fetch Control-Plane and etcd IPs for certificates renewal when API server is reachable
  cmd/eksctl-anywhere/cmd/renewcertificates.go
  pkg/certificates/config.go
Labels: approved, lgtm, needs-ok-to-test, size/L

#9928 Update docs for v0.23 support lifecycle
  docs/data/version_support.yml
Labels: approved, lgtm, size/S, area/docs, documentation

#9930 Add hardware management and spare nodes section to baremetal docs
  docs/content/en/docs/getting-started/baremetal/bare-preparation.md
Labels: approved, lgtm, size/M, area/docs, documentation

#9939 Add certificates component renewal and improve OS interface readability
  pkg/certificates/os.go
  pkg/certificates/renewer.go
  pkg/certificates/renewer_test.go
  pkg/certificates/renewerbottlerocket.go
  pkg/certificates/renewerubuntu.go
  pkg/certificates/ssh.go
Labels: approved, lgtm, needs-ok-to-test, size/L

#9944 Add changelog for patch release v0.22.7
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9947 [release-0.22] Add changelog for patch release v0.22.7 (#9944)
  docs/content/en/docs/whatsnew/changelog.md
Labels: approved, lgtm, size/S, area/docs, documentation

#9948 [release-0.22] Update brew version for v0.22.7
  release/triggers/brew-version-release/CLI_RELEASE_VERSION
Labels: approved, lgtm, size/XS

#9946 Add unit tests for bottlerocket/ubuntu/config/os
  pkg/certificates/config_test.go
  pkg/certificates/os_test.go
  pkg/certificates/renewerbottlerocket_test.go
  pkg/certificates/renewerubuntu_test.go
Labels: approved, lgtm, ok-to-test, size/XXL

#9902 Support external cni
  config/crd/bases/anywhere.eks.amazonaws.com_clusters.yaml
  config/manifest/eksa-components.yaml
  pkg/api/v1alpha1/cluster_types.go
  pkg/api/v1alpha1/cluster_types_test.go
  pkg/api/v1alpha1/zz_generated.deepcopy.go
  pkg/networking/cilium/templater.go
  pkg/networking/cilium/templater_test.go
  pkg/networking/cilium/upgrade_plan.go
  pkg/networking/cilium/upgrade_plan_test.go
Labels: approved, lgtm, size/XL

#9905 Fix workload cluster aws.kubeconfig file
  cmd/eksctl-anywhere/cmd/createcluster.go
  pkg/awsiamauth/hook.go
  pkg/awsiamauth/installer.go
  pkg/awsiamauth/installer_test.go
  pkg/dependencies/factory.go
  pkg/features/features.go
Labels: approved, lgtm, size/XL

#9954 [release-0.22] Fix workload cluster aws.kubeconfig file (#9905)
  cmd/eksctl-anywhere/cmd/createcluster.go
  pkg/awsiamauth/hook.go
  pkg/awsiamauth/installer.go
  pkg/awsiamauth/installer_test.go
  pkg/dependencies/factory.go
  pkg/features/features.go
Labels: approved, lgtm, size/XL

#9897 Allow aws iam config mutation for an existing cluster
  config/manifest/eksa-components.yaml
  config/rbac/role.yaml
  controllers/cluster_controller.go
  controllers/cluster_controller_test_test.go
  controllers/mocks/cluster_controller.go
  pkg/api/v1alpha1/cluster_webhook.go
  pkg/api/v1alpha1/cluster_webhook_test.go
  pkg/awsiamauth/installer.go
  pkg/awsiamauth/installer_test.go
  pkg/awsiamauth/reconciler/reconciler.go
  pkg/awsiamauth/reconciler/reconciler_test.go
  pkg/controller/serverside/reconcile.go
  pkg/controller/serverside/reconcile_test.go
  pkg/filewriter/filewriter.go
  pkg/filewriter/mocks/filewriter.go
  pkg/filewriter/writer.go
  pkg/filewriter/writer_test.go
  pkg/validations/upgradevalidations/immutable_fields.go
  pkg/validations/upgradevalidations/immutable_fields_test.go
  pkg/workflows/interfaces/interfaces.go
  pkg/workflows/interfaces/mocks/clients.go
  pkg/workflows/management/write_cluster_config.go
  pkg/workflows/workload/upgrade_test.go
  pkg/workflows/workload/writeclusterconfig.go
Labels: approved, lgtm, size/XXL
