Repository aws/eks-anywhere, pull requests merged in 2025-10, with the labels that each got.

#10163 Add VLAN tagging support and static network configuration for Tinkerbell workflows
  go.mod
  go.sum
  internal/test/envtest/environment.go
  manager/main.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults.go
  pkg/api/v1alpha1/tinkerbelltemplateconfig_defaults_test.go
  pkg/executables/kubectl.go
  pkg/executables/kubectl_test.go
  pkg/providers/tinkerbell/assert_test.go
  pkg/providers/tinkerbell/hardware/catalogue.go
  pkg/providers/tinkerbell/hardware/catalogue_hardware.go
  pkg/providers/tinkerbell/hardware/catalogue_hardware_test.go
  pkg/providers/tinkerbell/hardware/kubereader.go
  pkg/providers/tinkerbell/hardware/kubereader_test.go
  pkg/providers/tinkerbell/hardware/yaml_test.go
  pkg/providers/tinkerbell/mocks/client.go
  pkg/providers/tinkerbell/reconciler/reconciler_test.go
  pkg/providers/tinkerbell/testdata/expected_kcp_with_hook_iso_boot.yaml
  pkg/providers/tinkerbell/testdata/expected_kcp_with_hook_iso_boot_bootstrap.yaml
  pkg/providers/tinkerbell/testdata/expected_kct.yaml
  pkg/providers/tinkerbell/testdata/expected_md_with_hook_iso_boot.yaml
  pkg/providers/tinkerbell/testdata/expected_md_with_hook_iso_boot_bootstrap.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node_in_place.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_cp_single_node_skip_lb.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cluster_tinkerbell_disable_kube_vip.yaml
  pkg/providers/tinkerbell/testdata/expected_results_cp_template.yaml
  pkg/providers/tinkerbell/testdata/expected_results_md_template.yaml
  pkg/providers/tinkerbell/testdata/expected_results_ubuntu_ntp_config_cp.yaml
  pkg/providers/tinkerbell/testdata/expected_results_ubuntu_ntp_config_md.yaml
  pkg/providers/tinkerbell/tinkerbell.go
  pkg/providers/tinkerbell/tinkerbell_test.go
  pkg/providers/tinkerbell/upgrade.go
  pkg/providers/tinkerbell/upgrade_test.go
  pkg/providers/tinkerbell/validate.go
Labels: approved, lgtm, size/XL

#10165 Add retry logic to helm chart push operations to handle rate limiting errors
  release/cli/pkg/helm/helm.go
  release/cli/pkg/images/images.go
Labels: approved, lgtm, size/M

#10168 Fix dev release job failures
  release/cli/pkg/helm/helm.go
Labels: approved, size/M

#10172 Fix cert-manager tests by ensuring certificate cleanup on failure
  test/e2e/certmanager.go
Labels: approved, lgtm, size/XS
